Repository ethereum-optimism/optimism, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ethereum-optimism/go-reviewers, @ethereum-optimism/op-stack, @ethereum-optimism/consensus, @ethereum-optimism/interop, @ethereum-optimism/op-conductor, @ethereum-optimism/proofs, @ethereum-optimism/monorepo-ops-reviewers, @ethereum-optimism/contract-reviewers

.github/CODEOWNERS:

# Monorepo - default to go-reviewers
* @ethereum-optimism/go-reviewers

# OP Stack general
/bedrock-devnet @ethereum-optimism/op-stack @ethereum-optimism/go-reviewers
/op-alt-da      @ethereum-optimism/op-stack @ethereum-optimism/go-reviewers
/op-batcher     @ethereum-optimism/op-stack @ethereum-optimism/go-reviewers
/op-chain-ops   @ethereum-optimism/op-stack @ethereum-optimism/go-reviewers
/op-e2e         @ethereum-optimism/op-stack @ethereum-optimism/go-reviewers
/op-node        @ethereum-optimism/op-stack @ethereum-optimism/go-reviewers
/op-proposer    @ethereum-optimism/op-stack @ethereum-optimism/go-reviewers
/op-wheel       @ethereum-optimism/op-stack @ethereum-optimism/go-reviewers
/ops-bedrock    @ethereum-optimism/op-stack @ethereum-optimism/go-reviewers

# Expert areas
/op-node/rollup @ethereum-optimism/consensus @ethereum-optimism/go-reviewers

/op-supervisor  @ethereum-optimism/interop @ethereum-optimism/go-reviewers

/op-conductor   @ethereum-optimism/op-conductor @ethereum-optimism/go-reviewers

/cannon                @ethereum-optimism/proofs @ethereum-optimism/go-reviewers
/op-challenger         @ethereum-optimism/proofs @ethereum-optimism/go-reviewers
/op-dispute-mon        @ethereum-optimism/proofs @ethereum-optimism/go-reviewers
/op-preimage           @ethereum-optimism/proofs @ethereum-optimism/go-reviewers
/op-program            @ethereum-optimism/proofs @ethereum-optimism/go-reviewers
/op-e2e/actions/proofs @ethereum-optimism/proofs @ethereum-optimism/go-reviewers
/op-e2e/faultproofs    @ethereum-optimism/proofs @ethereum-optimism/go-reviewers

# Ops
/.circleci       @ethereum-optimism/monorepo-ops-reviewers
/.github         @ethereum-optimism/monorepo-ops-reviewers
/ops             @ethereum-optimism/monorepo-ops-reviewers
/docker-bake.hcl @ethereum-optimism/monorepo-ops-reviewers

# Contracts
/packages/contracts-bedrock     @ethereum-optimism/contract-reviewers

remove unused function (#12087)
  packages/contracts-bedrock/test/Predeploys.t.sol
Owners: @ethereum-optimism/contract-reviewers

op-batcher: Move decision about data availability type to channel submission time (#12002)
  op-batcher/batcher/channel.go
  op-batcher/batcher/channel_builder.go
  op-batcher/batcher/channel_config.go
  op-batcher/batcher/channel_config_provider.go
  op-batcher/batcher/channel_manager.go
  op-batcher/batcher/channel_manager_test.go
  op-batcher/batcher/channel_test.go
  op-batcher/batcher/driver.go
  op-batcher/batcher/driver_test.go
Owners: @ethereum-optimism/op-stack, @ethereum-optimism/go-reviewers

cannon: Support the --version argument for multicannon. (#12101)
  cannon/Makefile
  cannon/multicannon/main.go
  cannon/multicannon/version/version.go
  ops/docker/op-stack-go/Dockerfile
Owners: @ethereum-optimism/proofs, @ethereum-optimism/go-reviewers, @ethereum-optimism/monorepo-ops-reviewers

add comment
  bedrock-devnet/devnet/__init__.py
Owners: @ethereum-optimism/op-stack, @ethereum-optimism/go-reviewers

show log for `devnet` (#12102)
  bedrock-devnet/devnet/__init__.py
Owners: @ethereum-optimism/op-stack, @ethereum-optimism/go-reviewers

chore: add version identifer to Deployed event
  packages/contracts-bedrock/semver-lock.json
  packages/contracts-bedrock/snapshots/abi/OPStackManager.json
  packages/contracts-bedrock/snapshots/abi/OPStackManagerInterop.json
  packages/contracts-bedrock/src/L1/OPStackManager.sol
  packages/contracts-bedrock/test/L1/OPStackManager.t.sol
Owners: @ethereum-optimism/contract-reviewers

rename: OPStackManafer -> OPContractsManager (#12091)
  op-chain-ops/Makefile
  op-chain-ops/deployer/integration_test/apply_test.go
  op-chain-ops/deployer/opcm/implementations.go
  op-chain-ops/deployer/opcm/l2genesis.go
  op-chain-ops/deployer/opcm/opchain.go
  op-chain-ops/deployer/opcm/standard-versions.toml
  op-chain-ops/deployer/opcm/standard.go
  op-chain-ops/deployer/opcm/superchain.go
  op-chain-ops/deployer/pipeline/implementations.go
  op-chain-ops/deployer/pipeline/l2genesis.go
  op-chain-ops/deployer/pipeline/opchain.go
  op-chain-ops/deployer/pipeline/superchain.go
  op-chain-ops/deployer/state/state.go
  op-chain-ops/interopgen/configs.go
  op-chain-ops/interopgen/deploy.go
  op-chain-ops/interopgen/deployments.go
  op-chain-ops/interopgen/recipe.go
  packages/contracts-bedrock/scripts/DeployImplementations.s.sol
  packages/contracts-bedrock/scripts/DeployOPChain.s.sol
  packages/contracts-bedrock/scripts/DeploySuperchain.s.sol
  packages/contracts-bedrock/semver-lock.json
  packages/contracts-bedrock/snapshots/abi/OPContractsManager.json
  packages/contracts-bedrock/snapshots/abi/OPContractsManagerInterop.json
  packages/contracts-bedrock/snapshots/storageLayout/OPContractsManager.json
  packages/contracts-bedrock/snapshots/storageLayout/OPContractsManagerInterop.json
  packages/contracts-bedrock/src/L1/OPContractsManager.sol
  packages/contracts-bedrock/src/L1/OPContractsManagerInterop.sol
  packages/contracts-bedrock/test/DeployImplementations.t.sol
  packages/contracts-bedrock/test/DeployOPChain.t.sol
  packages/contracts-bedrock/test/L1/OPContractsManager.t.sol
  packages/contracts-bedrock/test/Specs.t.sol
  packages/contracts-bedrock/test/vendor/Initializable.t.sol
Owners: @ethereum-optimism/op-stack, @ethereum-optimism/go-reviewers, @ethereum-optimism/contract-reviewers

chore: emit msg.sender in Deployed event
  packages/contracts-bedrock/semver-lock.json
  packages/contracts-bedrock/snapshots/abi/OPStackManager.json
  packages/contracts-bedrock/snapshots/abi/OPStackManagerInterop.json
  packages/contracts-bedrock/src/L1/OPStackManager.sol
  packages/contracts-bedrock/test/L1/OPStackManager.t.sol
Owners: @ethereum-optimism/contract-reviewers

remove unused cannon target
  cannon/Makefile
Owners: @ethereum-optimism/proofs, @ethereum-optimism/go-reviewers

op-supervisor: logs-db empty-db edge-case fix (#12097)
  op-supervisor/supervisor/backend/db/logs/db.go
  op-supervisor/supervisor/backend/db/logs/db_test.go
Owners: @ethereum-optimism/interop, @ethereum-optimism/go-reviewers

also change the original params.MaxBlobGasPerBlock/params.BlobTxBlobGasPerBlob
  op-batcher/batcher/config.go
Owners: @ethereum-optimism/op-stack, @ethereum-optimism/go-reviewers

Fix merge issues
  op-chain-ops/deployer/integration_test/apply_test.go
  op-chain-ops/deployer/opcm/contract.go
  op-chain-ops/deployer/opcm/opchain.go
  op-chain-ops/deployer/pipeline/init.go
  op-chain-ops/deployer/pipeline/opchain.go
  op-chain-ops/deployer/state/intent.go
  packages/contracts-bedrock/test/L1/OPContractsManager.t.sol
Owners: @ethereum-optimism/op-stack, @ethereum-optimism/go-reviewers, @ethereum-optimism/contract-reviewers

test: fix specs test
  packages/contracts-bedrock/test/Specs.t.sol
Owners: @ethereum-optimism/contract-reviewers

semver-lock
  packages/contracts-bedrock/semver-lock.json
Owners: @ethereum-optimism/contract-reviewers

test: assert that default config doesn't change prematurely
  op-batcher/batcher/channel_manager_test.go
Owners: @ethereum-optimism/op-stack, @ethereum-optimism/go-reviewers

test: use a better system to ensure we are not over assessing
  op-batcher/batcher/channel_manager_test.go
Owners: @ethereum-optimism/op-stack, @ethereum-optimism/go-reviewers

return io.EOF from getReadyChannel
  op-batcher/batcher/channel_manager.go
Owners: @ethereum-optimism/op-stack, @ethereum-optimism/go-reviewers

wip: fix memory merkle root bugs
  cannon/mipsevm/memory/memory.go
Owners: @ethereum-optimism/proofs, @ethereum-optimism/go-reviewers

Multiplex engine calls to builder (flashbots/rollup-boost)
  .env.example
  Cargo.lock
  Cargo.toml
  README.md
  src/error.rs
  src/main.rs
  src/proxy.rs
  src/server.rs
Owners: @ethereum-optimism/go-reviewers

fix: renames in tests.
  packages/contracts-bedrock/test/DeployOPChain.t.sol
  packages/contracts-bedrock/test/DeploySuperchain.t.sol
Owners: @ethereum-optimism/contract-reviewers

fix: Changing the intent to contain SuperchainProxyAdminOwner instead of just ProxyAdminOwner
  op-chain-ops/interopgen/configs.go
  op-chain-ops/interopgen/deploy.go
  op-chain-ops/interopgen/recipe.go
Owners: @ethereum-optimism/op-stack, @ethereum-optimism/go-reviewers

rename: proxyAdminOwner -> superchainProxyAdminOwner
  packages/contracts-bedrock/scripts/DeploySuperchain.s.sol
Owners: @ethereum-optimism/contract-reviewers

fix: renaming in go code.
  op-chain-ops/deployer/opcm/superchain.go
  op-chain-ops/deployer/pipeline/superchain.go
  op-chain-ops/interopgen/deploy.go
Owners: @ethereum-optimism/op-stack, @ethereum-optimism/go-reviewers

feat: add superchain erc20 bridge (#61)
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/scripts/Artifacts.s.sol
  packages/contracts-bedrock/scripts/L2Genesis.s.sol
  packages/contracts-bedrock/semver-lock.json
  packages/contracts-bedrock/snapshots/abi/SuperchainERC20Bridge.json
  packages/contracts-bedrock/snapshots/storageLayout/SuperchainERC20Bridge.json
  packages/contracts-bedrock/src/L2/L2StandardBridgeInterop.sol
  packages/contracts-bedrock/src/L2/SuperchainERC20Bridge.sol
  packages/contracts-bedrock/src/L2/interfaces/IMintableAndBurnableERC20.sol
  packages/contracts-bedrock/src/L2/interfaces/ISuperchainERC20Bridge.sol
  packages/contracts-bedrock/src/libraries/Predeploys.sol
  packages/contracts-bedrock/test/L2Genesis.t.sol
  packages/contracts-bedrock/test/Predeploys.t.sol
  packages/contracts-bedrock/test/setup/Setup.sol
Owners: @ethereum-optimism/contract-reviewers

op-batcher: prevent over-assessment of DA type (#12115)
  op-batcher/batcher/channel_manager.go
  op-batcher/batcher/channel_manager_test.go
Owners: @ethereum-optimism/op-stack, @ethereum-optimism/go-reviewers

op-supervisor: supervisor-head-pointers squashed
  op-supervisor/supervisor/backend/backend.go
  op-supervisor/supervisor/backend/db/db.go
  op-supervisor/supervisor/backend/db/db_test.go
  op-supervisor/supervisor/backend/db/heads/heads.go
  op-supervisor/supervisor/backend/db/heads/heads_test.go
  op-supervisor/supervisor/backend/db/heads/types.go
  op-supervisor/supervisor/backend/db/heads/types_test.go
  op-supervisor/supervisor/backend/db/logs/db.go
  op-supervisor/supervisor/backend/db/safety_checkers.go
  op-supervisor/supervisor/backend/db/safety_checkers_test.go
  op-supervisor/supervisor/backend/source/chain.go
  op-supervisor/supervisor/backend/source/chain_processor.go
  op-supervisor/supervisor/backend/source/chain_processor_test.go
  op-supervisor/supervisor/backend/source/fetch_logs.go
  op-supervisor/supervisor/backend/source/fetch_logs_test.go
  op-supervisor/supervisor/backend/source/head_processor.go
  op-supervisor/supervisor/backend/source/head_processor_test.go
  op-supervisor/supervisor/types/types.go
Owners: @ethereum-optimism/interop, @ethereum-optimism/go-reviewers

fix: reverting last change
  op-chain-ops/interopgen/configs.go
  op-chain-ops/interopgen/deploy.go
  op-chain-ops/interopgen/recipe.go
Owners: @ethereum-optimism/op-stack, @ethereum-optimism/go-reviewers

chore: rename isthmus to interop on golang files
  op-node/rollup/derive/attributes_test.go
  op-node/rollup/derive/fuzz_parsers_test.go
  op-node/rollup/derive/l1_block_info.go
  op-node/rollup/derive/l1_block_info_test.go
Owners: @ethereum-optimism/consensus, @ethereum-optimism/go-reviewers

rename: proxyAdminOwner -> superchainProxyAdminOwner (#12106)
  op-chain-ops/deployer/opcm/superchain.go
  op-chain-ops/deployer/pipeline/superchain.go
  op-chain-ops/interopgen/deploy.go
  packages/contracts-bedrock/scripts/DeploySuperchain.s.sol
  packages/contracts-bedrock/test/DeployOPChain.t.sol
  packages/contracts-bedrock/test/DeploySuperchain.t.sol
Owners: @ethereum-optimism/op-stack, @ethereum-optimism/go-reviewers, @ethereum-optimism/contract-reviewers

Update README.md
  op-preimage/README.md
Owners: @ethereum-optimism/proofs, @ethereum-optimism/go-reviewers

code review updates
  op-chain-ops/deployer/broadcaster/broadcaster.go
  op-chain-ops/deployer/broadcaster/discard.go
  op-chain-ops/deployer/broadcaster/keyed.go
  op-chain-ops/deployer/opcm/opchain.go
  op-chain-ops/deployer/pipeline/init.go
  op-chain-ops/deployer/pipeline/opchain.go
Owners: @ethereum-optimism/op-stack, @ethereum-optimism/go-reviewers

Add support for pre-existing OPSM (#12099)
  op-chain-ops/deployer/broadcaster/keyed.go
  op-chain-ops/deployer/init.go
  op-chain-ops/deployer/integration_test/apply_test.go
  op-chain-ops/deployer/opcm/contract.go
  op-chain-ops/deployer/opcm/opchain.go
  op-chain-ops/deployer/pipeline/init.go
  op-chain-ops/deployer/pipeline/opchain.go
  op-chain-ops/deployer/state/intent.go
  packages/contracts-bedrock/semver-lock.json
  packages/contracts-bedrock/snapshots/abi/OPContractsManager.json
  packages/contracts-bedrock/snapshots/abi/OPContractsManagerInterop.json
  packages/contracts-bedrock/src/L1/OPContractsManager.sol
  packages/contracts-bedrock/test/L1/OPContractsManager.t.sol
  packages/contracts-bedrock/test/Specs.t.sol
Owners: @ethereum-optimism/op-stack, @ethereum-optimism/go-reviewers, @ethereum-optimism/contract-reviewers

feat(opcm): Update comment about what gets deployed where
  packages/contracts-bedrock/scripts/DeployImplementations.s.sol
Owners: @ethereum-optimism/contract-reviewers

fix: OPCM additional safety checks
  packages/contracts-bedrock/scripts/DeployOPChain.s.sol
  packages/contracts-bedrock/test/DeployOPChain.t.sol
Owners: @ethereum-optimism/contract-reviewers

test(deploy): Add note clarifying MCP readiness of DelayedWeths and Portal2
  packages/contracts-bedrock/scripts/DeployImplementations.s.sol
Owners: @ethereum-optimism/contract-reviewers

fix: OPCM additional safety checks (#12107)
  packages/contracts-bedrock/scripts/DeployOPChain.s.sol
  packages/contracts-bedrock/test/DeployOPChain.t.sol
Owners: @ethereum-optimism/contract-reviewers

chore: rename isthmus to interop on solidity files
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/scripts/L2Genesis.s.sol
  packages/contracts-bedrock/semver-lock.json
  packages/contracts-bedrock/snapshots/abi/L1BlockInterop.json
  packages/contracts-bedrock/snapshots/storageLayout/L1BlockInterop.json
  packages/contracts-bedrock/src/L1/OptimismPortalInterop.sol
  packages/contracts-bedrock/src/L1/SystemConfigInterop.sol
  packages/contracts-bedrock/src/L1/interfaces/IOptimismPortalInterop.sol
  packages/contracts-bedrock/src/L2/CrossL2Inbox.sol
  packages/contracts-bedrock/src/L2/L1BlockInterop.sol
  packages/contracts-bedrock/src/L2/interfaces/IL1BlockInterop.sol
  packages/contracts-bedrock/src/libraries/Encoding.sol
  packages/contracts-bedrock/test/BenchmarkTest.t.sol
  packages/contracts-bedrock/test/L1/OptimismPortalInterop.t.sol
  packages/contracts-bedrock/test/L1/SystemConfigInterop.t.sol
  packages/contracts-bedrock/test/L2/CrossL2Inbox.t.sol
  packages/contracts-bedrock/test/L2/L1BlockIsthmus.t.sol
Owners: @ethereum-optimism/contract-reviewers

chore: rename test file
  packages/contracts-bedrock/test/L2/L1BlockInterop.t.sol
Owners: @ethereum-optimism/contract-reviewers

feat(opcm): Update comment about what gets deployed where (#12128)
  packages/contracts-bedrock/scripts/DeployImplementations.s.sol
Owners: @ethereum-optimism/contract-reviewers

use deterministic seed for test data
  op-batcher/batcher/channel_manager_test.go
Owners: @ethereum-optimism/op-stack, @ethereum-optimism/go-reviewers
