Repository ethereum-optimism/optimism, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ethereum-optimism/go-reviewers, @ethereum-optimism/op-stack, @ethereum-optimism/consensus, @ethereum-optimism/interop, @ethereum-optimism/op-conductor, @ethereum-optimism/proofs, @ethereum-optimism/monorepo-ops-reviewers, @ethereum-optimism/contract-reviewers

.github/CODEOWNERS:

# Monorepo - default to go-reviewers
* @ethereum-optimism/go-reviewers

# OP Stack general
/bedrock-devnet @ethereum-optimism/op-stack @ethereum-optimism/go-reviewers
/op-alt-da      @ethereum-optimism/op-stack @ethereum-optimism/go-reviewers
/op-batcher     @ethereum-optimism/op-stack @ethereum-optimism/go-reviewers
/op-chain-ops   @ethereum-optimism/op-stack @ethereum-optimism/go-reviewers
/op-e2e         @ethereum-optimism/op-stack @ethereum-optimism/go-reviewers
/op-node        @ethereum-optimism/op-stack @ethereum-optimism/go-reviewers
/op-proposer    @ethereum-optimism/op-stack @ethereum-optimism/go-reviewers
/op-wheel       @ethereum-optimism/op-stack @ethereum-optimism/go-reviewers
/ops-bedrock    @ethereum-optimism/op-stack @ethereum-optimism/go-reviewers

# Expert areas
/op-node/rollup @ethereum-optimism/consensus @ethereum-optimism/go-reviewers

/op-supervisor  @ethereum-optimism/interop @ethereum-optimism/go-reviewers

/op-conductor   @ethereum-optimism/op-conductor @ethereum-optimism/go-reviewers

/cannon                @ethereum-optimism/proofs @ethereum-optimism/go-reviewers
/op-challenger         @ethereum-optimism/proofs @ethereum-optimism/go-reviewers
/op-dispute-mon        @ethereum-optimism/proofs @ethereum-optimism/go-reviewers
/op-preimage           @ethereum-optimism/proofs @ethereum-optimism/go-reviewers
/op-program            @ethereum-optimism/proofs @ethereum-optimism/go-reviewers
/op-e2e/actions/proofs @ethereum-optimism/proofs @ethereum-optimism/go-reviewers
/op-e2e/faultproofs    @ethereum-optimism/proofs @ethereum-optimism/go-reviewers

# Ops
/.circleci       @ethereum-optimism/monorepo-ops-reviewers
/.github         @ethereum-optimism/monorepo-ops-reviewers
/ops             @ethereum-optimism/monorepo-ops-reviewers
/docker-bake.hcl @ethereum-optimism/monorepo-ops-reviewers

# Contracts
/packages/contracts-bedrock     @ethereum-optimism/contract-reviewers

uncomment skipped guard
  op-supervisor/supervisor/backend/db/logs/state.go
Owners: @ethereum-optimism/interop, @ethereum-optimism/go-reviewers

op-node/rollup/sequencing: Fix temporary engine error handling
  op-node/rollup/sequencing/sequencer.go
Owners: @ethereum-optimism/consensus, @ethereum-optimism/go-reviewers

use queue.PeekN and queue.DequeueN
  op-batcher/batcher/channel_manager.go
  op-service/queue/queue.go
  op-service/queue/queue_test.go
Owners: @ethereum-optimism/op-stack, @ethereum-optimism/go-reviewers

run anvil as part of unit not integration tests
  .circleci/config.yml
Owners: @ethereum-optimism/monorepo-ops-reviewers

simplify
  .circleci/config.yml
  op-chain-ops/deployer/integration_test/apply_test.go
Owners: @ethereum-optimism/monorepo-ops-reviewers, @ethereum-optimism/op-stack, @ethereum-optimism/go-reviewers

remove foundry from kurtosis
  .circleci/config.yml
Owners: @ethereum-optimism/monorepo-ops-reviewers

use auto mine
  op-service/testutils/anvil/anvil.go
Owners: @ethereum-optimism/go-reviewers

typo
  op-service/queue/queue.go
Owners: @ethereum-optimism/go-reviewers

queue: simplify method implementations
  op-service/queue/queue.go
Owners: @ethereum-optimism/go-reviewers

mount artifacts
  .circleci/config.yml
Owners: @ethereum-optimism/monorepo-ops-reviewers

revert to old dequeue impl
  op-service/queue/queue.go
Owners: @ethereum-optimism/go-reviewers

add more test cases
  op-service/queue/queue_test.go
Owners: @ethereum-optimism/go-reviewers

batcher: use Queue type for blocks
  op-batcher/batcher/channel_manager.go
  op-batcher/batcher/channel_manager_test.go
Owners: @ethereum-optimism/op-stack, @ethereum-optimism/go-reviewers

add godoc
  op-service/queue/queue.go
Owners: @ethereum-optimism/go-reviewers

ensure enqueue and prepend are noops when args is empty
  op-service/queue/queue.go
Owners: @ethereum-optimism/go-reviewers

queue: add unit tests
  op-service/queue/queue_test.go
Owners: @ethereum-optimism/go-reviewers

op-service: add queue package
  op-service/queue/queue.go
Owners: @ethereum-optimism/go-reviewers

clear channel manager state on channel timeout
  op-batcher/batcher/channel.go
  op-batcher/batcher/channel_manager.go
Owners: @ethereum-optimism/op-stack, @ethereum-optimism/go-reviewers

revert changes to errors.As/Is
  op-batcher/batcher/channel_manager.go
  op-batcher/batcher/channel_manager_test.go
Owners: @ethereum-optimism/op-stack, @ethereum-optimism/go-reviewers

implement and use Peek operation
  op-batcher/batcher/channel_manager.go
  op-service/queue/queue.go
Owners: @ethereum-optimism/op-stack, @ethereum-optimism/go-reviewers

simplify Requeue method
  op-batcher/batcher/channel_manager.go
  op-batcher/batcher/channel_manager_test.go
Owners: @ethereum-optimism/op-stack, @ethereum-optimism/go-reviewers

batcher: use abstract Queue type for blocks state (#12180)
  op-batcher/batcher/channel_manager.go
  op-batcher/batcher/channel_manager_test.go
  op-service/queue/queue.go
  op-service/queue/queue_test.go
Owners: @ethereum-optimism/op-stack, @ethereum-optimism/go-reviewers

cannon: Define 64-bit syscalls (#12256)
  cannon/mipsevm/arch/arch32.go
  cannon/mipsevm/arch/arch64.go
  cannon/mipsevm/exec/mips_syscalls.go
  cannon/mipsevm/multithreaded/instrumented_test.go
  cannon/mipsevm/multithreaded/mips.go
  cannon/mipsevm/singlethreaded/mips.go
  cannon/mipsevm/tests/evm_common_test.go
  cannon/mipsevm/tests/evm_multithreaded_test.go
  cannon/mipsevm/tests/evm_singlethreaded_test.go
  cannon/mipsevm/tests/fuzz_evm_common_test.go
  cannon/mipsevm/tests/fuzz_evm_multithreaded_test.go
  cannon/mipsevm/tests/fuzz_evm_singlethreaded_test.go
  packages/contracts-bedrock/semver-lock.json
  packages/contracts-bedrock/src/cannon/MIPS.sol
  packages/contracts-bedrock/src/cannon/MIPS2.sol
  packages/contracts-bedrock/src/cannon/libraries/MIPSSyscalls.sol
Owners: @ethereum-optimism/proofs, @ethereum-optimism/go-reviewers, @ethereum-optimism/contract-reviewers

feat: Extract deployment of pre-v1.6.0 code (#12233)
  op-chain-ops/genesis/config.go
  packages/contracts-bedrock/scripts/deploy/Deploy.s.sol
  packages/contracts-bedrock/test/L1/SystemConfig.t.sol
Owners: @ethereum-optimism/op-stack, @ethereum-optimism/go-reviewers, @ethereum-optimism/contract-reviewers

Update op-geth depdency to 1.14.10 base
  cannon/Dockerfile.diff
  cannon/mipsevm/testutil/evm.go
  cannon/testdata/example/alloc/go.mod
  cannon/testdata/example/claim/go.mod
  go.mod
  go.sum
  op-alt-da/Dockerfile
  op-chain-ops/cmd/op-simulate/main.go
  op-chain-ops/foundry/allocs_test.go
  op-chain-ops/script/script.go
  op-dispute-mon/Dockerfile
  op-e2e/actions/helpers/l1_miner.go
  op-node/rollup/derive/fuzz_parsers_test.go
  op-program/Dockerfile.repro
  op-program/README.md
  op-program/client/l2/db_test.go
  op-program/client/l2/engine_backend.go
  op-program/client/l2/engine_backend_test.go
  op-program/client/l2/engine_test.go
  op-program/client/l2/engineapi/l2_engine_api.go
  op-program/host/kvstore/local_test.go
  op-wheel/cheat/cheat.go
  ops/docker/ci-builder/Dockerfile
  ops/docker/deployment-utils/Dockerfile
  ops/docker/op-stack-go/Dockerfile
Owners: @ethereum-optimism/proofs, @ethereum-optimism/go-reviewers, @ethereum-optimism/op-stack, @ethereum-optimism/consensus, @ethereum-optimism/monorepo-ops-reviewers

fix: refactor zero check (#76)
  packages/contracts-bedrock/semver-lock.json
  packages/contracts-bedrock/snapshots/abi/OptimismSuperchainERC20.json
  packages/contracts-bedrock/snapshots/abi/SuperchainERC20Bridge.json
  packages/contracts-bedrock/src/L2/SuperchainERC20.sol
  packages/contracts-bedrock/src/L2/SuperchainERC20Bridge.sol
  packages/contracts-bedrock/src/L2/interfaces/IOptimismSuperchainERC20.sol
  packages/contracts-bedrock/src/L2/interfaces/ISuperchainERC20.sol
  packages/contracts-bedrock/src/L2/interfaces/ISuperchainERC20Bridge.sol
  packages/contracts-bedrock/test/L2/OptimismSuperchainERC20.t.sol
  packages/contracts-bedrock/test/L2/SuperchainERC20.t.sol
  packages/contracts-bedrock/test/L2/SuperchainERC20Bridge.t.sol
Owners: @ethereum-optimism/contract-reviewers

fix(ct): error in deploy script
  packages/contracts-bedrock/scripts/deploy/Deploy.s.sol
Owners: @ethereum-optimism/contract-reviewers

op-program: Increase timeout for the verify job.
  op-program/verify/verify.go
Owners: @ethereum-optimism/proofs, @ethereum-optimism/go-reviewers

Move serialize from cannon to op-service
  cannon/cmd/load_elf.go
  cannon/cmd/run.go
  cannon/mipsevm/iface.go
  cannon/mipsevm/multithreaded/state.go
  cannon/mipsevm/singlethreaded/state.go
  cannon/mipsevm/versions/detect.go
  cannon/mipsevm/versions/state.go
  cannon/mipsevm/versions/state_test.go
  op-service/serialize/binary.go
  op-service/serialize/binary_test.go
  op-service/serialize/detect.go
  op-service/serialize/detect_test.go
  op-service/serialize/reader.go
  op-service/serialize/reader_test.go
  op-service/serialize/writer.go
  op-service/serialize/writer_test.go
Owners: @ethereum-optimism/proofs, @ethereum-optimism/go-reviewers

fix(ct): error in deploy script (#12264)
  packages/contracts-bedrock/scripts/deploy/Deploy.s.sol
Owners: @ethereum-optimism/contract-reviewers

add block building health checks to sequencers
  op-node/rollup/engine/events.go
Owners: @ethereum-optimism/consensus, @ethereum-optimism/go-reviewers

op-program: Increase timeout for the verify job. (#12267)
  op-program/verify/verify.go
Owners: @ethereum-optimism/proofs, @ethereum-optimism/go-reviewers

fix: pre pr
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/scripts/ops/FeeVaultWithdrawal.s.sol
  packages/contracts-bedrock/semver-lock.json
  packages/contracts-bedrock/src/L2/interfaces/ISuperchainWETH.sol
Owners: @ethereum-optimism/contract-reviewers

Basic ExecuteMessage functionality in Supersystem
  op-e2e/interop/interop_test.go
  op-e2e/interop/supersystem.go
  op-supervisor/supervisor/backend/source/contracts/l2inbox.go
Owners: @ethereum-optimism/op-stack, @ethereum-optimism/go-reviewers, @ethereum-optimism/interop

maint(ci): add kontrol build to CI
  .circleci/config.yml
Owners: @ethereum-optimism/monorepo-ops-reviewers

chore: add new solady version and import it for erc20
  .gitmodules
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/foundry.toml
  packages/contracts-bedrock/semver-lock.json
  packages/contracts-bedrock/snapshots/abi/OptimismSuperchainERC20.json
  packages/contracts-bedrock/src/L2/OptimismSuperchainERC20.sol
  packages/contracts-bedrock/src/L2/SuperchainERC20.sol
Owners: @ethereum-optimism/go-reviewers, @ethereum-optimism/contract-reviewers

feat: Add ChainAssertions for deploySuperchain contracts
  packages/contracts-bedrock/scripts/deploy/ChainAssertions.sol
  packages/contracts-bedrock/scripts/deploy/Deploy.s.sol
Owners: @ethereum-optimism/contract-reviewers

feat: Rename setupSuperchain to deploySuperchain
  packages/contracts-bedrock/scripts/deploy/Deploy.s.sol
Owners: @ethereum-optimism/contract-reviewers

take operator fee stuff out of scalar
  op-chain-ops/cmd/ecotone-scalar/main.go
  op-chain-ops/genesis/config.go
  op-e2e/system/fees/gaspriceoracle_test.go
  op-e2e/system/fees/l1info_test.go
  op-node/rollup/derive/l1_block_info.go
  op-service/eth/types.go
  op-service/eth/types_test.go
  packages/contracts-bedrock/scripts/go-ffi/differential-testing.go
Owners: @ethereum-optimism/op-stack, @ethereum-optimism/go-reviewers, @ethereum-optimism/consensus, @ethereum-optimism/contract-reviewers

typos
  op-node/rollup/derive/system_config.go
Owners: @ethereum-optimism/consensus, @ethereum-optimism/go-reviewers
