Repository ethereum-optimism/optimism, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ethereum-optimism/go-reviewers, @ethereum-optimism/op-stack, @ethereum-optimism/consensus, @ethereum-optimism/interop, @ethereum-optimism/op-conductor, @ethereum-optimism/proofs, @ethereum-optimism/monorepo-ops-reviewers, @ethereum-optimism/contract-reviewers

.github/CODEOWNERS:

# Monorepo - default to go-reviewers
* @ethereum-optimism/go-reviewers

# OP Stack general
/bedrock-devnet @ethereum-optimism/op-stack @ethereum-optimism/go-reviewers
/op-alt-da      @ethereum-optimism/op-stack @ethereum-optimism/go-reviewers
/op-batcher     @ethereum-optimism/op-stack @ethereum-optimism/go-reviewers
/op-chain-ops   @ethereum-optimism/op-stack @ethereum-optimism/go-reviewers
/op-e2e         @ethereum-optimism/op-stack @ethereum-optimism/go-reviewers
/op-node        @ethereum-optimism/op-stack @ethereum-optimism/go-reviewers
/op-proposer    @ethereum-optimism/op-stack @ethereum-optimism/go-reviewers
/op-wheel       @ethereum-optimism/op-stack @ethereum-optimism/go-reviewers
/ops-bedrock    @ethereum-optimism/op-stack @ethereum-optimism/go-reviewers

# Expert areas
/op-node/rollup @ethereum-optimism/consensus @ethereum-optimism/go-reviewers

/op-supervisor  @ethereum-optimism/interop @ethereum-optimism/go-reviewers

/op-conductor   @ethereum-optimism/op-conductor @ethereum-optimism/go-reviewers

/cannon                @ethereum-optimism/proofs @ethereum-optimism/go-reviewers
/op-challenger         @ethereum-optimism/proofs @ethereum-optimism/go-reviewers
/op-dispute-mon        @ethereum-optimism/proofs @ethereum-optimism/go-reviewers
/op-preimage           @ethereum-optimism/proofs @ethereum-optimism/go-reviewers
/op-program            @ethereum-optimism/proofs @ethereum-optimism/go-reviewers
/op-e2e/actions/proofs @ethereum-optimism/proofs @ethereum-optimism/go-reviewers
/op-e2e/faultproofs    @ethereum-optimism/proofs @ethereum-optimism/go-reviewers

# Ops
/.circleci       @ethereum-optimism/monorepo-ops-reviewers
/.github         @ethereum-optimism/monorepo-ops-reviewers
/ops             @ethereum-optimism/monorepo-ops-reviewers
/docker-bake.hcl @ethereum-optimism/monorepo-ops-reviewers

# Contracts
/packages/contracts-bedrock     @ethereum-optimism/contract-reviewers

chore: semgrep
  packages/contracts-bedrock/src/L1/interfaces/ISystemConfig.sol
  packages/contracts-bedrock/src/L1/interfaces/ISystemConfigV160.sol
Owners: @ethereum-optimism/contract-reviewers

fix: handle different system config initializers
  packages/contracts-bedrock/scripts/DeployImplementations.s.sol
  packages/contracts-bedrock/src/L1/OPContractsManager.sol
Owners: @ethereum-optimism/contract-reviewers

chore: revert interop changes since it uses the latest systemConfig
  packages/contracts-bedrock/src/L1/OPContractsManagerInterop.sol
Owners: @ethereum-optimism/contract-reviewers

fix: Temporarily stop deploying DelayedWETHPermissionlessGameProxy (#12156)
  op-chain-ops/deployer/integration_test/apply_test.go
  packages/contracts-bedrock/scripts/DeployOPChain.s.sol
  packages/contracts-bedrock/semver-lock.json
  packages/contracts-bedrock/src/L1/OPContractsManager.sol
  packages/contracts-bedrock/test/opcm/DeployOPChain.t.sol
Owners: @ethereum-optimism/op-stack, @ethereum-optimism/go-reviewers, @ethereum-optimism/contract-reviewers

update logs
  op-node/node/conductor.go
Owners: @ethereum-optimism/op-stack, @ethereum-optimism/go-reviewers

Add method not found check
  op-conductor/conductor/service.go
  op-node/node/conductor.go
Owners: @ethereum-optimism/op-conductor, @ethereum-optimism/go-reviewers, @ethereum-optimism/op-stack

Change back to lazy initialization
  op-node/node/conductor.go
  op-node/rollup/conductor/conductor.go
  op-node/rollup/sequencing/sequencer.go
  op-node/rollup/sequencing/sequencer_test.go
Owners: @ethereum-optimism/op-stack, @ethereum-optimism/go-reviewers, @ethereum-optimism/consensus

Added conductor enabled api to op-node
  op-e2e/actions/helpers/l2_verifier.go
  op-node/node/api.go
  op-node/node/conductor.go
  op-node/node/server_test.go
  op-node/rollup/conductor/conductor.go
  op-node/rollup/driver/state.go
  op-node/rollup/sequencing/disabled.go
  op-node/rollup/sequencing/iface.go
  op-node/rollup/sequencing/sequencer.go
  op-node/rollup/sequencing/sequencer_test.go
Owners: @ethereum-optimism/op-stack, @ethereum-optimism/go-reviewers, @ethereum-optimism/consensus

op-node waits establishes connection to conductor before starting in sequencer enabled mode
  op-node/node/conductor.go
  op-node/rollup/conductor/conductor.go
  op-node/rollup/sequencing/sequencer.go
Owners: @ethereum-optimism/op-stack, @ethereum-optimism/go-reviewers, @ethereum-optimism/consensus

check node enabled conductor during conductor startup
  op-conductor/client/mocks/SequencerControl.go
  op-conductor/client/sequencer.go
  op-conductor/conductor/service.go
  op-service/sources/rollupclient.go
Owners: @ethereum-optimism/op-conductor, @ethereum-optimism/go-reviewers

fix: just pre-pr
  packages/contracts-bedrock/semver-lock.json
  packages/contracts-bedrock/src/L1/OPContractsManager.sol
Owners: @ethereum-optimism/contract-reviewers

fix: absolute prestate updated as part of assertions.
  packages/contracts-bedrock/scripts/DeployOPChain.s.sol
Owners: @ethereum-optimism/contract-reviewers

fix: Update absolute prestate
  packages/contracts-bedrock/src/L1/OPContractsManager.sol
Owners: @ethereum-optimism/contract-reviewers

chore: semver lock
  packages/contracts-bedrock/semver-lock.json
Owners: @ethereum-optimism/contract-reviewers

op-supervisor: cleanup cross-L2 safety types
  op-e2e/actions/interop/interop_test.go
  op-node/rollup/interop/interop.go
  op-node/rollup/interop/interop_test.go
  op-service/sources/supervisor_client.go
  op-supervisor/supervisor/backend/backend.go
  op-supervisor/supervisor/backend/db/safety_checkers.go
  op-supervisor/supervisor/types/types.go
Owners: @ethereum-optimism/op-stack, @ethereum-optimism/go-reviewers, @ethereum-optimism/consensus, @ethereum-optimism/interop

feat(op-conductor): implement startup handshake (#12047)
  op-conductor/client/mocks/SequencerControl.go
  op-conductor/client/sequencer.go
  op-conductor/conductor/service.go
  op-e2e/actions/helpers/l2_verifier.go
  op-node/node/api.go
  op-node/node/conductor.go
  op-node/node/server_test.go
  op-node/rollup/conductor/conductor.go
  op-node/rollup/driver/state.go
  op-node/rollup/sequencing/disabled.go
  op-node/rollup/sequencing/iface.go
  op-node/rollup/sequencing/sequencer.go
  op-node/rollup/sequencing/sequencer_test.go
  op-service/sources/rollupclient.go
Owners: @ethereum-optimism/op-conductor, @ethereum-optimism/go-reviewers, @ethereum-optimism/op-stack, @ethereum-optimism/consensus

update GasPriceOracle stuff
  op-chain-ops/cmd/ecotone-scalar/main.go
  op-chain-ops/genesis/config.go
  op-chain-ops/genesis/layer_two.go
  op-e2e/config/init.go
  op-e2e/opgeth/op_geth.go
  op-service/eth/types.go
  op-service/eth/types_test.go
  packages/contracts-bedrock/scripts/go-ffi/differential-testing.go
Owners: @ethereum-optimism/op-stack, @ethereum-optimism/go-reviewers, @ethereum-optimism/contract-reviewers

chore: semver locK
  packages/contracts-bedrock/semver-lock.json
  packages/contracts-bedrock/src/L1/OPContractsManager.sol
Owners: @ethereum-optimism/contract-reviewers

op-node: fix interop test
  op-node/rollup/interop/interop_test.go
Owners: @ethereum-optimism/consensus, @ethereum-optimism/go-reviewers

feat(opcm): Create and use new ISystemConfigV160 (#12163)
  packages/contracts-bedrock/scripts/DeployImplementations.s.sol
  packages/contracts-bedrock/semver-lock.json
  packages/contracts-bedrock/src/L1/OPContractsManager.sol
  packages/contracts-bedrock/src/L1/interfaces/ISystemConfigV160.sol
Owners: @ethereum-optimism/contract-reviewers

op-supervisor: cleanup cross-L2 safety types (#12098)
  op-e2e/actions/interop/interop_test.go
  op-node/rollup/interop/interop.go
  op-node/rollup/interop/interop_test.go
  op-service/sources/supervisor_client.go
  op-supervisor/supervisor/backend/backend.go
  op-supervisor/supervisor/backend/db/safety_checkers.go
  op-supervisor/supervisor/types/types.go
Owners: @ethereum-optimism/op-stack, @ethereum-optimism/go-reviewers, @ethereum-optimism/consensus, @ethereum-optimism/interop

setup remote docker
  .circleci/config.yml
Owners: @ethereum-optimism/monorepo-ops-reviewers

change make dir
  .circleci/config.yml
Owners: @ethereum-optimism/monorepo-ops-reviewers

chore: semver lock
  packages/contracts-bedrock/semver-lock.json
  packages/contracts-bedrock/src/L1/OPContractsManager.sol
Owners: @ethereum-optimism/contract-reviewers

fix cwd
  .circleci/config.yml
Owners: @ethereum-optimism/monorepo-ops-reviewers

fix: Update absolute prestate (#12161)
  packages/contracts-bedrock/scripts/DeployOPChain.s.sol
  packages/contracts-bedrock/semver-lock.json
  packages/contracts-bedrock/src/L1/OPContractsManager.sol
Owners: @ethereum-optimism/contract-reviewers

revert unnecessary changes, add comments
  op-chain-ops/genesis/config.go
  op-chain-ops/genesis/layer_two.go
  op-e2e/config/init.go
  op-node/rollup/derive/l1_block_info.go
  op-node/rollup/derive/l1_block_info_test.go
Owners: @ethereum-optimism/op-stack, @ethereum-optimism/go-reviewers, @ethereum-optimism/consensus

remove useless comment
  op-node/rollup/derive/l1_block_info.go
Owners: @ethereum-optimism/consensus, @ethereum-optimism/go-reviewers

fix test
  op-chain-ops/genesis/testdata/test-deploy-config-full.json
Owners: @ethereum-optimism/op-stack, @ethereum-optimism/go-reviewers

ci: Add Cannon STF verify recurring job (#12165)
  .circleci/config.yml
  cannon/Dockerfile.diff
  cannon/Makefile
Owners: @ethereum-optimism/monorepo-ops-reviewers, @ethereum-optimism/proofs, @ethereum-optimism/go-reviewers

Update CONTRIBUTING.md (#12164)
  packages/contracts-bedrock/CONTRIBUTING.md
Owners: @ethereum-optimism/contract-reviewers

Use DA /put path from spec (#12081)
  op-alt-da/daclient.go
  op-alt-da/damock.go
  op-alt-da/daserver.go
Owners: @ethereum-optimism/op-stack, @ethereum-optimism/go-reviewers

gas-snapshot: update
  packages/contracts-bedrock/.gas-snapshot
Owners: @ethereum-optimism/contract-reviewers

sent message event and l2tol2cdm relayMessage entrypoint
  packages/contracts-bedrock/semver-lock.json
  packages/contracts-bedrock/snapshots/abi/L2ToL2CrossDomainMessenger.json
  packages/contracts-bedrock/src/L2/L2ToL2CrossDomainMessenger.sol
  packages/contracts-bedrock/src/L2/interfaces/IL2ToL2CrossDomainMessenger.sol
  packages/contracts-bedrock/src/libraries/Hashing.sol
  packages/contracts-bedrock/test/L2/L2ToL2CrossDomainMessenger.t.sol
Owners: @ethereum-optimism/contract-reviewers

fix(ct): correct constructor parameters (#12158)
  packages/contracts-bedrock/scripts/deploy/Deploy.s.sol
Owners: @ethereum-optimism/contract-reviewers

Cleanups for production, add standard addresses
  op-chain-ops/cmd/op-deployer/main.go
  op-chain-ops/deployer/bootstrap/bootstrap.go
  op-chain-ops/deployer/bootstrap/flags.go
  op-chain-ops/deployer/broadcaster/keyed.go
  op-chain-ops/deployer/flags.go
  op-chain-ops/deployer/init.go
  op-chain-ops/deployer/integration_test/apply_test.go
  op-chain-ops/deployer/opcm/implementations.go
  op-chain-ops/deployer/opcm/opchain.go
  op-chain-ops/deployer/opcm/standard.go
  op-chain-ops/deployer/pipeline/implementations.go
  op-chain-ops/deployer/pipeline/init.go
  op-chain-ops/deployer/pipeline/opchain.go
  op-chain-ops/deployer/state/deploy_config.go
  op-chain-ops/deployer/state/intent.go
  op-chain-ops/deployer/state/state.go
  op-chain-ops/interopgen/deploy.go
  op-chain-ops/script/script.go
  op-service/txmgr/txmgr.go
  packages/contracts-bedrock/scripts/DeployImplementations.s.sol
  packages/contracts-bedrock/src/L1/interfaces/IL1CrossDomainMessengerV160.sol
  packages/contracts-bedrock/src/L1/interfaces/IL1StandardBridgeV160.sol
  packages/contracts-bedrock/src/L1/interfaces/ISystemConfigV160.sol
  packages/contracts-bedrock/test/opcm/DeployImplementations.t.sol
Owners: @ethereum-optimism/op-stack, @ethereum-optimism/go-reviewers, @ethereum-optimism/contract-reviewers

goimports
  op-chain-ops/cmd/op-deployer/main.go
  op-chain-ops/deployer/bootstrap/bootstrap.go
  op-chain-ops/deployer/opcm/standard.go
  op-chain-ops/deployer/pipeline/implementations.go
  op-chain-ops/deployer/pipeline/init.go
  op-chain-ops/deployer/state/intent.go
Owners: @ethereum-optimism/op-stack, @ethereum-optimism/go-reviewers

Remove devnet tests
  .circleci/config.yml
Owners: @ethereum-optimism/monorepo-ops-reviewers

lints
  op-chain-ops/deployer/broadcaster/keyed.go
  packages/contracts-bedrock/scripts/DeployImplementations.s.sol
  packages/contracts-bedrock/src/L1/interfaces/IL1CrossDomainMessengerV160.sol
  packages/contracts-bedrock/src/L1/interfaces/IL1StandardBridgeV160.sol
Owners: @ethereum-optimism/op-stack, @ethereum-optimism/go-reviewers, @ethereum-optimism/contract-reviewers

fix tests
  packages/contracts-bedrock/test/opcm/DeployOPChain.t.sol
Owners: @ethereum-optimism/contract-reviewers
