Repository ethereum-optimism/optimism, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/devxpod, @ethereum-optimism/go-reviewers, @protolambda, @ajsutton, @0x00101010, @zhwrd, @mslipper, @ethereum-optimism/monorepo-ops-reviewers, @ethereum-optimism/infra-reviewers, @ethereum-optimism/release-managers

.github/CODEOWNERS:

# Packages
/packages/contracts-bedrock     @ethereum-optimism/contract-reviewers
/packages/sdk                   @ethereum-optimism/devxpod

# Bedrock codebases
/bedrock-devnet @ethereum-optimism/go-reviewers
/cannon         @ethereum-optimism/go-reviewers
/op-batcher     @ethereum-optimism/go-reviewers
/op-bootnode    @ethereum-optimism/go-reviewers
/op-chain-ops   @ethereum-optimism/go-reviewers
/op-challenger  @ethereum-optimism/go-reviewers
/op-dispute-mon  @ethereum-optimism/go-reviewers
/op-e2e         @ethereum-optimism/go-reviewers
/op-heartbeat   @ethereum-optimism/go-reviewers
/op-node        @ethereum-optimism/go-reviewers
/op-node/rollup @protolambda @ajsutton
/op-plasma      @ethereum-optimism/go-reviewers
/op-preimage    @ethereum-optimism/go-reviewers
/op-program     @ethereum-optimism/go-reviewers
/op-proposer    @ethereum-optimism/go-reviewers
/op-service     @ethereum-optimism/go-reviewers
/op-supervisor  @ethereum-optimism/go-reviewers
/op-wheel       @ethereum-optimism/go-reviewers
/ops-bedrock    @ethereum-optimism/go-reviewers
/op-conductor   @0x00101010 @zhwrd @mslipper

# Ops
/.circleci       @ethereum-optimism/monorepo-ops-reviewers
/.github         @ethereum-optimism/monorepo-ops-reviewers
/ops             @ethereum-optimism/monorepo-ops-reviewers
/docker-bake.hcl @ethereum-optimism/monorepo-ops-reviewers

# Misc
/proxyd           @ethereum-optimism/infra-reviewers
/infra            @ethereum-optimism/infra-reviewers
/specs            @ethereum-optimism/contract-reviewers @ethereum-optimism/go-reviewers

# Don't add owners if only package.json is updated
/packages/*/package.json
/*/package.json

# JavaScript Releases
/packages/*/CHANGELOG.md @ethereum-optimism/release-managers
/*/CHANGELOG.md          @ethereum-optimism/release-managers

chore: underscore slot constant name
  packages/contracts-bedrock/src/L2/L1Block.sol
Owners: @ethereum-optimism/contract-reviewers

Revert "chore: underscore slot constant name"
  packages/contracts-bedrock/src/L2/L1Block.sol
Owners: @ethereum-optimism/contract-reviewers

feat: ban deposits interop (#15)
  op-node/rollup/derive/attributes.go
  op-node/rollup/derive/l1_block_info.go
  op-node/rollup/types.go
  packages/contracts-bedrock/src/L2/CrossL2Inbox.sol
  packages/contracts-bedrock/src/L2/L1Block.sol
  packages/contracts-bedrock/src/libraries/L1BlockErrors.sol
  packages/contracts-bedrock/test/L2/CrossL2Inbox.t.sol
  packages/contracts-bedrock/test/L2/L1Block.t.sol
Owners: @protolambda, @ajsutton, @ethereum-optimism/contract-reviewers

correct the preimage of interop start storage slot
  packages/contracts-bedrock/src/L2/CrossL2Inbox.sol
  packages/contracts-bedrock/test/L2/CrossL2Inbox.t.sol
Owners: @ethereum-optimism/contract-reviewers

feat: ban deposits interop (#11396)
  packages/contracts-bedrock/src/L2/CrossL2Inbox.sol
  packages/contracts-bedrock/src/L2/L1Block.sol
  packages/contracts-bedrock/src/libraries/L1BlockErrors.sol
  packages/contracts-bedrock/test/L2/CrossL2Inbox.t.sol
  packages/contracts-bedrock/test/L2/L1Block.t.sol
Owners: @ethereum-optimism/contract-reviewers

rename custome error
  packages/contracts-bedrock/src/L2/CrossL2Inbox.sol
  packages/contracts-bedrock/test/L2/CrossL2Inbox.t.sol
Owners: @ethereum-optimism/contract-reviewers

Fix devnet-up when op-program/bin is missing prestate-proof.json
  Makefile
Owners: none

Fix cannon-prestate to always run
  Makefile
Owners: none

Include book locking for record deletion
  op-node/p2p/store/ip_ban_book.go
  op-node/p2p/store/peer_ban_book.go
  op-node/p2p/store/records_book.go
Owners: @ethereum-optimism/go-reviewers

Add missing read locks
  op-node/p2p/store/ip_ban_book.go
  op-node/p2p/store/mdbook.go
  op-node/p2p/store/peer_ban_book.go
  op-node/p2p/store/records_book.go
  op-node/p2p/store/scorebook.go
Owners: @ethereum-optimism/go-reviewers

Add prestate.json
  Makefile
Owners: none

devnet/e2e: run L1 Deneb and L2 Fjord by default (#11359)
  op-e2e/actions/dencun_fork_test.go
  op-e2e/actions/ecotone_fork_test.go
  op-e2e/actions/l2_engine_test.go
  op-e2e/actions/span_batch_test.go
  op-e2e/actions/system_config_test.go
  op-e2e/system_adminrpc_test.go
  op-e2e/system_tob_test.go
  op-program/client/l2/engineapi/test/l2_engine_api_tests.go
  ops-bedrock/beacon-data/config.yaml
  ops-bedrock/l1-generate-beacon-genesis.sh
  packages/contracts-bedrock/deploy-config/devnetL1-template.json
Owners: @ethereum-optimism/go-reviewers, @ethereum-optimism/contract-reviewers

chore: fix some function names
  op-batcher/compressor/shadow_compressor_test.go
  op-chain-ops/crossdomain/message_test.go
  op-challenger/game/fault/preimages/large.go
  op-challenger/game/keccak/merkle/tree.go
Owners: @ethereum-optimism/go-reviewers

wrong verb ussage dastate.go
  op-plasma/dastate.go
Owners: @ethereum-optimism/go-reviewers

add missing verb engine_backend.go
  op-program/client/l2/engine_backend.go
Owners: @ethereum-optimism/go-reviewers

Update prefetcher_test.go
  op-program/host/prefetcher/prefetcher_test.go
Owners: @ethereum-optimism/go-reviewers

test: improve superc20 invariant (#11)
  packages/contracts-bedrock/invariant-docs/OptimismSuperchainERC20.md
  packages/contracts-bedrock/test/invariants/OptimismSuperchainERC20.t.sol
Owners: @ethereum-optimism/contract-reviewers

fix: removed duplicated function from bad merge
  packages/contracts-bedrock/src/L2/L1Block.sol
Owners: @ethereum-optimism/contract-reviewers

fix: relevant comments added, optional bool removed
  op-node/rollup/derive/l1_block_info.go
Owners: @protolambda, @ajsutton

fix: sstore of isDeposit
  packages/contracts-bedrock/src/L2/L1Block.sol
Owners: @ethereum-optimism/contract-reviewers

fix: sstore of isDeposit
  packages/contracts-bedrock/src/L2/L1Block.sol
Owners: @ethereum-optimism/contract-reviewers

fix: is deposit relevant tests
  packages/contracts-bedrock/test/L2/GasPriceOracle.t.sol
  packages/contracts-bedrock/test/L2/L1Block.t.sol
  packages/contracts-bedrock/test/legacy/L1BlockNumber.t.sol
Owners: @ethereum-optimism/contract-reviewers

fix: is deposit relevant tests
  packages/contracts-bedrock/test/L2/GasPriceOracle.t.sol
  packages/contracts-bedrock/test/L2/L1Block.t.sol
  packages/contracts-bedrock/test/legacy/L1BlockNumber.t.sol
Owners: @ethereum-optimism/contract-reviewers

feat(predeploys): add L2toL2CDM to predeploy addresses.go
  op-service/predeploys/addresses.go
Owners: @ethereum-optimism/go-reviewers

fix: gas snapshot
  packages/contracts-bedrock/.gas-snapshot
Owners: @ethereum-optimism/contract-reviewers

feat(predeploys): add L2toL2CDM to predeploy addresses.go (#11403)
  op-service/predeploys/addresses.go
Owners: @ethereum-optimism/go-reviewers

fix: update contracts README diagram
  packages/contracts-bedrock/README.md
Owners: @ethereum-optimism/contract-reviewers

signature test
  op-service/crypto/signature_test.go
Owners: @ethereum-optimism/go-reviewers

just: update name
  .circleci/config.yml
  packages/contracts-bedrock/justfile
Owners: @ethereum-optimism/monorepo-ops-reviewers, @ethereum-optimism/contract-reviewers

contracts-bedrock: debug tests
  .circleci/config.yml
  packages/contracts-bedrock/justfile
Owners: @ethereum-optimism/monorepo-ops-reviewers, @ethereum-optimism/contract-reviewers

typo: fix
  .circleci/config.yml
Owners: @ethereum-optimism/monorepo-ops-reviewers

debug: remove
  packages/contracts-bedrock/justfile
Owners: @ethereum-optimism/contract-reviewers

ci: better error help
  .circleci/config.yml
Owners: @ethereum-optimism/monorepo-ops-reviewers

contracts-bedrock: abstract
  .circleci/config.yml
  packages/contracts-bedrock/justfile
Owners: @ethereum-optimism/monorepo-ops-reviewers, @ethereum-optimism/contract-reviewers

ci: fix typo
  .circleci/config.yml
Owners: @ethereum-optimism/monorepo-ops-reviewers

ci: run with foundry profile ci
  .circleci/config.yml
Owners: @ethereum-optimism/monorepo-ops-reviewers

contracts-bedrock: debug tests (#11397)
  .circleci/config.yml
  packages/contracts-bedrock/justfile
Owners: @ethereum-optimism/monorepo-ops-reviewers, @ethereum-optimism/contract-reviewers

ci: better solc warnings check
  .circleci/config.yml
Owners: @ethereum-optimism/monorepo-ops-reviewers

contracts-bedrock: fix warnings
  packages/contracts-bedrock/test/dispute/FaultDisputeGame.t.sol
Owners: @ethereum-optimism/contract-reviewers

foundry: add ignored error code
  packages/contracts-bedrock/foundry.toml
Owners: @ethereum-optimism/contract-reviewers
