Repository ethereum-optimism/optimism, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/devxpod, @ethereum-optimism/go-reviewers, @protolambda, @ajsutton, @0x00101010, @zhwrd, @mslipper, @ethereum-optimism/monorepo-ops-reviewers, @ethereum-optimism/infra-reviewers, @ethereum-optimism/release-managers

defer l.Log.Info("loop returning")
  op-proposer/proposer/driver.go
Owners: @ethereum-optimism/go-reviewers

improve error handling and logging
  op-proposer/proposer/driver.go
Owners: @ethereum-optimism/go-reviewers

fix logging syntax error
  op-proposer/proposer/driver.go
Owners: @ethereum-optimism/go-reviewers

make DGFContract interface
  op-proposer/proposer/driver.go
Owners: @ethereum-optimism/go-reviewers

modify test for new DGF behavior
  op-proposer/proposer/driver_test.go
Owners: @ethereum-optimism/go-reviewers

fix bugs in test code
  op-proposer/proposer/driver_test.go
Owners: @ethereum-optimism/go-reviewers

remove OutputRetryInterval flag
  op-e2e/actions/l2_proposer.go
  op-proposer/flags/flags.go
  op-proposer/proposer/config.go
Owners: @ethereum-optimism/go-reviewers

handle gameCount = 0
  op-proposer/proposer/driver.go
Owners: @ethereum-optimism/go-reviewers

fix minor bugs
  op-node/node/builder.go
  op-node/rollup/derive/engine_update.go
  ops-bedrock/Dockerfile.l2
  ops-bedrock/docker-compose.yml
Owners: @ethereum-optimism/go-reviewers, @protolambda, @ajsutton

fix nil pointer dereference
  op-node/node/builder.go
  op-node/rollup/derive/engine_update.go
Owners: @ethereum-optimism/go-reviewers, @protolambda, @ajsutton

rename SequencerPublishPayloadAttributes to SequencerPublishAttributes
  op-node/flags/flags.go
  op-node/rollup/driver/config.go
  op-node/service.go
Owners: @ethereum-optimism/go-reviewers, @protolambda, @ajsutton

typo fix
  op-node/service.go
Owners: @ethereum-optimism/go-reviewers

use flags to control publish attributes
  op-node/node/node.go
  op-node/rollup/clsync/clsync.go
  op-node/rollup/driver/driver.go
  op-node/rollup/driver/state.go
Owners: @ethereum-optimism/go-reviewers, @protolambda, @ajsutton

delete findings
  packages/contracts-bedrock/README.md
Owners: @ethereum-optimism/contract-reviewers

feat: renames and revert isDeposit on legacy L1 set
  op-node/rollup/derive/attributes.go
  op-node/rollup/derive/deposit_source.go
  packages/contracts-bedrock/scripts/periphery/drippie/DrippieConfig.s.sol
  packages/contracts-bedrock/src/L2/L1Block.sol
  packages/contracts-bedrock/src/cannon/MIPS2.sol
  packages/contracts-bedrock/test/L2/GasPriceOracle.t.sol
  packages/contracts-bedrock/test/L2/L1Block.t.sol
  packages/contracts-bedrock/test/legacy/L1BlockNumber.t.sol
  packages/contracts-bedrock/test/universal/ProxyAdmin.t.sol
Owners: @protolambda, @ajsutton, @ethereum-optimism/contract-reviewers

feat: rename Deposit for AfterForceInclude
  op-node/rollup/derive/deposit_source.go
  op-node/rollup/derive/l1_block_info.go
Owners: @protolambda, @ajsutton

Don't recheck terminal type for color (#11412)
  op-service/log/cli.go
Owners: @ethereum-optimism/go-reviewers

finish removing OutputRetryInterval
  op-e2e/actions/l2_proposer.go
  op-e2e/setup.go
  op-proposer/proposer/config.go
  op-proposer/proposer/driver_test.go
  op-proposer/proposer/service.go
Owners: @ethereum-optimism/go-reviewers

op-node: fix test value for ChannelTimeoutGranite
  op-node/chaincfg/chains_test.go
Owners: @ethereum-optimism/go-reviewers

op-node: read MaxSeqDrift, ChannelTimeouts from superchain config instead of hardcoding
  go.mod
  go.sum
  op-node/rollup/superchain.go
  op-node/rollup/types.go
Owners: @protolambda, @ajsutton

op-node: improve ChannelTimeout cfg error messages
  op-node/rollup/types.go
  op-node/rollup/types_test.go
Owners: @protolambda, @ajsutton

op-node: remove exceptions for pgn sep chain
  op-node/rollup/superchain.go
Owners: @protolambda, @ajsutton

go: update superchain module import
  go.mod
  go.sum
Owners: none

adds unit test for clsync
  op-node/rollup/clsync/clsync.go
  op-node/rollup/clsync/clsync_test.go
Owners: @protolambda, @ajsutton

op-geth: update to support new precompile-overrides function
  go.mod
  go.sum
  op-e2e/actions/l1_miner.go
  op-program/client/l2/engine_backend.go
  op-program/client/l2/engineapi/block_processor.go
  op-program/client/l2/engineapi/precompiles.go
Owners: @ethereum-optimism/go-reviewers

op-node: fix ChannelTimeoutGranite setting and tests
  op-node/chaincfg/chains_test.go
  op-node/rollup/superchain.go
  op-node/rollup/types_test.go
Owners: @ethereum-optimism/go-reviewers, @protolambda, @ajsutton

go: mod tidy
  go.sum
Owners: none

chore: enhance l1 block test
  packages/contracts-bedrock/test/L2/L1Block.t.sol
Owners: @ethereum-optimism/contract-reviewers

op-chain-ops/script: turn any Go struct/interface into a precompile with ABI encoding/decoding
  op-chain-ops/script/precompile.go
  op-chain-ops/script/precompile_test.go
Owners: @ethereum-optimism/go-reviewers

op-chain-ops: artifacts FS, improve artifacts metadata
  cannon/mipsevm/testutil/evm.go
  op-chain-ops/foundry/artifact.go
  op-chain-ops/foundry/artifactsfs.go
  op-chain-ops/foundry/artifactsfs_test.go
Owners: @ethereum-optimism/go-reviewers

refactor: move the new isthmus logic to the l1 block interop contract
  packages/contracts-bedrock/src/L2/L1Block.sol
  packages/contracts-bedrock/src/L2/L1BlockInterop.sol
  packages/contracts-bedrock/test/L2/L1Block.t.sol
  packages/contracts-bedrock/test/L2/L1BlockInterop.t.sol
Owners: @ethereum-optimism/contract-reviewers

go: update superchain-registry import
  go.mod
  go.sum
Owners: none

refactor: functions order
  packages/contracts-bedrock/src/L2/L1Block.sol
  packages/contracts-bedrock/test/L2/L1Block.t.sol
  packages/contracts-bedrock/test/L2/L1BlockInterop.t.sol
Owners: @ethereum-optimism/contract-reviewers

feat: ban deposits interop (#11451)
  packages/contracts-bedrock/src/L2/L1Block.sol
  packages/contracts-bedrock/src/L2/L1BlockInterop.sol
  packages/contracts-bedrock/test/L2/L1Block.t.sol
  packages/contracts-bedrock/test/L2/L1BlockInterop.t.sol
Owners: @ethereum-optimism/contract-reviewers

maint: further clean up contract scripts organization (#11434)
  packages/contracts-bedrock/justfile
  packages/contracts-bedrock/scripts/Artifacts.s.sol
  packages/contracts-bedrock/scripts/L2Genesis.s.sol
  packages/contracts-bedrock/scripts/autogen/SemverLock.s.sol
  packages/contracts-bedrock/scripts/deploy/ChainAssertions.sol
  packages/contracts-bedrock/scripts/deploy/Deploy.s.sol
  packages/contracts-bedrock/scripts/deploy/DeployConfig.s.sol
  packages/contracts-bedrock/scripts/deploy/Deployer.sol
  packages/contracts-bedrock/scripts/fpac/viz/FaultDisputeGameViz.s.sol
  packages/contracts-bedrock/scripts/fpac/viz/dag-viz.py
  packages/contracts-bedrock/scripts/fpac/viz/visualize.sh
  packages/contracts-bedrock/scripts/libraries/Chains.sol
  packages/contracts-bedrock/scripts/libraries/Config.sol
  packages/contracts-bedrock/scripts/libraries/Executables.sol
  packages/contracts-bedrock/scripts/libraries/ForgeArtifacts.sol
  packages/contracts-bedrock/scripts/libraries/Types.sol
  packages/contracts-bedrock/scripts/ops/FeeVaultWithdrawal.s.sol
  packages/contracts-bedrock/scripts/periphery/deploy/DeployPeriphery.s.sol
  packages/contracts-bedrock/scripts/periphery/drippie/ManageDrippie.s.sol
  packages/contracts-bedrock/scripts/utils/print-addresses.sh
  packages/contracts-bedrock/scripts/utils/restructure_tests.py
  packages/contracts-bedrock/scripts/utils/statediff.sh
  packages/contracts-bedrock/test/L2/GasPriceOracle.t.sol
  packages/contracts-bedrock/test/Predeploys.t.sol
  packages/contracts-bedrock/test/Safe/DeputyGuardianModule.t.sol
  packages/contracts-bedrock/test/Specs.t.sol
  packages/contracts-bedrock/test/setup/Setup.sol
  packages/contracts-bedrock/test/vendor/Initializable.t.sol
Owners: @ethereum-optimism/contract-reviewers

op-e2e: Test Granite EVM rules in op-program (#11391)
  op-e2e/faultproofs/precompile_test.go
  op-e2e/setup.go
Owners: @ethereum-optimism/go-reviewers

fix: typo
  op-node/rollup/derive/l1_block_info.go
Owners: @protolambda, @ajsutton

op-node: ChannelTimeout as a protocol constant
  op-batcher/batcher/service.go
  op-chain-ops/genesis/config.go
  op-conductor/conductor/service_test.go
  op-e2e/actions/l1_replica_test.go
  op-e2e/actions/l2_batcher_test.go
  op-e2e/actions/l2_sequencer_test.go
  op-e2e/actions/l2_verifier_test.go
  op-e2e/actions/plasma_test.go
  op-e2e/actions/reorg_test.go
  op-e2e/actions/span_batch_test.go
  op-e2e/e2eutils/addresses_test.go
  op-e2e/e2eutils/setup.go
  op-e2e/e2eutils/setup_test.go
  op-e2e/setup.go
  op-node/chaincfg/chains_test.go
  op-node/params/constants.go
  op-node/rollup/chain_spec.go
  op-node/rollup/chain_spec_test.go
  op-node/rollup/derive/channel_bank_test.go
  op-node/rollup/superchain.go
  op-node/rollup/types.go
  op-node/rollup/types_test.go
Owners: @ethereum-optimism/go-reviewers, @0x00101010, @zhwrd, @mslipper, @protolambda, @ajsutton

Content first pass
  .gitbook/contents/hc/1_write-handler.md
  .gitbook/contents/hc/2_server-setup.md
  .gitbook/contents/hc/3_write-smart-contract.md
  .gitbook/contents/hc/4_deploy-smart-contract.md
  .gitbook/contents/hc/README.md
Owners: none

op-batcher: add max-blocks-per-span-batch flag
  op-batcher/batcher/channel_builder.go
  op-batcher/batcher/channel_config.go
  op-batcher/batcher/config.go
  op-batcher/batcher/service.go
  op-batcher/flags/flags.go
Owners: @ethereum-optimism/go-reviewers

.github/CODEOWNERS:

# Packages
/packages/contracts-bedrock     @ethereum-optimism/contract-reviewers
/packages/sdk                   @ethereum-optimism/devxpod

# Bedrock codebases
/bedrock-devnet @ethereum-optimism/go-reviewers
/cannon         @ethereum-optimism/go-reviewers
/op-batcher     @ethereum-optimism/go-reviewers
/op-bootnode    @ethereum-optimism/go-reviewers
/op-chain-ops   @ethereum-optimism/go-reviewers
/op-challenger  @ethereum-optimism/go-reviewers
/op-dispute-mon  @ethereum-optimism/go-reviewers
/op-e2e         @ethereum-optimism/go-reviewers
/op-heartbeat   @ethereum-optimism/go-reviewers
/op-node        @ethereum-optimism/go-reviewers
/op-node/rollup @protolambda @ajsutton
/op-plasma      @ethereum-optimism/go-reviewers
/op-preimage    @ethereum-optimism/go-reviewers
/op-program     @ethereum-optimism/go-reviewers
/op-proposer    @ethereum-optimism/go-reviewers
/op-service     @ethereum-optimism/go-reviewers
/op-supervisor  @ethereum-optimism/go-reviewers
/op-wheel       @ethereum-optimism/go-reviewers
/ops-bedrock    @ethereum-optimism/go-reviewers
/op-conductor   @0x00101010 @zhwrd @mslipper

# Ops
/.circleci       @ethereum-optimism/monorepo-ops-reviewers
/.github         @ethereum-optimism/monorepo-ops-reviewers
/ops             @ethereum-optimism/monorepo-ops-reviewers
/docker-bake.hcl @ethereum-optimism/monorepo-ops-reviewers

# Misc
/proxyd           @ethereum-optimism/infra-reviewers
/infra            @ethereum-optimism/infra-reviewers
/specs            @ethereum-optimism/contract-reviewers @ethereum-optimism/go-reviewers

# Don't add owners if only package.json is updated
/packages/*/package.json
/*/package.json

# JavaScript Releases
/packages/*/CHANGELOG.md @ethereum-optimism/release-managers
/*/CHANGELOG.md          @ethereum-optimism/release-managers
