Repository ethereum-optimism/optimism, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/devxpod, @ethereum-optimism/go-reviewers, @protolambda, @ajsutton, @0x00101010, @zhwrd, @mslipper, @ethereum-optimism/monorepo-ops-reviewers, @ethereum-optimism/infra-reviewers, @ethereum-optimism/release-managers

remove wsutil package
  op-service/wsutil/client.go
  op-service/wsutil/server.go
Owners: @ethereum-optimism/go-reviewers

remove events server
  op-service/events/server.go
Owners: @ethereum-optimism/go-reviewers

Add EventStreamConfig and flags
  op-node/flags/flags.go
  op-node/node/config.go
  op-node/node/node.go
  op-node/service.go
Owners: @ethereum-optimism/go-reviewers

remove payload value comparison
  op-node/rollup/derive/engine_update.go
Owners: @protolambda, @ajsutton

op-node: attempt recovery from odd forkchoice states
  op-node/rollup/sync/start.go
Owners: @protolambda, @ajsutton

op-bedrock: Add detail to the documentation to clarify any confusion. (#11457)
  packages/contracts-bedrock/README.md
Owners: @ethereum-optimism/contract-reviewers

add stop api in the conductor
  op-conductor/rpc/api.go
  op-conductor/rpc/backend.go
  op-conductor/rpc/client.go
Owners: @0x00101010, @zhwrd, @mslipper

add tests
  op-e2e/sequencer_failover_test.go
Owners: @ethereum-optimism/go-reviewers

fix: PR fixes
  packages/contracts-bedrock/scripts/L2Genesis.s.sol
  packages/contracts-bedrock/semver-lock.json
  packages/contracts-bedrock/snapshots/abi/L2StandardBridge.json
  packages/contracts-bedrock/snapshots/abi/L2StandardBridgeInterop.json
  packages/contracts-bedrock/src/L2/L2StandardBridge.sol
  packages/contracts-bedrock/src/L2/L2StandardBridgeInterop.sol
  packages/contracts-bedrock/src/libraries/Predeploys.sol
  packages/contracts-bedrock/test/L2/L2StandardBridgeInterop.t.sol
Owners: @ethereum-optimism/contract-reviewers

op-e2e: test MaxBlocksPerSpanBatch in system test
  op-e2e/setup.go
  op-e2e/system_test.go
Owners: @ethereum-optimism/go-reviewers

ci: include artifacts as Go e2e test pre-requisite
  .circleci/config.yml
Owners: @ethereum-optimism/monorepo-ops-reviewers

op-e2e: use span batches in 4844 test
  op-e2e/eip4844_test.go
  op-node/rollup/derive/span_channel_out.go
Owners: @ethereum-optimism/go-reviewers, @protolambda, @ajsutton

fix test cases
  op-e2e/sequencer_failover_test.go
Owners: @ethereum-optimism/go-reviewers

op-chain-ops: move full artifacts test, update testdata
  op-chain-ops/foundry/artifact.go
  op-chain-ops/foundry/artifact_test.go
  op-chain-ops/foundry/testdata/OptimismPortal.json
  op-chain-ops/foundry/testdata/README.md
  op-chain-ops/foundry/testdata/forge-artifacts/ERC20.sol/ERC20.0.8.15.json
  op-chain-ops/foundry/testdata/forge-artifacts/ERC20.sol/ERC20.0.8.25.json
  op-chain-ops/foundry/testdata/forge-artifacts/ERC20.sol/ERC20.json
  op-chain-ops/foundry/testdata/forge-artifacts/Owned.sol/Owned.0.8.15.json
  op-chain-ops/foundry/testdata/forge-artifacts/Owned.sol/Owned.0.8.25.json
  op-chain-ops/foundry/testdata/forge-artifacts/Owned.sol/Owned.json
  op-e2e/artifactsfs_test.go
Owners: @ethereum-optimism/go-reviewers

ci: fix artifacts workspace copy
  .circleci/config.yml
Owners: @ethereum-optimism/monorepo-ops-reviewers

fix conductor stop api test
  op-e2e/sequencer_failover_test.go
Owners: @ethereum-optimism/go-reviewers

op-node: cleanup driver, closer to removing stepping
  op-node/rollup/driver/state.go
Owners: @protolambda, @ajsutton

op-node: add comment about event Drain error
  op-node/rollup/driver/state.go
Owners: @protolambda, @ajsutton

re-trigger ci tests
  op-e2e/sequencer_failover_test.go
Owners: @ethereum-optimism/go-reviewers

op-node: fix lint
  op-node/rollup/driver/state.go
Owners: @protolambda, @ajsutton

op-chain-ops: artifacts FS, improve artifacts metadata (#11445)
  .circleci/config.yml
  cannon/mipsevm/testutil/evm.go
  op-chain-ops/foundry/artifact.go
  op-chain-ops/foundry/artifact_test.go
  op-chain-ops/foundry/artifactsfs.go
  op-chain-ops/foundry/artifactsfs_test.go
  op-chain-ops/foundry/testdata/OptimismPortal.json
  op-chain-ops/foundry/testdata/README.md
  op-chain-ops/foundry/testdata/forge-artifacts/ERC20.sol/ERC20.0.8.15.json
  op-chain-ops/foundry/testdata/forge-artifacts/ERC20.sol/ERC20.0.8.25.json
  op-chain-ops/foundry/testdata/forge-artifacts/ERC20.sol/ERC20.json
  op-chain-ops/foundry/testdata/forge-artifacts/Owned.sol/Owned.0.8.15.json
  op-chain-ops/foundry/testdata/forge-artifacts/Owned.sol/Owned.0.8.25.json
  op-chain-ops/foundry/testdata/forge-artifacts/Owned.sol/Owned.json
  op-e2e/artifactsfs_test.go
Owners: @ethereum-optimism/monorepo-ops-reviewers, @ethereum-optimism/go-reviewers

op-node: remove MaxSequencerDrift hardcode (#11459)
  go.mod
  go.sum
  op-node/rollup/superchain.go
  op-node/rollup/types.go
Owners: @protolambda, @ajsutton

fix: makefile build command
  Makefile
Owners: none

WIP: Cross-Head Maintenance
  op-supervisor/supervisor/backend/db/db.go
  op-supervisor/supervisor/backend/db/db_test.go
  op-supervisor/supervisor/backend/db/init_test.go
  op-supervisor/supervisor/backend/db/logs/db.go
  op-supervisor/supervisor/backend/db/logs/db_test.go
  op-supervisor/supervisor/backend/db/logs/iterator.go
  op-supervisor/supervisor/backend/db/safety_checkers.go
Owners: @ethereum-optimism/go-reviewers

op-chain-ops: add more comments about precompile auto ABI code
  op-chain-ops/script/precompile.go
Owners: @ethereum-optimism/go-reviewers

op-chain-ops/script: turn any Go struct/interface into a precompile with ABI encoding/decoding (#11444)
  op-chain-ops/script/precompile.go
  op-chain-ops/script/precompile_test.go
Owners: @ethereum-optimism/go-reviewers

feat: initial DeloySuperchain script
  packages/contracts-bedrock/scripts/DeploySuperchain.s.sol
  packages/contracts-bedrock/test/DeploySuperchain.t.sol
Owners: @ethereum-optimism/contract-reviewers

chore: scaffold file-based interfaces
  packages/contracts-bedrock/scripts/DeploySuperchain.s.sol
  packages/contracts-bedrock/test/DeploySuperchain.t.sol
Owners: @ethereum-optimism/contract-reviewers

test: additional assertions
  packages/contracts-bedrock/test/DeploySuperchain.t.sol
Owners: @ethereum-optimism/contract-reviewers

chore: appease semgrep
  packages/contracts-bedrock/scripts/DeploySuperchain.s.sol
Owners: @ethereum-optimism/contract-reviewers

op-service: capture inherited log attributes
  op-service/testlog/capturing.go
  op-service/testlog/capturing_test.go
Owners: @ethereum-optimism/go-reviewers

op-service/testlog: reverse Attrs traversal order
  op-service/testlog/capturing.go
Owners: @ethereum-optimism/go-reviewers

op-service: capture inherited log attributes (#11470)
  op-service/testlog/capturing.go
  op-service/testlog/capturing_test.go
Owners: @ethereum-optimism/go-reviewers

op-node: handle drain errors
  op-node/rollup/driver/state.go
Owners: @protolambda, @ajsutton

add role based auth for dependency related setters with tests
  packages/contracts-bedrock/src/L1/SystemConfigInterop.sol
  packages/contracts-bedrock/test/L1/SystemConfigInterop.t.sol
Owners: @ethereum-optimism/contract-reviewers

support systemConfig initialize, rename foundation multisig to dependency manager
  packages/contracts-bedrock/src/L1/SystemConfigInterop.sol
  packages/contracts-bedrock/test/L1/SystemConfigInterop.t.sol
Owners: @ethereum-optimism/contract-reviewers

use dependency manager role only, update SystemConfigInterop and Specs tests
  packages/contracts-bedrock/src/L1/SystemConfigInterop.sol
  packages/contracts-bedrock/test/L1/SystemConfigInterop.t.sol
  packages/contracts-bedrock/test/Specs.t.sol
Owners: @ethereum-optimism/contract-reviewers

rebase to current develop head, run pre-pr script
  packages/contracts-bedrock/semver-lock.json
  packages/contracts-bedrock/snapshots/abi/SystemConfigInterop.json
Owners: @ethereum-optimism/contract-reviewers

Revert "add builder boost factor to payload selection"
  op-node/flags/flags.go
  op-node/node/builder.go
  op-node/node/config.go
  op-node/node/node.go
  op-node/rollup/builder/builder.go
  op-node/service.go
Owners: @ethereum-optimism/go-reviewers, @protolambda, @ajsutton

use locally built op-node instead of jinmel/op-node:pbs
  ops-bedrock/docker-compose.yml
Owners: @ethereum-optimism/go-reviewers

.github/CODEOWNERS:

# Packages
/packages/contracts-bedrock     @ethereum-optimism/contract-reviewers
/packages/sdk                   @ethereum-optimism/devxpod

# Bedrock codebases
/bedrock-devnet @ethereum-optimism/go-reviewers
/cannon         @ethereum-optimism/go-reviewers
/op-batcher     @ethereum-optimism/go-reviewers
/op-bootnode    @ethereum-optimism/go-reviewers
/op-chain-ops   @ethereum-optimism/go-reviewers
/op-challenger  @ethereum-optimism/go-reviewers
/op-dispute-mon  @ethereum-optimism/go-reviewers
/op-e2e         @ethereum-optimism/go-reviewers
/op-heartbeat   @ethereum-optimism/go-reviewers
/op-node        @ethereum-optimism/go-reviewers
/op-node/rollup @protolambda @ajsutton
/op-plasma      @ethereum-optimism/go-reviewers
/op-preimage    @ethereum-optimism/go-reviewers
/op-program     @ethereum-optimism/go-reviewers
/op-proposer    @ethereum-optimism/go-reviewers
/op-service     @ethereum-optimism/go-reviewers
/op-supervisor  @ethereum-optimism/go-reviewers
/op-wheel       @ethereum-optimism/go-reviewers
/ops-bedrock    @ethereum-optimism/go-reviewers
/op-conductor   @0x00101010 @zhwrd @mslipper

# Ops
/.circleci       @ethereum-optimism/monorepo-ops-reviewers
/.github         @ethereum-optimism/monorepo-ops-reviewers
/ops             @ethereum-optimism/monorepo-ops-reviewers
/docker-bake.hcl @ethereum-optimism/monorepo-ops-reviewers

# Misc
/proxyd           @ethereum-optimism/infra-reviewers
/infra            @ethereum-optimism/infra-reviewers
/specs            @ethereum-optimism/contract-reviewers @ethereum-optimism/go-reviewers

# Don't add owners if only package.json is updated
/packages/*/package.json
/*/package.json

# JavaScript Releases
/packages/*/CHANGELOG.md @ethereum-optimism/release-managers
/*/CHANGELOG.md          @ethereum-optimism/release-managers
