Repository ethereum-optimism/optimism, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/devxpod, @ethereum-optimism/go-reviewers, @protolambda, @ajsutton, @0x00101010, @zhwrd, @mslipper, @ethereum-optimism/monorepo-ops-reviewers, @ethereum-optimism/infra-reviewers, @ethereum-optimism/release-managers

move DGF query logic into FetchDGFOutput
  op-proposer/proposer/driver.go
Owners: @ethereum-optimism/go-reviewers

.github/workflows: Adding a new workflow to trigger on updates to depoloyment_status from third party
  .github/workflows/proof-runner-notification.yml
Owners: @ethereum-optimism/monorepo-ops-reviewers

Rebase: op-supervisor: Include executing message info when storing logs.
  op-supervisor/supervisor/backend/source/contracts/l2inbox.go
  op-supervisor/supervisor/backend/source/contracts/l2inbox_test.go
  op-supervisor/supervisor/backend/source/log_processor.go
  op-supervisor/supervisor/backend/source/log_processor_test.go
  op-supervisor/supervisor/types/types.go
  op-supervisor/supervisor/types/types_test.go
  packages/contracts-bedrock/snapshots/abi/CrossL2Inbox.json
Owners: @ethereum-optimism/go-reviewers, @ethereum-optimism/contract-reviewers

Incorporate new ABI format
  op-supervisor/supervisor/backend/source/contracts/l2inbox.go
  op-supervisor/supervisor/backend/source/contracts/l2inbox_test.go
  op-supervisor/supervisor/backend/source/log_processor.go
  op-supervisor/supervisor/backend/source/log_processor_test.go
Owners: @ethereum-optimism/go-reviewers

merge loopL2OO and loopDGF
  op-proposer/proposer/driver.go
Owners: @ethereum-optimism/go-reviewers

tweak comments
  op-proposer/proposer/driver.go
Owners: @ethereum-optimism/go-reviewers

add PublishPayloadAttributes flag
  op-node/flags/flags.go
  op-node/node/config.go
  op-node/service.go
Owners: @ethereum-optimism/go-reviewers

cannon: Undo changes to memprofile patching (#11420)
  cannon/mipsevm/program/patch.go
  op-program/client/cmd/main.go
Owners: @ethereum-optimism/go-reviewers

op-node: implement span channel out block count limit
  op-node/rollup/derive/channel_out_test.go
  op-node/rollup/derive/span_channel_out.go
Owners: @protolambda, @ajsutton

add additional address to exclude
  packages/contracts-bedrock/test/libraries/SafeCall.t.sol
Owners: @ethereum-optimism/contract-reviewers

chore: make public library methods internal
  packages/contracts-bedrock/scripts/ForgeArtifacts.sol
Owners: @ethereum-optimism/contract-reviewers

remove another public lib method
  packages/contracts-bedrock/test/safe-tools/SafeTestTools.sol
Owners: @ethereum-optimism/contract-reviewers

remove additional public lib methods
  packages/contracts-bedrock/src/cannon/libraries/MIPSSyscalls.sol
  packages/contracts-bedrock/test/safe-tools/SafeTestTools.sol
Owners: @ethereum-optimism/contract-reviewers

remove hardcoded assumption now that we know it's lib linking
  packages/contracts-bedrock/test/libraries/SafeCall.t.sol
Owners: @ethereum-optimism/contract-reviewers

fix: update contracts README diagram (#11406)
  packages/contracts-bedrock/README.md
Owners: @ethereum-optimism/contract-reviewers

style: forge fmt
  packages/contracts-bedrock/test/safe-tools/SafeTestTools.sol
Owners: @ethereum-optimism/contract-reviewers

Force push to test
  .github/workflows/proof-runner-notification.yml
Owners: @ethereum-optimism/monorepo-ops-reviewers

Remove if check for environment.
  .github/workflows/proof-runner-notification.yml
Owners: @ethereum-optimism/monorepo-ops-reviewers

status-test: This looks like the wrong trigger
  .github/workflows/proof-runner-notification.yml
Owners: @ethereum-optimism/monorepo-ops-reviewers

fix(ctb): remove linked libraries from scripts and tests (#11426)
  packages/contracts-bedrock/scripts/ForgeArtifacts.sol
  packages/contracts-bedrock/src/cannon/libraries/MIPSSyscalls.sol
  packages/contracts-bedrock/test/safe-tools/SafeTestTools.sol
Owners: @ethereum-optimism/contract-reviewers

remove trailing newline in contract
  packages/contracts-bedrock/snapshots/abi/CrossL2Inbox.json
Owners: @ethereum-optimism/contract-reviewers

add rationale to comment
  packages/contracts-bedrock/scripts/L2Genesis.s.sol
Owners: @ethereum-optimism/contract-reviewers

cannon: Rename vm type to cannon-mt
  cannon/cmd/vmtype.go
Owners: @ethereum-optimism/go-reviewers

add rationale to comment (#11429)
  packages/contracts-bedrock/scripts/L2Genesis.s.sol
Owners: @ethereum-optimism/contract-reviewers

ci: manage versions in versions.json (#11415)
  .circleci/config.yml
  versions.json
Owners: @ethereum-optimism/monorepo-ops-reviewers

deps: update
  cannon/testdata/example/alloc/go.mod
  cannon/testdata/example/alloc/go.sum
  cannon/testdata/example/claim/go.mod
  cannon/testdata/example/claim/go.sum
Owners: @ethereum-optimism/go-reviewers

cannon: Add support for --type mt to enable multithreaded cannon (#11411)
  Makefile
  cannon/cmd/load_elf.go
  cannon/cmd/run.go
  cannon/cmd/vmtype.go
  cannon/cmd/witness.go
Owners: @ethereum-optimism/go-reviewers

op-supervisor: Include executing message info when storing logs. (#11369)
  op-supervisor/supervisor/backend/source/contracts/l2inbox.go
  op-supervisor/supervisor/backend/source/contracts/l2inbox_test.go
  op-supervisor/supervisor/backend/source/log_processor.go
  op-supervisor/supervisor/backend/source/log_processor_test.go
  op-supervisor/supervisor/types/types.go
  op-supervisor/supervisor/types/types_test.go
Owners: @ethereum-optimism/go-reviewers

deps: update
  cannon/testdata/example/alloc/go.sum
  cannon/testdata/example/claim/go.sum
Owners: @ethereum-optimism/go-reviewers

snapshots: regenerate
  packages/contracts-bedrock/semver-lock.json
  packages/contracts-bedrock/snapshots/abi/OptimismPortalInterop.json
  packages/contracts-bedrock/snapshots/state-diff/Kontrol-31337.json
  packages/contracts-bedrock/snapshots/storageLayout/OptimismPortalInterop.json
Owners: @ethereum-optimism/contract-reviewers

contracts-bedrock: cleanup deploy
  packages/contracts-bedrock/scripts/deploy/Deploy.s.sol
Owners: @ethereum-optimism/contract-reviewers

deploy script: only deploy correct contracts
  packages/contracts-bedrock/scripts/deploy/Deploy.s.sol
Owners: @ethereum-optimism/contract-reviewers

interop: support fault proofs
  packages/contracts-bedrock/test/Specs.t.sol
  packages/contracts-bedrock/test/setup/CommonTest.sol
Owners: @ethereum-optimism/contract-reviewers

lint: fix
  packages/contracts-bedrock/scripts/deploy/Deploy.s.sol
  packages/contracts-bedrock/src/L1/OptimismPortalInterop.sol
Owners: @ethereum-optimism/contract-reviewers

ctb: migrate interop to fp portal
  packages/contracts-bedrock/scripts/deploy/Deploy.s.sol
  packages/contracts-bedrock/src/L1/OptimismPortalInterop.sol
Owners: @ethereum-optimism/contract-reviewers

contracts-bedrock: always enable fault proofs with interop
  packages/contracts-bedrock/test/setup/CommonTest.sol
Owners: @ethereum-optimism/contract-reviewers

contracts-bedrock: migrate interop portal to fp
  packages/contracts-bedrock/src/L1/OptimismPortalInterop.sol
Owners: @ethereum-optimism/contract-reviewers

contracts-bedrock: fix deploy
  packages/contracts-bedrock/scripts/deploy/Deploy.s.sol
Owners: @ethereum-optimism/contract-reviewers

op-e2e: Disable proposer in dispute game tests
  op-e2e/faultproofs/output_alphabet_test.go
  op-e2e/faultproofs/util.go
  op-e2e/setup.go
Owners: @ethereum-optimism/go-reviewers

portal2: reduce codesize
  packages/contracts-bedrock/src/L1/OptimismPortal2.sol
  packages/contracts-bedrock/src/libraries/PortalErrors.sol
  packages/contracts-bedrock/test/L1/OptimismPortal2.t.sol
  packages/contracts-bedrock/test/invariants/OptimismPortal2.t.sol
Owners: @ethereum-optimism/contract-reviewers

.github/CODEOWNERS:

# Packages
/packages/contracts-bedrock     @ethereum-optimism/contract-reviewers
/packages/sdk                   @ethereum-optimism/devxpod

# Bedrock codebases
/bedrock-devnet @ethereum-optimism/go-reviewers
/cannon         @ethereum-optimism/go-reviewers
/op-batcher     @ethereum-optimism/go-reviewers
/op-bootnode    @ethereum-optimism/go-reviewers
/op-chain-ops   @ethereum-optimism/go-reviewers
/op-challenger  @ethereum-optimism/go-reviewers
/op-dispute-mon  @ethereum-optimism/go-reviewers
/op-e2e         @ethereum-optimism/go-reviewers
/op-heartbeat   @ethereum-optimism/go-reviewers
/op-node        @ethereum-optimism/go-reviewers
/op-node/rollup @protolambda @ajsutton
/op-plasma      @ethereum-optimism/go-reviewers
/op-preimage    @ethereum-optimism/go-reviewers
/op-program     @ethereum-optimism/go-reviewers
/op-proposer    @ethereum-optimism/go-reviewers
/op-service     @ethereum-optimism/go-reviewers
/op-supervisor  @ethereum-optimism/go-reviewers
/op-wheel       @ethereum-optimism/go-reviewers
/ops-bedrock    @ethereum-optimism/go-reviewers
/op-conductor   @0x00101010 @zhwrd @mslipper

# Ops
/.circleci       @ethereum-optimism/monorepo-ops-reviewers
/.github         @ethereum-optimism/monorepo-ops-reviewers
/ops             @ethereum-optimism/monorepo-ops-reviewers
/docker-bake.hcl @ethereum-optimism/monorepo-ops-reviewers

# Misc
/proxyd           @ethereum-optimism/infra-reviewers
/infra            @ethereum-optimism/infra-reviewers
/specs            @ethereum-optimism/contract-reviewers @ethereum-optimism/go-reviewers

# Don't add owners if only package.json is updated
/packages/*/package.json
/*/package.json

# JavaScript Releases
/packages/*/CHANGELOG.md @ethereum-optimism/release-managers
/*/CHANGELOG.md          @ethereum-optimism/release-managers
