Repository ethereum-optimism/optimism, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ethereum-optimism/go-reviewers, @ethereum-optimism/op-stack, @ethereum-optimism/consensus, @ethereum-optimism/interop, @ethereum-optimism/op-conductor, @ethereum-optimism/proofs, @ethereum-optimism/monorepo-ops-reviewers, @ethereum-optimism/contract-reviewers

op-deployer: Fix init bugs (#12230)
  op-chain-ops/deployer/init.go
  op-chain-ops/deployer/state/artifacts_url.go
Owners: @ethereum-optimism/op-stack, @ethereum-optimism/go-reviewers

make check-interfaces.sh warn on old versions of bash (#12220)
  packages/contracts-bedrock/scripts/checks/check-interfaces.sh
Owners: @ethereum-optimism/contract-reviewers

op-e2e/system/fjord: Fix check script test
  op-e2e/system/fjord/check_scripts_test.go
Owners: @ethereum-optimism/op-stack, @ethereum-optimism/go-reviewers

cannon: Fix cli --stop-at-preimage value parsing
  cannon/cmd/run.go
Owners: @ethereum-optimism/proofs, @ethereum-optimism/go-reviewers

feat: rename mint/burn and add SuperchainERC20 (#74)
  packages/contracts-bedrock/semver-lock.json
  packages/contracts-bedrock/snapshots/abi/OptimismSuperchainERC20.json
  packages/contracts-bedrock/src/L2/OptimismSuperchainERC20.sol
  packages/contracts-bedrock/src/L2/SuperchainERC20.sol
  packages/contracts-bedrock/src/L2/SuperchainERC20Bridge.sol
  packages/contracts-bedrock/src/L2/interfaces/IL2StandardBridgeInterop.sol
  packages/contracts-bedrock/src/L2/interfaces/IOptimismSuperchainERC20.sol
  packages/contracts-bedrock/src/L2/interfaces/ISuperchainERC20.sol
  packages/contracts-bedrock/test/L2/L2StandardBridgeInterop.t.sol
  packages/contracts-bedrock/test/L2/OptimismSuperchainERC20.t.sol
  packages/contracts-bedrock/test/L2/SuperchainERC20.t.sol
  packages/contracts-bedrock/test/L2/SuperchainERC20Bridge.t.sol
  packages/contracts-bedrock/test/invariants/OptimismSuperchainERC20/OptimismSuperchainERC20.t.sol
  packages/contracts-bedrock/test/invariants/OptimismSuperchainERC20/fuzz/Protocol.guided.t.sol
  packages/contracts-bedrock/test/invariants/OptimismSuperchainERC20/fuzz/Protocol.unguided.t.sol
  packages/contracts-bedrock/test/invariants/OptimismSuperchainERC20/handlers/Protocol.t.sol
  packages/contracts-bedrock/test/invariants/OptimismSuperchainERC20/helpers/MockL2ToL2CrossDomainMessenger.t.sol
Owners: @ethereum-optimism/contract-reviewers

Setup alloc type in system config
  op-e2e/faultproofs/cannon_benchmark_test.go
  op-e2e/faultproofs/util.go
Owners: @ethereum-optimism/proofs, @ethereum-optimism/go-reviewers

fix semver conflict issue
  packages/contracts-bedrock/semver-lock.json
  packages/contracts-bedrock/src/L1/OPContractsManager.sol
Owners: @ethereum-optimism/contract-reviewers

Revert "Holocene extensions to L1Block.sol (#12096)"
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/semver-lock.json
  packages/contracts-bedrock/snapshots/abi/L1Block.json
  packages/contracts-bedrock/snapshots/abi/L1BlockInterop.json
  packages/contracts-bedrock/snapshots/storageLayout/L1Block.json
  packages/contracts-bedrock/snapshots/storageLayout/L1BlockInterop.json
  packages/contracts-bedrock/src/L2/L1Block.sol
  packages/contracts-bedrock/src/L2/L1BlockInterop.sol
  packages/contracts-bedrock/src/L2/interfaces/IL1Block.sol
  packages/contracts-bedrock/src/L2/interfaces/IL1BlockInterop.sol
  packages/contracts-bedrock/src/libraries/Encoding.sol
  packages/contracts-bedrock/test/L2/L1Block.t.sol
Owners: @ethereum-optimism/contract-reviewers

cannon: Fix cli --stop-at-preimage value parsing (#12234)
  cannon/cmd/run.go
  op-e2e/faultproofs/cannon_benchmark_test.go
  op-e2e/faultproofs/util.go
Owners: @ethereum-optimism/proofs, @ethereum-optimism/go-reviewers

use interfaces in opcm contracts (#12217)
  packages/contracts-bedrock/scripts/DeployImplementations.s.sol
  packages/contracts-bedrock/scripts/DeployOPChain.s.sol
  packages/contracts-bedrock/scripts/DeploySuperchain.s.sol
  packages/contracts-bedrock/scripts/checks/check-interfaces.sh
  packages/contracts-bedrock/scripts/deploy/Deploy.s.sol
  packages/contracts-bedrock/scripts/fpac/FPACOPS.s.sol
  packages/contracts-bedrock/scripts/fpac/FPACOPS2.s.sol
  packages/contracts-bedrock/semver-lock.json
  packages/contracts-bedrock/snapshots/abi/OPContractsManager.json
  packages/contracts-bedrock/snapshots/abi/OPContractsManagerInterop.json
  packages/contracts-bedrock/src/L1/OPContractsManager.sol
  packages/contracts-bedrock/src/L1/OPContractsManagerInterop.sol
  packages/contracts-bedrock/src/L1/interfaces/ISystemConfigInterop.sol
  packages/contracts-bedrock/test/L1/OPContractsManager.t.sol
  packages/contracts-bedrock/test/opcm/DeployImplementations.t.sol
  packages/contracts-bedrock/test/opcm/DeployOPChain.t.sol
  packages/contracts-bedrock/test/opcm/DeploySuperchain.t.sol
Owners: @ethereum-optimism/contract-reviewers

Revert "Holocene extensions to L1Block.sol (#12096)" (#12236)
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/semver-lock.json
  packages/contracts-bedrock/snapshots/abi/L1Block.json
  packages/contracts-bedrock/snapshots/abi/L1BlockInterop.json
  packages/contracts-bedrock/snapshots/storageLayout/L1Block.json
  packages/contracts-bedrock/snapshots/storageLayout/L1BlockInterop.json
  packages/contracts-bedrock/src/L2/L1Block.sol
  packages/contracts-bedrock/src/L2/L1BlockInterop.sol
  packages/contracts-bedrock/src/L2/interfaces/IL1Block.sol
  packages/contracts-bedrock/src/L2/interfaces/IL1BlockInterop.sol
  packages/contracts-bedrock/src/libraries/Encoding.sol
  packages/contracts-bedrock/test/L2/L1Block.t.sol
Owners: @ethereum-optimism/contract-reviewers

op-e2e/system/fjord: Fix check script test (#12231)
  op-e2e/system/fjord/check_scripts_test.go
Owners: @ethereum-optimism/op-stack, @ethereum-optimism/go-reviewers

Update op-geth depdency to 1.14.10 base
  cannon/Dockerfile.diff
  cannon/mipsevm/testutil/evm.go
  cannon/testdata/example/alloc/go.mod
  cannon/testdata/example/claim/go.mod
  go.mod
  go.sum
  op-alt-da/Dockerfile
  op-chain-ops/cmd/op-simulate/main.go
  op-chain-ops/foundry/allocs_test.go
  op-chain-ops/script/script.go
  op-dispute-mon/Dockerfile
  op-e2e/actions/helpers/l1_miner.go
  op-node/rollup/derive/fuzz_parsers_test.go
  op-program/Dockerfile.repro
  op-program/README.md
  op-program/client/l2/db_test.go
  op-program/client/l2/engine_backend.go
  op-program/client/l2/engine_backend_test.go
  op-program/client/l2/engine_test.go
  op-program/client/l2/engineapi/l2_engine_api.go
  op-program/host/kvstore/local_test.go
  op-wheel/cheat/cheat.go
  ops/docker/ci-builder/Dockerfile
  ops/docker/deployment-utils/Dockerfile
  ops/docker/op-stack-go/Dockerfile
Owners: @ethereum-optimism/proofs, @ethereum-optimism/go-reviewers, @ethereum-optimism/op-stack, @ethereum-optimism/consensus, @ethereum-optimism/monorepo-ops-reviewers

op-e2e: Retrieve AllocType from System instead of env
  op-e2e/config/init.go
  op-e2e/e2eutils/challenger/helper.go
  op-e2e/e2eutils/disputegame/helper.go
  op-e2e/e2eutils/disputegame/output_cannon_helper.go
  op-e2e/e2eutils/disputegame/output_game_helper.go
  op-e2e/faultproofs/multi_test.go
  op-e2e/faultproofs/permissioned_test.go
  op-e2e/faultproofs/precompile_test.go
  op-e2e/system/e2esys/setup.go
Owners: @ethereum-optimism/op-stack, @ethereum-optimism/go-reviewers, @ethereum-optimism/proofs

Remove more uses of env.
  op-e2e/faultproofs/cannon_benchmark_test.go
  op-e2e/faultproofs/util.go
Owners: @ethereum-optimism/proofs, @ethereum-optimism/go-reviewers

fix from PR #12223
  op-alt-da/dastate.go
Owners: @ethereum-optimism/op-stack, @ethereum-optimism/go-reviewers

op-e2e: Run mt-cannon as an allocType without needing special env vars.
  .circleci/config.yml
  op-e2e/faultproofs/cannon_benchmark_test.go
  op-e2e/faultproofs/output_cannon_test.go
  op-e2e/faultproofs/precompile_test.go
  op-e2e/faultproofs/util.go
Owners: @ethereum-optimism/monorepo-ops-reviewers, @ethereum-optimism/proofs, @ethereum-optimism/go-reviewers

feat: Use DeploySuperchain script in Deploy.s.sol
  packages/contracts-bedrock/scripts/deploy/Deploy.s.sol
  packages/contracts-bedrock/src/L1/ProtocolVersions.sol
Owners: @ethereum-optimism/contract-reviewers

fix: Cannot set null protocol versions error
  packages/contracts-bedrock/deploy-config/devnetL1-template.json
  packages/contracts-bedrock/deploy-config/hardhat.json
Owners: @ethereum-optimism/contract-reviewers

feat: Also save impls
  packages/contracts-bedrock/scripts/deploy/Deploy.s.sol
Owners: @ethereum-optimism/contract-reviewers

fix: semver lock
  packages/contracts-bedrock/semver-lock.json
Owners: @ethereum-optimism/contract-reviewers

fix: bump ProtocolVersions semver
  packages/contracts-bedrock/semver-lock.json
  packages/contracts-bedrock/src/L1/ProtocolVersions.sol
Owners: @ethereum-optimism/contract-reviewers

feat: Add superchainProxyAdmin
  packages/contracts-bedrock/scripts/deploy/Deploy.s.sol
Owners: @ethereum-optimism/contract-reviewers

feat: Undo removeing ProtocolVersion type from interface
  packages/contracts-bedrock/src/L1/ProtocolVersions.sol
Owners: @ethereum-optimism/contract-reviewers

feat(sequencer): Origin Selector asynchronously prefetches the next origin from events (#12134)
  op-e2e/actions/helpers/l2_sequencer.go
  op-node/rollup/driver/driver.go
  op-node/rollup/sequencing/origin_selector.go
  op-node/rollup/sequencing/origin_selector_test.go
Owners: @ethereum-optimism/op-stack, @ethereum-optimism/go-reviewers, @ethereum-optimism/consensus

fix:code review suggestion
  cannon/mipsevm/tests/evm_common_test.go
Owners: @ethereum-optimism/proofs, @ethereum-optimism/go-reviewers

op-deployer: Custom gas price estimator
  op-chain-ops/deployer/broadcaster/gas_estimator.go
  op-chain-ops/deployer/broadcaster/keyed.go
  op-chain-ops/deployer/integration_test/apply_test.go
  op-service/txmgr/cli.go
  op-service/txmgr/estimator.go
  op-service/txmgr/txmgr.go
Owners: @ethereum-optimism/op-stack, @ethereum-optimism/go-reviewers

fix: semver-lock
  packages/contracts-bedrock/semver-lock.json
Owners: @ethereum-optimism/contract-reviewers

feat: remove setupOpChainAdmin
  packages/contracts-bedrock/scripts/deploy/Deploy.s.sol
Owners: @ethereum-optimism/contract-reviewers

feat: separate deployImplementations
  packages/contracts-bedrock/scripts/deploy/Deploy.s.sol
Owners: @ethereum-optimism/contract-reviewers

fix: transfer ProxyAdmin ownership after all setup is complete
  packages/contracts-bedrock/scripts/deploy/Deploy.s.sol
Owners: @ethereum-optimism/contract-reviewers

feat: split up deployImplementations and deployImplementationsInterop
  packages/contracts-bedrock/scripts/deploy/Deploy.s.sol
Owners: @ethereum-optimism/contract-reviewers

fix: lint
  packages/contracts-bedrock/scripts/deploy/Deploy.s.sol
Owners: @ethereum-optimism/contract-reviewers

test: add BenchmarkChannelManager_TxData
  op-batcher/batcher/channel_manager_test.go
Owners: @ethereum-optimism/op-stack, @ethereum-optimism/go-reviewers

Configurable Dispute Game Parameters
  packages/contracts-bedrock/scripts/DeployOPChain.s.sol
  packages/contracts-bedrock/src/L1/OPContractsManager.sol
  packages/contracts-bedrock/test/L1/OPContractsManager.t.sol
  packages/contracts-bedrock/test/opcm/DeployOPChain.t.sol
Owners: @ethereum-optimism/contract-reviewers

fix: more assertions for DeployOPChain.t.sol.
  packages/contracts-bedrock/test/opcm/DeployOPChain.t.sol
Owners: @ethereum-optimism/contract-reviewers

fix: running pre-pr command.
  op-chain-ops/deployer/opcm/opchain.go
  op-chain-ops/deployer/pipeline/opchain.go
  op-chain-ops/interopgen/configs.go
  op-chain-ops/interopgen/deploy.go
  op-chain-ops/interopgen/recipe.go
  packages/contracts-bedrock/semver-lock.json
  packages/contracts-bedrock/snapshots/abi/OPContractsManager.json
  packages/contracts-bedrock/snapshots/abi/OPContractsManagerInterop.json
Owners: @ethereum-optimism/op-stack, @ethereum-optimism/go-reviewers, @ethereum-optimism/contract-reviewers

fix: changing dispute game types.
  op-chain-ops/deployer/opcm/opchain.go
  op-chain-ops/deployer/pipeline/opchain.go
  op-chain-ops/interopgen/configs.go
  op-chain-ops/interopgen/recipe.go
  packages/contracts-bedrock/src/L1/OPContractsManager.sol
Owners: @ethereum-optimism/op-stack, @ethereum-optimism/go-reviewers, @ethereum-optimism/contract-reviewers

fix: semver lock file change.
  packages/contracts-bedrock/semver-lock.json
Owners: @ethereum-optimism/contract-reviewers

fix: uint64 for maxGameDepth and splitDepth on go side.
  op-chain-ops/deployer/opcm/opchain.go
  op-chain-ops/deployer/pipeline/opchain.go
  op-chain-ops/interopgen/configs.go
  op-chain-ops/interopgen/recipe.go
  packages/contracts-bedrock/semver-lock.json
  packages/contracts-bedrock/src/L1/OPContractsManager.sol
Owners: @ethereum-optimism/op-stack, @ethereum-optimism/go-reviewers, @ethereum-optimism/contract-reviewers

.github/CODEOWNERS:

# Monorepo - default to go-reviewers
* @ethereum-optimism/go-reviewers

# OP Stack general
/bedrock-devnet @ethereum-optimism/op-stack @ethereum-optimism/go-reviewers
/op-alt-da      @ethereum-optimism/op-stack @ethereum-optimism/go-reviewers
/op-batcher     @ethereum-optimism/op-stack @ethereum-optimism/go-reviewers
/op-chain-ops   @ethereum-optimism/op-stack @ethereum-optimism/go-reviewers
/op-e2e         @ethereum-optimism/op-stack @ethereum-optimism/go-reviewers
/op-node        @ethereum-optimism/op-stack @ethereum-optimism/go-reviewers
/op-proposer    @ethereum-optimism/op-stack @ethereum-optimism/go-reviewers
/op-wheel       @ethereum-optimism/op-stack @ethereum-optimism/go-reviewers
/ops-bedrock    @ethereum-optimism/op-stack @ethereum-optimism/go-reviewers

# Expert areas
/op-node/rollup @ethereum-optimism/consensus @ethereum-optimism/go-reviewers

/op-supervisor  @ethereum-optimism/interop @ethereum-optimism/go-reviewers

/op-conductor   @ethereum-optimism/op-conductor @ethereum-optimism/go-reviewers

/cannon                @ethereum-optimism/proofs @ethereum-optimism/go-reviewers
/op-challenger         @ethereum-optimism/proofs @ethereum-optimism/go-reviewers
/op-dispute-mon        @ethereum-optimism/proofs @ethereum-optimism/go-reviewers
/op-preimage           @ethereum-optimism/proofs @ethereum-optimism/go-reviewers
/op-program            @ethereum-optimism/proofs @ethereum-optimism/go-reviewers
/op-e2e/actions/proofs @ethereum-optimism/proofs @ethereum-optimism/go-reviewers
/op-e2e/faultproofs    @ethereum-optimism/proofs @ethereum-optimism/go-reviewers

# Ops
/.circleci       @ethereum-optimism/monorepo-ops-reviewers
/.github         @ethereum-optimism/monorepo-ops-reviewers
/ops             @ethereum-optimism/monorepo-ops-reviewers
/docker-bake.hcl @ethereum-optimism/monorepo-ops-reviewers

# Contracts
/packages/contracts-bedrock     @ethereum-optimism/contract-reviewers
