Repository ethereum-optimism/optimism, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/devxpod, @ethereum-optimism/go-reviewers, @protolambda, @ajsutton, @0x00101010, @zhwrd, @mslipper, @ethereum-optimism/monorepo-ops-reviewers, @ethereum-optimism/infra-reviewers, @ethereum-optimism/release-managers

.github/CODEOWNERS:

# Packages
/packages/contracts-bedrock     @ethereum-optimism/contract-reviewers
/packages/sdk                   @ethereum-optimism/devxpod

# Bedrock codebases
/bedrock-devnet @ethereum-optimism/go-reviewers
/cannon         @ethereum-optimism/go-reviewers
/op-batcher     @ethereum-optimism/go-reviewers
/op-bootnode    @ethereum-optimism/go-reviewers
/op-chain-ops   @ethereum-optimism/go-reviewers
/op-challenger  @ethereum-optimism/go-reviewers
/op-dispute-mon  @ethereum-optimism/go-reviewers
/op-e2e         @ethereum-optimism/go-reviewers
/op-heartbeat   @ethereum-optimism/go-reviewers
/op-node        @ethereum-optimism/go-reviewers
/op-node/rollup @protolambda @ajsutton
/op-plasma      @ethereum-optimism/go-reviewers
/op-preimage    @ethereum-optimism/go-reviewers
/op-program     @ethereum-optimism/go-reviewers
/op-proposer    @ethereum-optimism/go-reviewers
/op-service     @ethereum-optimism/go-reviewers
/op-supervisor  @ethereum-optimism/go-reviewers
/op-wheel       @ethereum-optimism/go-reviewers
/ops-bedrock    @ethereum-optimism/go-reviewers
/op-conductor   @0x00101010 @zhwrd @mslipper

# Ops
/.circleci       @ethereum-optimism/monorepo-ops-reviewers
/.github         @ethereum-optimism/monorepo-ops-reviewers
/ops             @ethereum-optimism/monorepo-ops-reviewers
/docker-bake.hcl @ethereum-optimism/monorepo-ops-reviewers

# Misc
/proxyd           @ethereum-optimism/infra-reviewers
/infra            @ethereum-optimism/infra-reviewers
/specs            @ethereum-optimism/contract-reviewers @ethereum-optimism/go-reviewers

# Don't add owners if only package.json is updated
/packages/*/package.json
/*/package.json

# JavaScript Releases
/packages/*/CHANGELOG.md @ethereum-optimism/release-managers
/*/CHANGELOG.md          @ethereum-optimism/release-managers

ci: install just
  .circleci/config.yml
Owners: @ethereum-optimism/monorepo-ops-reviewers

ts-linting: remove
  packages/contracts-bedrock/justfile
Owners: @ethereum-optimism/contract-reviewers

docs: update
  packages/contracts-bedrock/CONTRIBUTING.md
Owners: @ethereum-optimism/contract-reviewers

CONTRIBUTING: update
  packages/contracts-bedrock/CONTRIBUTING.md
Owners: @ethereum-optimism/contract-reviewers

ci: fix
  .circleci/config.yml
Owners: @ethereum-optimism/monorepo-ops-reviewers

readme: update
  packages/contracts-bedrock/CONTRIBUTING.md
Owners: @ethereum-optimism/contract-reviewers

kontrol: regenerate snapshots
  packages/contracts-bedrock/justfile
  packages/contracts-bedrock/snapshots/state-diff/Kontrol-31337.json
Owners: @ethereum-optimism/contract-reviewers

ci: fix install
  .circleci/config.yml
Owners: @ethereum-optimism/monorepo-ops-reviewers

docs: update
  packages/contracts-bedrock/CONTRIBUTING.md
Owners: @ethereum-optimism/contract-reviewers

docs: update
  packages/contracts-bedrock/CONTRIBUTING.md
Owners: @ethereum-optimism/contract-reviewers

test: update
  packages/contracts-bedrock/test/libraries/SafeCall.t.sol
Owners: @ethereum-optimism/contract-reviewers

ci: install just
  .circleci/config.yml
Owners: @ethereum-optimism/monorepo-ops-reviewers

versions: use latest
  packages/contracts-bedrock/scripts/getting-started/versions.sh
  versions.json
Owners: @ethereum-optimism/contract-reviewers

ci: fix
  .circleci/config.yml
Owners: @ethereum-optimism/monorepo-ops-reviewers

safecall: update test
  packages/contracts-bedrock/test/libraries/SafeCall.t.sol
Owners: @ethereum-optimism/contract-reviewers

lint: fix
  packages/contracts-bedrock/test/libraries/SafeCall.t.sol
Owners: @ethereum-optimism/contract-reviewers

op-e2e: Test Granite EVM rules in op-program
  op-e2e/faultproofs/precompile_test.go
  op-e2e/setup.go
Owners: @ethereum-optimism/go-reviewers

contracts-bedrock: migrate to just (#11276)
  .circleci/config.yml
  .github/workflows/slither.yml
  ops/docker/Dockerfile.packages
  package.json
  packages/contracts-bedrock/.eslintignore
  packages/contracts-bedrock/.eslintrc.js
  packages/contracts-bedrock/.prettierrc.js
  packages/contracts-bedrock/CONTRIBUTING.md
  packages/contracts-bedrock/README.md
  packages/contracts-bedrock/justfile
  packages/contracts-bedrock/package.json
  packages/contracts-bedrock/pnpm-lock.yaml
  packages/contracts-bedrock/scripts/checks/check-snapshots.sh
  packages/contracts-bedrock/scripts/getting-started/versions.sh
  packages/contracts-bedrock/test/libraries/SafeCall.t.sol
  packages/contracts-bedrock/tsconfig.json
  versions.json
Owners: @ethereum-optimism/monorepo-ops-reviewers, @ethereum-optimism/contract-reviewers

fix: update is deposit var storage slot
  packages/contracts-bedrock/src/L2/L1Block.sol
  packages/contracts-bedrock/test/L2/GasPriceOracle.t.sol
  packages/contracts-bedrock/test/L2/L1Block.t.sol
  packages/contracts-bedrock/test/legacy/L1BlockNumber.t.sol
Owners: @ethereum-optimism/contract-reviewers

chore: update l2 cross inbox tests with the new is deposit check
  packages/contracts-bedrock/test/L2/CrossL2Inbox.t.sol
  packages/contracts-bedrock/test/L2/GasPriceOracle.t.sol
Owners: @ethereum-optimism/contract-reviewers

refactor: set is deposit as an unstructured storage slot var
  packages/contracts-bedrock/src/L2/L1Block.sol
Owners: @ethereum-optimism/contract-reviewers

op-proposer, op-batcher: Wait for sync in Start rather than loop. (#11192)
  op-batcher/batcher/driver.go
  op-proposer/proposer/driver.go
Owners: @ethereum-optimism/go-reviewers

feat: add missing natspec
  packages/contracts-bedrock/src/L2/CrossL2Inbox.sol
  packages/contracts-bedrock/src/L2/L1Block.sol
Owners: @ethereum-optimism/contract-reviewers

feat: update semver
  packages/contracts-bedrock/src/L2/CrossL2Inbox.sol
  packages/contracts-bedrock/src/L2/L1Block.sol
  packages/contracts-bedrock/test/L2/L1Block.t.sol
Owners: @ethereum-optimism/contract-reviewers

tests: fix
  packages/contracts-bedrock/test/L2/CrossL2Inbox.t.sol
Owners: @ethereum-optimism/contract-reviewers

remove nonReentrant and add tests for validateMessage, rename ENTERED_SLOT preimage
  packages/contracts-bedrock/src/L2/CrossL2Inbox.sol
  packages/contracts-bedrock/src/libraries/TransientContext.sol
  packages/contracts-bedrock/test/L2/CrossL2Inbox.t.sol
Owners: @ethereum-optimism/contract-reviewers

add natspec for _checkIdentifier and update that of validateMessage
  packages/contracts-bedrock/src/L2/CrossL2Inbox.sol
Owners: @ethereum-optimism/contract-reviewers

check all topics in crossl2inbox test, run pnpm snapshots
  packages/contracts-bedrock/snapshots/abi/CrossL2Inbox.json
  packages/contracts-bedrock/snapshots/abi/TransientReentrancyAware.json
  packages/contracts-bedrock/test/L2/CrossL2Inbox.t.sol
Owners: @ethereum-optimism/contract-reviewers

ctb: fix typo
  packages/contracts-bedrock/src/L2/CrossL2Inbox.sol
Owners: @ethereum-optimism/contract-reviewers

contracts-bedrock: improve `CrossL2Inbox` devex
  packages/contracts-bedrock/src/L2/CrossL2Inbox.sol
  packages/contracts-bedrock/src/L2/L2ToL2CrossDomainMessenger.sol
  packages/contracts-bedrock/src/libraries/TransientContext.sol
Owners: @ethereum-optimism/contract-reviewers

update version and semver-lock file
  packages/contracts-bedrock/semver-lock.json
  packages/contracts-bedrock/src/L2/CrossL2Inbox.sol
Owners: @ethereum-optimism/contract-reviewers

Revert "Fix devnet-up when op-program/bin is missing prestate-proof.json (#11383)"
  Makefile
Owners: none

deploy-config: Update OP Sepolia absolute prestate
  packages/contracts-bedrock/deploy-config/sepolia.json
Owners: @ethereum-optimism/contract-reviewers

contracts-bedrock: improve `CrossL2Inbox` devex (#11322)
  packages/contracts-bedrock/semver-lock.json
  packages/contracts-bedrock/snapshots/abi/CrossL2Inbox.json
  packages/contracts-bedrock/snapshots/abi/TransientReentrancyAware.json
  packages/contracts-bedrock/src/L2/CrossL2Inbox.sol
  packages/contracts-bedrock/src/L2/L2ToL2CrossDomainMessenger.sol
  packages/contracts-bedrock/src/libraries/TransientContext.sol
  packages/contracts-bedrock/test/L2/CrossL2Inbox.t.sol
Owners: @ethereum-optimism/contract-reviewers

chore: enhance natspec
  packages/contracts-bedrock/src/L2/L1Block.sol
Owners: @ethereum-optimism/contract-reviewers

Temporarily quiet noisy logs
  go.mod
  go.sum
Owners: none

Reorganized HC docs
  .gitbook/contents/developer/features/aa-basics/hybrid-compute.md
  .gitbook/contents/hc/1_write-handler.md
  .gitbook/contents/hc/2_server-setup.md
  .gitbook/contents/hc/3_write-smart-contract.md
  .gitbook/contents/hc/4_deploy-smart-contract.md
  .gitbook/contents/hc/README.md
  .gitbook/contents/hc/examples/README.md
  .gitbook/contents/hc/examples/aws_lambda_setup.md
  .gitbook/contents/hc/examples/kyc.md
  .gitbook/contents/hc/examples/monsters.md
  .gitbook/contents/hc/implementation.md
  .gitbook/contents/hc/start.md
  .gitbook/contents/hc/tutorial.md
Owners: none

add interop start timestamp to CrossL2Inbox with tests
  packages/contracts-bedrock/src/L2/CrossL2Inbox.sol
  packages/contracts-bedrock/src/L2/ICrossL2Inbox.sol
  packages/contracts-bedrock/test/L2/CrossL2Inbox.t.sol
Owners: @ethereum-optimism/contract-reviewers

Revert "Fix devnet-up when op-program/bin is missing prestate-proof.json (#11383)" (#11393)
  Makefile
Owners: none

change to function, add assertions, update tests
  packages/contracts-bedrock/src/L2/CrossL2Inbox.sol
  packages/contracts-bedrock/test/L2/CrossL2Inbox.t.sol
Owners: @ethereum-optimism/contract-reviewers
