Repository ethereum-optimism/optimism, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/devxpod, @ethereum-optimism/go-reviewers, @protolambda, @ajsutton, @0x00101010, @zhwrd, @mslipper, @ethereum-optimism/monorepo-ops-reviewers, @ethereum-optimism/infra-reviewers, @ethereum-optimism/release-managers

.github/CODEOWNERS:

# Packages
/packages/contracts-bedrock     @ethereum-optimism/contract-reviewers
/packages/sdk                   @ethereum-optimism/devxpod

# Bedrock codebases
/bedrock-devnet @ethereum-optimism/go-reviewers
/cannon         @ethereum-optimism/go-reviewers
/op-batcher     @ethereum-optimism/go-reviewers
/op-bootnode    @ethereum-optimism/go-reviewers
/op-chain-ops   @ethereum-optimism/go-reviewers
/op-challenger  @ethereum-optimism/go-reviewers
/op-dispute-mon  @ethereum-optimism/go-reviewers
/op-e2e         @ethereum-optimism/go-reviewers
/op-heartbeat   @ethereum-optimism/go-reviewers
/op-node        @ethereum-optimism/go-reviewers
/op-node/rollup @protolambda @ajsutton
/op-plasma      @ethereum-optimism/go-reviewers
/op-preimage    @ethereum-optimism/go-reviewers
/op-program     @ethereum-optimism/go-reviewers
/op-proposer    @ethereum-optimism/go-reviewers
/op-service     @ethereum-optimism/go-reviewers
/op-supervisor  @ethereum-optimism/go-reviewers
/op-wheel       @ethereum-optimism/go-reviewers
/ops-bedrock    @ethereum-optimism/go-reviewers
/op-conductor   @0x00101010 @zhwrd @mslipper

# Ops
/.circleci       @ethereum-optimism/monorepo-ops-reviewers
/.github         @ethereum-optimism/monorepo-ops-reviewers
/ops             @ethereum-optimism/monorepo-ops-reviewers
/docker-bake.hcl @ethereum-optimism/monorepo-ops-reviewers

# Misc
/proxyd           @ethereum-optimism/infra-reviewers
/infra            @ethereum-optimism/infra-reviewers
/specs            @ethereum-optimism/contract-reviewers @ethereum-optimism/go-reviewers

# Don't add owners if only package.json is updated
/packages/*/package.json
/*/package.json

# JavaScript Releases
/packages/*/CHANGELOG.md @ethereum-optimism/release-managers
/*/CHANGELOG.md          @ethereum-optimism/release-managers

Add comments about S256 curve override fix
  op-service/crypto/signature.go
  op-service/crypto/signature_test.go
Owners: @ethereum-optimism/go-reviewers

ci: better solc warnings check (#11231)
  .circleci/config.yml
  packages/contracts-bedrock/foundry.toml
  packages/contracts-bedrock/test/dispute/FaultDisputeGame.t.sol
Owners: @ethereum-optimism/monorepo-ops-reviewers, @ethereum-optimism/contract-reviewers

test: add L2 standard bridge interop unit tests (#13)
  packages/contracts-bedrock/scripts/Artifacts.s.sol
  packages/contracts-bedrock/snapshots/abi/L2StandardBridgeInterop.json
  packages/contracts-bedrock/snapshots/storageLayout/L2StandardBridgeInterop.json
  packages/contracts-bedrock/src/L2/L2StandardBridgeInterop.sol
  packages/contracts-bedrock/src/libraries/Predeploys.sol
  packages/contracts-bedrock/test/L2/L2StandardBridgeInterop.t.sol
  packages/contracts-bedrock/test/L2Genesis.t.sol
  packages/contracts-bedrock/test/setup/Setup.sol
  packages/contracts-bedrock/test/vendor/Initializable.t.sol
Owners: @ethereum-optimism/contract-reviewers

Update geth
  go.mod
  go.sum
Owners: none

ci: speed up contracts bedrock
  .circleci/config.yml
Owners: @ethereum-optimism/monorepo-ops-reviewers

repo: migrate away from pnpm
  .circleci/config.yml
  .github/actions/setup/action.yml
  .nvmrc
  CONTRIBUTING.md
  Makefile
  justfile
  op-e2e/README.md
  ops/docker/ci-builder/Dockerfile
  package.json
  packages/contracts-bedrock/CONTRIBUTING.md
  packages/contracts-bedrock/invariant-docs/README.md
  packages/contracts-bedrock/scripts/checks/check-foundry-install.sh
  packages/contracts-bedrock/scripts/getting-started/versions.sh
  packages/contracts-bedrock/scripts/go-ffi/README.md
  packages/contracts-bedrock/test/kontrol/README.md
  pnpm-lock.yaml
  pnpm-workspace.yaml
Owners: @ethereum-optimism/monorepo-ops-reviewers, @ethereum-optimism/go-reviewers, @ethereum-optimism/contract-reviewers

go.mod: update to op-geth v1.101407.0-rc.1
  go.mod
  go.sum
Owners: none

op-e2e: fix L1/L2 miner settings
  op-e2e/e2eutils/geth/geth.go
Owners: @ethereum-optimism/go-reviewers

ci: update geth tool to v1.14.7
  versions.json
Owners: none

ci: temporarily disable L1 geth version check, so L1 geth can be updated
  .circleci/config.yml
Owners: @ethereum-optimism/monorepo-ops-reviewers

repo: migrate away from pnpm (#11395)
  .circleci/config.yml
  .github/actions/setup/action.yml
  .nvmrc
  CONTRIBUTING.md
  Makefile
  justfile
  op-e2e/README.md
  ops/docker/ci-builder/Dockerfile
  package.json
  packages/contracts-bedrock/CONTRIBUTING.md
  packages/contracts-bedrock/invariant-docs/README.md
  packages/contracts-bedrock/scripts/checks/check-foundry-install.sh
  packages/contracts-bedrock/scripts/getting-started/versions.sh
  packages/contracts-bedrock/scripts/go-ffi/README.md
  packages/contracts-bedrock/test/kontrol/README.md
  pnpm-lock.yaml
  pnpm-workspace.yaml
Owners: @ethereum-optimism/monorepo-ops-reviewers, @ethereum-optimism/go-reviewers, @ethereum-optimism/contract-reviewers

ops-bedrock: explicit hash state.scheme on geth
  ops-bedrock/l1-geth-entrypoint.sh
  ops-bedrock/l2-op-geth-entrypoint.sh
Owners: @ethereum-optimism/go-reviewers

cannon: Add support for --type mt to enable multithreaded cannon
  Makefile
  cannon/cmd/load_elf.go
  cannon/cmd/run.go
  cannon/cmd/vmtype.go
  cannon/cmd/witness.go
Owners: @ethereum-optimism/go-reviewers

Run cannon-prestate if devnet cannon prestate files are missing (#11399)
  Makefile
Owners: none

Move locks into wrappers
  op-node/p2p/store/ip_ban_book.go
  op-node/p2p/store/mdbook.go
  op-node/p2p/store/peer_ban_book.go
  op-node/p2p/store/records_book.go
  op-node/p2p/store/scorebook.go
Owners: @ethereum-optimism/go-reviewers

Also update devnet L1 base image
  ops-bedrock/l1-geth.Dockerfile
Owners: @ethereum-optimism/go-reviewers

ci: update geth tool to v1.14.7 (#11410)
  .circleci/config.yml
  ops-bedrock/l1-geth-entrypoint.sh
  ops-bedrock/l2-op-geth-entrypoint.sh
  versions.json
Owners: @ethereum-optimism/monorepo-ops-reviewers, @ethereum-optimism/go-reviewers

op-challenger: Extract RegistrationTask to dedeuplicate registration code between different game types.
  op-challenger/flags/flags.go
  op-challenger/game/fault/register.go
  op-challenger/game/fault/register_task.go
  op-challenger/game/fault/trace/asterisc/prestate.go
  op-challenger/game/fault/trace/asterisc/provider.go
  op-challenger/game/fault/trace/cannon/prestate.go
  op-challenger/game/fault/trace/cannon/provider.go
  op-challenger/game/fault/trace/outputs/output_cannon.go
  op-challenger/game/fault/trace/vm/executor_test.go
  op-challenger/game/fault/trace/vm/kona_server_executor.go
  op-challenger/game/fault/trace/vm/kona_server_executor_test.go
  op-challenger/game/fault/trace/vm/op_program_server_executor.go
  op-challenger/game/fault/trace/vm/op_program_server_executor_test.go
  op-challenger/runner/factory.go
  op-dispute-mon/mon/extract/caller.go
  op-dispute-mon/mon/extract/caller_test.go
  op-e2e/e2eutils/disputegame/output_cannon_helper.go
  op-e2e/faultproofs/precompile_test.go
Owners: @ethereum-optimism/go-reviewers

contracts: use create2 for deploying SafeSingleton and SafeProxyFactory
  packages/contracts-bedrock/scripts/deploy/Deploy.s.sol
Owners: @ethereum-optimism/contract-reviewers

ci: manage versions in versions.json
  .circleci/config.yml
  versions.json
Owners: @ethereum-optimism/monorepo-ops-reviewers

ci: also pin just version
  .circleci/config.yml
Owners: @ethereum-optimism/monorepo-ops-reviewers

ci: bump ci-builder in circleci
  .circleci/config.yml
Owners: @ethereum-optimism/monorepo-ops-reviewers

op-proposer: ensure uniform proposal interval across restarts
  op-proposer/proposer/driver.go
Owners: @ethereum-optimism/go-reviewers

op-chain-ops: forge script running + artifacts FS
  go.mod
  go.sum
  op-chain-ops/foundry/artifact.go
  op-chain-ops/foundry/artifactsfs.go
  op-chain-ops/script/cheatcodes.go
  op-chain-ops/script/console.go
  op-chain-ops/script/context.go
  op-chain-ops/script/script.go
  op-chain-ops/script/script_test.go
  op-e2e/actions/l1_miner.go
  op-program/client/l2/engine_backend.go
  op-program/client/l2/engineapi/block_processor.go
  op-program/client/l2/engineapi/precompiles.go
  packages/contracts-bedrock/scripts/Experiment.s.sol
Owners: @ethereum-optimism/go-reviewers, @ethereum-optimism/contract-reviewers

parse response as SubmitBlockRequest
  op-service/sources/builder_client.go
Owners: @ethereum-optimism/go-reviewers

fix: reorder marshal funcs
  op-node/rollup/derive/l1_block_info.go
  packages/contracts-bedrock/src/L2/L1Block.sol
Owners: @protolambda, @ajsutton, @ethereum-optimism/contract-reviewers

cannon: Undo changes to memprofile patching
  cannon/mipsevm/program/patch.go
  op-program/client/cmd/main.go
Owners: @ethereum-optimism/go-reviewers

feat: add DepositSource to avoid possible collitions
  op-node/rollup/derive/deposit_source.go
  op-node/rollup/derive/l1_block_info.go
Owners: @protolambda, @ajsutton

cleanup builder api
  op-node/flags/flags.go
  op-node/metrics/metrics.go
  op-node/rollup/derive/engine_controller.go
  op-node/rollup/derive/engine_update.go
  op-node/rollup/derive/pipeline.go
  op-node/rollup/driver/driver.go
  op-node/rollup/driver/sequencer.go
  op-program/client/driver/driver.go
  op-service/sources/builder_client.go
Owners: @ethereum-optimism/go-reviewers, @protolambda, @ajsutton

Add RV reviews
  docs/security-reviews/2022_12-DepositTransaction-RuntimeVerification.pdf
  docs/security-reviews/README.md
Owners: none

Fix naming of trust audit to match convention
  docs/security-reviews/2023_12_SuperchainConfigUpgrade_Trust.pdf
  docs/security-reviews/README.md
Owners: none

refactor packages
  op-node/node/builder.go
  op-node/node/client.go
  op-node/node/config.go
  op-node/node/node.go
  op-node/rollup/builder/builder.go
  op-node/rollup/driver/driver.go
  op-node/service.go
Owners: @ethereum-optimism/go-reviewers, @protolambda, @ajsutton

fix builder metrics related interface errors
  op-node/metrics/metrics.go
  op-node/rollup/derive/engine_controller.go
  op-node/rollup/derive/engine_update.go
  op-program/client/driver/driver.go
Owners: @ethereum-optimism/go-reviewers, @protolambda, @ajsutton

add test that should fail
  packages/contracts-bedrock/test/libraries/SafeCall.t.sol
Owners: @ethereum-optimism/contract-reviewers

fix failing unit test build
  op-node/rollup/attributes/attributes_test.go
  op-node/rollup/derive/engine_queue_test.go
  op-service/testutils/metrics.go
Owners: @protolambda, @ajsutton, @ethereum-optimism/go-reviewers

Add RV reviews (#11422)
  docs/security-reviews/2022_12-DepositTransaction-RuntimeVerification.pdf
  docs/security-reviews/2023_12_SuperchainConfigUpgrade_Trust.pdf
  docs/security-reviews/README.md
Owners: none

cache test
  .circleci/config.yml
Owners: @ethereum-optimism/monorepo-ops-reviewers

fix: add generic factory interface (#14)
  packages/contracts-bedrock/src/L2/IOptimismERC20Factory.sol
  packages/contracts-bedrock/src/L2/L2StandardBridgeInterop.sol
  packages/contracts-bedrock/test/L2/L2StandardBridgeInterop.t.sol
Owners: @ethereum-optimism/contract-reviewers

run all tests with -vvv
  .circleci/config.yml
  packages/contracts-bedrock/justfile
Owners: @ethereum-optimism/monorepo-ops-reviewers, @ethereum-optimism/contract-reviewers

remove event server
  op-node/node/node.go
Owners: @ethereum-optimism/go-reviewers
