Repository ethereum-optimism/optimism, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ethereum-optimism/go-reviewers, @ethereum-optimism/op-stack, @ethereum-optimism/consensus, @ethereum-optimism/interop, @ethereum-optimism/op-conductor, @ethereum-optimism/proofs, @ethereum-optimism/monorepo-ops-reviewers, @ethereum-optimism/contract-reviewers

.github/CODEOWNERS:

# Monorepo - default to go-reviewers
* @ethereum-optimism/go-reviewers

# OP Stack general
/bedrock-devnet @ethereum-optimism/op-stack @ethereum-optimism/go-reviewers
/op-alt-da      @ethereum-optimism/op-stack @ethereum-optimism/go-reviewers
/op-batcher     @ethereum-optimism/op-stack @ethereum-optimism/go-reviewers
/op-chain-ops   @ethereum-optimism/op-stack @ethereum-optimism/go-reviewers
/op-e2e         @ethereum-optimism/op-stack @ethereum-optimism/go-reviewers
/op-node        @ethereum-optimism/op-stack @ethereum-optimism/go-reviewers
/op-proposer    @ethereum-optimism/op-stack @ethereum-optimism/go-reviewers
/op-wheel       @ethereum-optimism/op-stack @ethereum-optimism/go-reviewers
/ops-bedrock    @ethereum-optimism/op-stack @ethereum-optimism/go-reviewers

# Expert areas
/op-node/rollup @ethereum-optimism/consensus @ethereum-optimism/go-reviewers

/op-supervisor  @ethereum-optimism/interop @ethereum-optimism/go-reviewers

/op-conductor   @ethereum-optimism/op-conductor @ethereum-optimism/go-reviewers

/cannon                @ethereum-optimism/proofs @ethereum-optimism/go-reviewers
/op-challenger         @ethereum-optimism/proofs @ethereum-optimism/go-reviewers
/op-dispute-mon        @ethereum-optimism/proofs @ethereum-optimism/go-reviewers
/op-preimage           @ethereum-optimism/proofs @ethereum-optimism/go-reviewers
/op-program            @ethereum-optimism/proofs @ethereum-optimism/go-reviewers
/op-e2e/actions/proofs @ethereum-optimism/proofs @ethereum-optimism/go-reviewers
/op-e2e/faultproofs    @ethereum-optimism/proofs @ethereum-optimism/go-reviewers

# Ops
/.circleci       @ethereum-optimism/monorepo-ops-reviewers
/.github         @ethereum-optimism/monorepo-ops-reviewers
/ops             @ethereum-optimism/monorepo-ops-reviewers
/docker-bake.hcl @ethereum-optimism/monorepo-ops-reviewers

# Contracts
/packages/contracts-bedrock     @ethereum-optimism/contract-reviewers

natspec
  packages/contracts-bedrock/src/L1/OPContractsManager.sol
Owners: @ethereum-optimism/contract-reviewers

SEMVER
  packages/contracts-bedrock/semver-lock.json
Owners: @ethereum-optimism/contract-reviewers

remove devnet
  .circleci/config.yml
Owners: @ethereum-optimism/monorepo-ops-reviewers

remove devnet, build docker on machine
  .circleci/config.yml
Owners: @ethereum-optimism/monorepo-ops-reviewers

remove builder
  .circleci/config.yml
Owners: @ethereum-optimism/monorepo-ops-reviewers

add missing assertion and remove unneeded todo comments
  packages/contracts-bedrock/scripts/DeployOPChain.s.sol
  packages/contracts-bedrock/scripts/DeploySuperchain.s.sol
  packages/contracts-bedrock/src/L1/OPContractsManager.sol
Owners: @ethereum-optimism/contract-reviewers

chore: update missing bridge on natspec (#69)
  packages/contracts-bedrock/semver-lock.json
  packages/contracts-bedrock/src/L2/L2StandardBridgeInterop.sol
  packages/contracts-bedrock/src/L2/OptimismSuperchainERC20.sol
  packages/contracts-bedrock/src/L2/interfaces/IOptimismSuperchainERC20.sol
Owners: @ethereum-optimism/contract-reviewers

chore: semver lock + pre-pr-no-build
  packages/contracts-bedrock/justfile
  packages/contracts-bedrock/semver-lock.json
Owners: @ethereum-optimism/contract-reviewers

fix 64-bit test compilation errors
  cannon/mipsevm/tests/evm_common_test.go
  cannon/mipsevm/tests/evm_multithreaded_test.go
  cannon/mipsevm/tests/evm_singlethreaded_test.go
  cannon/mipsevm/tests/fuzz_evm_common_test.go
  cannon/mipsevm/tests/fuzz_evm_multithreaded_test.go
Owners: @ethereum-optimism/proofs, @ethereum-optimism/go-reviewers

chore: rename function
  packages/contracts-bedrock/scripts/DeployOPChain.s.sol
Owners: @ethereum-optimism/contract-reviewers

Add missing test comment
  op-node/rollup/sequencing/origin_selector_test.go
Owners: @ethereum-optimism/consensus, @ethereum-optimism/go-reviewers

L1OriginSelector erases cached state on reset
  op-e2e/actions/helpers/l2_sequencer.go
  op-node/rollup/driver/driver.go
  op-node/rollup/sequencing/origin_selector.go
Owners: @ethereum-optimism/op-stack, @ethereum-optimism/go-reviewers, @ethereum-optimism/consensus

L1OriginSelector attempts to fetch on ForkchoiceUpdateEvent
  op-node/rollup/sequencing/origin_selector.go
Owners: @ethereum-optimism/consensus, @ethereum-optimism/go-reviewers

Sequencer: Origin Selector optimistically prefetches the next origin in background
  op-e2e/actions/helpers/l2_sequencer.go
  op-node/rollup/driver/driver.go
  op-node/rollup/sequencing/origin_selector.go
  op-node/rollup/sequencing/origin_selector_test.go
Owners: @ethereum-optimism/op-stack, @ethereum-optimism/go-reviewers, @ethereum-optimism/consensus

Move to a fully event-driven model, no extra goroutines
  op-node/rollup/sequencing/origin_selector.go
  op-node/rollup/sequencing/origin_selector_test.go
Owners: @ethereum-optimism/consensus, @ethereum-optimism/go-reviewers

Tune the context timeouts
  op-node/rollup/sequencing/origin_selector.go
Owners: @ethereum-optimism/consensus, @ethereum-optimism/go-reviewers

Minor cleanup, more tests
  op-node/rollup/sequencing/origin_selector.go
  op-node/rollup/sequencing/origin_selector_test.go
Owners: @ethereum-optimism/consensus, @ethereum-optimism/go-reviewers

Update op-supervisor/supervisor/backend/safety/safety.go
  op-supervisor/supervisor/backend/safety/safety.go
Owners: @ethereum-optimism/interop, @ethereum-optimism/go-reviewers

op-node,op-service,op-e2e: wip, fix interop op-node tests
  op-e2e/actions/interop/interop_test.go
  op-node/rollup/engine/events.go
  op-node/rollup/interop/interop.go
  op-node/rollup/interop/interop_test.go
  op-service/sources/supervisor_client.go
  op-service/testutils/mock_interop_backend.go
Owners: @ethereum-optimism/op-stack, @ethereum-optimism/go-reviewers, @ethereum-optimism/consensus

sent message event and l2tol2cdm relayMessage entrypoint (#11592)
  packages/contracts-bedrock/semver-lock.json
  packages/contracts-bedrock/snapshots/abi/L2ToL2CrossDomainMessenger.json
  packages/contracts-bedrock/src/L2/L2ToL2CrossDomainMessenger.sol
  packages/contracts-bedrock/src/L2/interfaces/IL2ToL2CrossDomainMessenger.sol
  packages/contracts-bedrock/src/libraries/Hashing.sol
  packages/contracts-bedrock/test/L2/L2ToL2CrossDomainMessenger.t.sol
Owners: @ethereum-optimism/contract-reviewers

Add issue numbers to TODO ; Address Proto Comments
  op-supervisor/supervisor/backend/db/db.go
  op-supervisor/supervisor/backend/safety/safety.go
  op-supervisor/supervisor/backend/safety/views.go
Owners: @ethereum-optimism/interop, @ethereum-optimism/go-reviewers

fix: remove superchain erc20 base (#70)
  packages/contracts-bedrock/semver-lock.json
  packages/contracts-bedrock/src/L2/OptimismSuperchainERC20.sol
  packages/contracts-bedrock/src/L2/OptimismSuperchainERC20Factory.sol
  packages/contracts-bedrock/src/L2/SuperchainERC20.sol
  packages/contracts-bedrock/src/L2/interfaces/IOptimismSuperchainERC20.sol
  packages/contracts-bedrock/src/L2/interfaces/ISuperchainERC20.sol
  packages/contracts-bedrock/test/L2/L2StandardBridgeInterop.t.sol
  packages/contracts-bedrock/test/L2/SuperchainERC20.t.sol
  packages/contracts-bedrock/test/L2/SuperchainERC20Bridge.t.sol
Owners: @ethereum-optimism/contract-reviewers

contracts-bedrock: better error message (#12148)
  packages/contracts-bedrock/scripts/checks/check-foundry-install.sh
Owners: @ethereum-optimism/contract-reviewers

typo fix (#12179)
  packages/contracts-bedrock/semver-lock.json
  packages/contracts-bedrock/src/cannon/PreimageOracle.sol
Owners: @ethereum-optimism/contract-reviewers

one big docker build job
  .circleci/config.yml
Owners: @ethereum-optimism/monorepo-ops-reviewers

Updates to OPCM and OPCMInterop
  packages/contracts-bedrock/OPCM-flat.sol
  packages/contracts-bedrock/src/L1/OPContractsManager.sol
  packages/contracts-bedrock/src/L1/OPContractsManagerInterop.sol
Owners: @ethereum-optimism/contract-reviewers

iterate
  .circleci/config.yml
Owners: @ethereum-optimism/monorepo-ops-reviewers

Update DeployImpls and OPCM Tests
  packages/contracts-bedrock/scripts/DeployImplementations.s.sol
  packages/contracts-bedrock/test/L1/OPContractsManager.t.sol
Owners: @ethereum-optimism/contract-reviewers

remove some unused imports
  packages/contracts-bedrock/scripts/DeployImplementations.s.sol
  packages/contracts-bedrock/src/L1/OPContractsManager.sol
Owners: @ethereum-optimism/contract-reviewers

Undo DeployOutput type change
  packages/contracts-bedrock/src/L1/OPContractsManager.sol
Owners: @ethereum-optimism/contract-reviewers

Undo mapping type change
  packages/contracts-bedrock/src/L1/OPContractsManager.sol
Owners: @ethereum-optimism/contract-reviewers

type
  .circleci/config.yml
Owners: @ethereum-optimism/monorepo-ops-reviewers

remove
  .circleci/config.yml
Owners: @ethereum-optimism/monorepo-ops-reviewers

Semver and snapshots
  packages/contracts-bedrock/semver-lock.json
  packages/contracts-bedrock/snapshots/abi/OPContractsManager.json
  packages/contracts-bedrock/snapshots/abi/OPContractsManagerInterop.json
  packages/contracts-bedrock/snapshots/storageLayout/OPContractsManager.json
  packages/contracts-bedrock/snapshots/storageLayout/OPContractsManagerInterop.json
  packages/contracts-bedrock/src/L1/OPContractsManager.sol
Owners: @ethereum-optimism/contract-reviewers

Cleanups for production, add standard addresses (#12169)
  op-chain-ops/cmd/op-deployer/main.go
  op-chain-ops/deployer/bootstrap/bootstrap.go
  op-chain-ops/deployer/bootstrap/flags.go
  op-chain-ops/deployer/broadcaster/keyed.go
  op-chain-ops/deployer/flags.go
  op-chain-ops/deployer/init.go
  op-chain-ops/deployer/integration_test/apply_test.go
  op-chain-ops/deployer/opcm/implementations.go
  op-chain-ops/deployer/opcm/opchain.go
  op-chain-ops/deployer/opcm/standard.go
  op-chain-ops/deployer/pipeline/implementations.go
  op-chain-ops/deployer/pipeline/init.go
  op-chain-ops/deployer/pipeline/opchain.go
  op-chain-ops/deployer/state/deploy_config.go
  op-chain-ops/deployer/state/intent.go
  op-chain-ops/deployer/state/state.go
  op-chain-ops/interopgen/deploy.go
  op-chain-ops/script/script.go
  op-service/txmgr/txmgr.go
  packages/contracts-bedrock/scripts/DeployImplementations.s.sol
  packages/contracts-bedrock/scripts/DeployOPChain.s.sol
  packages/contracts-bedrock/semver-lock.json
  packages/contracts-bedrock/src/L1/OPContractsManager.sol
  packages/contracts-bedrock/src/L1/interfaces/IL1CrossDomainMessengerV160.sol
  packages/contracts-bedrock/src/L1/interfaces/IL1StandardBridgeV160.sol
  packages/contracts-bedrock/src/L1/interfaces/ISystemConfigV160.sol
  packages/contracts-bedrock/test/opcm/DeployImplementations.t.sol
  packages/contracts-bedrock/test/opcm/DeployOPChain.t.sol
Owners: @ethereum-optimism/op-stack, @ethereum-optimism/go-reviewers, @ethereum-optimism/contract-reviewers

use runner for contracts
  .circleci/config.yml
Owners: @ethereum-optimism/monorepo-ops-reviewers

refactor: update isuperchainweth (#71)
  packages/contracts-bedrock/semver-lock.json
  packages/contracts-bedrock/snapshots/abi/SuperchainWETH.json
  packages/contracts-bedrock/src/L2/SuperchainWETH.sol
  packages/contracts-bedrock/src/L2/interfaces/ISuperchainERC20.sol
  packages/contracts-bedrock/src/L2/interfaces/ISuperchainWETH.sol
  packages/contracts-bedrock/test/L2/SuperchainWETH.t.sol
  packages/contracts-bedrock/test/invariants/SuperchainWETH.t.sol
  packages/contracts-bedrock/test/setup/Setup.sol
Owners: @ethereum-optimism/contract-reviewers

Supervisor: Safety Index (#12154)
  op-e2e/interop/interop_test.go
  op-e2e/interop/supersystem.go
  op-node/rollup/interop/interop.go
  op-node/rollup/status/status.go
  op-supervisor/supervisor/backend/backend.go
  op-supervisor/supervisor/backend/db/db.go
  op-supervisor/supervisor/backend/db/heads/types.go
  op-supervisor/supervisor/backend/db/logs/iterator.go
  op-supervisor/supervisor/backend/db/logs/state.go
  op-supervisor/supervisor/backend/db/safety_checkers.go
  op-supervisor/supervisor/backend/db/safety_checkers_test.go
  op-supervisor/supervisor/backend/safety/safety.go
  op-supervisor/supervisor/backend/safety/views.go
  op-supervisor/supervisor/backend/source/chain.go
  op-supervisor/supervisor/backend/source/chain_processor.go
  op-supervisor/supervisor/backend/source/log_processor.go
  op-supervisor/supervisor/backend/source/log_processor_test.go
Owners: @ethereum-optimism/op-stack, @ethereum-optimism/go-reviewers, @ethereum-optimism/consensus, @ethereum-optimism/interop

Refactor TestGasPriceIncrease ; Add Test Case
  op-service/txmgr/txmgr_test.go
Owners: @ethereum-optimism/go-reviewers

OPCM: Adds a test, cleans up some TODOs, new justfile command (#12182)
  packages/contracts-bedrock/justfile
  packages/contracts-bedrock/scripts/DeployOPChain.s.sol
  packages/contracts-bedrock/scripts/DeploySuperchain.s.sol
  packages/contracts-bedrock/semver-lock.json
  packages/contracts-bedrock/src/L1/OPContractsManager.sol
Owners: @ethereum-optimism/contract-reviewers
