Repository ethereum-optimism/optimism, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ethereum-optimism/go-reviewers, @ethereum-optimism/op-stack, @ethereum-optimism/consensus, @ethereum-optimism/interop, @ethereum-optimism/op-conductor, @ethereum-optimism/proofs, @ethereum-optimism/monorepo-ops-reviewers, @ethereum-optimism/contract-reviewers

.github/CODEOWNERS:

# Monorepo - default to go-reviewers
* @ethereum-optimism/go-reviewers

# OP Stack general
/bedrock-devnet @ethereum-optimism/op-stack @ethereum-optimism/go-reviewers
/op-alt-da      @ethereum-optimism/op-stack @ethereum-optimism/go-reviewers
/op-batcher     @ethereum-optimism/op-stack @ethereum-optimism/go-reviewers
/op-chain-ops   @ethereum-optimism/op-stack @ethereum-optimism/go-reviewers
/op-e2e         @ethereum-optimism/op-stack @ethereum-optimism/go-reviewers
/op-node        @ethereum-optimism/op-stack @ethereum-optimism/go-reviewers
/op-proposer    @ethereum-optimism/op-stack @ethereum-optimism/go-reviewers
/op-wheel       @ethereum-optimism/op-stack @ethereum-optimism/go-reviewers
/ops-bedrock    @ethereum-optimism/op-stack @ethereum-optimism/go-reviewers

# Expert areas
/op-node/rollup @ethereum-optimism/consensus @ethereum-optimism/go-reviewers

/op-supervisor  @ethereum-optimism/interop @ethereum-optimism/go-reviewers

/op-conductor   @ethereum-optimism/op-conductor @ethereum-optimism/go-reviewers

/cannon                @ethereum-optimism/proofs @ethereum-optimism/go-reviewers
/op-challenger         @ethereum-optimism/proofs @ethereum-optimism/go-reviewers
/op-dispute-mon        @ethereum-optimism/proofs @ethereum-optimism/go-reviewers
/op-preimage           @ethereum-optimism/proofs @ethereum-optimism/go-reviewers
/op-program            @ethereum-optimism/proofs @ethereum-optimism/go-reviewers
/op-e2e/actions/proofs @ethereum-optimism/proofs @ethereum-optimism/go-reviewers
/op-e2e/faultproofs    @ethereum-optimism/proofs @ethereum-optimism/go-reviewers

# Ops
/.circleci       @ethereum-optimism/monorepo-ops-reviewers
/.github         @ethereum-optimism/monorepo-ops-reviewers
/ops             @ethereum-optimism/monorepo-ops-reviewers
/docker-bake.hcl @ethereum-optimism/monorepo-ops-reviewers

# Contracts
/packages/contracts-bedrock     @ethereum-optimism/contract-reviewers

supervisor: Fix nil check (#12209)
  op-supervisor/supervisor/backend/safety/views.go
Owners: @ethereum-optimism/interop, @ethereum-optimism/go-reviewers

Holocene extensions to L1Block.sol (#12096)
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/semver-lock.json
  packages/contracts-bedrock/snapshots/abi/L1Block.json
  packages/contracts-bedrock/snapshots/abi/L1BlockInterop.json
  packages/contracts-bedrock/snapshots/storageLayout/L1Block.json
  packages/contracts-bedrock/snapshots/storageLayout/L1BlockInterop.json
  packages/contracts-bedrock/src/L2/L1Block.sol
  packages/contracts-bedrock/src/L2/L1BlockInterop.sol
  packages/contracts-bedrock/src/L2/interfaces/IL1Block.sol
  packages/contracts-bedrock/src/L2/interfaces/IL1BlockInterop.sol
  packages/contracts-bedrock/src/libraries/Encoding.sol
  packages/contracts-bedrock/test/L2/L1Block.t.sol
Owners: @ethereum-optimism/contract-reviewers

cannon: Bump go tests to go1.22 (#12214)
  cannon/mipsevm/multithreaded/instrumented_test.go
  cannon/testdata/example/alloc/go.mod
  cannon/testdata/example/claim/go.mod
  cannon/testdata/example/entry/go.mod
  cannon/testdata/example/hello/go.mod
  cannon/testdata/example/multithreaded/go.mod
Owners: @ethereum-optimism/proofs, @ethereum-optimism/go-reviewers

- fix lint issue in Encoding.sol
  packages/contracts-bedrock/scripts/checks/check-foundry-install.sh
  packages/contracts-bedrock/src/libraries/Encoding.sol
Owners: @ethereum-optimism/contract-reviewers

- fix lint issue in Encoding.sol (#12215)
  packages/contracts-bedrock/scripts/checks/check-foundry-install.sh
  packages/contracts-bedrock/src/libraries/Encoding.sol
Owners: @ethereum-optimism/contract-reviewers

use interfaces in opcm contracts
  packages/contracts-bedrock/scripts/DeployImplementations.s.sol
  packages/contracts-bedrock/scripts/DeployOPChain.s.sol
  packages/contracts-bedrock/scripts/DeploySuperchain.s.sol
  packages/contracts-bedrock/scripts/checks/check-interfaces.sh
  packages/contracts-bedrock/scripts/deploy/Deploy.s.sol
  packages/contracts-bedrock/scripts/fpac/FPACOPS.s.sol
  packages/contracts-bedrock/scripts/fpac/FPACOPS2.s.sol
  packages/contracts-bedrock/semver-lock.json
  packages/contracts-bedrock/snapshots/abi/OPContractsManager.json
  packages/contracts-bedrock/snapshots/abi/OPContractsManagerInterop.json
  packages/contracts-bedrock/src/L1/OPContractsManager.sol
  packages/contracts-bedrock/src/L1/OPContractsManagerInterop.sol
  packages/contracts-bedrock/src/L1/interfaces/ISystemConfigInterop.sol
  packages/contracts-bedrock/test/L1/OPContractsManager.t.sol
  packages/contracts-bedrock/test/opcm/DeployImplementations.t.sol
  packages/contracts-bedrock/test/opcm/DeployOPChain.t.sol
  packages/contracts-bedrock/test/opcm/DeploySuperchain.t.sol
Owners: @ethereum-optimism/contract-reviewers

cannon: Update version of go used in cannon stf-diff
  cannon/Dockerfile.diff
Owners: @ethereum-optimism/proofs, @ethereum-optimism/go-reviewers

fix change
  packages/contracts-bedrock/test/opcm/DeployImplementations.t.sol
Owners: @ethereum-optimism/contract-reviewers

fix encodeConstructor omission
  packages/contracts-bedrock/scripts/DeploySuperchain.s.sol
Owners: @ethereum-optimism/contract-reviewers

fix(ci): add files to semgrep ignore
  .circleci/config.yml
  .semgrepignore
Owners: @ethereum-optimism/monorepo-ops-reviewers, @ethereum-optimism/go-reviewers

fix wrong interface usage
  packages/contracts-bedrock/test/opcm/DeployImplementations.t.sol
Owners: @ethereum-optimism/contract-reviewers

fix change
  packages/contracts-bedrock/test/opcm/DeployImplementations.t.sol
Owners: @ethereum-optimism/contract-reviewers

fix change
  packages/contracts-bedrock/test/opcm/DeployImplementations.t.sol
Owners: @ethereum-optimism/contract-reviewers

feat: v1.3.0 to v1.6.0 upgrade deployment script
  packages/contracts-bedrock/.gitignore
  packages/contracts-bedrock/scripts/upgrades/v1.3.0/v1.6.0-permissioned/.env.example
  packages/contracts-bedrock/scripts/upgrades/v1.3.0/v1.6.0-permissioned/DeployUpgrade.s.sol
  packages/contracts-bedrock/scripts/upgrades/v1.3.0/v1.6.0-permissioned/Dockerfile
  packages/contracts-bedrock/scripts/upgrades/v1.3.0/v1.6.0-permissioned/scripts/bundle.sh
  packages/contracts-bedrock/scripts/upgrades/v1.3.0/v1.6.0-permissioned/scripts/common.sh
  packages/contracts-bedrock/scripts/upgrades/v1.3.0/v1.6.0-permissioned/scripts/deploy.sh
  packages/contracts-bedrock/scripts/upgrades/v1.3.0/v1.6.0-permissioned/scripts/main.sh
  packages/contracts-bedrock/scripts/upgrades/v1.3.0/v1.6.0-permissioned/scripts/verify.sh
Owners: @ethereum-optimism/contract-reviewers

fix(ci): add files to semgrep ignore (#12219)
  .circleci/config.yml
  .semgrepignore
Owners: @ethereum-optimism/monorepo-ops-reviewers, @ethereum-optimism/go-reviewers

cannon: Update version of go used in cannon stf-diff (#12218)
  cannon/Dockerfile.diff
Owners: @ethereum-optimism/proofs, @ethereum-optimism/go-reviewers

versions.json: update Kontrol from `0.1.316` to `1.0.37`
  versions.json
Owners: @ethereum-optimism/go-reviewers

Update op-service/txmgr/txmgr_test.go
  op-service/txmgr/txmgr_test.go
Owners: @ethereum-optimism/go-reviewers

Configurable GasLimit for op-deployer
  op-chain-ops/deployer/opcm/opchain.go
  op-chain-ops/deployer/pipeline/opchain.go
  op-chain-ops/interopgen/configs.go
  op-chain-ops/interopgen/deploy.go
  packages/contracts-bedrock/scripts/DeployOPChain.s.sol
  packages/contracts-bedrock/semver-lock.json
  packages/contracts-bedrock/snapshots/abi/OPContractsManager.json
  packages/contracts-bedrock/snapshots/abi/OPContractsManagerInterop.json
  packages/contracts-bedrock/src/L1/OPContractsManager.sol
  packages/contracts-bedrock/test/L1/OPContractsManager.t.sol
  packages/contracts-bedrock/test/opcm/DeployOPChain.t.sol
Owners: @ethereum-optimism/op-stack, @ethereum-optimism/go-reviewers, @ethereum-optimism/contract-reviewers

code review updates
  op-e2e/actions/helpers/l2_proposer.go
  op-e2e/actions/helpers/user.go
  op-e2e/actions/helpers/user_test.go
  op-e2e/actions/proposer/l2_proposer_test.go
  op-e2e/config/init.go
  op-e2e/e2eutils/challenger/helper.go
  op-e2e/e2eutils/disputegame/helper.go
  op-e2e/system/bridge/validity_test.go
  op-e2e/system/bridge/withdrawal.go
  op-e2e/system/e2esys/setup.go
  op-e2e/system/gastoken/gastoken_test.go
  op-e2e/system/helpers/withdrawal_helper.go
Owners: @ethereum-optimism/op-stack, @ethereum-optimism/go-reviewers

fix: OPContractsManager.t.sol fixed.
  packages/contracts-bedrock/test/L1/OPContractsManager.t.sol
Owners: @ethereum-optimism/contract-reviewers

fix gastoken test
  op-e2e/system/gastoken/gastoken_test.go
Owners: @ethereum-optimism/op-stack, @ethereum-optimism/go-reviewers

review comments
  cannon/Makefile
  cannon/mipsevm/exec/mips_instructions.go
  cannon/mipsevm/memory/memory.go
  cannon/mipsevm/multithreaded/mips.go
  cannon/mipsevm/multithreaded/state_test.go
  cannon/mipsevm/program/load.go
  cannon/mipsevm/program/patch.go
  cannon/mipsevm/singlethreaded/state.go
  cannon/mipsevm/versions/state.go
Owners: @ethereum-optimism/proofs, @ethereum-optimism/go-reviewers

fixes
  .circleci/config.yml
  op-e2e/system/bridge/withdrawal.go
Owners: @ethereum-optimism/monorepo-ops-reviewers, @ethereum-optimism/op-stack, @ethereum-optimism/go-reviewers

test semgrep
  .circleci/config.yml
Owners: @ethereum-optimism/monorepo-ops-reviewers

more review comments
  cannon/mipsevm/exec/mips_syscalls.go
  cannon/mipsevm/multithreaded/mips.go
  ops/docker/op-stack-go/Dockerfile.dockerignore
Owners: @ethereum-optimism/proofs, @ethereum-optimism/go-reviewers, @ethereum-optimism/monorepo-ops-reviewers

fix: OPContractsManagerInterop.sol
  packages/contracts-bedrock/src/L1/OPContractsManagerInterop.sol
Owners: @ethereum-optimism/contract-reviewers

fix(ci): temporarily make semgrep scan ok on err
  .circleci/config.yml
Owners: @ethereum-optimism/monorepo-ops-reviewers

fcntl syscall err for 64-bit
  cannon/mipsevm/exec/mips_syscalls.go
Owners: @ethereum-optimism/proofs, @ethereum-optimism/go-reviewers

simplify pad check
  cannon/mipsevm/program/load.go
  cannon/mipsevm/program/patch.go
Owners: @ethereum-optimism/proofs, @ethereum-optimism/go-reviewers

fix(ci): temporarily make semgrep scan ok on err (#12227)
  .circleci/config.yml
Owners: @ethereum-optimism/monorepo-ops-reviewers

cannon: sc must store lsb 32 on 64-bits
  cannon/mipsevm/multithreaded/mips.go
Owners: @ethereum-optimism/proofs, @ethereum-optimism/go-reviewers

lint
  cannon/mipsevm/program/load.go
  cannon/mipsevm/program/patch.go
Owners: @ethereum-optimism/proofs, @ethereum-optimism/go-reviewers

fix sc 64-bit logic
  cannon/mipsevm/multithreaded/mips.go
  cannon/mipsevm/versions/state_test.go
Owners: @ethereum-optimism/proofs, @ethereum-optimism/go-reviewers

add TODO state test
  cannon/mipsevm/versions/state_test.go
Owners: @ethereum-optimism/proofs, @ethereum-optimism/go-reviewers

fix: make gas limit configurable.
  op-chain-ops/interopgen/recipe.go
  packages/contracts-bedrock/scripts/DeployOPChain.s.sol
  packages/contracts-bedrock/test/opcm/DeployOPChain.t.sol
Owners: @ethereum-optimism/op-stack, @ethereum-optimism/go-reviewers, @ethereum-optimism/contract-reviewers

op-deployer: Fix init bugs
  op-chain-ops/deployer/init.go
  op-chain-ops/deployer/state/artifacts_url.go
Owners: @ethereum-optimism/op-stack, @ethereum-optimism/go-reviewers

Configurable GasLimit for op-deployer (#12224)
  op-chain-ops/deployer/opcm/opchain.go
  op-chain-ops/deployer/pipeline/opchain.go
  op-chain-ops/interopgen/configs.go
  op-chain-ops/interopgen/deploy.go
  op-chain-ops/interopgen/recipe.go
  packages/contracts-bedrock/scripts/DeployOPChain.s.sol
  packages/contracts-bedrock/semver-lock.json
  packages/contracts-bedrock/snapshots/abi/OPContractsManager.json
  packages/contracts-bedrock/snapshots/abi/OPContractsManagerInterop.json
  packages/contracts-bedrock/src/L1/OPContractsManager.sol
  packages/contracts-bedrock/src/L1/OPContractsManagerInterop.sol
  packages/contracts-bedrock/test/L1/OPContractsManager.t.sol
  packages/contracts-bedrock/test/opcm/DeployOPChain.t.sol
Owners: @ethereum-optimism/op-stack, @ethereum-optimism/go-reviewers, @ethereum-optimism/contract-reviewers

remove commented fn
  packages/contracts-bedrock/src/L1/interfaces/ISystemConfigInterop.sol
Owners: @ethereum-optimism/contract-reviewers

make check-interfaces.sh warn on old versions of bash
  packages/contracts-bedrock/scripts/checks/check-interfaces.sh
Owners: @ethereum-optimism/contract-reviewers
