Repository ethereum-optimism/optimism, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ethereum-optimism/go-reviewers, @ethereum-optimism/op-stack, @ethereum-optimism/consensus, @ethereum-optimism/interop, @ethereum-optimism/op-conductor, @ethereum-optimism/proofs, @ethereum-optimism/monorepo-ops-reviewers, @ethereum-optimism/contract-reviewers

cannon: Fix GC emulation of Go programs (#11704)
  cannon/mipsevm/exec/memory.go
  cannon/mipsevm/exec/mips_syscalls.go
  cannon/mipsevm/memory/memory.go
  cannon/mipsevm/memory/memory_test.go
  cannon/mipsevm/multithreaded/instrumented.go
  cannon/mipsevm/multithreaded/instrumented_test.go
  cannon/mipsevm/multithreaded/mips.go
  cannon/mipsevm/multithreaded/testutil/expectations.go
  cannon/mipsevm/tests/evm_common_test.go
  cannon/mipsevm/tests/evm_multithreaded_test.go
  cannon/mipsevm/testutil/oracle.go
  cannon/testdata/example/alloc/main.go
  op-chain-ops/srcmap/solutil.go
  packages/contracts-bedrock/scripts/go-ffi/differential-testing.go
  packages/contracts-bedrock/scripts/testing/test-heavy-fuzz-modified-tests.sh
  packages/contracts-bedrock/semver-lock.json
  packages/contracts-bedrock/snapshots/abi/MIPS.json
  packages/contracts-bedrock/snapshots/abi/MIPS2.json
  packages/contracts-bedrock/src/cannon/MIPS.sol
  packages/contracts-bedrock/src/cannon/MIPS2.sol
  packages/contracts-bedrock/src/cannon/interfaces/IMIPS.sol
  packages/contracts-bedrock/src/cannon/interfaces/IMIPS2.sol
  packages/contracts-bedrock/src/cannon/libraries/CannonErrors.sol
  packages/contracts-bedrock/src/cannon/libraries/MIPSMemory.sol
  packages/contracts-bedrock/src/cannon/libraries/MIPSSyscalls.sol
  packages/contracts-bedrock/test/cannon/MIPS.t.sol
  packages/contracts-bedrock/test/cannon/MIPS2.t.sol
  packages/contracts-bedrock/test/kontrol/proofs/utils/DeploymentSummary.sol
  packages/contracts-bedrock/test/kontrol/proofs/utils/DeploymentSummaryCode.sol
  packages/contracts-bedrock/test/kontrol/proofs/utils/DeploymentSummaryFaultProofs.sol
  packages/contracts-bedrock/test/kontrol/proofs/utils/DeploymentSummaryFaultProofsCode.sol
  packages/contracts-bedrock/test/setup/FFIInterface.sol
Owners: @ethereum-optimism/go-reviewers, @ethereum-optimism/proofs, @ethereum-optimism/op-stack, @ethereum-optimism/contract-reviewers

Fix the error usage in cannon (#11368)
  cannon/cmd/run.go
  cannon/mipsevm/program/patch.go
  cannon/mipsevm/testutil/mips.go
Owners: @ethereum-optimism/go-reviewers, @ethereum-optimism/proofs

chore(op-program): Turn off `fsync` on pebble KV store (#11863)
  op-program/host/kvstore/pebble.go
Owners: @ethereum-optimism/go-reviewers, @ethereum-optimism/proofs

ci: parallelize Cannon go tests
  .circleci/config.yml
Owners: @ethereum-optimism/monorepo-ops-reviewers

fix: do not delete test data directory
  packages/contracts-bedrock/justfile
Owners: @ethereum-optimism/contract-reviewers

update: devnet uses latest eigenda-proxy v1.4.0 image
  ops-bedrock/docker-compose.yml
Owners: @ethereum-optimism/go-reviewers, @ethereum-optimism/op-stack

chore: Update devnet to use eigenda-proxy
  Makefile
  README.md
  bedrock-devnet/devnet/__init__.py
  ops-bedrock/docker-compose.yml
  ops-bedrock/grafana.env
  ops-bedrock/monitoring/grafana/dashboards/op_stack_compose_dashboard.json
  ops-bedrock/monitoring/grafana/provisioning/dashboards/all.yml
  ops-bedrock/monitoring/grafana/provisioning/datasources/all.yml
  ops-bedrock/monitoring/loki/config.yaml
  ops-bedrock/monitoring/prometheus/prometheus.yml
  ops-bedrock/monitoring/promtail/config.yaml
Owners: @ethereum-optimism/go-reviewers, @ethereum-optimism/op-stack

fix: makefile altda-devnet-up command uses new flag names (PLASMA -> ALTDA)
  Makefile
Owners: @ethereum-optimism/go-reviewers

add AltDAConfig.DAWindow
  op-node/rollup/finality/finalizer.go
  op-node/rollup/types.go
Owners: @ethereum-optimism/go-reviewers, @ethereum-optimism/consensus

discard candidate when ahead
  op-node/rollup/sync/start.go
Owners: @ethereum-optimism/go-reviewers, @ethereum-optimism/consensus

also discard result.Unsafe for consistency
  op-node/rollup/sync/start.go
Owners: @ethereum-optimism/go-reviewers, @ethereum-optimism/consensus

remove unnecessary type convertion for FakeGenesis
  op-node/rollup/sync/start_test.go
  op-service/testutils/fake_chain.go
Owners: @ethereum-optimism/go-reviewers, @ethereum-optimism/consensus

test: add L2 standard bridge interop unit tests (#13)
  packages/contracts-bedrock/src/libraries/Predeploys.sol
  packages/contracts-bedrock/test/vendor/Initializable.t.sol
Owners: @ethereum-optimism/contract-reviewers

fix: add generic factory interface (#14)
  packages/contracts-bedrock/src/L2/IOptimismERC20Factory.sol
Owners: @ethereum-optimism/contract-reviewers

feat: modify OptimismMintableERC20Factory for convert (#17)
  packages/contracts-bedrock/src/L2/IOptimismERC20Factory.sol
Owners: @ethereum-optimism/contract-reviewers

fix: PR fixes
  packages/contracts-bedrock/src/libraries/Predeploys.sol
Owners: @ethereum-optimism/contract-reviewers

feat: add superchain erc20 factory implementation (#23)
  packages/contracts-bedrock/semver-lock.json
  packages/contracts-bedrock/snapshots/abi/OptimismSuperchainERC20Beacon.json
  packages/contracts-bedrock/snapshots/abi/OptimismSuperchainERC20Factory.json
  packages/contracts-bedrock/snapshots/storageLayout/OptimismSuperchainERC20Beacon.json
  packages/contracts-bedrock/snapshots/storageLayout/OptimismSuperchainERC20Factory.json
  packages/contracts-bedrock/src/L2/OptimismSuperchainERC20Beacon.sol
  packages/contracts-bedrock/src/L2/OptimismSuperchainERC20Factory.sol
  packages/contracts-bedrock/src/libraries/Predeploys.sol
Owners: @ethereum-optimism/contract-reviewers

test: add superchain erc20 factory tests (#25)
  packages/contracts-bedrock/scripts/Artifacts.s.sol
  packages/contracts-bedrock/scripts/L2Genesis.s.sol
  packages/contracts-bedrock/test/L2/L2StandardBridgeInterop.t.sol
  packages/contracts-bedrock/test/L2/OptimismSuperchainERC20.t.sol
  packages/contracts-bedrock/test/L2/OptimismSuperchainERC20Factory.t.sol
  packages/contracts-bedrock/test/L2Genesis.t.sol
  packages/contracts-bedrock/test/setup/Setup.sol
Owners: @ethereum-optimism/contract-reviewers

test: fix expect emit
  packages/contracts-bedrock/test/L2/OptimismSuperchainERC20Factory.t.sol
Owners: @ethereum-optimism/contract-reviewers

fix: remove comments
  packages/contracts-bedrock/semver-lock.json
  packages/contracts-bedrock/src/L2/OptimismSuperchainERC20Factory.sol
Owners: @ethereum-optimism/contract-reviewers

feat: add constructor to superchain ERC20 beacon (#34)
  packages/contracts-bedrock/scripts/L2Genesis.s.sol
  packages/contracts-bedrock/semver-lock.json
  packages/contracts-bedrock/snapshots/abi/OptimismSuperchainERC20Beacon.json
  packages/contracts-bedrock/src/L2/OptimismSuperchainERC20Beacon.sol
  packages/contracts-bedrock/src/libraries/Predeploys.sol
  packages/contracts-bedrock/test/L2Genesis.t.sol
  packages/contracts-bedrock/test/Predeploys.t.sol
Owners: @ethereum-optimism/contract-reviewers

test: remove factory predeploy etch
  packages/contracts-bedrock/test/L2/L2StandardBridgeInterop.t.sol
Owners: @ethereum-optimism/contract-reviewers

fix: set an arbitrary address for superchain erc20 impl
  packages/contracts-bedrock/scripts/L2Genesis.s.sol
  packages/contracts-bedrock/src/libraries/Predeploys.sol
Owners: @ethereum-optimism/contract-reviewers

fix: conflicts and imports
  packages/contracts-bedrock/.testdata/.gitkeep
  packages/contracts-bedrock/scripts/L2Genesis.s.sol
  packages/contracts-bedrock/semver-lock.json
  packages/contracts-bedrock/src/L2/OptimismSuperchainERC20Beacon.sol
  packages/contracts-bedrock/src/L2/OptimismSuperchainERC20Factory.sol
  packages/contracts-bedrock/test/vendor/Initializable.t.sol
Owners: @ethereum-optimism/contract-reviewers

fix: deploy a proxy for the beacon on genesis (#45)
  packages/contracts-bedrock/scripts/L2Genesis.s.sol
  packages/contracts-bedrock/semver-lock.json
  packages/contracts-bedrock/src/L2/OptimismSuperchainERC20Beacon.sol
  packages/contracts-bedrock/src/libraries/Predeploys.sol
  packages/contracts-bedrock/test/L2Genesis.t.sol
Owners: @ethereum-optimism/contract-reviewers

chore: add .testdata
  packages/contracts-bedrock/.gitignore
  packages/contracts-bedrock/.testdata/.gitkeep
Owners: @ethereum-optimism/contract-reviewers

fix: adding back .testdata to gitignore
  packages/contracts-bedrock/.gitignore
Owners: @ethereum-optimism/contract-reviewers

fix: interfaces
  packages/contracts-bedrock/semver-lock.json
  packages/contracts-bedrock/src/L2/IOptimismERC20Factory.sol
  packages/contracts-bedrock/src/L2/OptimismSuperchainERC20Factory.sol
Owners: @ethereum-optimism/contract-reviewers

fix: new conflicts from ci improvements
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/scripts/L2Genesis.s.sol
  packages/contracts-bedrock/test/setup/Setup.sol
Owners: @ethereum-optimism/contract-reviewers

Add SendAsync to TxMgr
  op-challenger/sender/sender_test.go
  op-e2e/actions/l2_proposer.go
  op-service/txmgr/mocks/TxManager.go
  op-service/txmgr/txmgr.go
  op-service/txmgr/txmgr_test.go
Owners: @ethereum-optimism/go-reviewers, @ethereum-optimism/proofs, @ethereum-optimism/op-stack

review updates + tests
  op-service/txmgr/txmgr.go
  op-service/txmgr/txmgr_test.go
Owners: @ethereum-optimism/go-reviewers

Revert "also discard result.Unsafe for consistency"
  op-node/rollup/sync/start.go
Owners: @ethereum-optimism/go-reviewers, @ethereum-optimism/consensus

Add SendAsync to TxMgr (#11843)
  op-challenger/sender/sender_test.go
  op-e2e/actions/l2_proposer.go
  op-service/txmgr/mocks/TxManager.go
  op-service/txmgr/txmgr.go
  op-service/txmgr/txmgr_test.go
Owners: @ethereum-optimism/go-reviewers, @ethereum-optimism/proofs, @ethereum-optimism/op-stack

feat: introduce OptimismSuperchainERC20Factory (#11617)
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/scripts/Artifacts.s.sol
  packages/contracts-bedrock/scripts/L2Genesis.s.sol
  packages/contracts-bedrock/semver-lock.json
  packages/contracts-bedrock/snapshots/abi/OptimismSuperchainERC20Beacon.json
  packages/contracts-bedrock/snapshots/abi/OptimismSuperchainERC20Factory.json
  packages/contracts-bedrock/snapshots/storageLayout/OptimismSuperchainERC20Beacon.json
  packages/contracts-bedrock/snapshots/storageLayout/OptimismSuperchainERC20Factory.json
  packages/contracts-bedrock/src/L2/OptimismSuperchainERC20Beacon.sol
  packages/contracts-bedrock/src/L2/OptimismSuperchainERC20Factory.sol
  packages/contracts-bedrock/src/libraries/Predeploys.sol
  packages/contracts-bedrock/test/L2/L2StandardBridgeInterop.t.sol
  packages/contracts-bedrock/test/L2/OptimismSuperchainERC20.t.sol
  packages/contracts-bedrock/test/L2/OptimismSuperchainERC20Factory.t.sol
  packages/contracts-bedrock/test/L2Genesis.t.sol
  packages/contracts-bedrock/test/Predeploys.t.sol
  packages/contracts-bedrock/test/setup/Setup.sol
Owners: @ethereum-optimism/contract-reviewers

txmgr: improve code sharing between Send and SendAsync
  op-service/txmgr/txmgr.go
  op-service/txmgr/txmgr_test.go
Owners: @ethereum-optimism/go-reviewers

Update packages/contracts-bedrock/test/DeployOPChain.t.sol
  packages/contracts-bedrock/test/DeployOPChain.t.sol
Owners: @ethereum-optimism/contract-reviewers

Update packages/contracts-bedrock/test/DeployOPChain.t.sol
  packages/contracts-bedrock/test/DeployOPChain.t.sol
Owners: @ethereum-optimism/contract-reviewers

test: add missing assertions
  packages/contracts-bedrock/test/DeployImplementations.t.sol
  packages/contracts-bedrock/test/DeployOPChain.t.sol
Owners: @ethereum-optimism/contract-reviewers

fix: do not delete test data directory (#11869)
  packages/contracts-bedrock/justfile
Owners: @ethereum-optimism/contract-reviewers

.github/CODEOWNERS:

# Monorepo - default to go-reviewers
* @ethereum-optimism/go-reviewers

# OP Stack general
/bedrock-devnet @ethereum-optimism/go-reviewers @ethereum-optimism/op-stack
/op-alt-da      @ethereum-optimism/go-reviewers @ethereum-optimism/op-stack
/op-batcher     @ethereum-optimism/go-reviewers @ethereum-optimism/op-stack
/op-chain-ops   @ethereum-optimism/go-reviewers @ethereum-optimism/op-stack
/op-e2e         @ethereum-optimism/go-reviewers @ethereum-optimism/op-stack
/op-node        @ethereum-optimism/go-reviewers @ethereum-optimism/op-stack
/op-proposer    @ethereum-optimism/go-reviewers @ethereum-optimism/op-stack
/op-wheel       @ethereum-optimism/go-reviewers @ethereum-optimism/op-stack
/ops-bedrock    @ethereum-optimism/go-reviewers @ethereum-optimism/op-stack

# Expert areas
/op-node/rollup @ethereum-optimism/go-reviewers @ethereum-optimism/consensus

/op-supervisor  @ethereum-optimism/go-reviewers @ethereum-optimism/interop

/op-conductor   @ethereum-optimism/go-reviewers @ethereum-optimism/op-conductor

/cannon         @ethereum-optimism/go-reviewers @ethereum-optimism/proofs
/op-dispute-mon @ethereum-optimism/go-reviewers @ethereum-optimism/proofs
/op-challenger  @ethereum-optimism/go-reviewers @ethereum-optimism/proofs
/op-preimage    @ethereum-optimism/go-reviewers @ethereum-optimism/proofs
/op-program     @ethereum-optimism/go-reviewers @ethereum-optimism/proofs

# Ops
/.circleci       @ethereum-optimism/monorepo-ops-reviewers
/.github         @ethereum-optimism/monorepo-ops-reviewers
/ops             @ethereum-optimism/monorepo-ops-reviewers
/docker-bake.hcl @ethereum-optimism/monorepo-ops-reviewers

# Contracts
/packages/contracts-bedrock     @ethereum-optimism/contract-reviewers
