Repository ethereum-optimism/optimism, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ethereum-optimism/security-reviewers, @ethereum-optimism/infra-reviewers, @ethereum-optimism/typescript-reviewers, @ethereum-optimism/contract-reviewers, @ethereum-optimism/legacy-reviewers, @ethereum-optimism/devxpod, @ethereum-optimism/go-reviewers, @protolambda, @trianglesphere, @ajsutton, @0x00101010, @zhwrd, @mslipper, @ethereum-optimism/monorepo-ops-reviewers, @ethereum-optimism/release-managers

.github/CODEOWNERS:

# Packages
/packages/chain-mon             @ethereum-optimism/security-reviewers
/packages/chain-mon/internal/balance-mon             @ethereum-optimism/infra-reviewers
/packages/common-ts             @ethereum-optimism/typescript-reviewers
/packages/contracts-bedrock     @ethereum-optimism/contract-reviewers
/packages/core-utils            @ethereum-optimism/legacy-reviewers
/packages/sdk                   @ethereum-optimism/devxpod

# Bedrock codebases
/bedrock-devnet @ethereum-optimism/go-reviewers
/cannon         @ethereum-optimism/go-reviewers
/op-batcher     @ethereum-optimism/go-reviewers
/op-bootnode    @ethereum-optimism/go-reviewers
/op-chain-ops   @ethereum-optimism/go-reviewers
/op-challenger  @ethereum-optimism/go-reviewers
/op-dispute-mon  @ethereum-optimism/go-reviewers
/op-e2e         @ethereum-optimism/go-reviewers
/op-heartbeat   @ethereum-optimism/go-reviewers
/op-node        @ethereum-optimism/go-reviewers
/op-node/rollup @protolambda @trianglesphere @ajsutton
/op-plasma      @ethereum-optimism/go-reviewers
/op-preimage    @ethereum-optimism/go-reviewers
/op-program     @ethereum-optimism/go-reviewers
/op-proposer    @ethereum-optimism/go-reviewers
/op-service     @ethereum-optimism/go-reviewers
/op-wheel       @ethereum-optimism/go-reviewers
/ops-bedrock    @ethereum-optimism/go-reviewers
/op-conductor   @0x00101010 @zhwrd @mslipper

# Ops
/.circleci       @ethereum-optimism/monorepo-ops-reviewers
/.github         @ethereum-optimism/monorepo-ops-reviewers
/ops             @ethereum-optimism/monorepo-ops-reviewers
/docker-bake.hcl @ethereum-optimism/monorepo-ops-reviewers

# Misc
/proxyd           @ethereum-optimism/infra-reviewers
/indexer          @ethereum-optimism/devxpod
/infra            @ethereum-optimism/infra-reviewers
/specs            @ethereum-optimism/contract-reviewers @ethereum-optimism/go-reviewers
/endpoint-monitor @ethereum-optimism/infra-reviewers

# Don't add owners if only package.json is updated
/packages/*/package.json
/*/package.json

# JavaScript Releases
/packages/*/CHANGELOG.md @ethereum-optimism/release-managers
/*/CHANGELOG.md          @ethereum-optimism/release-managers

op-batcher: Support generic DA commitment type - fix bugs in commitment propagation from test da server
  op-plasma/cli.go
  op-plasma/commitment.go
  op-plasma/daclient.go
  op-plasma/daserver.go
Owners: @ethereum-optimism/go-reviewers

contracts-bedrock: remove dead deploy configs
  packages/contracts-bedrock/deploy-config/base-sepolia.json
  packages/contracts-bedrock/deploy-config/goerli.json
  packages/contracts-bedrock/deploy-config/pgn-sepolia.json
  packages/contracts-bedrock/deploy-config/pgn.json
  packages/contracts-bedrock/deploy-config/zora-goerli.json
  packages/contracts-bedrock/deploy-config/zora-sepolia.json
  packages/contracts-bedrock/deploy-config/zora.json
Owners: @ethereum-optimism/contract-reviewers

cannon: Add units tests around hint writes
  cannon/mipsevm/evm_test.go
Owners: @ethereum-optimism/go-reviewers

cannon: Fix inverted conditional check
  cannon/mipsevm/mips.go
  cannon/mipsevm/state.go
Owners: @ethereum-optimism/go-reviewers

cannon: Update hint write fuzz tests to randomize target memory
  cannon/mipsevm/fuzz_evm_test.go
Owners: @ethereum-optimism/go-reviewers

cannon: Clean up unit test - remove panic helper
  cannon/mipsevm/evm_test.go
Owners: @ethereum-optimism/go-reviewers

imports: delete dead imports
  packages/chain-mon/contrib/initialized-upgraded-mon/service.ts
  packages/chain-mon/contrib/wallet-mon/service.ts
Owners: @ethereum-optimism/security-reviewers

ctb: Fix compiler warnings
  packages/contracts-bedrock/test/Safe/DeployOwnership.t.sol
Owners: @ethereum-optimism/contract-reviewers

ctb: Fix compiler warnings (#10513)
  packages/contracts-bedrock/test/Safe/DeployOwnership.t.sol
Owners: @ethereum-optimism/contract-reviewers

Update SystemConfig.t.sol
  packages/contracts-bedrock/test/L1/SystemConfig.t.sol
Owners: @ethereum-optimism/contract-reviewers

feat(ctb): Enforce maximum L2 gas limit
  packages/contracts-bedrock/invariant-docs/SystemConfig.md
  packages/contracts-bedrock/semver-lock.json
  packages/contracts-bedrock/snapshots/abi/SystemConfig.json
  packages/contracts-bedrock/src/L1/SystemConfig.sol
  packages/contracts-bedrock/test/L1/SystemConfig.t.sol
  packages/contracts-bedrock/test/invariants/SystemConfig.t.sol
  packages/contracts-bedrock/test/kontrol/proofs/utils/DeploymentSummary.sol
  packages/contracts-bedrock/test/kontrol/proofs/utils/DeploymentSummaryCode.sol
Owners: @ethereum-optimism/contract-reviewers

cannon: Add error handling to fuzz test randomBytes helper
  cannon/mipsevm/fuzz_evm_test.go
Owners: @ethereum-optimism/go-reviewers

dead-code: cleanup
  op-chain-ops/genesis/config.go
  op-chain-ops/upgrades/check.go
Owners: @ethereum-optimism/go-reviewers

op-chain-ops: bindings decouple
  op-chain-ops/cmd/check-ecotone/bindings/gaspriceoracle.go
  op-chain-ops/cmd/check-ecotone/main.go
  op-chain-ops/genesis/config.go
  op-chain-ops/genesis/layer_one.go
  op-chain-ops/upgrades/check.go
  op-chain-ops/upgrades/l1.go
Owners: @ethereum-optimism/go-reviewers

build: fix
  op-chain-ops/genesis/config.go
Owners: @ethereum-optimism/go-reviewers

Update packages/contracts-bedrock/test/kontrol/README.md
  packages/contracts-bedrock/test/kontrol/README.md
Owners: @ethereum-optimism/contract-reviewers

Update packages/contracts-bedrock/test/kontrol/README.md
  packages/contracts-bedrock/test/kontrol/README.md
Owners: @ethereum-optimism/contract-reviewers

summary tests
  packages/contracts-bedrock/test/kontrol/deployment/DeploymentSummaryFaultProofs.t.sol
  packages/contracts-bedrock/test/kontrol/scripts/run-kontrol.sh
Owners: @ethereum-optimism/contract-reviewers

Update `check-snapshots`
  packages/contracts-bedrock/package.json
  packages/contracts-bedrock/scripts/checks/check-snapshots.sh
  packages/contracts-bedrock/test/kontrol/proofs/utils/DeploymentSummaryFaultProofs.sol
Owners: @ethereum-optimism/contract-reviewers

tests
  packages/contracts-bedrock/test/L1/OptimismPortal2.t.sol
  packages/contracts-bedrock/test/kontrol/deployment/DeploymentSummaryFaultProofs.t.sol
  packages/contracts-bedrock/test/kontrol/deployment/KontrolDeployment.sol
  packages/contracts-bedrock/test/kontrol/proofs/utils/DeploymentSummaryFaultProofs.sol
  packages/contracts-bedrock/test/kontrol/proofs/utils/DeploymentSummaryFaultProofsCode.sol
  packages/contracts-bedrock/test/kontrol/scripts/common.sh
  packages/contracts-bedrock/test/kontrol/scripts/make-summary-deployment.sh
Owners: @ethereum-optimism/contract-reviewers

feat(ctb): Support `OptimismPortal2` in kontrol tests
  .circleci/config.yml
  packages/contracts-bedrock/.gitignore
  packages/contracts-bedrock/package.json
  packages/contracts-bedrock/test/kontrol/README.md
  packages/contracts-bedrock/test/kontrol/deployment/KontrolDeployment.sol
  packages/contracts-bedrock/test/kontrol/proofs/OptimismPortal2.k.sol
  packages/contracts-bedrock/test/kontrol/proofs/utils/DeploymentSummaryFaultProofs.sol
  packages/contracts-bedrock/test/kontrol/proofs/utils/DeploymentSummaryFaultProofsCode.sol
  packages/contracts-bedrock/test/kontrol/scripts/make-summary-deployment.sh
  packages/contracts-bedrock/test/kontrol/scripts/run-kontrol.sh
Owners: @ethereum-optimism/monorepo-ops-reviewers, @ethereum-optimism/contract-reviewers

cannon: Fix inverted hint writing conditional check (#10514)
  cannon/mipsevm/evm_test.go
  cannon/mipsevm/fuzz_evm_test.go
  cannon/mipsevm/mips.go
  cannon/mipsevm/state.go
Owners: @ethereum-optimism/go-reviewers

feat(ctb): Enforce maximum L2 gas limit (#10500)
  packages/contracts-bedrock/invariant-docs/SystemConfig.md
  packages/contracts-bedrock/semver-lock.json
  packages/contracts-bedrock/snapshots/abi/SystemConfig.json
  packages/contracts-bedrock/src/L1/SystemConfig.sol
  packages/contracts-bedrock/test/L1/SystemConfig.t.sol
  packages/contracts-bedrock/test/invariants/SystemConfig.t.sol
  packages/contracts-bedrock/test/kontrol/proofs/utils/DeploymentSummary.sol
  packages/contracts-bedrock/test/kontrol/proofs/utils/DeploymentSummaryCode.sol
Owners: @ethereum-optimism/contract-reviewers

ctb: Change Safe contract version to GnosisSafe v1.3.0
  packages/contracts-bedrock/scripts/Deploy.s.sol
  packages/contracts-bedrock/scripts/DeployOwnership.s.sol
  packages/contracts-bedrock/src/Safe/DeputyGuardianModule.sol
  packages/contracts-bedrock/src/Safe/LivenessGuard.sol
  packages/contracts-bedrock/src/Safe/LivenessModule.sol
  packages/contracts-bedrock/test/Safe/DeployOwnership.t.sol
  packages/contracts-bedrock/test/Safe/DeputyGuardianModule.t.sol
  packages/contracts-bedrock/test/Safe/LivenessGuard.t.sol
  packages/contracts-bedrock/test/Safe/LivenessModule.t.sol
  packages/contracts-bedrock/test/Safe/SafeSigners.t.sol
  packages/contracts-bedrock/test/safe-tools/CompatibilityFallbackHandler_1_3_0.sol
  packages/contracts-bedrock/test/safe-tools/SafeTestTools.sol
Owners: @ethereum-optimism/contract-reviewers

ctb: Update snapshots and semver-lock
  packages/contracts-bedrock/semver-lock.json
  packages/contracts-bedrock/snapshots/abi/DeputyGuardianModule.json
  packages/contracts-bedrock/snapshots/abi/LivenessGuard.json
  packages/contracts-bedrock/snapshots/abi/LivenessModule.json
  packages/contracts-bedrock/test/kontrol/proofs/utils/DeploymentSummaryCode.sol
Owners: @ethereum-optimism/contract-reviewers

Separate snapshot gen
  packages/contracts-bedrock/scripts/checks/check-snapshots.sh
  packages/contracts-bedrock/test/kontrol/proofs/utils/DeploymentSummaryFaultProofs.sol
  packages/contracts-bedrock/test/kontrol/proofs/utils/DeploymentSummaryFaultProofsCode.sol
  packages/contracts-bedrock/test/kontrol/scripts/common.sh
Owners: @ethereum-optimism/contract-reviewers

op-chain-ops: bindings decouple (#10493)
  op-chain-ops/cmd/check-ecotone/bindings/gaspriceoracle.go
  op-chain-ops/cmd/check-ecotone/main.go
  op-chain-ops/genesis/config.go
  op-chain-ops/genesis/layer_one.go
  op-chain-ops/upgrades/check.go
  op-chain-ops/upgrades/l1.go
Owners: @ethereum-optimism/go-reviewers

cannon: Handle div by zero in MIPS.sol (#10468)
  packages/contracts-bedrock/semver-lock.json
  packages/contracts-bedrock/src/cannon/MIPS.sol
  packages/contracts-bedrock/test/cannon/MIPS.t.sol
Owners: @ethereum-optimism/contract-reviewers

fmt
  packages/contracts-bedrock/semver-lock.json
  packages/contracts-bedrock/src/L1/SystemConfig.sol
  packages/contracts-bedrock/test/L1/SystemConfig.t.sol
Owners: @ethereum-optimism/contract-reviewers

feat(ctb): Remove `setResourceConfig`
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/semver-lock.json
  packages/contracts-bedrock/snapshots/abi/SystemConfig.json
  packages/contracts-bedrock/src/L1/SystemConfig.sol
  packages/contracts-bedrock/test/L1/SystemConfig.t.sol
  packages/contracts-bedrock/test/Specs.t.sol
  packages/contracts-bedrock/test/kontrol/proofs/utils/DeploymentSummary.sol
  packages/contracts-bedrock/test/kontrol/proofs/utils/DeploymentSummaryCode.sol
Owners: @ethereum-optimism/contract-reviewers

fix(op-node): p2p ipnet struct validation
  op-node/p2p/host_test.go
  op-node/p2p/rpc_server.go
Owners: @ethereum-optimism/go-reviewers

make l1.beacon-archiver work
  op-service/sources/l1_beacon_client.go
Owners: @ethereum-optimism/go-reviewers

ctb: Change Safe contract version to GnosisSafe v1.3.0 (#10515)
  packages/contracts-bedrock/scripts/Deploy.s.sol
  packages/contracts-bedrock/scripts/DeployOwnership.s.sol
  packages/contracts-bedrock/semver-lock.json
  packages/contracts-bedrock/snapshots/abi/DeputyGuardianModule.json
  packages/contracts-bedrock/snapshots/abi/LivenessGuard.json
  packages/contracts-bedrock/snapshots/abi/LivenessModule.json
  packages/contracts-bedrock/src/Safe/DeputyGuardianModule.sol
  packages/contracts-bedrock/src/Safe/LivenessGuard.sol
  packages/contracts-bedrock/src/Safe/LivenessModule.sol
  packages/contracts-bedrock/test/Safe/DeployOwnership.t.sol
  packages/contracts-bedrock/test/Safe/DeputyGuardianModule.t.sol
  packages/contracts-bedrock/test/Safe/LivenessGuard.t.sol
  packages/contracts-bedrock/test/Safe/LivenessModule.t.sol
  packages/contracts-bedrock/test/Safe/SafeSigners.t.sol
  packages/contracts-bedrock/test/kontrol/proofs/utils/DeploymentSummaryCode.sol
  packages/contracts-bedrock/test/safe-tools/CompatibilityFallbackHandler_1_3_0.sol
  packages/contracts-bedrock/test/safe-tools/SafeTestTools.sol
Owners: @ethereum-optimism/contract-reviewers

dispute-game: Sanity check disputed claim index
  packages/contracts-bedrock/semver-lock.json
  packages/contracts-bedrock/src/dispute/FaultDisputeGame.sol
  packages/contracts-bedrock/src/dispute/PermissionedDisputeGame.sol
  packages/contracts-bedrock/src/dispute/interfaces/IFaultDisputeGame.sol
  packages/contracts-bedrock/src/dispute/lib/Errors.sol
  packages/contracts-bedrock/test/actors/FaultDisputeActors.sol
  packages/contracts-bedrock/test/dispute/FaultDisputeGame.t.sol
  packages/contracts-bedrock/test/dispute/PermissionedDisputeGame.t.sol
  packages/contracts-bedrock/test/invariants/FaultDisputeGame.t.sol
Owners: @ethereum-optimism/contract-reviewers

feat(ctb): Support `OptimismPortal2` in kontrol tests (#10429)
  .circleci/config.yml
  packages/contracts-bedrock/.gitignore
  packages/contracts-bedrock/package.json
  packages/contracts-bedrock/test/L1/OptimismPortal2.t.sol
  packages/contracts-bedrock/test/kontrol/README.md
  packages/contracts-bedrock/test/kontrol/deployment/DeploymentSummaryFaultProofs.t.sol
  packages/contracts-bedrock/test/kontrol/deployment/KontrolDeployment.sol
  packages/contracts-bedrock/test/kontrol/proofs/OptimismPortal2.k.sol
  packages/contracts-bedrock/test/kontrol/proofs/utils/DeploymentSummaryFaultProofs.sol
  packages/contracts-bedrock/test/kontrol/proofs/utils/DeploymentSummaryFaultProofsCode.sol
  packages/contracts-bedrock/test/kontrol/scripts/common.sh
  packages/contracts-bedrock/test/kontrol/scripts/make-summary-deployment.sh
  packages/contracts-bedrock/test/kontrol/scripts/run-kontrol.sh
Owners: @ethereum-optimism/monorepo-ops-reviewers, @ethereum-optimism/contract-reviewers

op-conductor: add more logs for raft debugging
  op-conductor/conductor/service.go
  op-conductor/consensus/raft.go
  op-conductor/consensus/raft_fsm.go
  op-conductor/consensus/raft_fsm_test.go
Owners: @0x00101010, @zhwrd, @mslipper

Add barrier
  op-conductor/consensus/raft.go
Owners: @0x00101010, @zhwrd, @mslipper

Fix tests
  packages/contracts-bedrock/test/dispute/FaultDisputeGame.t.sol
  packages/contracts-bedrock/test/dispute/PermissionedDisputeGame.t.sol
Owners: @ethereum-optimism/contract-reviewers

update snapshots
  packages/contracts-bedrock/snapshots/abi/FaultDisputeGame.json
  packages/contracts-bedrock/snapshots/abi/PermissionedDisputeGame.json
Owners: @ethereum-optimism/contract-reviewers

use s.log instead of global log
  op-node/p2p/rpc_server.go
Owners: @ethereum-optimism/go-reviewers
