Repository ethereum-optimism/optimism, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ethereum-optimism/go-reviewers, @ethereum-optimism/op-stack, @ethereum-optimism/consensus, @ethereum-optimism/interop, @ethereum-optimism/op-conductor, @ethereum-optimism/proofs, @ethereum-optimism/monorepo-ops-reviewers, @ethereum-optimism/contract-reviewers

.github/CODEOWNERS:

# Monorepo - default to go-reviewers
* @ethereum-optimism/go-reviewers

# OP Stack general
/bedrock-devnet @ethereum-optimism/op-stack @ethereum-optimism/go-reviewers
/op-alt-da      @ethereum-optimism/op-stack @ethereum-optimism/go-reviewers
/op-batcher     @ethereum-optimism/op-stack @ethereum-optimism/go-reviewers
/op-chain-ops   @ethereum-optimism/op-stack @ethereum-optimism/go-reviewers
/op-e2e         @ethereum-optimism/op-stack @ethereum-optimism/go-reviewers
/op-node        @ethereum-optimism/op-stack @ethereum-optimism/go-reviewers
/op-proposer    @ethereum-optimism/op-stack @ethereum-optimism/go-reviewers
/op-wheel       @ethereum-optimism/op-stack @ethereum-optimism/go-reviewers
/ops-bedrock    @ethereum-optimism/op-stack @ethereum-optimism/go-reviewers

# Expert areas
/op-node/rollup @ethereum-optimism/consensus @ethereum-optimism/go-reviewers

/op-supervisor  @ethereum-optimism/interop @ethereum-optimism/go-reviewers

/op-conductor   @ethereum-optimism/op-conductor @ethereum-optimism/go-reviewers

/cannon                @ethereum-optimism/proofs @ethereum-optimism/go-reviewers
/op-challenger         @ethereum-optimism/proofs @ethereum-optimism/go-reviewers
/op-dispute-mon        @ethereum-optimism/proofs @ethereum-optimism/go-reviewers
/op-preimage           @ethereum-optimism/proofs @ethereum-optimism/go-reviewers
/op-program            @ethereum-optimism/proofs @ethereum-optimism/go-reviewers
/op-e2e/actions/proofs @ethereum-optimism/proofs @ethereum-optimism/go-reviewers
/op-e2e/faultproofs    @ethereum-optimism/proofs @ethereum-optimism/go-reviewers

# Ops
/.circleci       @ethereum-optimism/monorepo-ops-reviewers
/.github         @ethereum-optimism/monorepo-ops-reviewers
/ops             @ethereum-optimism/monorepo-ops-reviewers
/docker-bake.hcl @ethereum-optimism/monorepo-ops-reviewers

# Contracts
/packages/contracts-bedrock     @ethereum-optimism/contract-reviewers

l1_block_info updated
  op-node/rollup/derive/l1_block_info.go
  op-node/rollup/derive/l1_block_info_test.go
Owners: @ethereum-optimism/consensus, @ethereum-optimism/go-reviewers

test: Ensure all foundry tests are organized into subdirs
  packages/contracts-bedrock/test/L2/L2Genesis.t.sol
  packages/contracts-bedrock/test/L2/Predeploys.t.sol
  packages/contracts-bedrock/test/L2/Preinstalls.t.sol
  packages/contracts-bedrock/test/universal/BenchmarkTest.t.sol
  packages/contracts-bedrock/test/universal/ExtendedPause.t.sol
  packages/contracts-bedrock/test/universal/Specs.t.sol
Owners: @ethereum-optimism/contract-reviewers

feat(deploy): deploy implementations before proxies
  packages/contracts-bedrock/scripts/deploy/Deploy.s.sol
Owners: @ethereum-optimism/contract-reviewers

test(deploy): Move ASR impl deployment to deployProxies
  packages/contracts-bedrock/scripts/deploy/Deploy.s.sol
Owners: @ethereum-optimism/contract-reviewers

test(deploy): Rename deploy functions to correspond to OPCM
  packages/contracts-bedrock/scripts/deploy/Deploy.s.sol
Owners: @ethereum-optimism/contract-reviewers

feat:code review suggestion fix
  cannon/mipsevm/tests/evm_common_test.go
Owners: @ethereum-optimism/proofs, @ethereum-optimism/go-reviewers

cannon: Output information about the state in JSON format from the witness command.
  cannon/Makefile
  cannon/cmd/witness.go
Owners: @ethereum-optimism/proofs, @ethereum-optimism/go-reviewers

cannon: Update multicannon witness description.
  cannon/multicannon/witness.go
Owners: @ethereum-optimism/proofs, @ethereum-optimism/go-reviewers

proofs-tools: Update challenger to v1.1.2-rc.1
  docker-bake.hcl
Owners: @ethereum-optimism/monorepo-ops-reviewers

use group of executors
  .circleci/config.yml
Owners: @ethereum-optimism/monorepo-ops-reviewers

tweaks
  .circleci/config.yml
Owners: @ethereum-optimism/monorepo-ops-reviewers

fix artifacts
  .circleci/config.yml
Owners: @ethereum-optimism/monorepo-ops-reviewers

test big runner
  .circleci/config.yml
Owners: @ethereum-optimism/monorepo-ops-reviewers

fix workflow
  .circleci/config.yml
Owners: @ethereum-optimism/monorepo-ops-reviewers

move AttachEmitter block inside nil check
  op-node/rollup/event/system.go
Owners: @ethereum-optimism/consensus, @ethereum-optimism/go-reviewers

use all 16 cores
  op-e2e/Makefile
Owners: @ethereum-optimism/op-stack, @ethereum-optimism/go-reviewers

move AttachEmitter block inside nil check (#12144)
  op-node/rollup/event/system.go
Owners: @ethereum-optimism/consensus, @ethereum-optimism/go-reviewers

rename currentEvent to currentDerivContext and access by atomic
  op-node/rollup/event/system.go
Owners: @ethereum-optimism/consensus, @ethereum-optimism/go-reviewers

op-batcher,op-e2e: replace magic numbers like 6 with consts, eg MaxBlobsPerBlobTx (#11842)
  op-batcher/batcher/channel_test.go
  op-batcher/batcher/config.go
  op-batcher/batcher/config_test.go
  op-e2e/actions/batcher/eip4844_test.go
  op-e2e/actions/helpers/l2_batcher.go
  op-e2e/system/da/eip4844_test.go
  op-service/eth/blob.go
Owners: @ethereum-optimism/op-stack, @ethereum-optimism/go-reviewers

feat: Sepolia Standard Versions OPCM
  op-chain-ops/Makefile
  op-chain-ops/deployer/opcm/implementations.go
  op-chain-ops/deployer/opcm/standard.go
  op-chain-ops/interopgen/configs.go
Owners: @ethereum-optimism/op-stack, @ethereum-optimism/go-reviewers

fix: reran make sync-standard-version
  op-chain-ops/deployer/opcm/standard-versions-mainnet.toml
  op-chain-ops/deployer/opcm/standard-versions-sepolia.toml
Owners: @ethereum-optimism/op-stack, @ethereum-optimism/go-reviewers

fix: passing through Standard Versions mainnet in tests.
  op-chain-ops/deployer/opcm/implementations.go
  op-chain-ops/deployer/pipeline/implementations.go
  op-chain-ops/interopgen/deploy.go
  op-chain-ops/interopgen/recipe.go
Owners: @ethereum-optimism/op-stack, @ethereum-optimism/go-reviewers

feat(deploy): deploy implementations before proxies (#12114)
  packages/contracts-bedrock/scripts/deploy/Deploy.s.sol
Owners: @ethereum-optimism/contract-reviewers

feat: Sepolia Standard Versions OPCM (#12121)
  op-chain-ops/Makefile
  op-chain-ops/deployer/opcm/implementations.go
  op-chain-ops/deployer/opcm/standard-versions-mainnet.toml
  op-chain-ops/deployer/opcm/standard-versions-sepolia.toml
  op-chain-ops/deployer/opcm/standard.go
  op-chain-ops/deployer/pipeline/implementations.go
  op-chain-ops/interopgen/configs.go
  op-chain-ops/interopgen/deploy.go
  op-chain-ops/interopgen/recipe.go
Owners: @ethereum-optimism/op-stack, @ethereum-optimism/go-reviewers

try combining all the go tests into one
  .circleci/config.yml
Owners: @ethereum-optimism/monorepo-ops-reviewers

comment out compat tests
  .circleci/config.yml
Owners: @ethereum-optimism/monorepo-ops-reviewers

MT Cannon: add more cannon operator instr tests (#12104)
  cannon/mipsevm/tests/evm_common_test.go
Owners: @ethereum-optimism/proofs, @ethereum-optimism/go-reviewers

remove geth
  .circleci/config.yml
Owners: @ethereum-optimism/monorepo-ops-reviewers

contracts-bedrock: better error message
  packages/contracts-bedrock/scripts/checks/check-foundry-install.sh
Owners: @ethereum-optimism/contract-reviewers

build: fix
  packages/contracts-bedrock/scripts/ops/FeeVaultWithdrawal.s.sol
Owners: @ethereum-optimism/contract-reviewers

proofs-tools: Update challenger to v1.1.2-rc.1 (#12143)
  docker-bake.hcl
Owners: @ethereum-optimism/monorepo-ops-reviewers

support EstimateGas for blob tx (#12086)
  op-service/txmgr/txmgr.go
Owners: @ethereum-optimism/go-reviewers

chore: rename isthmus to interop on golang files (#12133)
  op-node/rollup/derive/attributes_test.go
  op-node/rollup/derive/fuzz_parsers_test.go
  op-node/rollup/derive/l1_block_info.go
  op-node/rollup/derive/l1_block_info_test.go
Owners: @ethereum-optimism/consensus, @ethereum-optimism/go-reviewers

types updated
  op-chain-ops/cmd/ecotone-scalar/main.go
  op-chain-ops/genesis/config.go
  op-e2e/system/fees/gaspriceoracle_test.go
  op-e2e/system/fees/l1info_test.go
  op-node/rollup/derive/l1_block_info.go
  op-node/rollup/derive/system_config.go
  op-service/eth/types.go
  op-service/eth/types_test.go
  packages/contracts-bedrock/scripts/go-ffi/differential-testing.go
Owners: @ethereum-optimism/op-stack, @ethereum-optimism/go-reviewers, @ethereum-optimism/consensus, @ethereum-optimism/contract-reviewers

chore: make interopgen deploy step fns public
  op-chain-ops/interopgen/deploy.go
Owners: @ethereum-optimism/op-stack, @ethereum-optimism/go-reviewers

cannon: Consistent state serialization
  cannon/Makefile
  cannon/mipsevm/memory/memory.go
Owners: @ethereum-optimism/proofs, @ethereum-optimism/go-reviewers

nosilent cmp
  cannon/Makefile
Owners: @ethereum-optimism/proofs, @ethereum-optimism/go-reviewers

chore: solidity isthmus to interop (#12132)
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/scripts/L2Genesis.s.sol
  packages/contracts-bedrock/semver-lock.json
  packages/contracts-bedrock/snapshots/abi/L1BlockInterop.json
  packages/contracts-bedrock/snapshots/storageLayout/L1BlockInterop.json
  packages/contracts-bedrock/src/L1/OptimismPortalInterop.sol
  packages/contracts-bedrock/src/L1/SystemConfigInterop.sol
  packages/contracts-bedrock/src/L1/interfaces/IOptimismPortalInterop.sol
  packages/contracts-bedrock/src/L2/CrossL2Inbox.sol
  packages/contracts-bedrock/src/L2/L1BlockInterop.sol
  packages/contracts-bedrock/src/L2/interfaces/IL1BlockInterop.sol
  packages/contracts-bedrock/src/libraries/Encoding.sol
  packages/contracts-bedrock/test/BenchmarkTest.t.sol
  packages/contracts-bedrock/test/L1/OptimismPortalInterop.t.sol
  packages/contracts-bedrock/test/L1/SystemConfigInterop.t.sol
  packages/contracts-bedrock/test/L2/CrossL2Inbox.t.sol
  packages/contracts-bedrock/test/L2/L1BlockInterop.t.sol
Owners: @ethereum-optimism/contract-reviewers

fix run input
  cannon/Makefile
Owners: @ethereum-optimism/proofs, @ethereum-optimism/go-reviewers

add elf target dep
  cannon/Makefile
Owners: @ethereum-optimism/proofs, @ethereum-optimism/go-reviewers
