Repository ethereum-optimism/optimism, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ethereum-optimism/security-reviewers, @ethereum-optimism/infra-reviewers, @ethereum-optimism/typescript-reviewers, @ethereum-optimism/contract-reviewers, @ethereum-optimism/legacy-reviewers, @ethereum-optimism/devxpod, @ethereum-optimism/go-reviewers, @protolambda, @trianglesphere, @ajsutton, @0x00101010, @zhwrd, @mslipper, @ethereum-optimism/monorepo-ops-reviewers, @ethereum-optimism/release-managers

.github/CODEOWNERS:

# Packages
/packages/chain-mon             @ethereum-optimism/security-reviewers
/packages/chain-mon/internal/balance-mon             @ethereum-optimism/infra-reviewers
/packages/common-ts             @ethereum-optimism/typescript-reviewers
/packages/contracts-bedrock     @ethereum-optimism/contract-reviewers
/packages/core-utils            @ethereum-optimism/legacy-reviewers
/packages/sdk                   @ethereum-optimism/devxpod

# Bedrock codebases
/bedrock-devnet @ethereum-optimism/go-reviewers
/cannon         @ethereum-optimism/go-reviewers
/op-batcher     @ethereum-optimism/go-reviewers
/op-bootnode    @ethereum-optimism/go-reviewers
/op-chain-ops   @ethereum-optimism/go-reviewers
/op-challenger  @ethereum-optimism/go-reviewers
/op-dispute-mon  @ethereum-optimism/go-reviewers
/op-e2e         @ethereum-optimism/go-reviewers
/op-heartbeat   @ethereum-optimism/go-reviewers
/op-node        @ethereum-optimism/go-reviewers
/op-node/rollup @protolambda @trianglesphere @ajsutton
/op-plasma      @ethereum-optimism/go-reviewers
/op-preimage    @ethereum-optimism/go-reviewers
/op-program     @ethereum-optimism/go-reviewers
/op-proposer    @ethereum-optimism/go-reviewers
/op-service     @ethereum-optimism/go-reviewers
/op-wheel       @ethereum-optimism/go-reviewers
/ops-bedrock    @ethereum-optimism/go-reviewers
/op-conductor   @0x00101010 @zhwrd @mslipper

# Ops
/.circleci       @ethereum-optimism/monorepo-ops-reviewers
/.github         @ethereum-optimism/monorepo-ops-reviewers
/ops             @ethereum-optimism/monorepo-ops-reviewers
/docker-bake.hcl @ethereum-optimism/monorepo-ops-reviewers

# Misc
/proxyd           @ethereum-optimism/infra-reviewers
/indexer          @ethereum-optimism/devxpod
/infra            @ethereum-optimism/infra-reviewers
/specs            @ethereum-optimism/contract-reviewers @ethereum-optimism/go-reviewers
/endpoint-monitor @ethereum-optimism/infra-reviewers

# Don't add owners if only package.json is updated
/packages/*/package.json
/*/package.json

# JavaScript Releases
/packages/*/CHANGELOG.md @ethereum-optimism/release-managers
/*/CHANGELOG.md          @ethereum-optimism/release-managers

contracts-bedrock: portal opaque data test (#10443)
  packages/contracts-bedrock/test/L1/OptimismPortal.t.sol
Owners: @ethereum-optimism/contract-reviewers

make GenericCommitment always verify
  op-plasma/commitment.go
  op-plasma/commitment_test.go
Owners: @ethereum-optimism/go-reviewers

perf: remove defer inside loop
  op-node/cmd/batch_decoder/fetch/fetch.go
Owners: @ethereum-optimism/go-reviewers

add checks to accept brotli only post fjord
  op-batcher/batcher/service.go
  op-node/cmd/batch_decoder/reassemble/reassemble.go
  op-node/rollup/derive/channel.go
  op-node/rollup/derive/channel_in_reader.go
  op-node/rollup/derive/channel_test.go
Owners: @ethereum-optimism/go-reviewers, @protolambda, @trianglesphere, @ajsutton

op-batcher: Support generic DA commitment type - update devnet script to specify da svc
  bedrock-devnet/devnet/__init__.py
Owners: @ethereum-optimism/go-reviewers

revemo unnecessary in test
  op-batcher/batcher/channel_manager_test.go
Owners: @ethereum-optimism/go-reviewers

correct action tests
  op-e2e/actions/plasma_test.go
Owners: @ethereum-optimism/go-reviewers

gofmt
  op-node/rollup/derive/channel.go
  op-node/rollup/derive/channel_test.go
Owners: @protolambda, @trianglesphere, @ajsutton

fix: delete duplicate keys in base-sepolia.json
  packages/contracts-bedrock/deploy-config/base-sepolia.json
Owners: @ethereum-optimism/contract-reviewers

fix: delete duplicate keys in tsconfig.json
  packages/core-utils/tsconfig.json
Owners: @ethereum-optimism/legacy-reviewers

contracts-bedrock: weth predeploy version
  packages/contracts-bedrock/semver-lock.json
  packages/contracts-bedrock/snapshots/abi/WETH.json
  packages/contracts-bedrock/src/L2/WETH.sol
Owners: @ethereum-optimism/contract-reviewers

Fjord: Implement max sequencer drift change to a constant (#10465)
  op-e2e/actions/l2_sequencer_test.go
  op-e2e/e2eutils/setup.go
  op-node/rollup/chain_spec.go
  op-node/rollup/chain_spec_test.go
  op-node/rollup/derive/batches.go
  op-node/rollup/derive/batches_test.go
  op-node/rollup/driver/origin_selector.go
  op-node/rollup/driver/origin_selector_test.go
  op-node/rollup/driver/sequencer.go
  op-node/rollup/types.go
Owners: @ethereum-optimism/go-reviewers, @protolambda, @trianglesphere, @ajsutton

op-batcher: Support generic DA commitment type - fix failing multi challenge test
  bedrock-devnet/devnet/__init__.py
  op-e2e/actions/plasma_test.go
Owners: @ethereum-optimism/go-reviewers

op-batcher: Support generic DA commitment type - fix failing multi challenge test
  op-e2e/actions/plasma_test.go
Owners: @ethereum-optimism/go-reviewers

contracts-bedrock: weth predeploy version (#10441)
  packages/contracts-bedrock/semver-lock.json
  packages/contracts-bedrock/snapshots/abi/WETH.json
  packages/contracts-bedrock/src/L2/WETH.sol
Owners: @ethereum-optimism/contract-reviewers

op-batcher: Support generic DA commitment type - rm dbug regression in devnet script
  bedrock-devnet/devnet/__init__.py
Owners: @ethereum-optimism/go-reviewers

PR comments
  op-node/rollup/derive/plasma_data_source.go
  op-plasma/commitment.go
  op-plasma/daclient.go
Owners: @protolambda, @trianglesphere, @ajsutton, @ethereum-optimism/go-reviewers

perf: remove defer inside loop (#10497)
  op-node/cmd/batch_decoder/fetch/fetch.go
Owners: @ethereum-optimism/go-reviewers

fix unit test
  op-plasma/commitment_test.go
Owners: @ethereum-optimism/go-reviewers

Extract content of Results to upload to kaas
  packages/contracts-bedrock/test/kontrol/scripts/run-kontrol.sh
Owners: @ethereum-optimism/contract-reviewers

remove fmt.Println
  op-node/rollup/derive/plasma_data_source_test.go
Owners: @protolambda, @trianglesphere, @ajsutton

Plasma: Abstract CommitmentData to Interface (#10458)
  op-e2e/actions/l2_batcher.go
  op-e2e/actions/plasma_test.go
  op-node/rollup/derive/data_source.go
  op-node/rollup/derive/plasma_data_source.go
  op-node/rollup/derive/plasma_data_source_test.go
  op-plasma/commitment.go
  op-plasma/commitment_test.go
  op-plasma/daclient.go
  op-plasma/daclient_test.go
  op-plasma/damgr.go
  op-plasma/damock.go
Owners: @ethereum-optimism/go-reviewers, @protolambda, @trianglesphere, @ajsutton

fix: advance l1 origin
  op-plasma/damgr.go
Owners: @ethereum-optimism/go-reviewers

test: add test for advance l1 origin
  op-plasma/damgr_test.go
Owners: @ethereum-optimism/go-reviewers

refactore: remove errors directive comparison
  cannon/mipsevm/memory.go
  cannon/mipsevm/page.go
  op-batcher/batcher/channel_builder.go
  op-batcher/batcher/channel_manager_test.go
  op-batcher/batcher/driver.go
  op-chain-ops/cmd/receipt-reference-builder/pull.go
  op-e2e/actions/l2_batcher.go
  op-e2e/actions/l2_verifier.go
  op-node/cmd/batch_decoder/reassemble/reassemble.go
  op-node/p2p/store/ip_ban_book.go
  op-node/p2p/store/mdbook.go
  op-node/p2p/store/peer_ban_book.go
  op-node/p2p/store/records_book.go
  op-node/p2p/store/scorebook.go
  op-node/rollup/derive/batch_queue.go
  op-node/rollup/derive/channel_bank.go
  op-node/rollup/derive/channel_in_reader.go
  op-node/rollup/derive/engine_queue.go
  op-node/rollup/derive/l1_retrieval.go
  op-node/rollup/derive/pipeline.go
  op-node/rollup/derive/plasma_data_source_test.go
  op-node/rollup/driver/sequencer_test.go
  op-node/rollup/driver/state.go
  op-preimage/hints.go
  op-preimage/hints_test.go
  op-preimage/oracle.go
  op-program/host/host.go
  op-service/solabi/util.go
  op-service/sources/batching/batching_test.go
  op-service/sources/batching/multicall.go
  op-service/sources/receipts_basic.go
  proxyd/cache.go
  proxyd/consensus_tracker.go
  proxyd/server.go
Owners: @ethereum-optimism/go-reviewers, @protolambda, @trianglesphere, @ajsutton, @ethereum-optimism/infra-reviewers

op-challenger: Add resolve-claim subcommand.
  op-challenger/README.md
  op-challenger/cmd/main.go
  op-challenger/cmd/resolve_claim.go
Owners: @ethereum-optimism/go-reviewers

fix: consistent metric labels
  op-dispute-mon/metrics/metrics.go
Owners: @ethereum-optimism/go-reviewers

feat(op-dispute-mon): Update L2 Challenges Metrics (#10492)
  op-dispute-mon/metrics/metrics.go
  op-dispute-mon/metrics/noop.go
  op-dispute-mon/mon/l2_challenges.go
  op-dispute-mon/mon/l2_challenges_test.go
  op-dispute-mon/mon/service.go
Owners: @ethereum-optimism/go-reviewers

op-dispute-mon: Separate l2 challenge metric (#10483)
  op-challenger/cmd/list_games.go
  op-challenger/game/fault/contracts/faultdisputegame.go
  op-challenger/game/fault/contracts/faultdisputegame0180.go
  op-challenger/game/fault/contracts/faultdisputegame080.go
  op-challenger/game/fault/contracts/faultdisputegame_test.go
  op-dispute-mon/metrics/metrics.go
  op-dispute-mon/metrics/noop.go
  op-dispute-mon/mon/bonds/monitor.go
  op-dispute-mon/mon/bonds/monitor_test.go
  op-dispute-mon/mon/extract/bond_enricher.go
  op-dispute-mon/mon/extract/caller.go
  op-dispute-mon/mon/extract/extractor.go
  op-dispute-mon/mon/extract/extractor_test.go
  op-dispute-mon/mon/extract/recipient_enricher.go
  op-dispute-mon/mon/extract/recipient_enricher_test.go
  op-dispute-mon/mon/forecast.go
  op-dispute-mon/mon/forecast_test.go
  op-dispute-mon/mon/l2_challenges.go
  op-dispute-mon/mon/l2_challenges_test.go
  op-dispute-mon/mon/monitor.go
  op-dispute-mon/mon/monitor_test.go
  op-dispute-mon/mon/service.go
  op-dispute-mon/mon/types/types.go
Owners: @ethereum-optimism/go-reviewers

op-challenger: Add resolve-claim subcommand. (#10504)
  op-challenger/README.md
  op-challenger/cmd/main.go
  op-challenger/cmd/resolve_claim.go
Owners: @ethereum-optimism/go-reviewers

feat(op-dispute-mon): L2BlockNumberChallenged Support (#10451)
  op-challenger/cmd/list_games.go
  op-challenger/game/fault/contracts/faultdisputegame.go
  op-challenger/game/fault/contracts/faultdisputegame0180.go
  op-challenger/game/fault/contracts/faultdisputegame080.go
  op-challenger/game/fault/contracts/faultdisputegame_test.go
  op-dispute-mon/metrics/metrics.go
  op-dispute-mon/metrics/noop.go
  op-dispute-mon/mon/bonds/monitor.go
  op-dispute-mon/mon/bonds/monitor_test.go
  op-dispute-mon/mon/extract/bond_enricher.go
  op-dispute-mon/mon/extract/caller.go
  op-dispute-mon/mon/extract/extractor.go
  op-dispute-mon/mon/extract/extractor_test.go
  op-dispute-mon/mon/extract/recipient_enricher.go
  op-dispute-mon/mon/extract/recipient_enricher_test.go
  op-dispute-mon/mon/forecast.go
  op-dispute-mon/mon/forecast_test.go
  op-dispute-mon/mon/l2_challenges.go
  op-dispute-mon/mon/l2_challenges_test.go
  op-dispute-mon/mon/monitor.go
  op-dispute-mon/mon/monitor_test.go
  op-dispute-mon/mon/service.go
  op-dispute-mon/mon/types/types.go
Owners: @ethereum-optimism/go-reviewers

address comments
  op-node/rollup/derive/channel.go
  op-node/rollup/derive/channel_test.go
Owners: @protolambda, @trianglesphere, @ajsutton

remove methods in compressor
  op-node/rollup/derive/channel_compressor.go
Owners: @protolambda, @trianglesphere, @ajsutton

fix error msg
  op-node/rollup/derive/channel.go
Owners: @protolambda, @trianglesphere, @ajsutton

use iota properly
  op-node/rollup/sync/config.go
Owners: @protolambda, @trianglesphere, @ajsutton

op-challenger: Show resolvable time in claims list.
  op-challenger/cmd/list_claims.go
  op-challenger/cmd/list_games.go
Owners: @ethereum-optimism/go-reviewers

chore: fix some function names
  indexer/database/bridge_transfers.go
  op-batcher/batcher/channel_manager_test.go
  op-batcher/compressor/shadow_compressor_test.go
  op-chain-ops/crossdomain/message_test.go
  op-challenger/game/fault/preimages/large.go
Owners: @ethereum-optimism/devxpod, @ethereum-optimism/go-reviewers

use iota properly (#10505)
  op-node/rollup/sync/config.go
Owners: @protolambda, @trianglesphere, @ajsutton

op-challenger, op-dispute-mon: Fix chess clock calculations to match the solidity implementation.
  op-challenger/cmd/list_claims.go
  op-challenger/game/fault/agent.go
  op-challenger/game/fault/agent_test.go
  op-challenger/game/fault/test/claim_builder.go
  op-challenger/game/fault/types/game.go
  op-challenger/game/fault/types/game_test.go
  op-challenger/game/fault/types/position.go
  op-challenger/game/fault/types/types.go
  op-challenger/game/fault/types/types_test.go
  op-dispute-mon/mon/claims.go
Owners: @ethereum-optimism/go-reviewers

op-dispute-mon: Log an error when a DelayedWETH contract has insufficient collateral.
  op-dispute-mon/mon/bonds/monitor.go
  op-dispute-mon/mon/bonds/monitor_test.go
Owners: @ethereum-optimism/go-reviewers
