Repository ethereum-optimism/optimism, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/devxpod, @ethereum-optimism/go-reviewers, @protolambda, @ajsutton, @0x00101010, @zhwrd, @mslipper, @ethereum-optimism/monorepo-ops-reviewers, @ethereum-optimism/infra-reviewers, @ethereum-optimism/release-managers

op-e2e: Add forge clean to README.md troubleshooting section
  op-e2e/README.md
Owners: @ethereum-optimism/go-reviewers

op-proposer: Switch to modern binding style for dispute game factory
  op-e2e/actions/l2_proposer.go
  op-proposer/bindings/disputegamefactory.go
  op-proposer/contracts/disputegamefactory.go
  op-proposer/proposer/abi_test.go
  op-proposer/proposer/driver.go
  op-proposer/proposer/driver_test.go
Owners: @ethereum-optimism/go-reviewers

use jinmel/op-geth:latest as base image in Dockerfile.l2
  ops-bedrock/Dockerfile.l2
Owners: @ethereum-optimism/go-reviewers

apply flags to docker compose
  op-node/flags/flags.go
  ops-bedrock/docker-compose.yml
Owners: @ethereum-optimism/go-reviewers

Update README.md
  README.md
Owners: none

add gzipCloser struct
  op-service/ioutil/gzip.go
Owners: @ethereum-optimism/go-reviewers

add Close method
  op-service/ioutil/gzip.go
Owners: @ethereum-optimism/go-reviewers

fix OpenDecompressed func
  op-service/ioutil/gzip.go
Owners: @ethereum-optimism/go-reviewers

fix CompressByFileType func
  op-service/ioutil/gzip.go
Owners: @ethereum-optimism/go-reviewers

knit
  op-service/ioutil/gzip.go
Owners: @ethereum-optimism/go-reviewers

test
  op-node/chaincfg/chains.go
Owners: @ethereum-optimism/go-reviewers

address Axel's review
  op-batcher/batcher/channel_builder.go
  op-e2e/setup.go
  op-node/rollup/derive/channel_out_test.go
  op-node/rollup/derive/span_channel_out.go
Owners: @ethereum-optimism/go-reviewers, @protolambda, @ajsutton

devnet: enable span batches and use blobs for non-plasma
  bedrock-devnet/devnet/__init__.py
  ops-bedrock/docker-compose.yml
Owners: @ethereum-optimism/go-reviewers

feat: add cgo_test tags to fuzz tests
  op-e2e/Makefile
  op-e2e/fastlz/fastlz.go
  op-e2e/fastlz_test.go
Owners: @ethereum-optimism/go-reviewers

check current fork to set ExcessBlobGas and BlobGasUsed
  op-node/node/builder.go
  op-node/node/node.go
Owners: @ethereum-optimism/go-reviewers

Handle noTxPool correctly
  op-node/rollup/clsync/clsync.go
  op-node/rollup/driver/driver.go
  op-node/rollup/driver/state.go
Owners: @protolambda, @ajsutton

metrics: count transactions by source
  op-node/rollup/derive/engine_update.go
  ops-bedrock/docker-compose.yml
Owners: @protolambda, @ajsutton, @ethereum-optimism/go-reviewers

add 'total' postfix to TransactionsSequenced
  op-node/metrics/metrics.go
Owners: @ethereum-optimism/go-reviewers

devnet: enable span batches and use blobs for non-plasma (#11477)
  bedrock-devnet/devnet/__init__.py
  ops-bedrock/docker-compose.yml
Owners: @ethereum-optimism/go-reviewers

op-node,op-batcher: implement span channel out block count limit (#11416)
  op-batcher/batcher/channel_builder.go
  op-batcher/batcher/channel_config.go
  op-batcher/batcher/config.go
  op-batcher/batcher/service.go
  op-batcher/flags/flags.go
  op-e2e/eip4844_test.go
  op-e2e/setup.go
  op-e2e/system_test.go
  op-node/rollup/derive/channel_out_test.go
  op-node/rollup/derive/span_channel_out.go
Owners: @ethereum-optimism/go-reviewers, @protolambda, @ajsutton

Update README.md (#11474)
  README.md
Owners: none

feat: update Sepolia Drippie config to latest (#10810)
  packages/contracts-bedrock/deploy-config-periphery/drippie/sepolia-faucet-bridges.json
  packages/contracts-bedrock/deploy-config-periphery/drippie/sepolia-faucet-core.json
  packages/contracts-bedrock/deploy-config-periphery/drippie/sepolia-ops.json
  packages/contracts-bedrock/safe.json
  packages/contracts-bedrock/scripts/periphery/drippie/DrippieConfig.s.sol
  packages/contracts-bedrock/scripts/periphery/drippie/ManageDrippie.s.sol
  packages/contracts-bedrock/scripts/safe/forge-to-safe-json.ts
Owners: @ethereum-optimism/contract-reviewers

.github/CODEOWNERS:

# Packages
/packages/contracts-bedrock     @ethereum-optimism/contract-reviewers
/packages/sdk                   @ethereum-optimism/devxpod

# Bedrock codebases
/bedrock-devnet @ethereum-optimism/go-reviewers
/cannon         @ethereum-optimism/go-reviewers
/op-batcher     @ethereum-optimism/go-reviewers
/op-bootnode    @ethereum-optimism/go-reviewers
/op-chain-ops   @ethereum-optimism/go-reviewers
/op-challenger  @ethereum-optimism/go-reviewers
/op-dispute-mon  @ethereum-optimism/go-reviewers
/op-e2e         @ethereum-optimism/go-reviewers
/op-heartbeat   @ethereum-optimism/go-reviewers
/op-node        @ethereum-optimism/go-reviewers
/op-node/rollup @protolambda @ajsutton
/op-plasma      @ethereum-optimism/go-reviewers
/op-preimage    @ethereum-optimism/go-reviewers
/op-program     @ethereum-optimism/go-reviewers
/op-proposer    @ethereum-optimism/go-reviewers
/op-service     @ethereum-optimism/go-reviewers
/op-supervisor  @ethereum-optimism/go-reviewers
/op-wheel       @ethereum-optimism/go-reviewers
/ops-bedrock    @ethereum-optimism/go-reviewers
/op-conductor   @0x00101010 @zhwrd @mslipper

# Ops
/.circleci       @ethereum-optimism/monorepo-ops-reviewers
/.github         @ethereum-optimism/monorepo-ops-reviewers
/ops             @ethereum-optimism/monorepo-ops-reviewers
/docker-bake.hcl @ethereum-optimism/monorepo-ops-reviewers

# Misc
/proxyd           @ethereum-optimism/infra-reviewers
/infra            @ethereum-optimism/infra-reviewers
/specs            @ethereum-optimism/contract-reviewers @ethereum-optimism/go-reviewers

# Don't add owners if only package.json is updated
/packages/*/package.json
/*/package.json

# JavaScript Releases
/packages/*/CHANGELOG.md @ethereum-optimism/release-managers
/*/CHANGELOG.md          @ethereum-optimism/release-managers
