Repository ethereum-optimism/optimism, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/devxpod, @ethereum-optimism/go-reviewers, @protolambda, @ajsutton, @0x00101010, @zhwrd, @mslipper, @ethereum-optimism/monorepo-ops-reviewers, @ethereum-optimism/infra-reviewers, @ethereum-optimism/release-managers

.github/CODEOWNERS:

# Packages
/packages/contracts-bedrock     @ethereum-optimism/contract-reviewers
/packages/sdk                   @ethereum-optimism/devxpod

# Bedrock codebases
/bedrock-devnet @ethereum-optimism/go-reviewers
/cannon         @ethereum-optimism/go-reviewers
/op-batcher     @ethereum-optimism/go-reviewers
/op-bootnode    @ethereum-optimism/go-reviewers
/op-chain-ops   @ethereum-optimism/go-reviewers
/op-challenger  @ethereum-optimism/go-reviewers
/op-dispute-mon  @ethereum-optimism/go-reviewers
/op-e2e         @ethereum-optimism/go-reviewers
/op-heartbeat   @ethereum-optimism/go-reviewers
/op-node        @ethereum-optimism/go-reviewers
/op-node/rollup @protolambda @ajsutton
/op-plasma      @ethereum-optimism/go-reviewers
/op-preimage    @ethereum-optimism/go-reviewers
/op-program     @ethereum-optimism/go-reviewers
/op-proposer    @ethereum-optimism/go-reviewers
/op-service     @ethereum-optimism/go-reviewers
/op-supervisor  @ethereum-optimism/go-reviewers
/op-wheel       @ethereum-optimism/go-reviewers
/ops-bedrock    @ethereum-optimism/go-reviewers
/op-conductor   @0x00101010 @zhwrd @mslipper

# Ops
/.circleci       @ethereum-optimism/monorepo-ops-reviewers
/.github         @ethereum-optimism/monorepo-ops-reviewers
/ops             @ethereum-optimism/monorepo-ops-reviewers
/docker-bake.hcl @ethereum-optimism/monorepo-ops-reviewers

# Misc
/proxyd           @ethereum-optimism/infra-reviewers
/infra            @ethereum-optimism/infra-reviewers
/specs            @ethereum-optimism/contract-reviewers @ethereum-optimism/go-reviewers

# Don't add owners if only package.json is updated
/packages/*/package.json
/*/package.json

# JavaScript Releases
/packages/*/CHANGELOG.md @ethereum-optimism/release-managers
/*/CHANGELOG.md          @ethereum-optimism/release-managers

lint: fix
  packages/contracts-bedrock/test/Specs.t.sol
Owners: @ethereum-optimism/contract-reviewers

snapshots: update
  packages/contracts-bedrock/snapshots/abi/OptimismPortal2.json
  packages/contracts-bedrock/snapshots/abi/OptimismPortalInterop.json
Owners: @ethereum-optimism/contract-reviewers

snapshots: update
  packages/contracts-bedrock/snapshots/state-diff/Kontrol-31337.json
  packages/contracts-bedrock/test/kontrol/proofs/utils/DeploymentSummary.sol
  packages/contracts-bedrock/test/kontrol/proofs/utils/DeploymentSummaryCode.sol
  packages/contracts-bedrock/test/kontrol/proofs/utils/DeploymentSummaryFaultProofs.sol
  packages/contracts-bedrock/test/kontrol/proofs/utils/DeploymentSummaryFaultProofsCode.sol
Owners: @ethereum-optimism/contract-reviewers

semver-lock: regenerate
  packages/contracts-bedrock/invariant-docs/OptimismPortal2.md
  packages/contracts-bedrock/scripts/deploy/Deploy.s.sol
  packages/contracts-bedrock/semver-lock.json
Owners: @ethereum-optimism/contract-reviewers

deploy script: update
  packages/contracts-bedrock/scripts/deploy/Deploy.s.sol
Owners: @ethereum-optimism/contract-reviewers

tests: update excludes
  packages/contracts-bedrock/test/Safe/DeputyGuardianModule.t.sol
Owners: @ethereum-optimism/contract-reviewers

summary: update
  packages/contracts-bedrock/snapshots/state-diff/Kontrol-31337.json
  packages/contracts-bedrock/test/kontrol/proofs/utils/DeploymentSummary.sol
  packages/contracts-bedrock/test/kontrol/proofs/utils/DeploymentSummaryCode.sol
  packages/contracts-bedrock/test/kontrol/proofs/utils/DeploymentSummaryFaultProofs.sol
  packages/contracts-bedrock/test/kontrol/proofs/utils/DeploymentSummaryFaultProofsCode.sol
Owners: @ethereum-optimism/contract-reviewers

fix: minor error in contracts readme
  packages/contracts-bedrock/README.md
Owners: @ethereum-optimism/contract-reviewers

maint: further clean up contract scripts organization
  packages/contracts-bedrock/justfile
  packages/contracts-bedrock/scripts/Artifacts.s.sol
  packages/contracts-bedrock/scripts/L2Genesis.s.sol
  packages/contracts-bedrock/scripts/autogen/SemverLock.s.sol
  packages/contracts-bedrock/scripts/deploy/ChainAssertions.sol
  packages/contracts-bedrock/scripts/deploy/Deploy.s.sol
  packages/contracts-bedrock/scripts/deploy/DeployConfig.s.sol
  packages/contracts-bedrock/scripts/deploy/Deployer.sol
  packages/contracts-bedrock/scripts/fpac/viz/FaultDisputeGameViz.s.sol
  packages/contracts-bedrock/scripts/fpac/viz/dag-viz.py
  packages/contracts-bedrock/scripts/fpac/viz/visualize.sh
  packages/contracts-bedrock/scripts/libraries/Chains.sol
  packages/contracts-bedrock/scripts/libraries/Config.sol
  packages/contracts-bedrock/scripts/libraries/Executables.sol
  packages/contracts-bedrock/scripts/libraries/ForgeArtifacts.sol
  packages/contracts-bedrock/scripts/libraries/Types.sol
  packages/contracts-bedrock/scripts/ops/FeeVaultWithdrawal.s.sol
  packages/contracts-bedrock/scripts/periphery/deploy/DeployPeriphery.s.sol
  packages/contracts-bedrock/scripts/periphery/drippie/ManageDrippie.s.sol
  packages/contracts-bedrock/scripts/utils/print-addresses.sh
  packages/contracts-bedrock/scripts/utils/restructure_tests.py
  packages/contracts-bedrock/scripts/utils/statediff.sh
  packages/contracts-bedrock/test/L2/GasPriceOracle.t.sol
  packages/contracts-bedrock/test/Predeploys.t.sol
  packages/contracts-bedrock/test/Safe/DeputyGuardianModule.t.sol
  packages/contracts-bedrock/test/Specs.t.sol
  packages/contracts-bedrock/test/setup/Setup.sol
  packages/contracts-bedrock/test/vendor/Initializable.t.sol
Owners: @ethereum-optimism/contract-reviewers

Use builder category for builder flags
  op-node/flags/flags.go
Owners: @ethereum-optimism/go-reviewers

Remove SequencerProfitTotal counter
  op-node/metrics/metrics.go
Owners: @ethereum-optimism/go-reviewers

returns http error response status code
  op-node/node/builder.go
Owners: @ethereum-optimism/go-reviewers

use Value() function to get profit value from responsePayload
  op-node/node/builder.go
Owners: @ethereum-optimism/go-reviewers

Use PayloadSource enum
  op-node/metrics/metrics.go
  op-node/rollup/derive/engine_update.go
  op-node/rollup/derive/pipeline.go
  op-node/rollup/driver/sequencer.go
  op-service/testutils/metrics.go
Owners: @ethereum-optimism/go-reviewers, @protolambda, @ajsutton

refactor engine update
  op-node/rollup/derive/engine_update.go
Owners: @protolambda, @ajsutton

compare profit before inserting payload
  op-node/rollup/derive/engine_update.go
Owners: @protolambda, @ajsutton

Choose payloads by its value
  op-node/node/builder.go
  op-node/rollup/builder/builder.go
  op-node/rollup/derive/engine_update.go
  op-service/eth/types.go
Owners: @ethereum-optimism/go-reviewers, @protolambda, @ajsutton

return early if engine payload fails
  op-node/rollup/derive/engine_update.go
Owners: @protolambda, @ajsutton

rename value to bid
  op-node/rollup/derive/engine_update.go
Owners: @protolambda, @ajsutton

fix: minor error in contracts readme (#11432)
  packages/contracts-bedrock/README.md
Owners: @ethereum-optimism/contract-reviewers

fixes, checkpoint
  cannon/mipsevm/exec/mips_instructions.go
  cannon/mipsevm/exec/mips_syscalls.go
  cannon/mipsevm/multithreaded/state_test.go
  cannon/mipsevm/program/patch.go
  cannon/mipsevm/singlethreaded/state_test.go
  op-program/Makefile
Owners: @ethereum-optimism/go-reviewers

works!
  cannon/mipsevm/exec/mips_instructions.go
  cannon/mipsevm/exec/mips_syscalls.go
  cannon/mipsevm/multithreaded/instrumented_test.go
  cannon/mipsevm/multithreaded/mips.go
  cannon/mipsevm/program/patch.go
  cannon/testdata/example/Makefile
Owners: @ethereum-optimism/go-reviewers

rebase on go patch
  cannon/mipsevm/program/patch.go
Owners: @ethereum-optimism/go-reviewers

MIPS2 port
  packages/contracts-bedrock/scripts/go-ffi/differential-testing.go
  packages/contracts-bedrock/semver-lock.json
  packages/contracts-bedrock/src/cannon/MIPS2.sol
  packages/contracts-bedrock/src/cannon/libraries/MIPSInstructions.sol
  packages/contracts-bedrock/test/cannon/MIPS2.t.sol
  packages/contracts-bedrock/test/setup/FFIInterface.sol
Owners: @ethereum-optimism/contract-reviewers

fuzz fix, use 64bit failure
  cannon/mipsevm/tests/fuzz_evm_test.go
Owners: @ethereum-optimism/go-reviewers

init: MIPS64 contract conversion
  cannon/mipsevm/exec/mips_instructions.go
  cannon/mipsevm/tests/evm_test.go
  cannon/mipsevm/tests/fuzz_evm_test.go
  packages/contracts-bedrock/scripts/go-ffi/differential-testing.go
  packages/contracts-bedrock/src/cannon/MIPS.sol
  packages/contracts-bedrock/src/cannon/MIPS2.sol
  packages/contracts-bedrock/src/cannon/libraries/MIPSInstructions.sol
  packages/contracts-bedrock/src/cannon/libraries/MIPSMemory.sol
  packages/contracts-bedrock/src/cannon/libraries/MIPSState.sol
  packages/contracts-bedrock/src/cannon/libraries/MIPSSyscalls.sol
  packages/contracts-bedrock/test/cannon/MIPS.t.sol
  packages/contracts-bedrock/test/cannon/MIPS2.t.sol
  packages/contracts-bedrock/test/setup/FFIInterface.sol
Owners: @ethereum-optimism/go-reviewers, @ethereum-optimism/contract-reviewers

tests pass
  packages/contracts-bedrock/scripts/go-ffi/differential-testing.go
  packages/contracts-bedrock/semver-lock.json
  packages/contracts-bedrock/snapshots/state-diff/Kontrol-31337.json
  packages/contracts-bedrock/src/cannon/libraries/MIPSInstructions.sol
  packages/contracts-bedrock/test/cannon/MIPS.t.sol
  packages/contracts-bedrock/test/kontrol/proofs/utils/DeploymentSummary.sol
  packages/contracts-bedrock/test/kontrol/proofs/utils/DeploymentSummaryCode.sol
  packages/contracts-bedrock/test/kontrol/proofs/utils/DeploymentSummaryFaultProofs.sol
  packages/contracts-bedrock/test/kontrol/proofs/utils/DeploymentSummaryFaultProofsCode.sol
Owners: @ethereum-optimism/contract-reviewers

Ben comment / mem offset fix
  packages/contracts-bedrock/semver-lock.json
Owners: @ethereum-optimism/contract-reviewers

dockerfile repro mips64
  op-program/Dockerfile.repro
Owners: @ethereum-optimism/go-reviewers

chore: Update devnet to use eigenda-proxy
  ops-bedrock/docker-compose.yml
Owners: @ethereum-optimism/go-reviewers

chore: Update devnet with janky grafana and prometheus svc deps
  bedrock-devnet/devnet/__init__.py
  ops-bedrock/docker-compose.yml
  ops-bedrock/grafana.env
  ops-bedrock/monitoring/grafana/dashboards/op_stack_compose_dashboard.json
  ops-bedrock/monitoring/grafana/provisioning/dashboards/all.yml
  ops-bedrock/monitoring/grafana/provisioning/datasources/all.yml
  ops-bedrock/monitoring/prometheus/prometheus.yml
Owners: @ethereum-optimism/go-reviewers

chore: Update deps
  ops-bedrock/docker-compose.yml
  ops-bedrock/monitoring/grafana/dashboards/op_stack_compose_dashboard.json
  ops-bedrock/monitoring/prometheus/prometheus.yml
Owners: @ethereum-optimism/go-reviewers

fix(alt-da devnet): ops-bedrock/docker-compose file had missing .env dependency also updated readme and makefile
  Makefile
  README.md
  ops-bedrock/docker-compose.yml
Owners: @ethereum-optimism/go-reviewers

getting-started: modernize
  packages/contracts-bedrock/scripts/getting-started/config.sh
Owners: @ethereum-optimism/contract-reviewers

op-challenger: Fix run-trace disputed block selection
  op-challenger/game/fault/trace/vm/executor.go
  op-challenger/runner/runner.go
Owners: @ethereum-optimism/go-reviewers

op-batcher: Add back test subcommand
  op-batcher/cmd/backtest.go
  op-batcher/cmd/main.go
Owners: @ethereum-optimism/go-reviewers

fix: op-batcher batch-tx-submitted metric double count
  op-batcher/batcher/channel.go
Owners: @ethereum-optimism/go-reviewers

Don't recheck terminal type for color
  op-service/log/cli.go
Owners: @ethereum-optimism/go-reviewers

Apply suggestions from code review
  op-proposer/proposer/driver.go
Owners: @ethereum-optimism/go-reviewers

return err instead of defaulting to sending a proposak
  op-proposer/proposer/driver.go
Owners: @ethereum-optimism/go-reviewers
