Repository ethereum-optimism/optimism, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ethereum-optimism/security-reviewers, @ethereum-optimism/infra-reviewers, @ethereum-optimism/typescript-reviewers, @ethereum-optimism/contract-reviewers, @ethereum-optimism/legacy-reviewers, @ethereum-optimism/devxpod, @ethereum-optimism/go-reviewers, @protolambda, @trianglesphere, @ajsutton, @0x00101010, @zhwrd, @mslipper, @ethereum-optimism/monorepo-ops-reviewers, @ethereum-optimism/release-managers

update snapshots
  packages/contracts-bedrock/snapshots/abi/FaultDisputeGame.json
  packages/contracts-bedrock/snapshots/abi/PermissionedDisputeGame.json
Owners: @ethereum-optimism/contract-reviewers

move param
  packages/contracts-bedrock/semver-lock.json
  packages/contracts-bedrock/src/dispute/FaultDisputeGame.sol
Owners: @ethereum-optimism/contract-reviewers

fix docs
  packages/contracts-bedrock/semver-lock.json
  packages/contracts-bedrock/src/dispute/FaultDisputeGame.sol
Owners: @ethereum-optimism/contract-reviewers

Fix tests
  packages/contracts-bedrock/test/dispute/FaultDisputeGame.t.sol
  packages/contracts-bedrock/test/dispute/PermissionedDisputeGame.t.sol
Owners: @ethereum-optimism/contract-reviewers

op-challenger: Supply parent value when performing moves
  op-challenger/cmd/move.go
  op-challenger/game/fault/agent.go
  op-challenger/game/fault/contracts/faultdisputegame.go
  op-challenger/game/fault/contracts/faultdisputegame0180.go
  op-challenger/game/fault/contracts/faultdisputegame080.go
  op-challenger/game/fault/contracts/faultdisputegame_test.go
  op-challenger/game/fault/responder/responder.go
  op-challenger/game/fault/responder/responder_test.go
  op-challenger/game/fault/solver/game_solver.go
  op-challenger/game/fault/solver/game_solver_test.go
  op-challenger/game/fault/solver/rules.go
  op-challenger/game/fault/test/game_builder.go
  op-challenger/game/fault/types/actions.go
Owners: @ethereum-optimism/go-reviewers

op-challenger: Add backwards compatibility with v1.1.1
  op-challenger/game/fault/contracts/abis/FaultDisputeGame-1.1.1.json
  op-challenger/game/fault/contracts/faultdisputegame.go
  op-challenger/game/fault/contracts/faultdisputegame111.go
  op-challenger/game/fault/contracts/faultdisputegame_test.go
Owners: @ethereum-optimism/go-reviewers

test: add more test for advance l1 origin
  op-plasma/damgr_test.go
Owners: @ethereum-optimism/go-reviewers

op-e2e: Update e2e for new FaultDisputeGame ABI
  op-bindings/bindings/faultdisputegame.go
  op-challenger/game/fault/contracts/faultdisputegame080.go
  op-e2e/e2eutils/disputegame/output_game_helper.go
Owners: @ethereum-optimism/go-reviewers

chore: fix function names in comment (#10535)
  op-service/txmgr/txmgr_test.go
  op-wheel/engine/engine.go
Owners: @ethereum-optimism/go-reviewers

forge install: solady-v0.0.158
  .gitmodules
Owners: none

Remove solady, change dependency to be explicit on v0.0.158
  .gitmodules
  packages/contracts-bedrock/foundry.toml
Owners: @ethereum-optimism/contract-reviewers

dispute-game: Sanity check disputed claim index (#10520)
  op-bindings/bindings/faultdisputegame.go
  op-challenger/cmd/move.go
  op-challenger/game/fault/agent.go
  op-challenger/game/fault/contracts/abis/FaultDisputeGame-1.1.1.json
  op-challenger/game/fault/contracts/faultdisputegame.go
  op-challenger/game/fault/contracts/faultdisputegame0180.go
  op-challenger/game/fault/contracts/faultdisputegame080.go
  op-challenger/game/fault/contracts/faultdisputegame111.go
  op-challenger/game/fault/contracts/faultdisputegame_test.go
  op-challenger/game/fault/responder/responder.go
  op-challenger/game/fault/responder/responder_test.go
  op-challenger/game/fault/solver/game_solver.go
  op-challenger/game/fault/solver/game_solver_test.go
  op-challenger/game/fault/solver/rules.go
  op-challenger/game/fault/test/game_builder.go
  op-challenger/game/fault/types/actions.go
  op-e2e/e2eutils/disputegame/output_game_helper.go
  packages/contracts-bedrock/semver-lock.json
  packages/contracts-bedrock/snapshots/abi/PermissionedDisputeGame.json
  packages/contracts-bedrock/src/dispute/FaultDisputeGame.sol
  packages/contracts-bedrock/src/dispute/PermissionedDisputeGame.sol
  packages/contracts-bedrock/src/dispute/interfaces/IFaultDisputeGame.sol
  packages/contracts-bedrock/src/dispute/lib/Errors.sol
  packages/contracts-bedrock/test/actors/FaultDisputeActors.sol
  packages/contracts-bedrock/test/dispute/FaultDisputeGame.t.sol
  packages/contracts-bedrock/test/dispute/PermissionedDisputeGame.t.sol
  packages/contracts-bedrock/test/invariants/FaultDisputeGame.t.sol
Owners: @ethereum-optimism/go-reviewers, @ethereum-optimism/contract-reviewers

ctb: SafeTestTools improvements
  packages/contracts-bedrock/test/Safe/LivenessGuard.t.sol
  packages/contracts-bedrock/test/safe-tools/SafeTestTools.sol
Owners: @ethereum-optimism/contract-reviewers

cannon: Handle div by zero in MIPS.sol (#10468)
  packages/contracts-bedrock/semver-lock.json
  packages/contracts-bedrock/src/cannon/MIPS.sol
  packages/contracts-bedrock/test/cannon/MIPS.t.sol
Owners: @ethereum-optimism/contract-reviewers

Fix ci version script when filtering tags
  .circleci/config.yml
Owners: @ethereum-optimism/monorepo-ops-reviewers

feat(ctb): Enforce maximum L2 gas limit (#10500)
  packages/contracts-bedrock/invariant-docs/SystemConfig.md
  packages/contracts-bedrock/semver-lock.json
  packages/contracts-bedrock/snapshots/abi/SystemConfig.json
  packages/contracts-bedrock/src/L1/SystemConfig.sol
  packages/contracts-bedrock/test/L1/SystemConfig.t.sol
  packages/contracts-bedrock/test/invariants/SystemConfig.t.sol
  packages/contracts-bedrock/test/kontrol/proofs/utils/DeploymentSummary.sol
  packages/contracts-bedrock/test/kontrol/proofs/utils/DeploymentSummaryCode.sol
Owners: @ethereum-optimism/contract-reviewers

feat(ctb): Support `OptimismPortal2` in kontrol tests (#10429)
  .circleci/config.yml
  packages/contracts-bedrock/.gitignore
  packages/contracts-bedrock/package.json
  packages/contracts-bedrock/test/L1/OptimismPortal2.t.sol
  packages/contracts-bedrock/test/kontrol/README.md
  packages/contracts-bedrock/test/kontrol/deployment/DeploymentSummaryFaultProofs.t.sol
  packages/contracts-bedrock/test/kontrol/deployment/KontrolDeployment.sol
  packages/contracts-bedrock/test/kontrol/proofs/OptimismPortal2.k.sol
  packages/contracts-bedrock/test/kontrol/proofs/utils/DeploymentSummaryFaultProofs.sol
  packages/contracts-bedrock/test/kontrol/proofs/utils/DeploymentSummaryFaultProofsCode.sol
  packages/contracts-bedrock/test/kontrol/scripts/common.sh
  packages/contracts-bedrock/test/kontrol/scripts/make-summary-deployment.sh
  packages/contracts-bedrock/test/kontrol/scripts/run-kontrol.sh
Owners: @ethereum-optimism/monorepo-ops-reviewers, @ethereum-optimism/contract-reviewers

feat(ctb): Remove `setResourceConfig` (#10501)
  packages/contracts-bedrock/test/kontrol/proofs/utils/DeploymentSummaryFaultProofs.sol
  packages/contracts-bedrock/test/kontrol/proofs/utils/DeploymentSummaryFaultProofsCode.sol
Owners: @ethereum-optimism/contract-reviewers

chore(ctb): Update sepolia devnet 0 deploy config (#10396)
  packages/contracts-bedrock/deploy-config/sepolia-devnet-0.json
Owners: @ethereum-optimism/contract-reviewers

feat(ctb): Extra monitoring events in `OptimismPortal2` (#10423)
  packages/contracts-bedrock/semver-lock.json
  packages/contracts-bedrock/snapshots/abi/DeputyGuardianModule.json
  packages/contracts-bedrock/snapshots/abi/OptimismPortal2.json
  packages/contracts-bedrock/src/L1/OptimismPortal2.sol
  packages/contracts-bedrock/src/Safe/DeputyGuardianModule.sol
  packages/contracts-bedrock/test/L1/OptimismPortal2.t.sol
  packages/contracts-bedrock/test/Safe/DeputyGuardianModule.t.sol
  packages/contracts-bedrock/test/setup/Events.sol
Owners: @ethereum-optimism/contract-reviewers

chore(ctb): Update sepolia deploy config (#10418)
  packages/contracts-bedrock/deploy-config/sepolia.json
Owners: @ethereum-optimism/contract-reviewers

feat(ctb): Expose `l2BlockNumberChallenger` (#10463)
  packages/contracts-bedrock/semver-lock.json
  packages/contracts-bedrock/snapshots/abi/FaultDisputeGame.json
  packages/contracts-bedrock/snapshots/abi/PermissionedDisputeGame.json
  packages/contracts-bedrock/src/dispute/FaultDisputeGame.sol
Owners: @ethereum-optimism/contract-reviewers

feat(ctb): Add new move type to FDG for OR counters (#10438)
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/semver-lock.json
  packages/contracts-bedrock/snapshots/abi/FaultDisputeGame.json
  packages/contracts-bedrock/snapshots/abi/OptimismPortal.json
  packages/contracts-bedrock/snapshots/abi/OptimismPortal2.json
  packages/contracts-bedrock/snapshots/abi/PermissionedDisputeGame.json
  packages/contracts-bedrock/snapshots/storageLayout/FaultDisputeGame.json
  packages/contracts-bedrock/snapshots/storageLayout/PermissionedDisputeGame.json
  packages/contracts-bedrock/src/L1/OptimismPortal2.sol
  packages/contracts-bedrock/src/dispute/FaultDisputeGame.sol
  packages/contracts-bedrock/src/dispute/lib/Errors.sol
  packages/contracts-bedrock/src/libraries/rlp/RLPErrors.sol
  packages/contracts-bedrock/src/libraries/rlp/RLPReader.sol
  packages/contracts-bedrock/test/dispute/FaultDisputeGame.t.sol
  packages/contracts-bedrock/test/libraries/rlp/RLPReader.t.sol
  packages/contracts-bedrock/test/libraries/trie/MerkleTrie.t.sol
Owners: @ethereum-optimism/contract-reviewers

feat(ctb): Enforce maximum L2 gas limit (#10500)
  packages/contracts-bedrock/invariant-docs/SystemConfig.md
  packages/contracts-bedrock/snapshots/abi/SystemConfig.json
  packages/contracts-bedrock/src/L1/SystemConfig.sol
  packages/contracts-bedrock/test/L1/SystemConfig.t.sol
  packages/contracts-bedrock/test/invariants/SystemConfig.t.sol
Owners: @ethereum-optimism/contract-reviewers

cannon: Handle div by zero in MIPS.sol (#10468)
  packages/contracts-bedrock/semver-lock.json
  packages/contracts-bedrock/src/cannon/MIPS.sol
  packages/contracts-bedrock/test/cannon/MIPS.t.sol
Owners: @ethereum-optimism/contract-reviewers

feat(ctb): Support `OptimismPortal2` in kontrol tests (#10429)
  .circleci/config.yml
  packages/contracts-bedrock/.gitignore
  packages/contracts-bedrock/package.json
  packages/contracts-bedrock/test/L1/OptimismPortal2.t.sol
  packages/contracts-bedrock/test/kontrol/README.md
  packages/contracts-bedrock/test/kontrol/deployment/DeploymentSummaryFaultProofs.t.sol
  packages/contracts-bedrock/test/kontrol/deployment/KontrolDeployment.sol
  packages/contracts-bedrock/test/kontrol/proofs/OptimismPortal2.k.sol
  packages/contracts-bedrock/test/kontrol/proofs/utils/DeploymentSummaryFaultProofs.sol
  packages/contracts-bedrock/test/kontrol/proofs/utils/DeploymentSummaryFaultProofsCode.sol
  packages/contracts-bedrock/test/kontrol/scripts/common.sh
  packages/contracts-bedrock/test/kontrol/scripts/make-summary-deployment.sh
  packages/contracts-bedrock/test/kontrol/scripts/run-kontrol.sh
Owners: @ethereum-optimism/monorepo-ops-reviewers, @ethereum-optimism/contract-reviewers

feat(ctb): Remove `setResourceConfig` (#10501)
  packages/contracts-bedrock/snapshots/abi/SystemConfig.json
  packages/contracts-bedrock/src/L1/SystemConfig.sol
  packages/contracts-bedrock/test/L1/SystemConfig.t.sol
  packages/contracts-bedrock/test/Specs.t.sol
Owners: @ethereum-optimism/contract-reviewers

resolve conflicts
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/semver-lock.json
  packages/contracts-bedrock/snapshots/abi/OptimismPortal.json
  packages/contracts-bedrock/src/L1/SystemConfig.sol
  packages/contracts-bedrock/test/kontrol/proofs/utils/DeploymentSummary.sol
  packages/contracts-bedrock/test/kontrol/proofs/utils/DeploymentSummaryCode.sol
  packages/contracts-bedrock/test/kontrol/proofs/utils/DeploymentSummaryFaultProofs.sol
  packages/contracts-bedrock/test/kontrol/proofs/utils/DeploymentSummaryFaultProofsCode.sol
Owners: @ethereum-optimism/contract-reviewers

Fix ci version script when filtering tags (#10539)
  .circleci/config.yml
Owners: @ethereum-optimism/monorepo-ops-reviewers

dispute-game: Sanity check disputed claim index (#10520)
  op-bindings/bindings/faultdisputegame.go
  op-challenger/cmd/move.go
  op-challenger/game/fault/agent.go
  op-challenger/game/fault/contracts/abis/FaultDisputeGame-1.1.1.json
  op-challenger/game/fault/contracts/faultdisputegame.go
  op-challenger/game/fault/contracts/faultdisputegame0180.go
  op-challenger/game/fault/contracts/faultdisputegame080.go
  op-challenger/game/fault/contracts/faultdisputegame111.go
  op-challenger/game/fault/contracts/faultdisputegame_test.go
  op-challenger/game/fault/responder/responder.go
  op-challenger/game/fault/responder/responder_test.go
  op-challenger/game/fault/solver/game_solver.go
  op-challenger/game/fault/solver/game_solver_test.go
  op-challenger/game/fault/solver/rules.go
  op-challenger/game/fault/test/game_builder.go
  op-challenger/game/fault/types/actions.go
  op-e2e/e2eutils/disputegame/output_game_helper.go
  packages/contracts-bedrock/semver-lock.json
  packages/contracts-bedrock/snapshots/abi/PermissionedDisputeGame.json
  packages/contracts-bedrock/src/dispute/FaultDisputeGame.sol
  packages/contracts-bedrock/src/dispute/PermissionedDisputeGame.sol
  packages/contracts-bedrock/src/dispute/interfaces/IFaultDisputeGame.sol
  packages/contracts-bedrock/src/dispute/lib/Errors.sol
  packages/contracts-bedrock/test/actors/FaultDisputeActors.sol
  packages/contracts-bedrock/test/dispute/FaultDisputeGame.t.sol
  packages/contracts-bedrock/test/dispute/PermissionedDisputeGame.t.sol
  packages/contracts-bedrock/test/invariants/FaultDisputeGame.t.sol
Owners: @ethereum-optimism/go-reviewers, @ethereum-optimism/contract-reviewers

Fix blob sidecar req indices query param
  op-service/sources/l1_beacon_client.go
Owners: @ethereum-optimism/go-reviewers

cannon: Make jsonutil error when loading json payload with extra data
  op-service/jsonutil/json.go
  op-service/jsonutil/json_test.go
Owners: @ethereum-optimism/go-reviewers

op-challenger/op-dispute-mon: Support version 1.0.0 of fault dispute game contracts.
  op-challenger/game/fault/contracts/faultdisputegame.go
Owners: @ethereum-optimism/go-reviewers

Update e2e tests to correctly parse indices query param
  op-e2e/e2eutils/fakebeacon/blobs.go
  op-service/sources/l1_beacon_client.go
Owners: @ethereum-optimism/go-reviewers

op-challenger/op-dispute-mon: Support version 1.0.0 of fault dispute game contracts. (#10543)
  op-challenger/game/fault/contracts/faultdisputegame.go
Owners: @ethereum-optimism/go-reviewers

ctb: SafeTestTools improvements (#10537)
  packages/contracts-bedrock/test/Safe/LivenessGuard.t.sol
  packages/contracts-bedrock/test/safe-tools/SafeTestTools.sol
Owners: @ethereum-optimism/contract-reviewers

ctb: Add check to LM deploy script
  packages/contracts-bedrock/scripts/DeployOwnership.s.sol
Owners: @ethereum-optimism/contract-reviewers

ctb: Move threshold check from LivenessModule constructor
  packages/contracts-bedrock/scripts/DeployOwnership.s.sol
  packages/contracts-bedrock/semver-lock.json
  packages/contracts-bedrock/src/Safe/LivenessModule.sol
  packages/contracts-bedrock/test/Safe/DeployOwnership.t.sol
  packages/contracts-bedrock/test/Safe/LivenessGuard.t.sol
  packages/contracts-bedrock/test/Safe/LivenessModule.t.sol
Owners: @ethereum-optimism/contract-reviewers

ctb: Update snapshots and semver-lock
  packages/contracts-bedrock/semver-lock.json
Owners: @ethereum-optimism/contract-reviewers

ctb: Move threshold check from LivenessModule constructor (#10516)
  packages/contracts-bedrock/scripts/DeployOwnership.s.sol
  packages/contracts-bedrock/semver-lock.json
  packages/contracts-bedrock/src/Safe/LivenessModule.sol
  packages/contracts-bedrock/test/Safe/DeployOwnership.t.sol
  packages/contracts-bedrock/test/Safe/LivenessGuard.t.sol
  packages/contracts-bedrock/test/Safe/LivenessModule.t.sol
Owners: @ethereum-optimism/contract-reviewers

.github/CODEOWNERS:

# Packages
/packages/chain-mon             @ethereum-optimism/security-reviewers
/packages/chain-mon/internal/balance-mon             @ethereum-optimism/infra-reviewers
/packages/common-ts             @ethereum-optimism/typescript-reviewers
/packages/contracts-bedrock     @ethereum-optimism/contract-reviewers
/packages/core-utils            @ethereum-optimism/legacy-reviewers
/packages/sdk                   @ethereum-optimism/devxpod

# Bedrock codebases
/bedrock-devnet @ethereum-optimism/go-reviewers
/cannon         @ethereum-optimism/go-reviewers
/op-batcher     @ethereum-optimism/go-reviewers
/op-bootnode    @ethereum-optimism/go-reviewers
/op-chain-ops   @ethereum-optimism/go-reviewers
/op-challenger  @ethereum-optimism/go-reviewers
/op-dispute-mon  @ethereum-optimism/go-reviewers
/op-e2e         @ethereum-optimism/go-reviewers
/op-heartbeat   @ethereum-optimism/go-reviewers
/op-node        @ethereum-optimism/go-reviewers
/op-node/rollup @protolambda @trianglesphere @ajsutton
/op-plasma      @ethereum-optimism/go-reviewers
/op-preimage    @ethereum-optimism/go-reviewers
/op-program     @ethereum-optimism/go-reviewers
/op-proposer    @ethereum-optimism/go-reviewers
/op-service     @ethereum-optimism/go-reviewers
/op-wheel       @ethereum-optimism/go-reviewers
/ops-bedrock    @ethereum-optimism/go-reviewers
/op-conductor   @0x00101010 @zhwrd @mslipper

# Ops
/.circleci       @ethereum-optimism/monorepo-ops-reviewers
/.github         @ethereum-optimism/monorepo-ops-reviewers
/ops             @ethereum-optimism/monorepo-ops-reviewers
/docker-bake.hcl @ethereum-optimism/monorepo-ops-reviewers

# Misc
/proxyd           @ethereum-optimism/infra-reviewers
/indexer          @ethereum-optimism/devxpod
/infra            @ethereum-optimism/infra-reviewers
/specs            @ethereum-optimism/contract-reviewers @ethereum-optimism/go-reviewers
/endpoint-monitor @ethereum-optimism/infra-reviewers

# Don't add owners if only package.json is updated
/packages/*/package.json
/*/package.json

# JavaScript Releases
/packages/*/CHANGELOG.md @ethereum-optimism/release-managers
/*/CHANGELOG.md          @ethereum-optimism/release-managers
