Repository ethereum-optimism/optimism, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ethereum-optimism/go-reviewers, @ethereum-optimism/op-stack, @ethereum-optimism/consensus, @ethereum-optimism/interop, @ethereum-optimism/op-conductor, @ethereum-optimism/proofs, @ethereum-optimism/monorepo-ops-reviewers, @ethereum-optimism/contract-reviewers

docs: add op-batcher readme
  op-batcher/readme.md
Owners: @ethereum-optimism/op-stack, @ethereum-optimism/go-reviewers

address reviews, refactor frame loading and pruning
  op-node/rollup/derive/frame_queue.go
  op-node/rollup/derive/frame_queue_test.go
Owners: @ethereum-optimism/consensus, @ethereum-optimism/go-reviewers

channelMgr: make blocks slice a Queue type
  op-batcher/batcher/channel.go
  op-batcher/batcher/channel_manager.go
  op-batcher/batcher/channel_manager_test.go
Owners: @ethereum-optimism/op-stack, @ethereum-optimism/go-reviewers

move queue code to separate file
  op-batcher/batcher/channel_manager.go
  op-batcher/batcher/queue.go
Owners: @ethereum-optimism/op-stack, @ethereum-optimism/go-reviewers

remove cruft
  op-batcher/batcher/channel_manager.go
Owners: @ethereum-optimism/op-stack, @ethereum-optimism/go-reviewers

ensure blocks are only prepended if the channel is done
  op-batcher/batcher/channel_manager.go
Owners: @ethereum-optimism/op-stack, @ethereum-optimism/go-reviewers

maint(ct): add leftover interfaces
  packages/contracts-bedrock/scripts/DeployImplementations.s.sol
  packages/contracts-bedrock/scripts/deploy/ChainAssertions.sol
  packages/contracts-bedrock/scripts/deploy/Deploy.s.sol
  packages/contracts-bedrock/scripts/fpac/FPACOPS.s.sol
  packages/contracts-bedrock/scripts/fpac/FPACOPS2.s.sol
  packages/contracts-bedrock/scripts/libraries/DeployUtils.sol
  packages/contracts-bedrock/scripts/periphery/deploy/DeployPeriphery.s.sol
  packages/contracts-bedrock/semver-lock.json
  packages/contracts-bedrock/snapshots/abi/ProxyAdmin.json
  packages/contracts-bedrock/snapshots/storageLayout/ProxyAdmin.json
  packages/contracts-bedrock/src/L1/OPContractsManager.sol
  packages/contracts-bedrock/src/cannon/PreimageOracle.sol
  packages/contracts-bedrock/src/cannon/interfaces/IPreimageOracle.sol
  packages/contracts-bedrock/src/legacy/interfaces/IResolvedDelegateProxy.sol
  packages/contracts-bedrock/src/universal/ProxyAdmin.sol
  packages/contracts-bedrock/src/universal/interfaces/IOptimismMintableERC721Factory.sol
  packages/contracts-bedrock/src/universal/interfaces/IProxy.sol
  packages/contracts-bedrock/src/universal/interfaces/IProxyAdmin.sol
  packages/contracts-bedrock/test/L1/DataAvailabilityChallenge.t.sol
  packages/contracts-bedrock/test/L1/OptimismPortal.t.sol
  packages/contracts-bedrock/test/L1/OptimismPortal2.t.sol
  packages/contracts-bedrock/test/L1/ProtocolVersions.t.sol
  packages/contracts-bedrock/test/L1/ResourceMetering.t.sol
  packages/contracts-bedrock/test/L1/SystemConfig.t.sol
  packages/contracts-bedrock/test/cannon/MIPS.t.sol
  packages/contracts-bedrock/test/cannon/MIPS2.t.sol
  packages/contracts-bedrock/test/dispute/FaultDisputeGame.t.sol
  packages/contracts-bedrock/test/dispute/PermissionedDisputeGame.t.sol
  packages/contracts-bedrock/test/mocks/AlphabetVM.sol
  packages/contracts-bedrock/test/universal/OptimismMintableERC20Factory.t.sol
  packages/contracts-bedrock/test/universal/ProxyAdmin.t.sol
Owners: @ethereum-optimism/contract-reviewers

Remove devnet tests (#12170)
  .circleci/config.yml
Owners: @ethereum-optimism/monorepo-ops-reviewers

revert tx manger changes
  op-chain-ops/deployer/broadcaster/keyed.go
Owners: @ethereum-optimism/op-stack, @ethereum-optimism/go-reviewers

Update packages/contracts-bedrock/src/L1/interfaces/IL1StandardBridgeV160.sol
  packages/contracts-bedrock/src/L1/interfaces/IL1StandardBridgeV160.sol
Owners: @ethereum-optimism/contract-reviewers

Update packages/contracts-bedrock/src/L1/interfaces/IL1CrossDomainMessengerV160.sol
  packages/contracts-bedrock/src/L1/interfaces/IL1CrossDomainMessengerV160.sol
Owners: @ethereum-optimism/contract-reviewers

interop: track recent safety data
  op-supervisor/supervisor/backend/db/logs/iterator.go
  op-supervisor/supervisor/backend/db/logs/state.go
  op-supervisor/supervisor/backend/tracker/safety.go
Owners: @ethereum-optimism/interop, @ethereum-optimism/go-reviewers

fixes
  op-node/rollup/interop/interop.go
Owners: @ethereum-optimism/consensus, @ethereum-optimism/go-reviewers

rename RecentSafetyIndex ; reorganize
  op-supervisor/supervisor/backend/safety/safety.go
  op-supervisor/supervisor/backend/safety/views.go
Owners: @ethereum-optimism/interop, @ethereum-optimism/go-reviewers

update for rebase
  op-supervisor/supervisor/backend/db/db.go
  op-supervisor/supervisor/backend/db/logs/iterator.go
  op-supervisor/supervisor/backend/db/logs/state.go
  op-supervisor/supervisor/backend/safety/safety.go
  op-supervisor/supervisor/backend/safety/views.go
  op-supervisor/supervisor/backend/source/log_processor.go
  op-supervisor/supervisor/backend/source/log_processor_test.go
Owners: @ethereum-optimism/interop, @ethereum-optimism/go-reviewers

Early integration and refactor of Views and SafetyIndex
  op-supervisor/supervisor/backend/db/db.go
  op-supervisor/supervisor/backend/db/heads/types.go
  op-supervisor/supervisor/backend/db/logs/iterator.go
  op-supervisor/supervisor/backend/safety/safety.go
  op-supervisor/supervisor/backend/safety/views.go
  op-supervisor/supervisor/backend/source/chain.go
  op-supervisor/supervisor/backend/source/chain_processor.go
  op-supervisor/supervisor/backend/source/log_processor.go
  op-supervisor/supervisor/backend/source/log_processor_test.go
  op-supervisor/supervisor/backend/tracker/safety.go
Owners: @ethereum-optimism/interop, @ethereum-optimism/go-reviewers

refactor Pointer method on iterator
  op-supervisor/supervisor/backend/db/logs/iterator.go
  op-supervisor/supervisor/backend/db/logs/state.go
  op-supervisor/supervisor/backend/safety/views.go
Owners: @ethereum-optimism/interop, @ethereum-optimism/go-reviewers

logging
  op-supervisor/supervisor/backend/safety/safety.go
Owners: @ethereum-optimism/interop, @ethereum-optimism/go-reviewers

op-supervisor: head db init fix, logging, op-node debug logging
  op-e2e/interop/interop_test.go
  op-e2e/interop/supersystem.go
  op-node/rollup/status/status.go
Owners: @ethereum-optimism/op-stack, @ethereum-optimism/go-reviewers, @ethereum-optimism/consensus

maint(ct): add leftover interfaces (#12167)
  packages/contracts-bedrock/scripts/DeployImplementations.s.sol
  packages/contracts-bedrock/scripts/deploy/ChainAssertions.sol
  packages/contracts-bedrock/scripts/deploy/Deploy.s.sol
  packages/contracts-bedrock/scripts/fpac/FPACOPS.s.sol
  packages/contracts-bedrock/scripts/fpac/FPACOPS2.s.sol
  packages/contracts-bedrock/scripts/libraries/DeployUtils.sol
  packages/contracts-bedrock/scripts/periphery/deploy/DeployPeriphery.s.sol
  packages/contracts-bedrock/semver-lock.json
  packages/contracts-bedrock/snapshots/abi/ProxyAdmin.json
  packages/contracts-bedrock/snapshots/storageLayout/ProxyAdmin.json
  packages/contracts-bedrock/src/L1/OPContractsManager.sol
  packages/contracts-bedrock/src/cannon/PreimageOracle.sol
  packages/contracts-bedrock/src/cannon/interfaces/IPreimageOracle.sol
  packages/contracts-bedrock/src/legacy/interfaces/IResolvedDelegateProxy.sol
  packages/contracts-bedrock/src/universal/ProxyAdmin.sol
  packages/contracts-bedrock/src/universal/interfaces/IOptimismMintableERC721Factory.sol
  packages/contracts-bedrock/src/universal/interfaces/IProxy.sol
  packages/contracts-bedrock/src/universal/interfaces/IProxyAdmin.sol
  packages/contracts-bedrock/test/L1/DataAvailabilityChallenge.t.sol
  packages/contracts-bedrock/test/L1/OptimismPortal.t.sol
  packages/contracts-bedrock/test/L1/OptimismPortal2.t.sol
  packages/contracts-bedrock/test/L1/ProtocolVersions.t.sol
  packages/contracts-bedrock/test/L1/ResourceMetering.t.sol
  packages/contracts-bedrock/test/L1/SystemConfig.t.sol
  packages/contracts-bedrock/test/cannon/MIPS.t.sol
  packages/contracts-bedrock/test/cannon/MIPS2.t.sol
  packages/contracts-bedrock/test/dispute/FaultDisputeGame.t.sol
  packages/contracts-bedrock/test/dispute/PermissionedDisputeGame.t.sol
  packages/contracts-bedrock/test/mocks/AlphabetVM.sol
  packages/contracts-bedrock/test/universal/OptimismMintableERC20Factory.t.sol
  packages/contracts-bedrock/test/universal/ProxyAdmin.t.sol
Owners: @ethereum-optimism/contract-reviewers

Delete unused Tracking Code ; New ChainsDB.Safest
  op-node/rollup/interop/interop.go
  op-supervisor/supervisor/backend/backend.go
  op-supervisor/supervisor/backend/db/db.go
  op-supervisor/supervisor/backend/db/safety_checkers.go
  op-supervisor/supervisor/backend/db/safety_checkers_test.go
  op-supervisor/supervisor/backend/source/chain.go
Owners: @ethereum-optimism/consensus, @ethereum-optimism/go-reviewers, @ethereum-optimism/interop

fix naming miss
  op-supervisor/supervisor/backend/db/db.go
  op-supervisor/supervisor/backend/safety/safety.go
Owners: @ethereum-optimism/interop, @ethereum-optimism/go-reviewers

fix mistaken line deletion
  op-node/rollup/interop/interop.go
Owners: @ethereum-optimism/consensus, @ethereum-optimism/go-reviewers

draft some notes
  op-batcher/readme.md
Owners: @ethereum-optimism/op-stack, @ethereum-optimism/go-reviewers

op-node/rollup/derive: Implement Holocene Frame Queue (#12069)
  op-node/rollup/derive/frame_queue.go
  op-node/rollup/derive/frame_queue_test.go
  op-node/rollup/derive/frame_test.go
  op-node/rollup/derive/mocks/next_data_provider.go
  op-node/rollup/derive/pipeline.go
Owners: @ethereum-optimism/consensus, @ethereum-optimism/go-reviewers

maint(ct): remove Kontrol interfaces
  packages/contracts-bedrock/scripts/checks/check-interfaces.sh
  packages/contracts-bedrock/src/L1/interfaces/IL1CrossDomainMessenger.sol
  packages/contracts-bedrock/test/kontrol/README.md
  packages/contracts-bedrock/test/kontrol/proofs/L1CrossDomainMessenger.k.sol
  packages/contracts-bedrock/test/kontrol/proofs/L1ERC721Bridge.k.sol
  packages/contracts-bedrock/test/kontrol/proofs/L1StandardBridge.k.sol
  packages/contracts-bedrock/test/kontrol/proofs/OptimismPortal.k.sol
  packages/contracts-bedrock/test/kontrol/proofs/OptimismPortal2.k.sol
  packages/contracts-bedrock/test/kontrol/proofs/interfaces/KontrolInterfaces.sol
Owners: @ethereum-optimism/contract-reviewers

use new opcm
  op-chain-ops/deployer/opcm/standard.go
  packages/contracts-bedrock/src/L1/OPContractsManager.sol
Owners: @ethereum-optimism/op-stack, @ethereum-optimism/go-reviewers, @ethereum-optimism/contract-reviewers

move Queue type to op-service
  op-batcher/batcher/channel_manager.go
  op-service/queue/queue.go
Owners: @ethereum-optimism/op-stack, @ethereum-optimism/go-reviewers

fix test
  packages/contracts-bedrock/scripts/DeployOPChain.s.sol
Owners: @ethereum-optimism/contract-reviewers

semver
  packages/contracts-bedrock/semver-lock.json
Owners: @ethereum-optimism/contract-reviewers

typo fix
  packages/contracts-bedrock/semver-lock.json
  packages/contracts-bedrock/src/cannon/PreimageOracle.sol
Owners: @ethereum-optimism/contract-reviewers

op-service: add queue package
  op-service/queue/queue.go
Owners: @ethereum-optimism/go-reviewers

contracts-bedrock: better error message (#12148)
  packages/contracts-bedrock/scripts/checks/check-foundry-install.sh
Owners: @ethereum-optimism/contract-reviewers

batcher: use Queue type for blocks
  op-batcher/batcher/channel_manager.go
  op-batcher/batcher/channel_manager_test.go
Owners: @ethereum-optimism/op-stack, @ethereum-optimism/go-reviewers

semver
  packages/contracts-bedrock/semver-lock.json
Owners: @ethereum-optimism/contract-reviewers

op-node,op-supervisor: feed local-unsafe/local-safe/l1-finalized data to supervisor
  op-node/rollup/engine/events.go
  op-node/rollup/finality/finalizer.go
  op-node/rollup/interop/interop.go
  op-service/sources/supervisor_client.go
  op-supervisor/supervisor/frontend/frontend.go
  op-supervisor/supervisor/types/types.go
Owners: @ethereum-optimism/consensus, @ethereum-optimism/go-reviewers, @ethereum-optimism/interop

bump semver
  packages/contracts-bedrock/semver-lock.json
  packages/contracts-bedrock/src/L1/OPContractsManager.sol
Owners: @ethereum-optimism/contract-reviewers

typo fix (#12179)
  packages/contracts-bedrock/semver-lock.json
  packages/contracts-bedrock/src/cannon/PreimageOracle.sol
Owners: @ethereum-optimism/contract-reviewers

update manager deployment
  op-chain-ops/deployer/opcm/standard.go
Owners: @ethereum-optimism/op-stack, @ethereum-optimism/go-reviewers

test: add superchain erc20 bridge tests (#65)
  packages/contracts-bedrock/semver-lock.json
  packages/contracts-bedrock/src/L2/OptimismSuperchainERC20Factory.sol
  packages/contracts-bedrock/src/L2/SuperchainWETH.sol
  packages/contracts-bedrock/src/L2/interfaces/IOptimismSuperchainERC20Factory.sol
  packages/contracts-bedrock/test/L2/OptimismSuperchainERC20Factory.t.sol
  packages/contracts-bedrock/test/L2/SuperchainERC20Bridge.t.sol
  packages/contracts-bedrock/test/L2/SuperchainWETH.t.sol
  packages/contracts-bedrock/test/setup/Setup.sol
Owners: @ethereum-optimism/contract-reviewers

.github/CODEOWNERS:

# Monorepo - default to go-reviewers
* @ethereum-optimism/go-reviewers

# OP Stack general
/bedrock-devnet @ethereum-optimism/op-stack @ethereum-optimism/go-reviewers
/op-alt-da      @ethereum-optimism/op-stack @ethereum-optimism/go-reviewers
/op-batcher     @ethereum-optimism/op-stack @ethereum-optimism/go-reviewers
/op-chain-ops   @ethereum-optimism/op-stack @ethereum-optimism/go-reviewers
/op-e2e         @ethereum-optimism/op-stack @ethereum-optimism/go-reviewers
/op-node        @ethereum-optimism/op-stack @ethereum-optimism/go-reviewers
/op-proposer    @ethereum-optimism/op-stack @ethereum-optimism/go-reviewers
/op-wheel       @ethereum-optimism/op-stack @ethereum-optimism/go-reviewers
/ops-bedrock    @ethereum-optimism/op-stack @ethereum-optimism/go-reviewers

# Expert areas
/op-node/rollup @ethereum-optimism/consensus @ethereum-optimism/go-reviewers

/op-supervisor  @ethereum-optimism/interop @ethereum-optimism/go-reviewers

/op-conductor   @ethereum-optimism/op-conductor @ethereum-optimism/go-reviewers

/cannon                @ethereum-optimism/proofs @ethereum-optimism/go-reviewers
/op-challenger         @ethereum-optimism/proofs @ethereum-optimism/go-reviewers
/op-dispute-mon        @ethereum-optimism/proofs @ethereum-optimism/go-reviewers
/op-preimage           @ethereum-optimism/proofs @ethereum-optimism/go-reviewers
/op-program            @ethereum-optimism/proofs @ethereum-optimism/go-reviewers
/op-e2e/actions/proofs @ethereum-optimism/proofs @ethereum-optimism/go-reviewers
/op-e2e/faultproofs    @ethereum-optimism/proofs @ethereum-optimism/go-reviewers

# Ops
/.circleci       @ethereum-optimism/monorepo-ops-reviewers
/.github         @ethereum-optimism/monorepo-ops-reviewers
/ops             @ethereum-optimism/monorepo-ops-reviewers
/docker-bake.hcl @ethereum-optimism/monorepo-ops-reviewers

# Contracts
/packages/contracts-bedrock     @ethereum-optimism/contract-reviewers
