Repository ethereum-optimism/optimism, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ethereum-optimism/go-reviewers, @ethereum-optimism/op-stack, @ethereum-optimism/consensus, @ethereum-optimism/interop, @ethereum-optimism/op-conductor, @ethereum-optimism/proofs, @ethereum-optimism/monorepo-ops-reviewers, @ethereum-optimism/contract-reviewers

feat: Replace deployImplementations with call to DeployImplementations.run()
  packages/contracts-bedrock/scripts/deploy/Deploy.s.sol
Owners: @ethereum-optimism/contract-reviewers

typos
  op-node/rollup/derive/l1_block_info.go
Owners: @ethereum-optimism/consensus, @ethereum-optimism/go-reviewers

feat: Delete FPACOPS scripts
  packages/contracts-bedrock/scripts/deploy/Deploy.s.sol
  packages/contracts-bedrock/scripts/fpac/FPACOPS.s.sol
  packages/contracts-bedrock/scripts/fpac/FPACOPS2.s.sol
Owners: @ethereum-optimism/contract-reviewers

feat: Annotate functions used in FPACOPS scripts
  packages/contracts-bedrock/scripts/deploy/Deploy.s.sol
Owners: @ethereum-optimism/contract-reviewers

feat: delete unused deploy functions
  packages/contracts-bedrock/scripts/deploy/Deploy.s.sol
Owners: @ethereum-optimism/contract-reviewers

Update Deploy.s.sol
  packages/contracts-bedrock/scripts/deploy/Deploy.s.sol
Owners: @ethereum-optimism/contract-reviewers

OPCM: New OPCMProxy for Sepolia
  op-chain-ops/deployer/opcm/standard.go
Owners: @ethereum-optimism/op-stack, @ethereum-optimism/go-reviewers

redeploy OPCM
  op-chain-ops/deployer/opcm/standard.go
Owners: @ethereum-optimism/op-stack, @ethereum-optimism/go-reviewers

Update op-geth to v1.14.11 merge base
  go.mod
  go.sum
Owners: @ethereum-optimism/go-reviewers

comment
  op-chain-ops/deployer/opcm/standard.go
Owners: @ethereum-optimism/op-stack, @ethereum-optimism/go-reviewers

Update to ethereum-optimism/op-geth commit
  go.mod
  go.sum
Owners: @ethereum-optimism/go-reviewers

Move serialize from cannon to op-service (#12265)
  cannon/cmd/load_elf.go
  cannon/cmd/run.go
  cannon/mipsevm/iface.go
  cannon/mipsevm/multithreaded/state.go
  cannon/mipsevm/singlethreaded/state.go
  cannon/mipsevm/versions/detect.go
  cannon/mipsevm/versions/state.go
  cannon/mipsevm/versions/state_test.go
  op-service/serialize/binary.go
  op-service/serialize/binary_test.go
  op-service/serialize/detect.go
  op-service/serialize/detect_test.go
  op-service/serialize/reader.go
  op-service/serialize/reader_test.go
  op-service/serialize/writer.go
  op-service/serialize/writer_test.go
Owners: @ethereum-optimism/proofs, @ethereum-optimism/go-reviewers

feat: Add ChainAssertions for deploySuperchain contracts (#12271)
  packages/contracts-bedrock/scripts/deploy/ChainAssertions.sol
  packages/contracts-bedrock/scripts/deploy/Deploy.s.sol
Owners: @ethereum-optimism/contract-reviewers

feat(ct): add SOLIDITY_UPGRADES document
  packages/contracts-bedrock/README.md
  packages/contracts-bedrock/SOLIDITY_UPGRADES.md
Owners: @ethereum-optimism/contract-reviewers

feat(ct): add SOLIDITY_UPGRADES document (#12272)
  packages/contracts-bedrock/README.md
  packages/contracts-bedrock/SOLIDITY_UPGRADES.md
Owners: @ethereum-optimism/contract-reviewers

op-node,op-service,op-e2e: wip, fix interop op-node tests
  op-e2e/actions/interop/interop_test.go
  op-node/rollup/engine/events.go
  op-node/rollup/interop/interop.go
  op-node/rollup/interop/interop_test.go
  op-service/sources/supervisor_client.go
  op-service/testutils/mock_interop_backend.go
Owners: @ethereum-optimism/op-stack, @ethereum-optimism/go-reviewers, @ethereum-optimism/consensus

op-node,op-supervisor: feed local-unsafe/local-safe/l1-finalized data to supervisor
  op-node/rollup/engine/events.go
  op-node/rollup/finality/finalizer.go
  op-node/rollup/interop/interop.go
  op-service/sources/supervisor_client.go
  op-supervisor/supervisor/frontend/frontend.go
  op-supervisor/supervisor/types/types.go
Owners: @ethereum-optimism/consensus, @ethereum-optimism/go-reviewers, @ethereum-optimism/interop

Early Draft: Simple Safety Index Persistence
  op-supervisor/supervisor/backend/safety/persistence.go
Owners: @ethereum-optimism/interop, @ethereum-optimism/go-reviewers

post-rebase compilation fixes
  op-supervisor/supervisor/backend/backend.go
  op-supervisor/supervisor/backend/mock.go
Owners: @ethereum-optimism/interop, @ethereum-optimism/go-reviewers

Early Draft: Simple Safety Index Persistence
  op-supervisor/supervisor/backend/safety/persistence.go
Owners: @ethereum-optimism/interop, @ethereum-optimism/go-reviewers

maint(ci): add kontrol build to CI (#12266)
  .circleci/config.yml
Owners: @ethereum-optimism/monorepo-ops-reviewers

cannon: Fix 64-bit memory access
  cannon/cmd/run.go
  cannon/mipsevm/exec/memory.go
  cannon/mipsevm/exec/mips_instructions.go
  cannon/mipsevm/memory/memory.go
  cannon/mipsevm/memory/memory64_test.go
  cannon/mipsevm/tests/evm_common_test.go
  cannon/mipsevm/testutil/vmtests.go
Owners: @ethereum-optimism/proofs, @ethereum-optimism/go-reviewers

Update op-geth depdency to 1.14.11 base (#12262)
  cannon/Dockerfile.diff
  cannon/mipsevm/testutil/evm.go
  cannon/testdata/example/alloc/go.mod
  cannon/testdata/example/claim/go.mod
  go.mod
  go.sum
  op-alt-da/Dockerfile
  op-chain-ops/cmd/op-simulate/main.go
  op-chain-ops/foundry/allocs_test.go
  op-chain-ops/script/script.go
  op-dispute-mon/Dockerfile
  op-e2e/actions/helpers/l1_miner.go
  op-node/rollup/derive/fuzz_parsers_test.go
  op-program/Dockerfile.repro
  op-program/README.md
  op-program/client/l2/db_test.go
  op-program/client/l2/engine_backend.go
  op-program/client/l2/engine_backend_test.go
  op-program/client/l2/engine_test.go
  op-program/client/l2/engineapi/l2_engine_api.go
  op-program/host/kvstore/local_test.go
  op-wheel/cheat/cheat.go
  ops/docker/ci-builder/Dockerfile
  ops/docker/deployment-utils/Dockerfile
  ops/docker/op-stack-go/Dockerfile
Owners: @ethereum-optimism/proofs, @ethereum-optimism/go-reviewers, @ethereum-optimism/op-stack, @ethereum-optimism/consensus, @ethereum-optimism/monorepo-ops-reviewers

op-deployer: Test for existing OPCM (#12257)
  .circleci/config.yml
  op-chain-ops/deployer/integration_test/apply_test.go
  op-chain-ops/deployer/opcm/standard.go
  op-service/testutils/anvil/anvil.go
Owners: @ethereum-optimism/monorepo-ops-reviewers, @ethereum-optimism/op-stack, @ethereum-optimism/go-reviewers

.github/CODEOWNERS:

# Monorepo - default to go-reviewers
* @ethereum-optimism/go-reviewers

# OP Stack general
/bedrock-devnet @ethereum-optimism/op-stack @ethereum-optimism/go-reviewers
/op-alt-da      @ethereum-optimism/op-stack @ethereum-optimism/go-reviewers
/op-batcher     @ethereum-optimism/op-stack @ethereum-optimism/go-reviewers
/op-chain-ops   @ethereum-optimism/op-stack @ethereum-optimism/go-reviewers
/op-e2e         @ethereum-optimism/op-stack @ethereum-optimism/go-reviewers
/op-node        @ethereum-optimism/op-stack @ethereum-optimism/go-reviewers
/op-proposer    @ethereum-optimism/op-stack @ethereum-optimism/go-reviewers
/op-wheel       @ethereum-optimism/op-stack @ethereum-optimism/go-reviewers
/ops-bedrock    @ethereum-optimism/op-stack @ethereum-optimism/go-reviewers

# Expert areas
/op-node/rollup @ethereum-optimism/consensus @ethereum-optimism/go-reviewers

/op-supervisor  @ethereum-optimism/interop @ethereum-optimism/go-reviewers

/op-conductor   @ethereum-optimism/op-conductor @ethereum-optimism/go-reviewers

/cannon                @ethereum-optimism/proofs @ethereum-optimism/go-reviewers
/op-challenger         @ethereum-optimism/proofs @ethereum-optimism/go-reviewers
/op-dispute-mon        @ethereum-optimism/proofs @ethereum-optimism/go-reviewers
/op-preimage           @ethereum-optimism/proofs @ethereum-optimism/go-reviewers
/op-program            @ethereum-optimism/proofs @ethereum-optimism/go-reviewers
/op-e2e/actions/proofs @ethereum-optimism/proofs @ethereum-optimism/go-reviewers
/op-e2e/faultproofs    @ethereum-optimism/proofs @ethereum-optimism/go-reviewers

# Ops
/.circleci       @ethereum-optimism/monorepo-ops-reviewers
/.github         @ethereum-optimism/monorepo-ops-reviewers
/ops             @ethereum-optimism/monorepo-ops-reviewers
/docker-bake.hcl @ethereum-optimism/monorepo-ops-reviewers

# Contracts
/packages/contracts-bedrock     @ethereum-optimism/contract-reviewers
