Repository ethereum-optimism/optimism, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/devxpod, @ethereum-optimism/go-reviewers, @protolambda, @ajsutton, @0x00101010, @zhwrd, @mslipper, @ethereum-optimism/monorepo-ops-reviewers, @ethereum-optimism/infra-reviewers, @ethereum-optimism/release-managers

driver waits one proposal interval for the first ever proposal
  op-proposer/proposer/driver.go
Owners: @ethereum-optimism/go-reviewers

do not create mock unecessarily
  op-proposer/proposer/driver_test.go
Owners: @ethereum-optimism/go-reviewers

do not create mockL2OOContract unecessarily
  op-proposer/proposer/driver_test.go
Owners: @ethereum-optimism/go-reviewers

wrap and return errors instead of logging and returning
  op-proposer/proposer/driver.go
Owners: @ethereum-optimism/go-reviewers

require id timestamp must be > interopStartTime not >=, update tests to use realistic interopStartTime (non-zero)
  packages/contracts-bedrock/src/L2/CrossL2Inbox.sol
  packages/contracts-bedrock/test/L2/CrossL2Inbox.t.sol
Owners: @ethereum-optimism/contract-reviewers

Update op-chain-ops/genesis/config.go
  op-chain-ops/genesis/config.go
Owners: @ethereum-optimism/go-reviewers

op-program: ensure no accidental precompile overrides
  op-program/client/l2/engineapi/precompiles.go
Owners: @ethereum-optimism/go-reviewers

go.mod: update op-geth for new precompile override functionality
  go.mod
  go.sum
Owners: none

op-challenger: Update vm-runner to handle the case where op-node hasn't processed all finalized L1 blocks yet
  op-challenger/runner/runner.go
Owners: @ethereum-optimism/go-reviewers

feat: benchmark set values ecotone and isthmus functions
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/test/BenchmarkTest.t.sol
Owners: @ethereum-optimism/contract-reviewers

op-geth: update to support new precompile-overrides function (#11443)
  go.mod
  go.sum
  op-e2e/actions/l1_miner.go
  op-program/client/l2/engine_backend.go
  op-program/client/l2/engineapi/block_processor.go
  op-program/client/l2/engineapi/precompiles.go
Owners: @ethereum-optimism/go-reviewers

Remove ping service trace parameter from public API
  op-node/p2p/host.go
  op-node/p2p/pings.go
  op-node/p2p/pings_test.go
Owners: @ethereum-optimism/go-reviewers

I came in search of data races and I found refactors
  op-node/p2p/host.go
  op-node/p2p/pings.go
Owners: @ethereum-optimism/go-reviewers

op-challenger: Do not resolve games in selective mode
  op-challenger/game/fault/agent.go
  op-challenger/game/fault/agent_test.go
Owners: @ethereum-optimism/go-reviewers

op-challenger: Do not resolve games in selective mode (#11430)
  op-challenger/game/fault/agent.go
  op-challenger/game/fault/agent_test.go
Owners: @ethereum-optimism/go-reviewers

feat: introduce OptimismSuperchainERC20 (#11256)
  .gitmodules
  packages/contracts-bedrock/foundry.toml
  packages/contracts-bedrock/invariant-docs/OptimismSuperchainERC20.md
  packages/contracts-bedrock/invariant-docs/README.md
  packages/contracts-bedrock/invariant-docs/SuperchainWETH.md
  packages/contracts-bedrock/semver-lock.json
  packages/contracts-bedrock/snapshots/abi/OptimismSuperchainERC20.json
  packages/contracts-bedrock/snapshots/storageLayout/OptimismSuperchainERC20.json
  packages/contracts-bedrock/src/L2/IOptimismSuperchainERC20.sol
  packages/contracts-bedrock/src/L2/ISuperchainERC20.sol
  packages/contracts-bedrock/src/L2/OptimismSuperchainERC20.sol
  packages/contracts-bedrock/src/L2/SuperchainWETH.sol
  packages/contracts-bedrock/test/L2/OptimismSuperchainERC20.t.sol
  packages/contracts-bedrock/test/L2/SuperchainWETH.t.sol
  packages/contracts-bedrock/test/invariants/OptimismSuperchainERC20.t.sol
  packages/contracts-bedrock/test/invariants/SuperchainWETH.t.sol
  packages/contracts-bedrock/test/vendor/Initializable.t.sol
  packages/contracts-bedrock/test/vendor/InitializableOZv5.t.sol
Owners: @ethereum-optimism/contract-reviewers

op-node: Fix p2p data races (#11353)
  op-node/p2p/host.go
  op-node/p2p/monitor/peer_monitor_test.go
  op-node/p2p/pings.go
  op-node/p2p/pings_test.go
  op-node/p2p/store/ip_ban_book.go
  op-node/p2p/store/mdbook.go
  op-node/p2p/store/peer_ban_book.go
  op-node/p2p/store/records_book.go
  op-node/p2p/store/scorebook.go
  op-node/p2p/sync_test.go
Owners: @ethereum-optimism/go-reviewers

op-challenger: Fix run-trace disputed block selection (#11437)
  op-challenger/game/fault/trace/vm/executor.go
  op-challenger/runner/runner.go
Owners: @ethereum-optimism/go-reviewers

bump CrossL2Inbox semver, run just semver-lock & just snapshots
  packages/contracts-bedrock/semver-lock.json
  packages/contracts-bedrock/snapshots/abi/CrossL2Inbox.json
  packages/contracts-bedrock/src/L2/CrossL2Inbox.sol
Owners: @ethereum-optimism/contract-reviewers

feat: modify OptimismMintableERC20Factory for convert (#17)
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/semver-lock.json
  packages/contracts-bedrock/snapshots/abi/OptimismMintableERC20Factory.json
  packages/contracts-bedrock/snapshots/storageLayout/OptimismMintableERC20Factory.json
  packages/contracts-bedrock/src/L2/IOptimismERC20Factory.sol
  packages/contracts-bedrock/src/universal/OptimismMintableERC20Factory.sol
  packages/contracts-bedrock/test/universal/OptimismMintableERC20Factory.t.sol
Owners: @ethereum-optimism/contract-reviewers

Update slack notification workflow with template
  .github/workflows/proof-runner-notification.yml
Owners: @ethereum-optimism/monorepo-ops-reviewers

Add detail to the documentation to clarify any confusion.
  packages/contracts-bedrock/README.md
Owners: @ethereum-optimism/contract-reviewers

fix format
  packages/contracts-bedrock/README.md
Owners: @ethereum-optimism/contract-reviewers

feat: update Sepolia Drippie config to latest
  packages/contracts-bedrock/deploy-config-periphery/drippie/sepolia-faucet-bridges.json
  packages/contracts-bedrock/deploy-config-periphery/drippie/sepolia-faucet-core.json
  packages/contracts-bedrock/deploy-config-periphery/drippie/sepolia-ops.json
  packages/contracts-bedrock/safe.json
  packages/contracts-bedrock/scripts/periphery/drippie/DrippieConfig.s.sol
  packages/contracts-bedrock/scripts/periphery/drippie/ManageDrippie.s.sol
  packages/contracts-bedrock/scripts/safe/forge-to-safe-json.ts
Owners: @ethereum-optimism/contract-reviewers

feat: ban deposits interop (#11454)
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/test/BenchmarkTest.t.sol
Owners: @ethereum-optimism/contract-reviewers

go: update superchain import
  go.mod
  go.sum
Owners: none

op-node: read MaxSequencerDrift from superchain configs
  op-node/rollup/superchain.go
  op-node/rollup/types.go
Owners: @protolambda, @ajsutton

address comments
  op-node/rollup/derive/engine_update.go
Owners: @protolambda, @ajsutton

comment on ParentBeaconBlockRoot
  op-node/node/builder.go
Owners: @ethereum-optimism/go-reviewers

add builder boost factor to payload selection
  op-node/flags/flags.go
  op-node/node/builder.go
  op-node/node/config.go
  op-node/node/node.go
  op-node/rollup/builder/builder.go
  op-node/rollup/derive/engine_update.go
  op-node/service.go
Owners: @ethereum-optimism/go-reviewers, @protolambda, @ajsutton

go: update superchain import to point to main commit
  go.mod
  go.sum
Owners: none

contracts-bedrock: migrate interop portal to fp (#11051)
  packages/contracts-bedrock/invariant-docs/OptimismPortal2.md
  packages/contracts-bedrock/scripts/deploy/Deploy.s.sol
  packages/contracts-bedrock/semver-lock.json
  packages/contracts-bedrock/snapshots/abi/OptimismPortal2.json
  packages/contracts-bedrock/snapshots/abi/OptimismPortalInterop.json
  packages/contracts-bedrock/snapshots/state-diff/Kontrol-31337.json
  packages/contracts-bedrock/snapshots/storageLayout/OptimismPortalInterop.json
  packages/contracts-bedrock/src/L1/OptimismPortal2.sol
  packages/contracts-bedrock/src/L1/OptimismPortalInterop.sol
  packages/contracts-bedrock/src/libraries/PortalErrors.sol
  packages/contracts-bedrock/test/L1/OptimismPortal2.t.sol
  packages/contracts-bedrock/test/Safe/DeputyGuardianModule.t.sol
  packages/contracts-bedrock/test/Specs.t.sol
  packages/contracts-bedrock/test/invariants/OptimismPortal2.t.sol
  packages/contracts-bedrock/test/kontrol/proofs/utils/DeploymentSummary.sol
  packages/contracts-bedrock/test/kontrol/proofs/utils/DeploymentSummaryCode.sol
  packages/contracts-bedrock/test/kontrol/proofs/utils/DeploymentSummaryFaultProofs.sol
  packages/contracts-bedrock/test/kontrol/proofs/utils/DeploymentSummaryFaultProofsCode.sol
  packages/contracts-bedrock/test/setup/CommonTest.sol
Owners: @ethereum-optimism/contract-reviewers

op-wheel: harden against missing safe/finalized heads
  op-wheel/engine/engine.go
Owners: @ethereum-optimism/go-reviewers

cleanup debug logs
  op-node/node/node.go
Owners: @ethereum-optimism/go-reviewers

cleanup logs in clsync
  op-node/rollup/clsync/clsync.go
Owners: @protolambda, @ajsutton

op-wheel: harden against missing safe/finalized heads (#11460)
  op-wheel/engine/engine.go
Owners: @ethereum-optimism/go-reviewers

return error when UnmarshalBinary fails
  op-node/node/node.go
  op-node/rollup/derive/attributes_queue.go
  op-service/events/server.go
Owners: @ethereum-optimism/go-reviewers, @protolambda, @ajsutton

set NoTxPool
  op-node/rollup/derive/attributes_queue.go
Owners: @protolambda, @ajsutton

remove debug logs
  op-service/sources/engine_client.go
Owners: @ethereum-optimism/go-reviewers

restore plasma.da-service arg
  ops-bedrock/docker-compose.yml
Owners: @ethereum-optimism/go-reviewers

.github/CODEOWNERS:

# Packages
/packages/contracts-bedrock     @ethereum-optimism/contract-reviewers
/packages/sdk                   @ethereum-optimism/devxpod

# Bedrock codebases
/bedrock-devnet @ethereum-optimism/go-reviewers
/cannon         @ethereum-optimism/go-reviewers
/op-batcher     @ethereum-optimism/go-reviewers
/op-bootnode    @ethereum-optimism/go-reviewers
/op-chain-ops   @ethereum-optimism/go-reviewers
/op-challenger  @ethereum-optimism/go-reviewers
/op-dispute-mon  @ethereum-optimism/go-reviewers
/op-e2e         @ethereum-optimism/go-reviewers
/op-heartbeat   @ethereum-optimism/go-reviewers
/op-node        @ethereum-optimism/go-reviewers
/op-node/rollup @protolambda @ajsutton
/op-plasma      @ethereum-optimism/go-reviewers
/op-preimage    @ethereum-optimism/go-reviewers
/op-program     @ethereum-optimism/go-reviewers
/op-proposer    @ethereum-optimism/go-reviewers
/op-service     @ethereum-optimism/go-reviewers
/op-supervisor  @ethereum-optimism/go-reviewers
/op-wheel       @ethereum-optimism/go-reviewers
/ops-bedrock    @ethereum-optimism/go-reviewers
/op-conductor   @0x00101010 @zhwrd @mslipper

# Ops
/.circleci       @ethereum-optimism/monorepo-ops-reviewers
/.github         @ethereum-optimism/monorepo-ops-reviewers
/ops             @ethereum-optimism/monorepo-ops-reviewers
/docker-bake.hcl @ethereum-optimism/monorepo-ops-reviewers

# Misc
/proxyd           @ethereum-optimism/infra-reviewers
/infra            @ethereum-optimism/infra-reviewers
/specs            @ethereum-optimism/contract-reviewers @ethereum-optimism/go-reviewers

# Don't add owners if only package.json is updated
/packages/*/package.json
/*/package.json

# JavaScript Releases
/packages/*/CHANGELOG.md @ethereum-optimism/release-managers
/*/CHANGELOG.md          @ethereum-optimism/release-managers
