Repository ethereum-optimism/optimism, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ethereum-optimism/contract-reviewers, @ethereum-optimism/devxpod, @ethereum-optimism/go-reviewers, @protolambda, @ajsutton, @0x00101010, @zhwrd, @mslipper, @ethereum-optimism/monorepo-ops-reviewers, @ethereum-optimism/infra-reviewers, @ethereum-optimism/release-managers

fix: ERC165 implementation
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/semver-lock.json
  packages/contracts-bedrock/snapshots/abi/OptimismSuperchainERC20.json
  packages/contracts-bedrock/src/L2/OptimismSuperchainERC20.sol
  packages/contracts-bedrock/test/L2/OptimismSuperchainERC20.t.sol
Owners: @ethereum-optimism/contract-reviewers

fix(op-challenger): run trace cmd
  op-challenger/runner/factory.go
Owners: @ethereum-optimism/go-reviewers

fix(op-challenger): lints
  op-challenger/runner/factory.go
Owners: @ethereum-optimism/go-reviewers

feat(challenger): `AsteriscKona` trace type (#11140)
  op-challenger/config/config.go
  op-challenger/flags/flags.go
  op-challenger/game/fault/register.go
  op-challenger/game/fault/trace/asterisc/provider.go
  op-challenger/game/fault/trace/cannon/provider.go
  op-challenger/game/fault/trace/outputs/output_asterisc.go
  op-challenger/game/fault/trace/outputs/output_cannon.go
  op-challenger/game/fault/trace/vm/executor.go
  op-challenger/game/fault/trace/vm/executor_test.go
  op-challenger/game/fault/trace/vm/kona_vm_config.go
  op-challenger/game/fault/trace/vm/kona_vm_config_test.go
  op-challenger/game/fault/trace/vm/op_program_vm_config.go
  op-challenger/game/fault/trace/vm/op_program_vm_config_test.go
  op-challenger/game/fault/types/types.go
  op-challenger/runner/factory.go
  op-e2e/e2eutils/disputegame/output_cannon_helper.go
  op-e2e/faultproofs/precompile_test.go
Owners: @ethereum-optimism/go-reviewers

feat: cleaner implementation, always set isDeposit on
  op-node/rollup/derive/attributes.go
  op-node/rollup/derive/l1_block_info.go
  packages/contracts-bedrock/src/L2/L1Block.sol
Owners: @protolambda, @ajsutton, @ethereum-optimism/contract-reviewers

op-e2e: Fix GraniteSystemConfig (#11361)
  op-e2e/setup.go
Owners: @ethereum-optimism/go-reviewers

update sepolia-devnet-0 deploy-config (#11371)
  packages/contracts-bedrock/deploy-config/sepolia-devnet-0.json
Owners: @ethereum-optimism/contract-reviewers

feat: simplified deposits complete tx and added Isthmus L1Info tx
  op-node/rollup/derive/attributes.go
  op-node/rollup/derive/l1_block_info.go
Owners: @protolambda, @ajsutton

cannon: move example test programs into testdata directory to prevent Go tool noise
  .circleci/config.yml
  cannon/.gitignore
  cannon/Makefile
  cannon/README.md
  cannon/mipsevm/multithreaded/instrumented_test.go
  cannon/mipsevm/multithreaded/state_test.go
  cannon/mipsevm/singlethreaded/state_test.go
  cannon/mipsevm/tests/evm_test.go
  cannon/mipsevm/testutil/vmtests.go
  cannon/testdata/README.md
  cannon/testdata/example/Makefile
  cannon/testdata/example/alloc/go.mod
  cannon/testdata/example/alloc/go.sum
  cannon/testdata/example/alloc/main.go
  cannon/testdata/example/claim/go.mod
  cannon/testdata/example/claim/go.sum
  cannon/testdata/example/claim/main.go
  cannon/testdata/example/hello/go.mod
  cannon/testdata/example/hello/main.go
  cannon/testdata/example/multithreaded/go.mod
  cannon/testdata/example/multithreaded/main.go
Owners: @ethereum-optimism/monorepo-ops-reviewers, @ethereum-optimism/go-reviewers

op-node: abort block publishing if conductor commit fails
  op-node/rollup/sequencing/sequencer.go
Owners: @protolambda, @ajsutton

Hotfix sequencer logic when conductor is down
  op-node/rollup/sequencing/sequencer.go
Owners: @protolambda, @ajsutton

cannon: move example test programs into testdata directory to prevent Go tool noise (#11379)
  .circleci/config.yml
  cannon/.gitignore
  cannon/Makefile
  cannon/README.md
  cannon/mipsevm/multithreaded/instrumented_test.go
  cannon/mipsevm/multithreaded/state_test.go
  cannon/mipsevm/singlethreaded/state_test.go
  cannon/mipsevm/tests/evm_test.go
  cannon/mipsevm/testutil/vmtests.go
  cannon/testdata/README.md
  cannon/testdata/example/Makefile
  cannon/testdata/example/alloc/go.mod
  cannon/testdata/example/alloc/go.sum
  cannon/testdata/example/alloc/main.go
  cannon/testdata/example/claim/go.mod
  cannon/testdata/example/claim/go.sum
  cannon/testdata/example/claim/main.go
  cannon/testdata/example/hello/go.mod
  cannon/testdata/example/hello/main.go
  cannon/testdata/example/multithreaded/go.mod
  cannon/testdata/example/multithreaded/main.go
Owners: @ethereum-optimism/monorepo-ops-reviewers, @ethereum-optimism/go-reviewers

Update geth
  .circleci/config.yml
  cannon/mipsevm/tests/evm_test.go
  cannon/mipsevm/testutil/evm.go
  cannon/mipsevm/testutil/mips.go
  go.mod
  go.sum
  op-batcher/batcher/channel_config_provider_test.go
  op-e2e/devnet/devnet_test.go
Owners: @ethereum-optimism/monorepo-ops-reviewers, @ethereum-optimism/go-reviewers

Fix devnet-up when op-program/bin is missing prestate-proof.json
  Makefile
Owners: none

Fix "private key curve is not secp256k1" error
  op-service/crypto/signature.go
Owners: @ethereum-optimism/go-reviewers

op-node: abort block publishing if conductor commit fails (#11380)
  op-node/rollup/sequencing/sequencer.go
Owners: @protolambda, @ajsutton

panic when DA chain's block generated too fast for l1.http-poll-interval
  op-node/rollup/status/status.go
Owners: @protolambda, @ajsutton

Update status.go
  op-node/rollup/status/status.go
Owners: @protolambda, @ajsutton

Update status.go
  op-node/rollup/status/status.go
Owners: @protolambda, @ajsutton

feat: L1Block make ecotone a public function
  packages/contracts-bedrock/src/L2/L1Block.sol
Owners: @ethereum-optimism/contract-reviewers

Fix devnet-up when op-program/bin is missing prestate-proof.json (#11383)
  Makefile
Owners: none

feat: re-organized shared functions
  op-node/rollup/derive/l1_block_info.go
Owners: @protolambda, @ajsutton

tests: fixes to support Ecotone/Fjord in more tests
  op-e2e/actions/l2_engine_test.go
  op-e2e/actions/system_config_test.go
  op-program/client/l2/engineapi/test/l2_engine_api_tests.go
Owners: @ethereum-optimism/go-reviewers

op-e2e: one more fix
  op-e2e/actions/span_batch_test.go
Owners: @ethereum-optimism/go-reviewers

fix: contracts compiler errors
  packages/contracts-bedrock/src/L2/CrossL2Inbox.sol
  packages/contracts-bedrock/src/L2/L1Block.sol
  packages/contracts-bedrock/test/L2/GasPriceOracle.t.sol
  packages/contracts-bedrock/test/L2/L1Block.t.sol
  packages/contracts-bedrock/test/legacy/L1BlockNumber.t.sol
Owners: @ethereum-optimism/contract-reviewers

feat: create some set l1 block values ithmus test
  packages/contracts-bedrock/src/L2/L1Block.sol
  packages/contracts-bedrock/src/libraries/L1BlockErrors.sol
  packages/contracts-bedrock/test/L2/L1Block.t.sol
Owners: @ethereum-optimism/contract-reviewers

feat: revamp unmarshalBinaryIsthmusAndEcotone function
  op-node/rollup/derive/l1_block_info.go
Owners: @protolambda, @ajsutton

chore: checkpoint debugging test
  packages/contracts-bedrock/src/L2/L1Block.sol
  packages/contracts-bedrock/test/L2/L1Block.t.sol
Owners: @ethereum-optimism/contract-reviewers

Patch batcher for Granite activation testing
  op-batcher/batcher/service.go
  op-node/rollup/derive/channel_out.go
Owners: @ethereum-optimism/go-reviewers, @protolambda, @ajsutton

fix: contracts compiler errors
  packages/contracts-bedrock/src/L2/CrossL2Inbox.sol
  packages/contracts-bedrock/src/L2/L1Block.sol
  packages/contracts-bedrock/test/L2/GasPriceOracle.t.sol
  packages/contracts-bedrock/test/L2/L1Block.t.sol
  packages/contracts-bedrock/test/legacy/L1BlockNumber.t.sol
Owners: @ethereum-optimism/contract-reviewers

feat: create some set l1 block values ithmus test
  packages/contracts-bedrock/src/L2/L1Block.sol
  packages/contracts-bedrock/src/libraries/L1BlockErrors.sol
  packages/contracts-bedrock/test/L2/L1Block.t.sol
Owners: @ethereum-optimism/contract-reviewers

chore: checkpoint debugging test
  packages/contracts-bedrock/src/L2/L1Block.sol
  packages/contracts-bedrock/test/L2/L1Block.t.sol
Owners: @ethereum-optimism/contract-reviewers

refactor: call public function
  packages/contracts-bedrock/src/L2/L1Block.sol
  packages/contracts-bedrock/test/L2/L1Block.t.sol
Owners: @ethereum-optimism/contract-reviewers

contracts-bedrock: migrate to just
  .circleci/config.yml
  package.json
  packages/contracts-bedrock/justfile
  packages/contracts-bedrock/package.json
Owners: @ethereum-optimism/monorepo-ops-reviewers, @ethereum-optimism/contract-reviewers

ops: cleanup, docs
  ops/docker/Dockerfile.packages
  packages/contracts-bedrock/CONTRIBUTING.md
  packages/contracts-bedrock/README.md
  packages/contracts-bedrock/scripts/checks/check-snapshots.sh
  packages/contracts-bedrock/scripts/getting-started/versions.sh
  versions.json
Owners: @ethereum-optimism/monorepo-ops-reviewers, @ethereum-optimism/contract-reviewers

contracts-bedrock: remove pnpm/node, cleanup dockerfile
  ops/docker/Dockerfile.packages
  packages/contracts-bedrock/.eslintignore
  packages/contracts-bedrock/.eslintrc.js
  packages/contracts-bedrock/.prettierrc.js
  packages/contracts-bedrock/package.json
  packages/contracts-bedrock/pnpm-lock.yaml
  packages/contracts-bedrock/tsconfig.json
Owners: @ethereum-optimism/monorepo-ops-reviewers, @ethereum-optimism/contract-reviewers

justfile: update
  packages/contracts-bedrock/justfile
Owners: @ethereum-optimism/contract-reviewers

snapshots: update
  packages/contracts-bedrock/snapshots/state-diff/Kontrol-31337.json
Owners: @ethereum-optimism/contract-reviewers

slither ci: no longer need for workaround (TM)
  .github/workflows/slither.yml
Owners: @ethereum-optimism/monorepo-ops-reviewers

docs: update
  packages/contracts-bedrock/CONTRIBUTING.md
Owners: @ethereum-optimism/contract-reviewers

.github/CODEOWNERS:

# Packages
/packages/contracts-bedrock     @ethereum-optimism/contract-reviewers
/packages/sdk                   @ethereum-optimism/devxpod

# Bedrock codebases
/bedrock-devnet @ethereum-optimism/go-reviewers
/cannon         @ethereum-optimism/go-reviewers
/op-batcher     @ethereum-optimism/go-reviewers
/op-bootnode    @ethereum-optimism/go-reviewers
/op-chain-ops   @ethereum-optimism/go-reviewers
/op-challenger  @ethereum-optimism/go-reviewers
/op-dispute-mon  @ethereum-optimism/go-reviewers
/op-e2e         @ethereum-optimism/go-reviewers
/op-heartbeat   @ethereum-optimism/go-reviewers
/op-node        @ethereum-optimism/go-reviewers
/op-node/rollup @protolambda @ajsutton
/op-plasma      @ethereum-optimism/go-reviewers
/op-preimage    @ethereum-optimism/go-reviewers
/op-program     @ethereum-optimism/go-reviewers
/op-proposer    @ethereum-optimism/go-reviewers
/op-service     @ethereum-optimism/go-reviewers
/op-supervisor  @ethereum-optimism/go-reviewers
/op-wheel       @ethereum-optimism/go-reviewers
/ops-bedrock    @ethereum-optimism/go-reviewers
/op-conductor   @0x00101010 @zhwrd @mslipper

# Ops
/.circleci       @ethereum-optimism/monorepo-ops-reviewers
/.github         @ethereum-optimism/monorepo-ops-reviewers
/ops             @ethereum-optimism/monorepo-ops-reviewers
/docker-bake.hcl @ethereum-optimism/monorepo-ops-reviewers

# Misc
/proxyd           @ethereum-optimism/infra-reviewers
/infra            @ethereum-optimism/infra-reviewers
/specs            @ethereum-optimism/contract-reviewers @ethereum-optimism/go-reviewers

# Don't add owners if only package.json is updated
/packages/*/package.json
/*/package.json

# JavaScript Releases
/packages/*/CHANGELOG.md @ethereum-optimism/release-managers
/*/CHANGELOG.md          @ethereum-optimism/release-managers
