Repository ethereum-optimism/optimism, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ethereum-optimism/security-reviewers, @ethereum-optimism/infra-reviewers, @ethereum-optimism/typescript-reviewers, @ethereum-optimism/contract-reviewers, @ethereum-optimism/legacy-reviewers, @ethereum-optimism/devxpod, @ethereum-optimism/go-reviewers, @protolambda, @trianglesphere, @ajsutton, @0x00101010, @zhwrd, @mslipper, @ethereum-optimism/monorepo-ops-reviewers, @ethereum-optimism/release-managers

ci: forge build first
  .circleci/config.yml
Owners: @ethereum-optimism/monorepo-ops-reviewers

cannon: Remove unreachable code
  cannon/mipsevm/memory.go
Owners: @ethereum-optimism/go-reviewers

fix: Test code to deploy a proxyadmin on l2 sepolia.
  packages/contracts-bedrock/deployments/11155420-deploy.json
  packages/contracts-bedrock/scripts/Config.sol
  packages/contracts-bedrock/scripts/Deploy.s.sol
  packages/contracts-bedrock/scripts/DeployOwnership.s.sol
  packages/contracts-bedrock/scripts/deploy_l2_proxy_admin_with_alias.sh
Owners: @ethereum-optimism/contract-reviewers

ctb: Prevent calls to foundry's vm address
  packages/contracts-bedrock/test/L1/SystemConfig.t.sol
Owners: @ethereum-optimism/contract-reviewers

ctb: Prevent calls to foundry's vm address (#10525)
  packages/contracts-bedrock/test/L1/SystemConfig.t.sol
Owners: @ethereum-optimism/contract-reviewers

add compression algo flag to optional flags
  op-batcher/flags/flags.go
Owners: @ethereum-optimism/go-reviewers

fix: more
  packages/contracts-bedrock/deployments/11155420-deploy.json
  packages/contracts-bedrock/scripts/Deploy.s.sol
  packages/contracts-bedrock/src/universal/Proxy.sol
Owners: @ethereum-optimism/contract-reviewers

ci: forge build first (#10523)
  .circleci/config.yml
Owners: @ethereum-optimism/monorepo-ops-reviewers

add Clone() function
  op-node/rollup/derive/types.go
Owners: @protolambda, @trianglesphere, @ajsutton

Fjord: Add Brotli channel compression support (#10358)
  go.mod
  go.sum
  op-batcher/batcher/channel_builder.go
  op-batcher/batcher/channel_builder_test.go
  op-batcher/batcher/channel_config.go
  op-batcher/batcher/channel_config_test.go
  op-batcher/batcher/channel_manager_test.go
  op-batcher/batcher/channel_test.go
  op-batcher/batcher/config.go
  op-batcher/batcher/config_test.go
  op-batcher/batcher/service.go
  op-batcher/compressor/config.go
  op-batcher/compressor/ratio_compressor.go
  op-batcher/compressor/ratio_compressor_test.go
  op-batcher/compressor/shadow_compressor.go
  op-batcher/compressor/shadow_compressor_test.go
  op-batcher/flags/flags.go
  op-e2e/actions/l2_batcher.go
  op-e2e/actions/sync_test.go
  op-e2e/sequencer_failover_setup.go
  op-e2e/setup.go
  op-node/benchmarks/batchbuilding_test.go
  op-node/cmd/batch_decoder/reassemble/reassemble.go
  op-node/rollup/derive/channel.go
  op-node/rollup/derive/channel_compressor.go
  op-node/rollup/derive/channel_compressor_test.go
  op-node/rollup/derive/channel_in_reader.go
  op-node/rollup/derive/channel_out_test.go
  op-node/rollup/derive/channel_test.go
  op-node/rollup/derive/span_channel_out.go
  op-node/rollup/derive/types.go
  op-node/rollup/derive/types_test.go
Owners: @ethereum-optimism/go-reviewers, @protolambda, @trianglesphere, @ajsutton

op-dispute-mon: Log an error when a DelayedWETH contract has insufficient collateral. (#10510)
  op-dispute-mon/mon/bonds/monitor.go
  op-dispute-mon/mon/bonds/monitor_test.go
Owners: @ethereum-optimism/go-reviewers

op-challenger, op-dispute-mon: Fix chess clock calculations to match solidity implementation (#10509)
  op-challenger/cmd/list_claims.go
  op-challenger/cmd/list_games.go
  op-challenger/game/fault/agent.go
  op-challenger/game/fault/agent_test.go
  op-challenger/game/fault/test/claim_builder.go
  op-challenger/game/fault/types/game.go
  op-challenger/game/fault/types/game_test.go
  op-challenger/game/fault/types/position.go
  op-challenger/game/fault/types/types.go
  op-challenger/game/fault/types/types_test.go
  op-dispute-mon/mon/claims.go
Owners: @ethereum-optimism/go-reviewers

op-batcher: Support generic DA commitment type - rm commitment type assertion when reading in op-node
  op-node/rollup/derive/plasma_data_source.go
  op-plasma/daclient.go
  op-plasma/daserver.go
Owners: @protolambda, @trianglesphere, @ajsutton, @ethereum-optimism/go-reviewers

op-challenger: Supply parent value when performing moves
  op-challenger/cmd/move.go
  op-challenger/game/fault/agent.go
  op-challenger/game/fault/contracts/faultdisputegame.go
  op-challenger/game/fault/contracts/faultdisputegame0180.go
  op-challenger/game/fault/contracts/faultdisputegame080.go
  op-challenger/game/fault/contracts/faultdisputegame_test.go
  op-challenger/game/fault/responder/responder.go
  op-challenger/game/fault/responder/responder_test.go
  op-challenger/game/fault/solver/game_solver.go
  op-challenger/game/fault/solver/game_solver_test.go
  op-challenger/game/fault/solver/rules.go
  op-challenger/game/fault/test/game_builder.go
  op-challenger/game/fault/types/actions.go
Owners: @ethereum-optimism/go-reviewers

check either DGFAddress or L2OOAddress was provided
  op-proposer/proposer/config.go
Owners: @ethereum-optimism/go-reviewers

op-challenger: Add backwards compatibility with v1.1.1
  op-challenger/game/fault/contracts/abis/FaultDisputeGame-1.1.1.json
  op-challenger/game/fault/contracts/faultdisputegame.go
  op-challenger/game/fault/contracts/faultdisputegame111.go
  op-challenger/game/fault/contracts/faultdisputegame_test.go
Owners: @ethereum-optimism/go-reviewers

op-batcher: Support generic DA commitment type - rm dead code
  op-plasma/daserver.go
Owners: @ethereum-optimism/go-reviewers

op-batcher: Support generic DA commitment type - disable da service in devnet script
  bedrock-devnet/devnet/__init__.py
Owners: @ethereum-optimism/go-reviewers

op-batcher: Support generic DA commitment type - less verbose comments
  op-plasma/daclient.go
  op-plasma/daserver.go
Owners: @ethereum-optimism/go-reviewers

op-e2e: Update e2e for new FaultDisputeGame ABI
  op-bindings/bindings/faultdisputegame.go
  op-e2e/e2eutils/disputegame/game_helper.go
  op-e2e/e2eutils/disputegame/honest_helper.go
  op-e2e/e2eutils/disputegame/output_game_helper.go
Owners: @ethereum-optimism/go-reviewers

op-batcher: Support generic DA commitment type - add tests for generic DA client <-> interactions
  bedrock-devnet/devnet/__init__.py
  op-plasma/daclient.go
  op-plasma/daclient_test.go
  ops-bedrock/docker-compose.yml
Owners: @ethereum-optimism/go-reviewers

op-batcher: Support generic DA commitment type - add tests for generic DA client <-> interactions
  bedrock-devnet/devnet/__init__.py
  ops-bedrock/docker-compose.yml
Owners: @ethereum-optimism/go-reviewers

fix: added some more code for testing.
  packages/contracts-bedrock/deployments/11155420-deploy.json
  packages/contracts-bedrock/scripts/Config.sol
  packages/contracts-bedrock/scripts/Deploy.s.sol
  packages/contracts-bedrock/scripts/Types.sol
  packages/contracts-bedrock/scripts/deploy_l2_proxy_admin_with_alias.sh
  packages/contracts-bedrock/src/L2/SimpleStorage.sol
  packages/contracts-bedrock/src/L2/SimpleStorage2.sol
  packages/contracts-bedrock/src/universal/Proxy.sol
Owners: @ethereum-optimism/contract-reviewers

brotli e2e test
  op-e2e/brotli_batcher_test.go
  op-e2e/setup.go
Owners: @ethereum-optimism/go-reviewers

op-e2e: Delete unused helpers from pre-output root support
  op-e2e/e2eutils/disputegame/alphabet_helper.go
  op-e2e/e2eutils/disputegame/game_helper.go
  op-e2e/e2eutils/disputegame/honest_helper.go
Owners: @ethereum-optimism/go-reviewers

op-e2e: Convert most FaultDisputeGame read operations to use custom contract bindings
  op-e2e/e2eutils/disputegame/claim_helper.go
  op-e2e/e2eutils/disputegame/dishonest_helper.go
  op-e2e/e2eutils/disputegame/helper.go
  op-e2e/e2eutils/disputegame/output_cannon_helper.go
  op-e2e/e2eutils/disputegame/output_game_helper.go
  op-e2e/faultproofs/output_alphabet_test.go
  op-e2e/faultproofs/output_cannon_test.go
Owners: @ethereum-optimism/go-reviewers

op-e2e: Remove manual creation of contract bindings
  op-e2e/e2eutils/disputegame/output_alphabet_helper.go
  op-e2e/e2eutils/disputegame/output_cannon_helper.go
  op-e2e/e2eutils/disputegame/output_game_helper.go
Owners: @ethereum-optimism/go-reviewers

feat(ctb): Remove `setResourceConfig` (#10501)
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/semver-lock.json
  packages/contracts-bedrock/snapshots/abi/SystemConfig.json
  packages/contracts-bedrock/src/L1/SystemConfig.sol
  packages/contracts-bedrock/test/L1/SystemConfig.t.sol
  packages/contracts-bedrock/test/Specs.t.sol
  packages/contracts-bedrock/test/kontrol/proofs/utils/DeploymentSummary.sol
  packages/contracts-bedrock/test/kontrol/proofs/utils/DeploymentSummaryCode.sol
Owners: @ethereum-optimism/contract-reviewers

check either DGFAddress or L2OOAddress was provided (#10528)
  op-proposer/proposer/config.go
Owners: @ethereum-optimism/go-reviewers

fix fmt
  op-e2e/brotli_batcher_test.go
Owners: @ethereum-optimism/go-reviewers

fix comments
  op-e2e/brotli_batcher_test.go
  op-e2e/setup.go
Owners: @ethereum-optimism/go-reviewers

fix
  op-e2e/brotli_batcher_test.go
Owners: @ethereum-optimism/go-reviewers

update
  op-e2e/brotli_batcher_test.go
Owners: @ethereum-optimism/go-reviewers

GasPriceOracle fjord fastlz update
  .circleci/config.yml
  bedrock-devnet/devnet/__init__.py
  op-chain-ops/genesis/layer_two.go
  op-e2e/config/init.go
  op-e2e/op_geth.go
  op-e2e/setup.go
  packages/contracts-bedrock/scripts/L2Genesis.s.sol
  packages/contracts-bedrock/semver-lock.json
  packages/contracts-bedrock/snapshots/abi/GasPriceOracle.json
  packages/contracts-bedrock/snapshots/storageLayout/GasPriceOracle.json
  packages/contracts-bedrock/src/L2/GasPriceOracle.sol
  packages/contracts-bedrock/test/L2/GasPriceOracle.t.sol
  packages/contracts-bedrock/test/kontrol/proofs/utils/DeploymentSummaryFaultProofs.sol
  packages/contracts-bedrock/test/kontrol/proofs/utils/DeploymentSummaryFaultProofsCode.sol
Owners: @ethereum-optimism/monorepo-ops-reviewers, @ethereum-optimism/go-reviewers, @ethereum-optimism/contract-reviewers

Review feedback
  packages/contracts-bedrock/semver-lock.json
  packages/contracts-bedrock/src/L2/GasPriceOracle.sol
  packages/contracts-bedrock/test/L2/GasPriceOracle.t.sol
Owners: @ethereum-optimism/contract-reviewers

chore: fix function names in comment
  op-service/txmgr/txmgr_test.go
  op-wheel/engine/engine.go
Owners: @ethereum-optimism/go-reviewers

fjord: Fastlz GasPriceOracle (#10534)
  .circleci/config.yml
  bedrock-devnet/devnet/__init__.py
  op-chain-ops/genesis/layer_two.go
  op-e2e/config/init.go
  op-e2e/op_geth.go
  op-e2e/setup.go
  packages/contracts-bedrock/scripts/L2Genesis.s.sol
  packages/contracts-bedrock/semver-lock.json
  packages/contracts-bedrock/snapshots/abi/GasPriceOracle.json
  packages/contracts-bedrock/snapshots/storageLayout/GasPriceOracle.json
  packages/contracts-bedrock/src/L2/GasPriceOracle.sol
  packages/contracts-bedrock/test/L2/GasPriceOracle.t.sol
  packages/contracts-bedrock/test/kontrol/proofs/utils/DeploymentSummaryFaultProofs.sol
  packages/contracts-bedrock/test/kontrol/proofs/utils/DeploymentSummaryFaultProofsCode.sol
Owners: @ethereum-optimism/monorepo-ops-reviewers, @ethereum-optimism/go-reviewers, @ethereum-optimism/contract-reviewers

op-e2e: Delete unused helpers from pre-output root support (#10532)
  op-e2e/e2eutils/disputegame/alphabet_helper.go
  op-e2e/e2eutils/disputegame/game_helper.go
  op-e2e/e2eutils/disputegame/honest_helper.go
Owners: @ethereum-optimism/go-reviewers

Update remapping to include version
  packages/contracts-bedrock/foundry.toml
  packages/contracts-bedrock/src/L2/GasPriceOracle.sol
  packages/contracts-bedrock/src/dispute/DisputeGameFactory.sol
  packages/contracts-bedrock/src/dispute/FaultDisputeGame.sol
  packages/contracts-bedrock/src/libraries/GasPayingToken.sol
Owners: @ethereum-optimism/contract-reviewers

dispute-game: Sanity check disputed claim index
  packages/contracts-bedrock/semver-lock.json
  packages/contracts-bedrock/src/dispute/FaultDisputeGame.sol
  packages/contracts-bedrock/src/dispute/PermissionedDisputeGame.sol
  packages/contracts-bedrock/src/dispute/interfaces/IFaultDisputeGame.sol
  packages/contracts-bedrock/src/dispute/lib/Errors.sol
  packages/contracts-bedrock/test/actors/FaultDisputeActors.sol
  packages/contracts-bedrock/test/dispute/FaultDisputeGame.t.sol
  packages/contracts-bedrock/test/dispute/PermissionedDisputeGame.t.sol
  packages/contracts-bedrock/test/invariants/FaultDisputeGame.t.sol
Owners: @ethereum-optimism/contract-reviewers

.github/CODEOWNERS:

# Packages
/packages/chain-mon             @ethereum-optimism/security-reviewers
/packages/chain-mon/internal/balance-mon             @ethereum-optimism/infra-reviewers
/packages/common-ts             @ethereum-optimism/typescript-reviewers
/packages/contracts-bedrock     @ethereum-optimism/contract-reviewers
/packages/core-utils            @ethereum-optimism/legacy-reviewers
/packages/sdk                   @ethereum-optimism/devxpod

# Bedrock codebases
/bedrock-devnet @ethereum-optimism/go-reviewers
/cannon         @ethereum-optimism/go-reviewers
/op-batcher     @ethereum-optimism/go-reviewers
/op-bootnode    @ethereum-optimism/go-reviewers
/op-chain-ops   @ethereum-optimism/go-reviewers
/op-challenger  @ethereum-optimism/go-reviewers
/op-dispute-mon  @ethereum-optimism/go-reviewers
/op-e2e         @ethereum-optimism/go-reviewers
/op-heartbeat   @ethereum-optimism/go-reviewers
/op-node        @ethereum-optimism/go-reviewers
/op-node/rollup @protolambda @trianglesphere @ajsutton
/op-plasma      @ethereum-optimism/go-reviewers
/op-preimage    @ethereum-optimism/go-reviewers
/op-program     @ethereum-optimism/go-reviewers
/op-proposer    @ethereum-optimism/go-reviewers
/op-service     @ethereum-optimism/go-reviewers
/op-wheel       @ethereum-optimism/go-reviewers
/ops-bedrock    @ethereum-optimism/go-reviewers
/op-conductor   @0x00101010 @zhwrd @mslipper

# Ops
/.circleci       @ethereum-optimism/monorepo-ops-reviewers
/.github         @ethereum-optimism/monorepo-ops-reviewers
/ops             @ethereum-optimism/monorepo-ops-reviewers
/docker-bake.hcl @ethereum-optimism/monorepo-ops-reviewers

# Misc
/proxyd           @ethereum-optimism/infra-reviewers
/indexer          @ethereum-optimism/devxpod
/infra            @ethereum-optimism/infra-reviewers
/specs            @ethereum-optimism/contract-reviewers @ethereum-optimism/go-reviewers
/endpoint-monitor @ethereum-optimism/infra-reviewers

# Don't add owners if only package.json is updated
/packages/*/package.json
/*/package.json

# JavaScript Releases
/packages/*/CHANGELOG.md @ethereum-optimism/release-managers
/*/CHANGELOG.md          @ethereum-optimism/release-managers
