Repository ethereum-optimism/optimism, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ethereum-optimism/go-reviewers, @ethereum-optimism/op-stack, @ethereum-optimism/consensus, @ethereum-optimism/interop, @ethereum-optimism/op-conductor, @ethereum-optimism/proofs, @ethereum-optimism/monorepo-ops-reviewers, @ethereum-optimism/contract-reviewers

cannon: Consistent state serialization (#12151)
  cannon/Makefile
  cannon/mipsevm/memory/memory.go
Owners: @ethereum-optimism/proofs, @ethereum-optimism/go-reviewers

chore: set init bond default to 0
  packages/contracts-bedrock/src/L1/OPContractsManager.sol
Owners: @ethereum-optimism/contract-reviewers

test: add initial bond test
  packages/contracts-bedrock/test/opcm/DeployOPChain.t.sol
Owners: @ethereum-optimism/contract-reviewers

chore: semver lock
  packages/contracts-bedrock/semver-lock.json
  packages/contracts-bedrock/src/L1/OPContractsManager.sol
Owners: @ethereum-optimism/contract-reviewers

OPSM: update bond defaults (#12155)
  packages/contracts-bedrock/semver-lock.json
  packages/contracts-bedrock/src/L1/OPContractsManager.sol
  packages/contracts-bedrock/test/opcm/DeployOPChain.t.sol
Owners: @ethereum-optimism/contract-reviewers

refactor: optimism superchain erc20 redesign (#62)
  packages/contracts-bedrock/semver-lock.json
  packages/contracts-bedrock/snapshots/abi/OptimismSuperchainERC20.json
  packages/contracts-bedrock/snapshots/abi/SuperchainWETH.json
  packages/contracts-bedrock/src/L2/OptimismSuperchainERC20.sol
  packages/contracts-bedrock/src/L2/SuperchainERC20.sol
  packages/contracts-bedrock/src/L2/SuperchainWETH.sol
  packages/contracts-bedrock/src/L2/interfaces/IOptimismSuperchainERC20.sol
  packages/contracts-bedrock/src/L2/interfaces/ISuperchainERC20.sol
  packages/contracts-bedrock/test/L2/OptimismSuperchainERC20.t.sol
  packages/contracts-bedrock/test/invariants/OptimismSuperchainERC20/PROPERTIES.md
  packages/contracts-bedrock/test/invariants/OptimismSuperchainERC20/fuzz/Protocol.guided.t.sol
  packages/contracts-bedrock/test/invariants/OptimismSuperchainERC20/fuzz/Protocol.unguided.t.sol
Owners: @ethereum-optimism/contract-reviewers

fix(ct): correct constructor parameters
  packages/contracts-bedrock/scripts/deploy/Deploy.s.sol
Owners: @ethereum-optimism/contract-reviewers

fix: removing temporary assumption.
  packages/contracts-bedrock/scripts/DeployOPChain.s.sol
  packages/contracts-bedrock/src/L1/OPContractsManager.sol
Owners: @ethereum-optimism/contract-reviewers

feat: Change OPCM salt to include user supplied arg
  op-chain-ops/deployer/opcm/opchain.go
  op-chain-ops/deployer/pipeline/opchain.go
  op-chain-ops/interopgen/configs.go
  op-chain-ops/interopgen/deploy.go
  packages/contracts-bedrock/scripts/DeployOPChain.s.sol
  packages/contracts-bedrock/semver-lock.json
  packages/contracts-bedrock/snapshots/abi/OPContractsManager.json
  packages/contracts-bedrock/snapshots/abi/OPContractsManagerInterop.json
  packages/contracts-bedrock/src/L1/OPContractsManager.sol
  packages/contracts-bedrock/test/L1/OPContractsManager.t.sol
  packages/contracts-bedrock/test/opcm/DeployOPChain.t.sol
Owners: @ethereum-optimism/op-stack, @ethereum-optimism/go-reviewers, @ethereum-optimism/contract-reviewers

fix: bumped OPContractsManager version.
  packages/contracts-bedrock/semver-lock.json
Owners: @ethereum-optimism/contract-reviewers

fix: snapshots update.
  packages/contracts-bedrock/snapshots/abi/OPContractsManager.json
  packages/contracts-bedrock/snapshots/abi/OPContractsManagerInterop.json
Owners: @ethereum-optimism/contract-reviewers

fix: bump OPContractsManager version.
  packages/contracts-bedrock/semver-lock.json
  packages/contracts-bedrock/src/L1/OPContractsManager.sol
Owners: @ethereum-optimism/contract-reviewers

fix: snapshots update.
  packages/contracts-bedrock/snapshots/abi/OPContractsManager.json
  packages/contracts-bedrock/snapshots/abi/OPContractsManagerInterop.json
Owners: @ethereum-optimism/contract-reviewers

ci-builder: bump go tool versions
  ops/docker/ci-builder/Dockerfile
Owners: @ethereum-optimism/monorepo-ops-reviewers

update mocks after update of mockery
  op-node/p2p/gating/mocks/BlockingConnectionGater.go
  op-node/p2p/gating/mocks/ExpiryStore.go
  op-node/p2p/gating/mocks/Scores.go
  op-node/p2p/mocks/API.go
  op-node/p2p/mocks/GossipMetricer.go
  op-node/p2p/mocks/Peerstore.go
  op-node/p2p/mocks/ScoreMetrics.go
  op-node/p2p/monitor/mocks/PeerManager.go
  op-service/sources/mocks/BeaconClient.go
  op-service/sources/mocks/BlobSideCarsFetcher.go
  op-service/txmgr/mocks/TxManager.go
Owners: @ethereum-optimism/op-stack, @ethereum-optimism/go-reviewers

bump cci ci-builder version to v0.53.0
  .circleci/config.yml
Owners: @ethereum-optimism/monorepo-ops-reviewers

chore: make interopgen deploy step fns public (#12150)
  op-chain-ops/interopgen/deploy.go
Owners: @ethereum-optimism/op-stack, @ethereum-optimism/go-reviewers

fix: pre-pr run
  packages/contracts-bedrock/snapshots/abi/OPContractsManager.json
  packages/contracts-bedrock/snapshots/abi/OPContractsManagerInterop.json
Owners: @ethereum-optimism/contract-reviewers

fix golangci-lint run --help | grep concurrency
  .circleci/config.yml
Owners: @ethereum-optimism/monorepo-ops-reviewers

ci-builder: bump go tool versions (#12159)
  .circleci/config.yml
  op-node/p2p/gating/mocks/BlockingConnectionGater.go
  op-node/p2p/gating/mocks/ExpiryStore.go
  op-node/p2p/gating/mocks/Scores.go
  op-node/p2p/mocks/API.go
  op-node/p2p/mocks/GossipMetricer.go
  op-node/p2p/mocks/Peerstore.go
  op-node/p2p/mocks/ScoreMetrics.go
  op-node/p2p/monitor/mocks/PeerManager.go
  op-service/sources/mocks/BeaconClient.go
  op-service/sources/mocks/BlobSideCarsFetcher.go
  op-service/txmgr/mocks/TxManager.go
  ops/docker/ci-builder/Dockerfile
Owners: @ethereum-optimism/monorepo-ops-reviewers, @ethereum-optimism/op-stack, @ethereum-optimism/go-reviewers

cannon: Output information about the state in JSON format from the witness command (#12137)
  cannon/Makefile
  cannon/cmd/witness.go
  cannon/multicannon/witness.go
Owners: @ethereum-optimism/proofs, @ethereum-optimism/go-reviewers

op-node/rollup/derive: Implement Holocene Frame Queue
  op-node/rollup/derive/frame_queue.go
  op-node/rollup/derive/frame_queue_test.go
  op-node/rollup/derive/frame_test.go
  op-node/rollup/derive/pipeline.go
Owners: @ethereum-optimism/consensus, @ethereum-optimism/go-reviewers

add FrameQueue test
  op-node/rollup/derive/frame_queue.go
  op-node/rollup/derive/frame_queue_test.go
  op-node/rollup/derive/mocks/next_data_provider.go
Owners: @ethereum-optimism/consensus, @ethereum-optimism/go-reviewers

use non-nil context
  op-node/rollup/derive/frame_queue_test.go
Owners: @ethereum-optimism/consensus, @ethereum-optimism/go-reviewers

feat(opcm): Create and use new ISystemConfigV160
  packages/contracts-bedrock/src/L1/OPContractsManager.sol
  packages/contracts-bedrock/src/L1/interfaces/ISystemConfigV160.sol
Owners: @ethereum-optimism/contract-reviewers

op-challenger: Use the cannon witness subcommand to read states instead of directly calling the parsing code.
  cannon/cmd/witness.go
  op-challenger/game/fault/register_task.go
  op-challenger/game/fault/trace/asterisc/provider.go
  op-challenger/game/fault/trace/asterisc/state_converter.go
  op-challenger/game/fault/trace/cannon/provider.go
  op-challenger/game/fault/trace/cannon/provider_test.go
  op-challenger/game/fault/trace/cannon/state_converter.go
  op-challenger/game/fault/trace/cannon/state_converter_test.go
  op-challenger/game/fault/trace/prestates/multi.go
  op-challenger/game/fault/trace/prestates/multi_test.go
  op-challenger/game/fault/trace/vm/iface.go
  op-challenger/game/fault/trace/vm/prestate.go
  op-challenger/game/fault/trace/vm/prestate_test.go
  op-challenger/runner/factory.go
Owners: @ethereum-optimism/proofs, @ethereum-optimism/go-reviewers

op-challenger: Use a context when downloading the prestate.
  op-challenger/game/fault/register.go
  op-challenger/game/fault/register_task.go
  op-challenger/game/fault/trace/prestates/cache.go
  op-challenger/game/fault/trace/prestates/cache_test.go
  op-challenger/game/fault/trace/prestates/multi.go
  op-challenger/game/fault/trace/prestates/multi_test.go
  op-challenger/game/fault/trace/prestates/single.go
  op-challenger/runner/factory.go
  op-challenger/runner/runner.go
Owners: @ethereum-optimism/proofs, @ethereum-optimism/go-reviewers

feat(opcm): defaultSystemConfigParams in OPCM Interop
  packages/contracts-bedrock/src/L1/OPContractsManagerInterop.sol
Owners: @ethereum-optimism/contract-reviewers

op-challenger: Use witness subcommand instead of parsing cannon states (#12141)
  cannon/cmd/witness.go
  op-challenger/game/fault/register.go
  op-challenger/game/fault/register_task.go
  op-challenger/game/fault/trace/asterisc/provider.go
  op-challenger/game/fault/trace/asterisc/state_converter.go
  op-challenger/game/fault/trace/cannon/provider.go
  op-challenger/game/fault/trace/cannon/provider_test.go
  op-challenger/game/fault/trace/cannon/state_converter.go
  op-challenger/game/fault/trace/cannon/state_converter_test.go
  op-challenger/game/fault/trace/prestates/cache.go
  op-challenger/game/fault/trace/prestates/cache_test.go
  op-challenger/game/fault/trace/prestates/multi.go
  op-challenger/game/fault/trace/prestates/multi_test.go
  op-challenger/game/fault/trace/prestates/single.go
  op-challenger/game/fault/trace/vm/iface.go
  op-challenger/game/fault/trace/vm/prestate.go
  op-challenger/game/fault/trace/vm/prestate_test.go
  op-challenger/runner/factory.go
  op-challenger/runner/runner.go
Owners: @ethereum-optimism/proofs, @ethereum-optimism/go-reviewers

fix: wiring up Create2Salt as SaltMixer for DeployOPChainInput
  op-chain-ops/deployer/pipeline/opchain.go
Owners: @ethereum-optimism/op-stack, @ethereum-optimism/go-reviewers

fix: remove old standard-versions.toml file
  op-chain-ops/deployer/opcm/standard-versions.toml
Owners: @ethereum-optimism/op-stack, @ethereum-optimism/go-reviewers

Update CONTRIBUTING.md
  packages/contracts-bedrock/CONTRIBUTING.md
Owners: @ethereum-optimism/contract-reviewers

feat: Change OPCM salt to include user supplied arg (#12152)
  op-chain-ops/deployer/opcm/opchain.go
  op-chain-ops/deployer/pipeline/opchain.go
  op-chain-ops/interopgen/configs.go
  op-chain-ops/interopgen/deploy.go
  packages/contracts-bedrock/scripts/DeployOPChain.s.sol
  packages/contracts-bedrock/semver-lock.json
  packages/contracts-bedrock/snapshots/abi/OPContractsManager.json
  packages/contracts-bedrock/snapshots/abi/OPContractsManagerInterop.json
  packages/contracts-bedrock/src/L1/OPContractsManager.sol
  packages/contracts-bedrock/test/L1/OPContractsManager.t.sol
  packages/contracts-bedrock/test/opcm/DeployOPChain.t.sol
Owners: @ethereum-optimism/op-stack, @ethereum-optimism/go-reviewers, @ethereum-optimism/contract-reviewers

fix: remove old standard-versions.toml file (#12153)
  op-chain-ops/deployer/opcm/standard-versions.toml
Owners: @ethereum-optimism/op-stack, @ethereum-optimism/go-reviewers

ci: Add Cannon STF verify recurring job
  .circleci/config.yml
  cannon/Dockerfile.diff
  cannon/Makefile
Owners: @ethereum-optimism/monorepo-ops-reviewers, @ethereum-optimism/proofs, @ethereum-optimism/go-reviewers

fix: DeployOutput on OPContractsManager API will remain the same.
  packages/contracts-bedrock/semver-lock.json
  packages/contracts-bedrock/src/L1/OPContractsManager.sol
Owners: @ethereum-optimism/contract-reviewers

fix: Temporarily stop deploying DelayedWETHPermissionlessGameProxy
  op-chain-ops/deployer/integration_test/apply_test.go
  packages/contracts-bedrock/scripts/DeployOPChain.s.sol
  packages/contracts-bedrock/semver-lock.json
  packages/contracts-bedrock/src/L1/OPContractsManager.sol
  packages/contracts-bedrock/test/opcm/DeployOPChain.t.sol
Owners: @ethereum-optimism/op-stack, @ethereum-optimism/go-reviewers, @ethereum-optimism/contract-reviewers

fix: bump OPContractsManager version.
  packages/contracts-bedrock/semver-lock.json
  packages/contracts-bedrock/src/L1/OPContractsManager.sol
Owners: @ethereum-optimism/contract-reviewers

fix: removing TODOs from production contract.
  packages/contracts-bedrock/src/L1/OPContractsManager.sol
Owners: @ethereum-optimism/contract-reviewers

fix: semver lock updated.
  packages/contracts-bedrock/semver-lock.json
Owners: @ethereum-optimism/contract-reviewers

.github/CODEOWNERS:

# Monorepo - default to go-reviewers
* @ethereum-optimism/go-reviewers

# OP Stack general
/bedrock-devnet @ethereum-optimism/op-stack @ethereum-optimism/go-reviewers
/op-alt-da      @ethereum-optimism/op-stack @ethereum-optimism/go-reviewers
/op-batcher     @ethereum-optimism/op-stack @ethereum-optimism/go-reviewers
/op-chain-ops   @ethereum-optimism/op-stack @ethereum-optimism/go-reviewers
/op-e2e         @ethereum-optimism/op-stack @ethereum-optimism/go-reviewers
/op-node        @ethereum-optimism/op-stack @ethereum-optimism/go-reviewers
/op-proposer    @ethereum-optimism/op-stack @ethereum-optimism/go-reviewers
/op-wheel       @ethereum-optimism/op-stack @ethereum-optimism/go-reviewers
/ops-bedrock    @ethereum-optimism/op-stack @ethereum-optimism/go-reviewers

# Expert areas
/op-node/rollup @ethereum-optimism/consensus @ethereum-optimism/go-reviewers

/op-supervisor  @ethereum-optimism/interop @ethereum-optimism/go-reviewers

/op-conductor   @ethereum-optimism/op-conductor @ethereum-optimism/go-reviewers

/cannon                @ethereum-optimism/proofs @ethereum-optimism/go-reviewers
/op-challenger         @ethereum-optimism/proofs @ethereum-optimism/go-reviewers
/op-dispute-mon        @ethereum-optimism/proofs @ethereum-optimism/go-reviewers
/op-preimage           @ethereum-optimism/proofs @ethereum-optimism/go-reviewers
/op-program            @ethereum-optimism/proofs @ethereum-optimism/go-reviewers
/op-e2e/actions/proofs @ethereum-optimism/proofs @ethereum-optimism/go-reviewers
/op-e2e/faultproofs    @ethereum-optimism/proofs @ethereum-optimism/go-reviewers

# Ops
/.circleci       @ethereum-optimism/monorepo-ops-reviewers
/.github         @ethereum-optimism/monorepo-ops-reviewers
/ops             @ethereum-optimism/monorepo-ops-reviewers
/docker-bake.hcl @ethereum-optimism/monorepo-ops-reviewers

# Contracts
/packages/contracts-bedrock     @ethereum-optimism/contract-reviewers
