Repository ethereum-optimism/optimism, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ethereum-optimism/go-reviewers, @ethereum-optimism/op-stack, @ethereum-optimism/consensus, @ethereum-optimism/interop, @ethereum-optimism/op-conductor, @ethereum-optimism/proofs, @ethereum-optimism/monorepo-ops-reviewers, @ethereum-optimism/contract-reviewers

maint(ct): remove Kontrol interfaces (#12178)
  packages/contracts-bedrock/scripts/checks/check-interfaces.sh
  packages/contracts-bedrock/src/L1/interfaces/IL1CrossDomainMessenger.sol
  packages/contracts-bedrock/test/kontrol/README.md
  packages/contracts-bedrock/test/kontrol/proofs/L1CrossDomainMessenger.k.sol
  packages/contracts-bedrock/test/kontrol/proofs/L1ERC721Bridge.k.sol
  packages/contracts-bedrock/test/kontrol/proofs/L1StandardBridge.k.sol
  packages/contracts-bedrock/test/kontrol/proofs/OptimismPortal.k.sol
  packages/contracts-bedrock/test/kontrol/proofs/OptimismPortal2.k.sol
  packages/contracts-bedrock/test/kontrol/proofs/interfaces/KontrolInterfaces.sol
Owners: @ethereum-optimism/contract-reviewers

Updates to OPCM and OPCMInterop
  packages/contracts-bedrock/src/L1/OPContractsManager.sol
  packages/contracts-bedrock/src/L1/OPContractsManagerInterop.sol
Owners: @ethereum-optimism/contract-reviewers

Update DeployImpls and OPCM Tests
  packages/contracts-bedrock/scripts/DeployImplementations.s.sol
  packages/contracts-bedrock/test/L1/OPContractsManager.t.sol
Owners: @ethereum-optimism/contract-reviewers

remove some unused imports
  packages/contracts-bedrock/scripts/DeployImplementations.s.sol
  packages/contracts-bedrock/src/L1/OPContractsManager.sol
Owners: @ethereum-optimism/contract-reviewers

Undo mapping type change
  packages/contracts-bedrock/src/L1/OPContractsManager.sol
Owners: @ethereum-optimism/contract-reviewers

Undo DeployOutput type change
  packages/contracts-bedrock/src/L1/OPContractsManager.sol
Owners: @ethereum-optimism/contract-reviewers

feat: Rewrite natspec checker in Go
  packages/contracts-bedrock/justfile
  packages/contracts-bedrock/scripts/checks/semver-natspec/main.go
Owners: @ethereum-optimism/contract-reviewers

remove old script
  packages/contracts-bedrock/scripts/checks/check-semver-natspec-match.sh
Owners: @ethereum-optimism/contract-reviewers

Semver and snapshots
  packages/contracts-bedrock/semver-lock.json
  packages/contracts-bedrock/snapshots/abi/OPContractsManager.json
  packages/contracts-bedrock/snapshots/abi/OPContractsManagerInterop.json
  packages/contracts-bedrock/snapshots/storageLayout/OPContractsManager.json
  packages/contracts-bedrock/snapshots/storageLayout/OPContractsManagerInterop.json
  packages/contracts-bedrock/src/L1/OPContractsManager.sol
Owners: @ethereum-optimism/contract-reviewers

Add unit tests (flashbots/rollup-boost)
  .github/workflows/test.yml
  Cargo.lock
  Cargo.toml
  src/main.rs
  src/proxy.rs
Owners: @ethereum-optimism/monorepo-ops-reviewers, @ethereum-optimism/go-reviewers

Interfaces in OPCM and OPCMInterop (#12188)
  packages/contracts-bedrock/scripts/DeployImplementations.s.sol
  packages/contracts-bedrock/semver-lock.json
  packages/contracts-bedrock/snapshots/abi/OPContractsManager.json
  packages/contracts-bedrock/snapshots/abi/OPContractsManagerInterop.json
  packages/contracts-bedrock/snapshots/storageLayout/OPContractsManager.json
  packages/contracts-bedrock/snapshots/storageLayout/OPContractsManagerInterop.json
  packages/contracts-bedrock/src/L1/OPContractsManager.sol
  packages/contracts-bedrock/src/L1/OPContractsManagerInterop.sol
  packages/contracts-bedrock/test/L1/OPContractsManager.t.sol
Owners: @ethereum-optimism/contract-reviewers

refactor: simplify the system config initializer logic
  packages/contracts-bedrock/semver-lock.json
  packages/contracts-bedrock/src/L1/OPContractsManager.sol
  packages/contracts-bedrock/src/L1/OPContractsManagerInterop.sol
Owners: @ethereum-optimism/contract-reviewers

fix(ct): kontrol summary bug
  packages/contracts-bedrock/test/kontrol/scripts/make-summary-deployment.sh
Owners: @ethereum-optimism/contract-reviewers

Add docker and release workflow (flashbots/rollup-boost)
  .github/workflows/release.yml
  Dockerfile
Owners: @ethereum-optimism/monorepo-ops-reviewers, @ethereum-optimism/go-reviewers

add unit tests
  .circleci/config.yml
  packages/contracts-bedrock/scripts/checks/semver-natspec/main.go
  packages/contracts-bedrock/scripts/checks/semver-natspec/main_test.go
Owners: @ethereum-optimism/monorepo-ops-reviewers, @ethereum-optimism/contract-reviewers

rename test
  .circleci/config.yml
Owners: @ethereum-optimism/monorepo-ops-reviewers

add retry.Do0
  op-service/retry/operation.go
Owners: @ethereum-optimism/go-reviewers

feat:add cannon load/store opcodes tests
  cannon/mipsevm/tests/evm_common_test.go
Owners: @ethereum-optimism/proofs, @ethereum-optimism/go-reviewers

cannon: Define 64-bit syscalls
  cannon/mipsevm/arch/arch32.go
  cannon/mipsevm/arch/arch64.go
  cannon/mipsevm/exec/mips_syscalls.go
  cannon/mipsevm/multithreaded/instrumented_test.go
  cannon/mipsevm/multithreaded/mips.go
  cannon/mipsevm/singlethreaded/mips.go
  cannon/mipsevm/tests/evm_common_test.go
  cannon/mipsevm/tests/evm_multithreaded_test.go
  cannon/mipsevm/tests/evm_singlethreaded_test.go
  cannon/mipsevm/tests/fuzz_evm_common_test.go
  cannon/mipsevm/tests/fuzz_evm_multithreaded_test.go
  cannon/mipsevm/tests/fuzz_evm_singlethreaded_test.go
  packages/contracts-bedrock/src/cannon/MIPS2.sol
  packages/contracts-bedrock/src/cannon/libraries/MIPSSyscalls.sol
Owners: @ethereum-optimism/proofs, @ethereum-optimism/go-reviewers, @ethereum-optimism/contract-reviewers

review updates
  packages/contracts-bedrock/scripts/checks/semver-natspec/main.go
Owners: @ethereum-optimism/contract-reviewers

feat: Rewrite natspec checker in Go (#12191)
  .circleci/config.yml
  packages/contracts-bedrock/justfile
  packages/contracts-bedrock/scripts/checks/check-semver-natspec-match.sh
  packages/contracts-bedrock/scripts/checks/semver-natspec/main.go
  packages/contracts-bedrock/scripts/checks/semver-natspec/main_test.go
Owners: @ethereum-optimism/monorepo-ops-reviewers, @ethereum-optimism/contract-reviewers

cannon: Fix 64-bit memory
  cannon/mipsevm/exec/memory.go
  cannon/mipsevm/memory/memory.go
  cannon/mipsevm/memory/memory64_test.go
Owners: @ethereum-optimism/proofs, @ethereum-optimism/go-reviewers

cannon: Replace GetMemory with GetUint32
  cannon/cmd/run.go
  cannon/mipsevm/exec/mips_instructions.go
  cannon/mipsevm/memory/memory.go
  cannon/mipsevm/memory/memory64_test.go
  cannon/mipsevm/memory/memory_test.go
  cannon/mipsevm/tests/evm_common_test.go
  cannon/mipsevm/testutil/vmtests.go
Owners: @ethereum-optimism/proofs, @ethereum-optimism/go-reviewers

Holocene extensions to L1Block.sol
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/semver-lock.json
  packages/contracts-bedrock/snapshots/abi/L1Block.json
  packages/contracts-bedrock/snapshots/abi/L1BlockInterop.json
  packages/contracts-bedrock/snapshots/storageLayout/L1Block.json
  packages/contracts-bedrock/snapshots/storageLayout/L1BlockInterop.json
  packages/contracts-bedrock/src/L2/L1Block.sol
  packages/contracts-bedrock/src/L2/L1BlockInterop.sol
  packages/contracts-bedrock/src/L2/interfaces/IL1Block.sol
  packages/contracts-bedrock/src/L2/interfaces/IL1BlockInterop.sol
  packages/contracts-bedrock/src/libraries/Encoding.sol
  packages/contracts-bedrock/test/L2/L1Block.t.sol
Owners: @ethereum-optimism/contract-reviewers

cannon: Support F_GETFD cmd to fcntl.
  cannon/mipsevm/exec/mips_syscalls.go
  packages/contracts-bedrock/src/cannon/MIPS.sol
  packages/contracts-bedrock/src/cannon/libraries/MIPSSyscalls.sol
Owners: @ethereum-optimism/proofs, @ethereum-optimism/go-reviewers, @ethereum-optimism/contract-reviewers

cannon: Introduce a new state version for supporting get_fd.
  .circleci/config.yml
  Makefile
  cannon/Makefile
  cannon/cmd/load_elf.go
  cannon/mipsevm/versions/detect.go
  cannon/mipsevm/versions/state.go
  cannon/multicannon/exec.go
  op-challenger/README.md
  op-e2e/e2eutils/challenger/helper.go
  op-program/Dockerfile.repro
  op-program/README.md
  op-program/scripts/build-prestates.sh
  ops-bedrock/docker-compose.yml
  ops/docker/op-stack-go/Dockerfile
Owners: @ethereum-optimism/monorepo-ops-reviewers, @ethereum-optimism/go-reviewers, @ethereum-optimism/proofs, @ethereum-optimism/op-stack

cannon: Update fuzz test expectations.
  cannon/mipsevm/tests/fuzz_evm_common_test.go
Owners: @ethereum-optimism/proofs, @ethereum-optimism/go-reviewers

cannon: Don't override the cannon version.
  ops/docker/op-stack-go/Dockerfile
Owners: @ethereum-optimism/monorepo-ops-reviewers

Update semver-lock.
  packages/contracts-bedrock/semver-lock.json
Owners: @ethereum-optimism/contract-reviewers

cannon: Update MIPS.t.sol
  packages/contracts-bedrock/test/cannon/MIPS.t.sol
Owners: @ethereum-optimism/contract-reviewers

cannon: Restore cannon version arg.
  ops/docker/op-stack-go/Dockerfile
Owners: @ethereum-optimism/monorepo-ops-reviewers

cannon: Improve logging.
  cannon/cmd/run.go
  cannon/mipsevm/multithreaded/state.go
  cannon/mipsevm/singlethreaded/state.go
Owners: @ethereum-optimism/proofs, @ethereum-optimism/go-reviewers

cannon: Load old version from cannon docker image
  ops/docker/op-stack-go/Dockerfile
Owners: @ethereum-optimism/monorepo-ops-reviewers

cannon: Update tests to detect old versions but only check writing and parsing for the currently supported versions.
  cannon/.gitignore
  cannon/mipsevm/versions/detect_test.go
  cannon/mipsevm/versions/state_test.go
  cannon/mipsevm/versions/testdata/states/0.bin.gz
  cannon/mipsevm/versions/testdata/states/0.json
  cannon/mipsevm/versions/testdata/states/1.bin.gz
  cannon/mipsevm/versions/testdata/states/2.bin.gz
Owners: @ethereum-optimism/proofs, @ethereum-optimism/go-reviewers

Fix contrac semvers.
  packages/contracts-bedrock/semver-lock.json
  packages/contracts-bedrock/src/cannon/MIPS.sol
  packages/contracts-bedrock/src/cannon/MIPS2.sol
Owners: @ethereum-optimism/contract-reviewers

cannon: Rename singlethreaded-getfd to just singlethreaded-2.
  Makefile
  cannon/cmd/load_elf.go
  cannon/mipsevm/versions/detect.go
  cannon/mipsevm/versions/detect_test.go
  cannon/mipsevm/versions/state.go
  cannon/mipsevm/versions/state_test.go
  cannon/multicannon/exec.go
  op-program/Dockerfile.repro
Owners: @ethereum-optimism/go-reviewers, @ethereum-optimism/proofs

update code to use Do0
  op-node/node/conductor.go
  op-node/node/node.go
Owners: @ethereum-optimism/op-stack, @ethereum-optimism/go-reviewers

add `retry.Do0` (#12194)
  op-node/node/conductor.go
  op-node/node/node.go
  op-service/retry/operation.go
Owners: @ethereum-optimism/op-stack, @ethereum-optimism/go-reviewers

cannon: Fix comment.
  packages/contracts-bedrock/src/cannon/MIPS2.sol
Owners: @ethereum-optimism/contract-reviewers

op-program: Switch fpp-verify back to running in separate process.
  .circleci/config.yml
  op-program/verify/verify.go
Owners: @ethereum-optimism/monorepo-ops-reviewers, @ethereum-optimism/proofs, @ethereum-optimism/go-reviewers

.github/CODEOWNERS:

# Monorepo - default to go-reviewers
* @ethereum-optimism/go-reviewers

# OP Stack general
/bedrock-devnet @ethereum-optimism/op-stack @ethereum-optimism/go-reviewers
/op-alt-da      @ethereum-optimism/op-stack @ethereum-optimism/go-reviewers
/op-batcher     @ethereum-optimism/op-stack @ethereum-optimism/go-reviewers
/op-chain-ops   @ethereum-optimism/op-stack @ethereum-optimism/go-reviewers
/op-e2e         @ethereum-optimism/op-stack @ethereum-optimism/go-reviewers
/op-node        @ethereum-optimism/op-stack @ethereum-optimism/go-reviewers
/op-proposer    @ethereum-optimism/op-stack @ethereum-optimism/go-reviewers
/op-wheel       @ethereum-optimism/op-stack @ethereum-optimism/go-reviewers
/ops-bedrock    @ethereum-optimism/op-stack @ethereum-optimism/go-reviewers

# Expert areas
/op-node/rollup @ethereum-optimism/consensus @ethereum-optimism/go-reviewers

/op-supervisor  @ethereum-optimism/interop @ethereum-optimism/go-reviewers

/op-conductor   @ethereum-optimism/op-conductor @ethereum-optimism/go-reviewers

/cannon                @ethereum-optimism/proofs @ethereum-optimism/go-reviewers
/op-challenger         @ethereum-optimism/proofs @ethereum-optimism/go-reviewers
/op-dispute-mon        @ethereum-optimism/proofs @ethereum-optimism/go-reviewers
/op-preimage           @ethereum-optimism/proofs @ethereum-optimism/go-reviewers
/op-program            @ethereum-optimism/proofs @ethereum-optimism/go-reviewers
/op-e2e/actions/proofs @ethereum-optimism/proofs @ethereum-optimism/go-reviewers
/op-e2e/faultproofs    @ethereum-optimism/proofs @ethereum-optimism/go-reviewers

# Ops
/.circleci       @ethereum-optimism/monorepo-ops-reviewers
/.github         @ethereum-optimism/monorepo-ops-reviewers
/ops             @ethereum-optimism/monorepo-ops-reviewers
/docker-bake.hcl @ethereum-optimism/monorepo-ops-reviewers

# Contracts
/packages/contracts-bedrock     @ethereum-optimism/contract-reviewers
