Repository ethereum-optimism/optimism, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ethereum-optimism/security-reviewers, @ethereum-optimism/infra-reviewers, @ethereum-optimism/typescript-reviewers, @ethereum-optimism/contract-reviewers, @ethereum-optimism/legacy-reviewers, @ethereum-optimism/devxpod, @ethereum-optimism/go-reviewers, @protolambda, @trianglesphere, @ajsutton, @0x00101010, @zhwrd, @mslipper, @ethereum-optimism/monorepo-ops-reviewers, @ethereum-optimism/release-managers

.github/CODEOWNERS:

# Packages
/packages/chain-mon             @ethereum-optimism/security-reviewers
/packages/chain-mon/internal/balance-mon             @ethereum-optimism/infra-reviewers
/packages/common-ts             @ethereum-optimism/typescript-reviewers
/packages/contracts-bedrock     @ethereum-optimism/contract-reviewers
/packages/core-utils            @ethereum-optimism/legacy-reviewers
/packages/sdk                   @ethereum-optimism/devxpod

# Bedrock codebases
/bedrock-devnet @ethereum-optimism/go-reviewers
/cannon         @ethereum-optimism/go-reviewers
/op-batcher     @ethereum-optimism/go-reviewers
/op-bootnode    @ethereum-optimism/go-reviewers
/op-chain-ops   @ethereum-optimism/go-reviewers
/op-challenger  @ethereum-optimism/go-reviewers
/op-dispute-mon  @ethereum-optimism/go-reviewers
/op-e2e         @ethereum-optimism/go-reviewers
/op-heartbeat   @ethereum-optimism/go-reviewers
/op-node        @ethereum-optimism/go-reviewers
/op-node/rollup @protolambda @trianglesphere @ajsutton
/op-plasma      @ethereum-optimism/go-reviewers
/op-preimage    @ethereum-optimism/go-reviewers
/op-program     @ethereum-optimism/go-reviewers
/op-proposer    @ethereum-optimism/go-reviewers
/op-service     @ethereum-optimism/go-reviewers
/op-wheel       @ethereum-optimism/go-reviewers
/ops-bedrock    @ethereum-optimism/go-reviewers
/op-conductor   @0x00101010 @zhwrd @mslipper

# Ops
/.circleci       @ethereum-optimism/monorepo-ops-reviewers
/.github         @ethereum-optimism/monorepo-ops-reviewers
/ops             @ethereum-optimism/monorepo-ops-reviewers
/docker-bake.hcl @ethereum-optimism/monorepo-ops-reviewers

# Misc
/proxyd           @ethereum-optimism/infra-reviewers
/indexer          @ethereum-optimism/devxpod
/infra            @ethereum-optimism/infra-reviewers
/specs            @ethereum-optimism/contract-reviewers @ethereum-optimism/go-reviewers
/endpoint-monitor @ethereum-optimism/infra-reviewers

# Don't add owners if only package.json is updated
/packages/*/package.json
/*/package.json

# JavaScript Releases
/packages/*/CHANGELOG.md @ethereum-optimism/release-managers
/*/CHANGELOG.md          @ethereum-optimism/release-managers

remove reference to op-node metrics in op-service. add testutils mocks for these clients
  op-node/metrics/metrics.go
  op-node/node/node.go
  op-service/client/client.go
  op-service/client/rpc.go
  op-service/metrics/rpc_metrics.go
  op-service/testutils/mock_client.go
  op-service/testutils/mock_rpc.go
Owners: @ethereum-optimism/go-reviewers

feat(ctb): Mainnet FP Deploy Config
  packages/contracts-bedrock/deploy-config/mainnet.json
Owners: @ethereum-optimism/contract-reviewers

cannon: Make jsonutil error when loading json payload with extra data (#10542)
  op-service/jsonutil/json.go
  op-service/jsonutil/json_test.go
Owners: @ethereum-optimism/go-reviewers

cannon: Remove unreachable code (#10526)
  cannon/mipsevm/memory.go
Owners: @ethereum-optimism/go-reviewers

add ability to decode ecotone scalar values into components
  op-chain-ops/cmd/ecotone-scalar/main.go
  op-service/eth/types.go
Owners: @ethereum-optimism/go-reviewers

Bump op-geth dep to v1.101315.1-rc.1
  go.mod
  go.sum
Owners: none

op-challenger: Fix highest acted L1 block metric for completed games
  op-challenger/challenger.go
  op-challenger/challenger_test.go
  op-challenger/cmd/main.go
  op-challenger/game/scheduler/coordinator.go
  op-challenger/game/scheduler/coordinator_test.go
  op-challenger/game/service.go
  op-e2e/e2eutils/challenger/helper.go
  op-e2e/e2eutils/challenger/metrics.go
  op-e2e/faultproofs/output_alphabet_test.go
Owners: @ethereum-optimism/go-reviewers

op-batcher: Support generic DA commitment type - title case cli var
  op-plasma/cli.go
Owners: @ethereum-optimism/go-reviewers

fix: l1_beacon_client should return ethereum.NotFound when L1 returned blobs invalid
  op-service/sources/l1_beacon_client.go
Owners: @ethereum-optimism/go-reviewers

ctb: Add new OwnerRemovalFailed(string) error type to LM
  packages/contracts-bedrock/semver-lock.json
  packages/contracts-bedrock/snapshots/abi/LivenessModule.json
  packages/contracts-bedrock/src/Safe/LivenessModule.sol
  packages/contracts-bedrock/test/Safe/LivenessModule.t.sol
  packages/contracts-bedrock/test/kontrol/proofs/utils/DeploymentSummary.sol
  packages/contracts-bedrock/test/kontrol/proofs/utils/DeploymentSummaryFaultProofs.sol
  packages/contracts-bedrock/test/kontrol/proofs/utils/DeploymentSummaryFaultProofsCode.sol
Owners: @ethereum-optimism/contract-reviewers

ctb: Add new OwnerRemovalFailed(string) error type to LM (#10538)
  packages/contracts-bedrock/semver-lock.json
  packages/contracts-bedrock/snapshots/abi/LivenessModule.json
  packages/contracts-bedrock/src/Safe/LivenessModule.sol
  packages/contracts-bedrock/test/Safe/LivenessModule.t.sol
  packages/contracts-bedrock/test/kontrol/proofs/utils/DeploymentSummary.sol
  packages/contracts-bedrock/test/kontrol/proofs/utils/DeploymentSummaryFaultProofs.sol
  packages/contracts-bedrock/test/kontrol/proofs/utils/DeploymentSummaryFaultProofsCode.sol
Owners: @ethereum-optimism/contract-reviewers

chore: fault-mon fix on the L2_ORACLE() using the l2Oracle() for custom chain
  packages/chain-mon/src/fault-mon/service.ts
Owners: @ethereum-optimism/security-reviewers

cannon: Add missing instructions to MIPS readme
  cannon/mipsevm/README.md
  cannon/mipsevm/mips.go
Owners: @ethereum-optimism/go-reviewers

cannon: Remove pseudo-instructions from MIPS readme
  cannon/mipsevm/README.md
Owners: @ethereum-optimism/go-reviewers

chore: fault-mon fix on the L2_ORACLE() using the l2Oracle() for custom chain (#10551)
  packages/chain-mon/src/fault-mon/service.ts
Owners: @ethereum-optimism/security-reviewers

cannon: Fix readme table alignment
  cannon/mipsevm/README.md
Owners: @ethereum-optimism/go-reviewers

cannon: Fix documentation - overflows are allowed
  cannon/mipsevm/README.md
Owners: @ethereum-optimism/go-reviewers

Bump op-geth dep to v1.101315.1-rc.1 (#10548)
  go.mod
  go.sum
Owners: none

contracts-bedrock: add generic config logic for L1Block
  packages/contracts-bedrock/src/L2/L1Block.sol
Owners: @ethereum-optimism/contract-reviewers

contracts-bedrock: add support for L1Block config to OptimismPortal, OptimismPortal2
  packages/contracts-bedrock/src/L1/OptimismPortal.sol
  packages/contracts-bedrock/src/L1/OptimismPortal2.sol
Owners: @ethereum-optimism/contract-reviewers

contracts-bedrock: update tests for L1Block to support generic config
  packages/contracts-bedrock/test/L2/L1Block.t.sol
Owners: @ethereum-optimism/contract-reviewers

contracts-bedrock: add setL1BlockValuesHolocene to L1Block
  packages/contracts-bedrock/src/L2/L1Block.sol
Owners: @ethereum-optimism/contract-reviewers

contracts-bedrock: update tests for OptimismPortal to support L1Block config
  packages/contracts-bedrock/test/L1/OptimismPortal.t.sol
Owners: @ethereum-optimism/contract-reviewers

contracts-bedrock: update Specs.t.sol with new method setConfig in OptimismPortal
  packages/contracts-bedrock/test/Specs.t.sol
Owners: @ethereum-optimism/contract-reviewers

contracts-bedrock: update tests for SystemConfig to support L1Block config
  packages/contracts-bedrock/test/L1/SystemConfig.t.sol
Owners: @ethereum-optimism/contract-reviewers

contracts-bedrock: add support for L1Block config to SystemConfig
  packages/contracts-bedrock/src/L1/SystemConfig.sol
Owners: @ethereum-optimism/contract-reviewers

contracts-bedrock: improve config setting logic in SystemConfig
  packages/contracts-bedrock/src/L1/SystemConfig.sol
Owners: @ethereum-optimism/contract-reviewers

contracts-bedrock: define functions for setting static values
  packages/contracts-bedrock/src/L1/OptimismPortal.sol
  packages/contracts-bedrock/src/L1/SystemConfig.sol
Owners: @ethereum-optimism/contract-reviewers

contracts-bedrock: add logic for add, remove dependencies
  packages/contracts-bedrock/src/L1/OptimismPortal.sol
  packages/contracts-bedrock/src/L1/SystemConfig.sol
  packages/contracts-bedrock/src/L2/L1Block.sol
  packages/contracts-bedrock/src/L2/L1BlockInterop.sol
Owners: @ethereum-optimism/contract-reviewers

contracts-bedrock: drop batcher hash from L1Block setConfig
  packages/contracts-bedrock/src/L1/OptimismPortal.sol
  packages/contracts-bedrock/src/L1/SystemConfig.sol
  packages/contracts-bedrock/src/L2/L1Block.sol
Owners: @ethereum-optimism/contract-reviewers

contracts-bedrock: fix errors
  packages/contracts-bedrock/src/L1/OptimismPortal.sol
  packages/contracts-bedrock/src/L1/SystemConfig.sol
  packages/contracts-bedrock/test/L1/OptimismPortal.t.sol
  packages/contracts-bedrock/test/L1/SystemConfig.t.sol
Owners: @ethereum-optimism/contract-reviewers

contracts-bedrock: revert changes to OptimismPortal2
  packages/contracts-bedrock/src/L1/OptimismPortal2.sol
Owners: @ethereum-optimism/contract-reviewers

contracts-bedrock: improve documentation in L1Block for ConfigType enum
  packages/contracts-bedrock/src/L2/L1Block.sol
Owners: @ethereum-optimism/contract-reviewers

contracts-bedrock: add dependency set to initialize function of SystemConfig
  packages/contracts-bedrock/src/L1/SystemConfig.sol
Owners: @ethereum-optimism/contract-reviewers

contracts-bedrock: create OptimismPortalInterop
  packages/contracts-bedrock/src/L1/OptimismPortalInterop.sol
Owners: @ethereum-optimism/contract-reviewers

contracts-bedrock: remove dependencySet from initialize in SystemConfig
  packages/contracts-bedrock/src/L1/SystemConfig.sol
Owners: @ethereum-optimism/contract-reviewers

contracts-bedrock: restore changes to OptimismPortal
  packages/contracts-bedrock/src/L1/OptimismPortal.sol
Owners: @ethereum-optimism/contract-reviewers

contracts-bedrock: minor rename in SystemConfig
  packages/contracts-bedrock/src/L1/SystemConfig.sol
Owners: @ethereum-optimism/contract-reviewers

contracts-bedrock: improve documentation in OptimismPortal
  packages/contracts-bedrock/src/L1/OptimismPortal.sol
Owners: @ethereum-optimism/contract-reviewers

contracts-bedrock: fix L1BlockInterop version
  packages/contracts-bedrock/src/L2/L1BlockInterop.sol
Owners: @ethereum-optimism/contract-reviewers
