Repository ethereum-optimism/optimism, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ethereum-optimism/go-reviewers, @ethereum-optimism/op-stack, @ethereum-optimism/consensus, @ethereum-optimism/interop, @ethereum-optimism/op-conductor, @ethereum-optimism/proofs, @ethereum-optimism/monorepo-ops-reviewers, @ethereum-optimism/contract-reviewers

MT Cannon: add cannon load/store opcodes tests (#12196)
  cannon/mipsevm/tests/evm_common_test.go
Owners: @ethereum-optimism/proofs, @ethereum-optimism/go-reviewers

feat: Use DeploySuperchain script in Deploy.s.sol (#12203)
  packages/contracts-bedrock/deploy-config/devnetL1-template.json
  packages/contracts-bedrock/deploy-config/hardhat.json
  packages/contracts-bedrock/scripts/deploy/Deploy.s.sol
  packages/contracts-bedrock/semver-lock.json
  packages/contracts-bedrock/src/L1/ProtocolVersions.sol
Owners: @ethereum-optimism/contract-reviewers

op-e2e: Retrieve AllocType from System instead of env (#12221)
  .circleci/config.yml
  op-e2e/config/init.go
  op-e2e/e2eutils/challenger/helper.go
  op-e2e/e2eutils/disputegame/helper.go
  op-e2e/e2eutils/disputegame/output_cannon_helper.go
  op-e2e/e2eutils/disputegame/output_game_helper.go
  op-e2e/faultproofs/cannon_benchmark_test.go
  op-e2e/faultproofs/multi_test.go
  op-e2e/faultproofs/output_cannon_test.go
  op-e2e/faultproofs/permissioned_test.go
  op-e2e/faultproofs/precompile_test.go
  op-e2e/faultproofs/util.go
  op-e2e/system/e2esys/setup.go
Owners: @ethereum-optimism/monorepo-ops-reviewers, @ethereum-optimism/op-stack, @ethereum-optimism/go-reviewers, @ethereum-optimism/proofs

feat: deployImplementations and depImplementationsInterop (#12226)
  packages/contracts-bedrock/scripts/deploy/Deploy.s.sol
Owners: @ethereum-optimism/contract-reviewers

code review updates
  op-service/txmgr/cli.go
  op-service/txmgr/estimator.go
  op-service/txmgr/txmgr.go
Owners: @ethereum-optimism/go-reviewers

Eth: BlockRef
  op-service/eth/id.go
  op-supervisor/supervisor/backend/db/db.go
  op-supervisor/supervisor/backend/safety/safety.go
  op-supervisor/supervisor/backend/safety/views.go
  op-supervisor/supervisor/backend/source/chain_processor.go
  op-supervisor/supervisor/backend/source/log_processor.go
  op-supervisor/supervisor/backend/source/log_processor_test.go
Owners: @ethereum-optimism/go-reviewers, @ethereum-optimism/interop

better default support
  op-chain-ops/deployer/broadcaster/keyed.go
  op-service/txmgr/cli.go
  op-service/txmgr/txmgr.go
Owners: @ethereum-optimism/op-stack, @ethereum-optimism/go-reviewers

feat: Add a test to simplify deploy script testing
  packages/contracts-bedrock/test/setup/DeployVariations.sol
Owners: @ethereum-optimism/contract-reviewers

fix: lint
  packages/contracts-bedrock/test/setup/DeployVariations.sol
Owners: @ethereum-optimism/contract-reviewers

feat: Add clarifying comments to DeployVariations_Test
  packages/contracts-bedrock/test/setup/DeployVariations.sol
Owners: @ethereum-optimism/contract-reviewers

feat: combine setupOPChain and DeployOpChain
  packages/contracts-bedrock/scripts/deploy/Deploy.s.sol
Owners: @ethereum-optimism/contract-reviewers

feat: Extract deployment of pre-v1.6.0 code
  packages/contracts-bedrock/scripts/deploy/Deploy.s.sol
Owners: @ethereum-optimism/contract-reviewers

fix: op-e2e issues with unfound contracts
  packages/contracts-bedrock/scripts/deploy/Deploy.s.sol
Owners: @ethereum-optimism/contract-reviewers

fix: Undo conditional init of L2OutputOracle
  packages/contracts-bedrock/scripts/deploy/Deploy.s.sol
Owners: @ethereum-optimism/contract-reviewers

enable FP on system config custom gas token tests
  packages/contracts-bedrock/test/L1/SystemConfig.t.sol
Owners: @ethereum-optimism/contract-reviewers

ugly but working
  packages/contracts-bedrock/scripts/deploy/Deploy.s.sol
Owners: @ethereum-optimism/contract-reviewers

fix: correct deploy ordering of legacy contracts
  packages/contracts-bedrock/scripts/deploy/Deploy.s.sol
Owners: @ethereum-optimism/contract-reviewers

clean up legacy deployments
  packages/contracts-bedrock/scripts/deploy/Deploy.s.sol
Owners: @ethereum-optimism/contract-reviewers

fix: safe casting in solidity
  packages/contracts-bedrock/scripts/DeployOPChain.s.sol
Owners: @ethereum-optimism/contract-reviewers

specific test for extension
  op-service/txmgr/txmgr_test.go
Owners: @ethereum-optimism/go-reviewers

Eth: BlockRef (#12251)
  op-service/eth/id.go
  op-supervisor/supervisor/backend/db/db.go
  op-supervisor/supervisor/backend/safety/safety.go
  op-supervisor/supervisor/backend/safety/views.go
  op-supervisor/supervisor/backend/source/chain_processor.go
  op-supervisor/supervisor/backend/source/log_processor.go
  op-supervisor/supervisor/backend/source/log_processor_test.go
Owners: @ethereum-optimism/go-reviewers, @ethereum-optimism/interop

Configurable Dispute Game Parameters (#12228)
  op-chain-ops/deployer/opcm/opchain.go
  op-chain-ops/deployer/pipeline/opchain.go
  op-chain-ops/interopgen/configs.go
  op-chain-ops/interopgen/deploy.go
  op-chain-ops/interopgen/recipe.go
  packages/contracts-bedrock/scripts/DeployOPChain.s.sol
  packages/contracts-bedrock/semver-lock.json
  packages/contracts-bedrock/snapshots/abi/OPContractsManager.json
  packages/contracts-bedrock/snapshots/abi/OPContractsManagerInterop.json
  packages/contracts-bedrock/src/L1/OPContractsManager.sol
  packages/contracts-bedrock/test/L1/OPContractsManager.t.sol
  packages/contracts-bedrock/test/opcm/DeployOPChain.t.sol
Owners: @ethereum-optimism/op-stack, @ethereum-optimism/go-reviewers, @ethereum-optimism/contract-reviewers

op-e2e: allow no OptimismPortal impl if useFaultProofs
  op-chain-ops/genesis/config.go
Owners: @ethereum-optimism/op-stack, @ethereum-optimism/go-reviewers

op-node,op-supervisor: feed local-unsafe/local-safe/l1-finalized data to supervisor
  op-node/rollup/engine/events.go
  op-node/rollup/finality/finalizer.go
  op-node/rollup/interop/interop.go
  op-service/sources/supervisor_client.go
  op-supervisor/supervisor/frontend/frontend.go
  op-supervisor/supervisor/types/types.go
Owners: @ethereum-optimism/consensus, @ethereum-optimism/go-reviewers, @ethereum-optimism/interop

post-rebase compilation fixes
  op-supervisor/supervisor/backend/backend.go
  op-supervisor/supervisor/backend/mock.go
Owners: @ethereum-optimism/interop, @ethereum-optimism/go-reviewers

op-node,op-service,op-e2e: wip, fix interop op-node tests
  op-e2e/actions/interop/interop_test.go
  op-node/rollup/engine/events.go
  op-node/rollup/interop/interop.go
  op-node/rollup/interop/interop_test.go
  op-service/sources/supervisor_client.go
  op-service/testutils/mock_interop_backend.go
Owners: @ethereum-optimism/op-stack, @ethereum-optimism/go-reviewers, @ethereum-optimism/consensus

fix: lint
  packages/contracts-bedrock/scripts/deploy/Deploy.s.sol
Owners: @ethereum-optimism/contract-reviewers

feat: Add a test to simplify deploy script testing (#12235)
  packages/contracts-bedrock/test/setup/DeployVariations.sol
Owners: @ethereum-optimism/contract-reviewers

cannon: Define 64-bit syscalls
  cannon/mipsevm/arch/arch32.go
  cannon/mipsevm/arch/arch64.go
  cannon/mipsevm/exec/mips_syscalls.go
  cannon/mipsevm/multithreaded/instrumented_test.go
  cannon/mipsevm/multithreaded/mips.go
  cannon/mipsevm/singlethreaded/mips.go
  cannon/mipsevm/tests/evm_common_test.go
  cannon/mipsevm/tests/evm_multithreaded_test.go
  cannon/mipsevm/tests/evm_singlethreaded_test.go
  cannon/mipsevm/tests/fuzz_evm_common_test.go
  cannon/mipsevm/tests/fuzz_evm_multithreaded_test.go
  cannon/mipsevm/tests/fuzz_evm_singlethreaded_test.go
  packages/contracts-bedrock/src/cannon/MIPS2.sol
  packages/contracts-bedrock/src/cannon/libraries/MIPSSyscalls.sol
Owners: @ethereum-optimism/proofs, @ethereum-optimism/go-reviewers, @ethereum-optimism/contract-reviewers

BlockRef
  op-supervisor/supervisor/backend/backend.go
  op-supervisor/supervisor/backend/mock.go
  op-supervisor/supervisor/frontend/frontend.go
Owners: @ethereum-optimism/interop, @ethereum-optimism/go-reviewers

Wire in APIs for new input flow
  op-service/sources/supervisor_client.go
  op-supervisor/supervisor/backend/backend.go
  op-supervisor/supervisor/backend/db/db.go
  op-supervisor/supervisor/backend/mock.go
  op-supervisor/supervisor/frontend/frontend.go
  op-supervisor/supervisor/service.go
Owners: @ethereum-optimism/go-reviewers, @ethereum-optimism/interop

Better logging for Iterator State Needs
  op-e2e/interop/interop_test.go
  op-supervisor/supervisor/backend/db/entrydb/entry_db.go
  op-supervisor/supervisor/backend/db/logs/state.go
  op-supervisor/supervisor/backend/safety/safety.go
Owners: @ethereum-optimism/op-stack, @ethereum-optimism/go-reviewers, @ethereum-optimism/interop

Remove Chain Monitor ; Trigger Chain Processor on Local Unsafe Update
  op-supervisor/supervisor/backend/backend.go
  op-supervisor/supervisor/backend/source/chain.go
  op-supervisor/supervisor/backend/source/log_processor.go
  op-supervisor/supervisor/backend/source/log_processor_test.go
  op-supervisor/supervisor/service_test.go
Owners: @ethereum-optimism/interop, @ethereum-optimism/go-reviewers

op-deployer: Custom gas price estimator (#12239)
  op-chain-ops/deployer/broadcaster/gas_estimator.go
  op-chain-ops/deployer/broadcaster/keyed.go
  op-chain-ops/deployer/integration_test/apply_test.go
  op-service/txmgr/cli.go
  op-service/txmgr/estimator.go
  op-service/txmgr/txmgr.go
  op-service/txmgr/txmgr_test.go
Owners: @ethereum-optimism/op-stack, @ethereum-optimism/go-reviewers

BlockRef
  op-supervisor/supervisor/backend/backend.go
  op-supervisor/supervisor/backend/db/db.go
  op-supervisor/supervisor/backend/mock.go
Owners: @ethereum-optimism/interop, @ethereum-optimism/go-reviewers

op-deployer: Test for existing OPCM
  .circleci/config.yml
  op-chain-ops/deployer/integration_test/apply_test.go
  op-chain-ops/deployer/opcm/standard.go
  op-service/testutils/anvil/anvil.go
Owners: @ethereum-optimism/monorepo-ops-reviewers, @ethereum-optimism/op-stack, @ethereum-optimism/go-reviewers

goimports
  op-chain-ops/deployer/integration_test/apply_test.go
  op-chain-ops/deployer/opcm/standard.go
  op-service/testutils/anvil/anvil.go
Owners: @ethereum-optimism/op-stack, @ethereum-optimism/go-reviewers

update semver-lock
  packages/contracts-bedrock/semver-lock.json
  packages/contracts-bedrock/src/cannon/MIPS.sol
  packages/contracts-bedrock/src/cannon/MIPS2.sol
Owners: @ethereum-optimism/contract-reviewers

ensure streams close
  op-service/testutils/anvil/anvil.go
Owners: @ethereum-optimism/go-reviewers

lint
  op-chain-ops/deployer/integration_test/apply_test.go
Owners: @ethereum-optimism/op-stack, @ethereum-optimism/go-reviewers

.github/CODEOWNERS:

# Monorepo - default to go-reviewers
* @ethereum-optimism/go-reviewers

# OP Stack general
/bedrock-devnet @ethereum-optimism/op-stack @ethereum-optimism/go-reviewers
/op-alt-da      @ethereum-optimism/op-stack @ethereum-optimism/go-reviewers
/op-batcher     @ethereum-optimism/op-stack @ethereum-optimism/go-reviewers
/op-chain-ops   @ethereum-optimism/op-stack @ethereum-optimism/go-reviewers
/op-e2e         @ethereum-optimism/op-stack @ethereum-optimism/go-reviewers
/op-node        @ethereum-optimism/op-stack @ethereum-optimism/go-reviewers
/op-proposer    @ethereum-optimism/op-stack @ethereum-optimism/go-reviewers
/op-wheel       @ethereum-optimism/op-stack @ethereum-optimism/go-reviewers
/ops-bedrock    @ethereum-optimism/op-stack @ethereum-optimism/go-reviewers

# Expert areas
/op-node/rollup @ethereum-optimism/consensus @ethereum-optimism/go-reviewers

/op-supervisor  @ethereum-optimism/interop @ethereum-optimism/go-reviewers

/op-conductor   @ethereum-optimism/op-conductor @ethereum-optimism/go-reviewers

/cannon                @ethereum-optimism/proofs @ethereum-optimism/go-reviewers
/op-challenger         @ethereum-optimism/proofs @ethereum-optimism/go-reviewers
/op-dispute-mon        @ethereum-optimism/proofs @ethereum-optimism/go-reviewers
/op-preimage           @ethereum-optimism/proofs @ethereum-optimism/go-reviewers
/op-program            @ethereum-optimism/proofs @ethereum-optimism/go-reviewers
/op-e2e/actions/proofs @ethereum-optimism/proofs @ethereum-optimism/go-reviewers
/op-e2e/faultproofs    @ethereum-optimism/proofs @ethereum-optimism/go-reviewers

# Ops
/.circleci       @ethereum-optimism/monorepo-ops-reviewers
/.github         @ethereum-optimism/monorepo-ops-reviewers
/ops             @ethereum-optimism/monorepo-ops-reviewers
/docker-bake.hcl @ethereum-optimism/monorepo-ops-reviewers

# Contracts
/packages/contracts-bedrock     @ethereum-optimism/contract-reviewers
