Repository ethereum-optimism/optimism, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ethereum-optimism/go-reviewers, @ethereum-optimism/op-stack, @ethereum-optimism/consensus, @ethereum-optimism/interop, @ethereum-optimism/op-conductor, @ethereum-optimism/proofs, @ethereum-optimism/monorepo-ops-reviewers, @ethereum-optimism/contract-reviewers

op-program: Switch fpp-verify back to running in separate process. (#12201)
  .circleci/config.yml
  op-program/verify/verify.go
Owners: @ethereum-optimism/monorepo-ops-reviewers, @ethereum-optimism/proofs, @ethereum-optimism/go-reviewers

Update semver again.
  packages/contracts-bedrock/semver-lock.json
Owners: @ethereum-optimism/contract-reviewers

revert changes to errors.As/Is
  op-batcher/batcher/channel_manager.go
  op-batcher/batcher/channel_manager_test.go
Owners: @ethereum-optimism/op-stack, @ethereum-optimism/go-reviewers

implement and use Peek operation
  op-batcher/batcher/channel_manager.go
  op-service/queue/queue.go
Owners: @ethereum-optimism/op-stack, @ethereum-optimism/go-reviewers

queue: add unit tests
  op-service/queue/queue_test.go
Owners: @ethereum-optimism/go-reviewers

add godoc
  op-service/queue/queue.go
Owners: @ethereum-optimism/go-reviewers

add more test cases
  op-service/queue/queue_test.go
Owners: @ethereum-optimism/go-reviewers

ensure enqueue and prepend are noops when args is empty
  op-service/queue/queue.go
Owners: @ethereum-optimism/go-reviewers

test: Transfer to finalSystemOwner rather than SystemOwnerSafe
  op-e2e/system/gastoken/gastoken_test.go
  packages/contracts-bedrock/scripts/deploy/Deploy.s.sol
  packages/contracts-bedrock/scripts/deploy/DeployOwnership.s.sol
  packages/contracts-bedrock/scripts/fpac/FPACOPS.s.sol
  packages/contracts-bedrock/scripts/fpac/FPACOPS2.s.sol
  packages/contracts-bedrock/scripts/fpac/Makefile
  packages/contracts-bedrock/scripts/fpac/README.md
  packages/contracts-bedrock/test/dispute/DelayedWETH.t.sol
  packages/contracts-bedrock/test/dispute/DisputeGameFactory.t.sol
Owners: @ethereum-optimism/op-stack, @ethereum-optimism/go-reviewers, @ethereum-optimism/contract-reviewers

feat: Fix comment references to ProxyAdmin
  packages/contracts-bedrock/scripts/deploy/Deploy.s.sol
Owners: @ethereum-optimism/contract-reviewers

test: Transfer to finalSystemOwner rather than SystemOwnerSafe (#12116)
  op-e2e/system/gastoken/gastoken_test.go
  packages/contracts-bedrock/scripts/deploy/Deploy.s.sol
  packages/contracts-bedrock/scripts/deploy/DeployOwnership.s.sol
  packages/contracts-bedrock/scripts/fpac/FPACOPS.s.sol
  packages/contracts-bedrock/scripts/fpac/FPACOPS2.s.sol
  packages/contracts-bedrock/scripts/fpac/Makefile
  packages/contracts-bedrock/scripts/fpac/README.md
  packages/contracts-bedrock/test/dispute/DelayedWETH.t.sol
  packages/contracts-bedrock/test/dispute/DisputeGameFactory.t.sol
Owners: @ethereum-optimism/op-stack, @ethereum-optimism/go-reviewers, @ethereum-optimism/contract-reviewers

catch panic in step
  cannon/cmd/run.go
Owners: @ethereum-optimism/proofs, @ethereum-optimism/go-reviewers

test(deploy): Deploy a distinct ProxyAdmin for Superchain contracts
  packages/contracts-bedrock/scripts/deploy/Deploy.s.sol
Owners: @ethereum-optimism/contract-reviewers

fix: lint
  packages/contracts-bedrock/scripts/deploy/Deploy.s.sol
  packages/contracts-bedrock/scripts/deploy/DeployOwnership.s.sol
Owners: @ethereum-optimism/contract-reviewers

fix: only set address manager for OP Chain's ProxyAdmin
  packages/contracts-bedrock/scripts/deploy/Deploy.s.sol
Owners: @ethereum-optimism/contract-reviewers

fix: move setupOpChainAdmin() before setupOpAltDA
  packages/contracts-bedrock/scripts/deploy/Deploy.s.sol
Owners: @ethereum-optimism/contract-reviewers

test: fix create2 collision between ProxyAdmins
  packages/contracts-bedrock/scripts/deploy/Deploy.s.sol
Owners: @ethereum-optimism/contract-reviewers

fix: typo
  packages/contracts-bedrock/scripts/deploy/Deploy.s.sol
Owners: @ethereum-optimism/contract-reviewers

fix(ct): kontrol summary bug (#12193)
  packages/contracts-bedrock/test/kontrol/scripts/make-summary-deployment.sh
Owners: @ethereum-optimism/contract-reviewers

feat: use create2AndSave for ProxyAdmin
  packages/contracts-bedrock/scripts/deploy/Deploy.s.sol
Owners: @ethereum-optimism/contract-reviewers

fix: Do not double save the superchain ProxyAdmin
  packages/contracts-bedrock/scripts/deploy/Deploy.s.sol
Owners: @ethereum-optimism/contract-reviewers

fix: remove immutables from superchain erc20 beacon (#67)
  packages/contracts-bedrock/scripts/L2Genesis.s.sol
  packages/contracts-bedrock/semver-lock.json
  packages/contracts-bedrock/snapshots/abi/OptimismSuperchainERC20Beacon.json
  packages/contracts-bedrock/src/L2/OptimismSuperchainERC20Beacon.sol
  packages/contracts-bedrock/test/L2/OptimismSuperchainERC20Beacon.t.sol
  packages/contracts-bedrock/test/Predeploys.t.sol
Owners: @ethereum-optimism/contract-reviewers

fix(ct): give kontrol access to full src
  packages/contracts-bedrock/foundry.toml
Owners: @ethereum-optimism/contract-reviewers

Delete interface directory
  packages/contracts-bedrock/test/kontrol/README.md
Owners: @ethereum-optimism/contract-reviewers

fix(ct): give kontrol access to full src (#12181)
  packages/contracts-bedrock/foundry.toml
Owners: @ethereum-optimism/contract-reviewers

cannon: Support F_GETFD cmd to fcntl (#12050)
  .circleci/config.yml
  Makefile
  cannon/.gitignore
  cannon/Makefile
  cannon/cmd/load_elf.go
  cannon/cmd/run.go
  cannon/mipsevm/exec/mips_syscalls.go
  cannon/mipsevm/multithreaded/state.go
  cannon/mipsevm/singlethreaded/state.go
  cannon/mipsevm/tests/fuzz_evm_common_test.go
  cannon/mipsevm/versions/detect.go
  cannon/mipsevm/versions/detect_test.go
  cannon/mipsevm/versions/state.go
  cannon/mipsevm/versions/state_test.go
  cannon/mipsevm/versions/testdata/states/0.bin.gz
  cannon/mipsevm/versions/testdata/states/0.json
  cannon/mipsevm/versions/testdata/states/1.bin.gz
  cannon/mipsevm/versions/testdata/states/2.bin.gz
  cannon/multicannon/exec.go
  op-challenger/README.md
  op-e2e/e2eutils/challenger/helper.go
  op-program/Dockerfile.repro
  op-program/README.md
  op-program/scripts/build-prestates.sh
  ops-bedrock/docker-compose.yml
  ops/docker/op-stack-go/Dockerfile
  packages/contracts-bedrock/semver-lock.json
  packages/contracts-bedrock/src/cannon/MIPS.sol
  packages/contracts-bedrock/src/cannon/MIPS2.sol
  packages/contracts-bedrock/src/cannon/libraries/MIPSSyscalls.sol
  packages/contracts-bedrock/test/cannon/MIPS.t.sol
Owners: @ethereum-optimism/monorepo-ops-reviewers, @ethereum-optimism/go-reviewers, @ethereum-optimism/proofs, @ethereum-optimism/op-stack, @ethereum-optimism/contract-reviewers

supervisor: Fix nil check
  op-supervisor/supervisor/backend/safety/views.go
Owners: @ethereum-optimism/interop, @ethereum-optimism/go-reviewers

use warp runner for release action (flashbots/rollup-boost)
  .github/workflows/release.yml
Owners: @ethereum-optimism/monorepo-ops-reviewers

tag-tool: Add --prerelease option
  ops/tag-service/tag-tool.py
Owners: @ethereum-optimism/monorepo-ops-reviewers

ci: Cannon v2 STF verify
  .circleci/config.yml
  cannon/Dockerfile.diff
Owners: @ethereum-optimism/monorepo-ops-reviewers, @ethereum-optimism/proofs, @ethereum-optimism/go-reviewers

test: Ensure all foundry tests are organized into subdirs (#12111)
  packages/contracts-bedrock/test/L2/L2Genesis.t.sol
  packages/contracts-bedrock/test/L2/Predeploys.t.sol
  packages/contracts-bedrock/test/L2/Preinstalls.t.sol
  packages/contracts-bedrock/test/universal/BenchmarkTest.t.sol
  packages/contracts-bedrock/test/universal/ExtendedPause.t.sol
  packages/contracts-bedrock/test/universal/Specs.t.sol
Owners: @ethereum-optimism/contract-reviewers

Delete interface directory (#12208)
  packages/contracts-bedrock/test/kontrol/README.md
Owners: @ethereum-optimism/contract-reviewers

contracts-bedrock: bump forge-std (#12149)
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/scripts/ops/FeeVaultWithdrawal.s.sol
Owners: @ethereum-optimism/contract-reviewers

ci: remove op-e2e-cannon-tests dep
  .circleci/config.yml
Owners: @ethereum-optimism/monorepo-ops-reviewers

tag-tool: Add --prerelease option (#12210)
  ops/tag-service/tag-tool.py
Owners: @ethereum-optimism/monorepo-ops-reviewers

Fix whitespace
  packages/contracts-bedrock/scripts/deploy/DeployOwnership.s.sol
Owners: @ethereum-optimism/contract-reviewers

ci: Cannon v2 STF verify (#12211)
  .circleci/config.yml
  cannon/Dockerfile.diff
Owners: @ethereum-optimism/monorepo-ops-reviewers, @ethereum-optimism/proofs, @ethereum-optimism/go-reviewers

test(deploy): Deploy a distinct ProxyAdmin for Superchain contracts (#12130)
  packages/contracts-bedrock/scripts/deploy/Deploy.s.sol
  packages/contracts-bedrock/scripts/deploy/DeployOwnership.s.sol
Owners: @ethereum-optimism/contract-reviewers

cannon: Update cannon go test program versions
  cannon/testdata/example/alloc/go.mod
  cannon/testdata/example/claim/go.mod
  cannon/testdata/example/entry/go.mod
  cannon/testdata/example/hello/go.mod
  cannon/testdata/example/multithreaded/go.mod
Owners: @ethereum-optimism/proofs, @ethereum-optimism/go-reviewers

cannon: Allow more steps for multithreaded program
  cannon/mipsevm/multithreaded/instrumented_test.go
Owners: @ethereum-optimism/proofs, @ethereum-optimism/go-reviewers

.github/CODEOWNERS:

# Monorepo - default to go-reviewers
* @ethereum-optimism/go-reviewers

# OP Stack general
/bedrock-devnet @ethereum-optimism/op-stack @ethereum-optimism/go-reviewers
/op-alt-da      @ethereum-optimism/op-stack @ethereum-optimism/go-reviewers
/op-batcher     @ethereum-optimism/op-stack @ethereum-optimism/go-reviewers
/op-chain-ops   @ethereum-optimism/op-stack @ethereum-optimism/go-reviewers
/op-e2e         @ethereum-optimism/op-stack @ethereum-optimism/go-reviewers
/op-node        @ethereum-optimism/op-stack @ethereum-optimism/go-reviewers
/op-proposer    @ethereum-optimism/op-stack @ethereum-optimism/go-reviewers
/op-wheel       @ethereum-optimism/op-stack @ethereum-optimism/go-reviewers
/ops-bedrock    @ethereum-optimism/op-stack @ethereum-optimism/go-reviewers

# Expert areas
/op-node/rollup @ethereum-optimism/consensus @ethereum-optimism/go-reviewers

/op-supervisor  @ethereum-optimism/interop @ethereum-optimism/go-reviewers

/op-conductor   @ethereum-optimism/op-conductor @ethereum-optimism/go-reviewers

/cannon                @ethereum-optimism/proofs @ethereum-optimism/go-reviewers
/op-challenger         @ethereum-optimism/proofs @ethereum-optimism/go-reviewers
/op-dispute-mon        @ethereum-optimism/proofs @ethereum-optimism/go-reviewers
/op-preimage           @ethereum-optimism/proofs @ethereum-optimism/go-reviewers
/op-program            @ethereum-optimism/proofs @ethereum-optimism/go-reviewers
/op-e2e/actions/proofs @ethereum-optimism/proofs @ethereum-optimism/go-reviewers
/op-e2e/faultproofs    @ethereum-optimism/proofs @ethereum-optimism/go-reviewers

# Ops
/.circleci       @ethereum-optimism/monorepo-ops-reviewers
/.github         @ethereum-optimism/monorepo-ops-reviewers
/ops             @ethereum-optimism/monorepo-ops-reviewers
/docker-bake.hcl @ethereum-optimism/monorepo-ops-reviewers

# Contracts
/packages/contracts-bedrock     @ethereum-optimism/contract-reviewers
