Repository ethereum-optimism/optimism, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ethereum-optimism/go-reviewers, @ethereum-optimism/op-stack, @ethereum-optimism/consensus, @ethereum-optimism/interop, @ethereum-optimism/op-conductor, @ethereum-optimism/proofs, @ethereum-optimism/monorepo-ops-reviewers, @ethereum-optimism/contract-reviewers

use ticker instead of time.After
  op-supervisor/supervisor/backend/source/chain_processor.go
Owners: @ethereum-optimism/interop, @ethereum-optimism/go-reviewers

test: move OPCM tests to own dir
  packages/contracts-bedrock/test/L1/OPContractsManager.t.sol
  packages/contracts-bedrock/test/opcm/DeployAuthSystem.t.sol
  packages/contracts-bedrock/test/opcm/DeployImplementations.t.sol
  packages/contracts-bedrock/test/opcm/DeployOPChain.t.sol
  packages/contracts-bedrock/test/opcm/DeploySuperchain.t.sol
Owners: @ethereum-optimism/contract-reviewers

fix merkle root bug
  cannon/mipsevm/memory/memory.go
Owners: @ethereum-optimism/proofs, @ethereum-optimism/go-reviewers

test: move OPCM tests to own dir (#12110)
  packages/contracts-bedrock/test/L1/OPContractsManager.t.sol
  packages/contracts-bedrock/test/opcm/DeployAuthSystem.t.sol
  packages/contracts-bedrock/test/opcm/DeployImplementations.t.sol
  packages/contracts-bedrock/test/opcm/DeployOPChain.t.sol
  packages/contracts-bedrock/test/opcm/DeploySuperchain.t.sol
Owners: @ethereum-optimism/contract-reviewers

update snapshot
  packages/contracts-bedrock/snapshots/abi/L2ToL2CrossDomainMessenger.json
Owners: @ethereum-optimism/contract-reviewers

use deterministic seed for test data (#12129)
  op-batcher/batcher/channel_manager_test.go
Owners: @ethereum-optimism/op-stack, @ethereum-optimism/go-reviewers

op-supervisor: head pointers, refactor block processor (#12031)
  op-supervisor/supervisor/backend/backend.go
  op-supervisor/supervisor/backend/db/db.go
  op-supervisor/supervisor/backend/db/db_test.go
  op-supervisor/supervisor/backend/db/heads/heads.go
  op-supervisor/supervisor/backend/db/heads/heads_test.go
  op-supervisor/supervisor/backend/db/heads/types.go
  op-supervisor/supervisor/backend/db/heads/types_test.go
  op-supervisor/supervisor/backend/db/logs/db.go
  op-supervisor/supervisor/backend/db/safety_checkers.go
  op-supervisor/supervisor/backend/db/safety_checkers_test.go
  op-supervisor/supervisor/backend/source/chain.go
  op-supervisor/supervisor/backend/source/chain_processor.go
  op-supervisor/supervisor/backend/source/chain_processor_test.go
  op-supervisor/supervisor/backend/source/fetch_logs.go
  op-supervisor/supervisor/backend/source/fetch_logs_test.go
  op-supervisor/supervisor/backend/source/head_processor.go
  op-supervisor/supervisor/backend/source/head_processor_test.go
  op-supervisor/supervisor/types/types.go
Owners: @ethereum-optimism/interop, @ethereum-optimism/go-reviewers

update semver devdoc
  packages/contracts-bedrock/src/L2/L2ToL2CrossDomainMessenger.sol
Owners: @ethereum-optimism/contract-reviewers

feat(op-deployer): add `genesis` support for apply pipeline
  op-chain-ops/deployer/apply.go
  op-chain-ops/deployer/broadcaster/broadcaster.go
  op-chain-ops/deployer/broadcaster/discard.go
  op-chain-ops/deployer/broadcaster/keyed.go
  op-chain-ops/deployer/integration_test/apply_test.go
  op-chain-ops/deployer/pipeline/env.go
  op-chain-ops/deployer/pipeline/host.go
  op-chain-ops/deployer/pipeline/implementations.go
  op-chain-ops/deployer/pipeline/init.go
  op-chain-ops/deployer/pipeline/l2genesis.go
  op-chain-ops/deployer/pipeline/opchain.go
  op-chain-ops/deployer/pipeline/superchain.go
Owners: @ethereum-optimism/op-stack, @ethereum-optimism/go-reviewers

chore: update contracts versions (#66)
  packages/contracts-bedrock/semver-lock.json
  packages/contracts-bedrock/src/L1/OptimismPortalInterop.sol
  packages/contracts-bedrock/src/L1/SystemConfigInterop.sol
  packages/contracts-bedrock/src/L2/CrossL2Inbox.sol
Owners: @ethereum-optimism/contract-reviewers

update semver-lock
  packages/contracts-bedrock/semver-lock.json
Owners: @ethereum-optimism/contract-reviewers

remove check-changed for now
  .circleci/config.yml
Owners: @ethereum-optimism/monorepo-ops-reviewers

add custom runner
  .circleci/config.yml
Owners: @ethereum-optimism/monorepo-ops-reviewers

no need to reinstall now
  .circleci/config.yml
Owners: @ethereum-optimism/monorepo-ops-reviewers

no sudo
  .circleci/config.yml
Owners: @ethereum-optimism/monorepo-ops-reviewers

lint using machine
  .circleci/config.yml
Owners: @ethereum-optimism/monorepo-ops-reviewers

bump token versions
  packages/contracts-bedrock/src/L2/OptimismSuperchainERC20.sol
  packages/contracts-bedrock/src/L2/SuperchainWETH.sol
Owners: @ethereum-optimism/contract-reviewers

remove cache from devnet
  .circleci/config.yml
Owners: @ethereum-optimism/monorepo-ops-reviewers

bump semver lock
  packages/contracts-bedrock/semver-lock.json
Owners: @ethereum-optimism/contract-reviewers

Update README.md (#12125)
  op-preimage/README.md
Owners: @ethereum-optimism/proofs, @ethereum-optimism/go-reviewers

run go tests on the runner
  .circleci/config.yml
Owners: @ethereum-optimism/monorepo-ops-reviewers

run docker builds on the runner
  .circleci/config.yml
Owners: @ethereum-optimism/monorepo-ops-reviewers

passing all 32-bit tests
  cannon/mipsevm/multithreaded/state.go
  cannon/mipsevm/multithreaded/state_test.go
  cannon/mipsevm/multithreaded/thread.go
  cannon/mipsevm/tests/evm_multithreaded_test.go
Owners: @ethereum-optimism/proofs, @ethereum-optimism/go-reviewers

ci: Add finalized v1.3.1 to list of reproducible prestate checks
  .circleci/config.yml
Owners: @ethereum-optimism/monorepo-ops-reviewers

use DeployUtils lib for deployments in deploy script (#12070)
  packages/contracts-bedrock/scripts/checks/check-interfaces.sh
  packages/contracts-bedrock/scripts/deploy/Deploy.s.sol
  packages/contracts-bedrock/scripts/fpac/FPACOPS2.s.sol
  packages/contracts-bedrock/scripts/libraries/DeployUtils.sol
  packages/contracts-bedrock/src/L1/interfaces/IL1CrossDomainMessenger.sol
  packages/contracts-bedrock/src/L1/interfaces/IL1ERC721Bridge.sol
  packages/contracts-bedrock/src/L1/interfaces/IL1StandardBridge.sol
  packages/contracts-bedrock/src/L1/interfaces/IOptimismPortal.sol
  packages/contracts-bedrock/src/L1/interfaces/IResourceMetering.sol
  packages/contracts-bedrock/src/L1/interfaces/ISystemConfigInterop.sol
  packages/contracts-bedrock/src/L2/interfaces/IBaseFeeVault.sol
  packages/contracts-bedrock/src/L2/interfaces/IETHLiquidity.sol
  packages/contracts-bedrock/src/L2/interfaces/IGasPriceOracle.sol
  packages/contracts-bedrock/src/L2/interfaces/IL1Block.sol
  packages/contracts-bedrock/src/L2/interfaces/IL1BlockIsthmus.sol
  packages/contracts-bedrock/src/L2/interfaces/IL1FeeVault.sol
  packages/contracts-bedrock/src/L2/interfaces/IL2StandardBridgeInterop.sol
  packages/contracts-bedrock/src/L2/interfaces/IL2ToL1MessagePasser.sol
  packages/contracts-bedrock/src/L2/interfaces/ISequencerFeeVault.sol
  packages/contracts-bedrock/src/L2/interfaces/ISuperchainERC20.sol
  packages/contracts-bedrock/src/L2/interfaces/ISuperchainWETH.sol
  packages/contracts-bedrock/src/dispute/interfaces/IDelayedWETH.sol
  packages/contracts-bedrock/src/legacy/interfaces/IAddressManager.sol
  packages/contracts-bedrock/src/legacy/interfaces/IDeployerWhitelist.sol
  packages/contracts-bedrock/src/legacy/interfaces/IL1BlockNumber.sol
  packages/contracts-bedrock/src/legacy/interfaces/ILegacyMessagePasser.sol
  packages/contracts-bedrock/src/universal/interfaces/ICrossDomainMessenger.sol
  packages/contracts-bedrock/src/universal/interfaces/IERC721Bridge.sol
  packages/contracts-bedrock/src/universal/interfaces/IFeeVault.sol
  packages/contracts-bedrock/src/universal/interfaces/IOwnable.sol
  packages/contracts-bedrock/src/universal/interfaces/IStandardBridge.sol
Owners: @ethereum-optimism/contract-reviewers

ci: Add finalized v1.3.1 to list of reproducible prestate checks (#12138)
  .circleci/config.yml
Owners: @ethereum-optimism/monorepo-ops-reviewers

fix semver and update output
  packages/contracts-bedrock/semver-lock.json
  packages/contracts-bedrock/snapshots/abi/L2ToL2CrossDomainMessenger.json
  packages/contracts-bedrock/src/L2/L2ToL2CrossDomainMessenger.sol
  packages/contracts-bedrock/src/L2/interfaces/IL2ToL2CrossDomainMessenger.sol
Owners: @ethereum-optimism/contract-reviewers

update semver-lock
  packages/contracts-bedrock/semver-lock.json
Owners: @ethereum-optimism/contract-reviewers

Make honestActorConfig public so that it can be used in asterisc e2e tests
  op-e2e/e2eutils/disputegame/output_cannon_helper.go
Owners: @ethereum-optimism/op-stack, @ethereum-optimism/go-reviewers

bump versions:
  packages/contracts-bedrock/src/L2/L2ToL2CrossDomainMessenger.sol
  packages/contracts-bedrock/src/L2/OptimismSuperchainERC20.sol
Owners: @ethereum-optimism/contract-reviewers

update semver-lock
  packages/contracts-bedrock/semver-lock.json
Owners: @ethereum-optimism/contract-reviewers

op-challenger: Skip prestate verifications for the permissioned game.
  op-challenger/game/fault/register_task.go
  op-e2e/e2eutils/challenger/helper.go
  op-e2e/e2eutils/disputegame/helper.go
  op-e2e/faultproofs/permissioned_test.go
Owners: @ethereum-optimism/proofs, @ethereum-optimism/go-reviewers, @ethereum-optimism/op-stack

feat(L2toL2CrossDomainMessenger): update `sendMessage` to return relay message hash (#12089)
  packages/contracts-bedrock/semver-lock.json
  packages/contracts-bedrock/snapshots/abi/L2ToL2CrossDomainMessenger.json
  packages/contracts-bedrock/src/L2/L2ToL2CrossDomainMessenger.sol
  packages/contracts-bedrock/src/L2/OptimismSuperchainERC20.sol
  packages/contracts-bedrock/src/L2/SuperchainWETH.sol
  packages/contracts-bedrock/src/L2/interfaces/IL2ToL2CrossDomainMessenger.sol
  packages/contracts-bedrock/src/libraries/Hashing.sol
  packages/contracts-bedrock/test/L2/L2ToL2CrossDomainMessenger.t.sol
Owners: @ethereum-optimism/contract-reviewers

Make honestActorConfig public so that it can be used in asterisc e2e tests (#12108)
  op-e2e/e2eutils/disputegame/output_cannon_helper.go
Owners: @ethereum-optimism/op-stack, @ethereum-optimism/go-reviewers

multicannon: Display custom --help for missing flags
  cannon/multicannon/load_elf.go
  cannon/multicannon/run.go
  cannon/multicannon/witness.go
Owners: @ethereum-optimism/proofs, @ethereum-optimism/go-reviewers

remove comment
  cannon/multicannon/run.go
Owners: @ethereum-optimism/proofs, @ethereum-optimism/go-reviewers

op-challenger: Skip prestate verifications for the permissioned game. (#12140)
  op-challenger/game/fault/register_task.go
  op-e2e/e2eutils/challenger/helper.go
  op-e2e/e2eutils/disputegame/helper.go
  op-e2e/faultproofs/permissioned_test.go
Owners: @ethereum-optimism/proofs, @ethereum-optimism/go-reviewers, @ethereum-optimism/op-stack

cannon: update phony makefile targets
  cannon/Makefile
Owners: @ethereum-optimism/proofs, @ethereum-optimism/go-reviewers

cannon: Fix custom --help for multicannon subcommands (#12112)
  cannon/multicannon/load_elf.go
  cannon/multicannon/run.go
  cannon/multicannon/witness.go
Owners: @ethereum-optimism/proofs, @ethereum-optimism/go-reviewers

cannon: update phony makefile targets (#12109)
  cannon/Makefile
Owners: @ethereum-optimism/proofs, @ethereum-optimism/go-reviewers

.github/CODEOWNERS:

# Monorepo - default to go-reviewers
* @ethereum-optimism/go-reviewers

# OP Stack general
/bedrock-devnet @ethereum-optimism/op-stack @ethereum-optimism/go-reviewers
/op-alt-da      @ethereum-optimism/op-stack @ethereum-optimism/go-reviewers
/op-batcher     @ethereum-optimism/op-stack @ethereum-optimism/go-reviewers
/op-chain-ops   @ethereum-optimism/op-stack @ethereum-optimism/go-reviewers
/op-e2e         @ethereum-optimism/op-stack @ethereum-optimism/go-reviewers
/op-node        @ethereum-optimism/op-stack @ethereum-optimism/go-reviewers
/op-proposer    @ethereum-optimism/op-stack @ethereum-optimism/go-reviewers
/op-wheel       @ethereum-optimism/op-stack @ethereum-optimism/go-reviewers
/ops-bedrock    @ethereum-optimism/op-stack @ethereum-optimism/go-reviewers

# Expert areas
/op-node/rollup @ethereum-optimism/consensus @ethereum-optimism/go-reviewers

/op-supervisor  @ethereum-optimism/interop @ethereum-optimism/go-reviewers

/op-conductor   @ethereum-optimism/op-conductor @ethereum-optimism/go-reviewers

/cannon                @ethereum-optimism/proofs @ethereum-optimism/go-reviewers
/op-challenger         @ethereum-optimism/proofs @ethereum-optimism/go-reviewers
/op-dispute-mon        @ethereum-optimism/proofs @ethereum-optimism/go-reviewers
/op-preimage           @ethereum-optimism/proofs @ethereum-optimism/go-reviewers
/op-program            @ethereum-optimism/proofs @ethereum-optimism/go-reviewers
/op-e2e/actions/proofs @ethereum-optimism/proofs @ethereum-optimism/go-reviewers
/op-e2e/faultproofs    @ethereum-optimism/proofs @ethereum-optimism/go-reviewers

# Ops
/.circleci       @ethereum-optimism/monorepo-ops-reviewers
/.github         @ethereum-optimism/monorepo-ops-reviewers
/ops             @ethereum-optimism/monorepo-ops-reviewers
/docker-bake.hcl @ethereum-optimism/monorepo-ops-reviewers

# Contracts
/packages/contracts-bedrock     @ethereum-optimism/contract-reviewers
