Repository ethereum-optimism/optimism, pull requests merged in 2021-08, with the labels that each got.

#1302 feat: migrate and refactor replica-healthcheck from op-replica
  .changeset/thick-peaches-learn.md
  .github/CODEOWNERS
  README.md
  ops/docker/Dockerfile.monorepo
  packages/replica-healthcheck/.env.example
  packages/replica-healthcheck/.eslintrc.js
  packages/replica-healthcheck/.gitignore
  packages/replica-healthcheck/.lintstagedrc.yml
  packages/replica-healthcheck/.prettierrc.js
  packages/replica-healthcheck/LICENSE
  packages/replica-healthcheck/README.md
  packages/replica-healthcheck/package.json
  packages/replica-healthcheck/src/exec/run-healthcheck-server.ts
  packages/replica-healthcheck/src/healthcheck-server.ts
  packages/replica-healthcheck/src/helpers.ts
  packages/replica-healthcheck/src/index.ts
  packages/replica-healthcheck/test/healthcheck-server.spec.ts
  packages/replica-healthcheck/tsconfig.build.json
  packages/replica-healthcheck/tsconfig.json
  yarn.lock
Labels: 2-reviewers, A-ci, A-ts-packages, M-ops

#1310 contracts: add hardhat task for whitelisting addresses
  .changeset/popular-carpets-applaud.md
  packages/contracts/hardhat.config.ts
  packages/contracts/tasks/whitelist.ts
Labels: 2-reviewers, A-contracts, M-contracts

#1024 fix: estimate gas when pending tx in mempool
  .changeset/silent-dolphins-hammer.md
  packages/batch-submitter/src/batch-submitter/batch-submitter.ts
  packages/batch-submitter/src/batch-submitter/state-batch-submitter.ts
  packages/batch-submitter/src/batch-submitter/tx-batch-submitter.ts
  packages/batch-submitter/src/exec/run-batch-submitter.ts
  packages/batch-submitter/src/index.ts
  packages/batch-submitter/src/transaction-chain-contract.ts
  packages/batch-submitter/src/utils/index.ts
  packages/batch-submitter/src/utils/tx-submission.ts
  packages/batch-submitter/test/batch-submitter/batch-submitter.spec.ts
  packages/batch-submitter/test/utils/tx-submission.spec.ts
Labels: A-ts-packages, M-batch-submitter, 2-reviewers

#1317 l2geth: update the start script to work with regenesis 0.4.0
  .changeset/flat-squids-raise.md
  l2geth/scripts/start.sh
Labels: A-geth, 2-reviewers

#1316 Add hardhat task for withdrawing ETH fees
  .changeset/rare-experts-cheat.md
  packages/contracts/README.md
  packages/contracts/hardhat.config.ts
  packages/contracts/tasks/set-owner.ts
  packages/contracts/tasks/withdraw-fees.ts
Labels: A-contracts, M-contracts, 2-reviewers

#1321 l2geth: remove layer of indirection with state manager
  .changeset/five-toys-impress.md
  l2geth/core/vm/ovm_state_manager.go
Labels: A-geth, 2-reviewers

#1327 l2geth: small syntax fix in the syncservice
  .changeset/ten-bugs-cheat.md
  l2geth/rollup/sync_service.go
Labels: A-geth, 2-reviewers

#1326 l2geth: small changes to miner codepath
  .changeset/cuddly-sloths-fly.md
  l2geth/miner/worker.go
Labels: A-geth, 2-reviewers

#1323 l2geth: remove unnecessary reflect
  .changeset/fifty-vans-camp.md
  l2geth/core/vm/ovm_state_manager.go
Labels: A-geth, 2-reviewers

#1325 l2geth: remove diffdb
  .changeset/tame-years-float.md
  l2geth/cmd/geth/main.go
  l2geth/cmd/geth/usage.go
  l2geth/cmd/utils/flags.go
  l2geth/core/blockchain.go
  l2geth/core/state/statedb.go
  l2geth/core/vm/interface.go
  l2geth/core/vm/ovm_state_manager.go
  l2geth/core/vm/ovm_state_manager_test.go
  l2geth/diffdb/db.go
  l2geth/diffdb/db_test.go
  l2geth/eth/api_backend.go
  l2geth/eth/backend.go
  l2geth/eth/config.go
  l2geth/internal/ethapi/api.go
  l2geth/internal/ethapi/backend.go
  l2geth/les/api_backend.go
Labels: A-geth, 2-reviewers

#1329 Faster development node (download instead of build)
  ops/docker-compose-nobuild.yml
Labels: M-ops, 2-reviewers

#1336 l2geth: delete pending tasks in miner
  .changeset/shy-ligers-smile.md
  l2geth/miner/worker.go
Labels: A-geth, 2-reviewers

#1337 l2geth: small style fix to the state manager precompile
  .changeset/brave-bananas-bow.md
  l2geth/core/vm/ovm_state_manager.go
Labels: A-geth, 2-reviewers

#1339 Develop -> Master Release PR
  .changeset/brave-bananas-bow.md
  .changeset/cuddly-sloths-fly.md
  .changeset/fifty-vans-camp.md
  .changeset/five-toys-impress.md
  .changeset/flat-squids-raise.md
  .changeset/nervous-donuts-laugh.md
  .changeset/popular-carpets-applaud.md
  .changeset/rare-experts-cheat.md
  .changeset/shy-ligers-smile.md
  .changeset/silent-dolphins-hammer.md
  .changeset/tame-years-float.md
  .changeset/ten-bugs-cheat.md
  .changeset/thick-peaches-learn.md
  .changeset/wet-foxes-collect.md
  l2geth/CHANGELOG.md
  l2geth/package.json
  packages/batch-submitter/CHANGELOG.md
  packages/batch-submitter/package.json
  packages/contracts/CHANGELOG.md
  packages/contracts/package.json
  packages/replica-healthcheck/CHANGELOG.md
  packages/replica-healthcheck/package.json
Labels: A-contracts, A-geth, M-batch-submitter, M-contracts, 2-reviewers

#1320 l2geth: removes the id from the evm
  .changeset/new-elephants-rush.md
  l2geth/core/state_transition.go
  l2geth/core/vm/evm.go
Labels: A-geth, 2-reviewers

#1330 l2geth: allow RPC transactions to go to `address(0)`
  .changeset/gentle-geckos-approve.md
  l2geth/eth/api_backend.go
Labels: A-geth, 2-reviewers

#1335 l2geth: remove dead code in `blockchain.go` and `miner/worker.go`
  .changeset/small-swans-punch.md
  l2geth/core/blockchain.go
  l2geth/eth/api_backend.go
  l2geth/internal/ethapi/backend.go
  l2geth/miner/worker.go
Labels: A-geth, 2-reviewers

#1299 Remove examples from monorepo
  .github/workflows/integration.yml
  CONTRIBUTING.md
  examples/hardhat/LICENSE
  examples/hardhat/README.md
  examples/hardhat/contracts/ERC20.sol
  examples/hardhat/deploy/ERC20.deploy.js
  examples/hardhat/hardhat.config.js
  examples/hardhat/package.json
  examples/hardhat/test/erc20.test.js
  examples/l1-l2-deposit-withdrawal/.gitignore
  examples/l1-l2-deposit-withdrawal/README.md
  examples/l1-l2-deposit-withdrawal/contracts/ERC20.sol
  examples/l1-l2-deposit-withdrawal/contracts/L2DepositedERC20.sol
  examples/l1-l2-deposit-withdrawal/hardhat.config.js
  examples/l1-l2-deposit-withdrawal/package.json
  examples/l1-l2-deposit-withdrawal/test/example.test.js
  examples/truffle/.gitignore
  examples/truffle/LICENSE
  examples/truffle/README.md
  examples/truffle/contracts/ERC20.sol
  examples/truffle/contracts/IERC20.sol
  examples/truffle/migrations/1_deploy_ERC20_contract.js
  examples/truffle/package.json
  examples/truffle/test/erc20.spec.js
  examples/truffle/truffle-config-ovm.js
  examples/truffle/truffle-config.js
  examples/waffle/.gitignore
  examples/waffle/.prettierrc.json
  examples/waffle/LICENSE
  examples/waffle/README.md
  examples/waffle/contracts/ERC20.sol
  examples/waffle/contracts/IERC20.sol
  examples/waffle/package.json
  examples/waffle/test/erc20.spec.js
  examples/waffle/test/getArtifact.js
  examples/waffle/waffle-ovm.json
  examples/waffle/waffle.json
Labels: A-ci, 2-reviewers

#1298 Update L2StandardTokenFactory deployment artefact and script
  packages/contracts/deploy-l2/000-OVM_L2StandardTokenFactory.deploy.ts
  packages/contracts/deployments/optimistic-kovan/OVM_L2StandardTokenFactory.json
Labels: A-contracts, M-contracts, 2-reviewers

#1341 l2geth: rollup client style
  .changeset/selfish-chairs-thank.md
  l2geth/rollup/client.go
Labels: A-geth, 2-reviewers

#1344 feat: make contracts package browser compatible
  .changeset/old-roses-behave.md
  .changeset/tall-ravens-learn.md
  packages/contracts/.gitignore
  packages/contracts/package.json
  packages/contracts/scripts/build.sh
  packages/contracts/scripts/generate-artifacts.js
  packages/contracts/test/contracts/OVM/bridge/assets/OVM_L2StandardTokenFactory.spec.ts
Labels: A-contracts, M-contracts, 2-reviewers

#1343 ci: add replica-healthcheck to image publish workflow
  .changeset/red-peaches-kneel.md
  .github/workflows/publish-canary.yml
  .github/workflows/release.yml
  ops/docker/Dockerfile.replica-healthcheck
  packages/replica-healthcheck/src/healthcheck-server.ts
Labels: A-ci, A-ts-packages, M-ops, 2-reviewers

#1342 l2geth: various fixes to reduce the diff and add docs
  .changeset/fast-seas-train.md
  l2geth/accounts/abi/abi.go
  l2geth/accounts/abi/bind/backends/simulated.go
  l2geth/accounts/keystore/keystore.go
  l2geth/cmd/geth/main.go
  l2geth/cmd/geth/usage.go
  l2geth/cmd/utils/flags.go
  l2geth/consensus/clique/clique.go
  l2geth/consensus/ethash/consensus.go
  l2geth/core/blockchain_test.go
  l2geth/core/chain_makers_test.go
  l2geth/core/genesis.go
  l2geth/core/rawdb/accessors_chain.go
  l2geth/core/rawdb/accessors_indexes.go
  l2geth/core/state/statedb.go
  l2geth/core/state_processor.go
  l2geth/core/state_transition.go
  l2geth/core/types/transaction.go
  l2geth/internal/ethapi/api.go
  l2geth/les/api_backend.go
  l2geth/light/txpool.go
  l2geth/miner/worker_test.go
  l2geth/trie/trie.go
Labels: A-geth, 2-reviewers

#1350 Fix runtime target comment
  packages/contracts/contracts/optimistic-ethereum/OVM/predeploys/OVM_L2ToL1MessagePasser.sol
Labels: A-contracts, M-contracts, 2-reviewers

#1351 refactor: clean up geth diff (experimental)
  .changeset/big-candles-flow.md
  integration-tests/hardhat.config.ts
  integration-tests/package.json
  integration-tests/scripts/build.sh
  integration-tests/test/basic-l1-l2-communication.spec.ts
  integration-tests/test/erc20.spec.ts
  integration-tests/test/fee-payment.spec.ts
  integration-tests/test/native-eth-ovm-calls.spec.ts
  integration-tests/test/native-eth.spec.ts
  integration-tests/test/ovmcontext.spec.ts
  integration-tests/test/predeploys.spec.ts
  integration-tests/test/queue-ingestion.spec.ts
  integration-tests/test/rpc.spec.ts
  integration-tests/test/shared/env.ts
  integration-tests/test/shared/utils.ts
  integration-tests/test/stress-tests.spec.ts
  integration-tests/tsconfig.json
  l2geth/core/state/statedb.go
  l2geth/core/state_processor.go
  l2geth/core/state_transition.go
  l2geth/core/state_transition_ovm.go
  l2geth/core/tx_pool.go
  l2geth/core/vm/errors.go
  l2geth/core/vm/evm.go
  l2geth/core/vm/instructions.go
  l2geth/core/vm/ovm_state_dump.go
  l2geth/core/vm/ovm_state_manager.go
  l2geth/eth/api_tracer.go
  l2geth/internal/ethapi/api.go
Labels: A-geth, A-integration-tests, 2-reviewers

#1355 fix: broken indentation in release.yml
  .github/workflows/release.yml
Labels: A-ci, 2-reviewers

#1356 merge develop into master
  .changeset/fast-seas-train.md
  .github/workflows/release.yml
  l2geth/accounts/abi/abi.go
  l2geth/accounts/abi/bind/backends/simulated.go
  l2geth/accounts/keystore/keystore.go
  l2geth/cmd/geth/main.go
  l2geth/cmd/geth/usage.go
  l2geth/cmd/utils/flags.go
  l2geth/consensus/clique/clique.go
  l2geth/consensus/ethash/consensus.go
  l2geth/core/blockchain_test.go
  l2geth/core/chain_makers_test.go
  l2geth/core/genesis.go
  l2geth/core/rawdb/accessors_chain.go
  l2geth/core/rawdb/accessors_indexes.go
  l2geth/core/state/statedb.go
  l2geth/core/state_processor.go
  l2geth/core/state_transition.go
  l2geth/core/types/transaction.go
  l2geth/internal/ethapi/api.go
  l2geth/les/api_backend.go
  l2geth/light/txpool.go
  l2geth/miner/worker_test.go
  l2geth/trie/trie.go
  packages/contracts/contracts/optimistic-ethereum/OVM/predeploys/OVM_L2ToL1MessagePasser.sol
Labels: A-ci, A-contracts, A-geth, M-contracts, 2-reviewers

#1358 Develop -> Master Release PR
  .changeset/fast-seas-train.md
  .changeset/gentle-geckos-approve.md
  .changeset/new-elephants-rush.md
  .changeset/old-roses-behave.md
  .changeset/red-peaches-kneel.md
  .changeset/selfish-chairs-thank.md
  .changeset/small-swans-punch.md
  .changeset/tall-ravens-learn.md
  l2geth/CHANGELOG.md
  l2geth/package.json
  packages/contracts/CHANGELOG.md
  packages/contracts/package.json
  packages/message-relayer/CHANGELOG.md
  packages/message-relayer/package.json
  packages/replica-healthcheck/CHANGELOG.md
  packages/replica-healthcheck/package.json
Labels: A-contracts, A-geth, M-contracts, 2-reviewers

#1354 batch-submitter,dtl: use ethers.StaticJsonRpcProvider
  .changeset/empty-colts-attack.md
  .changeset/healthy-dragons-worry.md
  packages/batch-submitter/src/batch-submitter/batch-submitter.ts
  packages/batch-submitter/src/batch-submitter/state-batch-submitter.ts
  packages/batch-submitter/src/batch-submitter/tx-batch-submitter.ts
  packages/batch-submitter/src/exec/run-batch-submitter.ts
  packages/data-transport-layer/src/services/l1-ingestion/service.ts
Labels: A-ts-packages, M-batch-submitter, M-dtl, 2-reviewers

#1363 refactor: update OVM_ETH usage
  .changeset/olive-knives-itch.md
  integration-tests/test/fee-payment.spec.ts
  integration-tests/test/native-eth-ovm-calls.spec.ts
  integration-tests/test/native-eth.spec.ts
  integration-tests/test/rpc.spec.ts
  integration-tests/test/shared/env.ts
  integration-tests/test/stress-tests.spec.ts
  l2geth/accounts/abi/bind/bind_test.go
  l2geth/accounts/keystore/keystore.go
  l2geth/consensus/clique/clique.go
  l2geth/core/evm.go
  l2geth/core/genesis.go
  l2geth/core/state/statedb.go
  l2geth/core/state_processor.go
  l2geth/core/state_transition.go
  l2geth/core/tx_pool.go
  l2geth/eth/api_backend.go
  l2geth/eth/backend.go
  l2geth/internal/ethapi/api.go
  l2geth/rollup/dump/constants.go
  l2geth/rollup/rcfg/config.go
Labels: A-geth, A-integration-tests, 2-reviewers

#1368 fix: correctly use contract artifact import
  .changeset/many-pants-appear.md
  packages/contracts/src/contract-defs.ts
Labels: A-contracts, M-contracts, 2-reviewers

#1367 chore: deprecate smock v1
  .github/CODEOWNERS
  .github/labeler.yml
  .vscode/settings.json
  CONTRIBUTING.md
  README.md
  ops/docker/Dockerfile.monorepo
  packages/message-relayer/package.json
  packages/smock/.eslintrc.js
  packages/smock/.github/workflows/lint-build-test.yml
  packages/smock/.github/workflows/version-to-release.yml
  packages/smock/.gitignore
  packages/smock/.lintstagedrc.yml
  packages/smock/.prettierrc.js
  packages/smock/CHANGELOG.md
  packages/smock/LICENSE
  packages/smock/README.md
  packages/smock/hardhat.config.ts
  packages/smock/package.json
  packages/smock/src/common/hardhat-common.ts
  packages/smock/src/common/index.ts
  packages/smock/src/index.ts
  packages/smock/src/smockit/binding.ts
  packages/smock/src/smockit/index.ts
  packages/smock/src/smockit/smockit.ts
  packages/smock/src/smockit/types.ts
  packages/smock/src/smoddit/index.ts
  packages/smock/src/smoddit/smoddit.ts
  packages/smock/src/smoddit/storage.ts
  packages/smock/src/smoddit/types.ts
  packages/smock/src/utils/address-utils.ts
  packages/smock/src/utils/hex-utils.ts
  packages/smock/src/utils/index.ts
  packages/smock/test/contracts/SimpleStorageGetter.sol
  packages/smock/test/contracts/TestHelpers_BasicReturnContract.sol
  packages/smock/test/contracts/TestHelpers_EmptyContract.sol
  packages/smock/test/contracts/TestHelpers_MockCaller.sol
  packages/smock/test/contracts/TestHelpers_SenderAssertions.sol
  packages/smock/test/smockit/call-assertions.spec.ts
  packages/smock/test/smockit/function-manipulation.spec.ts
  packages/smock/test/smockit/sending-from-mocks.spec.ts
  packages/smock/test/smockit/smock-initialization.spec.ts
  packages/smock/test/smoddit/smoddit.spec.ts
  packages/smock/tsconfig.build.json
  packages/smock/tsconfig.json
  yarn.lock
Labels: A-ci, A-ts-packages, M-ops, M-smock, 2-reviewers

#1373 Develop -> Master Release PR
  .changeset/empty-colts-attack.md
  .changeset/healthy-dragons-worry.md
  .changeset/many-pants-appear.md
  .changeset/many-queens-own.md
  l2geth/CHANGELOG.md
  l2geth/package.json
  packages/batch-submitter/CHANGELOG.md
  packages/batch-submitter/package.json
  packages/contracts/CHANGELOG.md
  packages/contracts/package.json
  packages/data-transport-layer/CHANGELOG.md
  packages/data-transport-layer/package.json
  packages/message-relayer/CHANGELOG.md
  packages/message-relayer/package.json
Labels: A-contracts, A-geth, M-batch-submitter, M-dtl, M-contracts, 2-reviewers

#1364 deps: bump to later ethers version (eip1559)
  .changeset/hot-dryers-joke.md
  integration-tests/package.json
  integration-tests/test/rpc.spec.ts
  ops/docker/hardhat/hardhat.config.js
  ops/docker/hardhat/package.json
  ops/docker/hardhat/yarn.lock
  packages/batch-submitter/package.json
  packages/contracts/package.json
  packages/core-utils/package.json
  packages/data-transport-layer/package.json
  packages/hardhat-ovm/package.json
  packages/message-relayer/package.json
  packages/replica-healthcheck/package.json
  yarn.lock
Labels: A-contracts, M-batch-submitter, M-core-utils, M-dtl, M-ops, M-hardhat-ovm, A-integration-tests, M-contracts, 2-reviewers

#1374 Merge Develop into Master
  .changeset/hot-dryers-joke.md
  integration-tests/package.json
  integration-tests/test/rpc.spec.ts
  ops/docker/hardhat/hardhat.config.js
  ops/docker/hardhat/package.json
  ops/docker/hardhat/yarn.lock
  packages/batch-submitter/package.json
  packages/contracts/package.json
  packages/core-utils/package.json
  packages/data-transport-layer/package.json
  packages/hardhat-ovm/package.json
  packages/message-relayer/package.json
  packages/replica-healthcheck/package.json
  yarn.lock
Labels: A-contracts, M-batch-submitter, M-core-utils, M-dtl, M-ops, M-hardhat-ovm, A-integration-tests, M-contracts, 2-reviewers

#1376 Develop -> Master Release PR
  .changeset/hot-dryers-joke.md
  integration-tests/CHANGELOG.md
  integration-tests/package.json
  packages/batch-submitter/CHANGELOG.md
  packages/batch-submitter/package.json
  packages/contracts/CHANGELOG.md
  packages/contracts/package.json
  packages/core-utils/CHANGELOG.md
  packages/core-utils/package.json
  packages/data-transport-layer/CHANGELOG.md
  packages/data-transport-layer/package.json
  packages/hardhat-ovm/CHANGELOG.md
  packages/hardhat-ovm/package.json
  packages/message-relayer/CHANGELOG.md
  packages/message-relayer/package.json
Labels: A-contracts, M-batch-submitter, M-core-utils, M-dtl, M-hardhat-ovm, A-integration-tests, M-contracts, 2-reviewers

#1365 replica-healthcheck feat: add tx write latency check
  .changeset/pink-owls-hope.md
  packages/replica-healthcheck/.env.example
  packages/replica-healthcheck/README.md
  packages/replica-healthcheck/package.json
  packages/replica-healthcheck/src/healthcheck-server.ts
  packages/replica-healthcheck/src/helpers.ts
  yarn.lock
Labels: A-ts-packages

#1382 l2geth: update memory usage in geth
  .changeset/hot-turkeys-pretend.md
  l2geth/core/vm/instructions.go
  l2geth/core/vm/interpreter.go
Labels: A-geth, 2-reviewers

#1383 Merge Develop into Master
  .changeset/hot-turkeys-pretend.md
  .changeset/pink-owls-hope.md
  l2geth/core/vm/instructions.go
  l2geth/core/vm/interpreter.go
  packages/replica-healthcheck/.env.example
  packages/replica-healthcheck/README.md
  packages/replica-healthcheck/package.json
  packages/replica-healthcheck/src/healthcheck-server.ts
  packages/replica-healthcheck/src/helpers.ts
  yarn.lock
Labels: A-geth, A-ts-packages, 2-reviewers

#1385 Develop -> Master Release PR
  .changeset/hot-turkeys-pretend.md
  .changeset/pink-owls-hope.md
  l2geth/CHANGELOG.md
  l2geth/package.json
  packages/replica-healthcheck/CHANGELOG.md
  packages/replica-healthcheck/package.json
Labels: A-geth, A-ts-packages, 2-reviewers

#1396 Watcher: Even lower num blocks to fetch
  .changeset/quiet-wasps-help.md
  packages/core-utils/src/watcher.ts
Labels: A-ts-packages, M-core-utils
