Repository ethereum-optimism/optimism, pull requests merged in 2021-09, with the labels that each got.

#1408 l2geth: configurable min L2 gas limit
  .changeset/popular-tools-jog.md
  l2geth/cmd/geth/main.go
  l2geth/cmd/geth/usage.go
  l2geth/cmd/utils/flags.go
  l2geth/rollup/config.go
  l2geth/rollup/fees/rollup_fee.go
  l2geth/rollup/sync_service.go
  l2geth/rollup/sync_service_test.go
Labels: A-geth, 2-reviewers

#1409 Develop -> Master PR
  .changeset/popular-tools-jog.md
  .changeset/quiet-wasps-help.md
  l2geth/cmd/geth/main.go
  l2geth/cmd/geth/usage.go
  l2geth/cmd/utils/flags.go
  l2geth/rollup/config.go
  l2geth/rollup/fees/rollup_fee.go
  l2geth/rollup/sync_service.go
  l2geth/rollup/sync_service_test.go
  packages/core-utils/src/watcher.ts
Labels: A-geth, A-ts-packages, M-core-utils, 2-reviewers

#1411 Develop -> Master Release PR
  .changeset/popular-tools-jog.md
  .changeset/quiet-wasps-help.md
  l2geth/CHANGELOG.md
  l2geth/package.json
  packages/core-utils/CHANGELOG.md
  packages/core-utils/package.json
Labels: A-geth, A-ts-packages, M-core-utils, 2-reviewers

#1416 refactor: simplify the process of generating the genesis state
  .changeset/dirty-bees-repair.md
  l2geth/cmd/geth/main.go
  l2geth/cmd/geth/usage.go
  l2geth/cmd/utils/flags.go
  l2geth/core/genesis.go
  l2geth/params/config.go
  ops/docker-compose.yml
  ops/docker/Dockerfile.deployer
  ops/docker/Dockerfile.monorepo
  ops/scripts/deployer.sh
  packages/contracts/bin/take-dump.ts
  packages/contracts/contracts/L2/messaging/OVM_L2CrossDomainMessenger.sol
  packages/contracts/contracts/L2/predeploys/OVM_L1MessageSender.sol
  packages/contracts/package.json
  packages/contracts/src/connect-contracts.ts
  packages/contracts/src/contract-data.ts
  packages/contracts/src/contract-deployment/config.ts
  packages/contracts/src/contract-deployment/deploy.ts
  packages/contracts/src/contract-deployment/index.ts
  packages/contracts/src/index.ts
  packages/contracts/src/make-dump.ts
  packages/contracts/src/predeploys.ts
  packages/contracts/src/state-dump/get-dump.ts
  packages/contracts/src/state-dump/make-dump.ts
  packages/contracts/test/connect-contracts.spec.ts
  packages/contracts/test/contracts/L2/messaging/OVM_L2CrossDomainMessenger.spec.ts
  yarn.lock
Labels: A-contracts, A-geth, M-ops, M-contracts, 2-reviewers

#1414 feat: improve contract data autogen process
  .changeset/five-coins-bake.md
  package.json
  packages/contracts/.gitignore
  packages/contracts/package.json
  packages/contracts/scripts/build.sh
  packages/contracts/scripts/generate-deployed-artifacts.js
  packages/contracts/src/connect-contracts.ts
Labels: A-contracts, M-contracts, 2-reviewers

#1398 Add etherscan verification support
  .changeset/green-feet-begin.md
  packages/contracts/hardhat.config.ts
  packages/contracts/package.json
  yarn.lock
Labels: A-contracts, M-contracts, 2-reviewers

#1412 Use flags for coverage at the package level
  .changeset/seven-geese-whisper.md
  .github/workflows/ts-packages.yml
  .gitignore
  packages/batch-submitter/README.md
  packages/batch-submitter/package.json
  packages/contracts/README.md
  packages/core-utils/.gitignore
  packages/core-utils/README.md
  packages/core-utils/package.json
  packages/data-transport-layer/README.md
  packages/data-transport-layer/package.json
  packages/message-relayer/README.md
  packages/message-relayer/package.json
  yarn.lock
Labels: A-ci, A-contracts, M-batch-submitter, M-core-utils, M-dtl, M-contracts, 2-reviewers

#1419 refactor: make token factory a predeploy
  .changeset/flat-goats-taste.md
  packages/contracts/deploy-l2/000-OVM_L2StandardTokenFactory.deploy.ts
  packages/contracts/src/predeploys.ts
Labels: A-contracts, M-contracts, 2-reviewers

#1418 maintenance: remove dead code in contracts
  .changeset/good-grapes-wonder.md
  packages/contracts/package.json
  packages/contracts/test/data/index.ts
  packages/contracts/test/data/json/create2.test.json
  packages/contracts/test/data/json/safety-checker.test.json
  packages/contracts/test/helpers/codec/bridge.ts
  packages/contracts/test/helpers/codec/encoding.ts
  packages/contracts/test/helpers/codec/index.ts
  packages/contracts/test/helpers/codec/revert-flags.ts
  packages/contracts/test/helpers/constants.ts
  packages/contracts/test/helpers/dummy/accounts.ts
  packages/contracts/test/helpers/dummy/bytecode.ts
  packages/contracts/test/helpers/dummy/bytes32.ts
  packages/contracts/test/helpers/dummy/context.ts
  packages/contracts/test/helpers/dummy/index.ts
  packages/contracts/test/helpers/dummy/transactions.ts
  packages/contracts/test/helpers/gas/gas.ts
  packages/contracts/test/helpers/index.ts
  packages/contracts/test/helpers/types/index.ts
  packages/contracts/test/helpers/types/ovm-types.ts
  packages/contracts/test/helpers/utils/custom-deployer.ts
  packages/contracts/test/helpers/utils/index.ts
  packages/contracts/test/helpers/utils/sol-utils.ts
  yarn.lock
Labels: A-contracts, M-contracts, 2-reviewers

#1422 Extended test coverage of core-utils
  .changeset/nice-waves-jog.md
  packages/core-utils/test/coders/batch-encoder.spec.ts
  packages/core-utils/test/common/hex-utils.spec.ts
  packages/core-utils/test/common/misc.spec.ts
  packages/core-utils/test/fees/fees.spec.ts
Labels: A-ts-packages, M-core-utils

#1424 batch-submitter: eip1559 logging
  .changeset/yellow-tomatoes-peel.md
  packages/batch-submitter/src/batch-submitter/batch-submitter.ts
Labels: A-ts-packages, M-batch-submitter, 2-reviewers

#1423 Lower per tx fee overhead
  .changeset/sweet-actors-hope.md
  go/utils/fees/rollup_fee.go
  integration-tests/test/rpc.spec.ts
  l2geth/rollup/fees/rollup_fee.go
  packages/core-utils/src/fees.ts
Labels: A-geth, A-ts-packages, M-core-utils, A-integration-tests, 2-reviewers

#1429 Develop to Master PR
  .changeset/green-feet-begin.md
  .changeset/nice-waves-jog.md
  .changeset/seven-geese-whisper.md
  .changeset/sweet-actors-hope.md
  .changeset/yellow-tomatoes-peel.md
  .github/workflows/ts-packages.yml
  .gitignore
  go/utils/fees/rollup_fee.go
  integration-tests/test/rpc.spec.ts
  l2geth/rollup/fees/rollup_fee.go
  packages/batch-submitter/README.md
  packages/batch-submitter/package.json
  packages/batch-submitter/src/batch-submitter/batch-submitter.ts
  packages/contracts/README.md
  packages/contracts/hardhat.config.ts
  packages/contracts/package.json
  packages/core-utils/.gitignore
  packages/core-utils/README.md
  packages/core-utils/package.json
  packages/core-utils/src/fees.ts
  packages/core-utils/test/coders/batch-encoder.spec.ts
  packages/core-utils/test/common/hex-utils.spec.ts
  packages/core-utils/test/common/misc.spec.ts
  packages/core-utils/test/fees/fees.spec.ts
  packages/data-transport-layer/README.md
  packages/data-transport-layer/package.json
  packages/message-relayer/README.md
  packages/message-relayer/package.json
  yarn.lock
Labels: A-ci, A-contracts, A-geth, M-batch-submitter, M-core-utils, M-dtl, A-integration-tests, M-contracts, 2-reviewers

#1431 Develop -> Master Release PR
  .changeset/green-feet-begin.md
  .changeset/nice-waves-jog.md
  .changeset/seven-geese-whisper.md
  .changeset/sweet-actors-hope.md
  .changeset/yellow-tomatoes-peel.md
  l2geth/CHANGELOG.md
  l2geth/package.json
  packages/batch-submitter/CHANGELOG.md
  packages/batch-submitter/package.json
  packages/contracts/CHANGELOG.md
  packages/contracts/package.json
  packages/core-utils/CHANGELOG.md
  packages/core-utils/package.json
  packages/data-transport-layer/CHANGELOG.md
  packages/data-transport-layer/package.json
  packages/message-relayer/CHANGELOG.md
  packages/message-relayer/package.json
Labels: A-contracts, A-geth, M-batch-submitter, M-core-utils, M-dtl, M-contracts, 2-reviewers

#1427 feat: final opcode tweaks
  .changeset/many-masks-exercise.md
  integration-tests/contracts/OVMContextStorage.sol
  integration-tests/test/ovmcontext.spec.ts
  l2geth/core/evm.go
  l2geth/rollup/dump/constants.go
Labels: A-geth, A-integration-tests, 2-reviewers

#1436 fix: use the same nonce for each batch submission
  .changeset/rotten-kids-fly.md
  packages/batch-submitter/src/batch-submitter/state-batch-submitter.ts
Labels: A-ts-packages, M-batch-submitter, 2-reviewers

#1438 Develop -> Master PR
  .changeset/rotten-kids-fly.md
  packages/batch-submitter/src/batch-submitter/state-batch-submitter.ts
  yarn.lock
Labels: A-ts-packages, M-batch-submitter, 2-reviewers

#1426 feat: separate l1blocknumber
  .changeset/curly-pumpkins-yell.md
  integration-tests/contracts/OVMContextStorage.sol
  integration-tests/contracts/OVMMulticall.sol
  integration-tests/test/ovmcontext.spec.ts
  l2geth/core/evm.go
  l2geth/core/vm/evm.go
  l2geth/core/vm/instructions.go
  l2geth/core/vm/jump_table.go
  l2geth/core/vm/opcodes.go
  packages/contracts/contracts/L2/predeploys/iOVM_L1BlockNumber.sol
  packages/contracts/contracts/libraries/constants/Lib_PredeployAddresses.sol
  packages/contracts/src/make-dump.ts
  packages/contracts/src/predeploys.ts
Labels: A-contracts, A-geth, A-integration-tests, M-contracts, 2-reviewers

#1428 ERC20 Bridge interfaces: Add a getter to return the cross-domain bridge address
  .changeset/ninety-years-smell.md
  packages/contracts/contracts/optimistic-ethereum/OVM/bridge/tokens/OVM_L1StandardBridge.sol
  packages/contracts/contracts/optimistic-ethereum/OVM/bridge/tokens/OVM_L2StandardBridge.sol
  packages/contracts/contracts/optimistic-ethereum/iOVM/bridge/tokens/iOVM_L1ERC20Bridge.sol
  packages/contracts/contracts/optimistic-ethereum/iOVM/bridge/tokens/iOVM_L2ERC20Bridge.sol
  packages/contracts/hardhat.config.ts
Labels: A-contracts, M-contracts, 2-reviewers

#1406 Removes obsoleted and unused contract code
  .changeset/unlucky-beds-train.md
  packages/contracts/contracts/L1/messaging/OVM_L1CrossDomainMessenger.sol
  packages/contracts/contracts/L1/rollup/iOVM_CanonicalTransactionChain.sol
  packages/contracts/contracts/L2/messaging/OVM_L2CrossDomainMessenger.sol
  packages/contracts/contracts/libraries/bridge/iOVM_CrossDomainMessenger.sol
  packages/contracts/contracts/libraries/codec/Lib_OVMCodec.sol
  packages/contracts/contracts/libraries/rlp/Lib_RLPWriter.sol
  packages/contracts/contracts/libraries/utils/Lib_Bytes32Utils.sol
  packages/contracts/contracts/libraries/utils/Lib_BytesUtils.sol
  packages/core-utils/src/watcher.ts
  packages/message-relayer/src/relay-tx.ts
  packages/message-relayer/src/service.ts
  packages/message-relayer/test/test-contracts/MockL2CrossDomainMessenger.sol
Labels: A-contracts, M-core-utils, M-hardhat-ovm, M-contracts, 2-reviewers

#1425 Initialize regenesis-surgery package and add event-indexer
  .changeset/silent-rice-shout.md
  packages/regenesis-surgery/.env.example
  packages/regenesis-surgery/.eslintrc.js
  packages/regenesis-surgery/.gitignore
  packages/regenesis-surgery/.lintstagedrc.yml
  packages/regenesis-surgery/.prettierrc.js
  packages/regenesis-surgery/LICENSE
  packages/regenesis-surgery/README.md
  packages/regenesis-surgery/package.json
  packages/regenesis-surgery/scripts/event-indexer.ts
  packages/regenesis-surgery/tsconfig.build.json
  packages/regenesis-surgery/tsconfig.json
  yarn.lock
Labels: A-ts-packages

#1452 ci: fix workflow for exporting logs
  .github/workflows/integration.yml
Labels: A-ci, 2-reviewers

#1451 chore(contracts): defaults lib w/ xdomain msg sender
  .changeset/four-news-drive.md
  packages/contracts/contracts/L1/messaging/OVM_L1CrossDomainMessenger.sol
  packages/contracts/contracts/L2/messaging/OVM_L2CrossDomainMessenger.sol
  packages/contracts/contracts/libraries/constants/Lib_DefaultValues.sol
Labels: A-contracts, M-contracts, 2-reviewers

#1450 feat: disable ETH ERC20 features
  .changeset/smart-garlics-glow.md
  integration-tests/test/fee-payment.spec.ts
  integration-tests/test/native-eth.spec.ts
  l2geth/rollup/dump/constants.go
  packages/contracts/contracts/L2/predeploys/OVM_ETH.sol
  packages/contracts/contracts/L2/predeploys/OVM_SequencerFeeVault.sol
  packages/contracts/contracts/libraries/constants/Lib_PredeployAddresses.sol
  packages/contracts/src/predeploys.ts
  packages/contracts/test/contracts/L2/predeploys/OVM_ETH.spec.ts
  packages/contracts/test/contracts/L2/predeploys/OVM_SequencerFeeVault.spec.ts
Labels: A-contracts, A-geth, A-integration-tests, M-contracts, 2-reviewers

#1437 feat: reintroduce whitelist
  .changeset/plenty-numbers-breathe.md
  integration-tests/test/whitelist.spec.ts
  l2geth/core/vm/evm.go
  l2geth/rollup/dump/constants.go
  l2geth/rollup/util/vm_errors.go
  ops/docker-compose.yml
  packages/contracts/bin/take-dump.ts
  packages/contracts/contracts/L2/predeploys/OVM_DeployerWhitelist.sol
  packages/contracts/src/make-dump.ts
  packages/contracts/tasks/whitelist.ts
Labels: A-contracts, A-geth, M-ops, A-integration-tests, M-contracts, 2-reviewers

#1456 dtl: use `ethers.StaticJsonRpcProvider` to reduce `eth_chainId` requests
  .changeset/happy-candles-burn.md
  packages/data-transport-layer/src/services/l2-ingestion/service.ts
Labels: A-ts-packages, M-dtl, 2-reviewers

#1458 Update labeler.yml
  .github/labeler.yml
Labels: 2-reviewers, A-ci

#1457 l2geth: config enable arbitrary contract deployment
  .changeset/witty-feet-sniff.md
  l2geth/core/vm/evm.go
  l2geth/core/vm/ovm_state_dump.go
  l2geth/rollup/sync_service.go
Labels: 2-reviewers

#1460 Develop -> Master PR
  .changeset/ninety-years-smell.md
  .changeset/witty-feet-sniff.md
  .github/labeler.yml
  .github/workflows/integration.yml
  l2geth/core/vm/evm.go
  l2geth/core/vm/ovm_state_dump.go
  l2geth/rollup/sync_service.go
  packages/contracts/contracts/optimistic-ethereum/OVM/bridge/tokens/OVM_L1StandardBridge.sol
  packages/contracts/contracts/optimistic-ethereum/OVM/bridge/tokens/OVM_L2StandardBridge.sol
  packages/contracts/contracts/optimistic-ethereum/iOVM/bridge/tokens/iOVM_L1ERC20Bridge.sol
  packages/contracts/contracts/optimistic-ethereum/iOVM/bridge/tokens/iOVM_L2ERC20Bridge.sol
  packages/contracts/hardhat.config.ts
Labels: M-contracts, 2-reviewers, A-ci, A-contracts, A-geth

#1462 Develop -> Master Release PR
  .changeset/ninety-years-smell.md
  .changeset/witty-feet-sniff.md
  l2geth/CHANGELOG.md
  l2geth/package.json
  packages/contracts/CHANGELOG.md
  packages/contracts/package.json
Labels: M-contracts, 2-reviewers, M-l2geth

#1463 fix: update labeler.yml
  .github/labeler.yml
Labels: 2-reviewers, A-ci

#1420 refactor: remove custom genesis logic
  .changeset/stale-olives-stare.md
  l2geth/README.md
  l2geth/accounts/keystore/keystore.go
  l2geth/cmd/geth/main.go
  l2geth/cmd/geth/usage.go
  l2geth/cmd/utils/flags.go
  l2geth/core/genesis.go
  l2geth/eth/config.go
  l2geth/rollup/config.go
  l2geth/rollup/sync_service.go
  l2geth/scripts/start.sh
  ops/docker-compose.yml
  ops/envs/geth.env
  ops/scripts/deployer.sh
  ops/scripts/geth.sh
  packages/contracts/bin/serve_dump.sh
  packages/contracts/bin/take-dump.ts
  packages/contracts/package.json
  packages/contracts/src/make-genesis.ts
Labels: M-ops, M-contracts, 2-reviewers

#1459 Only burn gas on deposits with a high L2 gas limit
  .changeset/khaki-pots-repeat.md
  packages/contracts/contracts/L1/rollup/OVM_CanonicalTransactionChain.sol
  packages/contracts/test/contracts/L1/rollup/OVM_CanonicalTransactionChain.gas.spec.ts
  packages/contracts/test/contracts/L1/rollup/OVM_CanonicalTransactionChain.spec.ts
Labels: M-contracts, 2-reviewers

#1466 Reduce cost of appendSequencerBatch
  .changeset/large-dryers-tap.md
  packages/contracts/contracts/L1/rollup/OVM_CanonicalTransactionChain.sol
  packages/contracts/test/contracts/L1/rollup/OVM_CanonicalTransactionChain.spec.ts
Labels: M-contracts, 2-reviewers

#1468 Add a more realistic CTC gas benchmark
  .changeset/popular-gorillas-burn.md
  packages/contracts/scripts/generate-deployed-artifacts.js
  packages/contracts/src/contract-deployed-artifacts.ts
  packages/contracts/test/contracts/L1/rollup/OVM_CanonicalTransactionChain.gas.spec.ts
  specs/l2geth/transaction-indexer.md
Labels: M-contracts, 2-reviewers

#1472 Remove deployed artifacts file from git
  packages/contracts/src/contract-deployed-artifacts.ts
Labels: M-contracts, 2-reviewers

#1404 Watcher: l1 vs l2 blocksToFetch
  .changeset/yellow-windows-scream.md
  packages/core-utils/src/watcher.ts
Labels: M-core-utils

#1476 feat: add weth9 at old ovm eth address
  .changeset/nice-flowers-lay.md
  packages/contracts/contracts/L2/predeploys/WETH9.sol
  packages/contracts/hardhat.config.ts
  packages/contracts/src/predeploys.ts
Labels: M-contracts, 2-reviewers

#1483 lint: fix
  integration-tests/test/shared/env.ts
  package.json
  packages/contracts/deploy/007-OVM_L1CrossDomainMessenger.deploy.ts
  packages/contracts/deploy/009-Proxy__OVM_L1StandardBridge.deploy.ts
  packages/contracts/src/connect-contracts.ts
  packages/contracts/test/contracts/L1/messaging/L1CrossDomainMessenger.spec.ts
  packages/contracts/test/contracts/L1/messaging/L1StandardBridge.spec.ts
  packages/contracts/test/contracts/L1/rollup/CanonicalTransactionChain.gas.spec.ts
  packages/contracts/test/contracts/L1/rollup/CanonicalTransactionChain.spec.ts
  packages/contracts/test/contracts/L1/rollup/StateCommitmentChain.spec.ts
  packages/contracts/test/contracts/L2/messaging/L2CrossDomainMessenger.spec.ts
  packages/contracts/test/contracts/L2/messaging/L2StandardBridge.spec.ts
  packages/contracts/test/contracts/L2/predeploys/OVM_SequencerFeeVault.spec.ts
Labels: M-contracts, 2-reviewers, M-integration

#1485 feat: L1 gas info on receipt
  .changeset/forty-cougars-teach.md
  .changeset/four-chairs-press.md
  .changeset/lazy-dingos-perform.md
  integration-tests/test/rpc.spec.ts
  l2geth/core/state_processor.go
  l2geth/core/types/gen_receipt_json.go
  l2geth/core/types/receipt.go
  l2geth/internal/ethapi/api.go
  l2geth/rollup/fees/rollup_fee.go
  packages/core-utils/src/l2context.ts
Labels: M-core-utils, 2-reviewers, M-l2geth, M-integration

#1346 batch-submitter: remove call to `appendQueueBatch`
  .changeset/olive-coins-run.md
  packages/batch-submitter/src/batch-submitter/tx-batch-submitter.ts
  packages/batch-submitter/src/exec/run-batch-submitter.ts
  packages/batch-submitter/test/batch-submitter/batch-submitter.spec.ts
Labels: M-batch-submitter, 2-reviewers

#1469 Ensure empty batches are not submitted
  .changeset/honest-lizards-change.md
  ops/envs/batches.env
  packages/batch-submitter/.env.example
  packages/batch-submitter/src/exec/run-batch-submitter.ts
Labels: M-batch-submitter, M-ops, 2-reviewers

#1489 l2geth: no longer sync batches as sequencer
  .changeset/dull-cheetahs-help.md
  l2geth/rollup/sync_service.go
Labels: 2-reviewers, M-l2geth

#1474 Make the gas burn amount configurable
  .changeset/tall-apples-refuse.md
  packages/contracts/bin/deploy.ts
  packages/contracts/contracts/L1/rollup/CanonicalTransactionChain.sol
  packages/contracts/deploy/004-OVM_CanonicalTransactionChain.deploy.ts
  packages/contracts/tasks/deploy.ts
  packages/contracts/test/contracts/L1/messaging/L1CrossDomainMessenger.spec.ts
  packages/contracts/test/contracts/L1/rollup/CanonicalTransactionChain.gas.spec.ts
  packages/contracts/test/contracts/L1/rollup/CanonicalTransactionChain.spec.ts
  packages/contracts/test/helpers/constants.ts
Labels: M-contracts, 2-reviewers

#1470 [added] coverage for getMerkleTreeProof
  .changeset/sharp-dancers-clap.md
  packages/message-relayer/src/relay-tx.ts
  packages/message-relayer/test/unit-tests/relay-tx.spec.ts
Labels: 2-reviewers

#1490 test(contracts): Add full benchmarking of ETH and ERC20 deposits
  .changeset/rotten-bears-jump.md
  packages/contracts/test/contracts/L1/messaging/deposit.gas.spec.ts
Labels: M-contracts, 2-reviewers

#1445 Remove L1 contracts from L2 state dump process
  .changeset/real-tips-own.md
  packages/contracts/src/contract-deployment/config.ts
Labels: M-contracts, 2-reviewers

#1496 refactor: move standards into toplevel folder
  .changeset/kind-turtles-talk.md
  packages/contracts/contracts/L2/messaging/L2StandardBridge.sol
  packages/contracts/contracts/L2/messaging/L2StandardTokenFactory.sol
  packages/contracts/contracts/L2/predeploys/OVM_ETH.sol
  packages/contracts/contracts/libraries/standards/IWETH9.sol
  packages/contracts/contracts/standards/IL2StandardERC20.sol
  packages/contracts/contracts/standards/L2StandardERC20.sol
Labels: M-contracts, 2-reviewers

#1482 Assert upper bound on CTC gas costs
  .changeset/little-donuts-wink.md
  integration-tests/test/native-eth.spec.ts
  integration-tests/test/rpc.spec.ts
  integration-tests/test/shared/utils.ts
  packages/contracts/hardhat.config.ts
  packages/contracts/test/contracts/L1/rollup/CanonicalTransactionChain.gas.spec.ts
  packages/core-utils/src/common/index.ts
  packages/core-utils/src/common/test-utils.ts
  packages/core-utils/test/common/test-utils.spec.ts
Labels: M-core-utils, M-contracts, 2-reviewers, M-integration

#1497 refactor: remove unused bond manager functions
  .changeset/sour-pandas-thank.md
  packages/contracts/contracts/L1/verification/BondManager.sol
  packages/contracts/contracts/L1/verification/IBondManager.sol
Labels: M-contracts, 2-reviewers

#1495 Remove unused vars and appendQueueBatch from CTC
  .changeset/few-students-pretend.md
  packages/contracts/bin/deploy.ts
  packages/contracts/contracts/L1/rollup/CanonicalTransactionChain.sol
  packages/contracts/contracts/L1/rollup/ICanonicalTransactionChain.sol
  packages/contracts/deploy/004-OVM_CanonicalTransactionChain.deploy.ts
  packages/contracts/tasks/deploy.ts
  packages/contracts/test/contracts/L1/messaging/L1CrossDomainMessenger.spec.ts
  packages/contracts/test/contracts/L1/messaging/deposit.gas.spec.ts
  packages/contracts/test/contracts/L1/rollup/CanonicalTransactionChain.gas.spec.ts
  packages/contracts/test/contracts/L1/rollup/CanonicalTransactionChain.spec.ts
Labels: M-contracts, 2-reviewers

#1484 Store block hash in CTC
  .changeset/quiet-seals-destroy.md
  packages/contracts/contracts/L1/rollup/CanonicalTransactionChain.sol
  packages/contracts/contracts/L1/rollup/ICanonicalTransactionChain.sol
  packages/contracts/test/contracts/L1/rollup/CanonicalTransactionChain.gas.spec.ts
  packages/contracts/test/contracts/L1/rollup/CanonicalTransactionChain.spec.ts
Labels: M-contracts, 2-reviewers
