Repository ethereum-optimism/optimism, pull requests merged in 2021-12, with the labels that each got.

#1835 ci: fix proxyd publish
  .github/workflows/release.yml
Labels: 2-reviewers, M-ci

#1784 Slither github action fix and ignore database
  .github/workflows/static-analysis.yml
  package.json
  packages/contracts/contracts/L1/deployment/AddressDictator.sol
  packages/contracts/contracts/L1/deployment/ChugSplashDictator.sol
  packages/contracts/contracts/L1/messaging/L1CrossDomainMessenger.sol
  packages/contracts/contracts/L1/messaging/L1StandardBridge.sol
  packages/contracts/contracts/L1/rollup/CanonicalTransactionChain.sol
  packages/contracts/contracts/L1/rollup/ChainStorageContainer.sol
  packages/contracts/contracts/L1/rollup/StateCommitmentChain.sol
  packages/contracts/contracts/L1/verification/BondManager.sol
  packages/contracts/contracts/L2/messaging/L2CrossDomainMessenger.sol
  packages/contracts/contracts/L2/messaging/L2StandardBridge.sol
  packages/contracts/contracts/L2/predeploys/OVM_DeployerWhitelist.sol
  packages/contracts/contracts/L2/predeploys/OVM_GasPriceOracle.sol
  packages/contracts/contracts/L2/predeploys/OVM_L2ToL1MessagePasser.sol
  packages/contracts/contracts/L2/predeploys/OVM_SequencerFeeVault.sol
  packages/contracts/contracts/chugsplash/L1ChugSplashProxy.sol
  packages/contracts/contracts/libraries/bridge/CrossDomainEnabled.sol
  packages/contracts/contracts/libraries/resolver/Lib_ResolvedDelegateProxy.sol
  packages/contracts/contracts/libraries/rlp/Lib_RLPReader.sol
  packages/contracts/contracts/libraries/trie/Lib_MerkleTrie.sol
  packages/contracts/contracts/standards/L2StandardERC20.sol
  packages/contracts/slither.config.json
  yarn.lock
Labels: M-contracts, 2-reviewers, M-ci

#1814 fix: minor improvements to empty sequencer block handling
  .changeset/new-nails-arrive.md
  l2geth/miner/worker.go
  l2geth/miner/worker_test.go
Labels: 2-reviewers, M-l2geth

#1855 Develop -> Master Release PR
  .changeset/curvy-bears-pull.md
  .changeset/dull-nails-sin.md
  .changeset/new-nails-arrive.md
  .changeset/new-rabbits-count.md
  go/gas-oracle/CHANGELOG.md
  go/gas-oracle/package.json
  go/proxyd/CHANGELOG.md
  go/proxyd/package.json
  l2geth/CHANGELOG.md
  l2geth/package.json
Labels: 2-reviewers, M-l2geth

#1836 docker: update node version to 16
  .changeset/wicked-mugs-admire.md
  ops/docker/Dockerfile.batch-submitter
  ops/docker/Dockerfile.data-transport-layer
  ops/docker/Dockerfile.deployer
  ops/docker/Dockerfile.integration-tests
  ops/docker/Dockerfile.message-relayer
  ops/docker/Dockerfile.monorepo
  ops/docker/Dockerfile.packages
  ops/docker/Dockerfile.regenesis-surgery
  ops/docker/Dockerfile.replica-healthcheck
Labels: M-ops, 2-reviewers

#1856 Develop -> Master PR
  .changeset/wicked-mugs-admire.md
  ops/docker/Dockerfile.batch-submitter
  ops/docker/Dockerfile.data-transport-layer
  ops/docker/Dockerfile.deployer
  ops/docker/Dockerfile.integration-tests
  ops/docker/Dockerfile.message-relayer
  ops/docker/Dockerfile.monorepo
  ops/docker/Dockerfile.packages
  ops/docker/Dockerfile.regenesis-surgery
  ops/docker/Dockerfile.replica-healthcheck
Labels: M-ops, 2-reviewers

#1860 fix: trigger node 16 releases
  .changeset/flat-mirrors-sort.md
  ops/docker/hardhat/Dockerfile
Labels: M-ops, 2-reviewers

#1861 Develop -> Master PR
  .changeset/flat-mirrors-sort.md
  ops/docker/hardhat/Dockerfile
  package.json
Labels: M-ops, 2-reviewers

#1864 ci: standardize ci node version to 16
  .github/workflows/publish-canary.yml
  .github/workflows/release.yml
  .github/workflows/static-analysis.yml
  .github/workflows/ts-packages.yml
Labels: 2-reviewers, M-ci

#1870 Develop -> Master PR
  .changeset/silly-bugs-sit.md
  .github/workflows/publish-canary.yml
  .github/workflows/release.yml
  .github/workflows/static-analysis.yml
  .github/workflows/ts-packages.yml
  go/gas-oracle/gasprices/gas_price_updater.go
  go/gas-oracle/gasprices/gas_price_updater_test.go
  go/gas-oracle/gasprices/l2_gas_pricer.go
  specs/.prettierrc.json
  specs/CHANGELOG.md
  specs/LICENSE
  specs/README.md
  specs/l2geth/README.md
  specs/l2geth/sequencer/README.md
  specs/l2geth/sequencer/batch-submitter.md
  specs/l2geth/sequencer/fees.md
  specs/l2geth/transaction-indexer.md
  specs/l2geth/transaction-ingestor.md
  specs/l2geth/transaction-types.md
  specs/package.json
  specs/protocol/README.md
  specs/protocol/actors-and-roles.md
  specs/protocol/components/accounts.md
  specs/protocol/components/bridge.md
  specs/protocol/components/chain.md
  specs/protocol/components/execution.md
  specs/protocol/components/predeploys.md
  specs/protocol/components/verification.md
  specs/protocol/data-structures.md
  specs/protocol/glossary.md
  yarn.lock
Labels: 2-reviewers, M-ci

#1851 feat: update whitelist task for multiple addresses
  packages/contracts/tasks/whitelist.ts
Labels: M-contracts, 2-reviewers

#1838 dtl: cleanly catch sigterm and sigint
  .changeset/four-islands-hear.md
  packages/data-transport-layer/src/services/run.ts
Labels: M-dtl, 2-reviewers

#1879 feat: hardhat fork mode
  .changeset/rich-suits-drive.md
  .changeset/unlucky-drinks-laugh.md
  ops/docker-compose.yml
  ops/docker/hardhat/hardhat.config.js
  ops/docker/hardhat/package.json
  ops/envs/l1_chain.env
  yarn.lock
Labels: M-ops, 2-reviewers

#1880 fix: deployer dockerfile
  .changeset/five-pandas-reflect.md
  ops/docker/Dockerfile.deployer
Labels: M-ops, 2-reviewers

#1736 integration-tests: fee too low/too high
  .changeset/pretty-dogs-hope.md
  integration-tests/test/fee-payment.spec.ts
  integration-tests/test/rpc.spec.ts
  integration-tests/test/shared/env.ts
  integration-tests/test/shared/utils.ts
  ops/docker-compose.yml
  ops/envs/geth.env
Labels: M-ops, 2-reviewers, M-integration

#1881 ops: pass through start block height to dtl
  .changeset/rotten-hornets-call.md
  ops/envs/dtl.env
Labels: M-ops, 2-reviewers

#1886 itests: remove old sync-tests
  .changeset/bright-lobsters-press.md
  integration-tests/package.json
  integration-tests/sync-tests/1-sync-verifier.spec.ts
  integration-tests/sync-tests/2-sync-replica.spec.ts
Labels: M-integration

#1889 Renamed op-exporter and added CI
  .changeset/six-shrimps-flash.md
  .github/workflows/publish-canary.yml
  .github/workflows/release.yml
  go/op-exporter/.gitignore
  go/op-exporter/Makefile
  go/op-exporter/README.md
  go/op-exporter/collector.go
  go/op-exporter/go.mod
  go/op-exporter/go.sum
  go/op-exporter/k8sClient/main.go
  go/op-exporter/main.go
  go/op-exporter/package.json
  go/op-exporter/rpc.go
  go/op-exporter/version/version.go
  ops/docker/Dockerfile.op-exporter
  package.json
Labels: M-ops, 2-reviewers, M-ci

#1753 Add checks for proper config values in deployment validation
  .changeset/famous-sheep-bathe.md
  packages/contracts/src/validation-utils.ts
  packages/contracts/tasks/validate-address-dictator.ts
  packages/contracts/tasks/validate-chugsplash-dictator.ts
Labels: M-contracts, 2-reviewers

#1888 feat: add sdk utils and corresponding tests
  .changeset/clever-bananas-look.md
  ops/docker/Dockerfile.monorepo
  packages/contracts/contracts/test-libraries/bridge/TestLib_CrossDomainUtils.sol
  packages/sdk/hardhat.config.ts
  packages/sdk/package.json
  packages/sdk/src/index.ts
  packages/sdk/src/interfaces/types.ts
  packages/sdk/src/utils.ts
  packages/sdk/test/contracts/AbsolutelyNothing.sol
  packages/sdk/test/contracts/MessageEncodingHelper.sol
  packages/sdk/test/utils.spec.ts
Labels: M-ops, M-contracts, 2-reviewers

#1816 feat: surface low-level sequencer execution errors, fix itest flakes
  .changeset/angry-ducks-arrive.md
  l2geth/miner/worker.go
  l2geth/miner/worker_test.go
Labels: 2-reviewers, M-l2geth

#1901 Fixed github release workflow tag on op-exporter
  .changeset/popular-dogs-push.md
  .github/workflows/release.yml
Labels: 2-reviewers, M-ci

#1909 Develop -> Master
  .changeset/angry-ducks-arrive.md
  .changeset/clever-bananas-look.md
  .changeset/popular-dogs-push.md
  .changeset/spicy-mayflies-complain.md
  .editorconfig
  .github/workflows/release.yml
  audits/2020_10-Rollup-TrailOfBits.pdf
  audits/2020_11-Dapphub-ECDSA_Wallet.pdf
  audits/2021_03-OVM_and_Rollup-OpenZeppelin.pdf
  audits/2021_03-SafetyChecker-ConsenSysDiligence.pdf
  l2geth/miner/worker.go
  l2geth/miner/worker_test.go
  ops/docker/Dockerfile.monorepo
  packages/batch-submitter/src/batch-submitter/batch-submitter.ts
  packages/batch-submitter/src/batch-submitter/state-batch-submitter.ts
  packages/batch-submitter/src/batch-submitter/tx-batch-submitter.ts
  packages/contracts/contracts/test-libraries/bridge/TestLib_CrossDomainUtils.sol
  packages/sdk/hardhat.config.ts
  packages/sdk/package.json
  packages/sdk/src/index.ts
  packages/sdk/src/interfaces/cross-chain-erc20-pair.ts
  packages/sdk/src/interfaces/cross-chain-messenger.ts
  packages/sdk/src/interfaces/index.ts
  packages/sdk/src/interfaces/types.ts
  packages/sdk/src/utils.ts
  packages/sdk/test/contracts/AbsolutelyNothing.sol
  packages/sdk/test/contracts/MessageEncodingHelper.sol
  packages/sdk/test/cross-chain-erc20-pair.spec.ts
  packages/sdk/test/cross-chain-messenger.spec.ts
  packages/sdk/test/cross-chain-provider.spec.ts
  packages/sdk/test/utils.spec.ts
Labels: M-batch-submitter, M-ops, M-contracts, 2-reviewers, M-l2geth, M-ci

#1913 Develop -> Master Release PR
  .changeset/angry-ducks-arrive.md
  .changeset/clever-bananas-look.md
  .changeset/popular-dogs-push.md
  .changeset/spicy-mayflies-complain.md
  go/op-exporter/CHANGELOG.md
  go/op-exporter/package.json
  integration-tests/package.json
  l2geth/CHANGELOG.md
  l2geth/package.json
  packages/batch-submitter/CHANGELOG.md
  packages/batch-submitter/package.json
  packages/contracts/CHANGELOG.md
  packages/contracts/package.json
  packages/data-transport-layer/CHANGELOG.md
  packages/data-transport-layer/package.json
  packages/message-relayer/CHANGELOG.md
  packages/message-relayer/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Labels: M-batch-submitter, M-dtl, M-contracts, 2-reviewers, M-l2geth, M-integration

#1802 feat: add v0 go batch submitter and gh actions integration
  .github/workflows/integration.yml
  go/batch-submitter/batch_submitter.go
  go/batch-submitter/config.go
  go/batch-submitter/drivers/proposer/driver.go
  go/batch-submitter/drivers/sequencer/driver.go
  go/batch-submitter/go.mod
  go/batch-submitter/go.sum
  go/batch-submitter/service.go
  go/batch-submitter/txmgr/txmgr.go
  go/batch-submitter/txmgr/txmgr_test.go
  l2geth/cmd/devp2p/dns_cloudflare.go
  l2geth/core/types/transaction_meta.go
  l2geth/crypto/secp256k1/curve.go
  l2geth/crypto/secp256k1/panic_cb.go
  l2geth/crypto/secp256k1/secp256.go
  l2geth/ethclient/ethclient.go
  l2geth/ethclient/gen_rpc_tx_meta_json.go
  l2geth/go.mod
  l2geth/go.sum
  l2geth/rpc/constants_unix.go
  ops/Makefile
  ops/README.md
  ops/docker-compose.go-batch-submitter.yml
  ops/docker-compose.ts-batch-submitter.yml
  ops/docker-compose.yml
  ops/docker/Dockerfile.batch-submitter-service
  ops/docker/Dockerfile.geth
  ops/envs/batch-submitter.env
  ops/scripts/batch-submitter.sh
Labels: M-ops, 2-reviewers, M-l2geth, M-ci

#1918 Develop -> Master PR
  .changeset/clever-ducks-rescue.md
  .github/workflows/integration.yml
  go/batch-submitter/batch_submitter.go
  go/batch-submitter/config.go
  go/batch-submitter/drivers/proposer/driver.go
  go/batch-submitter/drivers/sequencer/driver.go
  go/batch-submitter/go.mod
  go/batch-submitter/go.sum
  go/batch-submitter/service.go
  go/batch-submitter/txmgr/txmgr.go
  go/batch-submitter/txmgr/txmgr_test.go
  go/proxyd/backend.go
  go/proxyd/config.go
  go/proxyd/metrics.go
  go/proxyd/server.go
  l2geth/cmd/devp2p/dns_cloudflare.go
  l2geth/core/types/transaction_meta.go
  l2geth/crypto/secp256k1/curve.go
  l2geth/crypto/secp256k1/panic_cb.go
  l2geth/crypto/secp256k1/secp256.go
  l2geth/ethclient/ethclient.go
  l2geth/ethclient/gen_rpc_tx_meta_json.go
  l2geth/go.mod
  l2geth/go.sum
  l2geth/rpc/constants_unix.go
  ops/Makefile
  ops/README.md
  ops/docker-compose.go-batch-submitter.yml
  ops/docker-compose.ts-batch-submitter.yml
  ops/docker-compose.yml
  ops/docker/Dockerfile.batch-submitter-service
  ops/docker/Dockerfile.geth
  ops/envs/batch-submitter.env
  ops/scripts/batch-submitter.sh
  packages/sdk/src/interfaces/cross-chain-provider.ts
  packages/sdk/test/cross-chain-erc20-pair.spec.ts
  packages/sdk/test/cross-chain-messenger.spec.ts
  packages/sdk/test/cross-chain-provider.spec.ts
Labels: M-ops, 2-reviewers, M-l2geth, M-ci

#1906 feat: surface miner nonce too high errors
  .changeset/olive-pots-camp.md
  l2geth/miner/worker.go
Labels: 2-reviewers, M-l2geth

#1928 Develop -> Master Release PR
  .changeset/clever-ducks-rescue.md
  .changeset/olive-pots-camp.md
  .circleci/config.yml
  go/proxyd/CHANGELOG.md
  go/proxyd/cmd/proxyd/main.go
  go/proxyd/package.json
  l2geth/miner/worker.go
Labels: 2-reviewers, M-l2geth

#1939 Develop -> Master
  .changeset/gold-ants-breathe.md
  .changeset/olive-pots-camp.md
  go/batch-submitter/batch_submitter.go
  go/batch-submitter/drivers/proposer/driver.go
  go/batch-submitter/drivers/sequencer/driver.go
  go/batch-submitter/metrics/metrics.go
  go/batch-submitter/service.go
  l2geth/CHANGELOG.md
  l2geth/package.json
  packages/sdk/src/interfaces/cross-chain-provider.ts
  packages/sdk/src/interfaces/types.ts
  packages/sdk/src/utils/coercion.ts
  packages/sdk/src/utils/contracts.ts
  packages/sdk/src/utils/index.ts
  packages/sdk/src/utils/message-encoding.ts
  packages/sdk/src/utils/type-utils.ts
  packages/sdk/test/cross-chain-provider.spec.ts
  packages/sdk/test/utils/coercion.spec.ts
  packages/sdk/test/utils/contracts.spec.ts
  packages/sdk/test/utils/message-encoding.spec.ts
Labels: 2-reviewers, M-l2geth

#1944 ops/docker: Use old directory in packages dockerfile
  ops/docker/Dockerfile.packages
Labels: M-ops, 2-reviewers

#1502 Bwilson/l2geth exporter
  .changeset/purple-cups-camp.md
  .github/workflows/publish-canary.yml
  .github/workflows/release.yml
  go/l2geth-exporter/.envrc
  go/l2geth-exporter/.gitignore
  go/l2geth-exporter/Makefile
  go/l2geth-exporter/bindings/CanonicalTransactionChain.go
  go/l2geth-exporter/collector.go
  go/l2geth-exporter/go.mod
  go/l2geth-exporter/go.sum
  go/l2geth-exporter/l1contracts/main.go
  go/l2geth-exporter/main.go
  go/l2geth-exporter/package.json
  ops/docker/Dockerfile.l2geth-exporter
  package.json
Labels: M-ops, 2-reviewers, M-ci

#1953 batch-submitter: Fix the numTxPerBatch metric
  .changeset/cyan-owls-grow.md
  packages/batch-submitter/src/batch-submitter/tx-batch-submitter.ts
Labels: M-batch-submitter, 2-reviewers

#1954 fix: have SDK generate coverage reports
  .github/workflows/ts-packages.yml
Labels: 2-reviewers, M-ci

#1957 maintenance(message-relayer): remove unnecessary js runner script
  .changeset/lazy-trees-hide.md
  packages/message-relayer/exec/run-message-relayer.js
  packages/message-relayer/package.json
Labels: 2-reviewers

#1917 fix: make CI correctly report linting errors
  integration-tests/actor-tests/lib/runner.ts
  integration-tests/actor-tests/uniswap.test.ts
  integration-tests/package.json
  packages/batch-submitter/package.json
  packages/batch-submitter/src/batch-submitter/state-batch-submitter.ts
  packages/common-ts/package.json
  packages/contracts/package.json
  packages/core-utils/package.json
  packages/data-transport-layer/package.json
  packages/message-relayer/package.json
  packages/regenesis-surgery/package.json
  packages/replica-healthcheck/package.json
  packages/sdk/package.json
Labels: M-batch-submitter, M-core-utils, M-dtl, M-contracts, 2-reviewers, M-integration

#1952 Develop -> Master PR
  .changeset/cyan-owls-grow.md
  .changeset/lazy-trees-hide.md
  .changeset/purple-cups-camp.md
  .changeset/purple-squids-taste.md
  .circleci/config.yml
  .github/workflows/publish-canary.yml
  .github/workflows/release.yml
  .github/workflows/ts-packages.yml
  go/batch-submitter/batch_submitter.go
  go/l2geth-exporter/.envrc
  go/l2geth-exporter/.gitignore
  go/l2geth-exporter/Makefile
  go/l2geth-exporter/bindings/CanonicalTransactionChain.go
  go/l2geth-exporter/collector.go
  go/l2geth-exporter/go.mod
  go/l2geth-exporter/go.sum
  go/l2geth-exporter/l1contracts/main.go
  go/l2geth-exporter/main.go
  go/l2geth-exporter/package.json
  integration-tests/actor-tests/lib/runner.ts
  integration-tests/actor-tests/uniswap.test.ts
  integration-tests/package.json
  ops/docker/Dockerfile.l2geth-exporter
  ops/docker/Dockerfile.packages
  package.json
  packages/batch-submitter/package.json
  packages/batch-submitter/src/batch-submitter/state-batch-submitter.ts
  packages/batch-submitter/src/batch-submitter/tx-batch-submitter.ts
  packages/common-ts/package.json
  packages/contracts/package.json
  packages/core-utils/package.json
  packages/data-transport-layer/package.json
  packages/message-relayer/exec/run-message-relayer.js
  packages/message-relayer/package.json
  packages/regenesis-surgery/package.json
  packages/replica-healthcheck/package.json
  packages/sdk/README.md
  packages/sdk/package.json
  packages/sdk/src/cross-chain-provider.ts
  packages/sdk/src/interfaces/cross-chain-provider.ts
  packages/sdk/src/interfaces/types.ts
  packages/sdk/src/utils/contracts.ts
  packages/sdk/src/utils/message-encoding.ts
  packages/sdk/test/contracts/MockBridge.sol
  packages/sdk/test/contracts/MockMessenger.sol
  packages/sdk/test/cross-chain-provider.spec.ts
  packages/sdk/test/utils/message-encoding.spec.ts
Labels: M-batch-submitter, M-core-utils, M-dtl, M-ops, M-contracts, 2-reviewers, M-integration, M-ci

#1961 Develop -> Master Release PR
  .changeset/cyan-owls-grow.md
  .changeset/lazy-trees-hide.md
  .changeset/purple-cups-camp.md
  .changeset/purple-squids-taste.md
  go/batch-submitter/CHANGELOG.md
  go/batch-submitter/package.json
  go/l2geth-exporter/CHANGELOG.md
  go/l2geth-exporter/package.json
  integration-tests/package.json
  packages/batch-submitter/CHANGELOG.md
  packages/batch-submitter/package.json
  packages/message-relayer/CHANGELOG.md
  packages/message-relayer/package.json
Labels: M-batch-submitter, 2-reviewers, M-integration

#1907 Create a setup script for the integration tests
  integration-tests/test/basic-l1-l2-communication.spec.ts
  integration-tests/test/bridged-tokens.ts
  integration-tests/test/contracts.spec.ts
  integration-tests/test/fee-payment.spec.ts
  integration-tests/test/native-eth-ovm-calls.spec.ts
  integration-tests/test/native-eth.spec.ts
  integration-tests/test/ovmcontext.spec.ts
  integration-tests/test/predeploys.spec.ts
  integration-tests/test/queue-ingestion.spec.ts
  integration-tests/test/replica.spec.ts
  integration-tests/test/rpc.spec.ts
  integration-tests/test/shared/setup.ts
  integration-tests/test/stress-tests.spec.ts
  integration-tests/test/whitelist.spec.ts
Labels: M-integration

#1958 fix: replace OE with Optimism
  .changeset/fair-starfishes-admire.md
  CONTRIBUTING.md
  README.md
  go/gas-oracle/README.md
  go/gas-oracle/main.go
  go/op-exporter/README.md
  integration-tests/test/rpc.spec.ts
  packages/contracts/README.md
  packages/contracts/deployments/README.md
  packages/contracts/deployments/goerli/README.md
  packages/contracts/deployments/kovan/README.md
  packages/contracts/deployments/mainnet/README.md
  packages/contracts/package.json
  packages/contracts/scripts/generate-markdown.ts
  packages/data-transport-layer/README.md
  packages/data-transport-layer/src/services/l2-ingestion/service.ts
  packages/regenesis-surgery/test/eoa.spec.ts
  packages/sdk/README.md
  packages/sdk/package.json
  packages/sdk/src/interfaces/types.ts
  packages/sdk/src/utils/message-encoding.ts
Labels: M-dtl, M-contracts, 2-reviewers, M-integration

#1887 dtl: smaller range for filter query
  .changeset/clean-jars-check.md
  packages/data-transport-layer/src/services/l1-ingestion/service.ts
Labels: M-dtl, 2-reviewers

#1951 packages/contracts: Remove legacy `bin/deploy.ts` script
  .changeset/silent-keys-hunt.md
  ops/docker-compose.yml
  ops/docker/Dockerfile.deployer
  ops/scripts/deployer.sh
  packages/contracts/bin/deploy.ts
  packages/contracts/package.json
Labels: M-ops, M-contracts, 2-reviewers

#1963 maintenance: remove eslint-plugin-ban dependency
  integration-tests/package.json
  package.json
  packages/batch-submitter/package.json
  packages/common-ts/package.json
  packages/contracts/package.json
  packages/core-utils/package.json
  packages/data-transport-layer/package.json
  packages/message-relayer/package.json
  packages/sdk/package.json
  yarn.lock
Labels: M-batch-submitter, M-core-utils, M-dtl, M-contracts, 2-reviewers, M-integration

#1964 fix: message relayer docker build
  .changeset/mean-llamas-speak.md
  ops/docker/Dockerfile.message-relayer
Labels: M-ops, 2-reviewers

#1931 Increase branch coverage
  packages/contracts/.solcover.js
  packages/contracts/package.json
  packages/contracts/test/contracts/L1/messaging/L1StandardBridge.spec.ts
  packages/contracts/test/contracts/L1/rollup/CanonicalTransactionChain.spec.ts
  packages/contracts/test/contracts/L1/rollup/StateCommitmentChain.spec.ts
  packages/contracts/test/data/json/libraries/rlp/Lib_RLPReader.test.json
  packages/contracts/test/data/json/libraries/utils/Lib_BytesUtils.test.json
Labels: M-contracts, 2-reviewers

#1971 Fail CI if coverage threshold checks fail
  .github/workflows/ts-packages.yml
Labels: 2-reviewers, M-ci
