Repository ethereum-optimism/optimism, pull requests merged in 2021-06, with the labels that each got.

#994 fix[l2geth]: fix accidental merge conflict
  l2geth/rollup/sync_service_test.go
Labels: 2-reviewers, A-geth

#952 feat[message-relayer]: relay tx generator
  .changeset/sharp-files-knock.md
  packages/message-relayer/hardhat.config.ts
  packages/message-relayer/package.json
  packages/message-relayer/src/index.ts
  packages/message-relayer/src/relay-tx.ts
  packages/message-relayer/test/setup.ts
  packages/message-relayer/test/test-contracts/MockL2CrossDomainMessenger.sol
  packages/message-relayer/test/unit-tests/relay-tx.spec.ts
  yarn.lock
Labels: 2-reviewers, A-ts-packages

#986 backwards compatible dtl syncing
  .changeset/nasty-dots-grow.md
  l2geth/rollup/client.go
  packages/data-transport-layer/src/db/transport-db.ts
  packages/data-transport-layer/src/services/l1-ingestion/handlers/sequencer-batch-appended.ts
  packages/data-transport-layer/src/services/l1-ingestion/handlers/transaction-enqueued.ts
  packages/data-transport-layer/src/services/l2-ingestion/handlers/transaction.ts
  packages/data-transport-layer/src/types/database-types.ts
  packages/data-transport-layer/src/types/event-handler-types.ts
  packages/data-transport-layer/test/unit-tests/services/l1-ingestion/handlers/sequencer-batch-appended.spec.ts
  packages/data-transport-layer/test/unit-tests/services/l1-ingestion/handlers/transaction-enqueued.spec.ts
Labels: 2-reviewers, A-geth, A-ts-packages, M-dtl

#996 fix[smock]: fix broken call assertions for overloaded functions
  .changeset/cool-baboons-guess.md
  packages/smock/src/smockit/smockit.ts
  packages/smock/test/contracts/TestHelpers_MockCaller.sol
  packages/smock/test/smockit/call-assertions.spec.ts
Labels: A-ts-packages, M-smock

#1000 fix[message-relayer]: fix failing test because of merge with develop
  packages/message-relayer/test/unit-tests/relay-tx.spec.ts
Labels: 2-reviewers, A-ts-packages

#998 fix[message-relayer]: remove spreadsheet mode
  .changeset/ten-spiders-boil.md
  packages/message-relayer/package.json
  packages/message-relayer/src/exec/run.ts
  packages/message-relayer/src/service.ts
  packages/message-relayer/src/spreadsheet.ts
  yarn.lock
Labels: 2-reviewers, A-ts-packages

#985 Lower local rollup timestamp refresh
  ops/docker-compose.yml
Labels: 2-reviewers, M-ops

#999 feat: fees v3
  .changeset/smooth-ears-pay.md
  examples/truffle/truffle-config-ovm.js
  integration-tests/test/fee-payment.spec.ts
  integration-tests/test/native-eth.spec.ts
  integration-tests/test/rpc.spec.ts
  l2geth/core/tx_pool.go
  l2geth/core/types/transaction.go
  l2geth/internal/ethapi/api.go
  l2geth/rollup/fees/rollup_fee.go
  l2geth/rollup/fees/rollup_fee_test.go
  packages/core-utils/src/fees.ts
  packages/core-utils/test/fees/fees.spec.ts
Labels: 2-reviewers, A-geth, A-integration-tests, A-ts-packages, M-core-utils

#1002 docs[message-relayer]: add a README and improve the interface for generating proofs
  .changeset/great-shrimps-rule.md
  packages/message-relayer/README.md
  packages/message-relayer/src/relay-tx.ts
Labels: 2-reviewers, A-ts-packages

#995 dtl: log error stack for failed http request
  .changeset/slimy-rivers-promise.md
  packages/data-transport-layer/src/services/server/service.ts
Labels: 2-reviewers, A-ts-packages, M-dtl

#945 Add rpc-proxy service for whitelisting JSON RPC methods to the sequencer.
  .github/workflows/release.yml
  ops/README.md
  ops/docker-compose-rpc-proxy.yml
  ops/docker-compose.yml
  ops/docker/Dockerfile.rpc-proxy
  ops/docker/rpc-proxy/docker-entrypoint.sh
  ops/docker/rpc-proxy/eth-jsonrpc-access.lua
  ops/docker/rpc-proxy/nginx.template.conf
Labels: 2-reviewers, A-ci, M-ops

#824 Pass additional information across domains via token gateways
  .changeset/wild-months-matter.md
  integration-tests/test/native-eth.spec.ts
  integration-tests/test/shared/utils.ts
  packages/contracts/contracts/optimistic-ethereum/OVM/bridge/tokens/Abs_L1TokenGateway.sol
  packages/contracts/contracts/optimistic-ethereum/OVM/bridge/tokens/Abs_L2DepositedToken.sol
  packages/contracts/contracts/optimistic-ethereum/OVM/bridge/tokens/OVM_L1ERC20Gateway.sol
  packages/contracts/contracts/optimistic-ethereum/OVM/bridge/tokens/OVM_L1ETHGateway.sol
  packages/contracts/contracts/optimistic-ethereum/OVM/bridge/tokens/OVM_L2DepositedERC20.sol
  packages/contracts/contracts/optimistic-ethereum/iOVM/bridge/tokens/iOVM_L1ETHGateway.sol
  packages/contracts/contracts/optimistic-ethereum/iOVM/bridge/tokens/iOVM_L1TokenGateway.sol
  packages/contracts/contracts/optimistic-ethereum/iOVM/bridge/tokens/iOVM_L2DepositedToken.sol
  packages/contracts/contracts/optimistic-ethereum/libraries/bridge/OVM_CrossDomainEnabled.sol
  packages/contracts/test/contracts/OVM/bridge/assets/OVM_L1ERC20Gateway.spec.ts
  packages/contracts/test/contracts/OVM/bridge/assets/OVM_L1ETHGateway.spec.ts
  packages/contracts/test/contracts/OVM/bridge/assets/OVM_L2DepositedERC20.spec.ts
Labels: 2-reviewers, A-contracts, A-integration-tests, M-contracts

#991 More consistent style for Constant values
  .changeset/clever-dancers-warn.md
  packages/contracts/contracts/optimistic-ethereum/OVM/accounts/OVM_ProxyEOA.sol
  packages/contracts/contracts/optimistic-ethereum/OVM/bridge/messaging/OVM_L1CrossDomainMessenger.sol
  packages/contracts/contracts/optimistic-ethereum/OVM/execution/OVM_ExecutionManager.sol
  packages/contracts/contracts/optimistic-ethereum/libraries/constants/Lib_PredeployAddresses.sol
Labels: 2-reviewers, A-contracts, M-contracts

#936 feat: deployment config for fee oracle contract
  .changeset/seven-carpets-tell.md
  packages/contracts/contracts/optimistic-ethereum/OVM/predeploys/OVM_GasPriceOracle.sol
  packages/contracts/deploy-l2/000-OVM_GasPriceOracle.deploy.ts
  packages/contracts/deployments/README.md
  packages/contracts/deployments/optimistic-kovan/.chainId
  packages/contracts/deployments/optimistic-kovan/OVM_GasPriceOracle.json
  packages/contracts/tasks/deploy.ts
  packages/contracts/test/contracts/OVM/precompiles/OVM_GasPriceOracle.spec.ts
Labels: 2-reviewers, A-contracts, M-contracts

#1007 ops: expose debug namespace
  ops/envs/geth.env
Labels: 2-reviewers, M-ops

#975 refactor[l2geth]: queue origin type
  .changeset/heavy-planets-return.md
  l2geth/accounts/abi/bind/backends/simulated.go
  l2geth/core/state_transition.go
  l2geth/core/state_transition_ovm.go
  l2geth/core/types/gen_tx_json.go
  l2geth/core/types/gen_tx_meta_json.go
  l2geth/core/types/transaction.go
  l2geth/core/types/transaction_meta.go
  l2geth/core/types/transaction_meta_test.go
  l2geth/interfaces.go
  l2geth/internal/ethapi/api.go
  l2geth/miner/worker.go
  l2geth/rollup/sync_service.go
Labels: 2-reviewers, A-geth

#1015 fix(sync-service): prevent underflows
  .changeset/kind-houses-rush.md
  l2geth/rollup/config.go
  l2geth/rollup/sync_service.go
Labels: 2-reviewers, A-geth

#1014 test: remove duplicate value in array
  packages/contracts/test/helpers/test-runner/test.types.ts
Labels: 2-reviewers, A-contracts, M-contracts

#1006 ci: tag docker image for canary with abbreviated GITHUB_SHA
  .github/workflows/publish-canary.yml
Labels: 2-reviewers, A-ci

#1016 refactor: improve logging for transactions being submitted to chain with gasPrice
  packages/batch-submitter/src/batch-submitter/state-batch-submitter.ts
  packages/batch-submitter/src/batch-submitter/tx-batch-submitter.ts
Labels: 2-reviewers, A-ts-packages, M-batch-submitter

#1010 dtl: remove stringify from db logic + more overflow protection
  .changeset/cold-ways-grow.md
  l2geth/rollup/client.go
  packages/data-transport-layer/src/db/transport-db.ts
  packages/data-transport-layer/src/services/l1-ingestion/handlers/sequencer-batch-appended.ts
  packages/data-transport-layer/src/services/l2-ingestion/handlers/transaction.ts
  packages/data-transport-layer/src/types/database-types.ts
Labels: 2-reviewers, A-geth, A-ts-packages, M-dtl

#1020 ci: upload logs for failed integration tests
  .github/workflows/integration.yml
Labels: 2-reviewers, A-ci

#1019 fix(dtl): improve slow blocking JSON parsing that occurs during l2 sync
  .changeset/wet-falcons-talk.md
  packages/data-transport-layer/package.json
  packages/data-transport-layer/src/services/l2-ingestion/service.ts
  yarn.lock
Labels: 2-reviewers, A-ts-packages, M-dtl

#1025 fix: lint errors in dtl
  packages/data-transport-layer/package.json
  packages/data-transport-layer/src/services/l2-ingestion/service.ts
Labels: 2-reviewers, A-ts-packages, C-bug, M-dtl

#1011 fix[dtl]: fix dtl bug breaking verifiers
  .changeset/quick-pandas-laugh.md
  packages/data-transport-layer/src/services/l1-ingestion/handlers/sequencer-batch-appended.ts
  packages/data-transport-layer/src/services/l1-ingestion/service.ts
  packages/data-transport-layer/src/services/l2-ingestion/handlers/transaction.ts
  packages/data-transport-layer/src/types/event-handler-types.ts
  packages/data-transport-layer/src/utils/eth-tx.ts
  packages/data-transport-layer/src/utils/index.ts
  packages/data-transport-layer/test/unit-tests/services/l1-ingestion/handlers/sequencer-batch-appended.spec.ts
  packages/data-transport-layer/test/unit-tests/services/l1-ingestion/handlers/state-batch-appended.spec.ts
  packages/data-transport-layer/test/unit-tests/services/l1-ingestion/handlers/transaction-enqueued.spec.ts
  packages/data-transport-layer/test/unit-tests/services/l2-ingestion/handlers/transaction.spec.ts
Labels: 2-reviewers, A-ts-packages, M-dtl

#1032 fix: deterministic blockhashes
  .changeset/chilled-apricots-tie.md
  integration-tests/sync-tests/sync-verifier.spec.ts
  l2geth/accounts/keystore/keystore.go
  l2geth/cmd/utils/flags.go
  l2geth/consensus/clique/clique.go
  ops/envs/geth.env
Labels: 2-reviewers, A-geth, A-integration-tests, M-ops

#1031 ci: add sync test workflow
  .github/workflows/sync-tests.yml
Labels: 2-reviewers, A-ci

#1037 fix(dtl): incorrect parsing of eth_getBlockRange result
  .changeset/spotty-drinks-bathe.md
  packages/data-transport-layer/src/services/l2-ingestion/service.ts
Labels: 2-reviewers, A-ts-packages, M-dtl

#1043 fix: no gas refund
  .changeset/sharp-dragons-check.md
  l2geth/core/state_transition.go
Labels: 2-reviewers, A-geth

#1046 refactor[contracts]: remove one-off GasPriceOracle deployment file
  .changeset/real-pumpkins-shop.md
  packages/contracts/deploy-l2/000-OVM_GasPriceOracle.deploy.ts
  packages/contracts/tasks/deploy.ts
Labels: 2-reviewers, A-contracts, M-contracts

#1009 feat[contracts]: introduce new L1ChugSplashProxy contract
  .changeset/witty-horses-nail.md
  packages/contracts/contracts/chugsplash/L1ChugSplashProxy.sol
  packages/contracts/contracts/chugsplash/interfaces/iL1ChugSplashDeployer.sol
  packages/contracts/test/contracts/chugsplash/L1ChugSplashProxy.spec.ts
Labels: 2-reviewers, A-contracts, M-contracts

#1029 feat[contracts]: add sequencer fee wallet
  .changeset/shy-brooms-divide.md
  integration-tests/test/fee-payment.spec.ts
  integration-tests/test/shared/env.ts
  l2geth/README.md
  l2geth/cmd/geth/main.go
  l2geth/cmd/geth/usage.go
  l2geth/cmd/utils/flags.go
  l2geth/console/console_test.go
  l2geth/core/genesis.go
  l2geth/rollup/config.go
  l2geth/scripts/start.sh
  packages/contracts/contracts/optimistic-ethereum/OVM/accounts/OVM_ECDSAContractAccount.sol
  packages/contracts/contracts/optimistic-ethereum/OVM/predeploys/OVM_SequencerFeeVault.sol
  packages/contracts/contracts/optimistic-ethereum/libraries/constants/Lib_PredeployAddresses.sol
  packages/contracts/src/contract-deployment/config.ts
  packages/contracts/src/predeploys.ts
  packages/contracts/src/state-dump/make-dump.ts
  packages/contracts/test/contracts/OVM/precompiles/OVM_SequencerFeeVault.spec.ts
Labels: 2-reviewers, A-contracts, A-geth, A-integration-tests, M-contracts

#1039 fix: predeploy gasprice oracle
  .changeset/calm-ants-dream.md
  .changeset/odd-shrimps-laugh.md
  l2geth/cmd/geth/main.go
  l2geth/cmd/geth/usage.go
  l2geth/cmd/utils/flags.go
  l2geth/console/console_test.go
  l2geth/core/genesis.go
  l2geth/eth/backend.go
  l2geth/eth/config.go
  l2geth/eth/gasprice/rollup_gasprice.go
  l2geth/rollup/config.go
  l2geth/rollup/sync_service.go
  l2geth/rollup/sync_service_test.go
Labels: 2-reviewers, A-geth

#1027 l2geth: optimize loops
  .changeset/angry-numbers-swim.md
  l2geth/rollup/sync_service.go
Labels: 2-reviewers, A-geth

#1048 Enable custom tagging of release docker image
  .github/workflows/publish-canary.yml
Labels: 2-reviewers, A-ci

#1023 fix: typo in USE_HARDHAT config
  .changeset/popular-feet-suffer.md
  packages/batch-submitter/src/exec/run-batch-submitter.ts
Labels: 2-reviewers, A-ts-packages, C-bug, M-batch-submitter

#1049 fix: abi encoded tx
  .changeset/witty-chefs-learn.md
  packages/contracts/contracts/optimistic-ethereum/OVM/accounts/OVM_ECDSAContractAccount.sol
  packages/contracts/contracts/optimistic-ethereum/OVM/predeploys/OVM_SequencerEntrypoint.sol
  packages/contracts/contracts/optimistic-ethereum/iOVM/accounts/iOVM_ECDSAContractAccount.sol
  packages/contracts/contracts/optimistic-ethereum/libraries/codec/Lib_EIP155Tx.sol
  packages/contracts/package.json
  packages/contracts/test/contracts/OVM/accounts/OVM_ECDSAContractAccount.spec.ts
  packages/contracts/test/contracts/OVM/accounts/OVM_ProxyEOA.spec.ts
  packages/contracts/test/contracts/OVM/precompiles/OVM_SequencerEntrypoint.spec.ts
  packages/contracts/test/helpers/types/ovm-types.ts
  yarn.lock
Labels: 2-reviewers, A-contracts, M-contracts

#1058 l2geth: bump to go 1.15
  .changeset/grumpy-spiders-yell.md
  l2geth/go.mod
  ops/docker/Dockerfile.geth
Labels: 2-reviewers, A-geth, M-ops

#1060 Change monotonicity band-aid code to log warnings not errors
  .changeset/shaggy-dogs-attend.md
  packages/batch-submitter/src/batch-submitter/tx-batch-submitter.ts
Labels: 2-reviewers, A-ts-packages, M-batch-submitter

#1038 feat(contracts, l2geth): native ETH value support for ovmCALL
  .changeset/quiet-ladybugs-burn.md
  integration-tests/contracts/TestOOG.sol
  integration-tests/contracts/ValueCalls.sol
  integration-tests/hardhat.config.ts
  integration-tests/test/native-eth-ovm-calls.spec.ts
  integration-tests/test/native-eth.spec.ts
  integration-tests/test/rpc.spec.ts
  l2geth/core/state_transition_ovm.go
  l2geth/eth/api_backend.go
  packages/contracts/contracts/optimistic-ethereum/OVM/accounts/OVM_ECDSAContractAccount.sol
  packages/contracts/contracts/optimistic-ethereum/OVM/accounts/OVM_ProxyEOA.sol
  packages/contracts/contracts/optimistic-ethereum/OVM/execution/OVM_ExecutionManager.sol
  packages/contracts/contracts/optimistic-ethereum/OVM/predeploys/OVM_ExecutionManagerWrapper.sol
  packages/contracts/contracts/optimistic-ethereum/iOVM/execution/iOVM_ExecutionManager.sol
  packages/contracts/contracts/optimistic-ethereum/libraries/wrappers/Lib_ExecutionManagerWrapper.sol
  packages/contracts/hardhat.config.ts
  packages/contracts/test/contracts/OVM/accounts/OVM_ECDSAContractAccount.spec.ts
  packages/contracts/test/contracts/OVM/accounts/OVM_ProxyEOA.spec.ts
  packages/contracts/test/contracts/OVM/execution/OVM_ExecutionManager.gas-spec.ts
  packages/contracts/test/contracts/OVM/execution/OVM_ExecutionManager/native-eth.spec.ts
  packages/contracts/test/helpers/test-runner/test-runner.ts
  packages/contracts/test/helpers/test-runner/test.types.ts
Labels: 2-reviewers, A-contracts, A-geth, A-integration-tests, M-contracts

#1052 Add erc1271 support to contract account
  .changeset/blue-cooks-join.md
  integration-tests/test/predeploys.spec.ts
  integration-tests/test/rpc.spec.ts
  integration-tests/test/shared/utils.ts
  packages/contracts/contracts/optimistic-ethereum/OVM/accounts/OVM_ECDSAContractAccount.sol
  packages/contracts/test/contracts/OVM/accounts/OVM_ECDSAContractAccount.spec.ts
Labels: 2-reviewers, A-contracts, A-integration-tests, M-contracts

#1065 feat[contracts]: slightly better account funding for hardhat accounts (rebased)
  .changeset/poor-owls-wash.md
  packages/contracts/deploy/014-OVM_L1MultiMessageRelayer.deploy.ts
  packages/contracts/deploy/018-fund-accounts.ts
  packages/contracts/package.json
Labels: 2-reviewers, A-contracts, M-contracts

#1054 Ensure Sentry is correctly set up for DTL and MR
  .changeset/modern-chicken-listen.md
  packages/batch-submitter/package.json
  packages/batch-submitter/src/exec/run-batch-submitter.ts
  packages/common-ts/src/base-service.ts
  packages/data-transport-layer/src/services/main/service.ts
  packages/data-transport-layer/src/services/server/service.ts
  packages/message-relayer/package.json
  packages/message-relayer/src/exec/run.ts
  packages/message-relayer/src/service.ts
  yarn.lock
Labels: 2-reviewers, A-ts-packages, M-batch-submitter, M-dtl

#1066 Add more logging information to monotonicity violation logs
  .changeset/weak-terms-worry.md
  packages/batch-submitter/src/batch-submitter/tx-batch-submitter.ts
Labels: 2-reviewers, A-ts-packages, M-batch-submitter

#1071 fix: temporarily disable hardhat example tests
  .github/workflows/integration.yml
Labels: 2-reviewers, A-ci

#1070 fix: monotonicity auto healer
  .changeset/slimy-snails-roll.md
  packages/batch-submitter/src/batch-submitter/tx-batch-submitter.ts
Labels: 2-reviewers, A-ts-packages, M-batch-submitter

#1073 fix: comment out CODEOWNERS
  .github/CODEOWNERS
Labels: 2-reviewers, A-ci

#1075 fix: use predeploy constant lib for em wrapper
  .changeset/lovely-suns-learn.md
  packages/contracts/contracts/optimistic-ethereum/libraries/constants/Lib_PredeployAddresses.sol
  packages/contracts/contracts/optimistic-ethereum/libraries/wrappers/Lib_ExecutionManagerWrapper.sol
Labels: 2-reviewers, A-contracts, M-contracts

#1082 fix[l2geth]: off-by-one sometimes breaking replica sync
  .changeset/lazy-toes-teach.md
  l2geth/miner/worker.go
  l2geth/rollup/sync_service.go
Labels: 2-reviewers, A-geth

#1080 Log 'end of OVM execution' correctly
  .changeset/ten-pumas-perform.md
  l2geth/core/vm/evm.go
Labels: 2-reviewers, A-geth

#1085 refactor[contracts]: move account contracts to predeploy folder
  .changeset/khaki-ads-kiss.md
  packages/contracts/contracts/optimistic-ethereum/OVM/predeploys/OVM_ECDSAContractAccount.sol
  packages/contracts/contracts/optimistic-ethereum/OVM/predeploys/OVM_ProxyEOA.sol
Labels: 2-reviewers, A-contracts, M-contracts

#1086 maintenance[contracts]: rename precompiles test folder to predeploys
  packages/contracts/test/contracts/OVM/predeploys/OVM_GasPriceOracle.spec.ts
  packages/contracts/test/contracts/OVM/predeploys/OVM_L1MessageSender.spec.ts
  packages/contracts/test/contracts/OVM/predeploys/OVM_L2ToL1MessagePasser.spec.ts
  packages/contracts/test/contracts/OVM/predeploys/OVM_SequencerEntrypoint.spec.ts
  packages/contracts/test/contracts/OVM/predeploys/OVM_SequencerFeeVault.spec.ts
Labels: 2-reviewers, A-contracts, M-contracts

#1051 fix[bs]: disambiguate generic submission errors
  .changeset/selfish-dryers-teach.md
  packages/batch-submitter/src/batch-submitter/batch-submitter.ts
  packages/batch-submitter/src/batch-submitter/tx-batch-submitter.ts
  packages/batch-submitter/src/exec/run-batch-submitter.ts
Labels: 2-reviewers, A-ts-packages, M-batch-submitter

#1083 WETH deposit and withdraw on OVM_ETH
  .changeset/fluffy-jobs-kiss.md
  integration-tests/test/native-eth.spec.ts
  packages/contracts/contracts/optimistic-ethereum/OVM/predeploys/OVM_ETH.sol
  packages/contracts/contracts/optimistic-ethereum/libraries/constants/Lib_PredeployAddresses.sol
  packages/contracts/contracts/optimistic-ethereum/libraries/standards/IWETH9.sol
Labels: 2-reviewers, A-contracts, A-integration-tests, M-contracts

#1087 Also move the accounts interface to iOVM/predeploys
  .changeset/hungry-pears-vanish.md
  packages/contracts/contracts/optimistic-ethereum/OVM/predeploys/OVM_ECDSAContractAccount.sol
  packages/contracts/contracts/optimistic-ethereum/OVM/predeploys/OVM_SequencerEntrypoint.sol
  packages/contracts/contracts/optimistic-ethereum/iOVM/predeploys/iOVM_ECDSAContractAccount.sol
Labels: 2-reviewers, A-contracts, M-contracts

#1074 metrics[batch-submitter]: add new batch submitter metrics
  .changeset/olive-planets-clean.md
  packages/batch-submitter/src/batch-submitter/batch-submitter.ts
  packages/batch-submitter/src/batch-submitter/tx-batch-submitter.ts
Labels: 2-reviewers, A-ts-packages, M-batch-submitter

#1093 Fix canary publishing
  .github/workflows/publish-canary.yml
Labels: 2-reviewers, A-ci

#1098 feat[ci]: upload logs for sync tests if failure
  .github/workflows/sync-tests.yml
Labels: 2-reviewers, A-ci

#1099 deploy: goerli 0.4.0
  .changeset/happy-cars-fix.md
  packages/contracts/deployments/README.md
  packages/contracts/deployments/goerli/Lib_AddressManager.json
  packages/contracts/deployments/goerli/OVM_CanonicalTransactionChain.json
  packages/contracts/deployments/goerli/OVM_ChainStorageContainer-CTC-batches.json
  packages/contracts/deployments/goerli/OVM_ChainStorageContainer-CTC-queue.json
  packages/contracts/deployments/goerli/OVM_ChainStorageContainer-SCC-batches.json
  packages/contracts/deployments/goerli/OVM_ExecutionManager.json
  packages/contracts/deployments/goerli/OVM_FraudVerifier.json
  packages/contracts/deployments/goerli/OVM_L1CrossDomainMessenger.json
  packages/contracts/deployments/goerli/OVM_L1MultiMessageRelayer.json
  packages/contracts/deployments/goerli/OVM_StateCommitmentChain.json
  packages/contracts/deployments/goerli/OVM_StateManagerFactory.json
  packages/contracts/deployments/goerli/OVM_StateTransitionerFactory.json
  packages/contracts/deployments/goerli/Proxy__OVM_L1CrossDomainMessenger.json
  packages/contracts/deployments/goerli/Proxy__OVM_L1StandardBridge.json
  packages/contracts/deployments/goerli/mockOVM_BondManager.json
  packages/contracts/deployments/goerli/solcInputs/7531d7762a77038a37e7490a7b4b176f.json
  packages/contracts/deployments/goerli/solcInputs/ef3f334bac4d7e77d91b457a0d89ab0a.json
Labels: 2-reviewers, A-contracts, M-contracts

#1084 fix[dtl]: defend against RPC provider missing events
  .changeset/brown-boxes-compete.md
  packages/data-transport-layer/src/services/l1-ingestion/handlers/errors.ts
  packages/data-transport-layer/src/services/l1-ingestion/handlers/sequencer-batch-appended.ts
  packages/data-transport-layer/src/services/l1-ingestion/handlers/state-batch-appended.ts
  packages/data-transport-layer/src/services/l1-ingestion/handlers/transaction-enqueued.ts
  packages/data-transport-layer/src/services/l1-ingestion/service.ts
Labels: 2-reviewers, A-ts-packages, M-dtl

#1101 deploy: kovan v.4.0 rc
  .changeset/itchy-bikes-flash.md
  packages/contracts/deployments/README.md
  packages/contracts/deployments/kovan/Lib_AddressManager.json
  packages/contracts/deployments/kovan/OVM_CanonicalTransactionChain.json
  packages/contracts/deployments/kovan/OVM_ChainStorageContainer-CTC-batches.json
  packages/contracts/deployments/kovan/OVM_ChainStorageContainer-CTC-queue.json
  packages/contracts/deployments/kovan/OVM_ChainStorageContainer-SCC-batches.json
  packages/contracts/deployments/kovan/OVM_ExecutionManager.json
  packages/contracts/deployments/kovan/OVM_FraudVerifier.json
  packages/contracts/deployments/kovan/OVM_L1CrossDomainMessenger.json
  packages/contracts/deployments/kovan/OVM_L1MultiMessageRelayer.json
  packages/contracts/deployments/kovan/OVM_StateCommitmentChain.json
  packages/contracts/deployments/kovan/OVM_StateManagerFactory.json
  packages/contracts/deployments/kovan/OVM_StateTransitionerFactory.json
  packages/contracts/deployments/kovan/Proxy__OVM_L1CrossDomainMessenger.json
  packages/contracts/deployments/kovan/Proxy__OVM_L1StandardBridge.json
  packages/contracts/deployments/kovan/mockOVM_BondManager.json
  packages/contracts/deployments/kovan/solcInputs/7531d7762a77038a37e7490a7b4b176f.json
  packages/contracts/deployments/kovan/solcInputs/ef3f334bac4d7e77d91b457a0d89ab0a.json
Labels: 2-reviewers, A-contracts, M-contracts

#1047 Move the metric prefix string to a label
  .changeset/sour-adults-worry.md
  packages/batch-submitter/src/exec/run-batch-submitter.ts
  packages/common-ts/src/common/metrics.ts
  packages/data-transport-layer/src/services/server/service.ts
Labels: 2-reviewers, A-ts-packages, M-batch-submitter, M-dtl

#1112 fix[smock]: add support for hardhat 2.4.0
  .changeset/nice-terms-walk.md
  packages/smock/package.json
  packages/smock/src/smockit/binding.ts
  yarn.lock
Labels: A-ts-packages, M-smock

#1122 fix[dtl]: use the same L2 chain ID everywhere
  .changeset/modern-pets-tie.md
  packages/data-transport-layer/src/services/l1-ingestion/service.ts
Labels: 2-reviewers, A-ts-packages, M-dtl

#1123 temp: make sync tests workflow dispatch only
  .github/workflows/sync-tests.yml
Labels: 2-reviewers, A-ci

#1134 fix[dtl]: remove old stringification function
  .changeset/gold-grapes-beg.md
  packages/data-transport-layer/src/db/transport-db.ts
Labels: 2-reviewers, A-ts-packages, M-dtl

#1133 fix[dtl]: log server errors as ERROR instead of INFO
  .changeset/lazy-foxes-jump.md
  packages/data-transport-layer/src/services/server/service.ts
Labels: 2-reviewers, A-ts-packages, M-dtl

#713 Contracts: connectL1Contracts & connectL2Contracts
  .changeset/fair-icons-argue.md
  ops/docker/Dockerfile.batch-submitter
  ops/docker/Dockerfile.data-transport-layer
  ops/docker/Dockerfile.message-relayer
  packages/contracts/src/connect-contracts.ts
  packages/contracts/src/contract-data.ts
  packages/contracts/src/index.ts
  packages/contracts/test/connect-contracts.spec.ts
  packages/contracts/tsconfig.json
Labels: 2-reviewers, A-contracts, C-enhancement, M-contracts, M-ops

#1135 fix: prevent overflow in abi encoding
  .changeset/happy-dancers-raise.md
  l2geth/core/state_transition_ovm.go
Labels: 2-reviewers, A-geth

#981 tests: replica syncing
  .changeset/tidy-rivers-press.md
  .github/workflows/sync-tests.yml
  integration-tests/sync-tests/1-sync-verifier.spec.ts
  integration-tests/sync-tests/2-sync-replica.spec.ts
  integration-tests/test/shared/docker-compose.ts
  integration-tests/test/shared/utils.ts
  ops/README.md
  ops/docker-compose.yml
  packages/data-transport-layer/src/services/l2-ingestion/service.ts
Labels: 2-reviewers, A-ci, A-integration-tests, A-ts-packages, M-dtl, M-ops

#1138 fix[relayer]: update exported files list in package.json
  .changeset/lazy-ghosts-shop.md
  packages/message-relayer/package.json
Labels: 2-reviewers, A-ts-packages

#1141 fix: import path
  .changeset/bright-turtles-juggle.md
  packages/contracts/src/contract-data.ts
Labels: 2-reviewers, A-contracts, M-contracts

#1120 refactor: improve logging for batch submission timeout scenarios
  .changeset/short-badgers-itch.md
  packages/batch-submitter/src/batch-submitter/batch-submitter.ts
Labels: 2-reviewers, A-ts-packages, M-batch-submitter

#1125 Add highest L1 and L2 block number Gauge metrics to DTL
  .changeset/rude-eels-count.md
  packages/data-transport-layer/package.json
  packages/data-transport-layer/src/services/l1-ingestion/service.ts
  packages/data-transport-layer/src/services/l2-ingestion/service.ts
  packages/data-transport-layer/src/services/main/service.ts
  packages/data-transport-layer/src/services/run.ts
  packages/data-transport-layer/src/services/server/service.ts
Labels: 2-reviewers, A-ts-packages, M-dtl

#1107 Improve Watcher ability to find transactions
  .changeset/tall-plums-behave.md
  package.json
  packages/core-utils/src/watcher.ts
Labels: A-ts-packages, M-core-utils

#1144 fix[contracts]: remove part of MultiMessageRelayer deployment
  .changeset/red-hornets-design.md
  packages/contracts/deploy/014-OVM_L1MultiMessageRelayer.deploy.ts
Labels: 2-reviewers, A-contracts, M-contracts

#1129 Define L1 Starting block via OwnershipTransferred rather than AddressSet
  .changeset/thirty-years-look.md
  packages/data-transport-layer/src/services/l1-ingestion/service.ts
Labels: 2-reviewers, A-ts-packages, M-dtl

#1121 Easy fix for broken watchers
  .changeset/old-wombats-tie.md
  packages/core-utils/src/watcher.ts
Labels: A-ts-packages, M-core-utils

#1147 feat[contracts]: add mainnet deploy script
  packages/contracts/scripts/deploy-scripts/mainnet.sh
Labels: 2-reviewers, A-contracts, M-contracts

#1136 feat: `rollup gasPrices` RPC endpoint
  .changeset/little-badgers-hammer.md
  integration-tests/test/rpc.spec.ts
  integration-tests/test/shared/env.ts
  l2geth/internal/ethapi/api.go
Labels: 2-reviewers, A-geth, A-integration-tests

#1151 Adds l2 standard bridge to contracts markdown file
  packages/contracts/deployments/README.md
  packages/contracts/scripts/generate-markdown.js
Labels: 2-reviewers, A-contracts, M-contracts

#1119 Remove references to L1 ETH Gateway in readme
  packages/contracts/deployments/README.md
  packages/contracts/deployments/kovan/OVM_L1ETHGateway.json
  packages/contracts/deployments/kovan/Proxy__OVM_L1ETHGateway.json
Labels: 2-reviewers, A-contracts, M-contracts

#1159 Adds delay to watcher
  .changeset/big-brooms-melt.md
  packages/core-utils/src/watcher.ts
Labels: A-ts-packages, M-core-utils

#1161 fix: bind dtl functions for missing event codepath
  .changeset/lovely-poems-cough.md
  packages/data-transport-layer/src/services/l1-ingestion/service.ts
  packages/data-transport-layer/src/services/main/service.ts
Labels: 2-reviewers, A-ts-packages, M-dtl

#1168 Bind correct object to method handler in DTL
  .changeset/spotty-garlics-kick.md
  packages/data-transport-layer/src/services/l1-ingestion/service.ts
Labels: 2-reviewers, A-ts-packages, M-dtl

#1171 Update deployments README.md
  packages/contracts/deployments/README.md
Labels: 2-reviewers, A-contracts, M-contracts

#1183 fix(contracts): prevent L2->L1 calls to system contracts
  .changeset/wicked-gifts-try.md
  packages/contracts/contracts/optimistic-ethereum/OVM/bridge/messaging/OVM_L1CrossDomainMessenger.sol
  packages/contracts/deployments/README.md
  packages/contracts/deployments/kovan/OVM_L1CrossDomainMessenger.json
  packages/contracts/deployments/kovan/solcInputs/4532a57dbcb505a79ddf510df0371b5f.json
  packages/contracts/deployments/mainnet/OVM_L1CrossDomainMessenger.json
  packages/contracts/deployments/mainnet/solcInputs/4532a57dbcb505a79ddf510df0371b5f.json
  packages/contracts/test/contracts/OVM/bridge/base/OVM_L1CrossDomainMessenger.spec.ts
Labels: 2-reviewers, A-contracts, M-contracts

#1187 refactor(integration): Add clarity to the expectApprox function signature
  .changeset/ninety-cheetahs-love.md
  integration-tests/test/native-eth.spec.ts
  integration-tests/test/rpc.spec.ts
  integration-tests/test/shared/utils.ts
Labels: A-integration-tests

#1189 github actions: bump geth CI golang version
  .github/workflows/geth.yml
  .github/workflows/integration.yml
  .github/workflows/publish-canary.yml
Labels: 2-reviewers, A-ci
