Repository ethereum-optimism/optimism, pull requests merged in 2021-10, with the labels that each got.

#1493 feat: rework msg sender for l1 to l2 messages
  .changeset/big-hotels-jump.md
  integration-tests/contracts/SimpleStorage.sol
  integration-tests/test/basic-l1-l2-communication.spec.ts
  integration-tests/test/queue-ingestion.spec.ts
  l2geth/accounts/abi/bind/backends/simulated.go
  l2geth/core/evm.go
  l2geth/core/state_processor.go
  l2geth/core/state_transition.go
  l2geth/core/types/transaction.go
  l2geth/core/vm/evm.go
  l2geth/core/vm/instructions.go
  l2geth/core/vm/jump_table.go
  l2geth/core/vm/opcodes.go
  l2geth/interfaces.go
  l2geth/internal/ethapi/api.go
  packages/contracts/contracts/L1/messaging/L1CrossDomainMessenger.sol
  packages/contracts/contracts/L1/rollup/CanonicalTransactionChain.sol
  packages/contracts/contracts/L2/messaging/L2CrossDomainMessenger.sol
  packages/contracts/contracts/L2/predeploys/iOVM_L1MessageSender.sol
  packages/contracts/contracts/standards/AddressAliasHelper.sol
  packages/contracts/contracts/test-libraries/standards/TestLib_AddressAliasHelper.sol
  packages/contracts/src/connect-contracts.ts
  packages/contracts/src/contract-data.ts
  packages/contracts/src/make-genesis.ts
  packages/contracts/src/predeploys.ts
  packages/contracts/test/contracts/L1/messaging/L1CrossDomainMessenger.spec.ts
  packages/contracts/test/contracts/L2/messaging/L2CrossDomainMessenger.spec.ts
  packages/contracts/test/contracts/libraries/standards/AddressAliasHelper.spec.ts
  packages/core-utils/src/alias.ts
  packages/core-utils/src/index.ts
  packages/core-utils/test/alias.spec.ts
Labels: M-core-utils, M-contracts, 2-reviewers, M-l2geth, M-integration

#1393 feat: use FallbackProvider in the DTL
  .changeset/eleven-moles-pull.md
  packages/core-utils/package.json
  packages/core-utils/src/index.ts
  packages/core-utils/src/provider.ts
  packages/data-transport-layer/src/services/l1-ingestion/service.ts
  packages/data-transport-layer/src/types/event-handler-types.ts
  packages/data-transport-layer/src/utils/contracts.ts
  yarn.lock
Labels: M-core-utils, M-dtl, 2-reviewers

#1508 l2geth: to execution manager run
  .changeset/dirty-beans-fold.md
  l2geth/core/state_transition_ovm.go
Labels: 2-reviewers, M-l2geth

#1509 Develop -> Master PR
  .changeset/dirty-beans-fold.md
  .changeset/eleven-moles-pull.md
  .changeset/olive-coins-run.md
  .changeset/real-tips-own.md
  .changeset/sharp-dancers-clap.md
  .changeset/yellow-windows-scream.md
  l2geth/core/state_transition_ovm.go
  packages/batch-submitter/src/batch-submitter/tx-batch-submitter.ts
  packages/batch-submitter/src/exec/run-batch-submitter.ts
  packages/batch-submitter/test/batch-submitter/batch-submitter.spec.ts
  packages/contracts/src/contract-deployment/config.ts
  packages/core-utils/package.json
  packages/core-utils/src/index.ts
  packages/core-utils/src/provider.ts
  packages/core-utils/src/watcher.ts
  packages/data-transport-layer/src/services/l1-ingestion/service.ts
  packages/data-transport-layer/src/types/event-handler-types.ts
  packages/data-transport-layer/src/utils/contracts.ts
  packages/message-relayer/src/relay-tx.ts
  packages/message-relayer/test/unit-tests/relay-tx.spec.ts
  specs/README.md
  yarn.lock
Labels: M-batch-submitter, M-core-utils, M-dtl, M-contracts, 2-reviewers, M-l2geth

#1512 Develop -> Master Release PR
  .changeset/dirty-beans-fold.md
  .changeset/eleven-moles-pull.md
  .changeset/olive-coins-run.md
  .changeset/real-tips-own.md
  .changeset/sharp-dancers-clap.md
  .changeset/yellow-windows-scream.md
  integration-tests/package.json
  l2geth/CHANGELOG.md
  l2geth/package.json
  packages/batch-submitter/CHANGELOG.md
  packages/batch-submitter/package.json
  packages/contracts/CHANGELOG.md
  packages/contracts/package.json
  packages/core-utils/CHANGELOG.md
  packages/core-utils/package.json
  packages/data-transport-layer/CHANGELOG.md
  packages/data-transport-layer/package.json
  packages/message-relayer/CHANGELOG.md
  packages/message-relayer/package.json
  packages/replica-healthcheck/CHANGELOG.md
  packages/replica-healthcheck/package.json
Labels: M-batch-submitter, M-core-utils, M-dtl, M-contracts, 2-reviewers, M-l2geth, M-integration

#1513 feat: remove onlyRelayer modifier
  .changeset/tender-bees-jump.md
  packages/contracts/contracts/L1/messaging/L1CrossDomainMessenger.sol
  packages/contracts/test/contracts/L1/messaging/L1CrossDomainMessenger.spec.ts
  packages/message-relayer/src/service.ts
Labels: M-contracts, 2-reviewers

#1521 fix: canary publish
  .github/workflows/publish-canary.yml
Labels: 2-reviewers, M-ci

#1519 contracts: add precompiles to make genesis
  .changeset/cool-roses-appear.md
  .changeset/tasty-frogs-smash.md
  packages/contracts/src/make-genesis.ts
  packages/core-utils/src/alias.ts
Labels: M-core-utils, M-contracts, 2-reviewers

#1522 ci: fix canary build for publishing gpo
  .github/workflows/publish-canary.yml
Labels: 2-reviewers, M-ci

#1523 feat: add git commit hash to genesis file
  .changeset/good-tigers-explain.md
  packages/batch-submitter/test/batch-submitter/batch-submitter.spec.ts
  packages/contracts/src/make-genesis.ts
Labels: M-batch-submitter, M-contracts, 2-reviewers

#1524 ops: add .git folder to docker setup
  .dockerignore
  ops/docker/Dockerfile.deployer
  ops/docker/Dockerfile.monorepo
Labels: M-ops, 2-reviewers

#1498 Improve expectApprox to allow setting bounds based on absolute values
  .changeset/red-birds-kick.md
  integration-tests/test/native-eth.spec.ts
  integration-tests/test/rpc.spec.ts
  packages/contracts/test/contracts/L1/messaging/deposit.gas.spec.ts
  packages/contracts/test/contracts/L1/rollup/CanonicalTransactionChain.gas.spec.ts
  packages/core-utils/src/common/test-utils.ts
  packages/core-utils/test/common/test-utils.spec.ts
Labels: M-core-utils, M-contracts, 2-reviewers, M-integration

#1526 ops: remove git dir from deployer docker image
  ops/docker/Dockerfile.deployer
Labels: M-ops, 2-reviewers

#1520 feat: cleanup deployment process
  .changeset/dull-shirts-develop.md
  packages/contracts/deploy/000-Lib_AddressManager.deploy.ts
  packages/contracts/deploy/006-OVM_BondManager.deploy.ts
  packages/contracts/deploy/007-OVM_L1CrossDomainMessenger.deploy.ts
  packages/contracts/deploy/008-Proxy__OVM_L1CrossDomainMessenger.deploy.ts
  packages/contracts/deploy/009-Proxy__OVM_L1StandardBridge.deploy.ts
  packages/contracts/deploy/010-finalize.ts
  packages/contracts/src/hardhat-deploy-ethers.ts
  packages/core-utils/src/common/hex-strings.ts
Labels: M-core-utils, M-contracts, 2-reviewers

#1515 contracts: add goerli genesis script
  packages/contracts/bin/take-dump.ts
  packages/contracts/scripts/deploy-scripts/goerli-genesis.sh
Labels: M-contracts, 2-reviewers

#1527 goerli: devnet deployment
  packages/contracts/deploy/009-Proxy__OVM_L1StandardBridge.deploy.ts
  packages/contracts/deployments/README.md
  packages/contracts/deployments/goerli/BondManager.json
  packages/contracts/deployments/goerli/CanonicalTransactionChain.json
  packages/contracts/deployments/goerli/ChainStorageContainer-CTC-batches.json
  packages/contracts/deployments/goerli/ChainStorageContainer-CTC-queue.json
  packages/contracts/deployments/goerli/ChainStorageContainer-SCC-batches.json
  packages/contracts/deployments/goerli/L1CrossDomainMessenger.json
  packages/contracts/deployments/goerli/Lib_AddressManager.json
  packages/contracts/deployments/goerli/OVM_CanonicalTransactionChain.json
  packages/contracts/deployments/goerli/OVM_ChainStorageContainer-CTC-batches.json
  packages/contracts/deployments/goerli/OVM_ChainStorageContainer-CTC-queue.json
  packages/contracts/deployments/goerli/OVM_ChainStorageContainer-SCC-batches.json
  packages/contracts/deployments/goerli/OVM_ExecutionManager.json
  packages/contracts/deployments/goerli/OVM_FraudVerifier.json
  packages/contracts/deployments/goerli/OVM_L1CrossDomainMessenger.json
  packages/contracts/deployments/goerli/OVM_L1ETHGateway.json
  packages/contracts/deployments/goerli/OVM_L1MultiMessageRelayer.json
  packages/contracts/deployments/goerli/OVM_SafetyChecker.json
  packages/contracts/deployments/goerli/OVM_StateCommitmentChain.json
  packages/contracts/deployments/goerli/OVM_StateManagerFactory.json
  packages/contracts/deployments/goerli/OVM_StateTransitionerFactory.json
  packages/contracts/deployments/goerli/Proxy__L1CrossDomainMessenger.json
  packages/contracts/deployments/goerli/Proxy__L1StandardBridge.json
  packages/contracts/deployments/goerli/Proxy__OVM_L1CrossDomainMessenger.json
  packages/contracts/deployments/goerli/Proxy__OVM_L1ETHGateway.json
  packages/contracts/deployments/goerli/Proxy__OVM_L1StandardBridge.json
  packages/contracts/deployments/goerli/StateCommitmentChain.json
  packages/contracts/deployments/goerli/mockOVM_BondManager.json
  packages/contracts/deployments/goerli/solcInputs/0688a9ac0c7cbca876232a3281bda510.json
  packages/contracts/deployments/goerli/solcInputs/7531d7762a77038a37e7490a7b4b176f.json
  packages/contracts/deployments/goerli/solcInputs/dde656dd41f49cad9eac9bc7065fd6a7.json
  packages/contracts/deployments/goerli/solcInputs/ef3f334bac4d7e77d91b457a0d89ab0a.json
  packages/contracts/deployments/goerli/solcInputs/fafd665d872703a6dab6b13999780370.json
  packages/contracts/deployments/optimistic-kovan/.chainId
  packages/contracts/deployments/optimistic-kovan/OVM_GasPriceOracle.json
  packages/contracts/deployments/optimistic-kovan/OVM_L2StandardTokenFactory.json
  packages/contracts/scripts/deploy-scripts/goerli-genesis.sh
  packages/contracts/scripts/deploy-scripts/goerli.sh
  packages/contracts/src/hardhat-deploy-ethers.ts
Labels: M-contracts, 2-reviewers

#1653 workflows: fix build-args syntax
  .github/workflows/publish-canary.yml
  .github/workflows/release.yml
Labels: 2-reviewers, M-ci

#1654 Develop -> Master
  .changeset/tiny-books-peel.md
  .github/workflows/publish-canary.yml
  .github/workflows/release.yml
  go/proxyd/go.mod
  go/proxyd/go.sum
  go/proxyd/server.go
Labels: 2-reviewers, M-ci

#1656 Develop -> Master Release PR
  .changeset/hip-penguins-camp.md
  .changeset/smart-crabs-jump.md
  .changeset/tiny-books-peel.md
  .changeset/witty-dingos-confess.md
  go/proxyd/CHANGELOG.md
  go/proxyd/package.json
  integration-tests/CHANGELOG.md
  integration-tests/package.json
  ops/docker/rpc-proxy/CHANGELOG.md
  ops/docker/rpc-proxy/package.json
  packages/batch-submitter/CHANGELOG.md
  packages/batch-submitter/package.json
  packages/common-ts/CHANGELOG.md
  packages/common-ts/package.json
  packages/contracts/CHANGELOG.md
  packages/contracts/package.json
  packages/core-utils/CHANGELOG.md
  packages/core-utils/package.json
  packages/data-transport-layer/CHANGELOG.md
  packages/data-transport-layer/package.json
  packages/hardhat-ovm/CHANGELOG.md
  packages/hardhat-ovm/package.json
  packages/message-relayer/CHANGELOG.md
  packages/message-relayer/package.json
  packages/replica-healthcheck/CHANGELOG.md
  packages/replica-healthcheck/package.json
  specs/CHANGELOG.md
  specs/package.json
Labels: M-batch-submitter, M-core-utils, M-dtl, M-ops, M-contracts, 2-reviewers, M-integration, M-hardhat-ovm
