Repository ethereum-optimism/optimism, pull requests merged in 2021-07, with the labels that each got.

#1203 fix: update statement for skipping codechecks
  .github/workflows/ts-packages.yml
Labels: 2-reviewers, A-ci

#1199 docker: pin to alpine 3.13 for l2geth
  ops/docker/Dockerfile.geth
Labels: 2-reviewers, M-ops

#1196 Removed unused functions from core utils
  .changeset/real-snails-allow.md
  packages/core-utils/src/coders/sequencer-batch.ts
  packages/core-utils/src/common/addresses.ts
  packages/core-utils/src/common/common.ts
  packages/core-utils/src/common/hex-strings.ts
  packages/core-utils/src/common/index.ts
  packages/core-utils/src/fees.ts
  packages/core-utils/test/common/addresses.spec.ts
  packages/core-utils/test/common/hex-utils.spec.ts
  packages/core-utils/test/fees/fees.spec.ts
  packages/data-transport-layer/src/services/l1-ingestion/service.ts
Labels: 2-reviewers, A-ts-packages, M-core-utils, M-dtl

#1033 Add contracts linting
  .github/workflows/ts-packages.yml
  packages/batch-submitter/test/helpers/constants.ts
  packages/contracts/.solhint.json
  packages/contracts/.solhintignore
  packages/contracts/contracts/optimistic-ethereum/OVM/bridge/messaging/OVM_L1CrossDomainMessenger.sol
  packages/contracts/contracts/optimistic-ethereum/OVM/bridge/messaging/OVM_L1MultiMessageRelayer.sol
  packages/contracts/contracts/optimistic-ethereum/OVM/bridge/messaging/OVM_L2CrossDomainMessenger.sol
  packages/contracts/contracts/optimistic-ethereum/OVM/bridge/tokens/OVM_L1StandardBridge.sol
  packages/contracts/contracts/optimistic-ethereum/OVM/bridge/tokens/OVM_L2StandardBridge.sol
  packages/contracts/contracts/optimistic-ethereum/OVM/chain/OVM_CanonicalTransactionChain.sol
  packages/contracts/contracts/optimistic-ethereum/OVM/chain/OVM_ChainStorageContainer.sol
  packages/contracts/contracts/optimistic-ethereum/OVM/chain/OVM_StateCommitmentChain.sol
  packages/contracts/contracts/optimistic-ethereum/OVM/execution/OVM_ExecutionManager.sol
  packages/contracts/contracts/optimistic-ethereum/OVM/execution/OVM_SafetyChecker.sol
  packages/contracts/contracts/optimistic-ethereum/OVM/execution/OVM_StateManager.sol
  packages/contracts/contracts/optimistic-ethereum/OVM/predeploys/ERC1820Registry.sol
  packages/contracts/contracts/optimistic-ethereum/OVM/predeploys/OVM_ECDSAContractAccount.sol
  packages/contracts/contracts/optimistic-ethereum/OVM/predeploys/OVM_ETH.sol
  packages/contracts/contracts/optimistic-ethereum/OVM/predeploys/OVM_L2ToL1MessagePasser.sol
  packages/contracts/contracts/optimistic-ethereum/OVM/predeploys/OVM_ProxyEOA.sol
  packages/contracts/contracts/optimistic-ethereum/OVM/predeploys/OVM_SequencerEntrypoint.sol
  packages/contracts/contracts/optimistic-ethereum/OVM/predeploys/OVM_SequencerFeeVault.sol
  packages/contracts/contracts/optimistic-ethereum/OVM/verification/Abs_FraudContributor.sol
  packages/contracts/contracts/optimistic-ethereum/OVM/verification/OVM_BondManager.sol
  packages/contracts/contracts/optimistic-ethereum/OVM/verification/OVM_FraudVerifier.sol
  packages/contracts/contracts/optimistic-ethereum/OVM/verification/OVM_StateTransitioner.sol
  packages/contracts/contracts/optimistic-ethereum/OVM/verification/OVM_StateTransitionerFactory.sol
  packages/contracts/contracts/optimistic-ethereum/iOVM/bridge/messaging/iOVM_L1MultiMessageRelayer.sol
  packages/contracts/contracts/optimistic-ethereum/iOVM/bridge/tokens/iOVM_L1StandardBridge.sol
  packages/contracts/contracts/optimistic-ethereum/iOVM/bridge/tokens/iOVM_L2ERC20Bridge.sol
  packages/contracts/contracts/optimistic-ethereum/iOVM/execution/iOVM_ExecutionManager.sol
  packages/contracts/contracts/optimistic-ethereum/iOVM/execution/iOVM_StateManager.sol
  packages/contracts/contracts/optimistic-ethereum/iOVM/verification/iOVM_BondManager.sol
  packages/contracts/contracts/optimistic-ethereum/iOVM/verification/iOVM_FraudVerifier.sol
  packages/contracts/contracts/optimistic-ethereum/libraries/bridge/OVM_CrossDomainEnabled.sol
  packages/contracts/contracts/optimistic-ethereum/libraries/codec/Lib_EIP155Tx.sol
  packages/contracts/contracts/optimistic-ethereum/libraries/constants/Lib_PredeployAddresses.sol
  packages/contracts/contracts/optimistic-ethereum/libraries/standards/IWETH9.sol
  packages/contracts/contracts/optimistic-ethereum/libraries/standards/L2StandardERC20.sol
  packages/contracts/contracts/optimistic-ethereum/libraries/trie/Lib_MerkleTrie.sol
  packages/contracts/contracts/optimistic-ethereum/libraries/utils/Lib_Buffer.sol
  packages/contracts/contracts/optimistic-ethereum/libraries/utils/Lib_BytesUtils.sol
  packages/contracts/contracts/optimistic-ethereum/libraries/utils/Lib_ErrorUtils.sol
  packages/contracts/contracts/optimistic-ethereum/libraries/utils/Lib_MerkleTree.sol
  packages/contracts/contracts/optimistic-ethereum/libraries/wrappers/Lib_ExecutionManagerWrapper.sol
  packages/contracts/hardhat.config.ts
  packages/contracts/package.json
  packages/contracts/test/helpers/constants.ts
  packages/smock/src/smockit/binding.ts
  yarn.lock
Labels: 2-reviewers, A-ci, A-contracts, M-batch-submitter, M-contracts, M-smock

#1215 dtl: configurable gas price backend
  .changeset/ninety-dryers-brush.md
  packages/data-transport-layer/README.md
  packages/data-transport-layer/src/services/main/service.ts
  packages/data-transport-layer/src/services/run.ts
  packages/data-transport-layer/src/services/server/service.ts
Labels: 2-reviewers, A-ts-packages, M-dtl

#1213 fix: lint deploy-l2 folder in contracts
  packages/contracts/deploy-l2/000-OVM_L2StandardTokenFactory.deploy.ts
Labels: 2-reviewers, A-contracts, M-contracts

#1206 fix: update CI to avoid running out of memory
  .github/workflows/integration.yml
  ops/scripts/stats.sh
Labels: 2-reviewers, A-ci, M-ops

#1137 feat[integration-tests]: make integration tests work against production networks
  .changeset/clean-crabs-wash.md
  integration-tests/.env.example
  integration-tests/README.md
  integration-tests/hardhat.config.ts
  integration-tests/package.json
  integration-tests/test/basic-l1-l2-communication.spec.ts
  integration-tests/test/fee-payment.spec.ts
  integration-tests/test/native-eth.spec.ts
  integration-tests/test/ovmcontext.spec.ts
  integration-tests/test/queue-ingestion.spec.ts
  integration-tests/test/rpc.spec.ts
  integration-tests/test/shared/env.ts
  integration-tests/test/shared/utils.ts
  ops/docker/Dockerfile.integration-tests
  yarn.lock
Labels: 2-reviewers, A-integration-tests, M-ops

#1216 Increase client_body_buffer_size for rpc-proxy
  ops/docker/rpc-proxy/nginx.template.conf
Labels: 2-reviewers, M-ops

#1224 l2geth: use `hexutil.Big` to prevent overflows
  .changeset/many-dots-know.md
  l2geth/rollup/client.go
  l2geth/rollup/client_test.go
Labels: 2-reviewers, A-geth

#1210 Add op_exporter for sequencer metrics and health endpoint
  .github/workflows/release.yml
  go/op_exporter/.gitignore
  go/op_exporter/Makefile
  go/op_exporter/README.md
  go/op_exporter/collector.go
  go/op_exporter/go.mod
  go/op_exporter/go.sum
  go/op_exporter/main.go
  go/op_exporter/rpc.go
  go/op_exporter/version/version.go
  ops/docker/Dockerfile.op_exporter
Labels: 2-reviewers, A-ci, M-ops

#1209 ci(contracts): only run codecov if contracts package is modified
  .github/workflows/ts-packages.yml
Labels: 2-reviewers, A-ci

#1225 Merge develop to master
  .changeset/clean-crabs-wash.md
  .changeset/many-dots-know.md
  .github/workflows/release.yml
  .github/workflows/ts-packages.yml
  go/op_exporter/.gitignore
  go/op_exporter/Makefile
  go/op_exporter/README.md
  go/op_exporter/collector.go
  go/op_exporter/go.mod
  go/op_exporter/go.sum
  go/op_exporter/main.go
  go/op_exporter/rpc.go
  go/op_exporter/version/version.go
  integration-tests/.env.example
  integration-tests/README.md
  integration-tests/hardhat.config.ts
  integration-tests/package.json
  integration-tests/test/basic-l1-l2-communication.spec.ts
  integration-tests/test/fee-payment.spec.ts
  integration-tests/test/native-eth.spec.ts
  integration-tests/test/ovmcontext.spec.ts
  integration-tests/test/queue-ingestion.spec.ts
  integration-tests/test/rpc.spec.ts
  integration-tests/test/shared/env.ts
  integration-tests/test/shared/utils.ts
  l2geth/rollup/client.go
  l2geth/rollup/client_test.go
  ops/docker/Dockerfile.integration-tests
  ops/docker/Dockerfile.op_exporter
  ops/docker/rpc-proxy/nginx.template.conf
  yarn.lock
Labels: 2-reviewers, A-ci, A-geth, A-integration-tests, M-ops

#1231 chore(ci): Skip check files job on push events
  .github/workflows/ts-packages.yml
Labels: 2-reviewers, A-ci

#1185 feat: add workflow for running SNX test suite
  .github/workflows/ext-test-snx.yml
  integration-tests/ext-test/snx.sh
Labels: 2-reviewers, A-ci, A-integration-tests

#1102 contracts: add set-l2-gasprice task
  .changeset/big-bags-grow.md
  packages/contracts/hardhat.config.ts
  packages/contracts/tasks/l2-gasprice.ts
Labels: 2-reviewers, A-contracts, M-contracts

#1103 feat[geth]: add gas pricer for congestion fees
  .changeset/three-rockets-design.md
  .dockerignore
  .github/workflows/gas-oracle.yml
  .github/workflows/golangci-lint.yml
  .github/workflows/release.yml
  go/gas-oracle/.gitignore
  go/gas-oracle/Makefile
  go/gas-oracle/README.md
  go/gas-oracle/abis/OVM_GasPriceOracle.json
  go/gas-oracle/bindings/gaspriceoracle.go
  go/gas-oracle/flags/flags.go
  go/gas-oracle/gasprices/gas_price_updater.go
  go/gas-oracle/gasprices/gas_price_updater_test.go
  go/gas-oracle/gasprices/l2_gas_pricer.go
  go/gas-oracle/gasprices/l2_gas_pricer_test.go
  go/gas-oracle/go.mod
  go/gas-oracle/go.sum
  go/gas-oracle/main.go
  go/gas-oracle/metrics/handler.go
  go/gas-oracle/oracle/config.go
  go/gas-oracle/oracle/gas_price_oracle.go
  go/gas-oracle/oracle/updater_interface.go
  go/gas-oracle/oracle/updater_interface_test.go
  go/gas-oracle/package.json
  ops/docker-compose.yml
  ops/docker/Dockerfile.gas-oracle
  ops/envs/geth.env
  ops/scripts/gas-oracle.sh
  package.json
Labels: 2-reviewers, A-ci, M-ops

#1237 Develop To Master PR
  .changeset/big-bags-grow.md
  .changeset/three-rockets-design.md
  .dockerignore
  .github/workflows/ext-test-snx.yml
  .github/workflows/gas-oracle.yml
  .github/workflows/golangci-lint.yml
  .github/workflows/release.yml
  .github/workflows/ts-packages.yml
  go/gas-oracle/.gitignore
  go/gas-oracle/Makefile
  go/gas-oracle/README.md
  go/gas-oracle/abis/OVM_GasPriceOracle.json
  go/gas-oracle/bindings/gaspriceoracle.go
  go/gas-oracle/flags/flags.go
  go/gas-oracle/gasprices/gas_price_updater.go
  go/gas-oracle/gasprices/gas_price_updater_test.go
  go/gas-oracle/gasprices/l2_gas_pricer.go
  go/gas-oracle/gasprices/l2_gas_pricer_test.go
  go/gas-oracle/go.mod
  go/gas-oracle/go.sum
  go/gas-oracle/main.go
  go/gas-oracle/metrics/handler.go
  go/gas-oracle/oracle/config.go
  go/gas-oracle/oracle/gas_price_oracle.go
  go/gas-oracle/oracle/updater_interface.go
  go/gas-oracle/oracle/updater_interface_test.go
  go/gas-oracle/package.json
  integration-tests/ext-test/snx.sh
  ops/docker-compose.yml
  ops/docker/Dockerfile.gas-oracle
  ops/envs/geth.env
  ops/scripts/gas-oracle.sh
  package.json
  packages/contracts/hardhat.config.ts
  packages/contracts/tasks/l2-gasprice.ts
Labels: 2-reviewers, A-ci, A-contracts, A-integration-tests, M-contracts, M-ops

#1219 ci: release latest image tags on release
  .github/workflows/release.yml
Labels: 2-reviewers, A-ci

#971 feat[integration-tests]: add basic stress tests
  .changeset/rich-jars-kick.md
  integration-tests/contracts/SimpleStorage.sol
  integration-tests/test/shared/env.ts
  integration-tests/test/shared/stress-test-helpers.ts
  integration-tests/test/stress-tests.spec.ts
Labels: A-integration-tests

#1239 l2geth: sequencer fee buffer
  .changeset/slimy-experts-travel.md
  l2geth/cmd/geth/main.go
  l2geth/cmd/geth/usage.go
  l2geth/cmd/utils/flags.go
  l2geth/rollup/config.go
  l2geth/rollup/fees/rollup_fee.go
  l2geth/rollup/fees/rollup_fee_test.go
  l2geth/rollup/sync_service.go
  l2geth/rollup/sync_service_test.go
Labels: 2-reviewers, A-geth

#1241 l2geth: allow 0 gasprice txs for `OVM_GasPriceOracle.owner`
  .changeset/forty-pigs-study.md
  l2geth/rollup/sync_service.go
  l2geth/rollup/sync_service_test.go
Labels: 2-reviewers, A-geth

#1248 Develop -> Master Merge
  .changeset/big-bags-grow.md
  .changeset/forty-pigs-study.md
  .changeset/rich-jars-kick.md
  .changeset/slimy-experts-travel.md
  .changeset/three-rockets-design.md
  go/gas-oracle/CHANGELOG.md
  go/gas-oracle/package.json
  integration-tests/CHANGELOG.md
  integration-tests/package.json
  l2geth/cmd/geth/main.go
  l2geth/cmd/geth/usage.go
  l2geth/cmd/utils/flags.go
  l2geth/rollup/config.go
  l2geth/rollup/fees/rollup_fee.go
  l2geth/rollup/fees/rollup_fee_test.go
  l2geth/rollup/sync_service.go
  l2geth/rollup/sync_service_test.go
  packages/contracts/CHANGELOG.md
  packages/contracts/package.json
Labels: 2-reviewers, A-contracts, A-geth, A-integration-tests, M-contracts

#1251 ci: handle gas-oracle latest image, skip builder
  .github/workflows/release.yml
  ops/scripts/ci-versions.js
Labels: 2-reviewers, A-ci, M-ops

#1252 contracts: lint the tasks directory
  .changeset/plenty-walls-compare.md
  packages/contracts/tasks/l2-gasprice.ts
Labels: 2-reviewers, A-contracts, M-contracts

#1250 Develop -> Master
  .changeset/forty-pigs-study.md
  .changeset/plenty-walls-compare.md
  .changeset/slimy-experts-travel.md
  .github/workflows/release.yml
  l2geth/CHANGELOG.md
  l2geth/package.json
  ops/scripts/ci-versions.js
  packages/contracts/tasks/l2-gasprice.ts
Labels: 2-reviewers, A-ci, A-contracts, A-geth, M-contracts, M-ops

#1254 Merge develop into master
  .changeset/plenty-walls-compare.md
  packages/contracts/CHANGELOG.md
  packages/contracts/package.json
Labels: 2-reviewers, A-contracts, M-contracts

#1247 maintance[smock]: add test and docs for returning multiple arrays
  .changeset/wise-mails-laugh.md
  packages/smock/README.md
  packages/smock/test/contracts/TestHelpers_BasicReturnContract.sol
  packages/smock/test/smockit/function-manipulation.spec.ts
Labels: A-ts-packages, M-smock

#1198 Dynamically generate predeploy contracts markdown
  packages/contracts/deployments/README.md
  packages/contracts/scripts/generate-markdown.js
Labels: 2-reviewers, A-contracts, M-contracts

#1257 l2geth: only accept txs with exact nonce
  .changeset/tidy-swans-mate.md
  l2geth/core/tx_pool.go
Labels: 2-reviewers, A-geth

#1263 l2geth: fix bad flag parsing
  .changeset/six-cobras-fold.md
  l2geth/cmd/utils/flags.go
Labels: 2-reviewers, A-geth

#1262 Develop -> Master PR
  .changeset/kind-hotels-turn.md
  .changeset/six-cobras-fold.md
  .changeset/tidy-swans-mate.md
  .changeset/wise-mails-laugh.md
  go/gas-oracle/gasprices/l2_gas_pricer.go
  l2geth/cmd/utils/flags.go
  l2geth/core/tx_pool.go
  packages/contracts/deployments/README.md
  packages/contracts/scripts/generate-markdown.js
  packages/smock/README.md
  packages/smock/test/contracts/TestHelpers_BasicReturnContract.sol
  packages/smock/test/smockit/function-manipulation.spec.ts
Labels: 2-reviewers, A-contracts, A-geth, M-contracts, M-smock

#1265 Develop -> Master Release PR
  .changeset/kind-hotels-turn.md
  .changeset/six-cobras-fold.md
  .changeset/tidy-swans-mate.md
  .changeset/wise-mails-laugh.md
  go/gas-oracle/CHANGELOG.md
  go/gas-oracle/package.json
  l2geth/CHANGELOG.md
  l2geth/package.json
  packages/smock/CHANGELOG.md
  packages/smock/package.json
Labels: 2-reviewers, A-geth, A-ts-packages, M-smock

#1256 l2geth: better error message for when fee is too large
  .changeset/cool-birds-rescue.md
  l2geth/rollup/sync_service.go
Labels: 2-reviewers, A-geth

#1266 l2geth: prevent too low of fees from getting through
  .changeset/dry-chairs-watch.md
  l2geth/rollup/fees/rollup_fee.go
  l2geth/rollup/fees/rollup_fee_test.go
  l2geth/rollup/sync_service.go
Labels: 2-reviewers, A-geth

#1270 Develop -> Master PR
  .changeset/cool-birds-rescue.md
  .changeset/dry-chairs-watch.md
  .changeset/stupid-socks-build.md
  l2geth/rollup/fees/rollup_fee.go
  l2geth/rollup/fees/rollup_fee_test.go
  l2geth/rollup/sync_service.go
  package.json
  yarn.lock
Labels: 2-reviewers, A-geth

#1272 Develop -> Master Release PR
  .changeset/cool-birds-rescue.md
  .changeset/dry-chairs-watch.md
  .changeset/stupid-socks-build.md
  integration-tests/CHANGELOG.md
  integration-tests/package.json
  l2geth/CHANGELOG.md
  l2geth/package.json
  packages/batch-submitter/CHANGELOG.md
  packages/batch-submitter/package.json
  packages/common-ts/CHANGELOG.md
  packages/common-ts/package.json
  packages/contracts/CHANGELOG.md
  packages/contracts/package.json
  packages/core-utils/CHANGELOG.md
  packages/core-utils/package.json
  packages/data-transport-layer/CHANGELOG.md
  packages/data-transport-layer/package.json
  packages/message-relayer/CHANGELOG.md
  packages/message-relayer/package.json
  packages/smock/CHANGELOG.md
  packages/smock/package.json
Labels: 2-reviewers, A-contracts, A-geth, A-integration-tests, M-batch-submitter, M-contracts, M-core-utils, M-dtl, M-smock

#1268 feat: set gpo task
  .changeset/thirty-eagles-reply.md
  packages/contracts/hardhat.config.ts
  packages/contracts/package.json
  packages/contracts/tasks/set-owner.ts
  yarn.lock
Labels: 2-reviewers, A-contracts, M-contracts

#1273 Make it possible to override mint & burn methods in L2StandardERC20
  .changeset/olive-chicken-heal.md
  packages/contracts/contracts/optimistic-ethereum/libraries/standards/L2StandardERC20.sol
Labels: 2-reviewers, A-contracts, M-contracts

#1278 Upgrade codechecks fix
  .github/workflows/ts-packages.yml
  package.json
  yarn.lock
Labels: 2-reviewers, A-ci

#1285 fix(l2geth): revert rpcGasCap logic to upstream geth behavior
  .changeset/nasty-tools-wink.md
  l2geth/internal/ethapi/api.go
Labels: 2-reviewers, A-geth

#1284 Add logging advice to /ops/README.md to avoid disk exhaustion problems
  ops/README.md
Labels: 2-reviewers, M-ops

#1282 fix[smock]: add naive support for packed storage slots
  .changeset/loud-rings-beg.md
  packages/smock/src/smoddit/storage.ts
  packages/smock/test/contracts/SimpleStorageGetter.sol
  packages/smock/test/smoddit/smoddit.spec.ts
Labels: A-ts-packages, M-smock

#1295 Develop -> Master Release PR
  .changeset/loud-rings-beg.md
  .changeset/nasty-tools-wink.md
  .changeset/olive-chicken-heal.md
  .changeset/thirty-eagles-reply.md
  l2geth/CHANGELOG.md
  l2geth/package.json
  packages/contracts/CHANGELOG.md
  packages/contracts/package.json
  packages/smock/CHANGELOG.md
  packages/smock/package.json
Labels: 2-reviewers, A-contracts, A-geth, M-contracts, M-smock

#1292 l2geth: fee too high error message
  .changeset/nervous-donuts-laugh.md
  l2geth/rollup/sync_service.go
Labels: 2-reviewers, A-geth

#1303 l2geth: make block hashes deterministic
  .changeset/wet-foxes-collect.md
  l2geth/eth/backend.go
Labels: 2-reviewers, A-geth
