Repository ethereum-optimism/optimism, pull requests merged in 2021-05, with the labels that each got.

#739 feat: Add ChugSplash config parsing via Handlebars
  packages/contracts/package.json
  packages/contracts/src/chugsplash/config.ts
  packages/contracts/src/chugsplash/index.ts
  packages/contracts/src/index.ts
  packages/contracts/test/chugsplash/config.spec.ts
  yarn.lock
Labels: A-contracts, C-enhancement

#716 feat[contracts]: Add storage slot parsing functions for chugsplash
  packages/contracts/contracts/test-helpers/Helper_StorageHelper.sol
  packages/contracts/package.json
  packages/contracts/src/chugsplash/index.ts
  packages/contracts/src/chugsplash/storage.ts
  packages/contracts/test/chugsplash/storage.spec.ts
Labels: A-contracts, C-enhancement

#719 feat[contracts]: ChugSplash action bundling logic
  packages/contracts/contracts/test-helpers/Helper_ChugSplashMock.sol
  packages/contracts/src/chugsplash/actions.ts
  packages/contracts/src/chugsplash/index.ts
  packages/contracts/test/chugsplash/actions.spec.ts
Labels: A-contracts, C-enhancement

#772 fix[contracts]: Remove verifyExclusionProof
  .changeset/thin-horses-change.md
  packages/contracts/contracts/optimistic-ethereum/libraries/trie/Lib_MerkleTrie.sol
  packages/contracts/contracts/optimistic-ethereum/libraries/trie/Lib_SecureMerkleTrie.sol
  packages/contracts/contracts/test-libraries/trie/TestLib_MerkleTrie.sol
  packages/contracts/contracts/test-libraries/trie/TestLib_SecureMerkleTrie.sol
Labels: A-contracts, C-maintenance

#780 fix[contracts]: Reduce npm package size
  .changeset/thirty-planets-obey.md
  packages/contracts/package.json
Labels: A-contracts, C-maintenance

#794 chore: Explicitly add tslint and plugins to deps of every package
  packages/batch-submitter/package.json
  packages/common-ts/package.json
  packages/contracts/package.json
  packages/core-utils/package.json
  packages/data-transport-layer/package.json
  packages/hardhat-ovm/package.json
  packages/message-relayer/package.json
  packages/smock/package.json
  yarn.lock
Labels: A-ci, C-maintenance

#783 tests[contracts]: Improve Lib_MerkleTrie test coverage
  packages/contracts/contracts/optimistic-ethereum/libraries/trie/Lib_MerkleTrie.sol
  packages/contracts/contracts/optimistic-ethereum/libraries/utils/Lib_BytesUtils.sol
  packages/contracts/test/contracts/libraries/trie/Lib_MerkleTrie.spec.ts
  packages/contracts/test/data/json/libraries/trie/trieanyorder.json
  packages/contracts/test/data/json/libraries/trie/trietest.json
Labels: A-contracts, C-maintenance

#810 fix[contracts]: Fix a bug in contracts package json that removed artifacts
  .changeset/warm-zoos-speak.md
  packages/contracts/package.json
Labels: A-contracts

#808 refactor[contracts]: Turn ExecutionManagerWrapper into a predeployed contract
  packages/contracts/contracts/optimistic-ethereum/OVM/accounts/OVM_ECDSAContractAccount.sol
  packages/contracts/contracts/optimistic-ethereum/OVM/accounts/OVM_ProxyEOA.sol
  packages/contracts/contracts/optimistic-ethereum/OVM/predeploys/OVM_ExecutionManagerWrapper.sol
  packages/contracts/contracts/optimistic-ethereum/OVM/predeploys/OVM_SequencerEntrypoint.sol
  packages/contracts/contracts/optimistic-ethereum/libraries/wrappers/Lib_ExecutionManagerWrapper.sol
  packages/contracts/src/contract-deployment/config.ts
  packages/contracts/src/contract-dumps.ts
  packages/contracts/src/predeploys.ts
  packages/contracts/test/contracts/OVM/accounts/OVM_ECDSAContractAccount.spec.ts
  packages/contracts/test/contracts/OVM/accounts/OVM_ProxyEOA.spec.ts
  packages/contracts/test/contracts/OVM/precompiles/OVM_SequencerEntrypoint.spec.ts
  packages/smock/src/smockit/binding.ts
  packages/smock/src/smockit/smockit.ts
Labels: A-contracts, C-enhancement

#774 feat[l2geth]: Pass up contract revert reasons during DoEstimateGas
  .changeset/early-hats-sell.md
  integration-tests/contracts/ERC20.sol
  integration-tests/hardhat.config.ts
  integration-tests/package.json
  integration-tests/test/erc20.spec.ts
  l2geth/accounts/abi/abi.go
  l2geth/internal/ethapi/api.go
Labels: A-geth, C-enhancement

#806 l2geth: start script ws
  .changeset/sour-onions-burn.md
  l2geth/scripts/start.sh
Labels: A-geth, C-enhancement

#791 Add missing type definitions to codebase
  examples/hardhat/package.json
  examples/waffle/package.json
  integration-tests/package.json
  l2geth/package.json
  packages/batch-submitter/package.json
  packages/common-ts/package.json
  packages/contracts/package.json
  packages/core-utils/package.json
  packages/data-transport-layer/package.json
  packages/hardhat-ovm/package.json
  packages/smock/package.json
  specs/package.json
  yarn.lock
Labels: A-ts-packages, C-maintenance

#818 maintenance[contracts]: move various deps to dev deps
  .changeset/kind-bears-think.md
  packages/contracts/package.json
Labels: A-ts-packages, C-maintenance, M-contracts

#778 Migrate ETH between gateways
  packages/contracts/contracts/optimistic-ethereum/OVM/bridge/tokens/OVM_L1ETHGateway.sol
  packages/contracts/test/contracts/OVM/bridge/assets/OVM_L1ETHGateway.spec.ts
Labels: A-contracts, C-enhancement, M-contracts

#807 relayer: logging cleanup
  .changeset/soft-bikes-sing.md
  packages/message-relayer/src/service.ts
Labels: A-ts-packages, C-maintenance

#836 fix: geth miner timestamp bug
  .changeset/gorgeous-countries-listen.md
  l2geth/miner/worker.go
Labels: A-geth

#835 style: require curly braces for if statements
  packages/common-ts/src/common/logger.ts
  packages/hardhat-ovm/src/index.ts
  tslint.base.json
Labels: A-ts-packages, C-maintenance

#839 integration-tests: Add coverage for eth_call out-of-gas messages
  integration-tests/test/rpc.spec.ts
Labels: A-integration-tests

#845 fix: have workflows run on develop
  .github/workflows/geth.yml
  .github/workflows/integration.yml
  .github/workflows/ts-packages.yml
Labels: A-ci

#666 docs: add truffle example + ci
  .github/workflows/integration.yml
  examples/truffle/.gitignore
  examples/truffle/README.md
  examples/truffle/contracts/ERC20.sol
  examples/truffle/contracts/IERC20.sol
  examples/truffle/migrations/1_deploy_ERC20_contract.js
  examples/truffle/package.json
  examples/truffle/test/erc20.spec.js
  examples/truffle/truffle-config-ovm.js
  examples/truffle/truffle-config.js
  yarn.lock
Labels: A-ci, A-examples

#843 fix: logging error messages and stack
  .changeset/short-ducks-type.md
  packages/batch-submitter/src/exec/run-batch-submitter.ts
  packages/data-transport-layer/src/services/l2-ingestion/service.ts
  packages/message-relayer/src/service.ts
Labels: A-ts-packages, M-batch-submitter, M-dtl

#667 Reduce gas costs of deposits
  packages/contracts/contracts/optimistic-ethereum/OVM/bridge/messaging/Abs_BaseCrossDomainMessenger.sol
  packages/contracts/contracts/optimistic-ethereum/OVM/bridge/messaging/OVM_L1CrossDomainMessenger.sol
  packages/contracts/contracts/optimistic-ethereum/OVM/bridge/messaging/OVM_L2CrossDomainMessenger.sol
  packages/contracts/contracts/optimistic-ethereum/OVM/predeploys/OVM_L2ToL1MessagePasser.sol
  packages/contracts/contracts/optimistic-ethereum/iOVM/bridge/messaging/iOVM_L1CrossDomainMessenger.sol
  packages/contracts/contracts/optimistic-ethereum/libraries/bridge/Lib_CrossDomainUtils.sol
  packages/contracts/test/contracts/OVM/bridge/base/OVM_L1CrossDomainMessenger.spec.ts
  packages/contracts/test/contracts/OVM/bridge/base/OVM_L2CrossDomainMessenger.spec.ts
  packages/contracts/test/helpers/codec/bridge.ts
Labels: A-contracts, C-enhancement, M-contracts, T-performance

#838 feat: update mainnet deployment
  packages/contracts/deployments/README.md
  packages/contracts/deployments/mainnet/Lib_AddressManager.json
  packages/contracts/deployments/mainnet/OVM_CanonicalTransactionChain.json
  packages/contracts/deployments/mainnet/OVM_ChainStorageContainer-CTC-batches.json
  packages/contracts/deployments/mainnet/OVM_ChainStorageContainer-CTC-queue.json
  packages/contracts/deployments/mainnet/OVM_ChainStorageContainer-SCC-batches.json
  packages/contracts/deployments/mainnet/OVM_ExecutionManager.json
  packages/contracts/deployments/mainnet/OVM_FraudVerifier.json
  packages/contracts/deployments/mainnet/OVM_L1CrossDomainMessenger.json
  packages/contracts/deployments/mainnet/OVM_L1ETHGateway.json
  packages/contracts/deployments/mainnet/OVM_L1MultiMessageRelayer.json
  packages/contracts/deployments/mainnet/OVM_SafetyChecker.json
  packages/contracts/deployments/mainnet/OVM_StateCommitmentChain.json
  packages/contracts/deployments/mainnet/OVM_StateManagerFactory.json
  packages/contracts/deployments/mainnet/OVM_StateTransitionerFactory.json
  packages/contracts/deployments/mainnet/Proxy__OVM_L1CrossDomainMessenger.json
  packages/contracts/deployments/mainnet/Proxy__OVM_L1ETHGateway.json
  packages/contracts/deployments/mainnet/mockOVM_BondManager.json
  packages/contracts/deployments/mainnet/solcInputs/f2bdab652d5102f5f11e78dae866798d.json
Labels: A-contracts, M-contracts

#844 Removes '-v3' from kovan and goerli contracts folders
  packages/contracts/deployments/README.md
  packages/contracts/deployments/goerli/.chainId
  packages/contracts/deployments/goerli/Lib_AddressManager.json
  packages/contracts/deployments/goerli/OVM_CanonicalTransactionChain.json
  packages/contracts/deployments/goerli/OVM_ChainStorageContainer:CTC:batches.json
  packages/contracts/deployments/goerli/OVM_ChainStorageContainer:CTC:queue.json
  packages/contracts/deployments/goerli/OVM_ChainStorageContainer:SCC:batches.json
  packages/contracts/deployments/goerli/OVM_ExecutionManager.json
  packages/contracts/deployments/goerli/OVM_FraudVerifier.json
  packages/contracts/deployments/goerli/OVM_L1CrossDomainMessenger.json
  packages/contracts/deployments/goerli/OVM_L1ETHGateway.json
  packages/contracts/deployments/goerli/OVM_L1MultiMessageRelayer.json
  packages/contracts/deployments/goerli/OVM_SafetyChecker.json
  packages/contracts/deployments/goerli/OVM_StateCommitmentChain.json
  packages/contracts/deployments/goerli/OVM_StateManagerFactory.json
  packages/contracts/deployments/goerli/OVM_StateTransitionerFactory.json
  packages/contracts/deployments/goerli/Proxy__OVM_L1CrossDomainMessenger.json
  packages/contracts/deployments/goerli/Proxy__OVM_L1ETHGateway.json
  packages/contracts/deployments/goerli/mockOVM_BondManager.json
  packages/contracts/deployments/goerli/solcInputs/dde656dd41f49cad9eac9bc7065fd6a7.json
  packages/contracts/deployments/kovan-v3/.chainId
  packages/contracts/deployments/kovan-v3/Lib_AddressManager.json
  packages/contracts/deployments/kovan-v3/OVM_CanonicalTransactionChain.json
  packages/contracts/deployments/kovan-v3/OVM_ExecutionManager.json
  packages/contracts/deployments/kovan-v3/OVM_FraudVerifier.json
  packages/contracts/deployments/kovan-v3/OVM_L1CrossDomainMessenger.json
  packages/contracts/deployments/kovan-v3/OVM_L1ETHGateway.json
  packages/contracts/deployments/kovan-v3/OVM_L1MultiMessageRelayer.json
  packages/contracts/deployments/kovan-v3/OVM_SafetyChecker.json
  packages/contracts/deployments/kovan-v3/OVM_StateCommitmentChain.json
  packages/contracts/deployments/kovan-v3/OVM_StateManagerFactory.json
  packages/contracts/deployments/kovan-v3/OVM_StateTransitionerFactory.json
  packages/contracts/deployments/kovan-v3/Proxy__OVM_L1CrossDomainMessenger.json
  packages/contracts/deployments/kovan-v3/Proxy__OVM_L1ETHGateway.json
  packages/contracts/deployments/kovan-v3/mockOVM_BondManager.json
  packages/contracts/deployments/kovan/Lib_AddressManager.json
  packages/contracts/deployments/kovan/OVM_CanonicalTransactionChain.json
  packages/contracts/deployments/kovan/OVM_ChainStorageContainer-CTC-batches.json
  packages/contracts/deployments/kovan/OVM_ChainStorageContainer-CTC-queue.json
  packages/contracts/deployments/kovan/OVM_ChainStorageContainer-SCC-batches.json
  packages/contracts/deployments/kovan/OVM_ChainStorageContainer:CTC:batches.json
  packages/contracts/deployments/kovan/OVM_ChainStorageContainer:CTC:queue.json
  packages/contracts/deployments/kovan/OVM_ChainStorageContainer:SCC:batches.json
  packages/contracts/deployments/kovan/OVM_ExecutionManager.json
  packages/contracts/deployments/kovan/OVM_FraudVerifier.json
  packages/contracts/deployments/kovan/OVM_L1CrossDomainMessenger.json
  packages/contracts/deployments/kovan/OVM_L1ETHGateway.json
  packages/contracts/deployments/kovan/OVM_L1MultiMessageRelayer.json
  packages/contracts/deployments/kovan/OVM_SafetyChecker.json
  packages/contracts/deployments/kovan/OVM_StateCommitmentChain.json
  packages/contracts/deployments/kovan/OVM_StateManagerFactory.json
  packages/contracts/deployments/kovan/OVM_StateTransitionerFactory.json
  packages/contracts/deployments/kovan/Proxy__OVM_L1CrossDomainMessenger.json
  packages/contracts/deployments/kovan/Proxy__OVM_L1ETHGateway.json
  packages/contracts/deployments/kovan/mockOVM_BondManager.json
  packages/contracts/deployments/kovan/solcInputs/03aed03b958b1d37f90bd88d0f56dd85.json
  packages/contracts/deployments/kovan/solcInputs/5ee8e508e2c54cb5ac6783b4855b1558.json
Labels: A-contracts, M-contracts

#755 feat[contracts]: Add L2ChugSplashDeployer contract to manage L2 deployments
  .changeset/chilled-tables-grow.md
  packages/contracts/bin/take-dump.ts
  packages/contracts/contracts/chugsplash/L2ChugSplashDeployer.sol
  packages/contracts/contracts/optimistic-ethereum/OVM/execution/OVM_ExecutionManager.sol
  packages/contracts/contracts/optimistic-ethereum/iOVM/execution/iOVM_ExecutionManager.sol
  packages/contracts/contracts/optimistic-ethereum/libraries/wrappers/Lib_ExecutionManagerWrapper.sol
  packages/contracts/src/contract-deployment/config.ts
  packages/contracts/src/contract-dumps.ts
  packages/contracts/src/predeploys.ts
  packages/contracts/test/contracts/chugsplash/L2ChugSplashDeployer.spec.ts
Labels: A-contracts, C-enhancement

#842 chore: update READMEs with new env vars
  packages/batch-submitter/README.md
  packages/data-transport-layer/README.md
Labels: A-ts-packages, M-batch-submitter, M-dtl

#852 l2 geth: start script mainnetv3
  .changeset/thin-rockets-clean.md
  l2geth/scripts/start.sh
Labels: A-geth

#856 Update Github Actions for the develop branch
  .changeset/config.json
  .github/workflows/release.yml
Labels: A-ci

#846 fix: get last confirmed enqueue
  .changeset/big-moose-type.md
  l2geth/rollup/client.go
Labels: A-geth

#847 batch-submitter: updated config
  .changeset/lovely-plants-clean.md
  .changeset/soft-squids-switch.md
  packages/batch-submitter/.env.example
  packages/batch-submitter/package.json
  packages/batch-submitter/src/exec/run-batch-submitter.ts
  packages/core-utils/src/bcfg.ts
  packages/core-utils/src/index.ts
  packages/data-transport-layer/src/services/run.ts
  packages/message-relayer/src/exec/run.ts
Labels: A-ts-packages, M-batch-submitter, M-core-utils, M-dtl

#866 feat/make block offset configurable fix
  packages/batch-submitter/src/exec/run-batch-submitter.ts
Labels: A-ts-packages, M-batch-submitter

#864 feat: add config for impersonating accounts to BS
  .changeset/odd-feet-think.md
  .changeset/twenty-garlics-poke.md
  packages/batch-submitter/.env.example
  packages/batch-submitter/hardhat.config.ts
  packages/batch-submitter/src/batch-submitter/batch-submitter.ts
  packages/batch-submitter/src/batch-submitter/index.ts
  packages/batch-submitter/src/batch-submitter/state-batch-submitter.ts
  packages/batch-submitter/src/batch-submitter/tx-batch-submitter.ts
  packages/batch-submitter/src/exec/run-batch-submitter.ts
  packages/batch-submitter/test/batch-submitter/batch-submitter.spec.ts
Labels: A-ts-packages, M-batch-submitter

#858 Contracts: connectToL1Contracts & connectToL2Contracts (part 1)
  .changeset/real-pugs-suffer.md
  packages/contracts/package.json
  packages/contracts/test/helpers/constants.ts
  packages/contracts/tsconfig.json
  packages/contracts/tslint.json
Labels: A-contracts, M-contracts

#857 feat[contracts]: temporarily disable EOA upgrades
  .changeset/chatty-walls-rescue.md
  packages/contracts/contracts/optimistic-ethereum/OVM/accounts/OVM_ProxyEOA.sol
  packages/contracts/test/contracts/OVM/accounts/OVM_ProxyEOA.spec.ts
Labels: A-contracts, A-ts-packages, M-contracts

#820 feat[contracts]: Update Lib_AddressManager.AddressSet event to speed up data transport layer
  .changeset/flat-bananas-perform.md
  packages/contracts/contracts/optimistic-ethereum/libraries/resolver/Lib_AddressManager.sol
  packages/core-utils/src/events.ts
  packages/data-transport-layer/src/services/l1-ingestion/service.ts
Labels: A-ts-packages, C-enhancement, M-contracts, M-dtl

#840 l2geth: allow for the configured max tx gaslimit to be set in the cfg
  .changeset/shaggy-news-glow.md
  l2geth/core/genesis.go
Labels: A-geth

#792 feat[batch-submitter]: add lightweight metrics server
  .changeset/old-ladybugs-camp.md
  packages/batch-submitter/.env.example
  packages/batch-submitter/src/exec/run-batch-submitter.ts
  packages/common-ts/package.json
  packages/common-ts/src/common/metrics.ts
  packages/common-ts/test/metrics.spec.ts
  yarn.lock
Labels: A-ts-packages, M-batch-submitter

#872 dtl: fix replica tx indexing
  .changeset/kind-cows-draw.md
  packages/data-transport-layer/package.json
  packages/data-transport-layer/src/services/l1-ingestion/handlers/sequencer-batch-appended.ts
  packages/data-transport-layer/src/services/l2-ingestion/handlers/transaction.ts
  packages/data-transport-layer/src/types/database-types.ts
  packages/data-transport-layer/src/utils/constants.ts
  packages/data-transport-layer/test/unit-tests/services/l1-ingestion/handlers/sequencer-batch-appended.spec.ts
  packages/data-transport-layer/test/unit-tests/services/l2-ingestion/handlers/transaction.spec.ts
Labels: A-ts-packages, M-dtl

#880 fix: remove incorrect comment
  .changeset/plenty-chicken-report.md
  packages/contracts/contracts/optimistic-ethereum/OVM/accounts/OVM_ECDSAContractAccount.sol
Labels: A-contracts, M-contracts

#881 optimism: syncing dtl with correct contracts
  .changeset/cyan-spiders-listen.md
  l2geth/rollup/client.go
  packages/data-transport-layer/src/services/l2-ingestion/handlers/transaction.ts
Labels: A-geth, A-ts-packages, M-dtl

#879 test(contracts): easily set storageXOR values in prestate
  packages/contracts/test/helpers/test-runner/test-runner.ts
Labels: A-contracts, M-contracts

#887 feat[contracts]: enable initiating L2 upgrade via L1 to L2 message
  .changeset/polite-wasps-pay.md
  packages/contracts/contracts/chugsplash/L2ChugSplashDeployer.sol
  packages/contracts/contracts/chugsplash/L2ChugSplashOwner.sol
  packages/contracts/src/contract-deployment/config.ts
  packages/contracts/src/contract-dumps.ts
  packages/contracts/src/predeploys.ts
  packages/contracts/test/contracts/chugsplash/L2ChugSplashOwner.spec.ts
Labels: A-contracts, M-contracts

#890 fix[batch-submitter]: read metrics env vars correctly
  packages/batch-submitter/.env.example
  packages/batch-submitter/src/exec/run-batch-submitter.ts
Labels: A-ts-packages, M-batch-submitter

#893 Batch submitter metrics collection for docker-compose.
  ops/docker-compose-metrics.yml
  ops/docker/prometheus/prometheus.yml
Labels: M-ops

#896 feat[smock]: add a wallet that be used to send transactions from a smock
  .changeset/selfish-windows-tell.md
  packages/smock/README.md
  packages/smock/package.json
  packages/smock/src/smockit/smockit.ts
  packages/smock/src/smockit/types.ts
  packages/smock/test/contracts/TestHelpers_SenderAssertions.sol
  packages/smock/test/smockit/sending-from-mocks.spec.ts
  yarn.lock
Labels: A-ts-packages, M-smock

#902 Add Elena as a code owner of the contracts package
  .github/CODEOWNERS
Labels: A-ci

#915 l2geth: remove miner panic
  .changeset/little-emus-cover.md
  l2geth/miner/worker.go
Labels: A-geth

#853 l2 geth: feat `debug_ingestTransactions`
  .changeset/khaki-walls-sin.md
  l2geth/eth/api_backend.go
  l2geth/internal/ethapi/api.go
  l2geth/internal/ethapi/backend.go
  l2geth/les/api_backend.go
  l2geth/rollup/sync_service.go
Labels: A-geth

#869 fix: separate logic for making and retrieving state dumps into two files
  .changeset/strange-masks-warn.md
  packages/contracts/bin/take-dump.ts
  packages/contracts/src/index.ts
  packages/contracts/src/state-dump/get-dump.ts
  packages/contracts/src/state-dump/make-dump.ts
Labels: A-contracts, M-contracts

#871 optimism: bump gaslimit to 10 million #870
  l2geth/scripts/start.sh
  ops/envs/geth.env
  packages/contracts/src/contract-dumps.ts
  packages/contracts/tasks/deploy.ts
  packages/data-transport-layer/src/utils/constants.ts
Labels: A-contracts, A-geth, M-contracts, M-dtl, M-ops

#921 fix[contracts]: fix broken test from regenesis/0.4.0 <> 0.4.0-rc merge
  packages/contracts/test/contracts/OVM/bridge/base/OVM_L1CrossDomainMessenger.spec.ts
Labels: A-contracts, M-contracts

#904 fix[contracts]: remove upgrade cancellation functions
  .changeset/rude-comics-smash.md
  packages/contracts/contracts/chugsplash/L2ChugSplashDeployer.sol
  packages/contracts/test/contracts/chugsplash/L2ChugSplashDeployer.spec.ts
  packages/contracts/test/contracts/chugsplash/L2ChugSplashOwner.spec.ts
Labels: A-contracts, M-contracts

#923 fix[l2geth]: fix a bug where call reverts would not be propagated
  .changeset/cuddly-ravens-smile.md
  integration-tests/test/rpc.spec.ts
  l2geth/internal/ethapi/api.go
Labels: A-geth, A-integration-tests

#885 fix: disable upgradability from ECDSA Account
  .changeset/sharp-roses-admire.md
  packages/contracts/contracts/optimistic-ethereum/OVM/accounts/OVM_ECDSAContractAccount.sol
  packages/contracts/contracts/optimistic-ethereum/OVM/accounts/OVM_ProxyEOA.sol
  packages/contracts/test/contracts/OVM/accounts/OVM_ECDSAContractAccount.spec.ts
  packages/contracts/test/contracts/OVM/accounts/OVM_ProxyEOA.spec.ts
Labels: A-contracts, C-enhancement, M-contracts

#926 fix: decrease default ynatm retry timeout
  ops/envs/batches.env
Labels: M-ops

#884 Github action to require 2 reviewers
  .github/label-requires-reviews.yml
  .github/labeler.yml
  .github/workflows/label-requires-reviews.yml
Labels: A-ci

#912 feat[contracts]: introduce OVM_GasPriceOracle
  .changeset/seven-carpets-tell.md
  packages/contracts/bin/take-dump.ts
  packages/contracts/contracts/optimistic-ethereum/OVM/predeploys/OVM_GasPriceOracle.sol
  packages/contracts/src/contract-deployment/config.ts
  packages/contracts/src/predeploys.ts
  packages/contracts/src/state-dump/make-dump.ts
  packages/contracts/test/contracts/OVM/precompiles/OVM_GasPriceOracle.spec.ts
Labels: A-contracts, M-contracts

#928 fix: configure max gas limit to 11m
  l2geth/scripts/start.sh
  ops/envs/geth.env
  packages/contracts/src/state-dump/make-dump.ts
  packages/contracts/tasks/deploy.ts
  packages/data-transport-layer/src/utils/constants.ts
Labels: A-contracts, A-geth, M-contracts, M-dtl, M-ops

#892 feat[contracts]: add ability to pause EM during upgrades
  packages/contracts/contracts/chugsplash/L2ChugSplashDeployer.sol
  packages/contracts/contracts/optimistic-ethereum/OVM/execution/OVM_ExecutionManager.sol
  packages/contracts/test/contracts/OVM/execution/OVM_ExecutionManager.gas-spec.ts
  packages/contracts/test/contracts/chugsplash/L2ChugSplashDeployer.spec.ts
Labels: A-contracts, M-contracts

#927 l2geth: gaslimit encoding state polling
  l2geth/cmd/geth/main.go
  l2geth/cmd/geth/usage.go
  l2geth/cmd/utils/flags.go
  l2geth/rollup/config.go
  l2geth/rollup/sync_service.go
  l2geth/rollup/sync_service_test.go
Labels: 2-reviewers, A-geth

#938 fix[hardhat-ovm]: use correct url when creating ethers object
  .changeset/witty-houses-happen.md
  packages/hardhat-ovm/src/index.ts
Labels: A-ts-packages, M-hardhat-ovm

#939 test[integration-tests]: add an integration test for contract deployments that run out of gas
  .changeset/rotten-pillows-change.md
  integration-tests/contracts/TestOOG.sol
  integration-tests/test/rpc.spec.ts
  l2geth/internal/ethapi/api.go
Labels: 2-reviewers, A-geth, A-integration-tests

#940 fix(l2geth): do not throw an error when estimating gas for txs with nil data
  .changeset/poor-crabs-count.md
  integration-tests/test/rpc.spec.ts
  l2geth/internal/ethapi/api.go
Labels: 2-reviewers, A-geth, A-integration-tests

#948 refactor: move chugsplash into its own package
  .changeset/orange-cycles-punch.md
  packages/chugsplash/.gitattributes
  packages/chugsplash/.prettierrc.json
  packages/chugsplash/LICENSE
  packages/chugsplash/hardhat.config.ts
  packages/chugsplash/package.json
  packages/chugsplash/src/actions.ts
  packages/chugsplash/src/artifacts.ts
  packages/chugsplash/src/config.ts
  packages/chugsplash/src/index.ts
  packages/chugsplash/src/storage.ts
  packages/chugsplash/test/actions.spec.ts
  packages/chugsplash/test/config.spec.ts
  packages/chugsplash/test/contracts/Helper_ChugSplashMock.sol
  packages/chugsplash/test/contracts/Helper_StorageHelper.sol
  packages/chugsplash/test/contracts/Lib_MerkleTree.sol
  packages/chugsplash/test/helpers.ts
  packages/chugsplash/test/setup.ts
  packages/chugsplash/test/storage.spec.ts
  packages/chugsplash/tsconfig.build.json
  packages/chugsplash/tsconfig.json
  packages/chugsplash/tslint.json
  packages/chugsplash/yarn-error.log
  packages/contracts/package.json
  packages/contracts/src/chugsplash/hardhat-tools.ts
  packages/contracts/src/index.ts
  packages/contracts/test/chugsplash/config.spec.ts
  packages/contracts/test/chugsplash/hardhat-tools.spec.ts
  packages/contracts/test/contracts/chugsplash/L2ChugSplashDeployer.spec.ts
  yarn.lock
Labels: 2-reviewers, A-contracts, M-contracts

#949 fix[message-relayer]: avoid getting OOM killed
  .changeset/twelve-peas-compete.md
  packages/message-relayer/src/service.ts
Labels: A-ts-packages

#932 feat: gaslimit encoding end to end
  integration-tests/test/erc20.spec.ts
  integration-tests/test/fee-payment.spec.ts
  integration-tests/test/native-eth.spec.ts
  integration-tests/test/rpc.spec.ts
  l2geth/cmd/utils/flags.go
  l2geth/core/rollup_fee.go
  l2geth/core/rollup_fee_test.go
  l2geth/core/tx_pool.go
  l2geth/core/types/transaction.go
  l2geth/eth/gasprice/rollup_gasprice.go
  l2geth/internal/ethapi/api.go
  l2geth/rollup/config.go
  l2geth/rollup/sync_service.go
  ops/envs/geth.env
  packages/core-utils/src/fees.ts
  packages/core-utils/src/index.ts
  packages/core-utils/test/fees.spec.ts
  packages/smock/src/smockit/smockit.ts
  packages/smock/test/smockit/sending-from-mocks.spec.ts
  yarn.lock
Labels: 2-reviewers, A-geth, A-integration-tests, A-ts-packages, M-core-utils, M-ops, M-smock

#950 feat[dtl]: add config switches for sentry and metrics
  .changeset/clever-dolls-brush.md
  packages/data-transport-layer/.env.example
  packages/data-transport-layer/src/services/main/service.ts
  packages/data-transport-layer/src/services/run.ts
  packages/data-transport-layer/src/services/server/service.ts
Labels: 2-reviewers, A-ts-packages, M-dtl

#934 fix(l2geth): add an env var METRICS_ENABLE for MetricsEnabledFlag
  .changeset/two-suits-care.md
  l2geth/cmd/utils/flags.go
Labels: 2-reviewers, A-geth

#944 fix: reorg for clear proxy usage
  packages/contracts/deployments/README.md
  packages/contracts/scripts/generate-markdown.js
Labels: 2-reviewers, A-contracts, M-contracts

#946 fix[hardhat-ovm]: Allow for private key config option for signers
  .changeset/tame-stingrays-retire.md
  packages/hardhat-ovm/src/index.ts
Labels: A-ts-packages, M-hardhat-ovm

#931 Consolidate Predeploy Addresses
  integration-tests/test/shared/utils.ts
  packages/batch-submitter/test/batch-submitter/batch-submitter.spec.ts
  packages/contracts/contracts/optimistic-ethereum/OVM/accounts/OVM_ProxyEOA.sol
  packages/contracts/contracts/optimistic-ethereum/OVM/bridge/messaging/OVM_L1CrossDomainMessenger.sol
  packages/contracts/contracts/optimistic-ethereum/OVM/execution/OVM_ExecutionManager.sol
  packages/contracts/contracts/optimistic-ethereum/libraries/constants/Lib_PredeployAddresses.sol
  packages/contracts/src/contract-deployment/config.ts
  packages/contracts/src/state-dump/make-dump.ts
  packages/contracts/test/contracts/OVM/bridge/base/OVM_L1CrossDomainMessenger.spec.ts
  packages/contracts/test/contracts/OVM/chain/OVM_CanonicalTransactionChain.gas.spec.ts
  packages/contracts/test/contracts/OVM/chain/OVM_CanonicalTransactionChain.spec.ts
  packages/contracts/test/contracts/OVM/execution/OVM_ExecutionManager/ovmCREATE.spec.ts
  packages/message-relayer/src/service.ts
  packages/smock/src/smockit/smockit.ts
  packages/smock/test/smockit/sending-from-mocks.spec.ts
Labels: 2-reviewers, A-contracts, A-integration-tests, M-batch-submitter, M-contracts, M-smock

#953 Remove colons from filenames of artifacts
  .changeset/tough-cobras-cheer.md
  packages/contracts/deployments/goerli/OVM_ChainStorageContainer-CTC-batches.json
  packages/contracts/deployments/goerli/OVM_ChainStorageContainer-CTC-queue.json
  packages/contracts/deployments/goerli/OVM_ChainStorageContainer-SCC-batches.json
  packages/contracts/deployments/kovan/OVM_ChainStorageContainer-CTC-batches.json
  packages/contracts/deployments/kovan/OVM_ChainStorageContainer-CTC-queue.json
  packages/contracts/deployments/kovan/OVM_ChainStorageContainer-SCC-batches.json
Labels: 2-reviewers, A-contracts, M-contracts

#937 fix[l2geth]: have successful deposits return a status of 1
  .changeset/afraid-trainers-wonder.md
  .changeset/blue-fishes-sniff.md
  integration-tests/test/basic-l1-l2-communication.spec.ts
  l2geth/core/vm/evm.go
  packages/core-utils/src/watcher.ts
Labels: 2-reviewers, A-geth, A-integration-tests, A-ts-packages, M-core-utils

#906 l2geth: updated calculate rollup fee
  .changeset/rich-glasses-brake.md
  integration-tests/test/erc20.spec.ts
  integration-tests/test/fee-payment.spec.ts
  integration-tests/test/native-eth.spec.ts
  integration-tests/test/rpc.spec.ts
  l2geth/cmd/geth/main.go
  l2geth/cmd/geth/usage.go
  l2geth/cmd/utils/flags.go
  l2geth/core/rollup_fee.go
  l2geth/core/rollup_fee_test.go
  l2geth/core/tx_pool.go
  l2geth/core/types/transaction.go
  l2geth/eth/api_backend.go
  l2geth/eth/gasprice/rollup_gasprice.go
  l2geth/internal/ethapi/api.go
  l2geth/internal/ethapi/backend.go
  l2geth/les/api_backend.go
  l2geth/rollup/config.go
  l2geth/rollup/sync_service.go
  l2geth/rollup/sync_service_test.go
  ops/envs/geth.env
  packages/core-utils/src/fees.ts
  packages/core-utils/src/index.ts
  packages/core-utils/test/fees/fees.spec.ts
  packages/smock/src/smockit/smockit.ts
  packages/smock/test/smockit/sending-from-mocks.spec.ts
Labels: 2-reviewers, A-geth, A-integration-tests, A-ts-packages, M-core-utils, M-ops, M-smock

#552 Refactor the SyncService to more closely implement the specification
  .changeset/nervous-bobcats-grow.md
  l2geth/cmd/geth/main.go
  l2geth/cmd/geth/usage.go
  l2geth/cmd/utils/flags.go
  l2geth/core/rawdb/rollup_indexes.go
  l2geth/core/rawdb/schema.go
  l2geth/eth/api_backend.go
  l2geth/rollup/client.go
  l2geth/rollup/config.go
  l2geth/rollup/sync_service.go
  l2geth/rollup/sync_service_test.go
  l2geth/rollup/types.go
  l2geth/scripts/start.sh
Labels: 2-reviewers, A-geth, C-enhancement

#962 test: adds test that gas estimation is deterministic
  integration-tests/test/rpc.spec.ts
Labels: A-integration-tests

#966 feat[smock]: add support for overloaded functions
  .changeset/neat-melons-lie.md
  packages/smock/src/smockit/smockit.ts
  packages/smock/test/contracts/TestHelpers_BasicReturnContract.sol
  packages/smock/test/smockit/function-manipulation.spec.ts
Labels: A-ts-packages, M-smock

#964 docs: core-utils
  packages/core-utils/README.md
Labels: A-ts-packages, M-core-utils

#913 feat[integration-tests]: add verifier sync test
  .changeset/unlucky-shoes-bake.md
  integration-tests/package.json
  integration-tests/sync-tests/sync-verifier.spec.ts
  integration-tests/test/shared/docker-compose.ts
  integration-tests/test/shared/utils.ts
  integration-tests/tsconfig.json
  ops/README.md
  ops/docker-compose.yml
Labels: 2-reviewers, A-integration-tests, M-ops

#969 fix[dtl]: represent gas limit as a string to avoid issues with large gas limits
  .changeset/chilled-books-grab.md
  .changeset/dull-fishes-type.md
  l2geth/rollup/client.go
  packages/data-transport-layer/src/services/l1-ingestion/handlers/sequencer-batch-appended.ts
  packages/data-transport-layer/src/services/l2-ingestion/handlers/transaction.ts
  packages/data-transport-layer/src/types/database-types.ts
Labels: 2-reviewers, A-geth, A-ts-packages, M-dtl

#968 chore: reduce hardhat timeout to 20 seconds
  .changeset/cold-cows-cross.md
  integration-tests/hardhat.config.ts
Labels: A-integration-tests

#982 fix(contracts): import predeploys
  packages/contracts/src/contract-deployment/config.ts
Labels: 2-reviewers, A-contracts, M-contracts

#965 feat: add hardhat deploy instructions to readme
  .changeset/late-countries-guess.md
  packages/contracts/README.md
Labels: 2-reviewers, A-contracts, M-contracts

#976 feat: fees v2
  .changeset/fuzzy-dogs-share.md
  integration-tests/test/erc20.spec.ts
  integration-tests/test/fee-payment.spec.ts
  integration-tests/test/native-eth.spec.ts
  integration-tests/test/rpc.spec.ts
  l2geth/core/rollup_fee.go
  l2geth/core/rollup_fee_test.go
  l2geth/eth/gasprice/rollup_gasprice.go
  l2geth/internal/ethapi/api.go
  l2geth/rollup/client.go
  l2geth/rollup/fees/rollup_fee.go
  l2geth/rollup/fees/rollup_fee_test.go
  l2geth/rollup/sync_service.go
  l2geth/rollup/sync_service_test.go
  packages/core-utils/README.md
  packages/core-utils/src/fees.ts
  packages/core-utils/test/fees/fees.spec.ts
Labels: 2-reviewers, A-geth, A-integration-tests, A-ts-packages, M-core-utils

#848 Add static analysis action
  .github/workflows/static-analysis.yml
  .gitignore
  .nvmrc
  README.md
  packages/contracts/package.json
  packages/contracts/slither.config.json
Labels: 2-reviewers, A-ci, A-contracts, M-contracts
