Repository ethereum-optimism/optimism, pull requests merged in 2021-04, with the labels that each got.

#468 fix: revert hardhat type usage
  packages/contracts/src/hardhat-deploy-ethers.ts
Labels: C-meta

#464 Implement CI release pipeline
  .github/workflows/release.yml
  ops/docker-compose.yml
  ops/docker/Dockerfile.batch-submitter
  ops/docker/Dockerfile.data-transport-layer
  ops/docker/Dockerfile.message-relayer
  ops/scripts/ci-versions.js
Labels: A-ci, C-enhancement, C-meta

#483 geth: remove dead docker code
  l2geth/docker/dev_entrypoint.sh
  l2geth/docker/entrypoint.sh
  l2geth/docker/state_dump_entrypoint.sh
  l2geth/docker/test_entrypoint.sh
  l2geth/docker/verifier_entrypoint.sh
Labels: A-geth, C-maintenance

#492 optimization: add back in the abi caching
  .changeset/rude-moons-kiss.md
  l2geth/accounts/abi/abi.go
Labels: A-geth, T-performance

#509 style: add *.swp to gitignore
  .gitignore
Labels: C-maintenance

#521 test: add rpc test for eth_getBalance
  integration-tests/test/rpc.spec.ts
Labels: A-integration-tests

#522 test: ovm context
  .changeset/perfect-feet-love.md
  integration-tests/contracts/OVMContextStorage.sol
  integration-tests/contracts/OVMMulticall.sol
  integration-tests/test/ovmcontext.spec.ts
Labels: A-integration-tests, C-enhancement, C-maintenance

#518 l2geth: change `ROLLUP_BASE_TX_SIZE` to camelcase
  .changeset/green-squids-thank.md
  l2geth/core/rollup_fee.go
  l2geth/core/rollup_fee_test.go
Labels: A-geth, C-maintenance

#519 l2geth: replica gas estimation fix
  .changeset/tough-bugs-invent.md
  l2geth/rollup/sync_service.go
  l2geth/rollup/sync_service_test.go
Labels: A-geth, C-enhancement, P-high

#517 l2geth: commit updated go.sum
  .changeset/slimy-berries-listen.md
  l2geth/go.sum
Labels: A-geth, C-maintenance

#532 ops: cleaner docker-compose startup logs
  ops/scripts/batches.sh
  ops/scripts/deployer.sh
  ops/scripts/dtl.sh
  ops/scripts/geth.sh
  ops/scripts/relayer.sh
Labels: M-ops

#520 l2geth: add `VerifiedIndex` to DB and API
  .changeset/thin-dodos-reply.md
  l2geth/core/rawdb/rollup_indexes.go
  l2geth/core/rawdb/schema.go
  l2geth/eth/api_backend.go
  l2geth/internal/ethapi/api.go
  l2geth/internal/ethapi/backend.go
  l2geth/les/api_backend.go
  l2geth/rollup/sync_service.go
Labels: A-geth, C-enhancement

#531 l2geth: shorter default timestamp refresh
  .changeset/slimy-rocks-exist.md
  l2geth/cmd/utils/flags.go
  l2geth/rollup/sync_service.go
Labels: A-geth, C-enhancement

#479 dtl: add query param based querying for txs
  .changeset/calm-books-hope.md
  packages/data-transport-layer/src/services/l2-ingestion/service.ts
  packages/data-transport-layer/src/services/main/service.ts
  packages/data-transport-layer/src/services/run.ts
  packages/data-transport-layer/src/services/server/service.ts
Labels: C-enhancement, M-dtl

#540 Calculate fees correctly based on zero/non-zero bytes
  .changeset/violet-beers-unite.md
  integration-tests/test/native-eth.spec.ts
  l2geth/core/rollup_fee.go
  l2geth/core/rollup_fee_test.go
Labels: A-geth, C-bug

#516 l2geth: rollup client batch api
  .changeset/empty-boxes-repair.md
  l2geth/rollup/client.go
  l2geth/rollup/sync_service.go
  l2geth/rollup/sync_service_test.go
Labels: A-geth, C-enhancement

#545 refactor[contracts]: Port OVM_ProxyEOA to use ovm-solc
  .changeset/twenty-cows-walk.md
  packages/contracts/contracts/optimistic-ethereum/OVM/accounts/OVM_ProxyEOA.sol
  packages/contracts/contracts/optimistic-ethereum/OVM/execution/OVM_ExecutionManager.sol
  packages/contracts/src/contract-deployment/config.ts
  packages/contracts/src/contract-dumps.ts
  packages/contracts/src/predeploys.ts
  packages/contracts/test/contracts/OVM/accounts/OVM_ProxyEOA.spec.ts
  packages/contracts/test/contracts/OVM/execution/OVM_ExecutionManager/ovmCREATEEOA.spec.ts
  packages/contracts/test/helpers/test-runner/test-runner.ts
Labels: A-contracts

#546 refactor[contracts]: Port OVM_ECDSAContractAccount to use ovm-solc
  .changeset/beige-needles-kiss.md
  packages/contracts/contracts/optimistic-ethereum/OVM/accounts/OVM_ECDSAContractAccount.sol
  packages/contracts/contracts/optimistic-ethereum/OVM/execution/OVM_ExecutionManager.sol
  packages/contracts/contracts/optimistic-ethereum/libraries/wrappers/Lib_ExecutionManagerWrapper.sol
  packages/contracts/contracts/optimistic-ethereum/libraries/wrappers/Lib_SafeMathWrapper.sol
  packages/contracts/src/contract-deployment/config.ts
  packages/contracts/src/contract-dumps.ts
  packages/contracts/src/index.ts
  packages/contracts/test/contracts/OVM/accounts/OVM_ECDSAContractAccount.spec.ts
  packages/contracts/test/contracts/OVM/accounts/OVM_ProxyEOA.spec.ts
Labels: A-contracts

#548 refactor[contracts]: Port OVM_DeployerWhitelist to use ovm-solc
  .changeset/three-timers-behave.md
  packages/contracts/contracts/optimistic-ethereum/OVM/predeploys/OVM_DeployerWhitelist.sol
  packages/contracts/contracts/optimistic-ethereum/iOVM/predeploys/iOVM_DeployerWhitelist.sol
  packages/contracts/src/contract-deployment/config.ts
  packages/contracts/src/contract-dumps.ts
  packages/contracts/test/contracts/OVM/execution/OVM_ExecutionManager/nuisance-gas.spec.ts
  packages/contracts/test/contracts/OVM/execution/OVM_ExecutionManager/ovmCREATE.spec.ts
  packages/contracts/test/helpers/test-runner/test-runner.ts
Labels: A-contracts

#549 refactor[contracts]: Remove two unused contracts
  .changeset/empty-parents-shout.md
  l2geth/core/vm/evm.go
  packages/contracts/contracts/optimistic-ethereum/OVM/predeploys/OVM_ProxySequencerEntrypoint.sol
  packages/contracts/contracts/optimistic-ethereum/mockOVM/accounts/mockOVM_ECDSAContractAccount.sol
  packages/contracts/src/contract-deployment/config.ts
  packages/contracts/src/contract-dumps.ts
  packages/contracts/src/predeploys.ts
  packages/contracts/test/contracts/OVM/precompiles/OVM_ProxySequencerEntrypoint.spec.ts
Labels: A-contracts

#561 refactor[contracts]: Remove SafeExecutionManagerWrapper
  .changeset/new-pigs-cheat.md
  packages/contracts/contracts/optimistic-ethereum/libraries/codec/Lib_OVMCodec.sol
  packages/contracts/contracts/optimistic-ethereum/libraries/wrappers/Lib_SafeExecutionManagerWrapper.sol
Labels: A-contracts, C-enhancement

#596 feat[contracts]: Have Messenger contracts emit an event on failed relay
  .changeset/violet-falcons-hunt.md
  packages/contracts/contracts/optimistic-ethereum/OVM/bridge/messaging/OVM_L1CrossDomainMessenger.sol
  packages/contracts/contracts/optimistic-ethereum/OVM/bridge/messaging/OVM_L2CrossDomainMessenger.sol
  packages/contracts/contracts/optimistic-ethereum/iOVM/bridge/messaging/iAbs_BaseCrossDomainMessenger.sol
Labels: A-contracts, C-enhancement

#600 refactor[contracts]: Remove old mock contracts
  .changeset/eleven-books-camp.md
  packages/contracts/contracts/optimistic-ethereum/mockOVM/bridge/mockOVM_CrossDomainMessenger.sol
  packages/contracts/contracts/optimistic-ethereum/mockOVM/bridge/mockOVM_GenericCrossDomainMessenger.sol
Labels: A-contracts, C-maintenance

#566 feat[contracts]: Use standard RLP transaction format
  l2geth/rollup/sync_service.go
  packages/contracts/contracts/optimistic-ethereum/OVM/accounts/OVM_ECDSAContractAccount.sol
  packages/contracts/contracts/optimistic-ethereum/OVM/predeploys/OVM_SequencerEntrypoint.sol
  packages/contracts/contracts/optimistic-ethereum/iOVM/accounts/iOVM_ECDSAContractAccount.sol
  packages/contracts/contracts/optimistic-ethereum/libraries/codec/Lib_EIP155Tx.sol
  packages/contracts/contracts/optimistic-ethereum/libraries/codec/Lib_OVMCodec.sol
  packages/contracts/contracts/optimistic-ethereum/libraries/rlp/Lib_RLPWriter.sol
  packages/contracts/contracts/optimistic-ethereum/libraries/utils/Lib_ECDSAUtils.sol
  packages/contracts/contracts/optimistic-ethereum/libraries/wrappers/Lib_ExecutionManagerWrapper.sol
  packages/contracts/contracts/test-libraries/codec/TestLib_EIP155Tx.sol
  packages/contracts/contracts/test-libraries/codec/TestLib_OVMCodec.sol
  packages/contracts/contracts/test-libraries/utils/TestLib_ECDSAUtils.sol
  packages/contracts/test/contracts/OVM/accounts/OVM_ECDSAContractAccount.spec.ts
  packages/contracts/test/contracts/OVM/precompiles/OVM_SequencerEntrypoint.spec.ts
  packages/contracts/test/contracts/libraries/codec/Lib_EIP155Tx.spec.ts
  packages/contracts/test/contracts/libraries/utils/Lib_ECDSAUtils.spec.ts
  packages/contracts/test/data/index.ts
  packages/contracts/test/data/json/libraries/codec/Lib_EIP155Tx.test.json
  packages/contracts/test/data/json/libraries/codec/Lib_OVMCodec.test.json
  packages/contracts/test/data/json/libraries/utils/Lib_ECDSAUtils.test.json
  packages/contracts/test/helpers/codec/encoding.ts
  packages/contracts/test/helpers/test-runner/json-test-runner.ts
Labels: A-contracts, A-geth, C-enhancement

#569 ops: configurable l2geth verbosity
  ops/scripts/geth.sh
Labels: M-ops

#592 feat[contracts]: Make ProxyEOA compatible with eip1967
  .changeset/old-cycles-invite.md
  packages/contracts/contracts/optimistic-ethereum/OVM/accounts/OVM_ProxyEOA.sol
  packages/contracts/test/contracts/OVM/accounts/OVM_ProxyEOA.spec.ts
Labels: A-contracts, C-enhancement

#609 refactor[contracts]: Import OZ contracts directly
  .changeset/odd-cows-fry.md
  integration-tests/test/native-eth.spec.ts
  packages/contracts/contracts/optimistic-ethereum/OVM/bridge/messaging/Abs_BaseCrossDomainMessenger.sol
  packages/contracts/contracts/optimistic-ethereum/OVM/bridge/messaging/OVM_L1CrossDomainMessenger.sol
  packages/contracts/contracts/optimistic-ethereum/OVM/bridge/messaging/OVM_L2CrossDomainMessenger.sol
  packages/contracts/contracts/optimistic-ethereum/OVM/chain/OVM_CanonicalTransactionChain.sol
  packages/contracts/contracts/optimistic-ethereum/libraries/resolver/Lib_AddressManager.sol
  packages/contracts/contracts/optimistic-ethereum/libraries/resolver/Lib_Ownable.sol
  packages/contracts/contracts/optimistic-ethereum/libraries/utils/Lib_Math.sol
  packages/contracts/contracts/optimistic-ethereum/libraries/utils/Lib_ReentrancyGuard.sol
Labels: A-contracts, C-maintenance

#597 fix[contracts]: Separately generate OVM typechain artifacts
  .changeset/cuddly-geese-hope.md
  packages/contracts/package.json
  packages/contracts/scripts/build.sh
  packages/hardhat-ovm/src/index.ts
Labels: A-contracts, C-enhancement

#542 dtl: standardize config
  .changeset/calm-flies-drive.md
  packages/data-transport-layer/src/services/run.ts
Labels: C-maintenance, M-dtl

#619 feat[contracts]: Add value transfer support to ECDSAContractAccount
  .changeset/fuzzy-gorillas-accept.md
  integration-tests/test/fee-payment.spec.ts
  integration-tests/test/rpc.spec.ts
  l2geth/core/state_transition.go
  l2geth/core/state_transition_ovm.go
  l2geth/eth/api_backend.go
  packages/contracts/contracts/optimistic-ethereum/OVM/accounts/OVM_ECDSAContractAccount.sol
  packages/contracts/contracts/optimistic-ethereum/OVM/predeploys/OVM_SequencerEntrypoint.sol
  packages/contracts/test/contracts/OVM/accounts/OVM_ECDSAContractAccount.spec.ts
Labels: A-contracts, C-enhancement

#680 ops: docker-compose builder scale 0
  ops/docker-compose.yml
Labels: M-ops

#665 docs: add waffle example + ci
  .github/workflows/integration.yml
  examples/waffle/.gitignore
  examples/waffle/.prettierrc.json
  examples/waffle/LICENSE
  examples/waffle/README.md
  examples/waffle/contracts/ERC20.sol
  examples/waffle/contracts/IERC20.sol
  examples/waffle/package.json
  examples/waffle/test/erc20.spec.js
  examples/waffle/test/getArtifact.js
  examples/waffle/waffle-ovm.json
  examples/waffle/waffle.json
  examples/waffle/yarn.lock
  yarn.lock
Labels: A-ci, A-integration-tests
