Repository ethereum-optimism/optimism, pull requests merged in 2022-06, with the labels that each got.

#2647 fix(l2geth): L1 sync error recovery logic
  .changeset/stupid-pears-cough.md
  l2geth/rollup/client.go
  l2geth/rollup/sync_service.go
  l2geth/rollup/sync_service_test.go
Labels: 2-reviewers, M-l2geth, C-Protocol-Critical, on-merge-train

#2569 feat(ctp): introduce Drippie
  .changeset/few-comics-fly.md
  .circleci/config.yml
  packages/contracts-periphery/.env.example
  packages/contracts-periphery/contracts/testing/helpers/CallRecorder.sol
  packages/contracts-periphery/contracts/testing/helpers/Reverter.sol
  packages/contracts-periphery/contracts/testing/helpers/SimpleStorage.sol
  packages/contracts-periphery/contracts/universal/AssetReceiver.sol
  packages/contracts-periphery/contracts/universal/Transactor.sol
  packages/contracts-periphery/contracts/universal/drippie/Drippie.sol
  packages/contracts-periphery/contracts/universal/drippie/IDripCheck.sol
  packages/contracts-periphery/contracts/universal/drippie/dripchecks/CheckBalanceHigh.sol
  packages/contracts-periphery/contracts/universal/drippie/dripchecks/CheckBalanceLow.sol
  packages/contracts-periphery/contracts/universal/drippie/dripchecks/CheckGelatoLow.sol
  packages/contracts-periphery/contracts/universal/drippie/dripchecks/CheckTrue.sol
  packages/contracts-periphery/deploy/RetroReceiver.ts
  packages/contracts-periphery/deploy/drippie/Drippie.ts
  packages/contracts-periphery/deploy/drippie/dripchecks/CheckBalanceHigh.ts
  packages/contracts-periphery/deploy/drippie/dripchecks/CheckBalanceLow.ts
  packages/contracts-periphery/deploy/drippie/dripchecks/CheckGelatoLow.ts
  packages/contracts-periphery/deploy/drippie/dripchecks/CheckTrue.ts
  packages/contracts-periphery/hardhat.config.ts
  packages/contracts-periphery/package.json
  packages/contracts-periphery/slither.config.json
  packages/contracts-periphery/src/config/deploy.ts
  packages/contracts-periphery/src/config/drippie.ts
  packages/contracts-periphery/src/config/index.ts
  packages/contracts-periphery/src/etherscan.ts
  packages/contracts-periphery/src/index.ts
  packages/contracts-periphery/tasks/deploy-receiver.ts
  packages/contracts-periphery/tasks/index.ts
  packages/contracts-periphery/tasks/install-drippie-config.ts
  packages/contracts-periphery/test/contracts/universal/AssetReceiver.spec.ts
  packages/contracts-periphery/test/contracts/universal/Transactor.spec.ts
  packages/contracts-periphery/test/contracts/universal/drippie/Drippie.spec.ts
  packages/contracts-periphery/test/contracts/universal/drippie/dripchecks/CheckBalanceHigh.spec.ts
  packages/contracts-periphery/test/contracts/universal/drippie/dripchecks/CheckBalanceLow.spec.ts
  packages/contracts-periphery/test/contracts/universal/drippie/dripchecks/CheckGelatoLow.spec.ts
  packages/contracts-periphery/test/contracts/universal/drippie/dripchecks/CheckTrue.spec.ts
  packages/contracts-periphery/test/helpers/index.ts
  packages/contracts-periphery/test/helpers/solidity.ts
  yarn.lock
Labels: 2-reviewers, on-merge-train, M-contracts-periphery

#2652 l2geth: fix docker release build
  .changeset/green-phones-shop.md
  .github/workflows/release.yml
Labels: 2-reviewers

#2657 bedrock: update geth, now includes rpc auth utils
  go.work.sum
  op-batcher/go.mod
  op-batcher/go.sum
  op-bindings/go.mod
  op-bindings/go.sum
  op-e2e/go.mod
  op-e2e/go.sum
  op-node/go.mod
  op-node/go.sum
  op-proposer/go.mod
  op-proposer/go.sum
Labels: on-merge-train

#2636 opnode: Record errors from batch derivation
  op-node/rollup/derive/payload_attributes.go
  op-node/rollup/driver/step.go
Labels: on-merge-train

#2660 contracts-bedrock: prepare for release
  packages/contracts-bedrock/foundry.toml
  packages/contracts-bedrock/package.json
  packages/contracts-bedrock/src/constants.ts
  packages/contracts-bedrock/src/generateProofs.ts
  packages/contracts-bedrock/src/index.ts
  packages/contracts-bedrock/src/trie-test-generator.ts
  packages/contracts-bedrock/src/utils.ts
  packages/contracts-bedrock/tasks/deposits.ts
  packages/contracts-bedrock/test/helpers.spec.ts
  packages/contracts-bedrock/tsconfig.json
Labels: on-merge-train

#2659 contracts-bedrock: initial release
  .changeset/wise-rabbits-drive.md
Labels: on-merge-train

#2665 Bedrock: update geth, fix bug
  go.work
  go.work.sum
  op-batcher/go.mod
  op-batcher/go.sum
  op-bindings/go.mod
  op-bindings/go.sum
  op-e2e/go.mod
  op-e2e/go.sum
  op-node/go.mod
  op-node/go.sum
  op-node/rollup/derive/payload_attributes.go
  op-proposer/go.mod
  op-proposer/go.sum
Labels: on-merge-train

#2663 ci: cleanup circleci
  .circleci/config.yml
Labels: on-merge-train

#2672 fix(ci): bedrock requires monorepo
  .circleci/config.yml
Labels: on-merge-train

#2591 Bedrock: use Engine API authentication
  op-e2e/geth.go
  op-e2e/setup.go
  op-e2e/system_test.go
  op-node/cmd/main.go
  op-node/flags/flags.go
  op-node/node/client.go
  op-node/node/config.go
  op-node/node/node.go
  op-node/node/server_test.go
  op-node/service.go
  ops-bedrock/docker-compose.yml
  ops-bedrock/test-jwt-secret.txt
Labels: on-merge-train

#2674 feat(ctp): use solmate instead of oz
  packages/contracts-periphery/contracts/universal/AssetReceiver.sol
  packages/contracts-periphery/contracts/universal/Transactor.sol
  packages/contracts-periphery/test/contracts/universal/AssetReceiver.spec.ts
  packages/contracts-periphery/test/contracts/universal/Transactor.spec.ts
  packages/contracts-periphery/test/contracts/universal/drippie/Drippie.spec.ts
Labels: 2-reviewers, on-merge-train, M-contracts-periphery

#2675 Frozen lockfile
  .github/workflows/publish-canary.yml
  .github/workflows/release.yml
  .github/workflows/sync-tests.yml
Labels: 2-reviewers, on-merge-train

#2671 ci: Add mergify-ignore label to prevent automerge
  .github/mergify.yml
Labels: 2-reviewers, on-merge-train

#2680 feat: deploy RetroReceiver
  packages/contracts-periphery/config/deploy/ethereum.ts
  packages/contracts-periphery/config/deploy/optimism.ts
  packages/contracts-periphery/deployments/ethereum/.chainId
  packages/contracts-periphery/deployments/ethereum/AssetReceiver.json
  packages/contracts-periphery/deployments/ethereum/solcInputs/5bd191b00ea9c0cd6028a01f6227b05c.json
  packages/contracts-periphery/deployments/optimism/.chainId
  packages/contracts-periphery/deployments/optimism/AssetReceiver.json
  packages/contracts-periphery/deployments/optimism/solcInputs/5bd191b00ea9c0cd6028a01f6227b05c.json
Labels: 2-reviewers, on-merge-train, M-contracts-periphery

#2575 feat(contracts): deposit gas metering via 1559
  op-bindings/bindings/l2tol1messagepasser.go
  op-bindings/bindings/l2tol1messagepasser_deployed.go
  op-bindings/bindings/optimismportal.go
  op-bindings/bindings/optimismportal_deployed.go
  op-node/withdrawals/utils.go
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/CHANGELOG.md
  packages/contracts-bedrock/contracts/L1/OptimismPortal.sol
  packages/contracts-bedrock/contracts/L1/ResourceMetering.sol
  packages/contracts-bedrock/contracts/L2/Burner.sol
  packages/contracts-bedrock/contracts/L2/L2ToL1MessagePasser.sol
  packages/contracts-bedrock/contracts/libraries/Burn.sol
  packages/contracts-bedrock/contracts/test/CommonTest.t.sol
  packages/contracts-bedrock/contracts/test/L1CrossDomainMessenger.t.sol
  packages/contracts-bedrock/contracts/test/OptimismPortal.t.sol
  packages/contracts-bedrock/contracts/test/ResourceMetering.t.sol
  packages/contracts-bedrock/package.json
  packages/contracts-bedrock/tsconfig.json
  yarn.lock
Labels: on-merge-train

#2678 contracts-bedrock: depositTransaction warning
  packages/contracts-bedrock/contracts/L1/OptimismPortal.sol
Labels: on-merge-train

#2682 contracts-bedrock: fix linter
  packages/contracts-bedrock/package.json
Labels: on-merge-train

#2685 teleportr: Increase max disbursements to 15
  .changeset/short-nails-burn.md
  teleportr/drivers/disburser/driver.go
Labels: on-merge-train

#2690 teleportr: Improve metrics
  .changeset/curly-swans-crash.md
  teleportr/drivers/disburser/driver.go
  teleportr/drivers/disburser/metrics.go
  teleportr/teleportr.go
Labels: on-merge-train

#2684 devnet: Fix devnet
  Makefile
  ops-bedrock/docker-compose.yml
Labels: on-merge-train

#2692 ci: Update mergify to not loop
  .github/mergify.yml
Labels: 2-reviewers, on-merge-train

#2699 op-node: Remove multi L2 Engine Option
  op-e2e/setup.go
  op-node/flags/flags.go
  op-node/node/client.go
  op-node/node/config.go
  op-node/node/node.go
  op-node/service.go
Labels: on-merge-train

#2704 feat(ctp): update style for L1 contracts
  .changeset/shaggy-zebras-juggle.md
  op-bindings/bindings/optimismportal.go
  packages/contracts-bedrock/contracts/L1/L1CrossDomainMessenger.sol
  packages/contracts-bedrock/contracts/L1/L1StandardBridge.sol
  packages/contracts-bedrock/contracts/L1/OptimismPortal.sol
  packages/contracts-bedrock/contracts/L1/ResourceMetering.sol
Labels: on-merge-train

#2687 feat: introduce the drippie-mon service
  .changeset/honest-ants-own.md
  .changeset/slow-numbers-knock.md
  .circleci/config.yml
  .github/labeler.yml
  .github/workflows/publish-canary.yml
  .github/workflows/release.yml
  .vscode/settings.json
  README.md
  packages/contracts-periphery/contracts/universal/drippie/Drippie.sol
  packages/contracts-periphery/hardhat.config.ts
  packages/drippie-mon/.depcheckrc
  packages/drippie-mon/.env.example
  packages/drippie-mon/.eslintrc.js
  packages/drippie-mon/.lintstagedrc.yml
  packages/drippie-mon/.prettierrc.js
  packages/drippie-mon/LICENSE
  packages/drippie-mon/README.md
  packages/drippie-mon/package.json
  packages/drippie-mon/src/index.ts
  packages/drippie-mon/src/service.ts
  packages/drippie-mon/tsconfig.json
Labels: 2-reviewers, on-merge-train, M-contracts-periphery

#2705 Bedrock - temporary batch-builder reorg fix - don't omit empty batches
  op-node/l2/util.go
  op-node/node/api.go
  op-node/node/bundle_builder.go
  op-node/node/bundle_builder_test.go
Labels: on-merge-train

#2594 feat: op bindings predeploy addresses
  op-bindings/predeploys/addresses.go
  op-e2e/setup.go
  op-e2e/system_test.go
  op-node/node/api.go
  op-node/node/server_test.go
  op-node/predeploy/predeploy.go
  op-node/rollup/derive/payload_attributes.go
  op-node/withdrawals/utils.go
Labels: on-merge-train

#2697 deps: update `forge-std`
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/.gitignore
  packages/contracts-bedrock/package.json
  yarn.lock
Labels: on-merge-train

#2568 specs: add predeploys
  specs/glossary.md
  specs/predeploys.md
Labels: on-merge-train

#2710 contributing: note how to install foundry
  CONTRIBUTING.md
Labels: on-merge-train

#2596 contracts: optimize `L1Block.setL1BlockValues`
  op-bindings/bindings/l1block.go
  op-bindings/bindings/l1block_deployed.go
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/L2/L1Block.sol
Labels: on-merge-train

#2670 package: contracts-governance
  .changeset/light-parrots-yell.md
  .circleci/config.yml
  ops/docker/Dockerfile.packages
  packages/contracts-governance/.env.example
  packages/contracts-governance/.eslintignore
  packages/contracts-governance/.eslintrc.js
  packages/contracts-governance/.npmignore
  packages/contracts-governance/.prettierignore
  packages/contracts-governance/.prettierrc.js
  packages/contracts-governance/.solhint.json
  packages/contracts-governance/.solhintignore
  packages/contracts-governance/README.md
  packages/contracts-governance/contracts/GovernanceToken.sol
  packages/contracts-governance/contracts/MerkleDistributor.sol
  packages/contracts-governance/contracts/MintManager.sol
  packages/contracts-governance/contracts/interfaces/IMerkleDistributor.sol
  packages/contracts-governance/contracts/test/TestERC20.sol
  packages/contracts-governance/hardhat.config.ts
  packages/contracts-governance/package.json
  packages/contracts-governance/scripts/create-airdrop-json.ts
  packages/contracts-governance/scripts/create-distributor-json.ts
  packages/contracts-governance/scripts/deploy-distributor.ts
  packages/contracts-governance/scripts/deploy-token.ts
  packages/contracts-governance/scripts/generate-merkle-root.ts
  packages/contracts-governance/scripts/mint-initial-supply.ts
  packages/contracts-governance/scripts/multi-send.ts
  packages/contracts-governance/scripts/test-claims.ts
  packages/contracts-governance/scripts/verify-merkle-root.ts
  packages/contracts-governance/src/balance-tree.ts
  packages/contracts-governance/src/merkle-tree.ts
  packages/contracts-governance/src/parse-balance-map.ts
  packages/contracts-governance/src/prompt.ts
  packages/contracts-governance/test/MerkleDistributor.test.ts
  packages/contracts-governance/test/gov-token.test.ts
  packages/contracts-governance/test/helpers/eip712.ts
  packages/contracts-governance/test/helpers/time-travel.ts
  packages/contracts-governance/tsconfig.json
  yarn.lock
Labels: M-ops, 2-reviewers, on-merge-train

#2708 Redeploy to Goerli
  .changeset/green-donkeys-fry.md
  packages/contracts/deploy-config/goerli.ts
  packages/contracts/deployments/goerli/AddressDictator.json
  packages/contracts/deployments/goerli/BondManager.json
  packages/contracts/deployments/goerli/CanonicalTransactionChain.json
  packages/contracts/deployments/goerli/ChainStorageContainer-CTC-batches.json
  packages/contracts/deployments/goerli/ChainStorageContainer-CTC-queue.json
  packages/contracts/deployments/goerli/ChainStorageContainer-SCC-batches.json
  packages/contracts/deployments/goerli/ChugSplashDictator.json
  packages/contracts/deployments/goerli/L1StandardBridge_for_verification_only.json
  packages/contracts/deployments/goerli/Lib_AddressManager.json
  packages/contracts/deployments/goerli/OVM_L1CrossDomainMessenger.json
  packages/contracts/deployments/goerli/Proxy__OVM_L1CrossDomainMessenger.json
  packages/contracts/deployments/goerli/Proxy__OVM_L1StandardBridge.json
  packages/contracts/deployments/goerli/README.md
  packages/contracts/deployments/goerli/StateCommitmentChain.json
  packages/contracts/deployments/goerli/solcInputs/0688a9ac0c7cbca876232a3281bda510.json
  packages/contracts/deployments/goerli/solcInputs/0a41276e1e61949b5de1e4f1cd89fb6c.json
  packages/contracts/deployments/goerli/solcInputs/0b6b0f2f7cbf6cb1011b2fd242eb9f69.json
  packages/contracts/deployments/goerli/solcInputs/1845b32709cda2bc0b584a5e3f043e7b.json
  packages/contracts/deployments/goerli/solcInputs/1922d6575f24d34049f0f77444309807.json
  packages/contracts/deployments/goerli/solcInputs/5aae07ef9122520401369865ebc0eb3e.json
  packages/contracts/deployments/goerli/solcInputs/5f4e2d2e170708499f05344e000df330.json
  packages/contracts/deployments/goerli/solcInputs/71a3e0efd80de83ffb4a21a5a9f6be0a.json
  packages/contracts/deployments/goerli/solcInputs/76c096070f4b72a86045eb6ab63709ed.json
  packages/contracts/deployments/goerli/solcInputs/8d6d99a3584a757f4a6db32b22382ae9.json
  packages/contracts/deployments/goerli/solcInputs/fafd665d872703a6dab6b13999780370.json
  packages/contracts/genesis/goerli.json
  packages/contracts/hardhat.config.ts
Labels: M-contracts, 2-reviewers, on-merge-train

#2711 proxyd: Fix concurrent WS write panic
  .changeset/rude-foxes-think.md
  proxyd/backend.go
  proxyd/integration_tests/mock_backend_test.go
  proxyd/integration_tests/testdata/ws.toml
  proxyd/integration_tests/util_test.go
  proxyd/integration_tests/ws_test.go
  proxyd/server.go
Labels: on-merge-train

#2688 feat(cmn): BaseServiceV2 exposes internal options
  .changeset/ten-owls-return.md
  packages/common-ts/src/base-service/base-service-v2.ts
Labels: on-merge-train

#2658 specs: Fix inconsistencies within documentation
  specs/deposits.md
  specs/exec-engine.md
  specs/overview.md
  specs/rollup-node.md
  specs/withdrawals.md
Labels: on-merge-train

#2717 op-node: Include value in log context
  op-node/l2/source.go
Labels: on-merge-train

#2683 fix(ctp): re-deploy RetroReceiver with new owner
  .changeset/forty-guests-nail.md
  packages/contracts-periphery/config/deploy/ethereum.ts
  packages/contracts-periphery/config/deploy/optimism.ts
  packages/contracts-periphery/deploy/RetroReceiver.ts
  packages/contracts-periphery/deploy/drippie/Drippie.ts
  packages/contracts-periphery/deployments/ethereum/AssetReceiver.json
  packages/contracts-periphery/deployments/ethereum/solcInputs/66d28de48de020e62747d42ffe3118e7.json
  packages/contracts-periphery/deployments/optimism/AssetReceiver.json
  packages/contracts-periphery/deployments/optimism/solcInputs/66d28de48de020e62747d42ffe3118e7.json
  packages/contracts-periphery/src/config/deploy.ts
Labels: 2-reviewers, on-merge-train, M-contracts-periphery

#2719 devnet: Fix clean command
  Makefile
Labels: on-merge-train

#2720 l2geth: skip flaky tests
  l2geth/eth/downloader/downloader_test.go
Labels: 2-reviewers, M-l2geth, C-Protocol-Critical

#2629 fix(fd): start at beginning of challenge period
  .changeset/ninety-boxes-melt.md
  packages/fault-detector/hardhat.config.ts
  packages/fault-detector/package.json
  packages/fault-detector/src/helpers.ts
  packages/fault-detector/src/index.ts
  packages/fault-detector/src/service.ts
  packages/fault-detector/test/helpers.spec.ts
  packages/fault-detector/test/setup.ts
  yarn.lock
Labels: 2-reviewers, on-merge-train

#2726 fix(fd): off by one in metric
  .changeset/wicked-knives-jog.md
  packages/fault-detector/src/service.ts
Labels: 2-reviewers, on-merge-train

#2727 contracts: fix broken contracts tests
  packages/contracts/test/helpers/test-runner/json-test-runner.ts
Labels: M-contracts, 2-reviewers

#2712 teleportr: Better availability endpoint + retries
  .changeset/twelve-insects-marry.md
  teleportr/api/chain_data.go
  teleportr/api/chain_data_test.go
  teleportr/api/server.go
  teleportr/drivers/disburser/driver.go
  teleportr/drivers/disburser/metrics.go
  teleportr/drivers/disburser/retry.go
  teleportr/drivers/disburser/retry_test.go
  teleportr/flags/api_flags.go
  teleportr/go.mod
  teleportr/go.sum
Labels: on-merge-train

#2729 CI: Setup semgrep
  .circleci/config.yml
  .semgrepignore
Labels: on-merge-train

#2679 specs: Add deposit gas metering spec
  specs/deposits.md
  specs/glossary.md
  specs/guaranteed-gas-market.md
Labels: on-merge-train

#2725 feat(cmn): have BaseService expose a full server
  .changeset/five-fireants-notice.md
  packages/common-ts/package.json
  packages/common-ts/src/base-service/base-service-v2.ts
  yarn.lock
Labels: on-merge-train

#2744 teleportr: Fix panic
  .changeset/brown-parrots-type.md
  teleportr/drivers/disburser/driver.go
Labels: on-merge-train

#2745 e2e tests: Fix leaky timer
  op-e2e/system_test.go
Labels: on-merge-train

#2739 CI: Update semgrep rules & config
  .circleci/config.yml
  .semgrepignore
  Makefile
  op-e2e/system_test.go
Labels: on-merge-train

#2752 fix(cmn): BSV2 exposes default options in metadata
  .changeset/weak-needles-jam.md
  packages/common-ts/src/base-service/base-service-v2.ts
Labels: on-merge-train

#2754 feat(cmn): BSV2 collects default metrics
  .changeset/eight-coats-fix.md
  packages/common-ts/src/base-service/base-service-v2.ts
Labels: on-merge-train

#2737 contracts-governance: fix the mint manager
  .changeset/forty-sloths-change.md
  packages/contracts-governance/contracts/MintManager.sol
  packages/contracts-governance/test/gov-token.test.ts
Labels: on-merge-train

#2761 Bedrock: share more test utils, cleanup derive package structure, move payload/attributes types to eth package
  op-e2e/system_test.go
  op-e2e/tracer.go
  op-node/eth/ssz.go
  op-node/eth/ssz_test.go
  op-node/eth/types.go
  op-node/l2/source.go
  op-node/l2/util.go
  op-node/node/api.go
  op-node/node/comms.go
  op-node/node/node.go
  op-node/node/server_test.go
  op-node/p2p/gossip.go
  op-node/p2p/host_test.go
  op-node/rollup/derive/batches.go
  op-node/rollup/derive/batches_test.go
  op-node/rollup/derive/deposit_log.go
  op-node/rollup/derive/deposit_log_test.go
  op-node/rollup/derive/deposit_source.go
  op-node/rollup/derive/deposits.go
  op-node/rollup/derive/doc.go
  op-node/rollup/derive/fuzz_parsers_test.go
  op-node/rollup/derive/l1_block_info.go
  op-node/rollup/derive/l1_block_info_test.go
  op-node/rollup/derive/payload_attributes.go
  op-node/rollup/derive/payload_attributes_test.go
  op-node/rollup/derive/payload_util.go
  op-node/rollup/driver/driver.go
  op-node/rollup/driver/state.go
  op-node/rollup/driver/state_test.go
  op-node/rollup/driver/step.go
  op-node/testutils/block_id.go
  op-node/testutils/deposits.go
  op-node/testutils/fake_chain.go
  op-node/testutils/l1info.go
  op-node/testutils/random.go
  op-proposer/drivers/l2output/driver.go
  op-proposer/rollupclient/rollupclient.go
Labels: on-merge-train

#2760 CI: Enable full semgrep scan on develop
  .circleci/config.yml
Labels: on-merge-train

#2769 ci: better snapshot check
  .circleci/config.yml
Labels: on-merge-train

#2772 make: Misc Makefile Improvements
  Makefile
Labels: on-merge-train

#2764 feat(ctb): update L2 contract style
  .changeset/gentle-pants-drop.md
  op-bindings/bindings/l1block.go
  op-bindings/bindings/l1block_deployed.go
  packages/contracts-bedrock/contracts/L2/GasPriceOracle.sol
  packages/contracts-bedrock/contracts/L2/L1Block.sol
  packages/contracts-bedrock/contracts/L2/L1BlockNumber.sol
  packages/contracts-bedrock/contracts/L2/L2CrossDomainMessenger.sol
  packages/contracts-bedrock/contracts/L2/L2StandardBridge.sol
  packages/contracts-bedrock/contracts/L2/L2ToL1MessagePasser.sol
  packages/contracts-bedrock/contracts/L2/OVM_ETH.sol
  packages/contracts-bedrock/contracts/L2/SequencerFeeVault.sol
Labels: on-merge-train

#2758 feat(ctp): deploy to kovan and OP kovan
  .changeset/sour-hornets-vanish.md
  packages/contracts-periphery/config/deploy/kovan.ts
  packages/contracts-periphery/config/deploy/optimism-kovan.ts
  packages/contracts-periphery/config/drippie/kovan.ts
  packages/contracts-periphery/deployments/kovan/.chainId
  packages/contracts-periphery/deployments/kovan/CheckBalanceHigh.json
  packages/contracts-periphery/deployments/kovan/CheckBalanceLow.json
  packages/contracts-periphery/deployments/kovan/CheckGelatoLow.json
  packages/contracts-periphery/deployments/kovan/CheckTrue.json
  packages/contracts-periphery/deployments/kovan/Drippie.json
  packages/contracts-periphery/deployments/kovan/TeleportrWithdrawer.json
  packages/contracts-periphery/deployments/kovan/solcInputs/abf923dacd3c5c38ad59533119756db7.json
  packages/contracts-periphery/deployments/optimism-kovan/.chainId
  packages/contracts-periphery/deployments/optimism-kovan/CheckBalanceHigh.json
  packages/contracts-periphery/deployments/optimism-kovan/CheckBalanceLow.json
  packages/contracts-periphery/deployments/optimism-kovan/CheckGelatoLow.json
  packages/contracts-periphery/deployments/optimism-kovan/CheckTrue.json
  packages/contracts-periphery/deployments/optimism-kovan/Drippie.json
  packages/contracts-periphery/deployments/optimism-kovan/TeleportrWithdrawer.json
  packages/contracts-periphery/deployments/optimism-kovan/solcInputs/abf923dacd3c5c38ad59533119756db7.json
  packages/contracts-periphery/src/config/drippie.ts
Labels: 2-reviewers, on-merge-train, M-contracts-periphery

#2767 feat(ci): download and cache solidity compilers
  .changeset/heavy-sheep-dream.md
  ops/docker/js-builder/Dockerfile
Labels: M-ops, 2-reviewers, on-merge-train

#2777 Check if Foundry is installed before building
  packages/contracts-bedrock/package.json
  packages/contracts-bedrock/scripts/verifyFoundryInstall.ts
  yarn.lock
Labels: on-merge-train

#2731 feat(BaseServiceV2):End immediately when looping
  .changeset/tasty-drinks-rhyme.md
  packages/common-ts/src/base-service/base-service-v2.ts
Labels: on-merge-train

#2775 Goerli devnet external replicas
  infra/op-replica/kustomize/public-overlays/goerli-replica-0-5-14-alpha/data-transport-layer-sync-source.env
  infra/op-replica/kustomize/public-overlays/goerli-replica-0-5-14-alpha/kustomization.yaml
  infra/op-replica/kustomize/public-overlays/goerli-replica-0-5-14-alpha/l2geth-replica-sync-source.env
  infra/op-replica/kustomize/public-overlays/goerli-replica-0-5-14-alpha/patches/dtl-volume.yaml
  infra/op-replica/kustomize/public-overlays/goerli-replica-0-5-14-alpha/patches/dtl.yaml
  infra/op-replica/kustomize/public-overlays/goerli-replica-0-5-14-alpha/patches/l2geth-volume.yaml
  infra/op-replica/kustomize/public-overlays/goerli-replica-0-5-14-alpha/patches/l2geth.yaml
  infra/op-replica/kustomize/public-overlays/goerli-replica-0-5-14-alpha/replica-healthcheck-v1.env
  infra/op-replica/kustomize/public-overlays/goerli-replica-0-5-14-alpha/volumes.yaml
  infra/op-replica/kustomize/public-overlays/goerli-replica-0-5-14-beta/data-transport-layer-sync-source.env
  infra/op-replica/kustomize/public-overlays/goerli-replica-0-5-14-beta/kustomization.yaml
  infra/op-replica/kustomize/public-overlays/goerli-replica-0-5-14-beta/l2geth-replica-sync-source.env
  infra/op-replica/kustomize/public-overlays/goerli-replica-0-5-14-beta/patches/dtl-volume.yaml
  infra/op-replica/kustomize/public-overlays/goerli-replica-0-5-14-beta/patches/dtl.yaml
  infra/op-replica/kustomize/public-overlays/goerli-replica-0-5-14-beta/patches/l2geth-volume.yaml
  infra/op-replica/kustomize/public-overlays/goerli-replica-0-5-14-beta/patches/l2geth.yaml
  infra/op-replica/kustomize/public-overlays/goerli-replica-0-5-14-beta/replica-healthcheck-v1.env
  infra/op-replica/kustomize/public-overlays/goerli-replica-0-5-14-beta/volumes.yaml
  infra/op-replica/kustomize/public-overlays/goerli-replica-l1-0-5-14-alpha/data-transport-layer-sync-source.env
  infra/op-replica/kustomize/public-overlays/goerli-replica-l1-0-5-14-alpha/kustomization.yaml
  infra/op-replica/kustomize/public-overlays/goerli-replica-l1-0-5-14-alpha/l2geth-replica-sync-source.env
  infra/op-replica/kustomize/public-overlays/goerli-replica-l1-0-5-14-alpha/patches/dtl-volume.yaml
  infra/op-replica/kustomize/public-overlays/goerli-replica-l1-0-5-14-alpha/patches/dtl.yaml
  infra/op-replica/kustomize/public-overlays/goerli-replica-l1-0-5-14-alpha/patches/l2geth-volume.yaml
  infra/op-replica/kustomize/public-overlays/goerli-replica-l1-0-5-14-alpha/patches/l2geth.yaml
  infra/op-replica/kustomize/public-overlays/goerli-replica-l1-0-5-14-alpha/replica-healthcheck-v1.env
  infra/op-replica/kustomize/public-overlays/goerli-replica-l1-0-5-14-alpha/volumes.yaml
  infra/op-replica/kustomize/public-overlays/goerli-replica-l1-0-5-14-beta/data-transport-layer-sync-source.env
  infra/op-replica/kustomize/public-overlays/goerli-replica-l1-0-5-14-beta/kustomization.yaml
  infra/op-replica/kustomize/public-overlays/goerli-replica-l1-0-5-14-beta/l2geth-replica-sync-source.env
  infra/op-replica/kustomize/public-overlays/goerli-replica-l1-0-5-14-beta/patches/dtl-volume.yaml
  infra/op-replica/kustomize/public-overlays/goerli-replica-l1-0-5-14-beta/patches/dtl.yaml
  infra/op-replica/kustomize/public-overlays/goerli-replica-l1-0-5-14-beta/patches/l2geth-volume.yaml
  infra/op-replica/kustomize/public-overlays/goerli-replica-l1-0-5-14-beta/patches/l2geth.yaml
  infra/op-replica/kustomize/public-overlays/goerli-replica-l1-0-5-14-beta/replica-healthcheck-v1.env
  infra/op-replica/kustomize/public-overlays/goerli-replica-l1-0-5-14-beta/volumes.yaml
Labels: on-merge-train

#2778 bedrock: fix OZ-H-O2 Token address ordering
  .changeset/tiny-students-rescue.md
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/test/CommonTest.t.sol
  packages/contracts-bedrock/contracts/test/L2StandardBridge.t.sol
  packages/contracts-bedrock/contracts/universal/StandardBridge.sol
Labels: on-merge-train

#2782 ci: Remove buggy assignments rule
  .github/mergify.yml
Labels: 2-reviewers

#2715 Additional mainnet replicas
  infra/op-replica/kustomize/overlays/mainnet-replica-0-5-14-alpha/kustomization.yaml
  infra/op-replica/kustomize/overlays/mainnet-replica-0-5-14-alpha/patches/dtl-volume.yaml
  infra/op-replica/kustomize/overlays/mainnet-replica-0-5-14-alpha/patches/dtl.yaml
  infra/op-replica/kustomize/overlays/mainnet-replica-0-5-14-alpha/patches/l2geth-volume.yaml
  infra/op-replica/kustomize/overlays/mainnet-replica-0-5-14-alpha/patches/l2geth.yaml
  infra/op-replica/kustomize/overlays/mainnet-replica-0-5-14-alpha/patches/replica-healthcheck.yaml
  infra/op-replica/kustomize/overlays/mainnet-replica-0-5-14-alpha/replica-healthcheck-v1.env
  infra/op-replica/kustomize/overlays/mainnet-replica-0-5-14-alpha/volumes.yaml
  infra/op-replica/kustomize/overlays/mainnet-replica-0-5-14-beta/kustomization.yaml
  infra/op-replica/kustomize/overlays/mainnet-replica-0-5-14-beta/patches/dtl-volume.yaml
  infra/op-replica/kustomize/overlays/mainnet-replica-0-5-14-beta/patches/dtl.yaml
  infra/op-replica/kustomize/overlays/mainnet-replica-0-5-14-beta/patches/l2geth-volume.yaml
  infra/op-replica/kustomize/overlays/mainnet-replica-0-5-14-beta/patches/l2geth.yaml
  infra/op-replica/kustomize/overlays/mainnet-replica-0-5-14-beta/patches/replica-healthcheck.yaml
  infra/op-replica/kustomize/overlays/mainnet-replica-0-5-14-beta/replica-healthcheck-v1.env
  infra/op-replica/kustomize/overlays/mainnet-replica-0-5-14-beta/volumes.yaml
  infra/op-replica/kustomize/overlays/mainnet-replica-l1-0-5-14-beta/kustomization.yaml
  infra/op-replica/kustomize/overlays/mainnet-replica-l1-0-5-14-beta/patches/dtl-volume.yaml
  infra/op-replica/kustomize/overlays/mainnet-replica-l1-0-5-14-beta/patches/dtl.yaml
  infra/op-replica/kustomize/overlays/mainnet-replica-l1-0-5-14-beta/patches/l2geth-volume.yaml
  infra/op-replica/kustomize/overlays/mainnet-replica-l1-0-5-14-beta/patches/l2geth.yaml
  infra/op-replica/kustomize/overlays/mainnet-replica-l1-0-5-14-beta/patches/replica-healthcheck.yaml
  infra/op-replica/kustomize/overlays/mainnet-replica-l1-0-5-14-beta/replica-healthcheck-v1.env
  infra/op-replica/kustomize/overlays/mainnet-replica-l1-0-5-14-beta/volumes.yaml
  infra/op-replica/kustomize/overlays/mainnet-replica-l1-0-5-15/kustomization.yaml
  infra/op-replica/kustomize/overlays/mainnet-replica-l1-0-5-15/patches/dtl-volume.yaml
  infra/op-replica/kustomize/overlays/mainnet-replica-l1-0-5-15/patches/dtl.yaml
  infra/op-replica/kustomize/overlays/mainnet-replica-l1-0-5-15/patches/l2geth-volume.yaml
  infra/op-replica/kustomize/overlays/mainnet-replica-l1-0-5-15/patches/l2geth.yaml
  infra/op-replica/kustomize/overlays/mainnet-replica-l1-0-5-15/patches/replica-healthcheck.yaml
  infra/op-replica/kustomize/overlays/mainnet-replica-l1-0-5-15/replica-healthcheck-v1.env
  infra/op-replica/kustomize/overlays/mainnet-replica-l1-0-5-15/volumes.yaml
Labels: on-merge-train

#2784 ci: Fix broken js-builder build
  .changeset/slow-scissors-battle.md
  ops/docker/js-builder/Dockerfile
Labels: M-ops, 2-reviewers, on-merge-train

#2656 l2geth: verifier sync in parallel with dtl
  .changeset/rude-ears-lay.md
  l2geth/rollup/sync_service.go
Labels: 2-reviewers, M-l2geth, C-Protocol-Critical, on-merge-train

#2783 Deployment for bedrock contracts on goerli
  .changeset/chilled-teachers-train.md
  packages/contracts-bedrock/README.md
  packages/contracts-bedrock/deploy-config/goerli.ts
  packages/contracts-bedrock/deployments/goerli/.chainId
  packages/contracts-bedrock/deployments/goerli/L1CrossDomainMessenger.json
  packages/contracts-bedrock/deployments/goerli/L1StandardBridge.json
  packages/contracts-bedrock/deployments/goerli/L2OutputOracle.json
  packages/contracts-bedrock/deployments/goerli/OptimismMintableTokenFactory.json
  packages/contracts-bedrock/deployments/goerli/OptimismPortal.json
  packages/contracts-bedrock/hardhat.config.ts
Labels: on-merge-train

#2788 deps: update hh forge plugin
  .changeset/chilly-balloons-trade.md
  packages/contracts-bedrock/package.json
  yarn.lock
Labels: on-merge-train

#2792 Version Packages
  .changeset/chilled-teachers-train.md
  .changeset/chilly-balloons-trade.md
  .changeset/cyan-months-kneel.md
  .changeset/eight-coats-fix.md
  .changeset/eleven-pears-develop.md
  .changeset/forty-sloths-change.md
  .changeset/gentle-pants-drop.md
  .changeset/gentle-shrimps-hug.md
  .changeset/giant-cobras-heal.md
  .changeset/happy-carpets-rush.md
  .changeset/heavy-sheep-dream.md
  .changeset/late-singers-roll.md
  .changeset/loud-baboons-allow.md
  .changeset/rude-ears-lay.md
  .changeset/slow-scissors-battle.md
  .changeset/smart-worms-matter.md
  .changeset/sour-hornets-vanish.md
  .changeset/tasty-drinks-rhyme.md
  .changeset/tiny-students-rescue.md
  integration-tests/CHANGELOG.md
  integration-tests/package.json
  l2geth/CHANGELOG.md
  l2geth/package.json
  ops/docker/hardhat/CHANGELOG.md
  ops/docker/hardhat/package.json
  ops/docker/js-builder/CHANGELOG.md
  ops/docker/js-builder/package.json
  packages/common-ts/CHANGELOG.md
  packages/common-ts/package.json
  packages/contracts-bedrock/CHANGELOG.md
  packages/contracts-bedrock/package.json
  packages/contracts-governance/CHANGELOG.md
  packages/contracts-governance/package.json
  packages/contracts-periphery/CHANGELOG.md
  packages/contracts-periphery/package.json
  packages/contracts/CHANGELOG.md
  packages/contracts/package.json
  packages/core-utils/CHANGELOG.md
  packages/core-utils/package.json
  packages/data-transport-layer/CHANGELOG.md
  packages/data-transport-layer/package.json
  packages/drippie-mon/CHANGELOG.md
  packages/drippie-mon/package.json
  packages/fault-detector/CHANGELOG.md
  packages/fault-detector/package.json
  packages/hardhat-deploy-config/CHANGELOG.md
  packages/hardhat-deploy-config/package.json
  packages/integration-tests-bedrock/CHANGELOG.md
  packages/integration-tests-bedrock/package.json
  packages/message-relayer/CHANGELOG.md
  packages/message-relayer/package.json
  packages/replica-healthcheck/CHANGELOG.md
  packages/replica-healthcheck/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
  teleportr/CHANGELOG.md
  teleportr/package.json
Labels: M-core-utils, M-dtl, M-ops, M-contracts, 2-reviewers, M-l2geth, M-integration, M-sdk, M-contracts-periphery

#2787 bedrock: Proxy Admin improvements
  .changeset/cool-islands-dream.md
  .changeset/lemon-glasses-trade.md
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/test/ProxyAdmin.t.sol
  packages/contracts-bedrock/contracts/universal/ProxyAdmin.sol
Labels: on-merge-train

#2791 feat(ctp): deploy NFT bridge to Kovan
  .changeset/sixty-chefs-end.md
  .changeset/tidy-cats-wait.md
  packages/contracts-bedrock/hardhat.config.ts
  packages/contracts-bedrock/package.json
  packages/contracts-periphery/.depcheckrc
  packages/contracts-periphery/contracts/testing/helpers/ExternalContractCompiler.sol
  packages/contracts-periphery/contracts/universal/op-erc721/OptimismMintableERC721Factory.sol
  packages/contracts-periphery/deploy/PeripheryProxyAdmin.ts
  packages/contracts-periphery/deploy/nft-bridge/L1ERC721BridgeProxy.ts
  packages/contracts-periphery/deploy/nft-bridge/L2ERC721BridgeProxy.ts
  packages/contracts-periphery/deploy/nft-bridge/OptimismMintableERC721FactoryProxy.ts
  packages/contracts-periphery/deployments/kovan/L1ERC721Bridge.json
  packages/contracts-periphery/deployments/kovan/L1ERC721BridgeProxy.json
  packages/contracts-periphery/deployments/kovan/PeripheryProxyAdmin.json
  packages/contracts-periphery/deployments/kovan/solcInputs/416b06ac480c030cd0fc465100e7be9f.json
  packages/contracts-periphery/deployments/kovan/solcInputs/9bf33bb642648b258386a9c465b5d346.json
  packages/contracts-periphery/deployments/optimism-kovan/L2ERC721Bridge.json
  packages/contracts-periphery/deployments/optimism-kovan/L2ERC721BridgeProxy.json
  packages/contracts-periphery/deployments/optimism-kovan/OptimismMintableERC721Factory.json
  packages/contracts-periphery/deployments/optimism-kovan/OptimismMintableERC721FactoryProxy.json
  packages/contracts-periphery/deployments/optimism-kovan/PeripheryProxyAdmin.json
  packages/contracts-periphery/deployments/optimism-kovan/solcInputs/0938c383fb4942a90694b5a8af642a7f.json
  packages/contracts-periphery/deployments/optimism-kovan/solcInputs/9bf33bb642648b258386a9c465b5d346.json
  packages/contracts-periphery/hardhat.config.ts
  packages/contracts-periphery/package.json
  yarn.lock
Labels: 2-reviewers, on-merge-train, M-contracts-periphery

#2763 OZ Low and Informational audit fixes (on develop)
  .changeset/gorgeous-berries-behave.md
  op-bindings/bindings/l2outputoracle.go
  op-bindings/bindings/optimismportal.go
  op-bindings/bindings/optimismportal_deployed.go
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/L1/L1StandardBridge.sol
  packages/contracts-bedrock/contracts/L1/L2OutputOracle.sol
  packages/contracts-bedrock/contracts/L1/OptimismPortal.sol
  packages/contracts-bedrock/contracts/L2/L2StandardBridge.sol
  packages/contracts-bedrock/contracts/L2/L2ToL1MessagePasser.sol
  packages/contracts-bedrock/contracts/test/L2StandardBridge.t.sol
  packages/contracts-bedrock/contracts/test/OptimismMintableERC20.t.sol
  packages/contracts-bedrock/contracts/universal/CrossDomainMessenger.sol
  packages/contracts-bedrock/contracts/universal/OptimismMintableERC20.sol
  packages/contracts-bedrock/contracts/universal/OptimismMintableTokenFactory.sol
  packages/contracts-bedrock/contracts/universal/StandardBridge.sol
  packages/contracts-bedrock/contracts/universal/SupportedInterfaces.sol
Labels: mergify-ignore

#2797 op-bindings: Provide common.Address types of predeploys
  op-bindings/predeploys/addresses.go
  op-e2e/system_test.go
  op-node/node/api.go
  op-node/node/server_test.go
Labels: on-merge-train

#2802 op-bindings: Use common.Address predeploy types
  op-e2e/setup.go
  op-node/rollup/derive/l1_block_info.go
  op-node/withdrawals/utils.go
Labels: on-merge-train

#2801 proxyd: Use canned response for eth_accounts
  .changeset/poor-seahorses-ring.md
  proxyd/backend.go
  proxyd/integration_tests/batching_test.go
  proxyd/integration_tests/testdata/ws.toml
  proxyd/integration_tests/ws_test.go
  proxyd/rpc.go
  proxyd/server.go
Labels: on-merge-train

#2770 op-e2e: test l2 fee redirect; l1 availability fee
  go.work
  go.work.sum
  op-batcher/go.mod
  op-batcher/go.sum
  op-bindings/Makefile
  op-bindings/bindings/gaspriceoracle.go
  op-bindings/bindings/gaspriceoracle_deployed.go
  op-bindings/go.mod
  op-bindings/go.sum
  op-e2e/go.mod
  op-e2e/go.sum
  op-e2e/setup.go
  op-e2e/system_test.go
  op-node/go.mod
  op-node/go.sum
  op-proposer/go.mod
  op-proposer/go.sum
Labels: on-merge-train

#2707 bedrock: use block number for key in output oracle
  .changeset/selfish-queens-laugh.md
  op-bindings/bindings/l2outputoracle.go
  op-bindings/bindings/optimismportal.go
  op-e2e/setup.go
  op-e2e/system_test.go
  op-node/withdrawals/utils.go
  op-proposer/drivers/l2output/driver.go
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/L1/L2OutputOracle.sol
  packages/contracts-bedrock/contracts/L1/OptimismPortal.sol
  packages/contracts-bedrock/contracts/test/CommonTest.t.sol
  packages/contracts-bedrock/contracts/test/L2OutputOracle.t.sol
  packages/contracts-bedrock/contracts/test/OptimismPortal.t.sol
  specs/proposals.md
Labels: on-merge-train

#2765 OZ Medium severity audit fixes (on develop)
  .changeset/three-pants-punch.md
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/L1/L1StandardBridge.sol
  packages/contracts-bedrock/contracts/L1/OptimismPortal.sol
  packages/contracts-bedrock/contracts/L2/L2StandardBridge.sol
  packages/contracts-bedrock/contracts/test/L1CrossDomainMessenger.t.sol
  packages/contracts-bedrock/contracts/test/L1StandardBridge.t.sol
  packages/contracts-bedrock/contracts/test/L2StandardBridge.t.sol
  packages/contracts-bedrock/contracts/universal/CrossDomainMessenger.sol
  packages/contracts-bedrock/contracts/universal/StandardBridge.sol
Labels: mergify-ignore

#2812 drippie-mon: Fix build
  .changeset/dry-drinks-sneeze.md
  .github/workflows/publish-canary.yml
  ops/docker/Dockerfile.packages
Labels: M-ops, 2-reviewers, on-merge-train

#2805 fix(cmm): BSV2 update metrics to more permissive type
  .changeset/clever-bees-visit.md
  packages/common-ts/src/base-service/base-service-v2.ts
Labels: on-merge-train

#2814 fix(cmn): correctly ignore invalid routes
  .changeset/heavy-buttons-impress.md
  packages/common-ts/src/base-service/base-service-v2.ts
Labels: on-merge-train

#2818 Develop -> Master
  .changeset/clever-bees-visit.md
  .changeset/cool-islands-dream.md
  .changeset/dry-drinks-sneeze.md
  .changeset/gorgeous-berries-behave.md
  .changeset/heavy-buttons-impress.md
  .changeset/lemon-glasses-trade.md
  .changeset/poor-seahorses-ring.md
  .changeset/selfish-queens-laugh.md
  .changeset/sixty-chefs-end.md
  .changeset/three-pants-punch.md
  .changeset/tidy-cats-wait.md
  packages/common-ts/CHANGELOG.md
  packages/common-ts/package.json
  packages/contracts-bedrock/CHANGELOG.md
  packages/contracts-bedrock/package.json
  packages/contracts-periphery/CHANGELOG.md
  packages/contracts-periphery/package.json
  packages/data-transport-layer/CHANGELOG.md
  packages/data-transport-layer/package.json
  packages/drippie-mon/CHANGELOG.md
  packages/drippie-mon/package.json
  packages/fault-detector/CHANGELOG.md
  packages/fault-detector/package.json
  packages/message-relayer/CHANGELOG.md
  packages/message-relayer/package.json
  packages/replica-healthcheck/CHANGELOG.md
  packages/replica-healthcheck/package.json
  proxyd/CHANGELOG.md
  proxyd/package.json
Labels: M-dtl, 2-reviewers, M-contracts-periphery

#2793 fix(fd): make sure fd doesn't sync beyond tip
  .changeset/silly-hornets-grab.md
  packages/fault-detector/src/service.ts
Labels: 2-reviewers, on-merge-train

#2811 Update default image tags for mainnet
  infra/op-replica/docker-compose/default-mainnet.env
Labels: on-merge-train

#2824 Fix linting issues in bedrock package
  packages/contracts-bedrock/.eslintignore
  packages/contracts-bedrock/.prettierignore
  packages/contracts-bedrock/hardhat.config.ts
  packages/contracts-bedrock/package.json
Labels: on-merge-train

#2815 feat(common-ts): BSV2 Add version to healthz for convenience
  .changeset/thirty-ghosts-sneeze.md
  packages/common-ts/src/base-service/base-service-v2.ts
Labels: on-merge-train

#2766 l2geth: skip unused flakey tests
  l2geth/eth/downloader/downloader_test.go
Labels: 2-reviewers, M-l2geth, C-Protocol-Critical

#2799 feat(sdk): use L2 chain ID as source of truth
  .changeset/fresh-cycles-suffer.md
  .changeset/rare-wasps-play.md
  integration-tests/test/shared/env.ts
  packages/contracts-governance/hardhat.config.ts
  packages/contracts-governance/package.json
  packages/fault-detector/src/service.ts
  packages/message-relayer/src/service.ts
  packages/sdk/src/cross-chain-messenger.ts
  packages/sdk/src/interfaces/cross-chain-messenger.ts
  packages/sdk/src/interfaces/types.ts
  packages/sdk/src/utils/chain-constants.ts
  packages/sdk/src/utils/contracts.ts
  packages/sdk/test/cross-chain-messenger.spec.ts
  packages/sdk/test/utils/contracts.spec.ts
Labels: 2-reviewers, M-integration, M-sdk, on-merge-train

#2836 fix (bedrock): deploy L2OO - fix args
  .changeset/funny-goats-appear.md
  packages/contracts-bedrock/deploy/000-L2OutputOracle.deploy.ts
Labels: on-merge-train

#2831 chore(contracts): Fix comment about safeTransferFrom
  packages/contracts/contracts/L1/messaging/L1StandardBridge.sol
Labels: M-contracts, 2-reviewers, C-Protocol-Critical, on-merge-train

#2837 fix(op-e2e): less flakey TestL2OutputSubmitter
  op-e2e/system_test.go
Labels: on-merge-train

#2826 Make OuputOracle upgradeable
  .changeset/real-trainers-tie.md
  op-bindings/bindings/l2outputoracle.go
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/.storage-layout
  packages/contracts-bedrock/contracts/L1/L2OutputOracle.sol
  packages/contracts-bedrock/contracts/test/L2OutputOracle.t.sol
  packages/contracts-bedrock/contracts/test/OptimismPortal.t.sol
  packages/contracts-bedrock/deploy/000-L2OutputOracle.deploy.ts
Labels: on-merge-train

#2841 ci: Upgrade golangci-lint version to one that handles Go 1.18
  .changeset/thin-carpets-perform.md
  ops/docker/go-builder/Dockerfile
  proxyd/integration_tests/mock_backend_test.go
Labels: M-ops, 2-reviewers, on-merge-train

#2847 Trigger Releases
  .changeset/curvy-coins-push.md
  .changeset/fair-islands-lay.md
  .changeset/fair-poets-exist.md
  .changeset/famous-sloths-confess.md
  .changeset/fresh-cycles-suffer.md
  .changeset/funny-goats-appear.md
  .changeset/lemon-files-wait.md
  .changeset/pink-bags-rule.md
  .changeset/rare-wasps-play.md
  .changeset/real-trainers-tie.md
  .changeset/silly-hornets-grab.md
  .changeset/thin-carpets-perform.md
  .changeset/thirty-ghosts-sneeze.md
  integration-tests/CHANGELOG.md
  integration-tests/package.json
  ops/docker/go-builder/CHANGELOG.md
  ops/docker/go-builder/package.json
  packages/common-ts/CHANGELOG.md
  packages/common-ts/package.json
  packages/contracts-bedrock/CHANGELOG.md
  packages/contracts-bedrock/package.json
  packages/contracts-governance/CHANGELOG.md
  packages/contracts-governance/package.json
  packages/contracts-periphery/package.json
  packages/contracts/CHANGELOG.md
  packages/contracts/package.json
  packages/core-utils/CHANGELOG.md
  packages/core-utils/package.json
  packages/data-transport-layer/CHANGELOG.md
  packages/data-transport-layer/package.json
  packages/drippie-mon/CHANGELOG.md
  packages/drippie-mon/package.json
  packages/fault-detector/CHANGELOG.md
  packages/fault-detector/package.json
  packages/integration-tests-bedrock/package.json
  packages/message-relayer/CHANGELOG.md
  packages/message-relayer/package.json
  packages/replica-healthcheck/CHANGELOG.md
  packages/replica-healthcheck/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Labels: M-core-utils, M-dtl, M-ops, M-contracts, 2-reviewers, M-integration, M-sdk, M-contracts-periphery

#2795 fix: switch between empty/forked chain without the need to recreate t…
  .changeset/old-carpets-worry.md
  ops/docker/hardhat/hardhat.config.js
  ops/docker/hardhat/package.json
Labels: M-ops, 2-reviewers

#2849 Correct l33t sp34k in toCodeAddr
  .changeset/mighty-rockets-provide.md
  packages/contracts-bedrock/tasks/genesis-l2.ts
Labels: on-merge-train

#2813 feat(ctp): deploy Drippie to mainnet
  .changeset/rare-ears-share.md
  packages/contracts-periphery/config/drippie/ethereum.ts
  packages/contracts-periphery/deployments/ethereum/CheckBalanceHigh.json
  packages/contracts-periphery/deployments/ethereum/CheckBalanceLow.json
  packages/contracts-periphery/deployments/ethereum/CheckGelatoLow.json
  packages/contracts-periphery/deployments/ethereum/CheckTrue.json
  packages/contracts-periphery/deployments/ethereum/Drippie.json
  packages/contracts-periphery/deployments/ethereum/TeleportrWithdrawer.json
  packages/contracts-periphery/deployments/ethereum/solcInputs/b09909e91a3ff9823ceba49a3a845230.json
  packages/contracts-periphery/src/config/drippie.ts
  packages/contracts-periphery/src/gnosis-safe-checksum.ts
  packages/contracts-periphery/src/index.ts
  packages/contracts-periphery/tasks/index.ts
  packages/contracts-periphery/tasks/install-drippie-config-multisig.ts
  packages/contracts-periphery/tasks/install-drippie-config.ts
Labels: 2-reviewers, on-merge-train, M-contracts-periphery

#2598 feat(contracts): add `isOutputFinalized` function
  .changeset/hot-crews-lie.md
  op-bindings/bindings/optimismportal.go
  op-bindings/bindings/optimismportal_deployed.go
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/L1/OptimismPortal.sol
  packages/contracts-bedrock/contracts/test/OptimismPortal.t.sol
Labels: on-merge-train

#2859 indexer: deduplicate l2geth and geth deps
  .changeset/mean-pumas-smoke.md
  indexer/Makefile
  indexer/bindings/l1bridge/l1_standard_bridge.go
  indexer/bindings/l2bridge/l2_standard_bridge.go
  indexer/bindings/l2erc20/l2erc20.go
  indexer/db/db.go
  indexer/db/eth.go
  indexer/db/l1block.go
  indexer/db/locator.go
  indexer/db/withdrawal.go
  indexer/indexer.go
  indexer/metrics/metrics.go
  indexer/services/l1/service.go
  indexer/services/l2/bridge/bridge.go
  indexer/services/l2/bridge/filter.go
  indexer/services/l2/bridge/standard_bridge.go
  indexer/services/l2/confirmed_headers.go
  indexer/services/l2/query.go
  indexer/services/l2/service.go
Labels: on-merge-train

#2861 contracts-bedrock: optimize build info generation
  .changeset/serious-suits-reflect.md
  packages/contracts-bedrock/foundry.toml
  packages/contracts-bedrock/hardhat.config.ts
  packages/contracts-bedrock/package.json
  yarn.lock
Labels: on-merge-train

#2860 Full ToC in specs README
  specs/README.md
Labels: on-merge-train

#2854 feat(op-node): testlog alignment and color by default
  op-node/testlog/README.md
  op-node/testlog/testlog.go
Labels: on-merge-train

#2853 ci: Use conditional builds
  .circleci/config.yml
  batch-submitter/drivers/sequencer/batch.go
  batch-submitter/drivers/sequencer/encoding.go
  bss-core/crypto.go
  bss-core/crypto_test.go
  bss-core/metrics/metrics.go
  bss-core/txmgr/send_state.go
  bss-core/txmgr/send_state_test.go
  bss-core/txmgr/txmgr.go
  bss-core/txmgr/txmgr_test.go
  gas-oracle/gasprices/gas_price_updater_test.go
  indexer/crypto.go
  indexer/crypto_test.go
  ops/docker/ci-builder/CHANGELOG.md
  ops/docker/ci-builder/Dockerfile
  ops/docker/ci-builder/check-changed.sh
  ops/docker/ci-builder/package.json
  teleportr/db/db.go
  teleportr/drivers/disburser/driver.go
Labels: M-ops, 2-reviewers, on-merge-train

#2866 ci: Conditional check fixes
  .circleci/config.yml
  ops/docker/ci-builder/Dockerfile
  ops/docker/ci-builder/check-changed.sh
Labels: M-ops, 2-reviewers, on-merge-train

#2862 contracts-bedrock: add deployer docker image
  .changeset/moody-beds-guess.md
  .github/workflows/publish-canary.yml
  .github/workflows/release.yml
  ops/docker/Dockerfile.packages
  packages/contracts-bedrock/package.json
Labels: M-ops, 2-reviewers

#2870 Develop -> Master Release PR
  .changeset/curly-spoons-invent.md
  .changeset/friendly-grapes-watch.md
  .changeset/gold-clocks-grin.md
  .changeset/hot-crews-lie.md
  .changeset/mean-pumas-smoke.md
  .changeset/mighty-rockets-provide.md
  .changeset/moody-beds-guess.md
  .changeset/old-carpets-worry.md
  .changeset/quiet-avocados-wait.md
  .changeset/rare-ears-share.md
  .changeset/serious-suits-reflect.md
  indexer/CHANGELOG.md
  indexer/package.json
  ops/docker/hardhat/CHANGELOG.md
  ops/docker/hardhat/package.json
  packages/contracts-bedrock/CHANGELOG.md
  packages/contracts-bedrock/package.json
  packages/contracts-periphery/CHANGELOG.md
  packages/contracts-periphery/package.json
  packages/drippie-mon/CHANGELOG.md
  packages/drippie-mon/package.json
Labels: M-ops, 2-reviewers, M-contracts-periphery

#2873 l2geth: Fix NPE in API tracer
  .changeset/stupid-ties-reply.md
  l2geth/eth/api_tracer.go
Labels: 2-reviewers, M-l2geth, C-Protocol-Critical, on-merge-train

#2877 contracts-bedrock: fix genesis builder
  packages/contracts-bedrock/deploy-config/devnetL1.ts
  packages/contracts-bedrock/tasks/genesis-l2.ts
Labels: on-merge-train

#2874 op-node: Refactor types and L1/L2 Source
  op-node/eth/l1info.go
  op-node/eth/status.go
  op-node/eth/types.go
  op-node/l1/source.go
  op-node/l1/types.go
  op-node/l2/source.go
  op-node/rollup/driver/driver.go
  op-node/rollup/driver/step.go
  op-node/testutils/fake_chain.go
  op-node/testutils/mock_engine.go
  op-node/testutils/mock_l1.go
  op-node/testutils/random.go
Labels: on-merge-train

#2864 fix(ctp): bugs in Mintable ERC721
  .changeset/strange-pets-draw.md
  integration-tests/test/nft-bridge.spec.ts
  packages/contracts-periphery/contracts/universal/op-erc721/IOptimismMintableERC721.sol
  packages/contracts-periphery/contracts/universal/op-erc721/OptimismMintableERC721.sol
  packages/contracts-periphery/contracts/universal/op-erc721/OptimismMintableERC721Factory.sol
  packages/contracts-periphery/deploy/nft-bridge/OptimismMintableERC721FactoryImplementation.ts
  packages/contracts-periphery/test/contracts/L2/messaging/L2ERC721Bridge.spec.ts
  packages/contracts-periphery/test/contracts/universal/OptimismMintableERC721.spec.ts
  packages/contracts-periphery/test/contracts/universal/OptimismMintableERC721Factory.spec.ts
Labels: 2-reviewers, M-integration, on-merge-train, M-contracts-periphery

#2867 spec: fix typos
  specs/bridges.md
  specs/deposits.md
  specs/exec-engine.md
  specs/glossary.md
  specs/guaranteed-gas-market.md
  specs/introduction.md
  specs/messengers.md
  specs/overview.md
  specs/predeploys.md
  specs/proposals.md
  specs/rollup-node-p2p.md
  specs/rollup-node.md
  specs/withdrawals.md
Labels: on-merge-train

#2892 ci-builder: update foundry + add release changeset
  .changeset/twelve-days-perform.md
  .github/workflows/release.yml
  ops/docker/ci-builder/Dockerfile
  package.json
Labels: M-ops, 2-reviewers

#2895 feat(ctp): upgraded ERC721 factory on OP kovan
  packages/contracts-periphery/deployments/optimism-kovan/OptimismMintableERC721Factory.json
  packages/contracts-periphery/deployments/optimism-kovan/solcInputs/c57aceeefb41333c52700bf88a7434fe.json
Labels: 2-reviewers, on-merge-train, M-contracts-periphery

#2893 Bedrock: fix FillMissingBatches edge case, and correct spec off by 1
  op-node/rollup/derive/batches.go
  specs/rollup-node.md
Labels: on-merge-train

#2585 feat(ctp): add solidity tests with foundry
  .gitignore
  package.json
  packages/contracts-periphery/.depcheckrc
  packages/contracts-periphery/.gas-snapshot
  packages/contracts-periphery/.solcover.js
  packages/contracts-periphery/.solhintignore
  packages/contracts-periphery/contracts/foundry-tests/AssetReceiver.t.sol
  packages/contracts-periphery/contracts/foundry-tests/TeleportrWithdrawer.t.sol
  packages/contracts-periphery/contracts/foundry-tests/Transactor.t.sol
  packages/contracts-periphery/contracts/testing/helpers/TestERC20.sol
  packages/contracts-periphery/contracts/testing/helpers/TestERC721.sol
  packages/contracts-periphery/foundry.toml
  packages/contracts-periphery/hardhat.config.ts
  packages/contracts-periphery/package.json
Labels: 2-reviewers, on-merge-train, M-contracts-periphery

#2903 make: add devnet-logs
  Makefile
Labels: on-merge-train

#2885 feat(ctb): standardize initialization logic for L1
  .changeset/mean-rings-attack.md
  op-bindings/bindings/l2outputoracle.go
  op-bindings/bindings/optimismportal.go
  op-bindings/bindings/optimismportal_deployed.go
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/.storage-layout
  packages/contracts-bedrock/README.md
  packages/contracts-bedrock/contracts/L1/L1CrossDomainMessenger.sol
  packages/contracts-bedrock/contracts/L1/L1StandardBridge.sol
  packages/contracts-bedrock/contracts/L1/L2OutputOracle.sol
  packages/contracts-bedrock/contracts/L1/OptimismPortal.sol
  packages/contracts-bedrock/contracts/test/CommonTest.t.sol
Labels: on-merge-train

#2905 contracts-bedrock: fix initialization logic
  .changeset/shaggy-chicken-wonder.md
  packages/contracts-bedrock/contracts/L2/L2CrossDomainMessenger.sol
  packages/contracts-bedrock/contracts/universal/CrossDomainMessenger.sol
  packages/contracts-bedrock/deploy/002-L1CrossDomainMessenger.ts
  packages/contracts-bedrock/deploy/003-L1StandardBridge.ts
  yarn.lock
Labels: on-merge-train

#2909 ci: Only run legacy itests when legacy contracts change
  .circleci/config.yml
Labels: on-merge-train

#2913 contracts-bedrock: update max sequencer drift config
  packages/contracts-bedrock/deploy-config/devnetL1.ts
Labels: on-merge-train
