Repository ethereum-optimism/optimism, pull requests merged in 2022-08, with the labels that each got.

#3145 hardhat-deploy-config: Support JSON-formatted deploy configs
  .changeset/fast-mangos-smoke.md
  packages/contracts-bedrock/hardhat.config.ts
  packages/hardhat-deploy-config/src/plugin.ts
Labels: 2-reviewers, M-contracts-bedrock

#3148 contracts-bedrock: Fix provider usage in L2OutputOracle deployment script
  packages/contracts-bedrock/deploy/000-L2OutputOracle.deploy.ts
Labels: 2-reviewers, M-contracts-bedrock

#3090 ops: update foundry docker image version
  .changeset/smart-pumpkins-jam.md
  ops/docker/foundry/Dockerfile
Labels: M-ops, 2-reviewers, on-merge-train

#3143 contracts-bedrock: fix slither
  .changeset/angry-cameras-arrive.md
  packages/contracts-bedrock/foundry.toml
  packages/contracts-bedrock/scripts/slither.sh
Labels: 2-reviewers, M-contracts-bedrock

#3144 contracts-bedrock: fix gas snapshot
  .circleci/config.yml
  packages/contracts-bedrock/.gas-snapshot
Labels: on-merge-train

#3138 contracts-bedrock: add watch task
  .changeset/modern-candles-obey.md
  packages/contracts-bedrock/hardhat.config.ts
  packages/contracts-bedrock/tasks/watch.ts
Labels: 2-reviewers, M-contracts-bedrock

#3137 contracts-bedrock: fix deployment
  .changeset/many-wasps-notice.md
  packages/contracts-bedrock/deploy/001-OptimismPortal.deploy.ts
Labels: 2-reviewers, M-contracts-bedrock

#3150 op-node: Add p2p utils
  op-node/cmd/main.go
  op-node/cmd/p2p/cmd.go
  op-node/cmd/p2p/cmd_test.go
  op-node/flags/flags.go
  ops-bedrock/docker-compose.yml
Labels: on-merge-train

#3151 op-node: Properly set timestamp in PreparePayloadAttributes
  op-node/rollup/derive/attributes.go
  op-node/rollup/derive/attributes_queue.go
  op-node/rollup/derive/attributes_queue_test.go
  op-node/rollup/derive/attributes_test.go
  op-node/rollup/driver/step.go
Labels: on-merge-train

#3141 contracts-bedrock: add forge contract verification support
  .changeset/pretty-boxes-thank.md
  packages/contracts-bedrock/hardhat.config.ts
  packages/contracts-bedrock/package.json
  packages/contracts-bedrock/tasks/forge-verify.ts
  packages/contracts-bedrock/tasks/index.ts
Labels: 2-reviewers, on-merge-train, M-contracts-bedrock

#3086 feat(sdk): add Bedrock support to SDK
  .changeset/wise-ads-try.md
  .circleci/config.yml
  packages/contracts-bedrock/deploy-config/devnetL1.ts
  packages/core-utils/src/optimism/hashing.ts
  packages/sdk/hardhat.config.ts
  packages/sdk/package.json
  packages/sdk/src/adapters/eth-bridge.ts
  packages/sdk/src/adapters/standard-bridge.ts
  packages/sdk/src/cross-chain-messenger.ts
  packages/sdk/src/interfaces/cross-chain-messenger.ts
  packages/sdk/src/interfaces/types.ts
  packages/sdk/src/utils/chain-constants.ts
  packages/sdk/src/utils/contracts.ts
  packages/sdk/src/utils/index.ts
  packages/sdk/src/utils/merkle-utils.ts
  packages/sdk/src/utils/message-encoding.ts
  packages/sdk/tasks/deposit.ts
  packages/sdk/test/contracts/MockBridge.sol
  packages/sdk/test/contracts/MockMessenger.sol
  packages/sdk/test/cross-chain-messenger.spec.ts
  packages/sdk/test/helpers/constants.ts
  packages/sdk/test/utils/message-encoding.spec.ts
  packages/sdk/tsconfig.json
Labels: M-core-utils, 2-reviewers, M-sdk, on-merge-train, M-contracts-bedrock

#3125 op-node: Isolated channel frame serialization
  go.work.sum
  op-node/rollup/derive/channel_bank.go
  op-node/rollup/derive/channel_frame.go
  op-node/rollup/derive/channel_out.go
Labels: on-merge-train

#3162 op-node: Add transactions sequenced metric
  op-node/metrics/metrics.go
  op-node/rollup/driver/state.go
Labels: on-merge-train

#3140 op-node/cmd: update op-node command description [bedrock]
  op-node/cmd/main.go
Labels: on-merge-train

#3159 fix: wsteth is a dai bridge not a standard bridge
  packages/sdk/src/utils/contracts.ts
Labels: M-sdk, on-merge-train

#3061 specs: fix spec markdown linting
  .circleci/config.yml
  README.md
  package.json
  specs/README.md
  specs/batcher.md
  specs/deposits.md
  specs/derivation.md
  specs/introduction.md
  specs/meta/devnet.md
  specs/meta/linting.md
  specs/meta/markdown-style.md
  specs/overview.md
  specs/predeploys.md
  specs/rollup-node-p2p.md
  specs/rollup-node.md
  yarn.lock
Labels: on-merge-train

#3084 specs: typos
  specs/glossary.md
Labels: on-merge-train

#3165 proxyd: Unwrap single RPC batches
  .changeset/little-squids-invent.md
  proxyd/backend.go
  proxyd/integration_tests/mock_backend_test.go
  proxyd/integration_tests/ws_test.go
Labels: on-merge-train

#3168 unmetered fixes + more tests
  packages/contracts-bedrock/contracts/libraries/Encoding.sol
  packages/contracts-bedrock/contracts/libraries/Types.sol
  packages/contracts-bedrock/contracts/test/CommonTest.t.sol
  packages/contracts-bedrock/contracts/test/Encoding.t.sol
  packages/contracts-bedrock/contracts/test/Hashing.t.sol
  packages/contracts-bedrock/scripts/differential-testing.ts
  packages/core-utils/src/optimism/deposit-transaction.ts
Labels: M-core-utils, 2-reviewers, M-contracts-bedrock

#3169 contracts-bedrock: fix test
  .changeset/spotty-cameras-guess.md
  packages/contracts-bedrock/scripts/differential-testing.ts
Labels: 2-reviewers, M-contracts-bedrock

#3157 op-node: Use unmetered L1 Attributes Transaction
  .changeset/spotty-cameras-guess.md
  go.work
  op-batcher/go.mod
  op-batcher/go.sum
  op-bindings/go.mod
  op-bindings/go.sum
  op-e2e/go.mod
  op-e2e/go.sum
  op-node/go.mod
  op-node/go.sum
  op-node/rollup/derive/deposit_log.go
  op-node/rollup/derive/l1_block_info.go
  op-node/testutils/deposits.go
  op-proposer/go.mod
  op-proposer/go.sum
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/libraries/Encoding.sol
  packages/contracts-bedrock/contracts/libraries/Types.sol
  packages/contracts-bedrock/contracts/test/CommonTest.t.sol
  packages/contracts-bedrock/contracts/test/Encoding.t.sol
  packages/contracts-bedrock/contracts/test/Hashing.t.sol
  packages/contracts-bedrock/scripts/differential-testing.ts
  packages/core-utils/src/optimism/deposit-transaction.ts
  specs/deposits.md
Labels: M-core-utils, 2-reviewers, on-merge-train, M-contracts-bedrock

#3173 proxyd: Add rate limit logging
  .changeset/strong-meals-impress.md
  proxyd/integration_tests/rate_limit_test.go
  proxyd/server.go
Labels: on-merge-train

#3178 op-node: More reset & pipeline logging
  op-node/rollup/derive/batch_queue.go
  op-node/rollup/derive/engine_queue.go
Labels: on-merge-train

#3126 op-node: Fixed Integers in channel frame header
  op-node/rollup/derive/channel_bank.go
  op-node/rollup/derive/channel_bank_test.go
  op-node/rollup/derive/channel_frame.go
  op-node/rollup/derive/channel_out.go
  specs/derivation.md
Labels: on-merge-train

#3161 actor-tests: Bedrock actor tests
  .circleci/config.yml
  cloudbuild.yaml
  integration-tests/actor-tests/chain-reader.test.ts
  integration-tests/actor-tests/deposits.test.ts
  integration-tests/actor-tests/nft.test.ts
  integration-tests/actor-tests/sends.test.ts
  integration-tests/actor-tests/state-dos.test.ts
  integration-tests/actor-tests/uniswap.test.ts
  integration-tests/package.json
  ops/docker/Dockerfile.packages
  packages/actor-tests/.depcheckrc
  packages/actor-tests/.eslintrc.js
  packages/actor-tests/.lintstagedrc.yml
  packages/actor-tests/.prettierrc.js
  packages/actor-tests/LICENSE
  packages/actor-tests/README.md
  packages/actor-tests/bedrock/account-sends.ts
  packages/actor-tests/bedrock/contracts/ERC20.json
  packages/actor-tests/bedrock/deployments.ts
  packages/actor-tests/bedrock/deposit-eth.ts
  packages/actor-tests/bedrock/utils.ts
  packages/actor-tests/lib/actor.ts
  packages/actor-tests/lib/convenience.ts
  packages/actor-tests/lib/logger.ts
  packages/actor-tests/lib/metrics.ts
  packages/actor-tests/lib/runner.ts
  packages/actor-tests/package.json
  packages/actor-tests/tsconfig.json
  yarn.lock
Labels: M-ops, 2-reviewers, M-integration, on-merge-train

#3181 feat: Update wsteth address
  .changeset/many-crabs-visit.md
  packages/sdk/src/utils/contracts.ts
Labels: M-sdk, on-merge-train

#3186 op-node: separate sequencing and publishing errors.
  op-node/metrics/metrics.go
  op-node/rollup/driver/state.go
Labels: on-merge-train

#3189 ci: Upgrade ci-builder to Debian 11
  .changeset/three-cooks-check.md
  ops/docker/ci-builder/Dockerfile
Labels: M-ops, 2-reviewers, on-merge-train

#3190 Develop -> Master
  .changeset/many-crabs-visit.md
  .changeset/three-cooks-check.md
  .circleci/config.yml
  .github/workflows/changesets.yml
  cloudbuild.yaml
  integration-tests/actor-tests/chain-reader.test.ts
  integration-tests/actor-tests/deposits.test.ts
  integration-tests/actor-tests/nft.test.ts
  integration-tests/actor-tests/sends.test.ts
  integration-tests/actor-tests/state-dos.test.ts
  integration-tests/actor-tests/uniswap.test.ts
  integration-tests/package.json
  op-node/metrics/metrics.go
  op-node/rollup/derive/attributes.go
  op-node/rollup/derive/attributes_queue.go
  op-node/rollup/derive/attributes_test.go
  op-node/rollup/derive/batch_queue.go
  op-node/rollup/derive/channel_bank.go
  op-node/rollup/derive/channel_bank_test.go
  op-node/rollup/derive/channel_frame.go
  op-node/rollup/derive/channel_out.go
  op-node/rollup/derive/engine_queue.go
  op-node/rollup/derive/engine_update.go
  op-node/rollup/derive/error.go
  op-node/rollup/derive/l1_retrieval.go
  op-node/rollup/derive/l1_traversal.go
  op-node/rollup/derive/progress.go
  op-node/rollup/driver/state.go
  op-node/rollup/driver/step.go
  ops/docker/Dockerfile.packages
  ops/docker/ci-builder/Dockerfile
  packages/actor-tests/.depcheckrc
  packages/actor-tests/.eslintrc.js
  packages/actor-tests/.lintstagedrc.yml
  packages/actor-tests/.prettierrc.js
  packages/actor-tests/LICENSE
  packages/actor-tests/README.md
  packages/actor-tests/bedrock/account-sends.ts
  packages/actor-tests/bedrock/contracts/ERC20.json
  packages/actor-tests/bedrock/deployments.ts
  packages/actor-tests/bedrock/deposit-eth.ts
  packages/actor-tests/bedrock/utils.ts
  packages/actor-tests/lib/actor.ts
  packages/actor-tests/lib/convenience.ts
  packages/actor-tests/lib/logger.ts
  packages/actor-tests/lib/metrics.ts
  packages/actor-tests/lib/runner.ts
  packages/actor-tests/package.json
  packages/actor-tests/tsconfig.json
  packages/sdk/src/utils/contracts.ts
  specs/derivation.md
  yarn.lock
Labels: M-ops, 2-reviewers, M-integration, M-sdk

#3192 Develop -> Master
  .changeset/many-crabs-visit.md
  .changeset/three-cooks-check.md
  integration-tests/package.json
  ops/docker/ci-builder/CHANGELOG.md
  ops/docker/ci-builder/package.json
  packages/drippie-mon/CHANGELOG.md
  packages/drippie-mon/package.json
  packages/integration-tests-bedrock/package.json
  packages/message-relayer/CHANGELOG.md
  packages/message-relayer/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Labels: M-ops, 2-reviewers, M-integration, M-sdk

#3160 fix: eth deposits through bridge
  .changeset/polite-flies-shop.md
  packages/sdk/src/cross-chain-messenger.ts
  packages/sdk/src/interfaces/bridge-adapter.ts
  packages/sdk/tasks/deposit.ts
Labels: M-sdk

#3188 op-node: Bedrock l1 cache metrics
  op-node/l1/source.go
  op-node/l1/source_test.go
  op-node/metrics/caching.go
  op-node/metrics/metrics.go
  op-node/node/node.go
  op-node/sources/caching/cache.go
Labels: on-merge-train

#3199 sdk: cleanup the deposit scripts
  .circleci/config.yml
  packages/sdk/hardhat.config.ts
  packages/sdk/tasks/deposit-erc20.ts
  packages/sdk/tasks/deposit-eth.ts
  packages/sdk/tasks/deposit.ts
  packages/sdk/tasks/index.ts
Labels: M-sdk, on-merge-train

#3102 chore: Commit formatting changes from vscode startup
  .vscode/settings.json
Labels: on-merge-train

#3187 feat(contracts-bedrock,sdk): deploy config typing, hivenet
  op-batcher/flags/flags.go
  op-node/flags/flags.go
  op-node/rollup/types.go
  op-proposer/flags/flags.go
  ops-bedrock/devnet-up.sh
  ops-bedrock/docker-compose.yml
  packages/contracts-bedrock/contracts/L1/L2OutputOracle.sol
  packages/contracts-bedrock/deploy-config/devnetL1.ts
  packages/contracts-bedrock/deploy-config/goerli.ts
  packages/contracts-bedrock/deploy-config/hardhat.ts
  packages/contracts-bedrock/deploy-config/hivenet.json
  packages/contracts-bedrock/deploy/000-L2OutputOracle.deploy.ts
  packages/contracts-bedrock/hardhat.config.ts
  packages/contracts-bedrock/tasks/genesis-l1.ts
  packages/contracts-bedrock/tasks/genesis-l2.ts
  packages/contracts-bedrock/tasks/rekey.ts
  packages/contracts-bedrock/tasks/rollup-config.ts
  packages/core-utils/src/external/geth/geth-types.ts
  packages/sdk/hardhat.config.ts
Labels: M-core-utils, 2-reviewers, M-sdk, M-contracts-bedrock

#3200 ops: update ci-builder
  .changeset/silent-comics-flash.md
  ops/docker/ci-builder/Dockerfile
Labels: M-ops, 2-reviewers

#3205 bedrock: v0.4.0
  Makefile
  go.work
  go.work.sum
  op-batcher/go.mod
  op-batcher/go.sum
  op-bindings/go.mod
  op-bindings/go.sum
  op-e2e/go.mod
  op-e2e/go.sum
  op-node/go.mod
  op-node/go.sum
  op-proposer/go.mod
  op-proposer/go.sum
  op-service/go.mod
  op-service/go.sum
  specs/meta/versioning.md
Labels: do-not-merge

#3207 op-bindings: add rest of predeploys
  op-bindings/Makefile
  op-bindings/bindings/l2crossdomainmessenger.go
  op-bindings/bindings/l2standardbridge.go
  op-bindings/bindings/sequencerfeevault.go
Labels: on-merge-train

#3206 state-surgery: hardhat utils
  .circleci/config.yml
  go.work.sum
  state-surgery/hardhat/hardhat.go
  state-surgery/hardhat/hardhat_test.go
  state-surgery/hardhat/testdata/artifacts/build-info/c5729209e616d57e62ada8bf0034436e.json
  state-surgery/hardhat/testdata/artifacts/contracts/HelloWorld.sol/HelloWorld.dbg.json
  state-surgery/hardhat/testdata/artifacts/contracts/HelloWorld.sol/HelloWorld.json
  state-surgery/hardhat/testdata/deployments/goerli/OptimismPortal.json
  state-surgery/hardhat/testdata/deployments/goerli/OptimismPortalProxy.json
  state-surgery/hardhat/types.go
  state-surgery/hardhat/utils.go
Labels: on-merge-train

#3210 op-node: Add L1 reorg depth metrics
  op-node/metrics/metrics.go
  op-node/rollup/driver/state.go
Labels: on-merge-train

#3211 state-surgery: add immutables package
  state-surgery/immutables/immutables.go
  state-surgery/immutables/immutables_test.go
Labels: on-merge-train

#3212 op-node: improve derivation pipeline error handling
  op-node/rollup/derive/attributes.go
  op-node/rollup/derive/batch_queue.go
  op-node/rollup/derive/batch_queue_test.go
  op-node/rollup/derive/channel_bank.go
  op-node/rollup/derive/channel_bank_test.go
  op-node/rollup/derive/channel_in_reader.go
  op-node/rollup/derive/engine_queue.go
  op-node/rollup/derive/error.go
  op-node/rollup/derive/l1_retrieval.go
  op-node/rollup/derive/l1_retrieval_test.go
  op-node/rollup/derive/l1_traversal.go
  op-node/rollup/derive/l1_traversal_test.go
  op-node/rollup/derive/progress.go
Labels: on-merge-train

#3213 op-node: Add comments to pipeline stages
  op-node/rollup/derive/attributes_queue.go
  op-node/rollup/derive/batch_queue.go
  op-node/rollup/derive/calldata_source.go
  op-node/rollup/derive/channel_bank.go
  op-node/rollup/derive/channel_in_reader.go
  op-node/rollup/derive/l1_retrieval.go
Labels: on-merge-train

#3193 ci: Use faucet in actor tests
  packages/actor-tests/bedrock/account-sends.ts
  packages/actor-tests/bedrock/deposit-eth.ts
  packages/actor-tests/bedrock/utils.ts
  packages/actor-tests/lib/faucet.ts
  packages/actor-tests/package.json
  packages/actor-tests/tsconfig.json
  yarn.lock
Labels: on-merge-train

#3227 indexer: update go-ethereum dep to 1.10.21
  .changeset/large-pets-teach.md
  indexer/go.mod
  indexer/go.sum
Labels: on-merge-train

#3226 indexer: delete dead file
  .changeset/eight-socks-hope.md
  indexer/contracts/ERC20.sol/ERC20.dbg.json
Labels: on-merge-train

#3225 indexer: clean up duplicated code
  .changeset/wet-monkeys-tap.md
  indexer/crypto.go
  indexer/crypto_test.go
  indexer/indexer.go
Labels: on-merge-train

#3224 contracts-bedrock: deploy additional contracts
  .changeset/rude-ducks-cry.md
  packages/contracts-bedrock/deploy/005-AddressManager.ts
  packages/contracts-bedrock/deploy/006-ProxyAdmin.ts
Labels: 2-reviewers, on-merge-train, M-contracts-bedrock

#3222 op-batcher: fix channel ID time choice [bedrock]
  op-batcher/batch_submitter.go
Labels: on-merge-train

#3228 sdk: fix eth withdraw bug
  .changeset/lazy-singers-sing.md
  .circleci/config.yml
  packages/sdk/src/cross-chain-messenger.ts
  packages/sdk/src/interfaces/bridge-adapter.ts
  packages/sdk/tasks/deposit-eth.ts
Labels: M-sdk, on-merge-train

#3233 op-node: fix execution payload fuzzing target [bedrock]
  op-node/Makefile
Labels: on-merge-train

#3216 feat: storage slot setting + memory db
  state-surgery/Makefile
  state-surgery/hardhat/hardhat.go
  state-surgery/hardhat/hardhat_test.go
  state-surgery/hardhat/testdata/artifacts/build-info/41b5106372a301360350245ee188494f.json
  state-surgery/hardhat/testdata/artifacts/build-info/c5729209e616d57e62ada8bf0034436e.json
  state-surgery/hardhat/testdata/artifacts/contracts/HelloWorld.sol/HelloWorld.dbg.json
  state-surgery/hardhat/testdata/artifacts/contracts/HelloWorld.sol/HelloWorld.json
  state-surgery/hardhat/types.go
  state-surgery/solc/types.go
  state-surgery/state/encoding.go
  state-surgery/state/memory_db.go
  state-surgery/state/memory_db_test.go
  state-surgery/state/state.go
  state-surgery/state/state_test.go
  state-surgery/state/testdata/contract.go
  state-surgery/state/testdata/layout.json
Labels: on-merge-train

#3238 op-node: Add ResetDerivationPipeline RPC
  op-node/flags/flags.go
  op-node/node/api.go
  op-node/node/config.go
  op-node/node/node.go
  op-node/node/server.go
  op-node/node/server_test.go
  op-node/rollup/driver/driver.go
  op-node/rollup/driver/state.go
  op-node/service.go
Labels: on-merge-train

#3240 contracts-bedrock: update @foundry-rs/hardhat-forge
  .changeset/thick-books-fail.md
  packages/contracts-bedrock/package.json
  yarn.lock
Labels: 2-reviewers, M-contracts-bedrock

#3242 predeploys: fix address names
  op-bindings/predeploys/addresses.go
  op-bindings/predeploys/addresses_test.go
  op-e2e/setup.go
  op-e2e/system_test.go
Labels: on-merge-train

#3215 feat(ctp): deploy Drippie to OP Goerli
  packages/contracts-periphery/.gitignore
  packages/contracts-periphery/config/deploy/optimism-goerli.ts
  packages/contracts-periphery/deploy/drippie/Drippie.ts
  packages/contracts-periphery/deploy/drippie/dripchecks/CheckBalanceHigh.ts
  packages/contracts-periphery/deploy/drippie/dripchecks/CheckBalanceLow.ts
  packages/contracts-periphery/deploy/drippie/dripchecks/CheckGelatoLow.ts
  packages/contracts-periphery/deploy/drippie/dripchecks/CheckTrue.ts
  packages/contracts-periphery/deployments/optimism-goerli/.chainId
  packages/contracts-periphery/deployments/optimism-goerli/CheckBalanceHigh.json
  packages/contracts-periphery/deployments/optimism-goerli/CheckBalanceLow.json
  packages/contracts-periphery/deployments/optimism-goerli/CheckGelatoLow.json
  packages/contracts-periphery/deployments/optimism-goerli/CheckTrue.json
  packages/contracts-periphery/deployments/optimism-goerli/Drippie.json
  packages/contracts-periphery/deployments/optimism-goerli/solcInputs/cb12280dddcf446d7c90129cbaba29bb.json
  packages/contracts-periphery/hardhat.config.ts
Labels: 2-reviewers, on-merge-train, M-contracts-periphery

#3244 feat(sdk): remove ICrossChainMessenger
  .changeset/lovely-gorillas-destroy.md
  packages/sdk/src/adapters/eth-bridge.ts
  packages/sdk/src/adapters/standard-bridge.ts
  packages/sdk/src/cross-chain-messenger.ts
  packages/sdk/src/interfaces/bridge-adapter.ts
  packages/sdk/src/interfaces/cross-chain-messenger.ts
  packages/sdk/src/interfaces/index.ts
  packages/sdk/src/interfaces/types.ts
  packages/sdk/src/utils/contracts.ts
Labels: M-sdk, on-merge-train

#3248 op-node: Fix reset RPC
  op-e2e/system_test.go
  op-node/rollup/driver/state.go
Labels: on-merge-train

#3245 fix(sdk): withdrawal bug for some custom bridges
  .changeset/lemon-houses-chew.md
  packages/sdk/src/adapters/standard-bridge.ts
Labels: M-sdk, on-merge-train

#3252 contracts-bedrock: make a library call internal
  .changeset/poor-jobs-glow.md
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/test/RLP.t.sol
  state-surgery/hardhat/types.go
Labels: 2-reviewers, M-contracts-bedrock

#3249 feat(sdk): refactor chain constants
  .changeset/real-ravens-clean.md
  packages/sdk/src/utils/chain-constants.ts
  packages/sdk/src/utils/contracts.ts
Labels: M-sdk, on-merge-train

#3256 feat(ctp): support deploy from PK
  .changeset/curvy-pillows-boil.md
  packages/contracts-periphery/.env.example
  packages/contracts-periphery/hardhat.config.ts
Labels: 2-reviewers, on-merge-train, M-contracts-periphery

#3257 feat(sdk): load addrs from deployments
  .changeset/pretty-clocks-repeat.md
  packages/contracts/src/contract-defs.ts
  packages/sdk/src/utils/chain-constants.ts
Labels: M-contracts, 2-reviewers, M-sdk, on-merge-train

#3258 state-surgery: add string serialization support
  state-surgery/state/encoding.go
  state-surgery/state/state_test.go
Labels: on-merge-train

#3260 contracts-bedrock: migrate deploy config to json
  .changeset/curvy-chefs-relax.md
  packages/contracts-bedrock/deploy-config/devnetL1.json
  packages/contracts-bedrock/deploy-config/devnetL1.ts
  packages/contracts-bedrock/deploy-config/goerli.json
  packages/contracts-bedrock/deploy-config/goerli.ts
  packages/contracts-bedrock/deploy-config/hardhat.json
  packages/contracts-bedrock/deploy-config/hardhat.ts
Labels: 2-reviewers, M-contracts-bedrock

#3246 state-surgery: small fixes
  state-surgery/hardhat/hardhat.go
  state-surgery/state/encoding.go
  state-surgery/state/state_test.go
Labels: on-merge-train

#3259 op-node: Enable rpc.admin-enabled flag
  op-node/flags/flags.go
Labels: on-merge-train

#3247 Parallelize contract deployments
  packages/contracts-bedrock/deploy/000-InitProxies.deploy.ts
  packages/contracts-bedrock/deploy/000-L2OutputOracle.deploy.ts
  packages/contracts-bedrock/deploy/001-InitImplementations.deploy.ts
  packages/contracts-bedrock/deploy/001-OptimismPortal.deploy.ts
  packages/contracts-bedrock/deploy/002-ConfigureProxyAdmin.ts
  packages/contracts-bedrock/deploy/002-L1CrossDomainMessenger.ts
  packages/contracts-bedrock/deploy/003-L1StandardBridge.ts
  packages/contracts-bedrock/deploy/004-OptimismMintableTokenFactory.ts
  packages/contracts-bedrock/deploy/005-AddressManager.ts
  packages/sdk/src/utils/chain-constants.ts
Labels: 2-reviewers, M-sdk, M-contracts-bedrock

#3262 state-surgery: handle empty label bug
  state-surgery/state/encoding.go
Labels: on-merge-train

#3261 state-surgery: safer memorydb
  state-surgery/state/memory_db.go
Labels: on-merge-train

#3266 contracts-bedrock: L2CrossDomainMessenger legibility
  .changeset/ninety-experts-wave.md
  op-bindings/bindings/l2crossdomainmessenger.go
  packages/contracts-bedrock/contracts/L2/L2CrossDomainMessenger.sol
Labels: 2-reviewers, on-merge-train, M-contracts-bedrock

#3267 chore: Rename reference-optimistic-geth to op-geth
  go.work
  op-batcher/go.mod
  op-batcher/go.sum
  op-bindings/go.mod
  op-bindings/go.sum
  op-e2e/go.mod
  op-e2e/go.sum
  op-node/README.md
  op-node/go.mod
  op-node/go.sum
  op-proposer/go.mod
  op-proposer/go.sum
  op-service/go.mod
  op-service/go.sum
  ops-bedrock/Dockerfile.l2
  technical-documents/postmortems/2022-02-02-inflation-vuln.md
Labels: on-merge-train

#3271 ci: Dev builds
  .circleci/config.yml
Labels: on-merge-train

#3230 op-node: Dedicated frame parsing code
  op-node/Makefile
  op-node/rollup/derive/channel_bank.go
  op-node/rollup/derive/channel_bank_test.go
  op-node/rollup/derive/frame.go
  op-node/rollup/derive/frame_test.go
  op-node/rollup/derive/params.go
Labels: on-merge-train

#3264 state-surgery: genesis block generation
  .circleci/config.yml
  packages/contracts-bedrock/deployments/goerli/ProxyAdmin.json
  packages/contracts-bedrock/hardhat.config.ts
  state-surgery/genesis/config.go
  state-surgery/genesis/genesis.go
  state-surgery/genesis/helpers.go
  state-surgery/genesis/layer_one.go
  state-surgery/genesis/layer_two.go
  state-surgery/genesis/layer_two_test.go
  state-surgery/state/encoding.go
  state-surgery/state/state.go
Labels: 2-reviewers, on-merge-train, M-contracts-bedrock

#3273 ci: Add hive to pipeline
  .circleci/config.yml
Labels: on-merge-train

#3229 op-node: Cleanup channel definition
  op-node/rollup/derive/channel.go
  op-node/rollup/derive/channel_bank.go
  op-node/rollup/derive/channel_in.go
  op-node/rollup/derive/channel_in_reader.go
Labels: on-merge-train

#3203 [specs] Describe big diagram
  specs/derivation.md
Labels: on-merge-train

#3276 indexer: rm AddressManager, StateCommitmentChain
  indexer/bindings/address_manager/address_manager.go
  indexer/bindings/scc/statecommitmentchain.go
  indexer/config.go
  indexer/flags/flags.go
  indexer/indexer.go
  indexer/services/l1/bridge/addresses.go
  indexer/services/l1/bridge/bridge.go
  indexer/services/l1/bridge/filter.go
  indexer/services/l1/query.go
  indexer/services/l1/service.go
Labels: on-merge-train

#3283 fix: proxy admin deploy script
  .changeset/moody-yaks-listen.md
  op-chain-ops/genesis/config.go
  packages/contracts-bedrock/deploy-config/devnetL1.json
  packages/contracts-bedrock/deploy-config/goerli.json
  packages/contracts-bedrock/deploy-config/hardhat.json
  packages/contracts-bedrock/hardhat.config.ts
  packages/contracts-bedrock/tasks/genesis-l2.ts
Labels: 2-reviewers, M-contracts-bedrock

#3282 op-node: update readme
  op-node/README.md
Labels: on-merge-train

#3284 contracts-bedrock: parallel deployment fix
  .changeset/fast-ligers-fry.md
  packages/contracts-bedrock/deploy/001-InitImplementations.deploy.ts
  packages/contracts-bedrock/deploy/002-ConfigureProxyAdmin.ts
Labels: 2-reviewers, M-contracts-bedrock

#3285 contracts-bedrock: remove fund dev accounts
  op-chain-ops/genesis/config.go
  op-chain-ops/genesis/helpers.go
  op-chain-ops/genesis/layer_one.go
  op-chain-ops/genesis/layer_two.go
  op-chain-ops/genesis/layer_two_test.go
  op-chain-ops/genesis/setters.go
  packages/contracts-bedrock/deploy-config/devnetL1.json
  packages/contracts-bedrock/deploy-config/goerli.json
  packages/contracts-bedrock/deploy-config/hardhat.json
  packages/contracts-bedrock/hardhat.config.ts
  packages/contracts-bedrock/tasks/genesis-l1.ts
  packages/contracts-bedrock/tasks/genesis-l2.ts
Labels: 2-reviewers, on-merge-train, M-contracts-bedrock

#3288 op-node: split l1 source into eth and l1 client
  op-node/eth/account_proof.go
  op-node/eth/block_info.go
  op-node/eth/label.go
  op-node/l1/source_test.go
  op-node/l2/source.go
  op-node/node/api.go
  op-node/node/node.go
  op-node/node/server_test.go
  op-node/rollup/derive/attributes.go
  op-node/rollup/derive/attributes_queue_test.go
  op-node/rollup/derive/attributes_test.go
  op-node/rollup/derive/calldata_source.go
  op-node/rollup/derive/calldata_source_test.go
  op-node/rollup/derive/l1_block_info.go
  op-node/rollup/derive/l1_block_info_test.go
  op-node/rollup/derive/pipeline.go
  op-node/rollup/driver/driver.go
  op-node/rollup/driver/state.go
  op-node/rollup/output_root.go
  op-node/rollup/sync/start.go
  op-node/sources/batching.go
  op-node/sources/batching_test.go
  op-node/sources/eth_client.go
  op-node/sources/eth_client_test.go
  op-node/sources/l1_client.go
  op-node/sources/limit.go
  op-node/sources/receipts.go
  op-node/sources/types.go
  op-node/testutils/fake_chain.go
  op-node/testutils/l1info.go
  op-node/testutils/mock_eth_client.go
  op-node/testutils/mock_l1.go
Labels: on-merge-train

#3292 op-bindings: add OptimismMintableERC20Factory
  op-bindings/Makefile
  op-bindings/bindings/optimismmintableerc20factory.go
Labels: on-merge-train

#3290 contracts-bedrock: remove extra console.log
  packages/contracts-bedrock/deploy/001-InitImplementations.deploy.ts
Labels: 2-reviewers, M-contracts-bedrock

#3293 op-bindings: add more bindings
  op-bindings/Makefile
  op-bindings/bindings/erc20.go
  op-bindings/bindings/optimismmintableerc20.go
  op-bindings/bindings/weth9.go
Labels: on-merge-train

#3294 ci: use common ubuntu image across jobs
  .circleci/config.yml
Labels: on-merge-train

#3223 [specs] knock some TODOs + review execution engine interaction during derivation
  specs/derivation.md
  specs/glossary.md
Labels: on-merge-train

#3287 feat: generate genesis with op-node
  .circleci/config.yml
  op-chain-ops/genesis/config.go
  op-chain-ops/immutables/immutables.go
  op-chain-ops/immutables/immutables_test.go
  op-node/Dockerfile
  op-node/cmd/genesis/cmd.go
  op-node/cmd/main.go
  op-node/docker.go.work
  op-node/go.mod
  op-node/go.sum
  ops-bedrock/devnet-up.sh
  packages/contracts-bedrock/tasks/check-l2-config.ts
Labels: 2-reviewers, on-merge-train, M-contracts-bedrock

#3296 contracts-bedrock: delete L2 genesis hardhat task
  .changeset/sixty-cougars-design.md
  packages/contracts-bedrock/tasks/genesis-l2.ts
  packages/contracts-bedrock/tasks/index.ts
Labels: 2-reviewers, on-merge-train, M-contracts-bedrock

#3297 fix(ctb): move deps to dev to fix npm
  .changeset/hot-cups-impress.md
  packages/contracts-bedrock/package.json
Labels: 2-reviewers, on-merge-train, M-contracts-bedrock

#3299 op-node: update readme with genesis docs
  op-node/README.md
Labels: on-merge-train

#3300 bindings: add L1StandardBridge bindings
  op-bindings/Makefile
  op-bindings/bindings/l1standardbridge.go
Labels: on-merge-train

#3295 feat(ctb): Add forge coverage to package.json
  packages/contracts-bedrock/package.json
Labels: 2-reviewers, on-merge-train, M-contracts-bedrock

#3298 op-node: L1 genesis generation
  op-chain-ops/genesis/genesis.go
  op-chain-ops/genesis/layer_one.go
  op-chain-ops/genesis/layer_two.go
  op-chain-ops/genesis/setters.go
  op-node/cmd/genesis/cmd.go
  ops-bedrock/devnet-up.sh
  packages/contracts-bedrock/tasks/genesis-l1.ts
  packages/contracts-bedrock/tasks/index.ts
Labels: 2-reviewers, on-merge-train, M-contracts-bedrock

#3291 op-node: l2 rpc refactor
  op-e2e/setup.go
  op-node/l2/source.go
  op-node/metrics/metrics.go
  op-node/node/api.go
  op-node/node/node.go
  op-node/node/server.go
  op-node/node/server_test.go
  op-node/rollup/derive/engine_queue.go
  op-node/rollup/driver/driver.go
  op-node/rollup/driver/state.go
  op-node/sources/engine_client.go
  op-node/sources/eth_client.go
  op-node/sources/eth_client_test.go
  op-node/sources/l1_client.go
  op-node/sources/l2_client.go
  op-node/sources/types.go
  op-node/testutils/fake_chain.go
  op-node/testutils/mock_engine.go
  op-node/testutils/mock_eth_client.go
  op-node/testutils/mock_l2.go
Labels: on-merge-train

#3221 op-node/specs: refactor batch queue, add parent_hash to batches, extend testing
  op-node/rollup/derive/attributes_queue.go
  op-node/rollup/derive/attributes_queue_test.go
  op-node/rollup/derive/batch.go
  op-node/rollup/derive/batch_queue.go
  op-node/rollup/derive/batch_queue_test.go
  op-node/rollup/derive/batch_test.go
  op-node/rollup/derive/batches.go
  op-node/rollup/derive/batches_test.go
  op-node/rollup/derive/channel_out.go
  op-node/rollup/derive/pipeline.go
  op-node/rollup/types.go
  specs/derivation.md
Labels: on-merge-train

#3301 contracts: add inspect hh task
  .changeset/fifty-books-remain.md
  packages/contracts/tasks/index.ts
  packages/contracts/tasks/inspect.ts
Labels: M-contracts, 2-reviewers, on-merge-train

#3286 indexer: upgrade bridge contracts to bedrock
  go.work.sum
  indexer/Dockerfile
  indexer/Makefile
  indexer/bindings/l1bridge/l1_standard_bridge.go
  indexer/bindings/l1erc20/l1erc20.go
  indexer/bindings/l2bridge/l2_standard_bridge.go
  indexer/bindings/l2erc20/l2erc20.go
  indexer/docker.go.work
  indexer/go.mod
  indexer/go.sum
  indexer/services/l1/bridge/bridge.go
  indexer/services/l1/bridge/eth_bridge.go
  indexer/services/l1/bridge/filter.go
  indexer/services/l1/bridge/standard_bridge.go
  indexer/services/l1/query.go
  indexer/services/l2/bridge/bridge.go
  indexer/services/l2/bridge/filter.go
  indexer/services/l2/bridge/standard_bridge.go
  indexer/services/l2/query.go
Labels: on-merge-train

#3308 contracts-bedrock: bump oz to latest release
  .changeset/breezy-wasps-applaud.md
  op-bindings/bindings/addressmanager.go
  op-bindings/bindings/gaspriceoracle.go
  op-bindings/bindings/gaspriceoracle_deployed.go
  op-bindings/bindings/l1standardbridge.go
  op-bindings/bindings/l2standardbridge.go
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/package.json
  yarn.lock
Labels: 2-reviewers, on-merge-train, M-contracts-bedrock

#3307 contracts-bedrock: add gpo to Predeploys.sol
  .changeset/flat-pianos-kick.md
  packages/contracts-bedrock/contracts/libraries/Predeploys.sol
Labels: 2-reviewers, M-contracts-bedrock

#3306 Add op-exporter feature to collect baseFee
  op-exporter/collector.go
  op-exporter/main.go
Labels: on-merge-train

#3195 contracts-bedrock: use `MemorySafeCall`
  .changeset/shaggy-ladybugs-arrive.md
  op-bindings/bindings/l1standardbridge.go
  op-bindings/bindings/l2crossdomainmessenger.go
  op-bindings/bindings/l2standardbridge.go
  op-bindings/bindings/optimismportal.go
  op-bindings/bindings/optimismportal_deployed.go
  op-bindings/bindings/weth9.go
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/L1/OptimismPortal.sol
  packages/contracts-bedrock/contracts/libraries/SafeCall.sol
  packages/contracts-bedrock/contracts/test/SafeCall.t.sol
  packages/contracts-bedrock/contracts/universal/CrossDomainMessenger.sol
  packages/contracts-bedrock/contracts/universal/StandardBridge.sol
  packages/contracts-bedrock/foundry.toml
  packages/contracts-bedrock/package.json
  yarn.lock
Labels: 2-reviewers, M-contracts-bedrock

#3316 merge Master into Develop
  .changeset/big-ways-push.md
  .changeset/breezy-wasps-applaud.md
  .changeset/curvy-chefs-relax.md
  .changeset/curvy-pillows-boil.md
  .changeset/eight-socks-hope.md
  .changeset/fast-ligers-fry.md
  .changeset/fifty-books-remain.md
  .changeset/flat-pianos-kick.md
  .changeset/hot-cups-impress.md
  .changeset/large-pets-teach.md
  .changeset/lazy-singers-sing.md
  .changeset/lemon-houses-chew.md
  .changeset/lovely-gorillas-destroy.md
  .changeset/moody-yaks-listen.md
  .changeset/ninety-experts-wave.md
  .changeset/polite-flies-shop.md
  .changeset/poor-jobs-glow.md
  .changeset/pretty-clocks-repeat.md
  .changeset/real-ravens-clean.md
  .changeset/rude-ducks-cry.md
  .changeset/shaggy-ladybugs-arrive.md
  .changeset/silent-comics-flash.md
  .changeset/sixty-cougars-design.md
  .changeset/thick-books-fail.md
  .changeset/wet-monkeys-tap.md
  indexer/CHANGELOG.md
  indexer/package.json
  integration-tests/package.json
  ops/docker/ci-builder/CHANGELOG.md
  ops/docker/ci-builder/package.json
  packages/actor-tests/CHANGELOG.md
  packages/actor-tests/package.json
  packages/contracts-bedrock/CHANGELOG.md
  packages/contracts-bedrock/package.json
  packages/contracts-periphery/CHANGELOG.md
  packages/contracts-periphery/package.json
  packages/contracts/CHANGELOG.md
  packages/contracts/package.json
  packages/data-transport-layer/CHANGELOG.md
  packages/data-transport-layer/package.json
  packages/drippie-mon/CHANGELOG.md
  packages/drippie-mon/package.json
  packages/integration-tests-bedrock/package.json
  packages/message-relayer/CHANGELOG.md
  packages/message-relayer/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Labels: M-dtl, M-ops, M-contracts, 2-reviewers, M-integration, M-sdk, M-contracts-periphery, M-contracts-bedrock

#3319 op-node: handle special engine RPC user-input error codes
  op-node/eth/types.go
  op-node/eth/types_test.go
  op-node/rollup/derive/engine_queue.go
  op-node/rollup/derive/engine_update.go
  op-node/rollup/driver/step.go
  op-node/sources/engine_client.go
Labels: on-merge-train
