Repository ethereum-optimism/optimism, pull requests merged in 2022-10, with the labels that each got.

#3634 op-e2e: action testing - L2 verifier actor
  op-e2e/actions/l1_miner.go
  op-e2e/actions/l1_replica.go
  op-e2e/actions/l2_verifier.go
  op-e2e/actions/l2_verifier_test.go
Labels: on-merge-train

#3629 op-node: Add wrapper to support EthSubscribe in HTTP clients
  op-node/client/polling.go
  op-node/client/polling_test.go
  op-node/client/rpc.go
Labels: mergify-ignore

#3620 OPB-02: Raise error on oversized chain id
  op-node/p2p/gossip.go
  op-node/p2p/signer.go
Labels: on-merge-train

#3640 op-node: Remove BlockIDRange
  op-node/sources/eth_client.go
Labels: on-merge-train

#3641 op-node: split start of payload building and confirmation of payload
  op-node/rollup/derive/engine_update.go
Labels: on-merge-train

#3638 sdk: add hh task for finalizing withdrawal
  packages/sdk/hardhat.config.ts
  packages/sdk/tasks/finalize-withdrawal.ts
  packages/sdk/tasks/index.ts
Labels: M-sdk, on-merge-train

#3623 op-node: Fully remove the progress API
  op-e2e/actions/l2_verifier.go
  op-node/rollup/derive/batch_queue.go
  op-node/rollup/derive/channel_bank.go
  op-node/rollup/derive/channel_in_reader.go
  op-node/rollup/derive/engine_queue.go
  op-node/rollup/derive/engine_queue_test.go
  op-node/rollup/derive/l1_retrieval.go
  op-node/rollup/derive/l1_traversal.go
  op-node/rollup/derive/pipeline.go
  op-node/rollup/derive/pipeline_test.go
  op-node/rollup/derive/progress.go
  op-node/rollup/driver/driver.go
  op-node/rollup/driver/state.go
Labels: on-merge-train

#3579 Feat: --rpc.evmtimeout
  .changeset/khaki-bottles-matter.md
  l2geth/cmd/geth/main.go
  l2geth/cmd/geth/usage.go
  l2geth/cmd/utils/flags.go
  l2geth/eth/api_backend.go
  l2geth/eth/config.go
  l2geth/graphql/graphql.go
  l2geth/internal/ethapi/api.go
  l2geth/internal/ethapi/backend.go
  l2geth/les/api_backend.go
Labels: 2-reviewers, M-l2geth, C-Protocol-Critical

#3645 op-chain-ops: better error message
  op-chain-ops/deployer/deployer.go
Labels: on-merge-train

#3644 op-chain-ops: default `L2Addresses`
  op-chain-ops/genesis/layer_two.go
Labels: on-merge-train

#3643 op-chain-ops: defensive storage config
  op-chain-ops/genesis/config.go
Labels: on-merge-train

#3642 op-chain-ops: add geth test key to dev L2 genesis alloc
  op-chain-ops/genesis/helpers.go
  op-chain-ops/genesis/layer_two_test.go
Labels: on-merge-train

#3651 Install a specific slither commit
  .changeset/slow-stingrays-rescue.md
  ops/docker/ci-builder/Dockerfile
Labels: M-ops, 2-reviewers, on-merge-train

#3649 op-e2e: Adopt op-chain-ops
  op-e2e/e2eutils/secrets.go
  op-e2e/geth.go
  op-e2e/setup.go
  op-e2e/system_test.go
  op-node/rollup/driver/state.go
Labels: on-merge-train

#3590 contracts-bedrock: cleanup imports, fix storage layout
  op-bindings/bindings/gaspriceoracle_more.go
  op-bindings/bindings/governancetoken_more.go
  op-bindings/bindings/l1crossdomainmessenger_more.go
  op-bindings/bindings/l2crossdomainmessenger_more.go
  op-bindings/bindings/l2standardbridge_more.go
  op-bindings/bindings/legacyerc20eth_more.go
  op-bindings/bindings/optimismportal.go
  op-bindings/bindings/optimismportal_more.go
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/.storage-layout
  packages/contracts-bedrock/contracts/L1/OptimismPortal.sol
  packages/contracts-bedrock/contracts/L1/ResourceMetering.sol
  packages/contracts-bedrock/contracts/test/L1CrossDomainMessenger.t.sol
Labels: 2-reviewers, on-merge-train, M-contracts-bedrock

#3647 op-node: split driver state/model into L1 state, L1 origin selector, L2 sequencer, L2 derivation
  op-node/node/node.go
  op-node/rollup/driver/driver.go
  op-node/rollup/driver/l1_state.go
  op-node/rollup/driver/origin_selector.go
  op-node/rollup/driver/sequencer.go
  op-node/rollup/driver/state.go
  op-node/rollup/driver/step.go
Labels: on-merge-train

#3652 ctb: Rename event in the L2ToL1MessagePasser
  .changeset/five-grapes-march.md
  op-bindings/bindings/l2tol1messagepasser.go
  op-bindings/bindings/l2tol1messagepasser_more.go
  op-node/withdrawals/testdata/bridge-withdrawal.json
  op-node/withdrawals/utils.go
  op-node/withdrawals/utils_test.go
  packages/contracts-bedrock/contracts/L2/L2ToL1MessagePasser.sol
  packages/contracts-bedrock/contracts/test/CommonTest.t.sol
  packages/contracts-bedrock/contracts/test/L2CrossDomainMessenger.t.sol
  packages/contracts-bedrock/contracts/test/L2ToL1MessagePasser.t.sol
  packages/sdk/src/cross-chain-messenger.ts
  specs/withdrawals.md
Labels: 2-reviewers, M-sdk, on-merge-train, M-contracts-bedrock

#3654 ctp: mainnet nft bridge deployments
  .changeset/mighty-planets-pump.md
  packages/contracts-periphery/deployments/ethereum/L1ERC721Bridge.json
  packages/contracts-periphery/deployments/ethereum/L1ERC721BridgeProxy.json
  packages/contracts-periphery/deployments/ethereum/solcInputs/ab9b77493f35e63b7a63fb2fa8d618b4.json
  packages/contracts-periphery/deployments/optimism/L2ERC721Bridge.json
  packages/contracts-periphery/deployments/optimism/OptimismMintableERC721Factory.json
  packages/contracts-periphery/deployments/optimism/OptimismMintableERC721FactoryProxy.json
  packages/contracts-periphery/deployments/optimism/solcInputs/ab9b77493f35e63b7a63fb2fa8d618b4.json
  packages/contracts-periphery/src/nft-bridge-deploy-helpers.ts
Labels: 2-reviewers, on-merge-train, M-contracts-periphery

#3639 op-node: Simplify Receipts Fetching API
  op-node/rollup/derive/attributes.go
  op-node/rollup/derive/attributes_test.go
  op-node/rollup/driver/sequencer.go
  op-node/sources/eth_client.go
  op-node/testutils/mock_eth_client.go
Labels: mergify-ignore

#3636 ci: Have Mergify use a merge commit
  .github/mergify.yml
Labels: 2-reviewers

#3542 Use uint64 for arithmetic in XDM's baseGas
  .changeset/chatty-impalas-report.md
  op-bindings/bindings/gaspriceoracle_more.go
  op-bindings/bindings/governancetoken_more.go
  op-bindings/bindings/l1crossdomainmessenger.go
  op-bindings/bindings/l1crossdomainmessenger_more.go
  op-bindings/bindings/l2crossdomainmessenger.go
  op-bindings/bindings/l2crossdomainmessenger_more.go
  op-bindings/bindings/l2standardbridge_more.go
  op-bindings/bindings/legacyerc20eth_more.go
  op-bindings/bindings/optimismportal_more.go
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/test/CrossDomainMessenger.t.sol
  packages/contracts-bedrock/contracts/universal/CrossDomainMessenger.sol
Labels: 2-reviewers, on-merge-train, M-contracts-bedrock

#3658 indexer: Restore some bindings
  indexer/Makefile
  indexer/bindings/legacy/scc/statecommitmentchain.go
Labels: on-merge-train

#3618 feat(sdk): add Bedrock Alpha Testnet contracts
  .changeset/chilly-cups-agree.md
  packages/sdk/src/interfaces/types.ts
  packages/sdk/src/utils/chain-constants.ts
Labels: M-sdk, on-merge-train

#3656 CI Builder: install slither==0.9.0
  .changeset/serious-pianos-complain.md
  .changeset/slow-stingrays-rescue.md
  ops/docker/ci-builder/Dockerfile
Labels: M-ops, 2-reviewers, on-merge-train

#3653 ctb: Fix codecov flag args to match config
  .circleci/config.yml
Labels: on-merge-train

#3655 op-e2e: action testing L2 sequencer, use L1State in verifier
  op-e2e/actions/l2_sequencer.go
  op-e2e/actions/l2_sequencer_test.go
  op-e2e/actions/l2_verifier.go
  op-node/testutils/metrics.go
Labels: on-merge-train

#3659 indexer: Update DB package
  indexer/db/db.go
  indexer/db/eth.go
  indexer/db/l1block.go
  indexer/db/sql.go
  indexer/db/state_batch.go
  indexer/db/withdrawal.go
  indexer/services/l1/service.go
  indexer/services/l2/service.go
Labels: mergify-ignore

#3662 fix: update goerli scc address
  packages/contracts/deployments/goerli/README.md
Labels: M-contracts, 2-reviewers, on-merge-train

#3663 ctb: Format forge tests with prettier
  packages/contracts-bedrock/.prettierignore
  packages/contracts-bedrock/contracts/test/CommonTest.t.sol
  packages/contracts-bedrock/contracts/test/CrossDomainOwnable.t.sol
  packages/contracts-bedrock/contracts/test/CrossDomainOwnable2.t.sol
  packages/contracts-bedrock/contracts/test/DeployerWhitelist.t.sol
  packages/contracts-bedrock/contracts/test/Encoding.t.sol
  packages/contracts-bedrock/contracts/test/GasPriceOracle.t.sol
  packages/contracts-bedrock/contracts/test/Hashing.t.sol
  packages/contracts-bedrock/contracts/test/L1Block.t.sol
  packages/contracts-bedrock/contracts/test/L1CrossDomainMessenger.t.sol
  packages/contracts-bedrock/contracts/test/L1StandardBridge.t.sol
  packages/contracts-bedrock/contracts/test/L2CrossDomainMessenger.t.sol
  packages/contracts-bedrock/contracts/test/L2OutputOracle.t.sol
  packages/contracts-bedrock/contracts/test/L2StandardBridge.t.sol
  packages/contracts-bedrock/contracts/test/L2ToL1MessagePasser.t.sol
  packages/contracts-bedrock/contracts/test/OptimismMintableERC20.t.sol
  packages/contracts-bedrock/contracts/test/OptimismMintableERC20Factory.t.sol
  packages/contracts-bedrock/contracts/test/OptimismPortal.t.sol
  packages/contracts-bedrock/contracts/test/Proxy.t.sol
  packages/contracts-bedrock/contracts/test/ProxyAdmin.t.sol
  packages/contracts-bedrock/contracts/test/RLP.t.sol
  packages/contracts-bedrock/contracts/test/RLPReader.t.sol
  packages/contracts-bedrock/contracts/test/RLPWriter.t.sol
  packages/contracts-bedrock/contracts/test/ResourceMetering.t.sol
  packages/contracts-bedrock/contracts/test/SafeCall.t.sol
  packages/contracts-bedrock/contracts/test/Semver.t.sol
  packages/contracts-bedrock/contracts/test/SequencerFeeVault.t.sol
Labels: 2-reviewers, on-merge-train, M-contracts-bedrock

#3671 op-node: make rollup node RPC testable in op-e2e
  op-batcher/batch_submitter.go
  op-e2e/actions/l1_replica.go
  op-e2e/actions/l2_engine.go
  op-e2e/actions/l2_sequencer.go
  op-e2e/actions/l2_verifier.go
  op-e2e/actions/l2_verifier_test.go
  op-e2e/system_test.go
  op-node/node/api.go
  op-node/node/node.go
  op-node/node/server.go
  op-node/sources/rollupclient.go
  op-node/testutils/metrics.go
  op-proposer/l2_output_submitter.go
  op-proposer/rollupclient/rollupclient.go
Labels: on-merge-train

#3673 contracts-governance: allow deploy by ledger
  packages/contracts-governance/hardhat.config.ts
Labels: on-merge-train

#3664 Add balance metrics to op-propose & op-batcher
  op-batcher/batch_submitter.go
  op-proposer/l2_output_submitter.go
  op-service/go.sum
  op-service/metrics/balance.go
  op-service/metrics/balance_test.go
  ops-bedrock/docker-compose.yml
Labels: on-merge-train

#3674 op-node: Fillbytes size check in l1 block info
  op-node/rollup/derive/attributes_test.go
  op-node/rollup/derive/deposit_log.go
  op-node/rollup/derive/deposit_log_test.go
  op-node/rollup/derive/l1_block_info.go
Labels: on-merge-train

#3666 indexer: Perform Bedrock DB upgrade
  indexer/db/db.go
  indexer/db/l1block.go
  indexer/db/sql.go
  indexer/db/withdrawal.go
  indexer/services/l2/service.go
Labels: mergify-ignore

#3668 indexer: Upgrade L2 services
  indexer/indexer.go
  indexer/services/l2/bridge/bridge.go
  indexer/services/l2/bridge/filter.go
  indexer/services/l2/bridge/standard_bridge.go
  indexer/services/l2/confirmed_headers.go
  indexer/services/l2/query.go
  indexer/services/l2/service.go
Labels: mergify-ignore

#3669 indexer: Upgrade everything else, add itests
  .changeset/lemon-files-rescue.md
  .circleci/config.yml
  indexer/config.go
  indexer/db/eth.go
  indexer/flags/flags.go
  indexer/indexer.go
  indexer/integration_tests/bedrock_test.go
  indexer/sentry_log.go
  indexer/services/l2/service.go
Labels: mergify-ignore

#3675 fix(ctb): remove unnecessary L2OO init param
  .changeset/poor-singers-dance.md
  op-bindings/bindings/deployerwhitelist_more.go
  op-bindings/bindings/gaspriceoracle_more.go
  op-bindings/bindings/governancetoken_more.go
  op-bindings/bindings/l1block_more.go
  op-bindings/bindings/l1crossdomainmessenger_more.go
  op-bindings/bindings/l2crossdomainmessenger_more.go
  op-bindings/bindings/l2outputoracle.go
  op-bindings/bindings/l2standardbridge_more.go
  op-bindings/bindings/l2tol1messagepasser_more.go
  op-bindings/bindings/legacyerc20eth_more.go
  op-bindings/bindings/legacymessagepasser_more.go
  op-bindings/bindings/optimismportal_more.go
  op-bindings/bindings/sequencerfeevault_more.go
  op-chain-ops/genesis/layer_one.go
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/L1/L2OutputOracle.sol
  packages/contracts-bedrock/contracts/test/CommonTest.t.sol
  packages/contracts-bedrock/contracts/test/L2OutputOracle.t.sol
  packages/contracts-bedrock/deploy/001-InitImplementations.deploy.ts
Labels: 2-reviewers, on-merge-train, M-contracts-bedrock

#3628 op-e2e: action testing user
  op-e2e/actions/l1_miner.go
  op-e2e/actions/l2_engine.go
  op-e2e/actions/user.go
  op-e2e/actions/user_test.go
  op-node/rollup/driver/sequencer.go
Labels: on-merge-train

#3701 op-node: Use DoCtx in DialRPClientWithBackoff
  op-node/client/rpc.go
Labels: on-merge-train

#3702 op-node: Allow *types.Block to satisfy the BlockInfo interface
  op-node/eth/block_info.go
  op-node/sources/eth_client.go
Labels: on-merge-train

#3672 op-e2e: action testing batcher actor
  op-e2e/actions/l2_batcher.go
  op-e2e/actions/l2_batcher_test.go
Labels: on-merge-train

#3708 proxyd: Support pattern matching in origin and user agent
  .changeset/shy-trainers-sneeze.md
  proxyd/server.go
Labels: on-merge-train

#3700 proxyd: Allow disabling backend rate limiting
  .changeset/flat-windows-trade.md
  proxyd/backend_rate_limiter.go
  proxyd/config.go
  proxyd/integration_tests/testdata/backend_rate_limit.toml
  proxyd/integration_tests/testdata/out_of_service_interval.toml
  proxyd/integration_tests/testdata/ws.toml
  proxyd/proxyd.go
Labels: on-merge-train

#3685 contracts-bedrock: Fix L2OO deployment
  packages/contracts-bedrock/deploy/001-InitImplementations.deploy.ts
Labels: 2-reviewers, M-contracts-bedrock

#3694 op-node: Fix reset bug in batch queue
  op-node/rollup/derive/batch_queue.go
Labels: conflict

#3720 op-chain-ops: add weth9 as a L1 predeploy
  op-bindings/predeploys/dev_addresses.go
  op-chain-ops/genesis/layer_one.go
  op-chain-ops/genesis/layer_one_test.go
Labels: on-merge-train

#3721 op-e2e: user action allow set value
  op-e2e/actions/user.go
Labels: on-merge-train

#3726 op-e2e: last receipt getter
  op-e2e/actions/user.go
Labels: on-merge-train

#3707 op-node: Add P2P metrics
  op-node/metrics/metrics.go
  op-node/node/node.go
  op-node/p2p/config.go
  op-node/p2p/gossip.go
  op-node/p2p/host.go
  op-node/p2p/host_test.go
  op-node/p2p/node.go
  op-node/p2p/notifications.go
  op-node/p2p/prepared.go
  op-node/p2p/rpc_server.go
Labels: on-merge-train

#3711 INF-11 updates docker-publish jobs to use OIDC auth
  .circleci/config.yml
Labels: on-merge-train

#3528 feat: withdrawal migration
  op-chain-ops/crossdomain/legacy_withdrawal.go
  op-chain-ops/crossdomain/migrate.go
  op-chain-ops/crossdomain/migrate_test.go
  op-chain-ops/crossdomain/withdrawal.go
  op-chain-ops/crossdomain/withdrawals.go
  op-chain-ops/crossdomain/withdrawals_test.go
Labels: on-merge-train

#3730 ci: Fix incorrect flag naming on codecov upload
  .circleci/config.yml
Labels: on-merge-train

#3733 ctb: Fix deploy script
  packages/contracts-bedrock/deploy/001-InitImplementations.deploy.ts
Labels: 2-reviewers, M-contracts-bedrock

#3680 fix(ctb): move inits under constructors
  .changeset/friendly-rats-scream.md
  packages/contracts-bedrock/contracts/L1/OptimismPortal.sol
Labels: 2-reviewers, on-merge-train, M-contracts-bedrock

#3737 op-node: Skip conf depth check if L1 head is empty
  op-node/rollup/driver/conf_depth.go
  op-node/rollup/driver/conf_depth_test.go
Labels: on-merge-train

#3731 specs,op-node: Clarify Max RLP Bytes Per Channel
  op-node/rollup/derive/channel.go
  op-node/rollup/derive/params.go
  specs/derivation.md
Labels: on-merge-train

#3660 feat(ci): add ecopod mergify rules
  .github/mergify.yml
Labels: 2-reviewers

#3741 op-node: Limit decompressed size in channel_out
  op-node/rollup/derive/channel_out.go
Labels: on-merge-train

#3696 specs: Remove outdated portions
  specs/derivation.md
  specs/exec-engine.md
Labels: on-merge-train

#3742 l2geth: Add OVM ETH and message passer state dump
  l2geth/core/state/statedb.go
  l2geth/core/vm/evm.go
  l2geth/rollup/dump/constants.go
  l2geth/statedumper/dumper.go
Labels: 2-reviewers, M-l2geth, C-Protocol-Critical

#3745 Develop -> Master
  .changeset/friendly-rats-scream.md
  .circleci/config.yml
  .github/mergify.yml
  .snyk
  l2geth/core/state/statedb.go
  l2geth/core/vm/evm.go
  l2geth/rollup/dump/constants.go
  l2geth/statedumper/dumper.go
  op-bindings/predeploys/dev_addresses.go
  op-chain-ops/Makefile
  op-chain-ops/cmd/main.go
  op-chain-ops/crossdomain/legacy_withdrawal.go
  op-chain-ops/crossdomain/migrate.go
  op-chain-ops/crossdomain/migrate_test.go
  op-chain-ops/crossdomain/withdrawal.go
  op-chain-ops/crossdomain/withdrawals.go
  op-chain-ops/crossdomain/withdrawals_test.go
  op-chain-ops/ether/addresses.go
  op-chain-ops/ether/cli.go
  op-chain-ops/ether/db.go
  op-chain-ops/ether/genesis.go
  op-chain-ops/ether/params.go
  op-chain-ops/ether/storage.go
  op-chain-ops/ether/util.go
  op-chain-ops/genesis/layer_one.go
  op-chain-ops/genesis/layer_one_test.go
  op-e2e/actions/l2_engine_api.go
  op-e2e/actions/user.go
  op-node/metrics/metrics.go
  op-node/node/node.go
  op-node/p2p/config.go
  op-node/p2p/gossip.go
  op-node/p2p/host.go
  op-node/p2p/host_test.go
  op-node/p2p/node.go
  op-node/p2p/notifications.go
  op-node/p2p/prepared.go
  op-node/p2p/rpc_server.go
  op-node/rollup/derive/channel.go
  op-node/rollup/derive/channel_out.go
  op-node/rollup/derive/params.go
  op-node/rollup/driver/conf_depth.go
  op-node/rollup/driver/conf_depth_test.go
  packages/contracts-bedrock/contracts/L1/OptimismPortal.sol
  packages/contracts-bedrock/deploy/001-InitImplementations.deploy.ts
  specs/derivation.md
  specs/exec-engine.md
Labels: 2-reviewers, M-l2geth, C-Protocol-Critical, M-contracts-bedrock

#3725 op-batcher: Limit number of blocks per channel
  op-batcher/batch_submitter.go
Labels: on-merge-train

#3734 ops: Add bedrock-devnet script
  .circleci/config.yml
  .gitignore
  Makefile
  bedrock-devnet/README.md
  bedrock-devnet/devnet/__init__.py
  bedrock-devnet/devnet/genesis.py
  bedrock-devnet/devnet/log_setup.py
  bedrock-devnet/main.py
  op-node/cmd/genesis/cmd.go
  packages/contracts-bedrock/deploy-config/devnetL1.json
  packages/sdk/src/cross-chain-messenger.ts
  packages/sdk/src/utils/contracts.ts
  packages/sdk/tasks/deposit-erc20.ts
  packages/sdk/tasks/deposit-eth.ts
Labels: 2-reviewers, M-sdk, M-contracts-bedrock, sdk

#3754 Develop -> Master
  .changeset/plenty-pandas-heal.md
  .circleci/config.yml
  .gitignore
  Makefile
  bedrock-devnet/README.md
  bedrock-devnet/devnet/__init__.py
  bedrock-devnet/devnet/genesis.py
  bedrock-devnet/devnet/log_setup.py
  bedrock-devnet/main.py
  op-batcher/batch_submitter.go
  op-node/cmd/genesis/cmd.go
  packages/contracts-bedrock/deploy-config/devnetL1.json
  packages/sdk/src/cross-chain-messenger.ts
  packages/sdk/src/utils/contracts.ts
  packages/sdk/tasks/deposit-erc20.ts
  packages/sdk/tasks/deposit-eth.ts
Labels: 2-reviewers, M-sdk, M-contracts-bedrock

#3744 op-chain-ops: delete dead code
  op-chain-ops/genesis/layer_two.go
  op-chain-ops/genesis/setters.go
Labels: on-merge-train

#3756 Develop -> Master
  .changeset/plenty-pandas-heal.md
  l2geth/CHANGELOG.md
  l2geth/package.json
  op-chain-ops/genesis/layer_two.go
  op-chain-ops/genesis/setters.go
Labels: 2-reviewers, M-l2geth

#3751 op-node: Reset bug unit test
  op-node/rollup/derive/batch_queue_test.go
Labels: on-merge-train

#3555 fix: turn nft bridge into predeploy
  op-bindings/Makefile
  op-bindings/bindings/deployerwhitelist_more.go
  op-bindings/bindings/gaspriceoracle_more.go
  op-bindings/bindings/governancetoken_more.go
  op-bindings/bindings/l1block_more.go
  op-bindings/bindings/l1crossdomainmessenger_more.go
  op-bindings/bindings/l1erc721bridge.go
  op-bindings/bindings/l2crossdomainmessenger_more.go
  op-bindings/bindings/l2erc721bridge.go
  op-bindings/bindings/l2erc721bridge_more.go
  op-bindings/bindings/l2standardbridge_more.go
  op-bindings/bindings/l2tol1messagepasser_more.go
  op-bindings/bindings/legacyerc20eth_more.go
  op-bindings/bindings/legacymessagepasser_more.go
  op-bindings/bindings/optimismmintableerc20factory.go
  op-bindings/bindings/optimismmintableerc721factory.go
  op-bindings/bindings/optimismmintableerc721factory_more.go
  op-bindings/bindings/optimismportal_more.go
  op-bindings/bindings/sequencerfeevault_more.go
  op-bindings/predeploys/addresses.go
  op-bindings/predeploys/dev_addresses.go
  op-chain-ops/genesis/config.go
  op-chain-ops/genesis/layer_one.go
  op-chain-ops/genesis/layer_two.go
  op-chain-ops/genesis/layer_two_test.go
  op-chain-ops/immutables/immutables.go
  op-chain-ops/immutables/immutables_test.go
  op-e2e/e2eutils/setup.go
  op-e2e/setup.go
  op-node/cmd/genesis/cmd.go
  packages/contracts-bedrock/contracts/L1/L1ERC721Bridge.sol
  packages/contracts-bedrock/contracts/L2/L2ERC721Bridge.sol
  packages/contracts-bedrock/contracts/libraries/Predeploys.sol
  packages/contracts-bedrock/contracts/test/CommonTest.t.sol
  packages/contracts-bedrock/contracts/universal/ERC721Bridge.sol
  packages/contracts-bedrock/contracts/universal/IOptimismMintableERC721.sol
  packages/contracts-bedrock/contracts/universal/OptimismMintableERC20Factory.sol
  packages/contracts-bedrock/contracts/universal/OptimismMintableERC721.sol
  packages/contracts-bedrock/contracts/universal/OptimismMintableERC721Factory.sol
  packages/contracts-bedrock/deploy/000-InitProxies.deploy.ts
  packages/contracts-bedrock/deploy/001-InitImplementations.deploy.ts
  packages/contracts-bedrock/deploy/002-ConfigureProxyAdmin.ts
  packages/contracts-bedrock/src/constants.ts
  specs/predeploys.md
Labels: 2-reviewers, on-merge-train, M-contracts-bedrock

#3758 ci: increase timeout of devnet tests
  .circleci/config.yml
Labels: on-merge-train

#3752 feat(ctb): RLP library updates
  .changeset/chatty-taxis-crash.md
  op-bindings/bindings/gaspriceoracle_more.go
  op-bindings/bindings/governancetoken_more.go
  op-bindings/bindings/l1crossdomainmessenger_more.go
  op-bindings/bindings/l2crossdomainmessenger_more.go
  op-bindings/bindings/l2erc721bridge_more.go
  op-bindings/bindings/l2standardbridge_more.go
  op-bindings/bindings/legacyerc20eth_more.go
  op-bindings/bindings/optimismmintableerc721factory_more.go
  op-bindings/bindings/optimismportal.go
  op-bindings/bindings/optimismportal_more.go
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/libraries/Bytes.sol
  packages/contracts-bedrock/contracts/libraries/rlp/RLPReader.sol
  packages/contracts-bedrock/contracts/test/CommonTest.t.sol
  packages/contracts-bedrock/contracts/test/L2OutputOracle.t.sol
  packages/contracts-bedrock/contracts/test/RLPReader.t.sol
  packages/contracts-bedrock/package.json
  yarn.lock
Labels: 2-reviewers, on-merge-train, M-contracts-bedrock

#3759 chore: Delete unused .orig file
  indexer/services/l1/bridge/bridge.go.orig
Labels: on-merge-train, indexer

#3691 ctb: Remove MessagePassedExtension1 event
  op-bindings/bindings/deployerwhitelist_more.go
  op-bindings/bindings/gaspriceoracle_more.go
  op-bindings/bindings/governancetoken_more.go
  op-bindings/bindings/l1crossdomainmessenger_more.go
  op-bindings/bindings/l2crossdomainmessenger_more.go
  op-bindings/bindings/l2erc721bridge_more.go
  op-bindings/bindings/l2standardbridge_more.go
  op-bindings/bindings/l2tol1messagepasser.go
  op-bindings/bindings/l2tol1messagepasser_more.go
  op-bindings/bindings/legacyerc20eth_more.go
  op-bindings/bindings/legacymessagepasser_more.go
  op-bindings/bindings/optimismmintableerc721factory_more.go
  op-bindings/bindings/optimismportal_more.go
  op-bindings/bindings/sequencerfeevault_more.go
  op-node/withdrawals/testdata/bridge-withdrawal.json
  op-node/withdrawals/utils.go
  op-node/withdrawals/utils_test.go
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/L2/L2ToL1MessagePasser.sol
  packages/contracts-bedrock/contracts/test/CommonTest.t.sol
  packages/contracts-bedrock/contracts/test/L2CrossDomainMessenger.t.sol
  packages/contracts-bedrock/contracts/test/L2ToL1MessagePasser.t.sol
  packages/sdk/src/cross-chain-messenger.ts
  specs/withdrawals.md
Labels: 2-reviewers, M-sdk, on-merge-train, M-contracts-bedrock, sdk

#3714 ci-builder: update geth version
  .changeset/smart-moles-add.md
  op-bindings/README.md
  ops/docker/ci-builder/Dockerfile
Labels: M-ops, 2-reviewers, on-merge-train

#3760 feat(ctb): trie updates for Bedrock
  op-bindings/bindings/deployerwhitelist_more.go
  op-bindings/bindings/gaspriceoracle_more.go
  op-bindings/bindings/governancetoken_more.go
  op-bindings/bindings/l1block_more.go
  op-bindings/bindings/l1crossdomainmessenger_more.go
  op-bindings/bindings/l2crossdomainmessenger_more.go
  op-bindings/bindings/l2erc721bridge_more.go
  op-bindings/bindings/l2standardbridge_more.go
  op-bindings/bindings/l2tol1messagepasser_more.go
  op-bindings/bindings/legacyerc20eth_more.go
  op-bindings/bindings/legacymessagepasser_more.go
  op-bindings/bindings/optimismmintableerc721factory_more.go
  op-bindings/bindings/optimismportal.go
  op-bindings/bindings/optimismportal_more.go
  op-bindings/bindings/sequencerfeevault_more.go
  op-node/withdrawals/utils.go
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/L1/OptimismPortal.sol
  packages/contracts-bedrock/contracts/libraries/Bytes.sol
  packages/contracts-bedrock/contracts/libraries/trie/MerkleTrie.sol
  packages/contracts-bedrock/contracts/libraries/trie/SecureMerkleTrie.sol
  packages/contracts-bedrock/contracts/test/CommonTest.t.sol
  packages/contracts-bedrock/contracts/test/OptimismPortal.t.sol
  packages/contracts-bedrock/scripts/differential-testing.ts
  packages/core-utils/src/optimism/hashing.ts
  packages/sdk/src/cross-chain-messenger.ts
Labels: M-core-utils, 2-reviewers, M-sdk, on-merge-train, M-contracts-bedrock, sdk, indexer

#3762 fix(l2g): bug in state dumper
  .changeset/red-lemons-rhyme.md
  l2geth/statedumper/dumper.go
Labels: 2-reviewers, M-l2geth, C-Protocol-Critical, on-merge-train

#3302 predeploys: add L2 `ProxyAdmin`
  op-bindings/Makefile
  op-bindings/bindings/gaspriceoracle_more.go
  op-bindings/bindings/governancetoken_more.go
  op-bindings/bindings/l1crossdomainmessenger_more.go
  op-bindings/bindings/l2crossdomainmessenger_more.go
  op-bindings/bindings/l2erc721bridge_more.go
  op-bindings/bindings/l2standardbridge_more.go
  op-bindings/bindings/legacyerc20eth_more.go
  op-bindings/bindings/optimismmintableerc721factory_more.go
  op-bindings/bindings/optimismportal_more.go
  op-bindings/bindings/proxyadmin_more.go
  op-bindings/predeploys/addresses.go
  op-chain-ops/genesis/config.go
  op-chain-ops/genesis/layer_two.go
  op-chain-ops/genesis/layer_two_test.go
  op-chain-ops/genesis/setters.go
  op-chain-ops/genesis/testdata/test-deploy-config-full.json
  op-e2e/e2eutils/setup.go
  op-node/cmd/genesis/cmd.go
  packages/contracts-bedrock/contracts/libraries/Predeploys.sol
  packages/contracts-bedrock/hardhat.config.ts
  packages/contracts-bedrock/src/constants.ts
  packages/contracts-bedrock/tasks/rekey.ts
  specs/predeploys.md
Labels: 2-reviewers, on-merge-train, M-contracts-bedrock

#3736 ci: Codecov badges and ignore some files
  .changeset/silver-comics-march.md
  codecov.yml
  packages/actor-tests/README.md
  packages/common-ts/README.md
  packages/contracts-bedrock/README.md
  packages/contracts-governance/README.md
  packages/contracts-periphery/README.md
  packages/contracts/README.md
  packages/core-utils/README.md
  packages/data-transport-layer/README.md
  packages/drippie-mon/README.md
  packages/fault-detector/README.md
  packages/message-relayer/README.md
  packages/replica-healthcheck/README.md
  packages/sdk/README.md
Labels: M-core-utils, M-dtl, M-contracts, 2-reviewers, M-sdk, on-merge-train, M-contracts-periphery, M-contracts-bedrock, sdk, common-ts

#3728 op-e2e: test orphan L1 block with batch and replay batch + keep engine fc state in sync [bedrock]
  op-e2e/actions/l1_miner.go
  op-e2e/actions/l2_batcher.go
  op-e2e/actions/l2_sequencer.go
  op-e2e/actions/l2_verifier.go
  op-e2e/actions/reorg_test.go
  op-node/rollup/derive/engine_queue.go
Labels: on-merge-train

#3735 Update grafana dashboard
  ops/docker/scripts/dashboard-sync.py
Labels: M-ops, 2-reviewers

#3765 op-e2e: flip-flop test
  op-e2e/actions/reorg_test.go
Labels: on-merge-train

#3772 fix(ctb): resolve compiler warning
  packages/contracts-bedrock/contracts/test/CrossDomainMessenger.t.sol
Labels: 2-reviewers, on-merge-train, M-contracts-bedrock

#3773 feat(docs): update readme
  README.md
Labels: on-merge-train

#3770 chore: Delete some unused flags
  .changeset/fluffy-ducks-compare.md
  indexer/flags/flags.go
Labels: on-merge-train, indexer

#3769 specs,op-node: Clarify max bytes per channel comparison
  op-node/rollup/derive/channel_out.go
  op-node/rollup/derive/channel_out_test.go
  specs/derivation.md
Labels: on-merge-train

#3776 op-chain-ops: improve error message
  op-chain-ops/genesis/config.go
Labels: on-merge-train

#3775 feat(md): state dump file parsing
  packages/migration-data/.gitignore
  packages/migration-data/bin/cli.ts
Labels: on-merge-train

#3768 specs,op-node: Clarify channel bank pruning
  op-node/rollup/derive/channel_bank.go
  op-node/rollup/derive/channel_bank_test.go
  op-node/rollup/derive/frame_queue.go
  op-node/rollup/derive/pipeline.go
  specs/derivation.md
Labels: on-merge-train

#3780 chore: rename verifyFoundryInstall.ts to verify-foundry-install.ts
  packages/contracts-bedrock/package.json
  packages/contracts-bedrock/scripts/verify-foundry-install.ts
Labels: 2-reviewers, M-contracts-bedrock

#3763 op-node,specs: Drop invalid batches
  op-node/rollup/derive/engine_queue.go
  specs/derivation.md
Labels: on-merge-train

#3783 ctb: Add beta-1 artifacts
  ops-bedrock/oneshot/Dockerfile.oneshot
  ops-bedrock/oneshot/README.md
  ops-bedrock/oneshot/create.py
  ops-bedrock/oneshot/op-init.sh
  ops-bedrock/oneshot/s6-rc.d/op-geth/run
  ops-bedrock/oneshot/s6-rc.d/op-node/run
  packages/contracts-bedrock/deployments/beta-1/.chainId
  packages/contracts-bedrock/deployments/beta-1/AddressManager.json
  packages/contracts-bedrock/deployments/beta-1/L1CrossDomainMessenger.json
  packages/contracts-bedrock/deployments/beta-1/L1CrossDomainMessengerProxy.json
  packages/contracts-bedrock/deployments/beta-1/L1StandardBridge.json
  packages/contracts-bedrock/deployments/beta-1/L1StandardBridgeProxy.json
  packages/contracts-bedrock/deployments/beta-1/L2OutputOracle.json
  packages/contracts-bedrock/deployments/beta-1/L2OutputOracleProxy.json
  packages/contracts-bedrock/deployments/beta-1/OptimismMintableERC20Factory.json
  packages/contracts-bedrock/deployments/beta-1/OptimismMintableERC20FactoryProxy.json
  packages/contracts-bedrock/deployments/beta-1/OptimismPortal.json
  packages/contracts-bedrock/deployments/beta-1/OptimismPortalProxy.json
  packages/contracts-bedrock/deployments/beta-1/ProxyAdmin.json
  packages/contracts-bedrock/deployments/beta-1/solcInputs/bcb10ffa97d20df01425b453af7364d1.json
Labels: 2-reviewers, on-merge-train, M-contracts-bedrock

#3784 op-e2e: cleanup test actors, run all action tests in parallel
  op-e2e/actions/action.go
  op-e2e/actions/l1_miner.go
  op-e2e/actions/l1_miner_test.go
  op-e2e/actions/l1_replica.go
  op-e2e/actions/l1_replica_test.go
  op-e2e/actions/l2_batcher_test.go
  op-e2e/actions/l2_engine.go
  op-e2e/actions/l2_engine_test.go
  op-e2e/actions/l2_sequencer.go
  op-e2e/actions/l2_sequencer_test.go
  op-e2e/actions/l2_verifier.go
  op-e2e/actions/l2_verifier_test.go
  op-e2e/e2eutils/testing.go
Labels: on-merge-train

#3767 op-chain-ops: implement migration script
  op-chain-ops/cmd/migrate/main.go
  op-chain-ops/crossdomain/migrate.go
  op-chain-ops/genesis/db_migration.go
  op-chain-ops/genesis/migration.go
  op-chain-ops/go.mod
  op-chain-ops/go.sum
  op-chain-ops/state/wrapped_db.go
Labels: on-merge-train

#3791 integration-tests: update readme, try to fix ci build
  .circleci/config.yml
  integration-tests/README.md
Labels: M-integration

#3782 op-e2e: Add invalid deposit test
  op-e2e/op_geth_test.go
Labels: on-merge-train

#3676 feat(ctb): simplfy deploy scripts with dictator
  bedrock-devnet/devnet/__init__.py
  op-bindings/bindings/deployerwhitelist_more.go
  op-bindings/bindings/gaspriceoracle_more.go
  op-bindings/bindings/governancetoken_more.go
  op-bindings/bindings/l1crossdomainmessenger_more.go
  op-bindings/bindings/l2crossdomainmessenger_more.go
  op-bindings/bindings/l2erc721bridge_more.go
  op-bindings/bindings/l2standardbridge_more.go
  op-bindings/bindings/legacyerc20eth_more.go
  op-bindings/bindings/legacymessagepasser_more.go
  op-bindings/bindings/optimismmintableerc721factory_more.go
  op-bindings/bindings/optimismportal_more.go
  op-bindings/bindings/proxyadmin_more.go
  packages/contracts-bedrock/contracts/deployment/FreshSystemDictator.sol
  packages/contracts-bedrock/contracts/test/CommonTest.t.sol
  packages/contracts-bedrock/contracts/test/L2CrossDomainMessenger.t.sol
  packages/contracts-bedrock/deploy-config/hardhat.json
  packages/contracts-bedrock/deploy/000-InitProxies.deploy.ts
  packages/contracts-bedrock/deploy/000-ProxyAdmin.ts
  packages/contracts-bedrock/deploy/001-InitImplementations.deploy.ts
  packages/contracts-bedrock/deploy/001-L1StandardBridgeProxy.ts
  packages/contracts-bedrock/deploy/002-ConfigureProxyAdmin.ts
  packages/contracts-bedrock/deploy/002-L2OutputOracleProxy.ts
  packages/contracts-bedrock/deploy/003-L1CrossDomainMessengerProxy.ts
  packages/contracts-bedrock/deploy/004-OptimismPortalProxy.ts
  packages/contracts-bedrock/deploy/005-OptimismMintableERC20FactoryProxy.ts
  packages/contracts-bedrock/deploy/006-L1ERC721BridgeProxy.ts
  packages/contracts-bedrock/deploy/007-L1CrossDomainMessengerImpl.ts
  packages/contracts-bedrock/deploy/008-L1StandardBridgeImpl.ts
  packages/contracts-bedrock/deploy/009-L2OutputOracleImpl.ts
  packages/contracts-bedrock/deploy/010-OptimismPortalImpl.ts
  packages/contracts-bedrock/deploy/011-OptimismMintableERC20FactoryImpl.ts
  packages/contracts-bedrock/deploy/012-L1ERC721BridgeImpl.ts
  packages/contracts-bedrock/deploy/013-FreshSystemDicator.ts
  packages/contracts-bedrock/hardhat.config.ts
  packages/contracts-bedrock/package.json
  packages/contracts-bedrock/src/deploy-utils.ts
Labels: 2-reviewers, on-merge-train, M-contracts-bedrock

#3794 l2geth: Fix state dumper
  .changeset/real-deers-heal.md
  l2geth/statedumper/dumper_test.go
Labels: 2-reviewers, M-l2geth, C-Protocol-Critical

#3774 ctb: Add an assert for unreachable condition
  .changeset/tasty-pandas-float.md
  op-bindings/bindings/gaspriceoracle_more.go
  op-bindings/bindings/governancetoken_more.go
  op-bindings/bindings/l1crossdomainmessenger.go
  op-bindings/bindings/l1crossdomainmessenger_more.go
  op-bindings/bindings/l2crossdomainmessenger.go
  op-bindings/bindings/l2crossdomainmessenger_more.go
  op-bindings/bindings/l2erc721bridge_more.go
  op-bindings/bindings/l2standardbridge_more.go
  op-bindings/bindings/legacyerc20eth_more.go
  op-bindings/bindings/optimismmintableerc721factory_more.go
  op-bindings/bindings/optimismportal_more.go
  op-bindings/bindings/proxyadmin_more.go
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/universal/CrossDomainMessenger.sol
Labels: 2-reviewers, on-merge-train, M-contracts-bedrock

#3792 op-chain-ops: read l2 addrs from hh deploy artifacts
  op-chain-ops/cmd/migrate/main.go
Labels: on-merge-train

#3803 docs: Add ToB and SP reports
  technical-documents/security-reviews/2020_10-Rollup-TrailOfBits.pdf
  technical-documents/security-reviews/2020_11-Dapphub-ECDSA_Wallet.pdf
  technical-documents/security-reviews/2021_03-OVM_and_Rollup-OpenZeppelin.pdf
  technical-documents/security-reviews/2021_03-SafetyChecker-ConsenSysDiligence.pdf
  technical-documents/security-reviews/2022_08-Bedrock-Go-SigmaPrime.pdf
  technical-documents/security-reviews/2022_09-Invariant_Testing-TrailOfBits.pdf
Labels: on-merge-train

#3793 op-node: Add frame validity checks
  op-node/rollup/derive/channel.go
  op-node/rollup/derive/channel_test.go
  op-node/rollup/derive/params.go
  specs/derivation.md
Labels: on-merge-train

#3810 op-batcher: Split batch_submitter.go into several files
  op-batcher/batch_submitter.go
  op-batcher/driver.go
  op-batcher/txmgr.go
  op-batcher/utils.go
Labels: on-merge-train

#3804 feat(ctb): migration dictator
  .changeset/six-mice-impress.md
  bedrock-devnet/devnet/__init__.py
  op-bindings/bindings/deployerwhitelist_more.go
  op-bindings/bindings/gaspriceoracle_more.go
  op-bindings/bindings/governancetoken_more.go
  op-bindings/bindings/l1block_more.go
  op-bindings/bindings/l1crossdomainmessenger_more.go
  op-bindings/bindings/l2crossdomainmessenger_more.go
  op-bindings/bindings/l2erc721bridge_more.go
  op-bindings/bindings/l2standardbridge_more.go
  op-bindings/bindings/l2tol1messagepasser_more.go
  op-bindings/bindings/legacyerc20eth_more.go
  op-bindings/bindings/legacymessagepasser_more.go
  op-bindings/bindings/optimismmintableerc721factory_more.go
  op-bindings/bindings/optimismportal.go
  op-bindings/bindings/optimismportal_more.go
  op-bindings/bindings/proxyadmin_more.go
  op-bindings/bindings/sequencerfeevault_more.go
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/L1/OptimismPortal.sol
  packages/contracts-bedrock/contracts/deployment/BaseSystemDictator.sol
  packages/contracts-bedrock/contracts/deployment/FreshSystemDictator.sol
  packages/contracts-bedrock/contracts/deployment/MigrationSystemDictator.sol
  packages/contracts-bedrock/contracts/deployment/PortalSender.sol
  packages/contracts-bedrock/contracts/deployment/SystemConfig.sol
  packages/contracts-bedrock/deploy/013-PortalSenderImpl.ts
  packages/contracts-bedrock/deploy/014-FreshSystemDicator.ts
  packages/contracts-bedrock/deploy/015-MigrationSystemDictator.ts
  packages/contracts-bedrock/hardhat.config.ts
Labels: 2-reviewers, on-merge-train, M-contracts-bedrock

#3802 op-node: get block with sync status, make finalization more safe
  op-e2e/actions/l1_replica.go
  op-e2e/actions/l2_batcher.go
  op-e2e/actions/l2_batcher_test.go
  op-e2e/actions/l2_engine.go
  op-e2e/actions/l2_verifier.go
  op-node/eth/sync_status.go
  op-node/rollup/derive/engine_queue.go
  op-node/rollup/derive/engine_queue_test.go
  op-node/rollup/derive/pipeline.go
  op-node/rollup/driver/driver.go
  op-node/rollup/driver/state.go
Labels: on-merge-train

#3799 Natspec legacy contracts update
  packages/contracts/contracts/L1/rollup/CanonicalTransactionChain.sol
  packages/contracts/contracts/L1/rollup/IStateCommitmentChain.sol
  packages/contracts/contracts/L1/rollup/StateCommitmentChain.sol
  packages/contracts/contracts/L1/verification/BondManager.sol
  packages/contracts/contracts/L1/verification/IBondManager.sol
  packages/contracts/contracts/L2/messaging/IL2ERC20Bridge.sol
  packages/contracts/contracts/L2/messaging/L2CrossDomainMessenger.sol
  packages/contracts/contracts/L2/predeploys/OVM_L2ToL1MessagePasser.sol
  packages/contracts/contracts/L2/predeploys/iOVM_L1BlockNumber.sol
  packages/contracts/contracts/L2/predeploys/iOVM_L2ToL1MessagePasser.sol
Labels: M-contracts, 2-reviewers, C-Protocol-Critical
