Repository ethereum-optimism/optimism, pull requests merged in 2022-01, with the labels that each got.

#1973 Fixes codechecks reports
  packages/contracts/codechecks.yml
Labels: M-contracts, 2-reviewers

#1969 Remove logic for connecting contracts
  packages/contracts/src/connect-contracts.ts
  packages/contracts/src/contract-data.ts
  packages/contracts/src/index.ts
  packages/contracts/test/connect-contracts.spec.ts
Labels: M-contracts, 2-reviewers

#1945 integration-tests: Actor updates to run against nightly
  .changeset/beige-zoos-roll.md
  integration-tests/actor-tests/lib/metrics.ts
  integration-tests/actor-tests/lib/runner.ts
  integration-tests/actor-tests/nft.test.ts
  integration-tests/actor-tests/uniswap.test.ts
  integration-tests/tsconfig.json
Labels: M-integration

#1984 Run dual tests for Synthetix
  integration-tests/ext-test/snx.sh
Labels: M-integration

#1992 feat(contracts): add in better gas oracle management
  .changeset/shaggy-brooms-shave.md
  packages/contracts/tasks/l2-gasprice.ts
Labels: M-contracts, 2-reviewers

#1982 l2geth: update timestamp logic
  .changeset/happy-ears-rhyme.md
  .changeset/tame-trains-relax.md
  integration-tests/test/ovmcontext.spec.ts
  integration-tests/test/shared/env.ts
  integration-tests/test/stress-tests.spec.ts
  l2geth/rollup/sync_service.go
  l2geth/rollup/sync_service_test.go
Labels: 2-reviewers, M-l2geth, M-integration

#1999 Makes sure that the Default sender is address(0)
  .changeset/kind-poems-happen.md
  integration-tests/.prettierrc.js
  integration-tests/.prettierrc.json
  integration-tests/contracts/ValueCalls.sol
  integration-tests/test/rpc.spec.ts
  l2geth/internal/ethapi/api.go
Labels: 2-reviewers, M-l2geth, M-integration

#2006 fix(batch-submitter): clear state root batches
  .changeset/pink-frogs-report.md
  packages/batch-submitter/src/exec/run-batch-submitter.ts
Labels: M-batch-submitter, 2-reviewers

#2018 fixed file extensions in integration tests
  integration-tests/mocha.opts
  integration-tests/test/bridged-tokens.spec.ts
  integration-tests/test/setup-docker-compose-network.ts
Labels: M-integration

#2027 Release PR
  .changeset/beige-zoos-roll.md
  .changeset/chilled-mayflies-push.md
  .changeset/clean-jars-check.md
  .changeset/cold-files-melt.md
  .changeset/empty-deers-buy.md
  .changeset/fair-eyes-build.md
  .changeset/fair-starfishes-admire.md
  .changeset/fluffy-ghosts-heal.md
  .changeset/happy-ears-rhyme.md
  .changeset/kind-poems-happen.md
  .changeset/mean-llamas-speak.md
  .changeset/pink-frogs-report.md
  .changeset/shaggy-brooms-shave.md
  .changeset/silent-keys-hunt.md
  .changeset/tame-trains-relax.md
  go/gas-oracle/CHANGELOG.md
  go/gas-oracle/package.json
  go/op-exporter/CHANGELOG.md
  go/op-exporter/package.json
  go/proxyd/CHANGELOG.md
  go/proxyd/package.json
  integration-tests/CHANGELOG.md
  integration-tests/package.json
  l2geth/CHANGELOG.md
  l2geth/package.json
  packages/batch-submitter/CHANGELOG.md
  packages/batch-submitter/package.json
  packages/contracts/CHANGELOG.md
  packages/contracts/package.json
  packages/data-transport-layer/CHANGELOG.md
  packages/data-transport-layer/package.json
  packages/message-relayer/CHANGELOG.md
  packages/message-relayer/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Labels: M-batch-submitter, M-dtl, M-contracts, 2-reviewers, M-l2geth, M-integration

#1989 Adds depcheck to CI
  .github/workflows/ts-packages.yml
  integration-tests/.depcheckrc
  packages/contracts/.depcheckrc
  packages/sdk/.depcheckrc
Labels: 2-reviewers, M-ci

#2000 fix: configurable L2 fee enforcement in ops
  .changeset/fluffy-teachers-greet.md
  l2geth/cmd/utils/flags.go
  ops/README.md
  ops/docker-compose.yml
  ops/envs/geth.env
Labels: M-ops, 2-reviewers, M-l2geth

#2011 l2geth: forward tx to sequencer
  integration-tests/test/replica.spec.ts
  l2geth/cmd/geth/main.go
  l2geth/cmd/geth/usage.go
  l2geth/cmd/utils/flags.go
  l2geth/eth/api_backend.go
  l2geth/internal/ethapi/api.go
  l2geth/internal/ethapi/backend.go
  l2geth/les/api_backend.go
  l2geth/rollup/config.go
  ops/docker-compose.yml
Labels: M-ops, 2-reviewers, M-l2geth, M-integration

#2032 feat: regenerate receipt json for optimism fields
  .changeset/big-pants-remain.md
  l2geth/core/types/gen_receipt_json.go
  l2geth/core/types/receipt.go
Labels: 2-reviewers, M-l2geth

#2036 Develop -> Master PR
  .changeset/big-pants-remain.md
  .changeset/dull-ladybugs-learn.md
  .changeset/fluffy-teachers-greet.md
  .github/workflows/ts-packages.yml
  integration-tests/.depcheckrc
  integration-tests/test/replica.spec.ts
  l2geth/cmd/geth/main.go
  l2geth/cmd/geth/usage.go
  l2geth/cmd/utils/flags.go
  l2geth/core/types/gen_receipt_json.go
  l2geth/core/types/receipt.go
  l2geth/eth/api_backend.go
  l2geth/internal/ethapi/api.go
  l2geth/internal/ethapi/backend.go
  l2geth/les/api_backend.go
  l2geth/rollup/config.go
  ops/README.md
  ops/docker-compose.yml
  ops/envs/geth.env
  packages/contracts/.depcheckrc
  packages/sdk/.depcheckrc
  yarn.lock
Labels: M-ops, 2-reviewers, M-l2geth, M-integration, M-ci

#2024 Split OVMMulticall.sol into Multicall.sol & OVMContext.sol in integration tests
  .changeset/tidy-items-confess.md
  integration-tests/contracts/Multicall.sol
  integration-tests/contracts/OVMContext.sol
  integration-tests/contracts/OVMContextStorage.sol
  integration-tests/test/ovmcontext.spec.ts
Labels: M-integration

#2034 go/proxyd: Add integration tests and batch support
  .changeset/wicked-foxes-cry.md
  .github/workflows/proxyd.yml
  go/proxyd/Makefile
  go/proxyd/backend.go
  go/proxyd/cache.go
  go/proxyd/cmd/proxyd/main.go
  go/proxyd/config.go
  go/proxyd/go.mod
  go/proxyd/go.sum
  go/proxyd/integration_tests/caching_test.go
  go/proxyd/integration_tests/failover_test.go
  go/proxyd/integration_tests/mock_backend_test.go
  go/proxyd/integration_tests/rate_limit_test.go
  go/proxyd/integration_tests/testdata/caching.toml
  go/proxyd/integration_tests/testdata/failover.toml
  go/proxyd/integration_tests/testdata/out_of_service_interval.toml
  go/proxyd/integration_tests/testdata/rate_limit.toml
  go/proxyd/integration_tests/testdata/retries.toml
  go/proxyd/integration_tests/testdata/whitelist.toml
  go/proxyd/integration_tests/util_test.go
  go/proxyd/integration_tests/validation_test.go
  go/proxyd/metrics.go
  go/proxyd/proxyd.go
  go/proxyd/rpc.go
  go/proxyd/server.go
Labels: 2-reviewers, M-ci

#2022 test: use hardhat-ethers for importing factories in integration tests
  .changeset/spicy-kiwis-double.md
  integration-tests/actor-tests/state-dos.test.ts
  integration-tests/test/basic-l1-l2-communication.spec.ts
  integration-tests/test/rpc.spec.ts
  integration-tests/test/stress-tests.spec.ts
Labels: M-integration

#2040 l2geth: fix monotonicity logging bug
  .changeset/warm-ears-float.md
  l2geth/rollup/sync_service.go
Labels: 2-reviewers, M-l2geth

#2030 integration-tests: Changes to make it work with live networks again
  .changeset/early-hairs-smash.md
  .circleci/config.yml
  integration-tests/.env.example
  integration-tests/hardhat.config.ts
  integration-tests/package.json
  integration-tests/test/basic-l1-l2-communication.spec.ts
  integration-tests/test/bridged-tokens.spec.ts
  integration-tests/test/fee-payment.spec.ts
  integration-tests/test/native-eth-ovm-calls.spec.ts
  integration-tests/test/native-eth.spec.ts
  integration-tests/test/ovmcontext.spec.ts
  integration-tests/test/queue-ingestion.spec.ts
  integration-tests/test/replica.spec.ts
  integration-tests/test/rpc.spec.ts
  integration-tests/test/setup-docker-compose-network.ts
  integration-tests/test/shared/docker-compose.ts
  integration-tests/test/shared/env.ts
  integration-tests/test/shared/stress-test-helpers.ts
  integration-tests/test/shared/utils.ts
  integration-tests/test/stress-tests.spec.ts
  yarn.lock
Labels: M-integration

#2048 l2geth: Add commands to initialize from a URL, and dump the current chainstate
  .changeset/thick-toes-poke.md
  l2geth/cmd/geth/chaincmd.go
  l2geth/cmd/geth/chaincmd_test.go
  l2geth/cmd/geth/main.go
  l2geth/cmd/geth/testdata/init.json
Labels: 2-reviewers, M-l2geth

#2063 l2geth: better error message for proxying user txs
  .changeset/happy-lions-divide.md
  l2geth/internal/ethapi/api.go
Labels: 2-reviewers, M-l2geth

#2056 maintenance: improved docstrings for BCFG
  .changeset/dirty-emus-guess.md
  packages/core-utils/src/bcfg.ts
Labels: M-core-utils

#2057 maintenance: clean up typings in core utils
  .changeset/three-bottles-marry.md
  packages/core-utils/src/coders/index.ts
  packages/core-utils/src/index.ts
  packages/core-utils/src/types/basic.ts
  packages/core-utils/src/types/bcfg.ts
  packages/core-utils/src/types/geth.ts
  packages/core-utils/src/types/index.ts
  packages/core-utils/src/types/rollup.ts
Labels: M-core-utils

#2060 go/batch-submitter: Add releases for go BSS
  .changeset/tough-readers-grab.md
  .github/workflows/publish-canary.yml
  .github/workflows/release.yml
Labels: 2-reviewers, M-ci

#2065 go/proxyd: Add additional itests for cache, changeset
  .changeset/moody-bottles-decide.md
  .github/workflows/proxyd.yml
  go/proxyd/integration_tests/caching_test.go
  go/proxyd/integration_tests/mock_backend_test.go
  go/proxyd/integration_tests/testdata/caching.toml
  go/proxyd/rpc_test.go
Labels: 2-reviewers, M-ci

#2070 l2geth: fix nonce issue
  .changeset/six-actors-attend.md
  l2geth/core/state_transition.go
Labels: 2-reviewers, M-l2geth

#1903 Update README.md
  ops/README.md
Labels: M-ops, 2-reviewers

#2073 Develop -> Master Release PR
  .changeset/curly-candles-pretend.md
  .changeset/dirty-emus-guess.md
  .changeset/early-hairs-smash.md
  .changeset/fuzzy-rivers-double.md
  .changeset/happy-lions-divide.md
  .changeset/moody-bottles-decide.md
  .changeset/silent-kids-sing.md
  .changeset/six-actors-attend.md
  .changeset/spicy-kiwis-double.md
  .changeset/thick-toes-poke.md
  .changeset/three-bottles-marry.md
  .changeset/tidy-items-confess.md
  .changeset/tough-readers-grab.md
  .changeset/warm-ears-float.md
  .changeset/wicked-foxes-cry.md
  go/batch-submitter/CHANGELOG.md
  go/batch-submitter/package.json
  go/proxyd/CHANGELOG.md
  go/proxyd/package.json
  integration-tests/CHANGELOG.md
  integration-tests/package.json
  l2geth/CHANGELOG.md
  l2geth/package.json
  packages/batch-submitter/CHANGELOG.md
  packages/batch-submitter/package.json
  packages/contracts/CHANGELOG.md
  packages/contracts/package.json
  packages/core-utils/CHANGELOG.md
  packages/core-utils/package.json
  packages/data-transport-layer/CHANGELOG.md
  packages/data-transport-layer/package.json
  packages/message-relayer/CHANGELOG.md
  packages/message-relayer/package.json
  packages/regenesis-surgery/package.json
  packages/replica-healthcheck/CHANGELOG.md
  packages/replica-healthcheck/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Labels: M-batch-submitter, M-core-utils, M-dtl, M-contracts, 2-reviewers, M-l2geth, M-integration

#2084 fix(contracts): remove broken link in README
  packages/contracts/README.md
Labels: M-contracts, 2-reviewers

#2080 batch-submitter: import performance
  .changeset/spicy-squids-serve.md
  packages/batch-submitter/src/batch-submitter/state-batch-submitter.ts
  packages/batch-submitter/src/batch-submitter/tx-batch-submitter.ts
Labels: M-batch-submitter, 2-reviewers

#2074 ci: update version of changesets
  .github/workflows/publish-canary.yml
  .github/workflows/release.yml
Labels: 2-reviewers, M-ci

#2075 ci: decouple rpc-proxy publishing from l2geth
  .github/workflows/release.yml
Labels: 2-reviewers, M-ci

#2085 test/docs: Improve docstrings and tests for utils in hex-strings.ts
  .changeset/gentle-beds-give.md
  packages/core-utils/src/common/hex-strings.ts
  packages/core-utils/test/hex-utils.spec.ts
Labels: M-core-utils

#2094 Revert "l2geth: berlin hardfork"
  .changeset/early-baboons-look.md
  .changeset/many-cougars-scream.md
  .changeset/smooth-points-appear.md
  integration-tests/contracts/Precompiles.sol
  integration-tests/contracts/SelfDestruction.sol
  integration-tests/hardhat.config.ts
  integration-tests/tasks/check-block-hashes.ts
  integration-tests/test/env-specific/nightly.spec.ts
  integration-tests/test/hardfork.spec.ts
  integration-tests/test/rpc.spec.ts
  integration-tests/test/shared/utils.ts
  l2geth/accounts/abi/bind/backends/simulated.go
  l2geth/core/evm.go
  l2geth/core/state/access_list.go
  l2geth/core/state/journal.go
  l2geth/core/state/statedb.go
  l2geth/core/state/statedb_test.go
  l2geth/core/state_transition.go
  l2geth/core/types/access_list_tx.go
  l2geth/core/types/transaction.go
  l2geth/core/vm/contracts.go
  l2geth/core/vm/eips.go
  l2geth/core/vm/errors.go
  l2geth/core/vm/evm.go
  l2geth/core/vm/interface.go
  l2geth/core/vm/interpreter.go
  l2geth/core/vm/jump_table.go
  l2geth/core/vm/logger.go
  l2geth/core/vm/operations_acl.go
  l2geth/core/vm/operations_acl_optimism.go
  l2geth/core/vm/runtime/runtime.go
  l2geth/core/vm/runtime/runtime_test.go
  l2geth/eth/api_backend.go
  l2geth/eth/api_tracer.go
  l2geth/interfaces.go
  l2geth/internal/ethapi/api.go
  l2geth/internal/ethapi/backend.go
  l2geth/les/api_backend.go
  l2geth/params/config.go
  l2geth/params/protocol_params.go
  l2geth/scripts/init.sh
  l2geth/scripts/start.sh
  l2geth/tests/state_test_util.go
  packages/contracts/bin/take-dump.ts
  packages/contracts/src/make-genesis.ts
Labels: M-contracts, 2-reviewers, M-l2geth, M-integration

#2093 fix(bss): have BSS correctly create new contexts
  .changeset/shaggy-stingrays-compare.md
  packages/batch-submitter/src/batch-submitter/tx-batch-submitter.ts
Labels: M-batch-submitter, 2-reviewers

#2096 Develop -> Master PR
  .changeset/gentle-beds-give.md
  .changeset/shaggy-stingrays-compare.md
  .changeset/slimy-sheep-smell.md
  .changeset/spicy-squids-serve.md
  .github/workflows/publish-canary.yml
  .github/workflows/release.yml
  go/proxyd/server.go
  packages/batch-submitter/src/batch-submitter/state-batch-submitter.ts
  packages/batch-submitter/src/batch-submitter/tx-batch-submitter.ts
  packages/contracts/README.md
  packages/core-utils/src/common/hex-strings.ts
  packages/core-utils/test/hex-utils.spec.ts
  packages/sdk/src/cross-chain-messenger.ts
  packages/sdk/src/cross-chain-provider.ts
  packages/sdk/src/index.ts
  packages/sdk/src/interfaces/cross-chain-erc20-pair.ts
  packages/sdk/src/interfaces/cross-chain-messenger.ts
  packages/sdk/src/interfaces/cross-chain-provider.ts
  packages/sdk/src/interfaces/types.ts
  packages/sdk/test/contracts/MockBridge.sol
  packages/sdk/test/contracts/MockMessenger.sol
  packages/sdk/test/contracts/MockSCC.sol
  packages/sdk/test/cross-chain-messenger.spec.ts
  packages/sdk/test/cross-chain-provider.spec.ts
  packages/sdk/test/helpers/constants.ts
  packages/sdk/test/helpers/index.ts
Labels: M-batch-submitter, M-core-utils, M-contracts, 2-reviewers, M-ci

#2099 Develop -> Master PR
  .changeset/gentle-beds-give.md
  .changeset/shaggy-stingrays-compare.md
  .changeset/slimy-sheep-smell.md
  .changeset/spicy-squids-serve.md
  go/proxyd/CHANGELOG.md
  go/proxyd/package.json
  integration-tests/package.json
  packages/batch-submitter/CHANGELOG.md
  packages/batch-submitter/package.json
  packages/contracts/CHANGELOG.md
  packages/contracts/package.json
  packages/core-utils/CHANGELOG.md
  packages/core-utils/package.json
  packages/data-transport-layer/CHANGELOG.md
  packages/data-transport-layer/package.json
  packages/message-relayer/CHANGELOG.md
  packages/message-relayer/package.json
  packages/regenesis-surgery/package.json
  packages/replica-healthcheck/CHANGELOG.md
  packages/replica-healthcheck/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Labels: M-batch-submitter, M-core-utils, M-dtl, M-contracts, 2-reviewers, M-integration

#2100 test: improve test coverage for aliasing
  packages/core-utils/test/alias.spec.ts
Labels: M-core-utils

#2078 go/batch-submitter: HTTP/2 fixes
  .changeset/empty-coats-beam.md
  go/batch-submitter/batch_submitter.go
  go/batch-submitter/config.go
  go/batch-submitter/flags/flags.go
  ops/docker/Dockerfile.batch-submitter-service
Labels: M-ops, 2-reviewers

#2104 Develop -> Master PR
  .changeset/early-baboons-look.md
  .changeset/empty-coats-beam.md
  .changeset/many-cougars-scream.md
  .changeset/serious-pets-fly.md
  .changeset/smooth-points-appear.md
  go/batch-submitter/CHANGELOG.md
  go/batch-submitter/package.json
  integration-tests/CHANGELOG.md
  integration-tests/package.json
  l2geth/CHANGELOG.md
  l2geth/package.json
  packages/batch-submitter/CHANGELOG.md
  packages/batch-submitter/package.json
  packages/contracts/CHANGELOG.md
  packages/contracts/package.json
  packages/data-transport-layer/CHANGELOG.md
  packages/data-transport-layer/package.json
  packages/message-relayer/CHANGELOG.md
  packages/message-relayer/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Labels: M-batch-submitter, M-dtl, M-contracts, 2-reviewers, M-l2geth, M-integration
