Repository ethereum-optimism/optimism, pull requests merged in 2022-07, with the labels that each got.

#2912 ops-bedrock: delete dead config
  ops-bedrock/rollup.json
Labels: on-merge-train

#2917 feat(ctb): use ERC721Enumerable for standard token
  packages/contracts-periphery/contracts/L1/messaging/L1ERC721Bridge.sol
  packages/contracts-periphery/contracts/L2/messaging/L2ERC721Bridge.sol
  packages/contracts-periphery/contracts/universal/op-erc721/IOptimismMintableERC721.sol
  packages/contracts-periphery/contracts/universal/op-erc721/OptimismMintableERC721.sol
  packages/contracts-periphery/test/contracts/L2/messaging/L2ERC721Bridge.spec.ts
Labels: 2-reviewers, on-merge-train, M-contracts-periphery

#2915 bedrock: check L1 origin changes when sequencing new blocks
  op-node/rollup/driver/step.go
Labels: on-merge-train

#2920 fix(ctp): remove reinitialization from ERC721 fact
  packages/contracts-periphery/contracts/L1/messaging/L1ERC721Bridge.sol
  packages/contracts-periphery/contracts/L2/messaging/L2ERC721Bridge.sol
  packages/contracts-periphery/contracts/universal/Semver.sol
  packages/contracts-periphery/contracts/universal/op-erc721/OptimismMintableERC721Factory.sol
Labels: 2-reviewers, M-contracts-periphery

#2914 devnet: Get devnet running
  op-batcher/batch_submitter.go
  packages/contracts-bedrock/README.md
  packages/contracts-bedrock/deploy-config/devnetL1.ts
  packages/contracts-bedrock/deploy-config/goerli.ts
  packages/contracts-bedrock/deploy-config/hardhat.ts
  packages/contracts-bedrock/deploy/000-L2OutputOracle.deploy.ts
  packages/contracts-bedrock/deployments/goerli/.chainId
  packages/contracts-bedrock/deployments/goerli/L1CrossDomainMessenger.json
  packages/contracts-bedrock/deployments/goerli/L1CrossDomainMessengerProxy.json
  packages/contracts-bedrock/deployments/goerli/L1StandardBridge.json
  packages/contracts-bedrock/deployments/goerli/L1StandardBridgeProxy.json
  packages/contracts-bedrock/deployments/goerli/L2OutputOracle.json
  packages/contracts-bedrock/deployments/goerli/L2OutputOracleProxy.json
  packages/contracts-bedrock/deployments/goerli/OptimismMintableTokenFactory.json
  packages/contracts-bedrock/deployments/goerli/OptimismMintableTokenFactoryProxy.json
  packages/contracts-bedrock/deployments/goerli/OptimismPortal.json
  packages/contracts-bedrock/deployments/goerli/OptimismPortalProxy.json
  packages/contracts-bedrock/deployments/goerli/solcInputs/6658e3fd5601f689e56bcac3b135b23e.json
  packages/contracts-bedrock/hardhat.config.ts
  packages/contracts-bedrock/package.json
  packages/contracts-bedrock/tasks/genesis-l2.ts
  packages/contracts-bedrock/tasks/rekey.ts
  packages/contracts-bedrock/tasks/rollup-config.ts
  yarn.lock
Labels: on-merge-train

#2899 test(ctb): unskip testCannot_AppendWithUnmatchedBlockhash
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/test/L2OutputOracle.t.sol
Labels: on-merge-train

#2921 feat(ctp): commit upgrade artifacts
  packages/contracts-periphery/deployments/kovan/L1ERC721Bridge.json
  packages/contracts-periphery/deployments/kovan/solcInputs/c6fd6c61d1988656e270189e3651a1e1.json
  packages/contracts-periphery/deployments/optimism-kovan/L2ERC721Bridge.json
  packages/contracts-periphery/deployments/optimism-kovan/OptimismMintableERC721Factory.json
  packages/contracts-periphery/deployments/optimism-kovan/solcInputs/c6fd6c61d1988656e270189e3651a1e1.json
Labels: 2-reviewers, M-contracts-periphery

#2927 fix(ctb): attribute LibRLP
  packages/contracts-bedrock/contracts/test/Lib_RLP.t.sol
Labels: on-merge-train

#2900 chore: Add yarn-deduplicate script to deduplicate along with github action
  .changeset/yellow-maps-clap.md
  .github/workflows/yarn-dedupe.yml
  package.json
  yarn.lock
Labels: 2-reviewers, on-merge-train

#2933 fix: Run yarn dedupe
  yarn.lock
Labels: on-merge-train

#2931 CI: Add go mod tidy check
  .circleci/config.yml
  go.work.sum
  op-batcher/go.mod
  op-batcher/go.sum
  op-e2e/go.mod
  op-e2e/go.sum
  op-node/go.mod
  op-node/go.sum
  op-node/rollup/derive/calldata_source_test.go
  op-proposer/go.mod
  op-proposer/go.sum
Labels: on-merge-train

#2929 contracts-bedrock: delete unused import
  packages/contracts-bedrock/contracts/test/OptimismMintableERC20.t.sol
Labels: on-merge-train

#2932 Fix leaky timer.After
  bss-core/service.go
Labels: on-merge-train

#2924 style(ctb): move external contracts to vendor dir
  .changeset/nasty-moons-rush.md
  packages/contracts-bedrock/.prettierignore
  packages/contracts-bedrock/.solhintignore
  packages/contracts-bedrock/.storage-layout
  packages/contracts-bedrock/contracts/L1/OptimismPortal.sol
  packages/contracts-bedrock/contracts/L2/L2CrossDomainMessenger.sol
  packages/contracts-bedrock/contracts/test/CommonTest.t.sol
  packages/contracts-bedrock/contracts/test/L1CrossDomainMessenger.t.sol
  packages/contracts-bedrock/contracts/test/L1StandardBridge.t.sol
  packages/contracts-bedrock/contracts/test/L2CrossDomainMessenger.t.sol
  packages/contracts-bedrock/contracts/test/OptimismPortal.t.sol
  packages/contracts-bedrock/contracts/vendor/AddressAliasHelper.sol
  packages/contracts-bedrock/contracts/vendor/WETH9.sol
Labels: on-merge-train

#2940 fix(ctb): universal contract comments/errs/events
  .changeset/gorgeous-buses-switch.md
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/test/OptimismMintableERC20.t.sol
  packages/contracts-bedrock/contracts/test/OptimismMintableTokenFactory.t.sol
  packages/contracts-bedrock/contracts/test/Proxy.t.sol
  packages/contracts-bedrock/contracts/universal/CrossDomainMessenger.sol
  packages/contracts-bedrock/contracts/universal/OptimismMintableERC20.sol
  packages/contracts-bedrock/contracts/universal/OptimismMintableTokenFactory.sol
  packages/contracts-bedrock/contracts/universal/Proxy.sol
  packages/contracts-bedrock/contracts/universal/ProxyAdmin.sol
  packages/contracts-bedrock/contracts/universal/StandardBridge.sol
  packages/contracts-bedrock/contracts/universal/SupportedInterfaces.sol
Labels: on-merge-train

#2901 Proxies and Gas benchmark tests
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/test/BenchmarkTest.t.sol
  packages/contracts-bedrock/contracts/test/CommonTest.t.sol
  packages/contracts-bedrock/contracts/test/L2OutputOracle.t.sol
  packages/contracts-bedrock/contracts/test/OptimismPortal.t.sol
Labels: on-merge-train

#2943 fix(ci): add bedrock contracts to PR labeler
  .github/labeler.yml
Labels: 2-reviewers, on-merge-train

#2934 contracts-bedrock: nohoist the smart contract deps
  package.json
Labels: on-merge-train

#2944 contracts-bedrock: fix typechain
  .changeset/yellow-readers-vanish.md
  packages/contracts-bedrock/hardhat.config.ts
  packages/contracts-bedrock/package.json
  yarn.lock
Labels: 2-reviewers, M-contracts-bedrock

#2946 docker: add ethereumoptimism/foundry docker image
  .changeset/big-scissors-remain.md
  .github/workflows/release.yml
  ops/docker/foundry/Dockerfile
  ops/docker/foundry/package.json
  package.json
Labels: M-ops, 2-reviewers, on-merge-train

#2948 ops: build with ethereumoptimism/foundry:latest
  .changeset/empty-pigs-argue.md
  ops/docker/Dockerfile.packages
  ops/docker/ci-builder/Dockerfile
Labels: M-ops, 2-reviewers

#2947 contracts-bedrock: speed up compilation time
  packages/contracts-bedrock/hardhat.config.ts
  packages/contracts-bedrock/package.json
  yarn.lock
Labels: 2-reviewers, M-contracts-bedrock

#2937 deps: bump forge-std to 62caef29b0f87a2c6aaaf634b2ca4c09b6867c92
  .changeset/sixty-turkeys-press.md
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/package.json
  packages/contracts-periphery/package.json
  yarn.lock
Labels: 2-reviewers, M-contracts-periphery, M-contracts-bedrock

#2949 ops: use alpine:3.14 with foundry image
  .changeset/rude-ads-try.md
  ops/docker/Dockerfile.packages
  ops/docker/foundry/Dockerfile
  packages/contracts/hardhat.config.ts
Labels: M-ops, M-contracts, 2-reviewers

#2938 contracts-bedrock: add tests for rlp-reader
  .changeset/sharp-apes-fold.md
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/test/Lib_RLPReader.t.sol
Labels: 2-reviewers, on-merge-train, M-contracts-bedrock

#2839 contracts-bedrock: fix some compiler warnings
  .changeset/nice-meals-visit.md
  op-bindings/bindings/gaspriceoracle.go
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/L1/L1StandardBridge.sol
  packages/contracts-bedrock/contracts/L2/GasPriceOracle.sol
  packages/contracts-bedrock/contracts/L2/L2CrossDomainMessenger.sol
  packages/contracts-bedrock/contracts/libraries/Burn.sol
Labels: 2-reviewers, on-merge-train, M-contracts-bedrock

#2923 style(ctb): remove Lib_ and OVM_ prefixes
  .changeset/violet-rules-know.md
  op-bindings/Makefile
  op-bindings/bindings/addressmanager.go
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/.storage-layout
  packages/contracts-bedrock/contracts/L1/L1CrossDomainMessenger.sol
  packages/contracts-bedrock/contracts/L1/L1StandardBridge.sol
  packages/contracts-bedrock/contracts/L1/OptimismPortal.sol
  packages/contracts-bedrock/contracts/L2/GasPriceOracle.sol
  packages/contracts-bedrock/contracts/L2/L1BlockNumber.sol
  packages/contracts-bedrock/contracts/L2/L2CrossDomainMessenger.sol
  packages/contracts-bedrock/contracts/L2/L2StandardBridge.sol
  packages/contracts-bedrock/contracts/L2/L2ToL1MessagePasser.sol
  packages/contracts-bedrock/contracts/L2/SequencerFeeVault.sol
  packages/contracts-bedrock/contracts/legacy/AddressManager.sol
  packages/contracts-bedrock/contracts/legacy/AddressResolver.sol
  packages/contracts-bedrock/contracts/legacy/LegacyERC20ETH.sol
  packages/contracts-bedrock/contracts/legacy/ResolvedDelegateProxy.sol
  packages/contracts-bedrock/contracts/libraries/BytesUtils.sol
  packages/contracts-bedrock/contracts/libraries/CrossDomainHashing.sol
  packages/contracts-bedrock/contracts/libraries/CrossDomainUtils.sol
  packages/contracts-bedrock/contracts/libraries/DefaultValues.sol
  packages/contracts-bedrock/contracts/libraries/PredeployAddresses.sol
  packages/contracts-bedrock/contracts/libraries/WithdrawalVerifier.sol
  packages/contracts-bedrock/contracts/libraries/rlp/RLPReader.sol
  packages/contracts-bedrock/contracts/libraries/rlp/RLPWriter.sol
  packages/contracts-bedrock/contracts/libraries/trie/MerkleTrie.sol
  packages/contracts-bedrock/contracts/libraries/trie/SecureMerkleTrie.sol
  packages/contracts-bedrock/contracts/test/CommonTest.t.sol
  packages/contracts-bedrock/contracts/test/CrossDomainHashing.t.sol
  packages/contracts-bedrock/contracts/test/GasPriceOracle.t.sol
  packages/contracts-bedrock/contracts/test/L1BlockNumber.t.sol
  packages/contracts-bedrock/contracts/test/L1CrossDomainMessenger.t.sol
  packages/contracts-bedrock/contracts/test/L1StandardBridge.t.sol
  packages/contracts-bedrock/contracts/test/L2CrossDomainMessenger.t.sol
  packages/contracts-bedrock/contracts/test/L2StandardBridge.t.sol
  packages/contracts-bedrock/contracts/test/L2ToL1MessagePasser.t.sol
  packages/contracts-bedrock/contracts/test/LegacyERC20ETH.t.sol
  packages/contracts-bedrock/contracts/test/Lib_RLPReader.t.sol
  packages/contracts-bedrock/contracts/test/OptimismMintableTokenFactory.t.sol
  packages/contracts-bedrock/contracts/test/OptimismPortal.t.sol
  packages/contracts-bedrock/contracts/test/ProxyAdmin.t.sol
  packages/contracts-bedrock/contracts/test/RLP.t.sol
  packages/contracts-bedrock/contracts/test/RLPReader.t.sol
  packages/contracts-bedrock/contracts/test/SequencerFeeVault.t.sol
  packages/contracts-bedrock/contracts/universal/CrossDomainMessenger.sol
  packages/contracts-bedrock/contracts/universal/OptimismMintableTokenFactory.sol
  packages/contracts-bedrock/contracts/universal/ProxyAdmin.sol
  packages/contracts-bedrock/scripts/storage-snapshot.sh
  packages/contracts-bedrock/src/constants.ts
  packages/contracts-bedrock/tasks/genesis-l2.ts
Labels: 2-reviewers, on-merge-train, M-contracts-bedrock

#2952 fix(ctb): solc warnings in ProxyAdmin.sol
  .changeset/fresh-pugs-remain.md
  packages/contracts-bedrock/contracts/test/ProxyAdmin.t.sol
  packages/contracts-bedrock/contracts/universal/ProxyAdmin.sol
Labels: 2-reviewers, on-merge-train, M-contracts-bedrock

#2955 ci: Fix indexer tests, make them depend on op-bindings
  .changeset/sixty-lizards-cough.md
  .circleci/config.yml
  indexer/services/l1/bridge/addresses.go
Labels: on-merge-train

#2956 Op Node: Fix one reorg bug
  op-node/rollup/driver/state.go
  packages/contracts-bedrock/deploy-config/devnetL1.ts
Labels: 2-reviewers, on-merge-train, M-contracts-bedrock

#2953 style(ctb): clean up legacy comments and errs
  .changeset/lazy-kiwis-jog.md
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/L1/L2OutputOracle.sol
  packages/contracts-bedrock/contracts/L1/OptimismPortal.sol
  packages/contracts-bedrock/contracts/L2/L1Block.sol
  packages/contracts-bedrock/contracts/L2/L1BlockNumber.sol
  packages/contracts-bedrock/contracts/L2/SequencerFeeVault.sol
  packages/contracts-bedrock/contracts/legacy/AddressManager.sol
  packages/contracts-bedrock/contracts/legacy/AddressResolver.sol
  packages/contracts-bedrock/contracts/legacy/L1ChugSplashProxy.sol
  packages/contracts-bedrock/contracts/legacy/LegacyERC20ETH.sol
  packages/contracts-bedrock/contracts/legacy/ResolvedDelegateProxy.sol
  packages/contracts-bedrock/contracts/libraries/Burn.sol
  packages/contracts-bedrock/contracts/test/CommonTest.t.sol
  packages/contracts-bedrock/contracts/test/ProxyAdmin.t.sol
Labels: 2-reviewers, on-merge-train, M-contracts-bedrock

#2950 fix(ctb): rename token factory to erc20 factory
  .changeset/perfect-emus-perform.md
  op-bindings/predeploys/addresses.go
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/.storage-layout
  packages/contracts-bedrock/contracts/test/CommonTest.t.sol
  packages/contracts-bedrock/contracts/test/OptimismMintableERC20Factory.t.sol
  packages/contracts-bedrock/contracts/universal/OptimismMintableERC20Factory.sol
  packages/contracts-bedrock/deploy/004-OptimismMintableTokenFactory.ts
  packages/contracts-bedrock/scripts/storage-snapshot.sh
  packages/contracts-bedrock/src/constants.ts
  packages/contracts-bedrock/tasks/genesis-l2.ts
  specs/bridges.md
  specs/predeploys.md
Labels: 2-reviewers, on-merge-train, M-contracts-bedrock

#2910 op-node: clip derivation reset to not go past L1 genesis
  op-node/rollup/derive/batch_queue.go
  op-node/rollup/derive/channel_bank.go
Labels: on-merge-train

#2961 fix(ctb): remove DefaultValues
  .changeset/friendly-donuts-kiss.md
  packages/contracts-bedrock/contracts/libraries/DefaultValues.sol
  packages/contracts-bedrock/contracts/test/L1CrossDomainMessenger.t.sol
  packages/contracts-bedrock/contracts/test/L2CrossDomainMessenger.t.sol
  packages/contracts-bedrock/contracts/universal/CrossDomainMessenger.sol
Labels: 2-reviewers, on-merge-train, M-contracts-bedrock

#2951 fix(ctb): solc warnings in Proxy.sol
  .changeset/spotty-wombats-fetch.md
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/universal/Proxy.sol
Labels: 2-reviewers, on-merge-train, M-contracts-bedrock

#2942 feat(ctb): clean up initialization logic
  .changeset/olive-tigers-build.md
  op-bindings/bindings/l2outputoracle.go
  op-bindings/bindings/optimismportal.go
  op-bindings/bindings/optimismportal_deployed.go
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/.storage-layout
  packages/contracts-bedrock/contracts/L1/L1CrossDomainMessenger.sol
  packages/contracts-bedrock/contracts/L1/L1StandardBridge.sol
  packages/contracts-bedrock/contracts/L1/L2OutputOracle.sol
  packages/contracts-bedrock/contracts/L1/OptimismPortal.sol
  packages/contracts-bedrock/contracts/L2/L2CrossDomainMessenger.sol
  packages/contracts-bedrock/contracts/L2/L2StandardBridge.sol
  packages/contracts-bedrock/contracts/test/CommonTest.t.sol
  packages/contracts-bedrock/contracts/test/OptimismMintableERC20Factory.t.sol
  packages/contracts-bedrock/contracts/universal/CrossDomainMessenger.sol
  packages/contracts-bedrock/contracts/universal/OptimismMintableERC20Factory.sol
  packages/contracts-bedrock/contracts/universal/StandardBridge.sol
  packages/contracts-bedrock/deploy/002-L1CrossDomainMessenger.ts
  packages/contracts-bedrock/deploy/004-OptimismMintableTokenFactory.ts
  packages/contracts-bedrock/tasks/genesis-l2.ts
Labels: 2-reviewers, on-merge-train, M-contracts-bedrock

#2966 ci: Fix check-changed error code
  .circleci/config.yml
  ops/docker/ci-builder/check-changed.sh
Labels: M-ops, 2-reviewers, on-merge-train

#2972 style(ctb): clean up enums
  .changeset/little-needles-enjoy.md
  packages/contracts-bedrock/contracts/libraries/trie/MerkleTrie.sol
  packages/contracts-bedrock/contracts/test/ProxyAdmin.t.sol
  packages/contracts-bedrock/contracts/universal/ProxyAdmin.sol
Labels: 2-reviewers, on-merge-train, M-contracts-bedrock

#2970 contracts-bedrock: less compiler warnings
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/test/RLPReader.t.sol
Labels: 2-reviewers, on-merge-train, M-contracts-bedrock

#2974 style(ctb): refactor Hashing and Encoding libs
  .changeset/breezy-books-remember.md
  op-bindings/bindings/optimismportal.go
  op-node/withdrawals/utils.go
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/L1/OptimismPortal.sol
  packages/contracts-bedrock/contracts/L2/L2ToL1MessagePasser.sol
  packages/contracts-bedrock/contracts/libraries/CrossDomainHashing.sol
  packages/contracts-bedrock/contracts/libraries/CrossDomainUtils.sol
  packages/contracts-bedrock/contracts/libraries/Encoding.sol
  packages/contracts-bedrock/contracts/libraries/Hashing.sol
  packages/contracts-bedrock/contracts/libraries/WithdrawalVerifier.sol
  packages/contracts-bedrock/contracts/test/Encoding.t.sol
  packages/contracts-bedrock/contracts/test/Hashing.t.sol
  packages/contracts-bedrock/contracts/test/L1CrossDomainMessenger.t.sol
  packages/contracts-bedrock/contracts/test/L2CrossDomainMessenger.t.sol
  packages/contracts-bedrock/contracts/test/L2ToL1MessagePasser.t.sol
  packages/contracts-bedrock/contracts/test/OptimismPortal.t.sol
  packages/contracts-bedrock/contracts/universal/CrossDomainMessenger.sol
Labels: 2-reviewers, on-merge-train, M-contracts-bedrock

#2945 contracts-bedrock: port RLPWriter tests
  .changeset/empty-nails-talk.md
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/test/RLPWriter.t.sol
Labels: 2-reviewers, on-merge-train, M-contracts-bedrock

#2982 op-node: testnet fixes - sanity check L2 block after block derivation reset
  op-node/rollup/derive/attributes_queue.go
  op-node/rollup/derive/engine_queue.go
Labels: on-merge-train

#2986 ops-bedrock: move docker files into their module dirs
  op-batcher/Dockerfile
  op-batcher/docker.go.work
  op-node/Dockerfile
  op-node/docker.go.work
  op-proposer/Dockerfile
  op-proposer/docker.go.work
  ops-bedrock/docker-compose.yml
Labels: on-merge-train

#2992 ci: print slither version before running
  .circleci/config.yml
Labels: on-merge-train

#2985 feat(ctp): move Teleportr contracts to periphery
  .changeset/happy-dodos-reply.md
  integration-tests/test/nft-bridge.spec.ts
  packages/contracts-periphery/contracts/L1/L1ERC721Bridge.sol
  packages/contracts-periphery/contracts/L1/TeleportrDeposit.sol
  packages/contracts-periphery/contracts/L2/L2ERC721Bridge.sol
  packages/contracts-periphery/contracts/L2/TeleportrDisburser.sol
  packages/contracts-periphery/contracts/testing/helpers/FailingReceiver.sol
  packages/contracts-periphery/test/contracts/L1/L1ERC721Bridge.spec.ts
  packages/contracts-periphery/test/contracts/L1/TeleportrDeposit.spec.ts
  packages/contracts-periphery/test/contracts/L2/L2ERC721Bridge.spec.ts
  packages/contracts-periphery/test/contracts/L2/TeleportrDisburser.spec.ts
  packages/contracts-periphery/test/helpers/constants.ts
  packages/contracts-periphery/test/helpers/index.ts
Labels: 2-reviewers, M-integration, on-merge-train, M-contracts-periphery

#2983 style(ctb): clean up hashing and encoding libs
  .changeset/curvy-numbers-shake.md
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/.storage-layout
  packages/contracts-bedrock/contracts/L1/OptimismPortal.sol
  packages/contracts-bedrock/contracts/L2/L2ToL1MessagePasser.sol
  packages/contracts-bedrock/contracts/libraries/Encoding.sol
  packages/contracts-bedrock/contracts/libraries/Hashing.sol
  packages/contracts-bedrock/contracts/test/Encoding.t.sol
  packages/contracts-bedrock/contracts/test/Hashing.t.sol
  packages/contracts-bedrock/contracts/test/L1CrossDomainMessenger.t.sol
  packages/contracts-bedrock/contracts/test/L2CrossDomainMessenger.t.sol
  packages/contracts-bedrock/contracts/test/L2ToL1MessagePasser.t.sol
  packages/contracts-bedrock/contracts/universal/CrossDomainMessenger.sol
Labels: 2-reviewers, on-merge-train, M-contracts-bedrock

#2987 contracts-periphery: add typechain
  .changeset/famous-schools-argue.md
  packages/contracts-periphery/.depcheckrc
  packages/contracts-periphery/hardhat.config.ts
  packages/contracts-periphery/package.json
  yarn.lock
Labels: 2-reviewers, on-merge-train, M-contracts-periphery

#2984 contracts: fix typechain packaging
  .changeset/lazy-ducks-reply.md
  .changeset/tasty-pugs-begin.md
  packages/contracts/package.json
  packages/data-transport-layer/src/services/l1-ingestion/handlers/sequencer-batch-appended.ts
  packages/data-transport-layer/src/services/l1-ingestion/handlers/state-batch-appended.ts
  packages/data-transport-layer/src/services/l1-ingestion/handlers/transaction-enqueued.ts
  yarn.lock
Labels: M-dtl, M-contracts, 2-reviewers, C-Protocol-Critical, on-merge-train

#2995 style(ctp): move TeleportrWithdrawer to L1 folder
  .changeset/shiny-dolls-hope.md
  packages/contracts-periphery/contracts/L1/TeleportrWithdrawer.sol
Labels: 2-reviewers, on-merge-train, M-contracts-periphery

#2994 style(ctp): clean up Drippie natspec
  .changeset/rare-trees-whisper.md
  packages/contracts-periphery/contracts/universal/AssetReceiver.sol
  packages/contracts-periphery/contracts/universal/Transactor.sol
  packages/contracts-periphery/contracts/universal/drippie/Drippie.sol
Labels: 2-reviewers, on-merge-train, M-contracts-periphery

#2973 style(ctb): clean up RLP lib natspec
  .changeset/lucky-parents-deliver.md
  packages/contracts-bedrock/contracts/libraries/rlp/RLPReader.sol
  packages/contracts-bedrock/contracts/libraries/rlp/RLPWriter.sol
Labels: 2-reviewers, on-merge-train, M-contracts-bedrock

#2989 contracts-governance: clean up the hardhat config
  .changeset/empty-eels-move.md
  packages/contracts-governance/hardhat.config.ts
  packages/contracts-governance/scripts/deploy-token.ts
  packages/contracts-governance/scripts/deposit.ts
Labels: on-merge-train

#2999 specs: fix markdown lint in meta spec doc
  specs/meta/versioning.md
Labels: on-merge-train

#2981 ci: move `op-bindings` check to own job
  .circleci/config.yml
  packages/contracts-bedrock/README.md
Labels: 2-reviewers, on-merge-train, M-contracts-bedrock

#2993 feat(sdk): update Goerli addresses
  .changeset/chatty-moles-grow.md
  packages/sdk/src/utils/contracts.ts
Labels: M-sdk, on-merge-train

#3004 ci: fix publishing of ci-builder
  .changeset/itchy-carpets-fail.md
  .github/workflows/release.yml
Labels: 2-reviewers, on-merge-train

#3007 ci: updates version of bash in ci-builder
  .changeset/slow-peaches-sit.md
  ops/docker/ci-builder/Dockerfile
Labels: M-ops, 2-reviewers, on-merge-train

#3009 Develop -> Master PR
  .changeset/chatty-moles-grow.md
  .changeset/itchy-carpets-fail.md
  .changeset/slow-peaches-sit.md
  .circleci/config.yml
  .github/workflows/release.yml
  ops/docker/ci-builder/Dockerfile
  packages/contracts-bedrock/README.md
  packages/sdk/src/utils/contracts.ts
Labels: M-ops, 2-reviewers, M-sdk, M-contracts-bedrock

#3015 ci: ci-builder fix
  .changeset/heavy-shoes-know.md
  .github/workflows/release.yml
Labels: 2-reviewers

#3016 Develop -> Master PR
  .changeset/heavy-shoes-know.md
  .github/workflows/release.yml
Labels: 2-reviewers

#2998 fix(ctb): minor L1 semver/init cleanup
  .changeset/new-weeks-compete.md
  op-bindings/bindings/optimismportal.go
  op-bindings/bindings/optimismportal_deployed.go
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/L1/L1StandardBridge.sol
  packages/contracts-bedrock/contracts/L1/OptimismPortal.sol
  packages/contracts-bedrock/contracts/L1/ResourceMetering.sol
  packages/contracts-bedrock/contracts/test/ResourceMetering.t.sol
Labels: 2-reviewers, on-merge-train, M-contracts-bedrock

#2925 op-node: unify verifier and sequencer payload attributes preparation
  op-node/rollup/derive/attributes.go
  op-node/rollup/derive/attributes_queue.go
  op-node/rollup/derive/attributes_queue_test.go
  op-node/rollup/derive/attributes_test.go
  op-node/rollup/derive/deposit_log_test.go
  op-node/rollup/derive/deposits.go
  op-node/rollup/driver/step.go
  op-node/testutils/mock_l1.go
Labels: on-merge-train

#3006 style(ctb): clean MerkleTrie and SecureMerkleTrie
  .changeset/few-mails-cough.md
  packages/contracts-bedrock/contracts/libraries/trie/MerkleTrie.sol
  packages/contracts-bedrock/contracts/libraries/trie/SecureMerkleTrie.sol
Labels: 2-reviewers, on-merge-train, M-contracts-bedrock

#2964 fix(ctb): clean up BytesUtils
  .changeset/beige-eggs-jog.md
  op-bindings/bindings/optimismportal.go
  op-bindings/bindings/optimismportal_deployed.go
  packages/contracts-bedrock/contracts/libraries/BytesUtils.sol
  packages/contracts-bedrock/contracts/libraries/trie/MerkleTrie.sol
Labels: 2-reviewers, on-merge-train, M-contracts-bedrock

#3012 chore(ctb): Remove some todos in messenger and portal
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/L1/OptimismPortal.sol
  packages/contracts-bedrock/contracts/L2/L2StandardBridge.sol
  packages/contracts-bedrock/contracts/test/L1CrossDomainMessenger.t.sol
  packages/contracts-bedrock/contracts/universal/CrossDomainMessenger.sol
  packages/contracts-bedrock/contracts/universal/StandardBridge.sol
Labels: 2-reviewers, on-merge-train, M-contracts-bedrock

#3027 fix(github): fix changesets workflow: run yarn, not uses yarn
  .github/workflows/changesets.yml
Labels: 2-reviewers, on-merge-train

#3024 fix(ctb): clear most linting warnings
  .changeset/serious-tigers-greet.md
  packages/contracts-bedrock/.solhint.json
  packages/contracts-bedrock/contracts/L1/L2OutputOracle.sol
  packages/contracts-bedrock/contracts/L1/OptimismPortal.sol
  packages/contracts-bedrock/contracts/L1/ResourceMetering.sol
  packages/contracts-bedrock/contracts/L2/L1BlockNumber.sol
  packages/contracts-bedrock/contracts/legacy/L1ChugSplashProxy.sol
  packages/contracts-bedrock/contracts/legacy/ResolvedDelegateProxy.sol
  packages/contracts-bedrock/contracts/test/CommonTest.t.sol
  packages/contracts-bedrock/contracts/universal/CrossDomainMessenger.sol
  packages/contracts-bedrock/contracts/universal/Semver.sol
  packages/contracts-bedrock/contracts/universal/StandardBridge.sol
Labels: 2-reviewers, on-merge-train, M-contracts-bedrock

#3014 ops: delete dead docker images
  .github/workflows/release.yml
  ops/docker/go-builder/CHANGELOG.md
  ops/docker/go-builder/Dockerfile
  ops/docker/go-builder/package.json
  ops/docker/js-builder/CHANGELOG.md
  ops/docker/js-builder/Dockerfile
  ops/docker/js-builder/package.json
Labels: M-ops, 2-reviewers

#3020 fix(ctb): clean up compiler warnings
  .changeset/lazy-seahorses-hug.md
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/legacy/LegacyERC20ETH.sol
  packages/contracts-bedrock/contracts/test/L1CrossDomainMessenger.t.sol
  packages/contracts-bedrock/contracts/test/L1StandardBridge.t.sol
  packages/contracts-bedrock/contracts/test/L2OutputOracle.t.sol
  packages/contracts-bedrock/contracts/test/L2StandardBridge.t.sol
  packages/contracts-bedrock/contracts/test/OptimismPortal.t.sol
  packages/contracts-bedrock/contracts/test/Proxy.t.sol
  packages/contracts-bedrock/contracts/test/ResourceMetering.t.sol
  packages/contracts-bedrock/contracts/test/SequencerFeeVault.t.sol
Labels: 2-reviewers, on-merge-train, M-contracts-bedrock

#2832 fix(fd): properly handle connection failures
  .changeset/wild-rivers-guess.md
  packages/fault-detector/src/service.ts
Labels: 2-reviewers, on-merge-train

#2996 op-node: simple rollup config endpoint
  op-e2e/system_test.go
  op-node/node/api.go
  op-node/node/config.go
  op-proposer/rollupclient/rollupclient.go
Labels: on-merge-train

#3030 ops: Fix unbound variable in check_changed script
  .changeset/funny-windows-hope.md
  ops/docker/ci-builder/check-changed.sh
Labels: M-ops, 2-reviewers, on-merge-train

#3023 fix(ctb): tweak XDM.baseGas
  .changeset/chilly-weeks-smile.md
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/test/L1CrossDomainMessenger.t.sol
  packages/contracts-bedrock/contracts/test/L2CrossDomainMessenger.t.sol
  packages/contracts-bedrock/contracts/universal/CrossDomainMessenger.sol
Labels: 2-reviewers, on-merge-train, M-contracts-bedrock

#3031 ci: bump foundry to 3c49efe58ca4bdeec4729490501da06914446405
  .changeset/big-mayflies-dress.md
  ops/docker/foundry/Dockerfile
Labels: M-ops, 2-reviewers, on-merge-train

#3035 Trigger Releases
  .changeset/beige-eggs-jog.md
  .changeset/big-mayflies-dress.md
  .changeset/chilly-weeks-smile.md
  .changeset/few-mails-cough.md
  .changeset/funny-windows-hope.md
  .changeset/lazy-seahorses-hug.md
  .changeset/new-weeks-compete.md
  .changeset/serious-tigers-greet.md
  .changeset/wild-rivers-guess.md
  ops/docker/ci-builder/CHANGELOG.md
  ops/docker/ci-builder/package.json
  ops/docker/foundry/CHANGELOG.md
  ops/docker/foundry/package.json
  packages/contracts-bedrock/CHANGELOG.md
  packages/contracts-bedrock/package.json
  packages/fault-detector/CHANGELOG.md
  packages/fault-detector/package.json
Labels: M-ops, 2-reviewers, M-contracts-bedrock

#2990 Naming improvements in Oracle
  .changeset/smart-kings-learn.md
  op-bindings/bindings/l2outputoracle.go
  op-proposer/drivers/l2output/driver.go
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/.storage-layout
  packages/contracts-bedrock/contracts/L1/L2OutputOracle.sol
  packages/contracts-bedrock/contracts/L1/OptimismPortal.sol
  packages/contracts-bedrock/contracts/test/BenchmarkTest.t.sol
  packages/contracts-bedrock/contracts/test/CommonTest.t.sol
  packages/contracts-bedrock/contracts/test/L2OutputOracle.t.sol
  packages/contracts-bedrock/contracts/test/OptimismPortal.t.sol
  packages/contracts-bedrock/slither.db.json
  packages/integration-tests-bedrock/test/000_withdrawals.spec.ts
  specs/proposals.md
Labels: 2-reviewers, on-merge-train, M-contracts-bedrock

#3029 test(ctb): add test for stuck ETH on failed msg
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/test/CommonTest.t.sol
  packages/contracts-bedrock/contracts/test/L1CrossDomainMessenger.t.sol
  packages/contracts-bedrock/contracts/test/L2CrossDomainMessenger.t.sol
Labels: 2-reviewers, on-merge-train, M-contracts-bedrock

#3039 test(ctb): reentrancy on relay
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/test/CommonTest.t.sol
  packages/contracts-bedrock/contracts/test/L1CrossDomainMessenger.t.sol
  packages/contracts-bedrock/contracts/test/L2CrossDomainMessenger.t.sol
Labels: 2-reviewers, on-merge-train, M-contracts-bedrock

#3046 op-e2e: stabilize CI testing
  op-batcher/batch_submitter.go
  op-e2e/system_test.go
Labels: on-merge-train

#3049 op-e2e: Wait longer for Optimism Portal Deploy
  op-e2e/setup.go
Labels: on-merge-train

#3045 fix(ctb): Edit inaccurate comment about refunds
  packages/contracts-bedrock/contracts/universal/StandardBridge.sol
Labels: 2-reviewers, on-merge-train, M-contracts-bedrock

#3041 test(ctb): bridge return to sender on fail
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/test/CommonTest.t.sol
  packages/contracts-bedrock/contracts/test/L1StandardBridge.t.sol
  packages/contracts-bedrock/contracts/test/L2StandardBridge.t.sol
  packages/contracts-bedrock/contracts/test/OptimismMintableERC20Factory.t.sol
Labels: 2-reviewers, on-merge-train, M-contracts-bedrock

#3005 style(ctb): fix revert messages globally
  .changeset/brown-islands-listen.md
  op-bindings/bindings/l2outputoracle.go
  op-bindings/bindings/optimismportal.go
  op-bindings/bindings/optimismportal_deployed.go
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/L1/L2OutputOracle.sol
  packages/contracts-bedrock/contracts/L1/ResourceMetering.sol
  packages/contracts-bedrock/contracts/L2/L2StandardBridge.sol
  packages/contracts-bedrock/contracts/L2/SequencerFeeVault.sol
  packages/contracts-bedrock/contracts/legacy/L1ChugSplashProxy.sol
  packages/contracts-bedrock/contracts/libraries/rlp/RLPReader.sol
  packages/contracts-bedrock/contracts/libraries/trie/MerkleTrie.sol
  packages/contracts-bedrock/contracts/test/L1CrossDomainMessenger.t.sol
  packages/contracts-bedrock/contracts/test/L1StandardBridge.t.sol
  packages/contracts-bedrock/contracts/test/L2CrossDomainMessenger.t.sol
  packages/contracts-bedrock/contracts/test/L2OutputOracle.t.sol
  packages/contracts-bedrock/contracts/test/L2StandardBridge.t.sol
  packages/contracts-bedrock/contracts/test/RLPReader.t.sol
  packages/contracts-bedrock/contracts/test/ResourceMetering.t.sol
  packages/contracts-bedrock/contracts/test/SequencerFeeVault.t.sol
  packages/contracts-bedrock/contracts/universal/CrossDomainMessenger.sol
  packages/contracts-bedrock/contracts/universal/OptimismMintableERC20Factory.sol
  packages/contracts-bedrock/contracts/universal/StandardBridge.sol
Labels: 2-reviewers, on-merge-train, M-contracts-bedrock

#3038 CTB: Pass arguments as calldata in bridge and messengers when possible
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/L1/L1StandardBridge.sol
  packages/contracts-bedrock/contracts/universal/CrossDomainMessenger.sol
Labels: 2-reviewers, on-merge-train, M-contracts-bedrock

#2965 feat(bedrock): Versioned TransactionDeposited event
  .changeset/red-cows-divide.md
  op-bindings/bindings/optimismportal.go
  op-bindings/bindings/optimismportal_deployed.go
  op-node/rollup/derive/deposit_log.go
  op-node/rollup/derive/deposit_log_test.go
  op-node/rollup/derive/fuzz_parsers_test.go
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/L1/OptimismPortal.sol
  packages/contracts-bedrock/contracts/test/CommonTest.t.sol
  packages/contracts-bedrock/contracts/test/L1CrossDomainMessenger.t.sol
  packages/contracts-bedrock/contracts/test/OptimismPortal.t.sol
  packages/core-utils/src/optimism/deposit-transaction.ts
Labels: M-core-utils, 2-reviewers, on-merge-train, M-contracts-bedrock

#3047 style(ctb): short library names
  .changeset/tender-bags-melt.md
  packages/contracts-bedrock/contracts/L1/L1CrossDomainMessenger.sol
  packages/contracts-bedrock/contracts/L1/L1StandardBridge.sol
  packages/contracts-bedrock/contracts/L2/GasPriceOracle.sol
  packages/contracts-bedrock/contracts/L2/L1BlockNumber.sol
  packages/contracts-bedrock/contracts/L2/L2CrossDomainMessenger.sol
  packages/contracts-bedrock/contracts/L2/L2StandardBridge.sol
  packages/contracts-bedrock/contracts/L2/SequencerFeeVault.sol
  packages/contracts-bedrock/contracts/legacy/LegacyERC20ETH.sol
  packages/contracts-bedrock/contracts/libraries/Bytes.sol
  packages/contracts-bedrock/contracts/libraries/Predeploys.sol
  packages/contracts-bedrock/contracts/libraries/trie/MerkleTrie.sol
  packages/contracts-bedrock/contracts/test/CommonTest.t.sol
  packages/contracts-bedrock/contracts/test/GasPriceOracle.t.sol
  packages/contracts-bedrock/contracts/test/L1BlockNumber.t.sol
  packages/contracts-bedrock/contracts/test/L1CrossDomainMessenger.t.sol
  packages/contracts-bedrock/contracts/test/L1StandardBridge.t.sol
  packages/contracts-bedrock/contracts/test/L2StandardBridge.t.sol
  packages/contracts-bedrock/contracts/test/LegacyERC20ETH.t.sol
  packages/contracts-bedrock/contracts/test/SequencerFeeVault.t.sol
  packages/contracts-bedrock/contracts/universal/OptimismMintableERC20Factory.sol
Labels: 2-reviewers, on-merge-train, M-contracts-bedrock

#2997 feat(ctb): include Semver version function
  .changeset/young-walls-fetch.md
  op-bindings/bindings/gaspriceoracle.go
  op-bindings/bindings/gaspriceoracle_deployed.go
  op-bindings/bindings/l1block.go
  op-bindings/bindings/l1block_deployed.go
  op-bindings/bindings/l2outputoracle.go
  op-bindings/bindings/l2tol1messagepasser.go
  op-bindings/bindings/l2tol1messagepasser_deployed.go
  op-bindings/bindings/optimismportal.go
  op-bindings/bindings/optimismportal_deployed.go
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/test/Semver.t.sol
  packages/contracts-bedrock/contracts/universal/Semver.sol
Labels: 2-reviewers, on-merge-train, M-contracts-bedrock

#3056 op-e2e: deploy output oracle with correct config (bedrock)
  op-e2e/setup.go
  op-e2e/system_test.go
Labels: on-merge-train

#3036 fix: remove deposit tx subtype
  .changeset/pink-dancers-explain.md
  go.work
  go.work.sum
  op-batcher/go.mod
  op-batcher/go.sum
  op-bindings/go.mod
  op-bindings/go.sum
  op-e2e/go.mod
  op-e2e/go.sum
  op-e2e/setup.go
  op-node/go.mod
  op-node/go.sum
  op-node/l2/util.go
  op-node/node/server.go
  op-proposer/go.mod
  op-proposer/go.sum
  packages/contracts-bedrock/contracts/libraries/Encoding.sol
  packages/contracts-bedrock/contracts/test/Encoding.t.sol
  packages/contracts-bedrock/contracts/test/Hashing.t.sol
  packages/contracts-bedrock/tasks/genesis-l2.ts
  packages/core-utils/src/external/geth/geth-types.ts
  packages/core-utils/src/optimism/deposit-transaction.ts
Labels: M-core-utils, 2-reviewers, on-merge-train, M-contracts-bedrock

#3043 style(ctb): move legacy contracts to legacy folder
  .changeset/hot-panthers-think.md
  packages/contracts-bedrock/.storage-layout
  packages/contracts-bedrock/contracts/legacy/DeployerWhitelist.sol
  packages/contracts-bedrock/contracts/legacy/L1BlockNumber.sol
  packages/contracts-bedrock/contracts/test/DeployerWhitelist.t.sol
  packages/contracts-bedrock/contracts/test/L1BlockNumber.t.sol
Labels: 2-reviewers, on-merge-train, M-contracts-bedrock

#2979 getL2Output reverts if not found
  .changeset/hot-queens-accept.md
  op-bindings/bindings/l2outputoracle.go
  op-bindings/bindings/optimismportal.go
  op-bindings/bindings/optimismportal_deployed.go
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/L1/L2OutputOracle.sol
  packages/contracts-bedrock/contracts/L1/OptimismPortal.sol
  packages/contracts-bedrock/contracts/test/L2OutputOracle.t.sol
  packages/contracts-bedrock/contracts/test/OptimismPortal.t.sol
Labels: 2-reviewers, on-merge-train, M-contracts-bedrock

#3044 Op-Node: Fix divergence due to bad reset logic
  op-node/rollup/derive/batch_queue.go
  op-node/rollup/derive/engine_queue.go
  op-node/rollup/derive/pipeline.go
  op-node/rollup/sync/start.go
  op-node/rollup/sync/start_test.go
  op-node/testutils/mock_l1.go
Labels: on-merge-train

#2855 spec: derivation spec rework
  specs/assets/batch-deriv-chain.svg
  specs/assets/batch-deriv-pipeline.svg
  specs/bridges.md
  specs/deposits.md
  specs/derivation.md
  specs/exec-engine.md
  specs/glossary.md
  specs/guaranteed-gas-market.md
  specs/introduction.md
  specs/messengers.md
  specs/meta/devnet.md
  specs/meta/versioning.md
  specs/overview.md
  specs/predeploys.md
  specs/proposals.md
  specs/rollup-node-p2p.md
  specs/rollup-node.md
  specs/withdrawals.md
Labels: on-merge-train

#2980 contracts-bedrock: differential fuzzing
  .changeset/big-tables-bake.md
  .changeset/strange-pillows-walk.md
  .circleci/config.yml
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/test/CommonTest.t.sol
  packages/contracts-bedrock/contracts/test/Encoding.t.sol
  packages/contracts-bedrock/contracts/test/Hashing.t.sol
  packages/contracts-bedrock/contracts/test/OptimismPortal.t.sol
  packages/contracts-bedrock/foundry.toml
  packages/contracts-bedrock/package.json
  packages/contracts-bedrock/scripts/differential-testing.ts
  packages/contracts-bedrock/scripts/ffiMakeProof.ts
  packages/contracts-bedrock/scripts/makeProof.ts
  packages/contracts-bedrock/src/generateProofs.ts
  packages/contracts-bedrock/src/index.ts
  packages/contracts-bedrock/src/trie-test-generator.ts
  packages/contracts-bedrock/test/helpers.spec.ts
  packages/contracts-bedrock/tsconfig.json
  packages/contracts-periphery/package.json
  packages/core-utils/src/optimism/encoding.ts
  packages/core-utils/src/optimism/hashing.ts
  packages/core-utils/src/optimism/index.ts
  yarn.lock
Labels: M-core-utils, 2-reviewers, on-merge-train, M-contracts-periphery, M-contracts-bedrock

#3053 feat(ctb): introduce Types.sol
  .changeset/tricky-pugs-arrive.md
  op-bindings/bindings/l2outputoracle.go
  op-bindings/bindings/l2tol1messagepasser.go
  op-bindings/bindings/l2tol1messagepasser_deployed.go
  op-bindings/bindings/optimismportal.go
  op-bindings/bindings/optimismportal_deployed.go
  op-e2e/system_test.go
  op-node/withdrawals/utils.go
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/.storage-layout
  packages/contracts-bedrock/README.md
  packages/contracts-bedrock/contracts/L1/L2OutputOracle.sol
  packages/contracts-bedrock/contracts/L1/OptimismPortal.sol
  packages/contracts-bedrock/contracts/L2/L2ToL1MessagePasser.sol
  packages/contracts-bedrock/contracts/libraries/Encoding.sol
  packages/contracts-bedrock/contracts/libraries/Hashing.sol
  packages/contracts-bedrock/contracts/libraries/Types.sol
  packages/contracts-bedrock/contracts/test/Encoding.t.sol
  packages/contracts-bedrock/contracts/test/Hashing.t.sol
  packages/contracts-bedrock/contracts/test/L2OutputOracle.t.sol
  packages/contracts-bedrock/contracts/test/L2ToL1MessagePasser.t.sol
  packages/contracts-bedrock/contracts/test/OptimismPortal.t.sol
Labels: 2-reviewers, M-contracts-bedrock

#3057 fix (op-proposer): use safe head in block range
  op-proposer/drivers/l2output/driver.go
Labels: on-merge-train

#3075 Fix Optimism Config in L2 Genesis builder
  packages/contracts-bedrock/tasks/genesis-l2.ts
  packages/core-utils/src/external/geth/geth-types.ts
Labels: M-core-utils, 2-reviewers, on-merge-train, M-contracts-bedrock

#3058 contracts-bedrock: fix solhint ordering warnings
  packages/contracts-bedrock/contracts/L1/L1CrossDomainMessenger.sol
  packages/contracts-bedrock/contracts/L1/L1StandardBridge.sol
  packages/contracts-bedrock/contracts/L1/L2OutputOracle.sol
  packages/contracts-bedrock/contracts/L1/OptimismPortal.sol
  packages/contracts-bedrock/contracts/L1/ResourceMetering.sol
  packages/contracts-bedrock/contracts/L2/GasPriceOracle.sol
  packages/contracts-bedrock/contracts/L2/L2CrossDomainMessenger.sol
  packages/contracts-bedrock/contracts/L2/L2StandardBridge.sol
  packages/contracts-bedrock/contracts/L2/L2ToL1MessagePasser.sol
  packages/contracts-bedrock/contracts/legacy/AddressManager.sol
  packages/contracts-bedrock/contracts/legacy/DeployerWhitelist.sol
  packages/contracts-bedrock/contracts/legacy/L1ChugSplashProxy.sol
  packages/contracts-bedrock/contracts/libraries/Burn.sol
  packages/contracts-bedrock/contracts/libraries/rlp/RLPReader.sol
  packages/contracts-bedrock/contracts/universal/CrossDomainMessenger.sol
  packages/contracts-bedrock/contracts/universal/OptimismMintableERC20.sol
  packages/contracts-bedrock/contracts/universal/OptimismMintableERC20Factory.sol
  packages/contracts-bedrock/contracts/universal/Proxy.sol
  packages/contracts-bedrock/contracts/universal/ProxyAdmin.sol
  packages/contracts-bedrock/contracts/universal/StandardBridge.sol
Labels: 2-reviewers, M-contracts-bedrock

#3074 contracts-bedrock: fix solhint ordering warnings
  packages/contracts-bedrock/contracts/L1/L1CrossDomainMessenger.sol
  packages/contracts-bedrock/contracts/L1/L1StandardBridge.sol
  packages/contracts-bedrock/contracts/L1/L2OutputOracle.sol
  packages/contracts-bedrock/contracts/L1/OptimismPortal.sol
  packages/contracts-bedrock/contracts/L1/ResourceMetering.sol
  packages/contracts-bedrock/contracts/L2/GasPriceOracle.sol
  packages/contracts-bedrock/contracts/L2/L2CrossDomainMessenger.sol
  packages/contracts-bedrock/contracts/L2/L2StandardBridge.sol
  packages/contracts-bedrock/contracts/L2/L2ToL1MessagePasser.sol
  packages/contracts-bedrock/contracts/legacy/AddressManager.sol
  packages/contracts-bedrock/contracts/legacy/DeployerWhitelist.sol
  packages/contracts-bedrock/contracts/legacy/L1ChugSplashProxy.sol
  packages/contracts-bedrock/contracts/libraries/Burn.sol
  packages/contracts-bedrock/contracts/libraries/rlp/RLPReader.sol
  packages/contracts-bedrock/contracts/universal/CrossDomainMessenger.sol
  packages/contracts-bedrock/contracts/universal/OptimismMintableERC20.sol
  packages/contracts-bedrock/contracts/universal/OptimismMintableERC20Factory.sol
  packages/contracts-bedrock/contracts/universal/Proxy.sol
  packages/contracts-bedrock/contracts/universal/ProxyAdmin.sol
  packages/contracts-bedrock/contracts/universal/StandardBridge.sol
Labels: 2-reviewers, M-contracts-bedrock

#3079 chore(ctp): Bump solidity version to 0.8.15
  .changeset/fresh-peaches-remain.md
  packages/contracts-periphery/contracts/L1/L1ERC721Bridge.sol
  packages/contracts-periphery/contracts/L1/TeleportrDeposit.sol
  packages/contracts-periphery/contracts/L1/TeleportrWithdrawer.sol
  packages/contracts-periphery/contracts/L2/L2ERC721Bridge.sol
  packages/contracts-periphery/contracts/L2/TeleportrDisburser.sol
  packages/contracts-periphery/contracts/foundry-tests/AssetReceiver.t.sol
  packages/contracts-periphery/contracts/foundry-tests/TeleportrWithdrawer.t.sol
  packages/contracts-periphery/contracts/foundry-tests/Transactor.t.sol
  packages/contracts-periphery/contracts/testing/helpers/CallRecorder.sol
  packages/contracts-periphery/contracts/testing/helpers/ExternalContractCompiler.sol
  packages/contracts-periphery/contracts/testing/helpers/FailingReceiver.sol
  packages/contracts-periphery/contracts/testing/helpers/MockTeleportr.sol
  packages/contracts-periphery/contracts/testing/helpers/Reverter.sol
  packages/contracts-periphery/contracts/testing/helpers/SimpleStorage.sol
  packages/contracts-periphery/contracts/testing/helpers/TestERC20.sol
  packages/contracts-periphery/contracts/testing/helpers/TestERC721.sol
  packages/contracts-periphery/contracts/universal/AssetReceiver.sol
  packages/contracts-periphery/contracts/universal/Transactor.sol
  packages/contracts-periphery/contracts/universal/drippie/Drippie.sol
  packages/contracts-periphery/contracts/universal/drippie/IDripCheck.sol
  packages/contracts-periphery/contracts/universal/drippie/dripchecks/CheckBalanceHigh.sol
  packages/contracts-periphery/contracts/universal/drippie/dripchecks/CheckBalanceLow.sol
  packages/contracts-periphery/contracts/universal/drippie/dripchecks/CheckGelatoLow.sol
  packages/contracts-periphery/contracts/universal/drippie/dripchecks/CheckTrue.sol
  packages/contracts-periphery/contracts/universal/op-erc721/IOptimismMintableERC721.sol
  packages/contracts-periphery/contracts/universal/op-erc721/OptimismMintableERC721.sol
  packages/contracts-periphery/contracts/universal/op-erc721/OptimismMintableERC721Factory.sol
Labels: 2-reviewers, on-merge-train, M-contracts-periphery

#3071 Goerli state commitment chain redeploy
  .changeset/rude-rice-hammer.md
  packages/contracts/deploy-config/goerli.ts
  packages/contracts/deployments/goerli/AddressDictator.json
  packages/contracts/deployments/goerli/StateCommitmentChain.json
  packages/contracts/deployments/goerli/solcInputs/12afc2c6487cfec4471fc920fd475624.json
  packages/contracts/deployments/goerli/solcInputs/96c709f6604e7bd8a94077f137b56cbc.json
Labels: M-contracts, 2-reviewers, on-merge-train

#3083 op-node: Add more logging
  op-node/rollup/derive/batch_queue.go
  op-node/rollup/derive/engine_queue.go
Labels: on-merge-train

#3066 feat(ctb): introduce extra data event to XDM
  .changeset/dull-coats-tap.md
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/test/CommonTest.t.sol
  packages/contracts-bedrock/contracts/test/L1CrossDomainMessenger.t.sol
  packages/contracts-bedrock/contracts/universal/CrossDomainMessenger.sol
Labels: 2-reviewers, on-merge-train, M-contracts-bedrock

#3067 feat(ctb): export ABI when building
  .changeset/empty-wolves-sit.md
  packages/contracts-bedrock/.eslintrc.js
  packages/contracts-bedrock/.gitignore
  packages/contracts-bedrock/package.json
  packages/contracts-bedrock/scripts/generate-artifacts.ts
  packages/contracts-bedrock/src/contract-defs.ts
  packages/contracts-bedrock/src/index.ts
  packages/contracts-bedrock/tsconfig.json
Labels: 2-reviewers, on-merge-train, M-contracts-bedrock

#3065 fix(sdk): throw a better error for bad chain ID
  .changeset/lovely-mails-cry.md
  packages/sdk/src/cross-chain-messenger.ts
  packages/sdk/test/cross-chain-messenger.spec.ts
Labels: M-sdk, on-merge-train

#3082 feat(sdk): Update the Goerli SCC contract address to the new value
  .changeset/spotty-lobsters-juggle.md
  packages/sdk/src/utils/contracts.ts
Labels: M-sdk, on-merge-train

#3077 contracts-bedrock: fix imports
  packages/contracts-bedrock/tasks/genesis-l1.ts
  packages/contracts-bedrock/tasks/genesis-l2.ts
  packages/contracts-bedrock/tasks/rollup-config.ts
Labels: 2-reviewers, M-contracts-bedrock

#3073 Add cloudbuild file for bedrock image builds
  cloudbuild.yaml
Labels: on-merge-train

#3101 contracts: update docs
  packages/contracts/docs/AddressUpgradeable.md
  packages/contracts/docs/ContextUpgradeable.md
  packages/contracts/docs/Initializable.md
  packages/contracts/docs/L1CrossDomainMessenger.md
  packages/contracts/docs/OwnableUpgradeable.md
  packages/contracts/docs/PausableUpgradeable.md
  packages/contracts/docs/ReentrancyGuardUpgradeable.md
Labels: M-contracts, 2-reviewers

#3089 test(ctb): Add failure tests for finalizeWithdrawalTransaction
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/L1/OptimismPortal.sol
  packages/contracts-bedrock/contracts/test/CommonTest.t.sol
  packages/contracts-bedrock/contracts/test/OptimismPortal.t.sol
Labels: 2-reviewers, M-contracts-bedrock

#3109 contracts-bedrock: standard initializable
  .changeset/dry-bears-beg.md
  packages/contracts-bedrock/contracts/universal/StandardBridge.sol
Labels: 2-reviewers, on-merge-train, M-contracts-bedrock

#3110 proxyd: Parameterize full RPC request logging
  .changeset/quiet-books-design.md
  proxyd/config.go
  proxyd/proxyd.go
  proxyd/server.go
Labels: on-merge-train

#3114 contracts-bedrock: fix build
  .changeset/eight-ravens-prove.md
  op-bindings/bindings/optimismportal.go
  op-bindings/bindings/optimismportal_deployed.go
  packages/contracts-bedrock/contracts/L1/OptimismPortal.sol
  packages/contracts-bedrock/contracts/L1/ResourceMetering.sol
  packages/contracts-bedrock/contracts/test/CommonTest.t.sol
  packages/contracts-bedrock/contracts/universal/StandardBridge.sol
  packages/contracts-bedrock/package.json
  yarn.lock
Labels: 2-reviewers, on-merge-train, M-contracts-bedrock

#3095 contracts-bedrock: update hardhat forge dep
  .changeset/rare-suits-turn.md
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/package.json
  yarn.lock
Labels: 2-reviewers, M-contracts-bedrock

#3120 contracts-bedrock: update hardhat-forge plugin
  .changeset/early-keys-know.md
  packages/contracts-bedrock/package.json
  yarn.lock
Labels: 2-reviewers, M-contracts-bedrock

#3123 ci: Add cloudbuild for bedrock deployer
  cloudbuild.yaml
Labels: on-merge-train

#3121 ops: Properly set devnet batch submitter address
  ops-bedrock/devnet-up.sh
  packages/contracts-bedrock/deploy-config/devnetL1.ts
Labels: 2-reviewers, on-merge-train, M-contracts-bedrock

#3118 contracts-bedrock: fix typechain export
  .changeset/wet-suns-develop.md
  packages/contracts-bedrock/package.json
Labels: 2-reviewers, M-contracts-bedrock

#3128 contracts-bedrock: modularize build
  .changeset/curly-spies-switch.md
  packages/contracts-bedrock/package.json
  packages/contracts-bedrock/tsconfig.json
Labels: 2-reviewers, M-contracts-bedrock

#3096 Bedrock goerli 96f44f79
  .changeset/slimy-spoons-repair.md
  packages/contracts-bedrock/deploy-config/goerli.ts
  packages/contracts-bedrock/deployments/goerli/L1CrossDomainMessengerProxy.json
  packages/contracts-bedrock/deployments/goerli/L1StandardBridgeProxy.json
  packages/contracts-bedrock/deployments/goerli/L2OutputOracleProxy.json
  packages/contracts-bedrock/deployments/goerli/OptimismPortalProxy.json
Labels: 2-reviewers, M-contracts-bedrock

#3129 integration-tests: modularize
  .changeset/wet-doors-collect.md
  integration-tests/test/queue-ingestion.spec.ts
Labels: M-integration

#3124 core-utils,contracts-bedrock,ci: OpNodeProvider + check
  .changeset/eighty-kings-approve.md
  .circleci/config.yml
  packages/contracts-bedrock/hardhat.config.ts
  packages/contracts-bedrock/package.json
  packages/contracts-bedrock/tasks/check-op-node.ts
  packages/core-utils/package.json
  packages/core-utils/src/optimism/index.ts
  packages/core-utils/src/optimism/op-provider.ts
Labels: M-core-utils, 2-reviewers, M-contracts-bedrock

#3119 contracts-bedrock: in place handling of immutables
  .changeset/cool-items-smell.md
  .circleci/config.yml
  packages/contracts-bedrock/hardhat.config.ts
  packages/contracts-bedrock/tasks/check-l2-config.ts
  packages/contracts-bedrock/tasks/genesis-l2.ts
Labels: 2-reviewers, M-contracts-bedrock

#3085 ops: Use starting L1 Block for timestamp everywhere
  ops-bedrock/devnet-up.sh
  packages/contracts-bedrock/deploy-config/devnetL1.ts
  packages/contracts-bedrock/deploy-config/goerli.ts
  packages/contracts-bedrock/deploy-config/hardhat.ts
  packages/contracts-bedrock/deploy/000-L2OutputOracle.deploy.ts
  packages/contracts-bedrock/hardhat.config.ts
  packages/contracts-bedrock/tasks/genesis-l1.ts
  packages/contracts-bedrock/tasks/genesis-l2.ts
  packages/contracts-bedrock/tasks/rollup-config.ts
  packages/contracts-bedrock/tsconfig.json
Labels: 2-reviewers, on-merge-train, M-contracts-bedrock

#3111 test(ctb): change gasLimit arg to uint256
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/test/OptimismPortal.t.sol
Labels: 2-reviewers, on-merge-train, M-contracts-bedrock

#3136 bedrock: Optional pprof servers
  op-batcher/batch_submitter.go
  op-batcher/config.go
  op-batcher/flags/flags.go
  op-node/cmd/main.go
  op-node/flags/flags.go
  op-node/node/config.go
  op-node/service.go
  op-proposer/config.go
  op-proposer/flags/flags.go
  op-proposer/l2_output_submitter.go
  ops-bedrock/docker-compose.yml
Labels: on-merge-train

#3133 deps: update excessively-safe-call
  packages/contracts-bedrock/package.json
  yarn.lock
Labels: 2-reviewers, M-contracts-bedrock
