Repository ethereum-optimism/optimism, pull requests merged in 2022-12, with the labels that each got.

#4123 Remove changesets dir from codeowners
  .github/CODEOWNERS
Labels: on-merge-train

#4133 op-chain-ops: safety with params
  op-chain-ops/ether/migrate.go
Labels: on-merge-train

#4134 op-chain-ops: base fee check
  op-chain-ops/genesis/db_migration.go
Labels: on-merge-train

#4143 op-chain-ops: add 1559 config checks
  op-chain-ops/genesis/config.go
Labels: on-merge-train

#4119 feat(sdk): support legacy withdraws after Bedrock
  .changeset/four-mugs-taste.md
  packages/contracts-bedrock/scripts/differential-testing.ts
  packages/core-utils/src/optimism/encoding.ts
  packages/core-utils/src/optimism/hashing.ts
  packages/sdk/src/cross-chain-messenger.ts
  packages/sdk/src/interfaces/types.ts
  packages/sdk/src/utils/index.ts
  packages/sdk/src/utils/message-utils.ts
Labels: sdk

#4144 op-chain-ops: migrate db monotonic timestamp
  op-chain-ops/genesis/db_migration.go
Labels: on-merge-train

#4139 op-migrate: various sanity checks + cleanup
  op-chain-ops/genesis/db_migration.go
Labels: on-merge-train

#4160 op-chain-ops: allow config of LevelDB in `op-migrate`
  op-chain-ops/cmd/op-migrate/main.go
Labels: on-merge-train

#4129 l2geth: cleanly shut down the syncservice
  .changeset/healthy-steaks-impress.md
  l2geth/rollup/sync_service.go
Labels: C-Protocol-Critical

#4171 ctb: Fix devnet
  packages/contracts-bedrock/deploy-config/devnetL1.json
  packages/contracts-bedrock/deploy-config/hardhat.json
Labels: on-merge-train

#4174 CI: Increase contracts-bedrock timeout
  .circleci/config.yml
Labels: on-merge-train

#3950 feat(fd): event cache for Geth L1s
  .changeset/shaggy-donkeys-matter.md
  packages/fault-detector/src/helpers.ts
  packages/fault-detector/src/service.ts
  packages/fault-detector/test/helpers.spec.ts
Labels: 2-reviewers

#4175 ci: Always run devnet, fix devnet CI
  .circleci/config.yml
  packages/sdk/src/cross-chain-messenger.ts
Labels: sdk

#4177 Update CODEOWNERS
  .github/CODEOWNERS
Labels: on-merge-train

#4135 feat(ctb): add message versioning to MessagePasser
  op-bindings/bindings/l2tol1messagepasser.go
  op-bindings/bindings/l2tol1messagepasser_more.go
  op-chain-ops/genesis/config.go
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/.storage-layout
  packages/contracts-bedrock/contracts/L2/L2ToL1MessagePasser.sol
  packages/contracts-bedrock/contracts/test/L2CrossDomainMessenger.t.sol
  packages/contracts-bedrock/contracts/test/L2ToL1MessagePasser.t.sol
  packages/contracts-bedrock/contracts/test/OptimismPortal.t.sol
Labels: on-merge-train

#4141 fix(ctb): various migration fixes
  packages/contracts-bedrock/contracts/deployment/MigrationSystemDictator.sol
  packages/contracts-bedrock/deploy-config/devnetL1.json
  packages/contracts-bedrock/deploy-config/goerli-forked.json
  packages/contracts-bedrock/deploy/007-L1ERC721BridgeProxy.ts
  packages/contracts-bedrock/deploy/018-MigrationSystemDictatorSteps.ts
  packages/contracts-bedrock/hardhat.config.ts
  packages/contracts-bedrock/src/deploy-utils.ts
Labels: on-merge-train

#4113 maint(ctb): combine Dictator contracts
  packages/contracts-bedrock/contracts/deployment/BaseSystemDictator.sol
  packages/contracts-bedrock/contracts/deployment/SystemDictator.sol
  packages/contracts-bedrock/deploy/017-SystemDictator.ts
  packages/contracts-bedrock/deploy/018-SystemDictatorSteps.ts
Labels: on-merge-train

#4138 ctb: Create Goerli deploy config
  packages/contracts-bedrock/deploy-config/goerli.json
Labels: on-merge-train

#4124 ctb: Add simple script for enforcing test conventions
  packages/contracts-bedrock/scripts/forge-test-names.ts
Labels: mergify-ignore

#4125 Test cleanup: rename fuzz and differential tests
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/test/AddressAliasHelper.t.sol
  packages/contracts-bedrock/contracts/test/Encoding.t.sol
  packages/contracts-bedrock/contracts/test/Hashing.t.sol
  packages/contracts-bedrock/contracts/test/L2ToL1MessagePasser.t.sol
  packages/contracts-bedrock/contracts/test/OptimismPortal.t.sol
  packages/contracts-bedrock/package.json
Labels: mergify-ignore

#4187 ops-bedrock: delete dead config
  bedrock-devnet/devnet/__init__.py
  ops-bedrock/devnet-up.sh
  ops-bedrock/docker-compose.yml
Labels: on-merge-train

#4193 Add additional l2oo sanity check
  op-chain-ops/genesis/db_migration.go
Labels: on-merge-train

#4198 op-chain-ops: Remove starting-l1-block-number field
  op-chain-ops/cmd/op-migrate/main.go
Labels: on-merge-train

#4190 feat(dtl): add L1 sync shutoff block flag
  .changeset/kind-planes-laugh.md
  packages/data-transport-layer/src/services/l1-ingestion/service.ts
  packages/data-transport-layer/src/services/main/service.ts
  packages/data-transport-layer/src/services/run.ts
Labels: C-Protocol-Critical

#4191 [op-node] Set fallback UDP port
  op-node/p2p/discovery.go
Labels: on-merge-train

#4206 feat(ctb): put dictator behind Proxy
  packages/contracts-bedrock/contracts/deployment/SystemDictator.sol
  packages/contracts-bedrock/deploy/009-SystemDictatorProxy.ts
  packages/contracts-bedrock/deploy/010-L1CrossDomainMessengerImpl.ts
  packages/contracts-bedrock/deploy/011-L1StandardBridgeImpl.ts
  packages/contracts-bedrock/deploy/012-L2OutputOracleImpl.ts
  packages/contracts-bedrock/deploy/013-OptimismPortalImpl.ts
  packages/contracts-bedrock/deploy/014-OptimismMintableERC20FactoryImpl.ts
  packages/contracts-bedrock/deploy/015-L1ERC721BridgeImpl.ts
  packages/contracts-bedrock/deploy/016-PortalSenderImpl.ts
  packages/contracts-bedrock/deploy/017-SystemConfigImpl.ts
  packages/contracts-bedrock/deploy/017-SystemDictator.ts
  packages/contracts-bedrock/deploy/018-SystemDictatorImpl.ts
  packages/contracts-bedrock/deploy/019-SystemDictatorInit.ts
  packages/contracts-bedrock/deploy/020-SystemDictatorSteps.ts
Labels: on-merge-train

#4199 op-chain-ops: Remove inconsistent ownership config fields
  op-chain-ops/genesis/config.go
  op-chain-ops/genesis/layer_one.go
  op-chain-ops/genesis/testdata/test-deploy-config-full.json
  op-e2e/e2eutils/setup.go
  op-e2e/setup.go
  packages/contracts-bedrock/deploy-config/devnetL1.json
Labels: on-merge-train

#4210 feat(ctb): add nicer log lines to dictator steps
  packages/contracts-bedrock/deploy/020-SystemDictatorSteps.ts
Labels: on-merge-train

#4204 maint(ctb): minor comment cleanup
  packages/contracts-bedrock/contracts/L1/L1StandardBridge.sol
  packages/contracts-bedrock/contracts/L1/L2OutputOracle.sol
  packages/contracts-bedrock/contracts/L1/SystemConfig.sol
  packages/contracts-bedrock/contracts/L2/BaseFeeVault.sol
  packages/contracts-bedrock/contracts/L2/CrossDomainOwnable.sol
  packages/contracts-bedrock/contracts/L2/CrossDomainOwnable2.sol
  packages/contracts-bedrock/contracts/L2/L2StandardBridge.sol
  packages/contracts-bedrock/contracts/universal/StandardBridge.sol
Labels: on-merge-train

#4215 Set bedrock block in migration
  op-chain-ops/genesis/db_migration.go
Labels: on-merge-train

#4240 fix(dtl): bug with shutoff logic
  .changeset/stale-experts-roll.md
  packages/data-transport-layer/src/services/l1-ingestion/service.ts
Labels: C-Protocol-Critical

#4226 Rename test functions according to convention (AliasHelper and Portal)
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/test/AddressAliasHelper.t.sol
  packages/contracts-bedrock/contracts/test/OptimismPortal.t.sol
Labels: on-merge-train

#4227 Test function renaming (SafeCall and RLP libs)
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/test/RLPReader.t.sol
  packages/contracts-bedrock/contracts/test/RLPWriter.t.sol
  packages/contracts-bedrock/contracts/test/SafeCall.t.sol
Labels: on-merge-train

#4228 Test function renaming (Proxy, Benchmarks, xDM)
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/test/BenchmarkTest.t.sol
  packages/contracts-bedrock/contracts/test/CrossDomainMessenger.t.sol
  packages/contracts-bedrock/contracts/test/Proxy.t.sol
  packages/contracts-bedrock/contracts/test/ProxyAdmin.t.sol
Labels: on-merge-train

#4241 maint(sdk): remove unused variable
  .changeset/cold-mangos-explain.md
  packages/sdk/src/cross-chain-messenger.ts
Labels: on-merge-train, sdk

#4246 Rename L2Standard bridge tests
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/test/FeeVault.t.sol
  packages/contracts-bedrock/contracts/test/GasPriceOracle.t.sol
  packages/contracts-bedrock/contracts/test/L2StandardBridge.t.sol
Labels: on-merge-train

#4247 Rename CrossDomainOwnable, L1Block and L1BlockNumber tests
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/test/CrossDomainOwnable.t.sol
  packages/contracts-bedrock/contracts/test/CrossDomainOwnable2.t.sol
  packages/contracts-bedrock/contracts/test/L1Block.t.sol
  packages/contracts-bedrock/contracts/test/L1BlockNumber.t.sol
Labels: on-merge-train

#4257 maint(ctb): remove unnecessary deploy utils
  packages/contracts-bedrock/deploy/019-SystemDictatorInit.ts
  packages/contracts-bedrock/src/deploy-utils.ts
Labels: on-merge-train

#4248 Rename L1 bridge and deployer whitelist tests
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/test/DeployerWhitelist.t.sol
  packages/contracts-bedrock/contracts/test/L1CrossDomainMessenger.t.sol
  packages/contracts-bedrock/contracts/test/L1StandardBridge.t.sol
Labels: on-merge-train

#4249 Rename L2xDM and Output Oracle tests
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/test/L2CrossDomainMessenger.t.sol
  packages/contracts-bedrock/contracts/test/L2OutputOracle.t.sol
  packages/contracts-bedrock/contracts/test/LegacyERC20ETH.t.sol
  packages/contracts-bedrock/contracts/test/OptimismMintableERC20.t.sol
  packages/contracts-bedrock/contracts/test/OptimismMintableERC20Factory.t.sol
Labels: on-merge-train

#4267 Release v0.10.2
  op-batcher/go.mod
  op-batcher/go.sum
  op-chain-ops/go.mod
  op-chain-ops/go.sum
  op-e2e/go.mod
  op-e2e/go.sum
  op-node/go.mod
  op-node/go.sum
  op-proposer/go.mod
  op-proposer/go.sum
Labels: mergify-ignore

#4250 Rename SequencerFeeVault, Semver, LegacyMessagePasser, ResourceMetering tests
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/test/LegacyMessagePasser.t.sol
  packages/contracts-bedrock/contracts/test/ResourceMetering.t.sol
  packages/contracts-bedrock/contracts/test/Semver.t.sol
  packages/contracts-bedrock/contracts/test/SequencerFeeVault.t.sol
Labels: on-merge-train

#4260 maint(ctb): clean up deploy function
  packages/contracts-bedrock/deploy/000-ProxyAdmin.ts
  packages/contracts-bedrock/deploy/001-AddressManager.ts
  packages/contracts-bedrock/deploy/002-L1StandardBridgeProxy.ts
  packages/contracts-bedrock/deploy/003-L2OutputOracleProxy.ts
  packages/contracts-bedrock/deploy/004-L1CrossDomainMessengerProxy.ts
  packages/contracts-bedrock/deploy/005-OptimismPortalProxy.ts
  packages/contracts-bedrock/deploy/006-OptimismMintableERC20FactoryProxy.ts
  packages/contracts-bedrock/deploy/007-L1ERC721BridgeProxy.ts
  packages/contracts-bedrock/deploy/008-SystemConfigProxy.ts
  packages/contracts-bedrock/deploy/009-SystemDictatorProxy.ts
  packages/contracts-bedrock/deploy/010-L1CrossDomainMessengerImpl.ts
  packages/contracts-bedrock/deploy/011-L1StandardBridgeImpl.ts
  packages/contracts-bedrock/deploy/012-L2OutputOracleImpl.ts
  packages/contracts-bedrock/deploy/013-OptimismPortalImpl.ts
  packages/contracts-bedrock/deploy/014-OptimismMintableERC20FactoryImpl.ts
  packages/contracts-bedrock/deploy/015-L1ERC721BridgeImpl.ts
  packages/contracts-bedrock/deploy/016-PortalSenderImpl.ts
  packages/contracts-bedrock/deploy/017-SystemConfigImpl.ts
  packages/contracts-bedrock/deploy/018-SystemDictatorImpl.ts
  packages/contracts-bedrock/src/deploy-utils.ts
Labels: on-merge-train

#4172 ctb: Add unit tests from SystemConfig
  .changeset/chatty-dogs-brush.md
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/test/SystemConfig.t.sol
Labels: on-merge-train

#4275 Update withdrawal params for two step withdrawals
  indexer/integration_tests/bedrock_test.go
  op-e2e/actions/user.go
  op-e2e/system_test.go
  op-node/withdrawals/utils.go
Labels: indexer

#4269 maint(ctb): remove unnecessary deploy vars
  op-chain-ops/genesis/config.go
  op-chain-ops/genesis/layer_one.go
  op-chain-ops/genesis/testdata/test-deploy-config-full.json
  op-e2e/e2eutils/setup.go
  op-e2e/setup.go
  packages/contracts-bedrock/contracts/test/CrossDomainOwnable2.t.sol
  packages/contracts-bedrock/deploy-config/devnetL1.json
  packages/contracts-bedrock/deploy-config/goerli-forked.json
  packages/contracts-bedrock/deploy-config/goerli.json
  packages/contracts-bedrock/deploy-config/hardhat.json
  packages/contracts-bedrock/deploy/017-SystemConfigImpl.ts
  packages/contracts-bedrock/deploy/019-SystemDictatorInit.ts
  packages/contracts-bedrock/src/deploy-config.ts
Labels: on-merge-train

#4200 op-service: Exit HTTP server more cleanly
  op-service/httputil/server.go
Labels: mergify-ignore

#4201 op-heartbeat: Project setup
  go.work
  op-heartbeat/.gitignore
  op-heartbeat/docker.go.work
  op-heartbeat/go.mod
  op-heartbeat/go.sum
Labels: mergify-ignore

#4290 fix(ctb): clean and fix test names script
  packages/contracts-bedrock/scripts/forge-test-names.ts
Labels: on-merge-train

#4005 feat(dtl): fast goerli sync
  .changeset/hot-beds-cough.md
  packages/data-transport-layer/src/services/l1-ingestion/service.ts
Labels: M-dtl, 2-reviewers, C-Protocol-Critical, on-merge-train

#4202 op-heartbeat: Add implementation
  op-heartbeat/Makefile
  op-heartbeat/cmd/main.go
  op-heartbeat/config.go
  op-heartbeat/flags/flags.go
  op-heartbeat/metrics.go
  op-heartbeat/service.go
  op-heartbeat/service_test.go
  op-heartbeat/whitelists.go
  op-node/heartbeat/service.go
Labels: mergify-ignore

#4299 maint(ctb): add comments to deploy utils
  packages/contracts-bedrock/src/deploy-utils.ts
Labels: on-merge-train

#4165 CI: Echidna tests for Aliasing
  .changeset/healthy-teachers-stare.md
  .changeset/neat-terms-buy.md
  .circleci/config.yml
  .gitignore
  codecov.yml
  ops/docker/ci-builder/Dockerfile
  packages/contracts-bedrock/contracts/echidna/FuzzAddressAliasing.sol
  packages/contracts-bedrock/echidna.yaml
  packages/contracts-bedrock/foundry.toml
  packages/contracts-bedrock/package.json
Labels: mergify-ignore

#4305 maint(ctb): standardized whitespace in deploys
  packages/contracts-bedrock/deploy/000-ProxyAdmin.ts
  packages/contracts-bedrock/deploy/001-AddressManager.ts
  packages/contracts-bedrock/deploy/002-L1StandardBridgeProxy.ts
  packages/contracts-bedrock/deploy/003-L2OutputOracleProxy.ts
  packages/contracts-bedrock/deploy/004-L1CrossDomainMessengerProxy.ts
  packages/contracts-bedrock/deploy/005-OptimismPortalProxy.ts
  packages/contracts-bedrock/deploy/006-OptimismMintableERC20FactoryProxy.ts
  packages/contracts-bedrock/deploy/007-L1ERC721BridgeProxy.ts
  packages/contracts-bedrock/deploy/008-SystemConfigProxy.ts
  packages/contracts-bedrock/deploy/009-SystemDictatorProxy.ts
  packages/contracts-bedrock/deploy/017-SystemConfigImpl.ts
Labels: on-merge-train

#4306 op-chain-ops: single database commit
  op-chain-ops/cmd/op-migrate/main.go
  op-chain-ops/ether/cli.go
  op-chain-ops/ether/migrate.go
  op-chain-ops/genesis/check.go
  op-chain-ops/genesis/db_migration.go
Labels: on-merge-train

#4285 op-wheel: geth db cheats logic
  op-wheel/cheat/cheat.go
Labels: mergify-ignore

#4318 fix(ctb): Fix MerkleTrie test names to match convention
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/test/MerkleTrie.t.sol
Labels: on-merge-train

#4300 feat(ctb): type safety for deploy config
  integration-tests/package.json
  package.json
  packages/contracts-bedrock/deploy-config/devnetL1.ts
  packages/contracts-bedrock/deploy-config/goerli-forked.ts
  packages/contracts-bedrock/deploy-config/goerli.ts
  packages/contracts-bedrock/deploy-config/hardhat.ts
  packages/contracts-bedrock/deploy-config/hivenet.json
  packages/contracts-bedrock/package.json
  packages/contracts-bedrock/src/deploy-config.ts
  packages/contracts-bedrock/tsconfig.build.json
  packages/contracts-bedrock/tsconfig.json
  packages/contracts-governance/package.json
  packages/contracts-periphery/package.json
  packages/contracts/package.json
  packages/data-transport-layer/package.json
  yarn.lock
Labels: on-merge-train

#4303 Verify test names in CI
  packages/contracts-bedrock/package.json
  packages/contracts-bedrock/scripts/forge-test-names.ts
Labels: on-merge-train

#4321 maint(ctb): add comment to structs in Types
  packages/contracts-bedrock/contracts/libraries/Types.sol
Labels: on-merge-train

#4304 maint(ctb): clean up getAdvancedContract
  packages/contracts-bedrock/src/deploy-utils.ts
Labels: on-merge-train

#4166 ctb: Add echidna tests for Burn
  .changeset/pretty-chicken-rest.md
  .circleci/config.yml
  packages/contracts-bedrock/contracts/echidna/FuzzBurn.sol
  packages/contracts-bedrock/package.json
Labels: mergify-ignore

#4325 maint(ctb): comments for structs
  packages/contracts-bedrock/contracts/L1/OptimismPortal.sol
  packages/contracts-bedrock/contracts/L1/ResourceMetering.sol
  packages/contracts-bedrock/contracts/libraries/rlp/RLPReader.sol
  packages/contracts-bedrock/contracts/libraries/trie/MerkleTrie.sol
Labels: on-merge-train

#4329 feat(ctb): update portal gas amount
  op-bindings/bindings/l1crossdomainmessenger.go
  op-bindings/bindings/l1crossdomainmessenger_more.go
  op-bindings/bindings/l2crossdomainmessenger.go
  op-bindings/bindings/l2crossdomainmessenger_more.go
  op-bindings/bindings/optimismportal.go
  op-bindings/bindings/optimismportal_more.go
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/L1/OptimismPortal.sol
  packages/contracts-bedrock/contracts/universal/CrossDomainMessenger.sol
Labels: on-merge-train

#4326 fix: migration gaslimit
  .changeset/perfect-guests-relax.md
  op-chain-ops/crossdomain/migrate.go
  packages/sdk/src/cross-chain-messenger.ts
Labels: sdk

#4337 feat(ctb): add gas estimation logic to portal
  op-bindings/bindings/l1crossdomainmessenger.go
  op-bindings/bindings/l1crossdomainmessenger_more.go
  op-bindings/bindings/l2crossdomainmessenger.go
  op-bindings/bindings/l2crossdomainmessenger_more.go
  op-bindings/bindings/optimismportal.go
  op-bindings/bindings/optimismportal_more.go
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/L1/OptimismPortal.sol
  packages/contracts-bedrock/contracts/libraries/Constants.sol
  packages/contracts-bedrock/contracts/universal/CrossDomainMessenger.sol
Labels: on-merge-train

#4339 maint(ctb): move default sender to constants
  packages/contracts-bedrock/contracts/L1/OptimismPortal.sol
  packages/contracts-bedrock/contracts/libraries/Constants.sol
  packages/contracts-bedrock/contracts/universal/CrossDomainMessenger.sol
Labels: on-merge-train

#4225 ctb: Add echidna tests for metering
  .changeset/late-cameras-jam.md
  .circleci/config.yml
  packages/contracts-bedrock/contracts/echidna/FuzzResourceMetering.sol
  packages/contracts-bedrock/echidna.yaml
Labels: on-merge-train, sdk

#4334 feat(cmn): make logLevel a default option
  .changeset/sharp-colts-yawn.md
  packages/common-ts/src/base-service/base-service-v2.ts
  packages/common-ts/src/base-service/validators.ts
  packages/common-ts/src/common/logger.ts
Labels: on-merge-train, common-ts

#4333 fix(cmn): BaseServiceV2 options parsing bug
  .changeset/cool-bears-return.md
  packages/common-ts/src/base-service/base-service-v2.ts
Labels: on-merge-train, common-ts

#4335 ctb: Add echidna tests for Hashing
  .changeset/light-buckets-flash.md
  .circleci/config.yml
  packages/contracts-bedrock/contracts/echidna/FuzzHashing.sol
Labels: on-merge-train

#4351 feat(ctb): preserve legacy ETH invariant
  op-bindings/bindings/legacyerc20eth.go
  op-bindings/bindings/legacyerc20eth_more.go
  packages/contracts-bedrock/contracts/legacy/LegacyERC20ETH.sol
Labels: on-merge-train

#4362 CI: Check if we should run in bedrock-echidna-run
  .circleci/config.yml
Labels: on-merge-train

#4364 feat(ctb): Add benchmark for `proveWithdrawalTransaction`
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/test/BenchmarkTest.t.sol
Labels: on-merge-train

#4361 feat(contracts-periphery): Add attestation contract
  .changeset/gentle-lies-hope.md
  packages/contracts-periphery/contracts/foundry-tests/AttestationStation.t.sol
  packages/contracts-periphery/contracts/universal/op-nft/AttestationStation.sol
  packages/contracts-periphery/foundry.toml
  packages/contracts-periphery/package.json
  yarn.lock
Labels: on-merge-train

#4381 feat: Add lcov.info to gitignore
  .gitignore
Labels: on-merge-train

#4372 fix(contracts-periphery): Fix initial check in foundry test
  .changeset/brown-beans-hunt.md
  packages/contracts-periphery/contracts/foundry-tests/AttestationStation.t.sol
Labels: on-merge-train

#4379 feat(contracts-periphery): Add package.json script for forge test coverage
  .changeset/stale-crews-kiss.md
  packages/contracts-periphery/package.json
Labels: on-merge-train

#4366 ctb: Add forked goerli deployment
  packages/contracts-bedrock/deploy-config/goerli-forked.json
  packages/contracts-bedrock/deployments/goerli-public-rehearsal/.chainId
  packages/contracts-bedrock/deployments/goerli-public-rehearsal/L1CrossDomainMessenger.json
  packages/contracts-bedrock/deployments/goerli-public-rehearsal/L1StandardBridge.json
  packages/contracts-bedrock/deployments/goerli-public-rehearsal/L2OutputOracle.json
  packages/contracts-bedrock/deployments/goerli-public-rehearsal/L2OutputOracleProxy.json
  packages/contracts-bedrock/deployments/goerli-public-rehearsal/OptimismMintableERC20Factory.json
  packages/contracts-bedrock/deployments/goerli-public-rehearsal/OptimismMintableERC20FactoryProxy.json
  packages/contracts-bedrock/deployments/goerli-public-rehearsal/OptimismPortal.json
  packages/contracts-bedrock/deployments/goerli-public-rehearsal/OptimismPortalProxy.json
  packages/contracts-bedrock/deployments/goerli-public-rehearsal/PortalSender.json
  packages/contracts-bedrock/deployments/goerli-public-rehearsal/ProxyAdmin.json
  packages/contracts-bedrock/deployments/goerli-public-rehearsal/SystemConfig.json
  packages/contracts-bedrock/deployments/goerli-public-rehearsal/SystemConfigProxy.json
  packages/contracts-bedrock/deployments/goerli-public-rehearsal/SystemDictator.json
  packages/contracts-bedrock/deployments/goerli-public-rehearsal/SystemDictatorProxy.json
  packages/contracts-bedrock/deployments/goerli-public-rehearsal/solcInputs/31019ee6c188b31fc9b304ddc761be1b.json
  packages/contracts-bedrock/deployments/goerli-public-rehearsal/solcInputs/f48b625494fa0f93f32ba36a195232c3.json
Labels: on-merge-train

#4233 feat(ctb): `ctb-test-case-generator` package
  .changeset/large-falcons-remain.md
  go.work
  packages/contracts-bedrock/.gitignore
  packages/contracts-bedrock/test-case-generator/README.md
  packages/contracts-bedrock/test-case-generator/cmd/fuzz.go
  packages/contracts-bedrock/test-case-generator/go.mod
  packages/contracts-bedrock/test-case-generator/go.sum
  packages/contracts-bedrock/test-case-generator/trie/trie.go
Labels: on-merge-train

#4376 feat(cmn): BSv2 private options by default
  .changeset/nervous-moose-bake.md
  packages/common-ts/src/base-service/base-service-v2.ts
  packages/drippie-mon/src/service.ts
  packages/fault-detector/src/service.ts
  packages/message-relayer/src/service.ts
  packages/replica-healthcheck/src/service.ts
Labels: on-merge-train, common-ts

#4234 feat(ctb): MPT Fuzzing contract changes
  op-bindings/bindings/optimismportal.go
  op-bindings/bindings/optimismportal_more.go
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/libraries/trie/MerkleTrie.sol
  packages/contracts-bedrock/contracts/test/CommonTest.t.sol
  packages/contracts-bedrock/contracts/test/MerkleTrie.t.sol
  packages/contracts-bedrock/package.json
  packages/contracts-bedrock/test-case-generator/README.md
Labels: on-merge-train, sdk, common-ts, indexer

#4389 feat(ctb): move gov contracts to top level folder
  op-bindings/bindings/governancetoken_more.go
  packages/contracts-bedrock/contracts/governance/GovernanceToken.sol
  packages/contracts-bedrock/contracts/governance/MintManager.sol
  yarn.lock
Labels: on-merge-train

#4394 feat(ctb): gov token interface tests
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/test/GovernanceToken.t.sol
Labels: on-merge-train

#4399 ctb: Fix linter warnings in echidna contracts
  packages/contracts-bedrock/.solhint.json
  packages/contracts-bedrock/contracts/echidna/FuzzAddressAliasing.sol
  packages/contracts-bedrock/contracts/echidna/FuzzBurn.sol
  packages/contracts-bedrock/contracts/echidna/FuzzEncoding.sol
  packages/contracts-bedrock/contracts/echidna/FuzzHashing.sol
  packages/contracts-bedrock/contracts/echidna/FuzzResourceMetering.sol
Labels: on-merge-train

#4403 test(ctb): MintManager tests
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/test/MintManager.t.sol
Labels: on-merge-train

#4405 ctb: Add echidna test ensuring depositTransaction completes
  .changeset/famous-insects-try.md
  .circleci/config.yml
  packages/contracts-bedrock/contracts/echidna/FuzzOptimismPortal.sol
Labels: on-merge-train

#4415 Add PrivateKeySignerFn method to op-service/crypto package
  op-service/crypto/signature.go
  op-service/go.mod
  op-service/go.sum
Labels: on-merge-train

#4413 feat(ctb): port L1ERC721Bridge tests
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/test/L1ERC721Bridge.t.sol
Labels: on-merge-train

#4416 contracts-bedrock: fee vault track total value
  op-bindings/bindings/basefeevault.go
  op-bindings/bindings/l1feevault.go
  op-bindings/bindings/sequencerfeevault.go
  op-bindings/bindings/sequencerfeevault_more.go
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/.storage-layout
  packages/contracts-bedrock/contracts/L2/SequencerFeeVault.sol
  packages/contracts-bedrock/contracts/test/SequencerFeeVault.t.sol
  packages/contracts-bedrock/contracts/universal/FeeVault.sol
  packages/contracts-bedrock/scripts/storage-snapshot.sh
Labels: on-merge-train

#4423 contracts-bedrock: delete unused imports
  packages/contracts-bedrock/contracts/L2/BaseFeeVault.sol
  packages/contracts-bedrock/contracts/L2/L1FeeVault.sol
Labels: on-merge-train

#4426 feat(ctb): Add tests for `Bytes` library
  .changeset/shy-impalas-fetch.md
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/test/Bytes.t.sol
Labels: on-merge-train

#4371 feat(contracts-periphery): Add Optimist contract
  .changeset/wet-apples-cheat.md
  packages/contracts-periphery/contracts/foundry-tests/Optimist.t.sol
  packages/contracts-periphery/contracts/universal/op-nft/Optimist.sol
  packages/contracts-periphery/package.json
Labels: on-merge-train

#4370 feat(contracts-periphery): Add deploy script for AttestationStation
  .changeset/nervous-wasps-check.md
  packages/contracts-periphery/config/deploy/ethereum.ts
  packages/contracts-periphery/config/deploy/hardhat.ts
  packages/contracts-periphery/config/deploy/kovan.ts
  packages/contracts-periphery/config/deploy/optimism-goerli.ts
  packages/contracts-periphery/config/deploy/optimism-kovan.ts
  packages/contracts-periphery/config/deploy/optimism.ts
  packages/contracts-periphery/deploy/op-nft/AttestationStationImpl.ts
  packages/contracts-periphery/deploy/op-nft/AttestationStationProxy.ts
  packages/contracts-periphery/src/config/deploy.ts
Labels: do-not-merge, common-ts

#4373 feat(contracts-periphery): Add Optimist SBT deploy script
  .changeset/thick-ligers-smell.md
  packages/contracts-periphery/config/deploy/ethereum.ts
  packages/contracts-periphery/config/deploy/hardhat.ts
  packages/contracts-periphery/config/deploy/kovan.ts
  packages/contracts-periphery/config/deploy/optimism-goerli.ts
  packages/contracts-periphery/config/deploy/optimism-kovan.ts
  packages/contracts-periphery/config/deploy/optimism.ts
  packages/contracts-periphery/deploy/op-nft/OptimistImpl.ts
  packages/contracts-periphery/deploy/op-nft/OptimistProxy.ts
  packages/contracts-periphery/src/config/deploy.ts
Labels: common-ts

#4419 op-chain-ops: withdrawal tx helper
  op-chain-ops/crossdomain/withdrawal.go
Labels: on-merge-train

#4432 Stop TestSystemMockP2P from flaking
  op-e2e/system_test.go
Labels: on-merge-train

#4438 ctp: bump semver to 1.0.0 for nft contracts
  packages/contracts-periphery/contracts/foundry-tests/Optimist.t.sol
  packages/contracts-periphery/contracts/universal/op-nft/AttestationStation.sol
  packages/contracts-periphery/contracts/universal/op-nft/Optimist.sol
Labels: on-merge-train

#4451 feat(ctb): break out token interfaces
  packages/contracts-bedrock/contracts/L2/L2ERC721Bridge.sol
  packages/contracts-bedrock/contracts/test/OptimismMintableERC20.t.sol
  packages/contracts-bedrock/contracts/universal/IOptimismMintableERC20.sol
  packages/contracts-bedrock/contracts/universal/IOptimismMintableERC721.sol
  packages/contracts-bedrock/contracts/universal/OptimismMintableERC20.sol
  packages/contracts-bedrock/contracts/universal/OptimismMintableERC721.sol
  packages/contracts-bedrock/contracts/universal/StandardBridge.sol
Labels: on-merge-train

#4440 ctp: delete dead network artifacts + config
  packages/contracts-periphery/config/deploy/kovan.ts
  packages/contracts-periphery/config/deploy/optimism-kovan.ts
  packages/contracts-periphery/deployments/kovan/.chainId
  packages/contracts-periphery/deployments/kovan/CheckBalanceHigh.json
  packages/contracts-periphery/deployments/kovan/CheckBalanceLow.json
  packages/contracts-periphery/deployments/kovan/CheckGelatoLow.json
  packages/contracts-periphery/deployments/kovan/CheckTrue.json
  packages/contracts-periphery/deployments/kovan/Drippie.json
  packages/contracts-periphery/deployments/kovan/PeripheryProxyAdmin.json
  packages/contracts-periphery/deployments/kovan/TeleportrWithdrawer.json
  packages/contracts-periphery/deployments/kovan/solcInputs/416b06ac480c030cd0fc465100e7be9f.json
  packages/contracts-periphery/deployments/kovan/solcInputs/9bf33bb642648b258386a9c465b5d346.json
  packages/contracts-periphery/deployments/kovan/solcInputs/abf923dacd3c5c38ad59533119756db7.json
  packages/contracts-periphery/deployments/kovan/solcInputs/c6fd6c61d1988656e270189e3651a1e1.json
  packages/contracts-periphery/deployments/optimism-kovan/.chainId
  packages/contracts-periphery/deployments/optimism-kovan/CheckBalanceHigh.json
  packages/contracts-periphery/deployments/optimism-kovan/CheckBalanceLow.json
  packages/contracts-periphery/deployments/optimism-kovan/CheckGelatoLow.json
  packages/contracts-periphery/deployments/optimism-kovan/CheckTrue.json
  packages/contracts-periphery/deployments/optimism-kovan/Drippie.json
  packages/contracts-periphery/deployments/optimism-kovan/PeripheryProxyAdmin.json
  packages/contracts-periphery/deployments/optimism-kovan/TeleportrWithdrawer.json
  packages/contracts-periphery/deployments/optimism-kovan/solcInputs/0938c383fb4942a90694b5a8af642a7f.json
  packages/contracts-periphery/deployments/optimism-kovan/solcInputs/9bf33bb642648b258386a9c465b5d346.json
  packages/contracts-periphery/deployments/optimism-kovan/solcInputs/ab9b77493f35e63b7a63fb2fa8d618b4.json
  packages/contracts-periphery/deployments/optimism-kovan/solcInputs/abf923dacd3c5c38ad59533119756db7.json
  packages/contracts-periphery/deployments/optimism-kovan/solcInputs/c57aceeefb41333c52700bf88a7434fe.json
  packages/contracts-periphery/deployments/optimism-kovan/solcInputs/c6fd6c61d1988656e270189e3651a1e1.json
  packages/contracts-periphery/hardhat.config.ts
Labels: on-merge-train

#4460 feat(ctb): inline verification function
  op-bindings/bindings/optimismportal.go
  op-bindings/bindings/optimismportal_more.go
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/L1/OptimismPortal.sol
Labels: on-merge-train

#4461 feat(contracts-periphery): Clean up optimist tests
  packages/contracts-periphery/contracts/foundry-tests/Optimist.t.sol
Labels: on-merge-train

#4421 test(ctb): port L2ERC721Bridge tests
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/test/L2ERC721Bridge.t.sol
Labels: on-merge-train

#4450 maint(ctp): clean up Optimist comments
  packages/contracts-periphery/contracts/universal/op-nft/Optimist.sol
Labels: on-merge-train

#4455 feat(contracts-periphery): Make optimist deploy scripts safer
  .changeset/silver-mayflies-raise.md
  packages/contracts-periphery/deploy/op-nft/AttestationStationProxy.ts
  packages/contracts-periphery/deploy/op-nft/OptimistImpl.ts
  packages/contracts-periphery/deploy/op-nft/OptimistProxy.ts
Labels: on-merge-train

#4483 feat(ctp): Optimist goerli deployment
  packages/contracts-periphery/config/deploy/optimism-goerli.ts
  packages/contracts-periphery/deploy/op-nft/AttestationStationImpl.ts
  packages/contracts-periphery/deploy/op-nft/AttestationStationProxy.ts
  packages/contracts-periphery/deploy/op-nft/OptimistProxy.ts
  packages/contracts-periphery/deployments/optimism-goerli/AttestationStation.json
  packages/contracts-periphery/deployments/optimism-goerli/AttestationStationProxy.json
  packages/contracts-periphery/deployments/optimism-goerli/Optimist.json
  packages/contracts-periphery/deployments/optimism-goerli/OptimistProxy.json
  packages/contracts-periphery/deployments/optimism-goerli/solcInputs/45837d34ff24b9cb2ae34232b60ea874.json
  yarn.lock
Labels: on-merge-train

#4486 feat(fd): have fault detector wait for providers
  .changeset/proud-socks-sip.md
  .changeset/silver-kids-search.md
  packages/common-ts/src/common/index.ts
  packages/common-ts/src/common/provider.ts
  packages/fault-detector/src/service.ts
Labels: on-merge-train, common-ts

#4482 feat(ctb): last OptimismPortal nitpicks
  op-bindings/bindings/optimismportal.go
  op-bindings/bindings/optimismportal_more.go
  packages/contracts-bedrock/contracts/L1/OptimismPortal.sol
  packages/contracts-bedrock/contracts/test/L1ERC721Bridge.t.sol
  packages/contracts-bedrock/contracts/test/OptimismMintableERC20.t.sol
  packages/contracts-bedrock/contracts/test/OptimismPortal.t.sol
Labels: on-merge-train

#4495 ci: Add op-e2e to codecov's ignored paths
  codecov.yml
Labels: on-merge-train

#4503 fix(ctb): linting errors
  packages/contracts-bedrock/contracts/test/L2ERC721Bridge.t.sol
  packages/contracts-bedrock/contracts/test/MerkleTrie.t.sol
Labels: on-merge-train

#4505 fix(ctb): remove new build file on clean
  packages/contracts-bedrock/package.json
Labels: on-merge-train

#4508 op-node: guard against panics in the p2p gossip validator
  op-node/p2p/gossip.go
  op-node/p2p/gossip_test.go
Labels: on-merge-train

#4502 test(ctb): OptimismMintableERC721 tests
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/test/OptimismMintableERC721.t.sol
Labels: on-merge-train

#4517 test(ctb): ERC721 factory tests
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/test/CommonTest.t.sol
  packages/contracts-bedrock/contracts/test/OptimismMintableERC721Factory.t.sol
Labels: on-merge-train

#4518 op-bindings: add test coverage of the L1 fee constants
  op-bindings/predeploys/addresses_test.go
Labels: on-merge-train

#4521 contracts-periphery: update version on test contracts
  packages/contracts-periphery/contracts/testing/helpers/CallRecorder.sol
  packages/contracts-periphery/contracts/testing/helpers/ExternalContractCompiler.sol
  packages/contracts-periphery/contracts/testing/helpers/FailingReceiver.sol
  packages/contracts-periphery/contracts/testing/helpers/Reverter.sol
  packages/contracts-periphery/contracts/testing/helpers/SimpleStorage.sol
  packages/contracts-periphery/contracts/testing/helpers/TestERC20.sol
  packages/contracts-periphery/contracts/testing/helpers/TestERC721.sol
Labels: on-merge-train

#4530 [op-node] Fix bug in batching retries
  op-node/sources/batching.go
Labels: on-merge-train

#4534 fix(specs): Add white bg to `batch-deriv-*.svg` images
  specs/assets/batch-deriv-chain.svg
  specs/assets/batch-deriv-pipeline.svg
Labels: on-merge-train

#4540 ci: Disable echidna jobs in CI
  .circleci/config.yml
Labels: on-merge-train

#4520 feat: p2p sequencer addr
  op-bindings/bindings/systemconfig.go
  op-bindings/bindings/systemconfig_more.go
  op-chain-ops/genesis/layer_one.go
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/.storage-layout
  packages/contracts-bedrock/contracts/L1/SystemConfig.sol
  packages/contracts-bedrock/contracts/deployment/SystemDictator.sol
  packages/contracts-bedrock/contracts/test/SystemConfig.t.sol
  packages/contracts-bedrock/deploy/017-SystemConfigImpl.ts
  packages/contracts-bedrock/deploy/019-SystemDictatorInit.ts
Labels: on-merge-train

#4516 bmon: Add package scaffolding for balance-monitor
  .changeset/weak-crabs-reflect.md
  packages/balance-monitor/.env.example
  packages/balance-monitor/.eslintignore
  packages/balance-monitor/.eslintrc.js
  packages/balance-monitor/.gitignore
  packages/balance-monitor/.prettierignore
  packages/balance-monitor/.prettierrc.js
  packages/balance-monitor/README.md
  packages/balance-monitor/package.json
  packages/balance-monitor/tsconfig.json
  yarn.lock
Labels: on-merge-train

#4544 tdocs: Update ToB invariants report to final version
  technical-documents/security-reviews/2022_09-Invariant_Testing-TrailOfBits.pdf
  technical-documents/security-reviews/2022_11-Invariant_Testing-TrailOfBits.pdf
Labels: on-merge-train

#4532 op-e2e: action test conflicting sequencers
  op-e2e/actions/reorg_test.go
Labels: on-merge-train

#4548 op-chain-ops: Log transition block timestamp
  op-chain-ops/genesis/db_migration.go
Labels: on-merge-train

#4542 op-batcher/op-proposer: New package structure
  op-batcher/batcher/batch_submitter.go
  op-batcher/batcher/channel_manager.go
  op-batcher/batcher/config.go
  op-batcher/batcher/driver.go
  op-batcher/batcher/seq_driver.go
  op-batcher/batcher/txmgr.go
  op-batcher/batcher/utils.go
  op-batcher/cmd/main.go
  op-e2e/actions/l2_proposer.go
  op-e2e/go.mod
  op-e2e/go.sum
  op-e2e/migration_test.go
  op-e2e/setup.go
  op-proposer/cmd/main.go
  op-proposer/proposer/config.go
  op-proposer/proposer/driver.go
  op-proposer/proposer/interface.go
  op-proposer/proposer/l2_output_submitter.go
  op-proposer/proposer/service.go
Labels: on-merge-train

#4550 specs: Update links
  specs/derivation.md
  specs/glossary.md
  specs/rollup-node.md
Labels: on-merge-train

#4543 ctb: Live migration utilities
  packages/contracts-bedrock/deploy/020-SystemDictatorSteps.ts
  packages/contracts-bedrock/src/deploy-utils.ts
  packages/contracts-bedrock/tasks/index.ts
  packages/contracts-bedrock/tasks/update-dynamic-oracle-config.ts
Labels: on-merge-train

#4555 [op-batcher / op-proposer] Provide context to signer function
  op-batcher/batcher/driver.go
  op-batcher/batcher/txmgr.go
  op-e2e/actions/l2_proposer.go
  op-proposer/proposer/driver.go
  op-proposer/proposer/l2_output_submitter.go
Labels: on-merge-train

#4557 op-e2e: Add Large L1 gap blocktime test
  op-e2e/actions/blocktime_test.go
  op-e2e/actions/l2_engine.go
Labels: on-merge-train

#4545 specs: Document starting timestamp and block num vars
  packages/contracts-bedrock/src/deploy-config.ts
  specs/proposals.md
Labels: on-merge-train

#4529 op-node: make p2p sequencer addr rollup runtime configurable
  go.work.sum
  op-chain-ops/genesis/config.go
  op-e2e/actions/l2_verifier.go
  op-e2e/e2eutils/addresses.go
  op-e2e/e2eutils/setup.go
  op-e2e/migration_test.go
  op-e2e/setup.go
  op-node/chaincfg/chains.go
  op-node/eth/account_proof.go
  op-node/eth/account_proof_test.go
  op-node/node/api.go
  op-node/node/node.go
  op-node/node/runtime_config.go
  op-node/node/server_test.go
  op-node/p2p/gossip.go
  op-node/p2p/host_test.go
  op-node/p2p/node.go
  op-node/rollup/derive/system_config.go
  op-node/rollup/types.go
  op-node/rollup/types_test.go
  op-node/sources/eth_client.go
  op-node/sources/eth_client_test.go
  op-node/testutils/mock_eth_client.go
  op-node/testutils/runtime_config.go
Labels: mergify-ignore

#4564 ci: Add more codeowners to specs
  .github/CODEOWNERS
Labels: on-merge-train

#4565 feat(ctb): deploy drippie to Goerli
  packages/contracts-periphery/config/deploy/goerli.ts
  packages/contracts-periphery/config/drippie/goerli.ts
  packages/contracts-periphery/deployments/goerli/CheckBalanceHigh.json
  packages/contracts-periphery/deployments/goerli/CheckBalanceLow.json
  packages/contracts-periphery/deployments/goerli/CheckGelatoLow.json
  packages/contracts-periphery/deployments/goerli/CheckTrue.json
  packages/contracts-periphery/deployments/goerli/Drippie.json
  packages/contracts-periphery/deployments/goerli/solcInputs/2373b7ba869baea4fec58e6e7f7b8988.json
  packages/contracts-periphery/tasks/install-drippie-config.ts
Labels: on-merge-train

#4556 bmon: Add basic alerting logic
  .changeset/great-cherries-bake.md
  .circleci/config.yml
  .github/workflows/release.yml
  ops/docker/Dockerfile.packages
  package.json
  packages/balance-monitor/.env.example
  packages/balance-monitor/package.json
  packages/balance-monitor/scripts/test.sh
  packages/balance-monitor/src/agent.spec.ts
  packages/balance-monitor/src/agent.ts
Labels: on-merge-train

#4570 op-node: allow sequencer to produce block with txs at sequencer time drift boundary
  op-e2e/actions/blocktime_test.go
  op-e2e/actions/l2_sequencer_test.go
  op-node/rollup/driver/sequencer.go
Labels: on-merge-train

#4569 op-e2e: action test derivation with flaky L1 RPC
  op-e2e/actions/l1_replica.go
  op-e2e/actions/sync_test.go
Labels: on-merge-train

#4568 op-e2e: action-test extended time without batches in L1 blocks
  op-e2e/actions/l2_batcher_test.go
Labels: on-merge-train
