Repository ethereum-optimism/optimism, pull requests merged in 2022-03, with the labels that each got.

#2239 l2geth: remove dead code
  .changeset/cool-cougars-lick.md
  l2geth/core/state_transition.go
Labels: 2-reviewers, M-l2geth

#2240 Develop -> Master
  .changeset/big-cycles-listen.md
  .changeset/brown-foxes-hang.md
  .changeset/cool-cougars-lick.md
  .changeset/grumpy-lemons-laugh.md
  .changeset/happy-yaks-clap.md
  .changeset/healthy-cycles-jam.md
  .changeset/hungry-apples-exist.md
  .changeset/khaki-boxes-learn.md
  .changeset/lovely-shrimps-explain.md
  .changeset/nasty-boats-type.md
  .changeset/quick-tables-double.md
  .changeset/spotty-trains-sneeze.md
  go/batch-submitter/drivers/proposer/driver.go
  go/batch-submitter/drivers/sequencer/driver.go
  go/batch-submitter/drivers/sequencer/metrics.go
  go/batch-submitter/go.mod
  go/batch-submitter/go.sum
  go/bss-core/metrics/interface.go
  go/bss-core/metrics/metrics.go
  go/bss-core/service.go
  go/gas-oracle/go.mod
  go/gas-oracle/go.sum
  go/proxyd/go.mod
  go/proxyd/go.sum
  integration-tests/test/ovmcontext.spec.ts
  integration-tests/test/rpc.spec.ts
  integration-tests/test/whitelist.spec.ts
  l2geth/core/state_transition.go
  l2geth/internal/ethapi/api.go
  l2geth/rollup/sync_service.go
  ops/docker/Dockerfile.replica-healthcheck
  ops/envs/dtl.env
  packages/contracts/deploy/011-set-addresses.ts
  packages/contracts/deploy/014-OVM_L1StandardBridge.deploy.ts
  packages/data-transport-layer/src/config/chain-constants.ts
  packages/data-transport-layer/src/config/index.ts
  packages/data-transport-layer/src/config/patch-contexts.ts
  packages/data-transport-layer/src/db/transport-db.ts
  packages/data-transport-layer/src/services/l1-ingestion/service.ts
  packages/data-transport-layer/src/services/l2-ingestion/service.ts
  packages/data-transport-layer/src/services/main/service.ts
  packages/data-transport-layer/src/services/run.ts
  packages/data-transport-layer/src/services/server/service.ts
  packages/sdk/src/l2-provider.ts
  yarn.lock
Labels: M-dtl, M-ops, M-contracts, 2-reviewers, M-l2geth, M-integration, M-sdk

#2242 Develop -> Master
  .changeset/big-cycles-listen.md
  .changeset/brown-foxes-hang.md
  .changeset/cool-cougars-lick.md
  .changeset/grumpy-lemons-laugh.md
  .changeset/happy-yaks-clap.md
  .changeset/healthy-cycles-jam.md
  .changeset/hungry-apples-exist.md
  .changeset/khaki-boxes-learn.md
  .changeset/lovely-shrimps-explain.md
  .changeset/nasty-boats-type.md
  .changeset/quick-tables-double.md
  .changeset/spotty-trains-sneeze.md
  go/batch-submitter/CHANGELOG.md
  go/batch-submitter/package.json
  go/gas-oracle/CHANGELOG.md
  go/gas-oracle/package.json
  go/proxyd/CHANGELOG.md
  go/proxyd/package.json
  integration-tests/CHANGELOG.md
  integration-tests/package.json
  l2geth/CHANGELOG.md
  l2geth/package.json
  packages/data-transport-layer/CHANGELOG.md
  packages/data-transport-layer/package.json
  packages/replica-healthcheck/CHANGELOG.md
  packages/replica-healthcheck/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Labels: M-dtl, 2-reviewers, M-l2geth, M-integration, M-sdk

#2244 feat: fix teleportr ci, and lint target
  .github/workflows/golangci-lint.yml
  .github/workflows/teleportr.yml
  go/teleportr/db/db.go
Labels: 2-reviewers, M-ci

#2233 feat: add Teleportr service
  .changeset/poor-walls-do.md
  .github/workflows/teleportr.yml
  .gitignore
  go/batch-submitter/batch_submitter.go
  go/batch-submitter/dial_l2_client.go
  go/bss-core/dial/common.go
  go/bss-core/dial/l1_client.go
  go/bss-core/go.mod
  go/bss-core/go.sum
  go/teleportr/.gitignore
  go/teleportr/Makefile
  go/teleportr/bindings/deposit/teleportr_deposit.go
  go/teleportr/bindings/disburse/teleportr_disburser.go
  go/teleportr/cmd/teleportr/main.go
  go/teleportr/config.go
  go/teleportr/db/db.go
  go/teleportr/db/db_test.go
  go/teleportr/drivers/disburser/driver.go
  go/teleportr/drivers/disburser/find_start_block_number.go
  go/teleportr/drivers/disburser/find_start_block_number_test.go
  go/teleportr/drivers/disburser/metrics.go
  go/teleportr/flags/flags.go
  go/teleportr/flags/flags_test.go
  go/teleportr/go.mod
  go/teleportr/go.sum
  go/teleportr/package.json
  go/teleportr/teleportr.go
Labels: 2-reviewers, M-ci

#2202 added internal/external import seperation on integration tests
  integration-tests/test/bridged-tokens.spec.ts
  integration-tests/test/contracts.spec.ts
  integration-tests/test/hardfork.spec.ts
  integration-tests/test/native-eth-ovm-calls.spec.ts
  integration-tests/test/predeploys.spec.ts
  integration-tests/test/rpc.spec.ts
Labels: M-integration

#2248 feat: always run go unit tests/golangci-lint on every PR
  .github/workflows/batch-submitter.yml
  .github/workflows/bss-core.yml
  .github/workflows/gas-oracle.yml
  .github/workflows/golangci-lint.yml
  .github/workflows/proxyd.yml
Labels: 2-reviewers, M-ci

#2199 Remove unnecessary contract references in integration-tests
  .changeset/rare-onions-bathe.md
  integration-tests/test/bridged-tokens.spec.ts
  integration-tests/test/fee-payment.spec.ts
  integration-tests/test/native-eth-ovm-calls.spec.ts
  integration-tests/test/native-eth.spec.ts
  integration-tests/test/ovmcontext.spec.ts
  integration-tests/test/queue-ingestion.spec.ts
  integration-tests/test/rpc.spec.ts
  integration-tests/test/shared/env.ts
  integration-tests/test/shared/stress-test-helpers.ts
  integration-tests/test/shared/utils.ts
  integration-tests/test/stress-tests.spec.ts
Labels: M-integration

#2250 integration-tests: Fix merge issue
  integration-tests/test/z-batch-serialization.spec.ts
Labels: M-integration

#2209 increase coverage of contracts package
  packages/contracts/contracts/test-libraries/utils/TestLib_Buffer.sol
  packages/contracts/test/contracts/L1/deployment/AddressDictator.spec.ts
  packages/contracts/test/contracts/L1/deployment/ChugSplashDictator.spec..ts
  packages/contracts/test/contracts/L1/messaging/L1CrossDomainMessenger.spec.ts
  packages/contracts/test/contracts/L1/messaging/L1StandardBridge.spec.ts
  packages/contracts/test/contracts/L1/rollup/CanonicalTransactionChain.spec.ts
  packages/contracts/test/contracts/L1/rollup/ChainStorageContainer.spec.ts
  packages/contracts/test/contracts/L1/rollup/StateCommitmentChain.spec.ts
  packages/contracts/test/contracts/L2/messaging/L2CrossDomainMessenger.spec.ts
  packages/contracts/test/contracts/L2/messaging/L2StandardBridge.spec.ts
  packages/contracts/test/contracts/L2/predeploys/WETH9.spec.ts
  packages/contracts/test/contracts/libraries/codec/Lib_OVMCodec.spec.ts
  packages/contracts/test/contracts/libraries/rlp/Lib_RLPWriter.spec.ts
  packages/contracts/test/contracts/libraries/trie/Lib_SecureMerkleTrie.spec.ts
  packages/contracts/test/contracts/libraries/utils/Lib_Buffer.spec.ts
  packages/contracts/test/contracts/libraries/utils/Lib_MerkleTree.spec.ts
  packages/contracts/test/data/index.ts
  packages/contracts/test/data/json/libraries/codec/Lib_OVMCodec.test.json
Labels: M-contracts, 2-reviewers

#1807 contracts: fetch batches hardhat task
  .changeset/few-pears-think.md
  .changeset/soft-dogs-hide.md
  packages/contracts/hardhat.config.ts
  packages/contracts/tasks/fetch-batches.ts
  packages/core-utils/src/optimism/batch-encoding.ts
Labels: M-core-utils, M-contracts, 2-reviewers

#2245 fix(rhc): fix dockerfile bug
  .changeset/early-pans-provide.md
  .github/workflows/publish-canary.yml
  ops/docker/Dockerfile.replica-healthcheck
Labels: M-ops, 2-reviewers, M-ci

#2254 feat: remove packages/batch-submitter
  .github/workflows/integration.yml
  .github/workflows/ts-packages.yml
  CONTRIBUTING.md
  README.md
  ops/Makefile
  ops/README.md
  ops/docker-compose-nobuild.yml
  ops/docker-compose.go-batch-submitter.yml
  ops/docker-compose.ts-batch-submitter.yml
  ops/docker-compose.yml
  ops/docker/Dockerfile.batch-submitter
  ops/docker/Dockerfile.monorepo
  ops/docker/Dockerfile.packages
  ops/envs/batches.env
  ops/scripts/batches.sh
  ops/scripts/build-ci.sh
  packages/batch-submitter/.env.example
  packages/batch-submitter/.eslintrc.js
  packages/batch-submitter/.lintstagedrc.yml
  packages/batch-submitter/.prettierrc.js
  packages/batch-submitter/CHANGELOG.md
  packages/batch-submitter/LICENSE
  packages/batch-submitter/README.md
  packages/batch-submitter/exec/run-batch-submitter.js
  packages/batch-submitter/hardhat.config.ts
  packages/batch-submitter/index.ts
  packages/batch-submitter/package.json
  packages/batch-submitter/src/batch-submitter/batch-submitter.ts
  packages/batch-submitter/src/batch-submitter/index.ts
  packages/batch-submitter/src/batch-submitter/state-batch-submitter.ts
  packages/batch-submitter/src/batch-submitter/tx-batch-submitter.ts
  packages/batch-submitter/src/exec/run-batch-submitter.ts
  packages/batch-submitter/src/index.ts
  packages/batch-submitter/src/transaction-chain-contract.ts
  packages/batch-submitter/src/utils/index.ts
  packages/batch-submitter/src/utils/tx-submission.ts
  packages/batch-submitter/test/batch-submitter/batch-submitter.spec.ts
  packages/batch-submitter/test/batch-submitter/mockchain-provider.ts
  packages/batch-submitter/test/helpers/constants.ts
  packages/batch-submitter/test/helpers/dummy/bytecode.ts
  packages/batch-submitter/test/helpers/dummy/bytes32.ts
  packages/batch-submitter/test/helpers/dummy/index.ts
  packages/batch-submitter/test/helpers/index.ts
  packages/batch-submitter/test/helpers/resolver/address-manager.ts
  packages/batch-submitter/test/helpers/resolver/index.ts
  packages/batch-submitter/test/setup.ts
  packages/batch-submitter/test/utils/tx-submission.spec.ts
  packages/batch-submitter/tsconfig.build.json
  packages/batch-submitter/tsconfig.json
  yarn.lock
Labels: M-batch-submitter, M-ops, 2-reviewers, M-ci

#2252 feat(sdk): add fn to wait for message status
  .changeset/moody-lobsters-lay.md
  integration-tests/test/basic-l1-l2-communication.spec.ts
  integration-tests/test/bridged-tokens.spec.ts
  integration-tests/test/shared/env.ts
  packages/sdk/src/cross-chain-messenger.ts
  packages/sdk/src/interfaces/cross-chain-messenger.ts
Labels: M-integration, M-sdk

#2255 fix(ct): remove yargs as unused dep
  .changeset/khaki-chefs-call.md
  packages/contracts/.depcheckrc
  packages/contracts/package.json
Labels: M-contracts, 2-reviewers

#2256 l2geth: Add support for system addresses
  .changeset/chatty-oranges-call.md
  integration-tests/test/shared/utils.ts
  integration-tests/test/system-addresses.spec.ts
  l2geth/core/state_processor.go
  l2geth/core/types/receipt.go
  l2geth/core/vm/evm.go
  l2geth/rollup/rcfg/config.go
  l2geth/rollup/rcfg/system_address.go
  l2geth/rollup/rcfg/system_address_test.go
  ops/docker-compose.yml
  ops/envs/geth.env
  packages/contracts/src/predeploys.ts
Labels: M-ops, M-contracts, 2-reviewers, M-l2geth, M-integration, SR-Risk

#2263 cleanup(contracts): remove unused code
  .changeset/healthy-otters-yawn.md
  packages/contracts/src/contract-defs.ts
  packages/contracts/test/helpers/constants.ts
  packages/contracts/test/helpers/trie/trie-test-generator.ts
  packages/contracts/test/helpers/utils/eth-time.ts
Labels: M-contracts, 2-reviewers

#2265 Develop -> Master
  .changeset/healthy-otters-yawn.md
  packages/contracts/src/contract-defs.ts
  packages/contracts/test/helpers/constants.ts
  packages/contracts/test/helpers/trie/trie-test-generator.ts
  packages/contracts/test/helpers/utils/eth-time.ts
Labels: M-contracts, 2-reviewers

#2266 feat: indexer service to replace etherscan dependency
  go/indexer/Makefile
  go/indexer/bindings/address_manager/address_manager.go
  go/indexer/bindings/l1bridge/l1_standard_bridge.go
  go/indexer/bindings/l1erc20/l1erc20.go
  go/indexer/bindings/l2bridge/l2_standard_bridge.go
  go/indexer/bindings/l2erc20/l2erc20.go
  go/indexer/bindings/scc/statecommitmentchain.go
  go/indexer/cmd/indexer/main.go
  go/indexer/config.go
  go/indexer/config_test.go
  go/indexer/contracts/ERC20.sol/ERC20.dbg.json
  go/indexer/contracts/ERC20.sol/ERC20.json
  go/indexer/crypto.go
  go/indexer/crypto_test.go
  go/indexer/db/db.go
  go/indexer/flags/flags.go
  go/indexer/flags/flags_test.go
  go/indexer/go.mod
  go/indexer/go.sum
  go/indexer/indexer.go
  go/indexer/metrics/metrics.go
  go/indexer/package.json
  go/indexer/sentry_log.go
  go/indexer/server/server.go
  go/indexer/services/l1/bridge/addresses.go
  go/indexer/services/l1/bridge/bridge.go
  go/indexer/services/l1/bridge/const.go
  go/indexer/services/l1/bridge/eth_bridge.go
  go/indexer/services/l1/bridge/filter.go
  go/indexer/services/l1/bridge/log.go
  go/indexer/services/l1/bridge/standard_bridge.go
  go/indexer/services/l1/confirmed_headers.go
  go/indexer/services/l1/query.go
  go/indexer/services/l1/service.go
  go/indexer/services/l2/bridge/bridge.go
  go/indexer/services/l2/bridge/const.go
  go/indexer/services/l2/bridge/filter.go
  go/indexer/services/l2/bridge/log.go
  go/indexer/services/l2/bridge/standard_bridge.go
  go/indexer/services/l2/confirmed_headers.go
  go/indexer/services/l2/query.go
  go/indexer/services/l2/service.go
  ops/docker/Dockerfile.indexer
  ops/envs/indexer.env
Labels: M-ops, 2-reviewers

#2267 batch-submitter: Remove bad changeset, remove old build
  .changeset/heavy-bugs-mate.md
  .github/workflows/publish-canary.yml
  .github/workflows/release.yml
Labels: 2-reviewers, M-ci

#2268 Develop -> Master
  .changeset/heavy-bugs-mate.md
  .github/workflows/publish-canary.yml
  .github/workflows/release.yml
  go/indexer/Makefile
  go/indexer/bindings/address_manager/address_manager.go
  go/indexer/bindings/l1bridge/l1_standard_bridge.go
  go/indexer/bindings/l1erc20/l1erc20.go
  go/indexer/bindings/l2bridge/l2_standard_bridge.go
  go/indexer/bindings/l2erc20/l2erc20.go
  go/indexer/bindings/scc/statecommitmentchain.go
  go/indexer/cmd/indexer/main.go
  go/indexer/config.go
  go/indexer/config_test.go
  go/indexer/contracts/ERC20.sol/ERC20.dbg.json
  go/indexer/contracts/ERC20.sol/ERC20.json
  go/indexer/crypto.go
  go/indexer/crypto_test.go
  go/indexer/db/db.go
  go/indexer/flags/flags.go
  go/indexer/flags/flags_test.go
  go/indexer/go.mod
  go/indexer/go.sum
  go/indexer/indexer.go
  go/indexer/metrics/metrics.go
  go/indexer/package.json
  go/indexer/sentry_log.go
  go/indexer/server/server.go
  go/indexer/services/l1/bridge/addresses.go
  go/indexer/services/l1/bridge/bridge.go
  go/indexer/services/l1/bridge/const.go
  go/indexer/services/l1/bridge/eth_bridge.go
  go/indexer/services/l1/bridge/filter.go
  go/indexer/services/l1/bridge/log.go
  go/indexer/services/l1/bridge/standard_bridge.go
  go/indexer/services/l1/confirmed_headers.go
  go/indexer/services/l1/query.go
  go/indexer/services/l1/service.go
  go/indexer/services/l2/bridge/bridge.go
  go/indexer/services/l2/bridge/const.go
  go/indexer/services/l2/bridge/filter.go
  go/indexer/services/l2/bridge/log.go
  go/indexer/services/l2/bridge/standard_bridge.go
  go/indexer/services/l2/confirmed_headers.go
  go/indexer/services/l2/query.go
  go/indexer/services/l2/service.go
  ops/docker/Dockerfile.indexer
  ops/envs/indexer.env
Labels: M-ops, 2-reviewers, M-ci

#2270 Develop -> Master
  .changeset/chatty-oranges-call.md
  .changeset/early-pans-provide.md
  .changeset/few-pears-think.md
  .changeset/few-steaks-push.md
  .changeset/flat-penguins-wave.md
  .changeset/healthy-otters-yawn.md
  .changeset/khaki-chefs-call.md
  .changeset/moody-lobsters-lay.md
  .changeset/poor-walls-do.md
  .changeset/rare-onions-bathe.md
  .changeset/soft-dogs-hide.md
  .changeset/ten-rats-build.md
  .changeset/thin-trees-matter.md
  go/batch-submitter/CHANGELOG.md
  go/batch-submitter/package.json
  integration-tests/CHANGELOG.md
  integration-tests/package.json
  l2geth/CHANGELOG.md
  l2geth/package.json
  packages/contracts/CHANGELOG.md
  packages/contracts/package.json
  packages/core-utils/CHANGELOG.md
  packages/core-utils/package.json
  packages/data-transport-layer/CHANGELOG.md
  packages/data-transport-layer/package.json
  packages/message-relayer/CHANGELOG.md
  packages/message-relayer/package.json
  packages/replica-healthcheck/CHANGELOG.md
  packages/replica-healthcheck/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Labels: M-core-utils, M-dtl, M-contracts, 2-reviewers, M-l2geth, M-integration, M-sdk

#2259 refactor(tests): migrate from smock v1 to smock v2
  packages/contracts/package.json
  packages/contracts/test/contracts/L1/messaging/L1CrossDomainMessenger.spec.ts
  packages/contracts/test/contracts/L1/messaging/L1StandardBridge.spec.ts
  packages/contracts/test/contracts/L1/messaging/deposit.gas.spec.ts
  packages/contracts/test/contracts/L1/rollup/CanonicalTransactionChain.gas.spec.ts
  packages/contracts/test/contracts/L1/rollup/CanonicalTransactionChain.spec.ts
  packages/contracts/test/contracts/L1/rollup/StateCommitmentChain.spec.ts
  packages/contracts/test/contracts/L2/messaging/L2CrossDomainMessenger.spec.ts
  packages/contracts/test/contracts/L2/messaging/L2StandardBridge.spec.ts
  packages/contracts/test/contracts/L2/messaging/L2StandardTokenFactory.spec.ts
  packages/contracts/test/contracts/L2/predeploys/OVM_L2ToL1MessagePasser.spec.ts
  packages/contracts/test/contracts/L2/predeploys/OVM_SequencerFeeVault.spec.ts
  packages/contracts/test/contracts/chugsplash/L1ChugSplashProxy.spec.ts
  packages/contracts/test/helpers/resolver/address-manager.ts
  yarn.lock
Labels: M-contracts, 2-reviewers

#2277 feat(sdk): support autogenerated docs
  .changeset/chilled-bats-warn.md
  packages/sdk/.depcheckrc
  packages/sdk/.gitignore
  packages/sdk/package.json
  packages/sdk/src/cross-chain-messenger.ts
  yarn.lock
Labels: M-sdk

#2278 feat(sdk): update README and release 1.0.0
  .changeset/odd-grapes-wonder.md
  packages/sdk/README.md
Labels: M-sdk

#2282 develop => master
  .changeset/chilled-bats-warn.md
  .changeset/odd-grapes-wonder.md
  .eslintrc.js
  go/indexer/metrics/metrics.go
  go/indexer/package.json
  go/indexer/services/l1/service.go
  go/indexer/services/l2/service.go
  package.json
  packages/contracts/package.json
  packages/contracts/test/contracts/L1/messaging/L1CrossDomainMessenger.spec.ts
  packages/contracts/test/contracts/L1/messaging/L1StandardBridge.spec.ts
  packages/contracts/test/contracts/L1/messaging/deposit.gas.spec.ts
  packages/contracts/test/contracts/L1/rollup/CanonicalTransactionChain.gas.spec.ts
  packages/contracts/test/contracts/L1/rollup/CanonicalTransactionChain.spec.ts
  packages/contracts/test/contracts/L1/rollup/StateCommitmentChain.spec.ts
  packages/contracts/test/contracts/L2/messaging/L2CrossDomainMessenger.spec.ts
  packages/contracts/test/contracts/L2/messaging/L2StandardBridge.spec.ts
  packages/contracts/test/contracts/L2/messaging/L2StandardTokenFactory.spec.ts
  packages/contracts/test/contracts/L2/predeploys/OVM_L2ToL1MessagePasser.spec.ts
  packages/contracts/test/contracts/L2/predeploys/OVM_SequencerFeeVault.spec.ts
  packages/contracts/test/contracts/chugsplash/L1ChugSplashProxy.spec.ts
  packages/contracts/test/helpers/resolver/address-manager.ts
  packages/sdk/.depcheckrc
  packages/sdk/.gitignore
  packages/sdk/README.md
  packages/sdk/package.json
  packages/sdk/src/cross-chain-messenger.ts
  yarn.lock
Labels: M-contracts, 2-reviewers, M-sdk

#2285 release
  .changeset/chilled-bats-warn.md
  .changeset/odd-grapes-wonder.md
  integration-tests/package.json
  packages/message-relayer/CHANGELOG.md
  packages/message-relayer/package.json
  packages/replica-healthcheck/CHANGELOG.md
  packages/replica-healthcheck/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Labels: 2-reviewers, M-integration, M-sdk

#2210 feat: introduce the new BaseServiceV2 class
  .changeset/clean-hats-search.md
  .changeset/twenty-walls-turn.md
  .changeset/yellow-apples-march.md
  ops/docker-compose.yml
  ops/scripts/relayer.sh
  packages/common-ts/package.json
  packages/common-ts/src/base-service/base-service-v2.ts
  packages/common-ts/src/base-service/base-service.ts
  packages/common-ts/src/base-service/index.ts
  packages/common-ts/src/base-service/metrics.ts
  packages/common-ts/src/base-service/validators.ts
  packages/contracts/docs/Initializable.md
  packages/message-relayer/bin/run.ts
  packages/message-relayer/package.json
  packages/message-relayer/src/service.ts
  packages/sdk/src/interfaces/types.ts
  yarn.lock
Labels: M-ops, M-contracts, 2-reviewers, M-sdk

#2283 ops: Build cleanups
  .circleci/config.yml
  .github/CODEOWNERS
  .github/workflows/ext-test-snx.yml
  .github/workflows/publish-canary.yml
  .github/workflows/release.yml
  .github/workflows/sync-tests.yml
  CONTRIBUTING.md
  ops/docker-compose-nobuild.yml
  ops/docker-compose-rpc-proxy.yml
  ops/docker-compose.yml
  ops/docker/Dockerfile.data-transport-layer
  ops/docker/Dockerfile.deployer
  ops/docker/Dockerfile.integration-tests
  ops/docker/Dockerfile.message-relayer
  ops/docker/Dockerfile.monorepo
  ops/docker/Dockerfile.packages
  ops/docker/Dockerfile.replica-healthcheck
  ops/docker/Dockerfile.rpc-proxy
  ops/docker/builder/CHANGELOG.md
  ops/docker/builder/package.json
  ops/docker/rpc-proxy/CHANGELOG.md
  ops/docker/rpc-proxy/docker-entrypoint.sh
  ops/docker/rpc-proxy/eth-jsonrpc-access.lua
  ops/docker/rpc-proxy/nginx.template.conf
  ops/docker/rpc-proxy/package.json
  ops/scripts/build-ci.sh
  ops/scripts/ci-versions.js
Labels: M-ops, 2-reviewers, M-ci

#2279 maint: use release instead of regenesis branches
  .github/workflows/batch-submitter.yml
  .github/workflows/bss-core.yml
  .github/workflows/gas-oracle.yml
  .github/workflows/geth.yml
  .github/workflows/golangci-lint.yml
  .github/workflows/integration.yml
  .github/workflows/teleportr.yml
  .github/workflows/ts-packages.yml
  CONTRIBUTING.md
  README.md
Labels: 2-reviewers, M-ci

#2126 maintenance: contracts README update 1
  .changeset/tiny-chicken-occur.md
  packages/contracts/README.md
Labels: M-contracts, 2-reviewers

#2288 fix(sdk): update package json with correct repo
  .changeset/slimy-taxis-study.md
  packages/sdk/package.json
Labels: M-sdk

#2276 fix(mr): update README to reflect latest version
  .gitignore
  packages/message-relayer/.env.example
  packages/message-relayer/README.md
Labels: 2-reviewers

#2290 main(ct): finish updating contracts readme
  packages/contracts/README.md
Labels: M-contracts, 2-reviewers

#2293 Create "barrel" index file for hardhat tasks
  packages/contracts/hardhat.config.ts
  packages/contracts/tasks/index.ts
Labels: M-contracts, 2-reviewers

#2289 feat: add MIN_L1_TX_SIZE configuration
  .changeset/gentle-brooms-lick.md
  go/batch-submitter/batch_submitter.go
  go/batch-submitter/config.go
  go/batch-submitter/drivers/sequencer/driver.go
  go/batch-submitter/flags/flags.go
  go/bss-core/service.go
  ops/envs/batch-submitter.env
Labels: M-ops, 2-reviewers

#2297 Delete unused variables
  packages/contracts/test/data/index.ts
  packages/contracts/test/data/json/libraries/trie/Lib_MerkleTrie.test.json
Labels: M-contracts, 2-reviewers

#2300 ops: Fix gas oracle in docker compose
  ops/docker-compose.yml
Labels: M-ops, 2-reviewers

#2309 Develop -> Master
  .changeset/clean-hats-search.md
  .changeset/fair-bees-promise.md
  .changeset/forty-badgers-tease.md
  .changeset/gentle-brooms-lick.md
  .changeset/perfect-ties-decide.md
  .changeset/purple-peaches-serve.md
  .changeset/slimy-taxis-study.md
  .changeset/tiny-chicken-occur.md
  .changeset/twenty-walls-turn.md
  .changeset/yellow-apples-march.md
  go/batch-submitter/CHANGELOG.md
  go/batch-submitter/package.json
  go/proxyd/CHANGELOG.md
  go/proxyd/package.json
  integration-tests/package.json
  packages/common-ts/CHANGELOG.md
  packages/common-ts/package.json
  packages/contracts/CHANGELOG.md
  packages/contracts/package.json
  packages/data-transport-layer/CHANGELOG.md
  packages/data-transport-layer/package.json
  packages/message-relayer/CHANGELOG.md
  packages/message-relayer/package.json
  packages/replica-healthcheck/CHANGELOG.md
  packages/replica-healthcheck/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Labels: M-dtl, M-contracts, 2-reviewers, M-integration, M-sdk

#2304 chore: change service generated env variables
  .changeset/serious-needles-rush.md
  ops/docker-compose.yml
  ops/scripts/relayer.sh
  packages/common-ts/src/base-service/base-service-v2.ts
  packages/message-relayer/.env.example
  packages/replica-healthcheck/.env.example
Labels: M-ops, 2-reviewers

#2311 maint: clear dependency warnings
  package.json
  packages/contracts/.depcheckrc
  packages/contracts/package.json
  yarn.lock
Labels: M-contracts, 2-reviewers

#2313 Set the message-relayer package to private
  packages/message-relayer/package.json
Labels: 2-reviewers

#2319 ci: publish indexer docker image
  .github/workflows/publish-canary.yml
  .github/workflows/release.yml
Labels: 2-reviewers, M-ci

#2322 dtl: Support Basic Authentication for RPC endpoints
  .changeset/old-weeks-study.md
  packages/data-transport-layer/README.md
  packages/data-transport-layer/src/services/l1-ingestion/service.ts
  packages/data-transport-layer/src/services/l2-ingestion/service.ts
  packages/data-transport-layer/src/services/main/service.ts
  packages/data-transport-layer/src/services/run.ts
Labels: M-dtl, 2-reviewers

#2327 [fix] Refactored Dockerfiles
  .changeset/fresh-dots-hear.md
  .changeset/mighty-news-jam.md
  ops/docker/Dockerfile.batch-submitter-service
  ops/docker/Dockerfile.gas-oracle
  ops/docker/Dockerfile.geth
  ops/docker/Dockerfile.l2geth-exporter
  ops/docker/Dockerfile.op-exporter
  ops/docker/Dockerfile.packages
  ops/docker/hardhat/Dockerfile
Labels: M-ops, 2-reviewers

#2325 indexer changeset
  .changeset/great-llamas-watch.md
  .github/workflows/indexer.yml
Labels: 2-reviewers, M-ci

#2336 maint: update readme links and remove smockv1 package
  README.md
  l2geth/README.md
  packages/contracts/README.md
  packages/data-transport-layer/README.md
  packages/smock/README.md
Labels: M-dtl, M-contracts, 2-reviewers, M-l2geth

#2341 contracts: batch compression ratios in fetch-batches task
  packages/contracts/tasks/fetch-batches.ts
Labels: M-contracts, 2-reviewers

#2296 l2geth: Sync from Backend Queue
  .changeset/silent-pillows-lay.md
  go/batch-submitter/go.sum
  l2geth/cmd/geth/main.go
  l2geth/cmd/geth/usage.go
  l2geth/cmd/utils/flags.go
  l2geth/core/types/transaction_meta.go
  l2geth/eth/backend.go
  l2geth/eth/config.go
  l2geth/go.mod
  l2geth/go.sum
  l2geth/rollup/metrics.go
  l2geth/rollup/pub/google.go
  l2geth/rollup/pub/pub.go
  l2geth/rollup/sub.go
  l2geth/rollup/sync_service.go
  l2geth/rollup/sync_service_test.go
  l2geth/rollup/types.go
Labels: 2-reviewers, M-l2geth

#2340 feat: add Min/MaxStateRootElements configurations
  .changeset/real-seals-return.md
  go/batch-submitter/batch_submitter.go
  go/batch-submitter/config.go
  go/batch-submitter/drivers/proposer/driver.go
  go/batch-submitter/flags/flags.go
  ops/envs/batch-submitter.env
Labels: M-ops, 2-reviewers

#2343 fix(rhc): bug in replica-healthcheck dockerfile
  .changeset/healthy-rings-fix.md
  ops/docker/Dockerfile.packages
Labels: M-ops, 2-reviewers

#2350 Develop -> Master
  .changeset/blue-carrots-vanish.md
  .changeset/cuddly-hotels-tell.md
  .changeset/fresh-dots-hear.md
  .changeset/good-knives-add.md
  .changeset/great-llamas-watch.md
  .changeset/healthy-rings-fix.md
  .changeset/lazy-years-call.md
  .changeset/lucky-cameras-grin.md
  .changeset/mighty-sloths-float.md
  .changeset/ninety-kids-deny.md
  .changeset/old-weeks-study.md
  .changeset/real-seals-return.md
  .changeset/selfish-paws-reply.md
  .changeset/serious-needles-rush.md
  .changeset/silent-pillows-lay.md
  .changeset/slimy-walls-appear.md
  .changeset/small-deers-shout.md
  .changeset/stale-ladybugs-smell.md
  .changeset/tame-schools-switch.md
  .changeset/three-roses-remember.md
  go/batch-submitter/CHANGELOG.md
  go/batch-submitter/package.json
  go/gas-oracle/CHANGELOG.md
  go/gas-oracle/package.json
  go/indexer/CHANGELOG.md
  go/indexer/package.json
  go/teleportr/CHANGELOG.md
  go/teleportr/package.json
  integration-tests/CHANGELOG.md
  integration-tests/package.json
  l2geth/CHANGELOG.md
  l2geth/package.json
  ops/docker/hardhat/CHANGELOG.md
  ops/docker/hardhat/package.json
  packages/common-ts/CHANGELOG.md
  packages/common-ts/package.json
  packages/contracts/CHANGELOG.md
  packages/contracts/package.json
  packages/data-transport-layer/CHANGELOG.md
  packages/data-transport-layer/package.json
  packages/message-relayer/CHANGELOG.md
  packages/message-relayer/package.json
  packages/replica-healthcheck/CHANGELOG.md
  packages/replica-healthcheck/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Labels: M-dtl, M-ops, M-contracts, 2-reviewers, M-l2geth, M-integration, M-sdk

#2321 go/teleportr contracts: Updates to support deploying Teleportr to Kovan
  go/teleportr/api/server.go
  go/teleportr/bindings/disburse/teleportr_disburser.go
  go/teleportr/cmd/teleportr/main.go
  go/teleportr/db/db.go
  go/teleportr/drivers/disburser/driver.go
  go/teleportr/flags/api_flags.go
  go/teleportr/flags/flags.go
  go/teleportr/teleportr.go
  ops/docker/Dockerfile.teleportr
  packages/contracts/deployments/kovan/TeleportrDeposit.json
  packages/contracts/deployments/kovan/solcInputs/f20d616c1af6713a0e8ca9fae9d7bae7.json
  packages/contracts/deployments/optimism-kovan/.chainId
  packages/contracts/deployments/optimism-kovan/TeleportrDisburser.json
  packages/contracts/deployments/optimism-kovan/solcInputs/f20d616c1af6713a0e8ca9fae9d7bae7.json
  packages/contracts/hardhat.config.ts
  packages/contracts/tasks/deploy-teleportr.ts
  packages/contracts/tasks/index.ts
Labels: M-ops, M-contracts, 2-reviewers

#2352 fix(rhc): fix bug in healthcheck dockerfile
  .changeset/chilly-stingrays-decide.md
  .changeset/orange-oranges-bow.md
  .changeset/plenty-dancers-eat.md
  .changeset/thirty-hairs-remain.md
  .circleci/config.yml
  .github/workflows/integration.yml
  integration-tests/.env.example
  integration-tests/package.json
  integration-tests/test/healthcheck.spec.ts
  integration-tests/test/shared/utils.ts
  ops/docker-compose.yml
  ops/docker/Dockerfile.packages
  packages/common-ts/src/base-service/base-service-v2.ts
  packages/replica-healthcheck/src/service.ts
  yarn.lock
Labels: M-ops, 2-reviewers, M-integration, M-ci

#2298 feat(ct): overhaul deployment process
  ops/docker-compose.yml
  ops/scripts/deployer.sh
  packages/contracts/.env.example
  packages/contracts/README.md
  packages/contracts/bin/take-dump.ts
  packages/contracts/deploy-config/goerli.ts
  packages/contracts/deploy-config/kovan.ts
  packages/contracts/deploy-config/local.ts
  packages/contracts/deploy-config/mainnet.ts
  packages/contracts/deploy/000-hardhat-setup.ts
  packages/contracts/deploy/001-Lib_AddressManager.deploy.ts
  packages/contracts/deploy/004-OVM_CanonicalTransactionChain.deploy.ts
  packages/contracts/deploy/005-OVM_StateCommitmentChain.deploy.ts
  packages/contracts/deploy/007-OVM_L1CrossDomainMessenger.deploy.ts
  packages/contracts/deploy/010-AddressDictator.deploy.ts
  packages/contracts/deploy/012-initialize-Proxy__L1CrossDomainMessenger.ts
  packages/contracts/deploy/013-ChugSplashDictator.deploy.ts
  packages/contracts/deploy/015-finalize.ts
  packages/contracts/package.json
  packages/contracts/scripts/deploy-scripts/goerli-genesis.sh
  packages/contracts/scripts/deploy-scripts/goerli.sh
  packages/contracts/scripts/deploy-scripts/kovan-genesis.sh
  packages/contracts/scripts/deploy-scripts/kovan.sh
  packages/contracts/scripts/deploy-scripts/mainnet-genesis.sh
  packages/contracts/scripts/deploy-scripts/mainnet-trial-genesis.sh
  packages/contracts/scripts/deploy-scripts/mainnet-trial.sh
  packages/contracts/scripts/deploy-scripts/mainnet.sh
  packages/contracts/src/deploy-config.ts
  packages/contracts/src/deploy-utils.ts
  packages/contracts/tasks/deploy.ts
  packages/contracts/tasks/index.ts
  packages/contracts/tasks/take-dump.ts
Labels: M-ops, M-contracts, 2-reviewers

#2346 ci: Add CircleCI config
  .circleci/config.yml
  go/indexer/db/db.go
  go/indexer/metrics/metrics.go
  go/indexer/services/l1/bridge/addresses.go
  go/indexer/services/l1/bridge/eth_bridge.go
  go/indexer/services/l1/query.go
  go/proxyd/backend.go
  go/proxyd/integration_tests/caching_test.go
  go/proxyd/integration_tests/failover_test.go
  go/proxyd/integration_tests/mock_backend_test.go
  go/proxyd/integration_tests/rate_limit_test.go
  go/proxyd/integration_tests/util_test.go
  go/proxyd/integration_tests/validation_test.go
  go/proxyd/proxyd.go
  go/proxyd/rate_limiter.go
  go/proxyd/rpc_test.go
  go/proxyd/server.go
  go/teleportr/cmd/teleportr/main.go
  go/teleportr/teleportr.go
  ops/docker/go-builder/Dockerfile
  ops/docker/js-builder/Dockerfile
  ops/scripts/integration-tests.sh
  ops/scripts/wait-for-sequencer.sh
  packages/contracts/.eslintrc.js
  packages/message-relayer/package.json
  packages/replica-healthcheck/package.json
Labels: M-ops, 2-reviewers

#2360 fix(rhc): typo in healthcheck docker-compose
  .circleci/config.yml
  .github/workflows/integration.yml
  ops/docker-compose.yml
Labels: M-ops, 2-reviewers, M-ci

#2260 deps: bump hardhat
  .changeset/twelve-shrimps-add.md
  .changeset/weak-walls-cross.md
  integration-tests/package.json
  ops/docker/hardhat/hardhat.config.js
  ops/docker/hardhat/package.json
  packages/contracts/package.json
  packages/contracts/test/contracts/L2/predeploys/OVM_GasPriceOracle.spec.ts
  packages/data-transport-layer/package.json
  packages/message-relayer/package.json
  packages/sdk/package.json
  yarn.lock
Labels: M-dtl, M-ops, M-contracts, 2-reviewers, M-integration, M-sdk

#2363 fix(go): bug causing gas oracle to crash locally
  .changeset/lovely-weeks-hang.md
  go/gas-oracle/oracle/gas_price_oracle.go
  ops/docker-compose.yml
  ops/docker/Dockerfile.gas-oracle
  ops/scripts/gas-oracle.sh
Labels: M-ops, 2-reviewers

#2370 feat(l2geth): add configurable genesis timeout
  .changeset/tiny-melons-float.md
  l2geth/cmd/geth/chaincmd.go
  l2geth/cmd/geth/main.go
  l2geth/cmd/geth/usage.go
  l2geth/cmd/utils/flags.go
  packages/contracts/package.json
Labels: M-contracts, 2-reviewers, M-l2geth

#2372 ci: Remove GH actions CI builds
  .github/workflows/batch-submitter.yml
  .github/workflows/bss-core.yml
  .github/workflows/gas-oracle.yml
  .github/workflows/geth.yml
  .github/workflows/golangci-lint.yml
  .github/workflows/indexer.yml
  .github/workflows/integration.yml
  .github/workflows/proxyd.yml
  .github/workflows/static-analysis.yml
  .github/workflows/teleportr.yml
  .github/workflows/ts-packages.yml
Labels: 2-reviewers, M-ci

#2375 ci: Use Alpine to reduce image size
  .changeset/popular-plants-change.md
  .circleci/config.yml
  ops/docker/Dockerfile.packages
  ops/scripts/wait-for-sequencer.sh
Labels: M-ops, 2-reviewers

#2383 ci: Add Mergify
  .github/CODEOWNERS
  .github/labeler.yml
  .github/mergify.yml
Labels: 2-reviewers, M-ci

#2386 l2geth: Skip another flaky test
  .changeset/cuddly-geese-allow.md
  .github/labeler.yml
  l2geth/cmd/geth/consolecmd_test.go
Labels: 2-reviewers, M-l2geth

#2385 ci: Merge using merge queue
  .github/mergify.yml
Labels: 2-reviewers

#2380 ops: fix chainid to work with ethers ledger
  .changeset/moody-drinks-lie.md
  integration-tests/test/shared/utils.ts
  ops/docker-compose.yml
  ops/envs/geth.env
  packages/contracts/deploy-config/local.ts
Labels: M-ops, M-contracts, 2-reviewers, M-integration

#2387 ci: Use correct condition name
  .github/mergify.yml
Labels: 2-reviewers

#2373 feat(ci): check deploy markdown correctness
  .circleci/config.yml
  packages/contracts/deployments/kovan/README.md
Labels: M-contracts, 2-reviewers, on-merge-train

#2391 data-transport-layer: add new metrics
  .changeset/new-jokes-walk.md
  packages/data-transport-layer/src/services/l2-ingestion/service.ts
  packages/data-transport-layer/src/services/main/service.ts
Labels: M-dtl, 2-reviewers, on-merge-train
