Repository ethereum-optimism/optimism, pull requests merged in 2022-11, with the labels that each got.

#3826 contracts: update docs
  packages/contracts/docs/CanonicalTransactionChain.md
  packages/contracts/docs/IBondManager.md
  packages/contracts/docs/IL2ERC20Bridge.md
  packages/contracts/docs/IStateCommitmentChain.md
  packages/contracts/docs/L2StandardBridge.md
  packages/contracts/docs/StateCommitmentChain.md
  packages/contracts/docs/iOVM_L1BlockNumber.md
  packages/contracts/docs/iOVM_L2ToL1MessagePasser.md
Labels: M-contracts, 2-reviewers

#3786 Contracts-bedrock: put hardhat tasks in /tasks folder
  packages/contracts-bedrock/hardhat.config.ts
  packages/contracts-bedrock/tasks/accounts.ts
  packages/contracts-bedrock/tasks/index.ts
  packages/contracts-bedrock/tasks/solidity.ts
Labels: 2-reviewers, mergify-ignore, M-contracts-bedrock

#3781 bedrock: make fee recipient be SequencerFeeVault
  op-chain-ops/genesis/config.go
  op-chain-ops/genesis/genesis.go
  op-chain-ops/genesis/testdata/test-deploy-config-devnet-l1.json
  op-chain-ops/genesis/testdata/test-deploy-config-full.json
  op-e2e/e2eutils/addresses.go
  op-e2e/e2eutils/setup.go
  op-e2e/setup.go
  op-e2e/system_test.go
  op-node/cmd/genesis/cmd.go
  op-node/rollup/derive/attributes.go
  op-node/rollup/derive/attributes_queue_test.go
  op-node/rollup/derive/attributes_test.go
  op-node/rollup/types.go
  op-node/rollup/types_test.go
  packages/contracts-bedrock/deploy-config/devnetL1.json
  packages/contracts-bedrock/deploy-config/goerli.json
  packages/contracts-bedrock/deploy-config/hardhat.json
  packages/contracts-bedrock/deploy/007-L1CrossDomainMessengerImpl.ts
  packages/contracts-bedrock/deploy/008-L1StandardBridgeImpl.ts
  packages/contracts-bedrock/deploy/009-L2OutputOracleImpl.ts
  packages/contracts-bedrock/deploy/010-OptimismPortalImpl.ts
  packages/contracts-bedrock/deploy/011-OptimismMintableERC20FactoryImpl.ts
  packages/contracts-bedrock/deploy/012-L1ERC721BridgeImpl.ts
  packages/contracts-bedrock/deploy/013-PortalSenderImpl.ts
  packages/contracts-bedrock/deploy/014-FreshSystemDicator.ts
  packages/contracts-bedrock/deploy/015-MigrationSystemDictator.ts
  packages/contracts-bedrock/hardhat.config.ts
  packages/contracts-bedrock/tasks/rekey.ts
  packages/contracts-bedrock/tasks/rollup-config.ts
  packages/core-utils/src/optimism/op-node.ts
  packages/sdk/tasks/deposit-erc20.ts
Labels: M-core-utils, 2-reviewers, M-sdk, M-contracts-bedrock, sdk

#3815 op-batcher: Split up main loop
  op-batcher/channel_manager.go
  op-batcher/driver.go
  op-batcher/txmgr.go
Labels: on-merge-train

#3812 ctb, testmig: Add migration test script, migration dictator cleanups
  .changeset/stupid-rice-chew.md
  op-bindings/bindings/deployerwhitelist_more.go
  op-bindings/bindings/gaspriceoracle_more.go
  op-bindings/bindings/governancetoken_more.go
  op-bindings/bindings/l1crossdomainmessenger_more.go
  op-bindings/bindings/l2crossdomainmessenger_more.go
  op-bindings/bindings/l2erc721bridge_more.go
  op-bindings/bindings/l2standardbridge_more.go
  op-bindings/bindings/legacyerc20eth_more.go
  op-bindings/bindings/legacymessagepasser_more.go
  op-bindings/bindings/optimismmintableerc721factory_more.go
  op-bindings/bindings/optimismportal_more.go
  op-bindings/bindings/proxyadmin_more.go
  ops/docker/hardhat/hardhat.config.js
  packages/contracts-bedrock/contracts/deployment/MigrationSystemDictator.sol
  packages/contracts-bedrock/deploy-config/mainnet-forked.json
  packages/contracts-bedrock/deploy/008-L1StandardBridgeImpl.ts
  packages/contracts-bedrock/deploy/011-OptimismMintableERC20FactoryImpl.ts
  packages/contracts-bedrock/deploy/012-L1ERC721BridgeImpl.ts
  packages/contracts-bedrock/deploy/015-MigrationSystemDictator.ts
  packages/contracts-bedrock/hardhat.config.ts
  testmig/requirements.txt
  testmig/setup.py
  testmig/testmig/__init__.py
  testmig/testmig/cli.py
  testmig/testmig/contracts.py
  testmig/testmig/log_setup.py
  testmig/testmig/util.py
Labels: M-ops, 2-reviewers, mergify-ignore, M-contracts-bedrock

#3835 fix(ctb): broken devnet tests
  packages/contracts-bedrock/deploy/008-L1StandardBridgeImpl.ts
  packages/contracts-bedrock/deploy/011-OptimismMintableERC20FactoryImpl.ts
  packages/contracts-bedrock/deploy/012-L1ERC721BridgeImpl.ts
Labels: 2-reviewers, on-merge-train, M-contracts-bedrock, sdk

#3840 fix(ctb): clear remaining lint warnings
  .changeset/large-actors-leave.md
  op-bindings/bindings/l2erc721bridge_more.go
  op-bindings/bindings/optimismmintableerc721factory_more.go
  packages/contracts-bedrock/.solhint.json
  packages/contracts-bedrock/contracts/L1/L2OutputOracle.sol
  packages/contracts-bedrock/contracts/L1/OptimismPortal.sol
  packages/contracts-bedrock/contracts/deployment/BaseSystemDictator.sol
  packages/contracts-bedrock/contracts/deployment/MigrationSystemDictator.sol
  packages/contracts-bedrock/contracts/deployment/PortalSender.sol
  packages/contracts-bedrock/contracts/universal/ERC721Bridge.sol
  packages/contracts-bedrock/contracts/universal/IOptimismMintableERC721.sol
  packages/contracts-bedrock/contracts/universal/OptimismMintableERC721.sol
  packages/contracts-bedrock/contracts/universal/OptimismMintableERC721Factory.sol
  packages/contracts-bedrock/contracts/universal/Semver.sol
Labels: 2-reviewers, on-merge-train, M-contracts-bedrock

#3823 docs: Add a couple more audit reports
  technical-documents/security-reviews/2022_05-BedrockContracts-Zeppelin.pdf
  technical-documents/security-reviews/2022_05-OpNode-TrailOfBits.pdf
  technical-documents/security-reviews/2022_08-Bedrock-Go-SigmaPrime.pdf
Labels: on-merge-train

#3852 l2geth: Dedupe dumper addresses in memory
  .changeset/kind-ravens-shake.md
  l2geth/statedumper/dumper.go
Labels: 2-reviewers, M-l2geth, C-Protocol-Critical, on-merge-train

#3846 ci: Speculative checks
  .github/mergify.yml
Labels: 2-reviewers

#3858 fix(ctb): update ProxyAdmin ordering
  .changeset/sour-ladybugs-confess.md
  packages/contracts-bedrock/contracts/universal/ProxyAdmin.sol
Labels: 2-reviewers, M-contracts-bedrock

#3825 feat: L1 fee + base fee vault predeploys
  op-bindings/Makefile
  op-bindings/bindings/basefeevault.go
  op-bindings/bindings/deployerwhitelist_more.go
  op-bindings/bindings/gaspriceoracle_more.go
  op-bindings/bindings/governancetoken_more.go
  op-bindings/bindings/l1block_more.go
  op-bindings/bindings/l1crossdomainmessenger_more.go
  op-bindings/bindings/l1feevault.go
  op-bindings/bindings/l2crossdomainmessenger_more.go
  op-bindings/bindings/l2erc721bridge_more.go
  op-bindings/bindings/l2standardbridge_more.go
  op-bindings/bindings/l2tol1messagepasser_more.go
  op-bindings/bindings/legacyerc20eth_more.go
  op-bindings/bindings/legacymessagepasser_more.go
  op-bindings/bindings/optimismmintableerc721factory_more.go
  op-bindings/bindings/optimismportal_more.go
  op-bindings/bindings/proxyadmin_more.go
  op-bindings/bindings/sequencerfeevault.go
  op-bindings/bindings/sequencerfeevault_more.go
  op-bindings/predeploys/addresses.go
  op-chain-ops/genesis/config.go
  op-chain-ops/genesis/layer_two.go
  op-chain-ops/genesis/layer_two_test.go
  op-chain-ops/immutables/immutables.go
  op-chain-ops/immutables/immutables_test.go
  op-e2e/e2eutils/setup.go
  op-e2e/setup.go
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/.storage-layout
  packages/contracts-bedrock/contracts/L2/BaseFeeVault.sol
  packages/contracts-bedrock/contracts/L2/L1FeeVault.sol
  packages/contracts-bedrock/contracts/L2/SequencerFeeVault.sol
  packages/contracts-bedrock/contracts/libraries/Predeploys.sol
  packages/contracts-bedrock/contracts/test/FeeVault.t.sol
  packages/contracts-bedrock/contracts/test/SequencerFeeVault.t.sol
  packages/contracts-bedrock/contracts/universal/FeeVault.sol
  packages/contracts-bedrock/src/constants.ts
  specs/predeploys.md
Labels: 2-reviewers, M-contracts-bedrock

#3853 feat(ctb): introduce layout lock
  .changeset/cyan-melons-knock.md
  .circleci/config.yml
  op-bindings/bindings/deployerwhitelist_more.go
  op-bindings/bindings/gaspriceoracle_more.go
  op-bindings/bindings/governancetoken_more.go
  op-bindings/bindings/l1crossdomainmessenger_more.go
  op-bindings/bindings/l2crossdomainmessenger_more.go
  op-bindings/bindings/l2erc721bridge_more.go
  op-bindings/bindings/l2standardbridge_more.go
  op-bindings/bindings/legacyerc20eth_more.go
  op-bindings/bindings/legacymessagepasser_more.go
  op-bindings/bindings/optimismmintableerc721factory_more.go
  op-bindings/bindings/optimismportal_more.go
  op-bindings/bindings/proxyadmin_more.go
  packages/contracts-bedrock/README.md
  packages/contracts-bedrock/contracts/deployment/BaseSystemDictator.sol
  packages/contracts-bedrock/contracts/deployment/FreshSystemDictator.sol
  packages/contracts-bedrock/contracts/deployment/MigrationSystemDictator.sol
  packages/contracts-bedrock/contracts/deployment/SystemConfig.sol
  packages/contracts-bedrock/layout-lock.json
  packages/contracts-bedrock/tasks/validate-spacers.ts
Labels: 2-reviewers, M-contracts-bedrock

#3857 ci: Fixes to codecov configuration
  codecov.yml
Labels: on-merge-train

#3834 feat(ctb): use SCREAMING_SNAKE_CASE for immutables
  .changeset/young-rivers-give.md
  op-bindings/bindings/gaspriceoracle_more.go
  op-bindings/bindings/governancetoken_more.go
  op-bindings/bindings/l1crossdomainmessenger.go
  op-bindings/bindings/l1crossdomainmessenger_more.go
  op-bindings/bindings/l1erc721bridge.go
  op-bindings/bindings/l1standardbridge.go
  op-bindings/bindings/l2crossdomainmessenger.go
  op-bindings/bindings/l2crossdomainmessenger_more.go
  op-bindings/bindings/l2erc721bridge.go
  op-bindings/bindings/l2erc721bridge_more.go
  op-bindings/bindings/l2standardbridge.go
  op-bindings/bindings/l2standardbridge_more.go
  op-bindings/bindings/legacyerc20eth_more.go
  op-bindings/bindings/optimismmintableerc20factory.go
  op-bindings/bindings/optimismmintableerc20factory_more.go
  op-bindings/bindings/optimismmintableerc721factory.go
  op-bindings/bindings/optimismmintableerc721factory_more.go
  op-bindings/bindings/optimismportal_more.go
  op-bindings/bindings/proxyadmin_more.go
  op-chain-ops/genesis/layer_one_test.go
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/L1/L1CrossDomainMessenger.sol
  packages/contracts-bedrock/contracts/L1/L1ERC721Bridge.sol
  packages/contracts-bedrock/contracts/L1/L1StandardBridge.sol
  packages/contracts-bedrock/contracts/L2/L2CrossDomainMessenger.sol
  packages/contracts-bedrock/contracts/L2/L2ERC721Bridge.sol
  packages/contracts-bedrock/contracts/deployment/PortalSender.sol
  packages/contracts-bedrock/contracts/test/BenchmarkTest.t.sol
  packages/contracts-bedrock/contracts/test/L1StandardBridge.t.sol
  packages/contracts-bedrock/contracts/test/L2StandardBridge.t.sol
  packages/contracts-bedrock/contracts/universal/CrossDomainMessenger.sol
  packages/contracts-bedrock/contracts/universal/ERC721Bridge.sol
  packages/contracts-bedrock/contracts/universal/IOptimismMintableERC721.sol
  packages/contracts-bedrock/contracts/universal/OptimismMintableERC20Factory.sol
  packages/contracts-bedrock/contracts/universal/OptimismMintableERC721.sol
  packages/contracts-bedrock/contracts/universal/OptimismMintableERC721Factory.sol
  packages/contracts-bedrock/contracts/universal/StandardBridge.sol
  packages/contracts-bedrock/deploy/007-L1CrossDomainMessengerImpl.ts
  packages/contracts-bedrock/deploy/008-L1StandardBridgeImpl.ts
  packages/contracts-bedrock/deploy/011-OptimismMintableERC20FactoryImpl.ts
  packages/contracts-bedrock/deploy/012-L1ERC721BridgeImpl.ts
  packages/contracts-bedrock/deploy/013-PortalSenderImpl.ts
Labels: 2-reviewers, on-merge-train, M-contracts-bedrock

#3854 fix(ctb): remove AddressManager from config
  packages/contracts-bedrock/deploy-config/mainnet-forked.json
  packages/contracts-bedrock/deploy/014-FreshSystemDicator.ts
  packages/contracts-bedrock/deploy/015-MigrationSystemDictator.ts
  packages/contracts-bedrock/hardhat.config.ts
Labels: 2-reviewers, on-merge-train, M-contracts-bedrock

#3856 feat(ctb): break out FSD steps
  op-bindings/bindings/deployerwhitelist_more.go
  op-bindings/bindings/gaspriceoracle_more.go
  op-bindings/bindings/governancetoken_more.go
  op-bindings/bindings/l1block_more.go
  op-bindings/bindings/l1crossdomainmessenger.go
  op-bindings/bindings/l1crossdomainmessenger_more.go
  op-bindings/bindings/l2crossdomainmessenger_more.go
  op-bindings/bindings/l2erc721bridge_more.go
  op-bindings/bindings/l2standardbridge_more.go
  op-bindings/bindings/l2tol1messagepasser_more.go
  op-bindings/bindings/legacyerc20eth_more.go
  op-bindings/bindings/legacymessagepasser_more.go
  op-bindings/bindings/optimismmintableerc721factory_more.go
  op-bindings/bindings/optimismportal_more.go
  op-bindings/bindings/proxyadmin_more.go
  op-bindings/bindings/sequencerfeevault_more.go
  op-chain-ops/genesis/layer_one.go
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/L1/L1CrossDomainMessenger.sol
  packages/contracts-bedrock/contracts/deployment/BaseSystemDictator.sol
  packages/contracts-bedrock/contracts/deployment/FreshSystemDictator.sol
  packages/contracts-bedrock/contracts/test/CommonTest.t.sol
  packages/contracts-bedrock/contracts/test/L1CrossDomainMessenger.t.sol
  packages/contracts-bedrock/deploy-config/hardhat.json
  packages/contracts-bedrock/deploy/007-L1CrossDomainMessengerImpl.ts
  packages/contracts-bedrock/deploy/014-FreshSystemDicator.ts
  packages/contracts-bedrock/deploy/015-FreshSystemDictatorSteps.ts
  packages/contracts-bedrock/deploy/016-MigrationSystemDictator.ts
  packages/contracts-bedrock/hardhat.config.ts
Labels: 2-reviewers, on-merge-train, M-contracts-bedrock

#3788 contracts-bedrock: Sys config contract and L2 contract updates
  go.work
  go.work.sum
  op-bindings/Makefile
  op-bindings/bindings/deployerwhitelist_more.go
  op-bindings/bindings/gaspriceoracle.go
  op-bindings/bindings/gaspriceoracle_more.go
  op-bindings/bindings/governancetoken_more.go
  op-bindings/bindings/l1block.go
  op-bindings/bindings/l1block_more.go
  op-bindings/bindings/l1crossdomainmessenger_more.go
  op-bindings/bindings/l2crossdomainmessenger_more.go
  op-bindings/bindings/l2erc721bridge_more.go
  op-bindings/bindings/l2standardbridge_more.go
  op-bindings/bindings/l2tol1messagepasser_more.go
  op-bindings/bindings/legacyerc20eth_more.go
  op-bindings/bindings/legacymessagepasser_more.go
  op-bindings/bindings/optimismmintableerc721factory_more.go
  op-bindings/bindings/optimismportal_more.go
  op-bindings/bindings/proxyadmin_more.go
  op-bindings/bindings/sequencerfeevault_more.go
  op-bindings/bindings/systemconfig.go
  op-bindings/bindings/systemconfig_more.go
  op-bindings/predeploys/dev_addresses.go
  op-chain-ops/genesis/config.go
  op-chain-ops/genesis/layer_one.go
  op-chain-ops/genesis/testdata/test-deploy-config-full.json
  op-e2e/actions/l2_batcher.go
  op-e2e/actions/l2_sequencer.go
  op-e2e/actions/system_config_test.go
  op-e2e/e2eutils/secrets.go
  op-e2e/e2eutils/setup.go
  op-e2e/setup.go
  op-e2e/system_test.go
  op-node/rollup/derive/fuzz_parsers_test.go
  op-node/rollup/derive/l1_block_info.go
  op-node/rollup/derive/l1_block_info_test.go
  op-node/rollup/derive/l1_config.go
  op-node/rollup/derive/payload_util.go
  op-node/rollup/derive/system_config.go
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/.storage-layout
  packages/contracts-bedrock/contracts/L1/SystemConfig.sol
  packages/contracts-bedrock/contracts/L2/GasPriceOracle.sol
  packages/contracts-bedrock/contracts/L2/L1Block.sol
  packages/contracts-bedrock/contracts/deployment/BaseSystemDictator.sol
  packages/contracts-bedrock/contracts/deployment/DeployConfig.sol
  packages/contracts-bedrock/contracts/deployment/FreshSystemDictator.sol
  packages/contracts-bedrock/contracts/deployment/MigrationSystemDictator.sol
  packages/contracts-bedrock/contracts/test/GasPriceOracle.t.sol
  packages/contracts-bedrock/contracts/test/L1Block.t.sol
  packages/contracts-bedrock/contracts/test/L1BlockNumber.t.sol
  packages/contracts-bedrock/scripts/storage-snapshot.sh
Labels: 2-reviewers, do-not-merge, M-contracts-bedrock

#3670 Action-testing: extend user actor with withdrawal txs
  indexer/integration_tests/bedrock_test.go
  op-e2e/actions/l2_engine.go
  op-e2e/actions/user.go
  op-e2e/actions/user_test.go
  op-e2e/system_test.go
  op-node/withdrawals/utils.go
Labels: on-merge-train, indexer

#3870 optimism: update op-geth to the predeploy commit
  go.work
  op-batcher/go.mod
  op-batcher/go.sum
  op-bindings/go.mod
  op-bindings/go.sum
  op-chain-ops/go.mod
  op-chain-ops/go.sum
  op-e2e/go.mod
  op-e2e/go.sum
  op-node/go.mod
  op-node/go.sum
  op-proposer/go.mod
  op-proposer/go.sum
  op-service/go.mod
  op-service/go.sum
Labels: on-merge-train

#3868 feat(ctb): break out MSD steps
  packages/contracts-bedrock/deploy/015-FreshSystemDictatorSteps.ts
  packages/contracts-bedrock/deploy/016-MigrationSystemDictator.ts
  packages/contracts-bedrock/deploy/017-MigrationSystemDictatorSteps.ts
Labels: 2-reviewers, on-merge-train, M-contracts-bedrock

#3882 ci: update foundry
  ops/docker/ci-builder/Dockerfile
  packages/contracts-bedrock/README.md
Labels: M-ops, 2-reviewers, on-merge-train, M-contracts-bedrock

#3845 Remove futurePredeploys from contracts-bedrock
  packages/contracts-bedrock/src/constants.ts
Labels: 2-reviewers, M-contracts-bedrock

#3841 Removed unused tasks in contracts-bedrock
  packages/contracts-bedrock/tasks/check-l2-config.ts
  packages/contracts-bedrock/tasks/index.ts
  packages/contracts-bedrock/tasks/rollup-config.ts
Labels: 2-reviewers, M-contracts-bedrock

#3888 Trigger releases
  .changeset/big-starfishes-jump.md
  .changeset/cyan-melons-knock.md
  .changeset/kind-ravens-shake.md
  .changeset/large-actors-leave.md
  .changeset/modern-pens-wave.md
  .changeset/six-mice-impress.md
  .changeset/sour-ladybugs-confess.md
  .changeset/stupid-rice-chew.md
  .changeset/tasty-pandas-float.md
  .changeset/young-rivers-give.md
  integration-tests/package.json
  l2geth/CHANGELOG.md
  l2geth/package.json
  ops/docker/ci-builder/CHANGELOG.md
  ops/docker/ci-builder/package.json
  ops/docker/hardhat/CHANGELOG.md
  ops/docker/hardhat/package.json
  packages/actor-tests/CHANGELOG.md
  packages/actor-tests/package.json
  packages/common-ts/CHANGELOG.md
  packages/common-ts/package.json
  packages/contracts-bedrock/CHANGELOG.md
  packages/contracts-bedrock/package.json
  packages/contracts-governance/CHANGELOG.md
  packages/contracts-governance/package.json
  packages/contracts-periphery/package.json
  packages/contracts/CHANGELOG.md
  packages/contracts/package.json
  packages/core-utils/CHANGELOG.md
  packages/core-utils/package.json
  packages/data-transport-layer/CHANGELOG.md
  packages/data-transport-layer/package.json
  packages/drippie-mon/CHANGELOG.md
  packages/drippie-mon/package.json
  packages/fault-detector/CHANGELOG.md
  packages/fault-detector/package.json
  packages/integration-tests-bedrock/package.json
  packages/message-relayer/CHANGELOG.md
  packages/message-relayer/package.json
  packages/migration-data/package.json
  packages/replica-healthcheck/CHANGELOG.md
  packages/replica-healthcheck/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Labels: M-core-utils, M-dtl, M-ops, M-contracts, 2-reviewers, M-l2geth, M-integration, M-sdk, M-contracts-periphery, M-contracts-bedrock, sdk, common-ts

#3814 op-node,contracts-bedrock: dynamic gas limit via SystemConfig
  go.work
  go.work.sum
  op-batcher/go.mod
  op-batcher/go.sum
  op-bindings/bindings/deployerwhitelist_more.go
  op-bindings/bindings/gaspriceoracle_more.go
  op-bindings/bindings/governancetoken_more.go
  op-bindings/bindings/l1block_more.go
  op-bindings/bindings/l1crossdomainmessenger_more.go
  op-bindings/bindings/l2crossdomainmessenger_more.go
  op-bindings/bindings/l2erc721bridge_more.go
  op-bindings/bindings/l2standardbridge_more.go
  op-bindings/bindings/l2tol1messagepasser_more.go
  op-bindings/bindings/legacyerc20eth_more.go
  op-bindings/bindings/legacymessagepasser_more.go
  op-bindings/bindings/optimismmintableerc721factory_more.go
  op-bindings/bindings/optimismportal_more.go
  op-bindings/bindings/proxyadmin_more.go
  op-bindings/bindings/sequencerfeevault_more.go
  op-bindings/bindings/systemconfig.go
  op-bindings/bindings/systemconfig_more.go
  op-bindings/go.mod
  op-bindings/go.sum
  op-chain-ops/genesis/genesis.go
  op-chain-ops/genesis/layer_one.go
  op-chain-ops/go.mod
  op-chain-ops/go.sum
  op-e2e/actions/l2_engine_api.go
  op-e2e/actions/l2_engine_test.go
  op-e2e/actions/system_config_test.go
  op-e2e/e2eutils/setup.go
  op-e2e/go.mod
  op-e2e/go.sum
  op-e2e/op_geth_test.go
  op-e2e/setup.go
  op-node/cmd/genesis/cmd.go
  op-node/eth/types.go
  op-node/go.mod
  op-node/go.sum
  op-node/rollup/derive/attributes.go
  op-node/rollup/derive/attributes_queue_test.go
  op-node/rollup/derive/engine_consolidate.go
  op-node/rollup/derive/engine_queue_test.go
  op-node/rollup/derive/l1_block_info_test.go
  op-node/rollup/derive/payload_util.go
  op-node/rollup/derive/system_config.go
  op-node/rollup/types_test.go
  op-proposer/go.mod
  op-proposer/go.sum
  op-service/go.mod
  op-service/go.sum
  packages/contracts-bedrock/.storage-layout
  packages/contracts-bedrock/contracts/L1/SystemConfig.sol
  specs/derivation.md
  specs/exec-engine.md
  specs/system_config.md
Labels: 2-reviewers, M-contracts-bedrock

#3844 Bumped compiler version for contracts-bedrock
  .prettierrc.js
  packages/contracts-bedrock/hardhat.config.ts
Labels: 2-reviewers, M-contracts-bedrock

#3891 ci: fix hardhat-node release
  .github/workflows/release.yml
Labels: 2-reviewers

#3889 contracts-periphery: make the network name match contracts
  packages/contracts-periphery/deployments/mainnet/.chainId
  packages/contracts-periphery/deployments/mainnet/AssetReceiver.json
  packages/contracts-periphery/deployments/mainnet/CheckBalanceHigh.json
  packages/contracts-periphery/deployments/mainnet/CheckBalanceLow.json
  packages/contracts-periphery/deployments/mainnet/CheckGelatoLow.json
  packages/contracts-periphery/deployments/mainnet/CheckTrue.json
  packages/contracts-periphery/deployments/mainnet/Drippie.json
  packages/contracts-periphery/deployments/mainnet/L1ERC721Bridge.json
  packages/contracts-periphery/deployments/mainnet/L1ERC721BridgeProxy.json
  packages/contracts-periphery/deployments/mainnet/TeleportrWithdrawer.json
  packages/contracts-periphery/deployments/mainnet/solcInputs/5bd191b00ea9c0cd6028a01f6227b05c.json
  packages/contracts-periphery/deployments/mainnet/solcInputs/66d28de48de020e62747d42ffe3118e7.json
  packages/contracts-periphery/deployments/mainnet/solcInputs/ab9b77493f35e63b7a63fb2fa8d618b4.json
  packages/contracts-periphery/deployments/mainnet/solcInputs/b09909e91a3ff9823ceba49a3a845230.json
  packages/contracts-periphery/hardhat.config.ts
Labels: 2-reviewers, M-contracts-periphery

#3892 bedrock: update op-geth dependency
  .changeset/tricky-dryers-speak.md
  endpoint-monitor/go.mod
  endpoint-monitor/go.sum
  go.work
  go.work.sum
  indexer/go.mod
  op-batcher/go.mod
  op-batcher/go.sum
  op-bindings/go.mod
  op-bindings/go.sum
  op-bindings/predeploys/addresses_test.go
  op-chain-ops/go.mod
  op-chain-ops/go.sum
  op-e2e/actions/l1_miner.go
  op-e2e/go.mod
  op-e2e/go.sum
  op-e2e/system_test.go
  op-node/eth/account_proof.go
  op-node/go.mod
  op-node/go.sum
  op-node/rollup/driver/sequencer.go
  op-proposer/go.mod
  op-proposer/go.sum
  op-service/go.mod
  op-service/go.sum
  ops/scripts/update-op-geth.py
Labels: M-ops, 2-reviewers, indexer

#3909 ci: Fix devnet
  ops-bedrock/Dockerfile.l2
  ops-bedrock/docker-compose.yml
  ops-bedrock/entrypoint.sh
  packages/contracts-bedrock/deploy-config/devnetL1.json
Labels: 2-reviewers, on-merge-train, M-contracts-bedrock

#3901 feat(ctb): SystemConfig comments
  .changeset/tricky-rockets-remain.md
  op-bindings/bindings/deployerwhitelist_more.go
  op-bindings/bindings/gaspriceoracle_more.go
  op-bindings/bindings/governancetoken_more.go
  op-bindings/bindings/l1block_more.go
  op-bindings/bindings/l1crossdomainmessenger_more.go
  op-bindings/bindings/l2crossdomainmessenger_more.go
  op-bindings/bindings/l2erc721bridge_more.go
  op-bindings/bindings/l2standardbridge_more.go
  op-bindings/bindings/l2tol1messagepasser_more.go
  op-bindings/bindings/legacyerc20eth_more.go
  op-bindings/bindings/legacymessagepasser_more.go
  op-bindings/bindings/optimismmintableerc721factory_more.go
  op-bindings/bindings/optimismportal_more.go
  op-bindings/bindings/proxyadmin_more.go
  op-bindings/bindings/sequencerfeevault_more.go
  op-bindings/bindings/systemconfig_more.go
  packages/contracts-bedrock/contracts/L1/SystemConfig.sol
Labels: 2-reviewers, on-merge-train, M-contracts-bedrock

#3900 testmig: Remove in favor of op-e2e
  testmig/requirements.txt
  testmig/setup.py
  testmig/testmig/__init__.py
  testmig/testmig/cli.py
  testmig/testmig/contracts.py
  testmig/testmig/log_setup.py
  testmig/testmig/util.py
Labels: on-merge-train

#3908 op-node: set initial system config gaslimit, check initial values
  op-e2e/setup.go
  op-e2e/system_test.go
  op-node/cmd/genesis/cmd.go
  op-node/rollup/types.go
Labels: on-merge-train

#3902 feat(ctb): remove DeployConfig
  .changeset/thin-trees-visit.md
  op-bindings/bindings/deployerwhitelist_more.go
  op-bindings/bindings/gaspriceoracle_more.go
  op-bindings/bindings/governancetoken_more.go
  op-bindings/bindings/l1crossdomainmessenger_more.go
  op-bindings/bindings/l2crossdomainmessenger_more.go
  op-bindings/bindings/l2erc721bridge_more.go
  op-bindings/bindings/l2standardbridge_more.go
  op-bindings/bindings/legacyerc20eth_more.go
  op-bindings/bindings/legacymessagepasser_more.go
  op-bindings/bindings/optimismmintableerc721factory_more.go
  op-bindings/bindings/optimismportal_more.go
  op-bindings/bindings/proxyadmin_more.go
  op-bindings/bindings/systemconfig_more.go
  packages/contracts-bedrock/contracts/deployment/BaseSystemDictator.sol
  packages/contracts-bedrock/contracts/deployment/DeployConfig.sol
  packages/contracts-bedrock/contracts/deployment/FreshSystemDictator.sol
  packages/contracts-bedrock/contracts/deployment/MigrationSystemDictator.sol
Labels: 2-reviewers, on-merge-train, M-contracts-bedrock

#3915 op-e2e: remove temporary go.mod workaround
  op-e2e/go.mod
Labels: on-merge-train

#3883 fix: GasPriceOracle ownerless
  op-bindings/bindings/deployerwhitelist_more.go
  op-bindings/bindings/gaspriceoracle.go
  op-bindings/bindings/gaspriceoracle_more.go
  op-bindings/bindings/governancetoken_more.go
  op-bindings/bindings/l1block_more.go
  op-bindings/bindings/l1crossdomainmessenger_more.go
  op-bindings/bindings/l2crossdomainmessenger_more.go
  op-bindings/bindings/l2erc721bridge_more.go
  op-bindings/bindings/l2standardbridge_more.go
  op-bindings/bindings/l2tol1messagepasser_more.go
  op-bindings/bindings/legacyerc20eth_more.go
  op-bindings/bindings/legacymessagepasser_more.go
  op-bindings/bindings/optimismmintableerc721factory_more.go
  op-bindings/bindings/optimismportal_more.go
  op-bindings/bindings/proxyadmin_more.go
  op-bindings/bindings/sequencerfeevault_more.go
  op-bindings/bindings/systemconfig_more.go
  op-chain-ops/genesis/config.go
  op-chain-ops/genesis/testdata/test-deploy-config-full.json
  op-chain-ops/immutables/immutables.go
  op-e2e/e2eutils/setup.go
  op-e2e/setup.go
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/.storage-layout
  packages/contracts-bedrock/contracts/L2/GasPriceOracle.sol
  packages/contracts-bedrock/contracts/test/GasPriceOracle.t.sol
  packages/contracts-bedrock/hardhat.config.ts
  packages/contracts-bedrock/layout-lock.json
Labels: 2-reviewers, M-contracts-bedrock

#3916 op-bindings: Canonicalize bindings
  op-bindings/ast/canonicalize.go
  op-bindings/ast/canonicalize_test.go
  op-bindings/ast/testdata/public-variables.json
  op-bindings/ast/testdata/simple.json
  op-bindings/bindings/deployerwhitelist_more.go
  op-bindings/bindings/gaspriceoracle_more.go
  op-bindings/bindings/governancetoken_more.go
  op-bindings/bindings/l1block_more.go
  op-bindings/bindings/l1blocknumber_more.go
  op-bindings/bindings/l1crossdomainmessenger_more.go
  op-bindings/bindings/l2crossdomainmessenger_more.go
  op-bindings/bindings/l2erc721bridge_more.go
  op-bindings/bindings/l2standardbridge_more.go
  op-bindings/bindings/l2tol1messagepasser_more.go
  op-bindings/bindings/legacyerc20eth_more.go
  op-bindings/bindings/legacymessagepasser_more.go
  op-bindings/bindings/optimismmintableerc20factory_more.go
  op-bindings/bindings/optimismmintableerc721factory_more.go
  op-bindings/bindings/optimismportal_more.go
  op-bindings/bindings/proxy_more.go
  op-bindings/bindings/proxyadmin_more.go
  op-bindings/bindings/sequencerfeevault_more.go
  op-bindings/bindings/systemconfig_more.go
  op-bindings/bindings/weth9_more.go
  op-bindings/gen/main.go
Labels: on-merge-train

#3917 fix(ctb): tweak OptimismPortal variable ordering
  .changeset/long-cameras-laugh.md
  packages/contracts-bedrock/contracts/L1/OptimismPortal.sol
Labels: 2-reviewers, on-merge-train, M-contracts-bedrock

#3871 op-chain-ops: update config
  op-bindings/hardhat/hardhat.go
  op-chain-ops/cmd/migrate/main.go
  op-chain-ops/genesis/config.go
  op-chain-ops/genesis/layer_two.go
  op-chain-ops/genesis/testdata/test-deploy-config-devnet-l1.json
  op-chain-ops/genesis/testdata/test-deploy-config-full.json
  op-e2e/e2eutils/setup.go
  op-e2e/setup.go
  op-e2e/system_test.go
  op-node/cmd/genesis/cmd.go
  packages/contracts-bedrock/deploy-config/devnetL1.json
  packages/contracts-bedrock/deploy-config/goerli.json
  packages/contracts-bedrock/deploy-config/hardhat.json
  packages/contracts-bedrock/deploy-config/mainnet-forked.json
Labels: 2-reviewers, M-contracts-bedrock

#3903 feat(ctb): use Ownable for ProxyAdmin
  .changeset/forty-pigs-draw.md
  op-bindings/bindings/governancetoken_more.go
  op-bindings/bindings/proxyadmin.go
  op-bindings/bindings/proxyadmin_more.go
  op-chain-ops/genesis/config.go
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/.storage-layout
  packages/contracts-bedrock/contracts/deployment/FreshSystemDictator.sol
  packages/contracts-bedrock/contracts/deployment/MigrationSystemDictator.sol
  packages/contracts-bedrock/contracts/test/ProxyAdmin.t.sol
  packages/contracts-bedrock/contracts/universal/ProxyAdmin.sol
  packages/contracts-bedrock/deploy/015-FreshSystemDictatorSteps.ts
  packages/contracts-bedrock/deploy/017-MigrationSystemDictatorSteps.ts
Labels: 2-reviewers, on-merge-train, M-contracts-bedrock

#3920 op-e2e: Use head rather than pending block for gas estimation
  op-e2e/actions/user.go
Labels: on-merge-train

#3921 fix: more config cleanup
  indexer/integration_tests/bedrock_test.go
  op-chain-ops/cmd/migrate/main.go
  op-chain-ops/genesis/config.go
  op-chain-ops/genesis/db_migration.go
  op-chain-ops/genesis/layer_two.go
  op-chain-ops/genesis/layer_two_test.go
  op-chain-ops/genesis/testdata/test-deploy-config-devnet-l1.json
  op-e2e/e2eutils/setup.go
  op-e2e/op_geth_test.go
  op-e2e/setup.go
  op-node/cmd/genesis/cmd.go
Labels: indexer

#3925 integration-tests-bedrock: Remove superfluous packages
  README.md
  packages/integration-tests-bedrock/.gitignore
  packages/integration-tests-bedrock/CHANGELOG.md
  packages/integration-tests-bedrock/contracts/Counter.sol
  packages/integration-tests-bedrock/contracts/ERC20.sol
  packages/integration-tests-bedrock/contracts/MultiDepositor.sol
  packages/integration-tests-bedrock/contracts/Reverter.sol
  packages/integration-tests-bedrock/foundry.toml
  packages/integration-tests-bedrock/package.json
  packages/integration-tests-bedrock/test/000_withdrawals.spec.ts
  packages/integration-tests-bedrock/test/deposit.spec.ts
  packages/integration-tests-bedrock/test/rpc.spec.ts
  packages/integration-tests-bedrock/test/shared/env.ts
  packages/integration-tests-bedrock/test/shared/setup.ts
  packages/integration-tests-bedrock/test/shared/utils.ts
  packages/integration-tests-bedrock/tsconfig.json
Labels: on-merge-train

#3897 ctb: Add system config deployment
  packages/contracts-bedrock/.gitignore
  packages/contracts-bedrock/contracts/deployment/BaseSystemDictator.sol
  packages/contracts-bedrock/contracts/deployment/FreshSystemDictator.sol
  packages/contracts-bedrock/contracts/deployment/MigrationSystemDictator.sol
  packages/contracts-bedrock/deploy/007-SystemConfigProxy.ts
  packages/contracts-bedrock/deploy/014-SystemConfigImpl.ts
  packages/contracts-bedrock/deploy/015-FreshSystemDictator.ts
  packages/contracts-bedrock/deploy/016-FreshSystemDictatorSteps.ts
  packages/contracts-bedrock/deploy/017-MigrationSystemDictator.ts
  packages/contracts-bedrock/deploy/018-MigrationSystemDictatorSteps.ts
  packages/contracts-bedrock/src/deploy-utils.ts
Labels: 2-reviewers, on-merge-train, M-contracts-bedrock

#3929 feat(ctb): assert dictator config
  packages/contracts-bedrock/deploy/015-FreshSystemDictator.ts
  packages/contracts-bedrock/deploy/017-MigrationSystemDictator.ts
  packages/contracts-bedrock/src/deploy-utils.ts
Labels: 2-reviewers, on-merge-train, M-contracts-bedrock

#3898 op-chain-ops: Updates for the migration
  op-chain-ops/cmd/migrate/main.go
  op-chain-ops/crossdomain/migrate.go
  op-chain-ops/ether/addresses.go
  op-chain-ops/ether/cli.go
  op-chain-ops/ether/migrate.go
  op-chain-ops/ether/params.go
  op-chain-ops/ether/util.go
  op-chain-ops/genesis/config.go
  op-chain-ops/genesis/config_test.go
  op-chain-ops/genesis/db_migration.go
  op-chain-ops/genesis/migration/legacy.go
  op-chain-ops/genesis/migration/types.go
  op-chain-ops/genesis/migration_action/action.go
  op-chain-ops/genesis/testdata/test-deploy-config-full.json
Labels: on-merge-train

#3939 fix(ctb): remove old comment block
  packages/contracts-bedrock/contracts/L1/L1ERC721Bridge.sol
Labels: 2-reviewers, on-merge-train, M-contracts-bedrock

#3934 fix: better version imports for services
  .changeset/silver-nails-grab.md
  packages/drippie-mon/src/service.ts
  packages/drippie-mon/tsconfig.json
  packages/fault-detector/src/service.ts
  packages/fault-detector/tsconfig.json
  packages/message-relayer/src/service.ts
  packages/message-relayer/tsconfig.json
  packages/replica-healthcheck/src/service.ts
  packages/replica-healthcheck/tsconfig.json
Labels: 2-reviewers

#3931 ci: Split go-bedrock tests & use circle CI parallelism for op-e2e
  .circleci/config.yml
  op-e2e/actions/action.go
  op-e2e/system_test.go
  op-node/testlog/testlog.go
Labels: on-merge-train

#3946 fix: move MintableERC721 interface
  packages/contracts-bedrock/contracts/L2/L2ERC721Bridge.sol
  packages/contracts-bedrock/contracts/universal/IOptimismMintableERC721.sol
  packages/contracts-bedrock/contracts/universal/OptimismMintableERC721.sol
  packages/contracts-bedrock/contracts/universal/SupportedInterfaces.sol
Labels: 2-reviewers, on-merge-train, M-contracts-bedrock

#3949 Standardize & Fix Lints
  .circleci/config.yml
  op-e2e/actions/l2_engine_api.go
  op-node/rollup/derive/engine_queue.go
  op-node/rollup/derive/l1_traversal.go
Labels: on-merge-train

#3943 ENG-2990 updates ci to tag docker images with sha, branch, release tags
  .circleci/config.yml
  cloudbuild.yaml
  ops/scripts/ci-docker-tag-op-stack-release.sh
Labels: M-ops, 2-reviewers, on-merge-train

#3957 fixes a few bugs and better error handling for docker-tag job
  .circleci/config.yml
  ops/scripts/ci-docker-tag-op-stack-release.sh
Labels: M-ops, 2-reviewers

#3961 Develop -> Master
  .changeset/forty-pigs-draw.md
  .changeset/long-cameras-laugh.md
  .changeset/lucky-walls-walk.md
  .changeset/silver-nails-grab.md
  .changeset/thin-trees-visit.md
  .changeset/tricky-dryers-speak.md
  .changeset/tricky-rockets-remain.md
  endpoint-monitor/CHANGELOG.md
  endpoint-monitor/package.json
  indexer/CHANGELOG.md
  indexer/package.json
  integration-tests/package.json
  ops/docker/hardhat/CHANGELOG.md
  ops/docker/hardhat/package.json
  packages/actor-tests/CHANGELOG.md
  packages/actor-tests/package.json
  packages/contracts-bedrock/CHANGELOG.md
  packages/contracts-bedrock/package.json
  packages/drippie-mon/CHANGELOG.md
  packages/drippie-mon/package.json
  packages/fault-detector/CHANGELOG.md
  packages/fault-detector/package.json
  packages/message-relayer/CHANGELOG.md
  packages/message-relayer/package.json
  packages/replica-healthcheck/CHANGELOG.md
  packages/replica-healthcheck/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Labels: M-ops, 2-reviewers, M-integration, M-sdk, M-contracts-bedrock

#3964 indexer: fix docker build
  .changeset/quick-mangos-thank.md
  indexer/Dockerfile
  indexer/docker.go.work
Labels: indexer

#3962 ci: fix hardhat-node docker image build
  .github/workflows/release.yml
Labels: 2-reviewers

#3963 op-e2e: action test op-geth restart
  op-e2e/actions/l2_engine.go
  op-e2e/actions/reorg_test.go
Labels: on-merge-train

#3899 op-e2e: Add migration to op-e2e
  op-chain-ops/genesis/config.go
  op-chain-ops/genesis/db_migration.go
  op-e2e/e2eutils/setup.go
  op-e2e/geth.go
  op-e2e/go.mod
  op-e2e/go.sum
  op-e2e/migration_test.go
  packages/contracts-bedrock/deploy-config/mainnet-forked.json
  packages/contracts-bedrock/src/deploy-utils.ts
  packages/contracts-periphery/deployments/mainnet-forked/.chainId
  packages/contracts-periphery/deployments/mainnet-forked/AssetReceiver.json
  packages/contracts-periphery/deployments/mainnet-forked/CheckBalanceHigh.json
  packages/contracts-periphery/deployments/mainnet-forked/CheckBalanceLow.json
  packages/contracts-periphery/deployments/mainnet-forked/CheckGelatoLow.json
  packages/contracts-periphery/deployments/mainnet-forked/CheckTrue.json
  packages/contracts-periphery/deployments/mainnet-forked/Drippie.json
  packages/contracts-periphery/deployments/mainnet-forked/L1ERC721Bridge.json
  packages/contracts-periphery/deployments/mainnet-forked/L1ERC721BridgeProxy.json
  packages/contracts-periphery/deployments/mainnet-forked/TeleportrWithdrawer.json
  packages/contracts-periphery/deployments/mainnet-forked/solcInputs/5bd191b00ea9c0cd6028a01f6227b05c.json
  packages/contracts-periphery/deployments/mainnet-forked/solcInputs/66d28de48de020e62747d42ffe3118e7.json
  packages/contracts-periphery/deployments/mainnet-forked/solcInputs/ab9b77493f35e63b7a63fb2fa8d618b4.json
  packages/contracts-periphery/deployments/mainnet-forked/solcInputs/b09909e91a3ff9823ceba49a3a845230.json
  packages/contracts/deployments/mainnet-forked/.chainId
  packages/contracts/deployments/mainnet-forked/AddressDictator.json
  packages/contracts/deployments/mainnet-forked/BondManager.json
  packages/contracts/deployments/mainnet-forked/CanonicalTransactionChain.json
  packages/contracts/deployments/mainnet-forked/ChainStorageContainer-CTC-batches.json
  packages/contracts/deployments/mainnet-forked/ChainStorageContainer-SCC-batches.json
  packages/contracts/deployments/mainnet-forked/ChugSplashDictator.json
  packages/contracts/deployments/mainnet-forked/L1StandardBridge_for_verification_only.json
  packages/contracts/deployments/mainnet-forked/Lib_AddressManager.json
  packages/contracts/deployments/mainnet-forked/OVM_L1CrossDomainMessenger.json
  packages/contracts/deployments/mainnet-forked/Proxy__OVM_L1CrossDomainMessenger.json
  packages/contracts/deployments/mainnet-forked/Proxy__OVM_L1StandardBridge.json
  packages/contracts/deployments/mainnet-forked/README.md
  packages/contracts/deployments/mainnet-forked/StateCommitmentChain.json
  packages/contracts/deployments/mainnet-forked/TeleportrDeposit.json
  packages/contracts/deployments/mainnet-forked/solcInputs/4532a57dbcb505a79ddf510df0371b5f.json
  packages/contracts/deployments/mainnet-forked/solcInputs/475653b7e5822844bbc8885f604f5e79.json
  packages/contracts/deployments/mainnet-forked/solcInputs/7531d7762a77038a37e7490a7b4b176f.json
  packages/contracts/deployments/mainnet-forked/solcInputs/8a22f2b322f61ab13865f2d2a82e5f09.json
  packages/contracts/deployments/mainnet-forked/solcInputs/ad04ab9565e42a9370aa7f055041028d.json
  packages/contracts/deployments/mainnet-forked/solcInputs/e2f1121f17d06f85851dd0c837a00344.json
  packages/contracts/deployments/mainnet-forked/solcInputs/ef3f334bac4d7e77d91b457a0d89ab0a.json
  packages/contracts/deployments/mainnet-forked/solcInputs/f20d616c1af6713a0e8ca9fae9d7bae7.json
Labels: M-contracts, 2-reviewers, on-merge-train, M-contracts-periphery, M-contracts-bedrock

#3970 Develop -> Master PR
  .changeset/afraid-fans-draw.md
  .changeset/nine-boats-walk.md
  .changeset/quick-mangos-thank.md
  .github/workflows/release.yml
  batch-submitter/go.mod
  batch-submitter/go.sum
  bss-core/go.mod
  bss-core/go.sum
  indexer/Dockerfile
  indexer/docker.go.work
  op-chain-ops/genesis/config.go
  op-chain-ops/genesis/db_migration.go
  op-e2e/actions/l2_engine.go
  op-e2e/actions/reorg_test.go
  op-e2e/e2eutils/setup.go
  op-e2e/geth.go
  op-e2e/go.mod
  op-e2e/go.sum
  op-e2e/migration_test.go
  packages/contracts-bedrock/deploy-config/mainnet-forked.json
  packages/contracts-bedrock/src/deploy-utils.ts
  packages/contracts-periphery/deployments/mainnet-forked/.chainId
  packages/contracts-periphery/deployments/mainnet-forked/AssetReceiver.json
  packages/contracts-periphery/deployments/mainnet-forked/CheckBalanceHigh.json
  packages/contracts-periphery/deployments/mainnet-forked/CheckBalanceLow.json
  packages/contracts-periphery/deployments/mainnet-forked/CheckGelatoLow.json
  packages/contracts-periphery/deployments/mainnet-forked/CheckTrue.json
  packages/contracts-periphery/deployments/mainnet-forked/Drippie.json
  packages/contracts-periphery/deployments/mainnet-forked/L1ERC721Bridge.json
  packages/contracts-periphery/deployments/mainnet-forked/L1ERC721BridgeProxy.json
  packages/contracts-periphery/deployments/mainnet-forked/TeleportrWithdrawer.json
  packages/contracts-periphery/deployments/mainnet-forked/solcInputs/5bd191b00ea9c0cd6028a01f6227b05c.json
  packages/contracts-periphery/deployments/mainnet-forked/solcInputs/66d28de48de020e62747d42ffe3118e7.json
  packages/contracts-periphery/deployments/mainnet-forked/solcInputs/ab9b77493f35e63b7a63fb2fa8d618b4.json
  packages/contracts-periphery/deployments/mainnet-forked/solcInputs/b09909e91a3ff9823ceba49a3a845230.json
  packages/contracts/deployments/mainnet-forked/.chainId
  packages/contracts/deployments/mainnet-forked/AddressDictator.json
  packages/contracts/deployments/mainnet-forked/BondManager.json
  packages/contracts/deployments/mainnet-forked/CanonicalTransactionChain.json
  packages/contracts/deployments/mainnet-forked/ChainStorageContainer-CTC-batches.json
  packages/contracts/deployments/mainnet-forked/ChainStorageContainer-SCC-batches.json
  packages/contracts/deployments/mainnet-forked/ChugSplashDictator.json
  packages/contracts/deployments/mainnet-forked/L1StandardBridge_for_verification_only.json
  packages/contracts/deployments/mainnet-forked/Lib_AddressManager.json
  packages/contracts/deployments/mainnet-forked/OVM_L1CrossDomainMessenger.json
  packages/contracts/deployments/mainnet-forked/Proxy__OVM_L1CrossDomainMessenger.json
  packages/contracts/deployments/mainnet-forked/Proxy__OVM_L1StandardBridge.json
  packages/contracts/deployments/mainnet-forked/README.md
  packages/contracts/deployments/mainnet-forked/StateCommitmentChain.json
  packages/contracts/deployments/mainnet-forked/TeleportrDeposit.json
  packages/contracts/deployments/mainnet-forked/solcInputs/4532a57dbcb505a79ddf510df0371b5f.json
  packages/contracts/deployments/mainnet-forked/solcInputs/475653b7e5822844bbc8885f604f5e79.json
  packages/contracts/deployments/mainnet-forked/solcInputs/7531d7762a77038a37e7490a7b4b176f.json
  packages/contracts/deployments/mainnet-forked/solcInputs/8a22f2b322f61ab13865f2d2a82e5f09.json
  packages/contracts/deployments/mainnet-forked/solcInputs/ad04ab9565e42a9370aa7f055041028d.json
  packages/contracts/deployments/mainnet-forked/solcInputs/e2f1121f17d06f85851dd0c837a00344.json
  packages/contracts/deployments/mainnet-forked/solcInputs/ef3f334bac4d7e77d91b457a0d89ab0a.json
  packages/contracts/deployments/mainnet-forked/solcInputs/f20d616c1af6713a0e8ca9fae9d7bae7.json
Labels: M-contracts, 2-reviewers, M-contracts-periphery, M-contracts-bedrock, indexer

#3972 Develop -> Master
  .changeset/afraid-fans-draw.md
  .changeset/nine-boats-walk.md
  .changeset/quick-mangos-thank.md
  batch-submitter/CHANGELOG.md
  batch-submitter/package.json
  indexer/CHANGELOG.md
  indexer/package.json
  ops/docker/hardhat/CHANGELOG.md
  ops/docker/hardhat/package.json
Labels: M-ops, 2-reviewers, indexer

#3878 feat(ctb): add MigrationSystemDictator checks
  packages/contracts-bedrock/deploy/017-MigrationSystemDictator.ts
  packages/contracts-bedrock/deploy/018-MigrationSystemDictatorSteps.ts
  packages/contracts-bedrock/src/deploy-utils.ts
Labels: 2-reviewers, on-merge-train, M-contracts-bedrock

#3836 feat(ctb): Two Step Withdrawals V2
  .changeset/poor-dots-perform.md
  indexer/integration_tests/bedrock_test.go
  op-bindings/bindings/optimismportal.go
  op-bindings/bindings/optimismportal_more.go
  op-e2e/actions/user.go
  op-e2e/actions/user_test.go
  op-e2e/e2eutils/setup.go
  op-e2e/system_test.go
  op-node/withdrawals/utils.go
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/.storage-layout
  packages/contracts-bedrock/contracts/L1/OptimismPortal.sol
  packages/contracts-bedrock/contracts/test/CommonTest.t.sol
  packages/contracts-bedrock/contracts/test/OptimismPortal.t.sol
  packages/contracts-bedrock/scripts/differential-testing.ts
  packages/sdk/src/cross-chain-messenger.ts
  packages/sdk/src/interfaces/types.ts
  packages/sdk/tasks/deposit-erc20.ts
  packages/sdk/tasks/deposit-eth.ts
  packages/sdk/tasks/finalize-withdrawal.ts
Labels: 2-reviewers, M-sdk, on-merge-train, M-contracts-bedrock, sdk, indexer

#3927 op-chain-ops: add logging to db migration
  op-chain-ops/crossdomain/migrate.go
  op-chain-ops/ether/migrate.go
  op-chain-ops/genesis/db_migration.go
  op-chain-ops/genesis/setters.go
Labels: on-merge-train

#3994 fix(ci): update yarn lock
  yarn.lock
Labels: on-merge-train

#3973 feat(ctb): remove historicalTotalBlocks
  .changeset/blue-hornets-jam.md
  op-bindings/bindings/l2outputoracle.go
  op-chain-ops/genesis/layer_one.go
  op-chain-ops/genesis/layer_one_test.go
  op-e2e/setup.go
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/L1/L2OutputOracle.sol
  packages/contracts-bedrock/contracts/test/CommonTest.t.sol
  packages/contracts-bedrock/contracts/test/L2OutputOracle.t.sol
  packages/contracts-bedrock/deploy/009-L2OutputOracleImpl.ts
  packages/contracts-bedrock/hardhat.config.ts
Labels: 2-reviewers, on-merge-train, M-contracts-bedrock

#3999 fix(ctb): deploy file ordering
  packages/contracts-bedrock/deploy/008-L1CrossDomainMessengerImpl.ts
  packages/contracts-bedrock/deploy/009-L1StandardBridgeImpl.ts
  packages/contracts-bedrock/deploy/010-L2OutputOracleImpl.ts
  packages/contracts-bedrock/deploy/011-OptimismPortalImpl.ts
  packages/contracts-bedrock/deploy/012-OptimismMintableERC20FactoryImpl.ts
  packages/contracts-bedrock/deploy/013-L1ERC721BridgeImpl.ts
  packages/contracts-bedrock/deploy/014-PortalSenderImpl.ts
  packages/contracts-bedrock/deploy/015-SystemConfigImpl.ts
  packages/contracts-bedrock/deploy/016-FreshSystemDictator.ts
  packages/contracts-bedrock/deploy/017-FreshSystemDictatorSteps.ts
  packages/contracts-bedrock/deploy/018-MigrationSystemDictator.ts
  packages/contracts-bedrock/deploy/019-MigrationSystemDictatorSteps.ts
Labels: 2-reviewers, on-merge-train, M-contracts-bedrock

#4001 fix(ctb): tweak addresses for MSD to wipe
  packages/contracts-bedrock/contracts/deployment/MigrationSystemDictator.sol
  packages/contracts-bedrock/deploy/019-MigrationSystemDictatorSteps.ts
Labels: 2-reviewers, on-merge-train, M-contracts-bedrock

#4003 Deleted unused variables from contracts-bedrock and add changeset
  .changeset/green-roses-prove.md
  packages/contracts-bedrock/src/deploy-utils.ts
Labels: 2-reviewers, on-merge-train, M-contracts-bedrock

#4000 feat(ctb): allow owner to finalize MSD at any time
  packages/contracts-bedrock/contracts/deployment/MigrationSystemDictator.sol
  packages/contracts-bedrock/deploy/019-MigrationSystemDictatorSteps.ts
Labels: 2-reviewers, on-merge-train, M-contracts-bedrock

#3862 Update forge-std and use bound instead of vm.assume
  .changeset/new-geese-applaud.md
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/test/CommonTest.t.sol
  packages/contracts-bedrock/contracts/test/CrossDomainOwnable.t.sol
  packages/contracts-bedrock/contracts/test/Hashing.t.sol
  packages/contracts-bedrock/contracts/test/OptimismPortal.t.sol
  packages/contracts-bedrock/package.json
  packages/contracts-periphery/package.json
  yarn.lock
Labels: 2-reviewers, on-merge-train, M-contracts-periphery, M-contracts-bedrock

#4018 feat(ctb): no gas snapshot for fuzz tests
  .circleci/config.yml
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/package.json
Labels: 2-reviewers, on-merge-train, M-contracts-bedrock

#4013 fix(ctb): allow same L2OO owner and proposer
  .changeset/strange-geckos-lay.md
  op-bindings/bindings/l2outputoracle.go
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/L1/L2OutputOracle.sol
  packages/contracts-bedrock/contracts/test/L2OutputOracle.t.sol
Labels: 2-reviewers, on-merge-train, M-contracts-bedrock

#4036 Bedrock: release v0.10.1 go modules
  op-batcher/go.mod
  op-batcher/go.sum
  op-chain-ops/go.mod
  op-chain-ops/go.sum
  op-e2e/go.mod
  op-e2e/go.sum
  op-node/go.mod
  op-node/go.sum
  op-proposer/go.mod
  op-proposer/go.sum
Labels: do-not-merge, mergify-ignore

#4032 CI: Enable Hive to work with external contributors
  .circleci/config.yml
Labels: on-merge-train

#4041 ctb: Configurable verification for deployer network
  packages/contracts-bedrock/hardhat.config.ts
Labels: 2-reviewers, M-contracts-bedrock

#4015 feat(ctb): MSD exit point 1
  packages/contracts-bedrock/contracts/deployment/MigrationSystemDictator.sol
Labels: 2-reviewers, on-merge-train, M-contracts-bedrock

#4028 fix(sdk): test flakes
  packages/sdk/tasks/deposit-erc20.ts
Labels: M-sdk, on-merge-train, sdk

#4048 fix(sdk): test flakes #2
  packages/sdk/tasks/deposit-erc20.ts
Labels: M-sdk, on-merge-train, sdk

#4042 ctb: Remove old beta-1 network
  packages/contracts-bedrock/deployments/beta-1/.chainId
  packages/contracts-bedrock/deployments/beta-1/AddressManager.json
  packages/contracts-bedrock/deployments/beta-1/L1CrossDomainMessenger.json
  packages/contracts-bedrock/deployments/beta-1/L1CrossDomainMessengerProxy.json
  packages/contracts-bedrock/deployments/beta-1/L1StandardBridge.json
  packages/contracts-bedrock/deployments/beta-1/L1StandardBridgeProxy.json
  packages/contracts-bedrock/deployments/beta-1/L2OutputOracle.json
  packages/contracts-bedrock/deployments/beta-1/L2OutputOracleProxy.json
  packages/contracts-bedrock/deployments/beta-1/OptimismMintableERC20Factory.json
  packages/contracts-bedrock/deployments/beta-1/OptimismMintableERC20FactoryProxy.json
  packages/contracts-bedrock/deployments/beta-1/OptimismPortal.json
  packages/contracts-bedrock/deployments/beta-1/OptimismPortalProxy.json
  packages/contracts-bedrock/deployments/beta-1/ProxyAdmin.json
  packages/contracts-bedrock/deployments/beta-1/solcInputs/bcb10ffa97d20df01425b453af7364d1.json
Labels: 2-reviewers, on-merge-train, M-contracts-bedrock

#4039 feat(ctb): unify fresh and migration deployments
  bedrock-devnet/devnet/__init__.py
  packages/contracts-bedrock/contracts/deployment/FreshSystemDictator.sol
  packages/contracts-bedrock/contracts/deployment/MigrationSystemDictator.sol
  packages/contracts-bedrock/deploy/000-ProxyAdmin.ts
  packages/contracts-bedrock/deploy/001-AddressManager.ts
  packages/contracts-bedrock/deploy/002-L1StandardBridgeProxy.ts
  packages/contracts-bedrock/deploy/003-L2OutputOracleProxy.ts
  packages/contracts-bedrock/deploy/004-L1CrossDomainMessengerProxy.ts
  packages/contracts-bedrock/deploy/005-OptimismPortalProxy.ts
  packages/contracts-bedrock/deploy/006-OptimismMintableERC20FactoryProxy.ts
  packages/contracts-bedrock/deploy/007-L1ERC721BridgeProxy.ts
  packages/contracts-bedrock/deploy/008-SystemConfigProxy.ts
  packages/contracts-bedrock/deploy/009-L1CrossDomainMessengerImpl.ts
  packages/contracts-bedrock/deploy/010-L1StandardBridgeImpl.ts
  packages/contracts-bedrock/deploy/011-L2OutputOracleImpl.ts
  packages/contracts-bedrock/deploy/012-OptimismPortalImpl.ts
  packages/contracts-bedrock/deploy/013-L1ERC721BridgeImpl.ts
  packages/contracts-bedrock/deploy/013-OptimismMintableERC20FactoryImpl.ts
  packages/contracts-bedrock/deploy/014-L1ERC721BridgeImpl.ts
  packages/contracts-bedrock/deploy/015-PortalSenderImpl.ts
  packages/contracts-bedrock/deploy/016-FreshSystemDictator.ts
  packages/contracts-bedrock/deploy/016-SystemConfigImpl.ts
  packages/contracts-bedrock/deploy/017-FreshSystemDictatorSteps.ts
  packages/contracts-bedrock/deploy/017-MigrationSystemDictator.ts
  packages/contracts-bedrock/deploy/018-MigrationSystemDictatorSteps.ts
  packages/contracts-bedrock/hardhat.config.ts
Labels: 2-reviewers, on-merge-train, M-contracts-bedrock

#4040 maint(ctb): minor cleanups in L2OO
  op-bindings/bindings/l2outputoracle.go
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/L1/L2OutputOracle.sol
  packages/contracts-bedrock/contracts/test/L2OutputOracle.t.sol
  packages/contracts-bedrock/contracts/test/OptimismPortal.t.sol
Labels: 2-reviewers, on-merge-train, M-contracts-bedrock

#4053 fix(sdk): final flake hotfix
  packages/sdk/tasks/deposit-erc20.ts
Labels: M-sdk, on-merge-train, sdk

#4014 feat(ctb): allow multiple output deletions
  .changeset/lovely-sheep-wash.md
  op-bindings/bindings/l2outputoracle.go
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/L1/L2OutputOracle.sol
  packages/contracts-bedrock/contracts/test/L2OutputOracle.t.sol
  packages/contracts-bedrock/contracts/test/OptimismPortal.t.sol
Labels: 2-reviewers, on-merge-train, M-contracts-bedrock

#4057 fix(ctb): Address DoS vulnerability in `OptimismPortal`'s `proveWithdrawalTransaction`
  .changeset/beige-clocks-wave.md
  op-bindings/bindings/optimismportal.go
  op-bindings/bindings/optimismportal_more.go
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/L1/OptimismPortal.sol
  packages/contracts-bedrock/contracts/test/OptimismPortal.t.sol
Labels: 2-reviewers, on-merge-train, M-contracts-bedrock

#4059 ci: enable devnet deploy
  .circleci/config.yml
  bedrock-devnet/devnet/__init__.py
  packages/contracts-bedrock/deploy/018-MigrationSystemDictatorSteps.ts
Labels: 2-reviewers, M-contracts-bedrock

#4019 maint: remove teleportr
  .circleci/config.yml
  .github/workflows/publish-canary.yml
  .github/workflows/release.yml
  README.md
  go.work
  go.work.sum
  package.json
  packages/contracts-periphery/.solcover.js
  packages/contracts-periphery/contracts/L1/TeleportrDeposit.sol
  packages/contracts-periphery/contracts/L1/TeleportrWithdrawer.sol
  packages/contracts-periphery/contracts/L2/TeleportrDisburser.sol
  packages/contracts-periphery/contracts/foundry-tests/TeleportrWithdrawer.t.sol
  packages/contracts-periphery/contracts/testing/helpers/MockTeleportr.sol
  packages/contracts-periphery/deploy/TeleportrWithdrawer.ts
  packages/contracts-periphery/package.json
  packages/contracts-periphery/test/contracts/L1/TeleportrDeposit.spec.ts
  packages/contracts-periphery/test/contracts/L2/TeleportrDisburser.spec.ts
  packages/contracts-periphery/test/contracts/universal/TeleportrWithdrawer.spec.ts
  packages/contracts/contracts/L1/teleportr/TeleportrDeposit.sol
  packages/contracts/contracts/L2/teleportr/TeleportrDisburser.sol
  packages/contracts/tasks/deploy-teleportr.ts
  packages/contracts/tasks/index.ts
  packages/contracts/test/contracts/L1/teleportr/TeleportrDeposit.spec.ts
  packages/contracts/test/contracts/L2/teleportr/TeleportrDisburser.spec.ts
  specs/meta/versioning.md
  teleportr/.gitignore
  teleportr/CHANGELOG.md
  teleportr/Dockerfile
  teleportr/Makefile
  teleportr/api/chain_data.go
  teleportr/api/chain_data_test.go
  teleportr/api/metrics.go
  teleportr/api/server.go
  teleportr/bindings/deposit/teleportr_deposit.go
  teleportr/bindings/disburse/teleportr_disburser.go
  teleportr/cmd/teleportr-api/main.go
  teleportr/cmd/teleportr/main.go
  teleportr/config.go
  teleportr/db/db.go
  teleportr/db/db_test.go
  teleportr/docker.go.work
  teleportr/drivers/disburser/driver.go
  teleportr/drivers/disburser/find_start_block_number.go
  teleportr/drivers/disburser/find_start_block_number_test.go
  teleportr/drivers/disburser/metrics.go
  teleportr/drivers/disburser/retry.go
  teleportr/drivers/disburser/retry_test.go
  teleportr/flags/api_flags.go
  teleportr/flags/flags.go
  teleportr/flags/flags_test.go
  teleportr/go.mod
  teleportr/go.sum
  teleportr/package.json
  teleportr/teleportr.go
Labels: M-contracts, 2-reviewers, C-Protocol-Critical, on-merge-train, M-contracts-periphery

#4033 feat(ctb): move L2OO genesis setup to init
  op-bindings/bindings/l2outputoracle.go
  op-bindings/bindings/optimismportal.go
  op-bindings/bindings/optimismportal_more.go
  op-chain-ops/genesis/layer_one.go
  op-chain-ops/genesis/layer_one_test.go
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/.storage-layout
  packages/contracts-bedrock/contracts/L1/L2OutputOracle.sol
  packages/contracts-bedrock/contracts/L1/OptimismPortal.sol
  packages/contracts-bedrock/contracts/deployment/BaseSystemDictator.sol
  packages/contracts-bedrock/contracts/deployment/MigrationSystemDictator.sol
  packages/contracts-bedrock/contracts/test/CommonTest.t.sol
  packages/contracts-bedrock/contracts/test/L2OutputOracle.t.sol
  packages/contracts-bedrock/contracts/test/OptimismPortal.t.sol
  packages/contracts-bedrock/deploy/011-L2OutputOracleImpl.ts
  packages/contracts-bedrock/src/deploy-utils.ts
  packages/sdk/src/cross-chain-messenger.ts
Labels: 2-reviewers, M-sdk, on-merge-train, M-contracts-bedrock, sdk

#4067 ci: Add echidna to Dockerfile
  ops/docker/ci-builder/Dockerfile
Labels: M-ops, 2-reviewers, on-merge-train

#4068 fix(ctb): deploy bug
  packages/contracts-bedrock/contracts/deployment/MigrationSystemDictator.sol
  packages/contracts-bedrock/deploy/018-MigrationSystemDictatorSteps.ts
Labels: 2-reviewers, on-merge-train, M-contracts-bedrock

#4082 Release ci-builder
  .changeset/purple-waves-poke.md
  ops/docker/ci-builder/CHANGELOG.md
  ops/docker/ci-builder/package.json
Labels: M-ops, 2-reviewers

#4083 ci: Add job to run echidna
  .changeset/breezy-rockets-knock.md
  .circleci/config.yml
  packages/contracts-bedrock/README.md
  packages/contracts-bedrock/foundry.toml
  packages/contracts-bedrock/hardhat.config.ts
  packages/contracts-bedrock/package.json
Labels: 2-reviewers, M-contracts-bedrock

#4077 feat(mergify reviews): Remove Nick and Imran from mergify
  .github/mergify.yml
Labels: 2-reviewers

#4086 fix(ctb): gas snapshot rm extra build step
  packages/contracts-bedrock/package.json
Labels: 2-reviewers, on-merge-train, M-contracts-bedrock

#4085 chore: update license year
  LICENSE
Labels: on-merge-train

#4066 feat(ctb): remove genesis output
  op-bindings/bindings/l2outputoracle.go
  op-chain-ops/genesis/config.go
  op-chain-ops/genesis/layer_one.go
  op-chain-ops/genesis/testdata/test-deploy-config-full.json
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/L1/L2OutputOracle.sol
  packages/contracts-bedrock/contracts/deployment/BaseSystemDictator.sol
  packages/contracts-bedrock/contracts/deployment/MigrationSystemDictator.sol
  packages/contracts-bedrock/contracts/test/CommonTest.t.sol
  packages/contracts-bedrock/contracts/test/L2OutputOracle.t.sol
  packages/contracts-bedrock/deploy-config/hardhat.json
  packages/contracts-bedrock/deploy/011-L2OutputOracleImpl.ts
  packages/contracts-bedrock/deploy/017-MigrationSystemDictator.ts
  packages/contracts-bedrock/deploy/018-MigrationSystemDictatorSteps.ts
  packages/contracts-bedrock/hardhat.config.ts
  packages/sdk/tasks/deposit-erc20.ts
Labels: 2-reviewers, M-sdk, M-contracts-bedrock, sdk

#4051 feat(dtl): handle deposit shutoff
  .changeset/orange-bananas-nail.md
  packages/data-transport-layer/src/services/l1-ingestion/service.ts
Labels: M-dtl, 2-reviewers, C-Protocol-Critical, on-merge-train

#4095 feat(ctb): make L2OO addrs immutable
  op-bindings/bindings/l2outputoracle.go
  op-chain-ops/genesis/config.go
  op-chain-ops/genesis/layer_one.go
  op-chain-ops/genesis/layer_one_test.go
  op-chain-ops/genesis/testdata/test-deploy-config-devnet-l1.json
  op-chain-ops/genesis/testdata/test-deploy-config-full.json
  op-e2e/e2eutils/setup.go
  op-e2e/setup.go
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/.storage-layout
  packages/contracts-bedrock/contracts/L1/L2OutputOracle.sol
  packages/contracts-bedrock/contracts/deployment/BaseSystemDictator.sol
  packages/contracts-bedrock/contracts/deployment/MigrationSystemDictator.sol
  packages/contracts-bedrock/contracts/test/CommonTest.t.sol
  packages/contracts-bedrock/contracts/test/L2OutputOracle.t.sol
  packages/contracts-bedrock/contracts/test/OptimismPortal.t.sol
  packages/contracts-bedrock/deploy-config/devnetL1.json
  packages/contracts-bedrock/deploy-config/goerli.json
  packages/contracts-bedrock/deploy-config/hardhat.json
  packages/contracts-bedrock/deploy/011-L2OutputOracleImpl.ts
  packages/contracts-bedrock/deploy/018-MigrationSystemDictatorSteps.ts
  packages/contracts-bedrock/hardhat.config.ts
  packages/contracts-bedrock/package.json
  packages/contracts-bedrock/src/deploy-utils.ts
  packages/contracts-bedrock/tasks/rekey.ts
Labels: 2-reviewers, M-contracts-bedrock

#4101 ci: Remove unused workflows
  .github/workflows/ext-test-snx.yml
  .github/workflows/sync-tests.yml
Labels: 2-reviewers

#4103 op-node: Hardcode beta-1 config
  op-node/chaincfg/chains.go
  op-node/flags/flags.go
  op-node/service.go
Labels: on-merge-train

#4093 feat(ctb): make SUBMISSION_INTERVAL modifiable
  .changeset/quick-bananas-pretend.md
  indexer/integration_tests/bedrock_test.go
  op-bindings/bindings/l2outputoracle.go
  op-bindings/bindings/optimismportal.go
  op-bindings/bindings/optimismportal_more.go
  op-e2e/actions/l2_proposer_test.go
  op-e2e/actions/user.go
  op-e2e/system_test.go
  op-node/withdrawals/utils.go
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/.storage-layout
  packages/contracts-bedrock/contracts/L1/L2OutputOracle.sol
  packages/contracts-bedrock/contracts/L1/OptimismPortal.sol
  packages/contracts-bedrock/contracts/libraries/Types.sol
  packages/contracts-bedrock/contracts/test/CommonTest.t.sol
  packages/contracts-bedrock/contracts/test/L2OutputOracle.t.sol
  packages/contracts-bedrock/contracts/test/OptimismPortal.t.sol
  packages/core-utils/src/optimism/hashing.ts
  packages/sdk/src/cross-chain-messenger.ts
  specs/proposals.md
Labels: M-core-utils, 2-reviewers, M-sdk, M-contracts-bedrock, sdk, indexer

#4064 fix(ctb): break out clamp func in Metering
  op-bindings/bindings/optimismportal.go
  op-bindings/bindings/optimismportal_more.go
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/L1/ResourceMetering.sol
  packages/contracts-bedrock/contracts/libraries/Arithmetic.sol
Labels: 2-reviewers, on-merge-train, M-contracts-bedrock

#4078 op-chain-ops: add bedrock transition receipts
  op-chain-ops/crossdomain/legacy_withdrawal.go
  op-chain-ops/crossdomain/migrate.go
  op-chain-ops/crossdomain/migrate_test.go
  op-chain-ops/crossdomain/types.go
  op-chain-ops/crossdomain/withdrawal.go
  op-chain-ops/genesis/db_migration.go
  op-chain-ops/genesis/receipts.go
Labels: on-merge-train

#4114 feat: op-migrate docker image
  .circleci/config.yml
  op-chain-ops/.gitignore
  op-chain-ops/Dockerfile
  op-chain-ops/Makefile
  op-chain-ops/README.md
  op-chain-ops/cmd/op-migrate/main.go
  op-chain-ops/docker.go.work
Labels: on-merge-train

#4115 op-chain-ops: no longer embed receipts
  op-chain-ops/crossdomain/withdrawal.go
  op-chain-ops/genesis/db_migration.go
  op-chain-ops/genesis/receipts.go
Labels: on-merge-train

#4117 op-chain-ops: set initial message passer nonce
  op-chain-ops/genesis/config.go
Labels: on-merge-train

#4118 op-chain-ops: more cleanup in migrate script
  op-chain-ops/crossdomain/migrate.go
  op-chain-ops/genesis/db_migration.go
Labels: on-merge-train
