Repository ethereum-optimism/optimism, pull requests merged in 2022-04, with the labels that each got.

#2393 fix(dtl): kovan DTL halting issue
  .changeset/brown-dots-whisper.md
  packages/data-transport-layer/src/db/transport-db.ts
  packages/data-transport-layer/src/services/l2-ingestion/handlers/errors.ts
  packages/data-transport-layer/src/services/l2-ingestion/handlers/transaction.ts
  packages/data-transport-layer/src/services/l2-ingestion/service.ts
Labels: M-dtl, 2-reviewers, on-merge-train

#2398 Develop -> Master Release PR
  .changeset/brown-dots-whisper.md
  .changeset/cuddly-geese-allow.md
  .changeset/fair-cows-think.md
  .changeset/four-flowers-run.md
  .changeset/lovely-weeks-hang.md
  .changeset/moody-drinks-lie.md
  .changeset/new-jokes-walk.md
  .changeset/popular-plants-change.md
  .changeset/sharp-terms-pay.md
  .changeset/tender-scissors-report.md
  .changeset/tiny-melons-float.md
  .changeset/twelve-shrimps-add.md
  .changeset/weak-walls-cross.md
  go/gas-oracle/CHANGELOG.md
  go/gas-oracle/package.json
  integration-tests/CHANGELOG.md
  integration-tests/package.json
  l2geth/CHANGELOG.md
  l2geth/package.json
  ops/docker/hardhat/CHANGELOG.md
  ops/docker/hardhat/package.json
  packages/common-ts/CHANGELOG.md
  packages/common-ts/package.json
  packages/contracts/CHANGELOG.md
  packages/contracts/package.json
  packages/core-utils/CHANGELOG.md
  packages/core-utils/package.json
  packages/data-transport-layer/CHANGELOG.md
  packages/data-transport-layer/package.json
  packages/message-relayer/CHANGELOG.md
  packages/message-relayer/package.json
  packages/replica-healthcheck/CHANGELOG.md
  packages/replica-healthcheck/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Labels: M-core-utils, M-dtl, M-ops, M-contracts, 2-reviewers, M-l2geth, M-integration, M-sdk

#2392 l2geth: skip flaky accountcmd tests
  .changeset/light-bugs-teach.md
  l2geth/cmd/geth/accountcmd_test.go
Labels: 2-reviewers, M-l2geth

#2389 Deleted update functions, getSingleNodeRootHash internal functions, a…
  .changeset/lemon-pianos-study.md
  packages/contracts/contracts/libraries/trie/Lib_MerkleTrie.sol
  packages/contracts/contracts/libraries/trie/Lib_SecureMerkleTrie.sol
  packages/contracts/contracts/test-libraries/trie/TestLib_MerkleTrie.sol
  packages/contracts/contracts/test-libraries/trie/TestLib_SecureMerkleTrie.sol
  packages/contracts/test/contracts/libraries/trie/Lib_MerkleTrie.spec.ts
  packages/contracts/test/contracts/libraries/trie/Lib_SecureMerkleTrie.spec.ts
Labels: M-contracts, 2-reviewers, on-merge-train

#2394 l2geth: quick style fix
  .changeset/blue-rings-repeat.md
  l2geth/rollup/sync_service.go
Labels: 2-reviewers, M-l2geth, on-merge-train

#2388 ci: Add action to close stale PRs
  .github/workflows/close-stale.yml
Labels: 2-reviewers, on-merge-train

#2249 deps: bump to typescript@4.6.2
  .changeset/twelve-buses-greet.md
  package.json
  packages/common-ts/package.json
  packages/contracts/package.json
  packages/core-utils/package.json
  packages/core-utils/tsconfig.json
  packages/data-transport-layer/package.json
  packages/data-transport-layer/tsconfig.json
  packages/message-relayer/package.json
  packages/replica-healthcheck/package.json
  packages/sdk/package.json
  yarn.lock
Labels: M-core-utils, M-dtl, M-contracts, 2-reviewers, M-sdk, on-merge-train

#2402 ci: Add teleportr release, fix indexer canary
  .github/workflows/publish-canary.yml
  .github/workflows/release.yml
Labels: 2-reviewers, on-merge-train

#2409 ci: Fix bad condition
  .github/mergify.yml
Labels: 2-reviewers

#2408 l2geth: skip unused tests
  .changeset/lovely-pigs-return.md
  l2geth/eth/downloader/downloader_test.go
Labels: 2-reviewers, M-l2geth, on-merge-train

#2407 deps: use docker golang:1.18.0-alpine3.15
  .changeset/lemon-coins-tan.md
  go/proxyd/Dockerfile
  ops/docker/Dockerfile.batch-submitter-service
  ops/docker/Dockerfile.gas-oracle
  ops/docker/Dockerfile.geth
  ops/docker/Dockerfile.indexer
  ops/docker/Dockerfile.l2geth-exporter
  ops/docker/Dockerfile.op-exporter
  ops/docker/Dockerfile.teleportr
Labels: M-ops, 2-reviewers, on-merge-train

#2405 {go,js}-builder: bump versions, add to ci
  .changeset/shy-panthers-cough.md
  .github/workflows/release.yml
  ops/docker/go-builder/Dockerfile
  ops/docker/go-builder/package.json
  ops/docker/js-builder/package.json
  package.json
Labels: M-ops, 2-reviewers, on-merge-train

#2406 l2geth: Revert pub/sub transactions
  .changeset/slow-tables-sip.md
  go/batch-submitter/go.sum
  l2geth/cmd/geth/main.go
  l2geth/cmd/geth/usage.go
  l2geth/cmd/utils/flags.go
  l2geth/core/types/transaction_meta.go
  l2geth/eth/backend.go
  l2geth/eth/config.go
  l2geth/go.mod
  l2geth/go.sum
  l2geth/rollup/metrics.go
  l2geth/rollup/pub/google.go
  l2geth/rollup/pub/pub.go
  l2geth/rollup/sub.go
  l2geth/rollup/sync_service.go
  l2geth/rollup/sync_service_test.go
  l2geth/rollup/types.go
Labels: 2-reviewers, M-l2geth, on-merge-train

#2411 changesets: delete old batch submitter
  .changeset/twelve-buses-greet.md
Labels: on-merge-train

#2414 Develop -> Master Release PR
  .changeset/blue-rings-repeat.md
  .changeset/lemon-coins-tan.md
  .changeset/lemon-pianos-study.md
  .changeset/light-bugs-teach.md
  .changeset/lovely-pigs-return.md
  .changeset/shy-panthers-cough.md
  .changeset/slow-tables-sip.md
  .changeset/twelve-buses-greet.md
  go/batch-submitter/CHANGELOG.md
  go/batch-submitter/package.json
  go/gas-oracle/CHANGELOG.md
  go/gas-oracle/package.json
  go/indexer/CHANGELOG.md
  go/indexer/package.json
  go/l2geth-exporter/CHANGELOG.md
  go/l2geth-exporter/package.json
  go/op-exporter/CHANGELOG.md
  go/op-exporter/package.json
  go/proxyd/CHANGELOG.md
  go/proxyd/package.json
  go/teleportr/CHANGELOG.md
  go/teleportr/package.json
  integration-tests/package.json
  l2geth/CHANGELOG.md
  l2geth/package.json
  ops/docker/go-builder/CHANGELOG.md
  ops/docker/go-builder/package.json
  ops/docker/js-builder/CHANGELOG.md
  ops/docker/js-builder/package.json
  packages/common-ts/CHANGELOG.md
  packages/common-ts/package.json
  packages/contracts/CHANGELOG.md
  packages/contracts/package.json
  packages/core-utils/CHANGELOG.md
  packages/core-utils/package.json
  packages/data-transport-layer/CHANGELOG.md
  packages/data-transport-layer/package.json
  packages/message-relayer/CHANGELOG.md
  packages/message-relayer/package.json
  packages/replica-healthcheck/CHANGELOG.md
  packages/replica-healthcheck/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Labels: M-core-utils, M-dtl, M-ops, M-contracts, 2-reviewers, M-l2geth, M-integration, M-sdk

#2334 maint(ct): clean up contract tests 1
  packages/contracts/test/contracts/L1/deployment/AddressDictator.spec.ts
  packages/contracts/test/contracts/L1/deployment/ChugSplashDictator.spec..ts
  packages/contracts/test/contracts/L1/deployment/ChugSplashDictator.spec.ts
  packages/contracts/test/contracts/chugsplash/L1ChugSplashProxy.spec.ts
  packages/contracts/test/helpers/utils/deploy.ts
  packages/contracts/test/helpers/utils/index.ts
Labels: M-contracts, 2-reviewers, on-merge-train

#2420 ci: Fix typo in close stale workflow
  .github/workflows/close-stale.yml
Labels: 2-reviewers, on-merge-train

#2425 contracts: gas oracle script
  .changeset/smart-foxes-shop.md
  packages/contracts/scripts/ovm-gas-oracle.sh
  packages/contracts/tasks/index.ts
  packages/contracts/tasks/l2-gasprice.ts
Labels: M-contracts, 2-reviewers, on-merge-train

#2418 [Low priority] Fix a bunch of nits in sdk
  .changeset/mean-spies-trade.md
  packages/sdk/src/adapters/dai-bridge.ts
  packages/sdk/src/adapters/eth-bridge.ts
  packages/sdk/src/cross-chain-messenger.ts
  packages/sdk/src/interfaces/l2-provider.ts
  packages/sdk/src/interfaces/types.ts
  packages/sdk/src/l2-provider.ts
  packages/sdk/src/utils/chain-constants.ts
  packages/sdk/src/utils/coercion.ts
  packages/sdk/src/utils/contracts.ts
  packages/sdk/src/utils/misc-utils.ts
Labels: M-sdk, on-merge-train

#2428 fix: trigger builder image releases
  .changeset/lazy-mangos-relax.md
  .github/workflows/release.yml
Labels: 2-reviewers, on-merge-train

#2427 ci: Fix the labeler
  .github/labeler.yml
Labels: 2-reviewers, on-merge-train

#2430 Develop -> Master PR
  .changeset/lazy-mangos-relax.md
  .changeset/mean-spies-trade.md
  .changeset/smart-foxes-shop.md
  .github/labeler.yml
  .github/workflows/changesets.yml
  .github/workflows/close-stale.yml
  .github/workflows/release.yml
  packages/contracts/scripts/ovm-gas-oracle.sh
  packages/contracts/tasks/index.ts
  packages/contracts/tasks/l2-gasprice.ts
  packages/contracts/test/contracts/L1/deployment/AddressDictator.spec.ts
  packages/contracts/test/contracts/L1/deployment/ChugSplashDictator.spec..ts
  packages/contracts/test/contracts/L1/deployment/ChugSplashDictator.spec.ts
  packages/contracts/test/contracts/chugsplash/L1ChugSplashProxy.spec.ts
  packages/contracts/test/helpers/utils/deploy.ts
  packages/contracts/test/helpers/utils/index.ts
  packages/sdk/src/adapters/dai-bridge.ts
  packages/sdk/src/adapters/eth-bridge.ts
  packages/sdk/src/cross-chain-messenger.ts
  packages/sdk/src/interfaces/l2-provider.ts
  packages/sdk/src/interfaces/types.ts
  packages/sdk/src/l2-provider.ts
  packages/sdk/src/utils/chain-constants.ts
  packages/sdk/src/utils/coercion.ts
  packages/sdk/src/utils/contracts.ts
  packages/sdk/src/utils/misc-utils.ts
Labels: M-contracts, 2-reviewers, M-sdk

#2433 ci: fix broken publish + changeset integrity
  .github/workflows/changesets.yml
  .github/workflows/release.yml
Labels: 2-reviewers, on-merge-train

#2435 Develop -> Master PR
  .changeset/dry-terms-suffer.md
  .github/workflows/changesets.yml
  .github/workflows/release.yml
Labels: 2-reviewers

#2437 Develop -> Master Release PR
  .changeset/dry-terms-suffer.md
  ops/docker/go-builder/CHANGELOG.md
  ops/docker/go-builder/package.json
  ops/docker/js-builder/CHANGELOG.md
  ops/docker/js-builder/package.json
Labels: M-ops, 2-reviewers

#2439 dtl: Use Basic Auth in L1TransportServer
  .changeset/popular-birds-whisper.md
  packages/data-transport-layer/src/services/server/service.ts
Labels: M-dtl, 2-reviewers, C-Protocol-Critical, on-merge-train

#2441 indexer: Don't spam the backend
  .changeset/serious-tables-jam.md
  go/indexer/indexer.go
  go/indexer/services/l1/confirmed_headers.go
  go/indexer/services/l1/service.go
  go/indexer/services/l2/confirmed_headers.go
  go/indexer/services/l2/service.go
  go/indexer/services/util/util.go
Labels: on-merge-train

#2444 goerli-nightly-deployment
  packages/contracts/deploy-config/goerli-nightly.ts
  packages/contracts/deployments/goerli-nightly/.chainId
  packages/contracts/deployments/goerli-nightly/AddressDictator.json
  packages/contracts/deployments/goerli-nightly/BondManager.json
  packages/contracts/deployments/goerli-nightly/CanonicalTransactionChain.json
  packages/contracts/deployments/goerli-nightly/ChainStorageContainer-CTC-batches.json
  packages/contracts/deployments/goerli-nightly/ChainStorageContainer-SCC-batches.json
  packages/contracts/deployments/goerli-nightly/ChugSplashDictator.json
  packages/contracts/deployments/goerli-nightly/L1StandardBridge_for_verification_only.json
  packages/contracts/deployments/goerli-nightly/Lib_AddressManager.json
  packages/contracts/deployments/goerli-nightly/OVM_L1CrossDomainMessenger.json
  packages/contracts/deployments/goerli-nightly/Proxy__OVM_L1CrossDomainMessenger.json
  packages/contracts/deployments/goerli-nightly/Proxy__OVM_L1StandardBridge.json
  packages/contracts/deployments/goerli-nightly/StateCommitmentChain.json
  packages/contracts/deployments/goerli-nightly/solcInputs/0be4bc8d116b632300d43e314f15da0c.json
  packages/contracts/deployments/goerli-nightly/solcInputs/135031d3a6e239ee886cdb6d92ff3eb4.json
  packages/contracts/deployments/goerli-nightly/solcInputs/1922d6575f24d34049f0f77444309807.json
  packages/contracts/deployments/goerli-nightly/solcInputs/1bd14ab7f178fa738825499e24d5538d.json
  packages/contracts/deployments/goerli-nightly/solcInputs/453cf665b5e2b83b8253dcbd4b55e968.json
  packages/contracts/deployments/goerli-nightly/solcInputs/4a53c0dd06fca16c6fdd29a0c129b9a0.json
  packages/contracts/deployments/goerli-nightly/solcInputs/7fe827ece38118a4048028a490020ad2.json
  packages/contracts/deployments/goerli-nightly/solcInputs/851ead2506cb170c280352cdcfc619e3.json
  packages/contracts/deployments/goerli-nightly/solcInputs/ad04ab9565e42a9370aa7f055041028d.json
  packages/contracts/deployments/goerli-nightly/solcInputs/b4ecc4d6ec9067f0dc398c96f1aabdaf.json
  packages/contracts/deployments/goerli-nightly/solcInputs/fe8f11a27fedbac07dcc3c9879e50c98.json
  packages/contracts/genesis/goerli-nightly.json
Labels: M-contracts, 2-reviewers, on-merge-train

#2440 chore: Add jsdoc comments to functions in contract-defs
  packages/contracts/src/contract-defs.ts
Labels: M-contracts, 2-reviewers, on-merge-train

#2450 ci: Add a job to nag when changesets are missing
  .github/mergify.yml
Labels: 2-reviewers, on-merge-train

#2423 feat: bss less strict min-tx-size
  .changeset/chilled-penguins-kneel.md
  go/batch-submitter/drivers/sequencer/driver.go
Labels: on-merge-train

#2448 fix (indexer): update l2 bridge addresses
  .changeset/swift-impalas-sip.md
  go/indexer/services/l2/bridge/bridge.go
Labels: on-merge-train

#2452 Develop -> Master
  .changeset/chilled-penguins-kneel.md
  .changeset/late-swans-drum.md
  .changeset/popular-birds-whisper.md
  .changeset/serious-tables-jam.md
  .changeset/shiny-fishes-buy.md
  .changeset/swift-impalas-sip.md
  .github/mergify.yml
  go/batch-submitter/drivers/sequencer/driver.go
  go/indexer/indexer.go
  go/indexer/services/l1/confirmed_headers.go
  go/indexer/services/l1/service.go
  go/indexer/services/l2/bridge/bridge.go
  go/indexer/services/l2/confirmed_headers.go
  go/indexer/services/l2/service.go
  go/indexer/services/util/util.go
  go/proxyd/backend.go
  go/proxyd/cache.go
  go/proxyd/config.go
  go/proxyd/integration_tests/batch_timeout_test.go
  go/proxyd/integration_tests/testdata/batch_timeout.toml
  go/proxyd/metrics.go
  go/proxyd/proxyd.go
  go/proxyd/server.go
  packages/contracts/deploy-config/goerli-nightly.ts
  packages/contracts/deployments/goerli-nightly/.chainId
  packages/contracts/deployments/goerli-nightly/AddressDictator.json
  packages/contracts/deployments/goerli-nightly/BondManager.json
  packages/contracts/deployments/goerli-nightly/CanonicalTransactionChain.json
  packages/contracts/deployments/goerli-nightly/ChainStorageContainer-CTC-batches.json
  packages/contracts/deployments/goerli-nightly/ChainStorageContainer-SCC-batches.json
  packages/contracts/deployments/goerli-nightly/ChugSplashDictator.json
  packages/contracts/deployments/goerli-nightly/L1StandardBridge_for_verification_only.json
  packages/contracts/deployments/goerli-nightly/Lib_AddressManager.json
  packages/contracts/deployments/goerli-nightly/OVM_L1CrossDomainMessenger.json
  packages/contracts/deployments/goerli-nightly/Proxy__OVM_L1CrossDomainMessenger.json
  packages/contracts/deployments/goerli-nightly/Proxy__OVM_L1StandardBridge.json
  packages/contracts/deployments/goerli-nightly/StateCommitmentChain.json
  packages/contracts/deployments/goerli-nightly/solcInputs/0be4bc8d116b632300d43e314f15da0c.json
  packages/contracts/deployments/goerli-nightly/solcInputs/135031d3a6e239ee886cdb6d92ff3eb4.json
  packages/contracts/deployments/goerli-nightly/solcInputs/1922d6575f24d34049f0f77444309807.json
  packages/contracts/deployments/goerli-nightly/solcInputs/1bd14ab7f178fa738825499e24d5538d.json
  packages/contracts/deployments/goerli-nightly/solcInputs/453cf665b5e2b83b8253dcbd4b55e968.json
  packages/contracts/deployments/goerli-nightly/solcInputs/4a53c0dd06fca16c6fdd29a0c129b9a0.json
  packages/contracts/deployments/goerli-nightly/solcInputs/7fe827ece38118a4048028a490020ad2.json
  packages/contracts/deployments/goerli-nightly/solcInputs/851ead2506cb170c280352cdcfc619e3.json
  packages/contracts/deployments/goerli-nightly/solcInputs/ad04ab9565e42a9370aa7f055041028d.json
  packages/contracts/deployments/goerli-nightly/solcInputs/b4ecc4d6ec9067f0dc398c96f1aabdaf.json
  packages/contracts/deployments/goerli-nightly/solcInputs/fe8f11a27fedbac07dcc3c9879e50c98.json
  packages/contracts/genesis/goerli-nightly.json
  packages/contracts/hardhat.config.ts
  packages/contracts/src/contract-defs.ts
  packages/contracts/test/contracts/L1/rollup/CanonicalTransactionChain.spec.ts
  packages/contracts/test/helpers/constants.ts
  packages/data-transport-layer/src/services/server/service.ts
Labels: M-dtl, M-contracts, 2-reviewers, C-Protocol-Critical

#2451 ci: Remove old nightly
  .circleci/config.yml
Labels: on-merge-train

#2457 docs: reentrancy protection comment on L2 messenger
  packages/contracts/contracts/L2/messaging/L2CrossDomainMessenger.sol
Labels: M-contracts, 2-reviewers, C-Protocol-Critical, on-merge-train

#2456 fix(rhc): bug when target leads reference
  .changeset/tidy-swans-yell.md
  packages/replica-healthcheck/src/service.ts
Labels: on-merge-train

#2461 fix(ci): no changeset nag for ts tests
  .github/mergify.yml
Labels: 2-reviewers, on-merge-train

#2463 maint(ct): clean up CSC tests
  packages/contracts/test/contracts/L1/rollup/ChainStorageContainer.spec.ts
Labels: M-contracts, 2-reviewers, on-merge-train

#2460 maint(ct): clean up deposit gas spec tests
  packages/contracts/test/contracts/L1/messaging/deposit.gas.spec.ts
Labels: M-contracts, 2-reviewers, on-merge-train

#2459 maint(ct): clean up L1XDM tests
  packages/contracts/test/contracts/L1/messaging/L1CrossDomainMessenger.spec.ts
Labels: M-contracts, 2-reviewers, on-merge-train

#2458 maint(ct): clean up L1StandardBridge tests
  packages/contracts/test/contracts/L1/messaging/L1StandardBridge.spec.ts
Labels: M-contracts, 2-reviewers, on-merge-train

#2465 ci: Respect do not merge tag in mergify
  .github/mergify.yml
Labels: 2-reviewers, on-merge-train

#2469 ci: Fix mergify config
  .github/mergify.yml
Labels: 2-reviewers

#2468 fix(sdk): use correct overrides type
  .changeset/yellow-pandas-help.md
  packages/sdk/src/adapters/standard-bridge.ts
  packages/sdk/src/cross-chain-messenger.ts
  packages/sdk/src/interfaces/bridge-adapter.ts
  packages/sdk/src/interfaces/cross-chain-messenger.ts
Labels: M-sdk, on-merge-train

#2474 maint(ct): clean up BondManager tests
  packages/contracts/test/contracts/L1/verification/BondManager.spec.ts
Labels: M-contracts, 2-reviewers, on-merge-train

#2473 maint(ct): clean up Teleportr tests
  packages/contracts/test/contracts/L1/teleportr/TeleportrDeposit.spec.ts
Labels: M-contracts, 2-reviewers, on-merge-train

#2464 proxyd: Limit the number of concurrent RPCs to backends
  .changeset/rude-mayflies-shout.md
  go/proxyd/backend.go
  go/proxyd/config.go
  go/proxyd/example.config.toml
  go/proxyd/go.mod
  go/proxyd/integration_tests/max_rpc_conns_test.go
  go/proxyd/integration_tests/testdata/max_rpc_conns.toml
  go/proxyd/metrics.go
  go/proxyd/proxyd.go
Labels: on-merge-train

#2470 proxyd: Log sanitized RPC requests
  .changeset/blue-olives-add.md
  go/proxyd/server.go
Labels: on-merge-train

#2472 maint(ct): clean up CTC tests
  packages/contracts/test/contracts/L1/rollup/CanonicalTransactionChain.spec.ts
Labels: M-contracts, 2-reviewers, on-merge-train

#2475 maint(ct): clean up L2xDM tests
  packages/contracts/test/contracts/L2/messaging/L2CrossDomainMessenger.spec.ts
  packages/contracts/test/helpers/utils/impersonation.ts
  packages/contracts/test/helpers/utils/index.ts
Labels: M-contracts, 2-reviewers, on-merge-train

#2478 integration-tests: Add tests for system addrs on verifiers/replicas
  .changeset/tiny-rules-report.md
  integration-tests/test/system-addresses.spec.ts
Labels: M-integration, on-merge-train

#2479 ci: Nightly release builds
  .circleci/config.yml
Labels: on-merge-train

#2482 ci: Rename docker env var, specify optimism context
  .circleci/config.yml
Labels: on-merge-train

#2487 ci: Update remote docker version
  .circleci/config.yml
Labels: on-merge-train

#2490 dtl: fix openapi
  packages/data-transport-layer/openapi.yml
Labels: M-dtl, 2-reviewers, on-merge-train

#2484 teleportr: Use L2 gas price
  .changeset/funny-zebras-glow.md
  go/teleportr/drivers/disburser/driver.go
Labels: on-merge-train

#2486 Added kustomize deployment for goerli-nightly replica
  infra/op-replica/envs/goerli-nightly/check-for-chaindata.sh
  infra/op-replica/envs/goerli-nightly/data-transport-layer.env
  infra/op-replica/envs/goerli-nightly/kustomization.yaml
  infra/op-replica/envs/goerli-nightly/l2geth-replica.env
  infra/op-replica/envs/goerli-nightly/replica-healthcheck.env
  infra/op-replica/kustomize/bases/replica-healthcheck-v1/deployment.yaml
  infra/op-replica/kustomize/overlays/goerli-nightly/kustomization.yaml
  infra/op-replica/kustomize/overlays/goerli-nightly/patches/dtl-volume.yaml
  infra/op-replica/kustomize/overlays/goerli-nightly/patches/dtl.yaml
  infra/op-replica/kustomize/overlays/goerli-nightly/patches/l2geth-volume.yaml
  infra/op-replica/kustomize/overlays/goerli-nightly/patches/l2geth.yaml
  infra/op-replica/kustomize/overlays/goerli-nightly/patches/replica-healthcheck.yaml
  infra/op-replica/kustomize/overlays/goerli-nightly/volumes.yaml
Labels: on-merge-train

#2496 indexer: fix context reuse in bridge filter query
  .changeset/stupid-apples-glow.md
  go/indexer/services/l1/bridge/eth_bridge.go
  go/indexer/services/l1/bridge/filter.go
  go/indexer/services/l1/bridge/standard_bridge.go
  go/indexer/services/l1/query.go
  go/indexer/services/l2/bridge/filter.go
  go/indexer/services/l2/bridge/standard_bridge.go
Labels: on-merge-train

#2493 maint(ct): clean up OVM_ETH tests
  packages/contracts/test/contracts/L2/predeploys/OVM_ETH.spec.ts
Labels: M-contracts, 2-reviewers, on-merge-train

#2492 maint(ct): clean up L2StdTokenFac tests
  packages/contracts/test/contracts/L2/messaging/L2StandardTokenFactory.spec.ts
Labels: M-contracts, 2-reviewers, on-merge-train

#2353 Added SCC TotalElement collection for metrics
  .changeset/long-ties-boil.md
  go/l2geth-exporter/Makefile
  go/l2geth-exporter/bindings/StateCommitmentChain.go
  go/l2geth-exporter/collector.go
  go/l2geth-exporter/l1contracts/main.go
  go/l2geth-exporter/main.go
Labels: on-merge-train

#2491 maint(ct): clean up L2StdBridge tests
  packages/contracts/test/contracts/L2/messaging/L2StandardBridge.spec.ts
Labels: M-contracts, 2-reviewers, on-merge-train

#2495 l2geth: fix log.Crit usage
  .changeset/three-eggs-approve.md
  l2geth/rollup/sync_service.go
Labels: 2-reviewers, M-l2geth, C-Protocol-Critical, on-merge-train

#2494 maint(ct): clean up GPO tests
  packages/contracts/test/contracts/L2/predeploys/OVM_GasPriceOracle.spec.ts
Labels: M-contracts, 2-reviewers, on-merge-train

#2497 l2geth: Record rollup transaction metrics
  .changeset/tidy-oranges-float.md
  l2geth/miner/worker.go
Labels: 2-reviewers, M-l2geth, C-Protocol-Critical, on-merge-train

#2499 maint(ct): clean up SCC tests
  packages/contracts/test/contracts/L1/rollup/StateCommitmentChain.spec.ts
Labels: M-contracts, 2-reviewers, on-merge-train

#2502 proxyd: Reduce RPC request logging
  .changeset/flat-goats-itch.md
  go/proxyd/server.go
Labels: on-merge-train

#2506 Develop -> Master
  .changeset/blue-olives-add.md
  .changeset/cuddly-rings-reply.md
  .changeset/flat-goats-itch.md
  .changeset/funny-zebras-glow.md
  .changeset/long-ties-boil.md
  .changeset/rude-mayflies-shout.md
  .changeset/stupid-apples-glow.md
  .changeset/three-eggs-approve.md
  .changeset/tidy-oranges-float.md
  .changeset/tidy-swans-yell.md
  .changeset/tiny-rules-report.md
  .changeset/yellow-pandas-help.md
  go/indexer/CHANGELOG.md
  go/indexer/package.json
  go/l2geth-exporter/CHANGELOG.md
  go/l2geth-exporter/package.json
  go/proxyd/CHANGELOG.md
  go/proxyd/package.json
  go/teleportr/CHANGELOG.md
  go/teleportr/package.json
  integration-tests/CHANGELOG.md
  integration-tests/package.json
  l2geth/CHANGELOG.md
  l2geth/package.json
  packages/message-relayer/CHANGELOG.md
  packages/message-relayer/package.json
  packages/replica-healthcheck/CHANGELOG.md
  packages/replica-healthcheck/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Labels: 2-reviewers, M-l2geth, M-integration, M-sdk, on-merge-train

#2501 cleanup: removed outdated section of primary package.json #2280
  package.json
Labels: on-merge-train

#2381 tasks: compute calldata cost diff in `fetch-batches`
  .changeset/tasty-adults-explode.md
  packages/contracts/tasks/fetch-batches.ts
  packages/core-utils/src/optimism/fees.ts
  packages/core-utils/test/fees.spec.ts
Labels: M-core-utils, M-contracts, 2-reviewers

#2503 maint(ct): cleanup AddressDictator, ChugSplashDicator and WETH9 tests
  packages/contracts/test/contracts/L1/deployment/AddressDictator.spec.ts
  packages/contracts/test/contracts/L1/deployment/ChugSplashDictator.spec.ts
  packages/contracts/test/contracts/L2/predeploys/WETH9.spec.ts
Labels: M-contracts, 2-reviewers, on-merge-train

#2476 contracts: Deploy Teleportr to mainnet
  .changeset/seven-poets-search.md
  packages/contracts/deployments/mainnet/README.md
  packages/contracts/deployments/mainnet/TeleportrDeposit.json
  packages/contracts/deployments/mainnet/solcInputs/ad04ab9565e42a9370aa7f055041028d.json
  packages/contracts/deployments/mainnet/solcInputs/f20d616c1af6713a0e8ca9fae9d7bae7.json
  packages/contracts/deployments/optimism-mainnet/.chainId
  packages/contracts/deployments/optimism-mainnet/TeleportrDisburser.json
  packages/contracts/deployments/optimism-mainnet/solcInputs/ad04ab9565e42a9370aa7f055041028d.json
  packages/contracts/deployments/optimism-mainnet/solcInputs/f20d616c1af6713a0e8ca9fae9d7bae7.json
  packages/contracts/hardhat.config.ts
  packages/contracts/package.json
  yarn.lock
Labels: M-contracts, 2-reviewers, on-merge-train

#2509 feat(cu): add util for getting chain ID
  .changeset/warm-points-enjoy.md
  packages/core-utils/src/external/ethers/index.ts
  packages/core-utils/src/external/ethers/network.ts
Labels: M-core-utils, on-merge-train
