Repository ethereum-optimism/optimism, pull requests merged in 2022-05, with the labels that each got.

#2512 maint(ct): clean up TeleportrDisburser tests
  packages/contracts/test/contracts/L2/teleportr/TeleportrDisburser.spec.ts
Labels: M-contracts, 2-reviewers, on-merge-train

#2516 cleanup: Remove setProxyTarget function
  packages/contracts/test/contracts/L1/messaging/L1CrossDomainMessenger.spec.ts
  packages/contracts/test/contracts/L1/rollup/CanonicalTransactionChain.gas.spec.ts
  packages/contracts/test/contracts/L1/rollup/CanonicalTransactionChain.spec.ts
  packages/contracts/test/contracts/L1/rollup/StateCommitmentChain.spec.ts
  packages/contracts/test/helpers/index.ts
  packages/contracts/test/helpers/resolver/address-manager.ts
  packages/contracts/test/helpers/resolver/index.ts
Labels: M-contracts, 2-reviewers, on-merge-train

#2390 l2geth: fix `eth_getBlockRange`
  .changeset/fast-actors-allow.md
  l2geth/internal/ethapi/api.go
Labels: 2-reviewers, M-l2geth, C-Protocol-Critical, on-merge-train

#2517 integration-tests: Fix various actor tests
  .changeset/twelve-suits-camp.md
  integration-tests/actor-tests/README.md
  integration-tests/actor-tests/deposits.test.ts
  integration-tests/actor-tests/nft.test.ts
  integration-tests/actor-tests/sends.test.ts
  integration-tests/actor-tests/state-dos.test.ts
  integration-tests/actor-tests/uniswap.test.ts
Labels: M-integration, on-merge-train

#2531 Develop -> Master
  .changeset/gentle-singers-sin.md
  integration-tests/CHANGELOG.md
  integration-tests/package.json
Labels: M-integration

#2480 go/proxyd: Proxy requests using batch JSON-RPC
  go/proxyd/backend.go
  go/proxyd/config.go
  go/proxyd/integration_tests/batch_timeout_test.go
  go/proxyd/integration_tests/batching_test.go
  go/proxyd/integration_tests/caching_test.go
  go/proxyd/integration_tests/failover_test.go
  go/proxyd/integration_tests/max_rpc_conns_test.go
  go/proxyd/integration_tests/mock_backend_test.go
  go/proxyd/integration_tests/rate_limit_test.go
  go/proxyd/integration_tests/testdata/batch_timeout.toml
  go/proxyd/integration_tests/testdata/batching.toml
  go/proxyd/integration_tests/util_test.go
  go/proxyd/integration_tests/validation_test.go
  go/proxyd/metrics.go
  go/proxyd/proxyd.go
  go/proxyd/server.go
Labels: on-merge-train

#2522 maint(ct): remove Helper_SimpleProxy contract
  packages/contracts/contracts/test-helpers/Helper_SimpleProxy.sol
  packages/contracts/test/contracts/L1/messaging/L1CrossDomainMessenger.spec.ts
  packages/contracts/test/contracts/L2/messaging/L2CrossDomainMessenger.spec.ts
Labels: M-contracts, 2-reviewers, C-Protocol-Critical, on-merge-train

#2513 maint(ct): clean up library tests
  packages/contracts/test/contracts/libraries/codec/Lib_OVMCodec.spec.ts
  packages/contracts/test/contracts/libraries/rlp/Lib_RLPReader.spec.ts
  packages/contracts/test/contracts/libraries/rlp/Lib_RLPWriter.spec.ts
  packages/contracts/test/contracts/libraries/standards/AddressAliasHelper.spec.ts
  packages/contracts/test/contracts/libraries/trie/Lib_MerkleTrie.spec.ts
  packages/contracts/test/contracts/libraries/trie/Lib_SecureMerkleTrie.spec.ts
  packages/contracts/test/contracts/libraries/utils/Lib_Buffer.spec.ts
  packages/contracts/test/contracts/libraries/utils/Lib_Bytes32Utils.spec.ts
  packages/contracts/test/contracts/libraries/utils/Lib_BytesUtils.spec.ts
  packages/contracts/test/contracts/libraries/utils/Lib_MerkleTree.spec.ts
Labels: M-contracts, 2-reviewers, on-merge-train

#2535 Replace getNetwork() calls with getChainId() utility
  .changeset/thirty-garlics-know.md
  integration-tests/tasks/check-block-hashes.ts
  integration-tests/test/rpc.spec.ts
  packages/contracts/src/deploy-utils.ts
  packages/data-transport-layer/src/services/l2-ingestion/service.ts
  packages/message-relayer/src/service.ts
Labels: M-dtl, M-contracts, 2-reviewers, M-integration, C-Protocol-Critical, on-merge-train

#2541 feat: correct conf_remaining calculation
  .changeset/hungry-turkeys-repeat.md
  package.json
  teleportr/api/server.go
Labels: on-merge-train

#2544 proxyd: Add changeset for release
  .changeset/strange-falcons-punch.md
Labels: on-merge-train

#2546 Develop -> Master
  .changeset/hungry-turkeys-repeat.md
  .changeset/strange-falcons-punch.md
  .changeset/thirty-garlics-know.md
  integration-tests/CHANGELOG.md
  integration-tests/package.json
  packages/contracts/CHANGELOG.md
  packages/contracts/package.json
  packages/data-transport-layer/CHANGELOG.md
  packages/data-transport-layer/package.json
  packages/message-relayer/CHANGELOG.md
  packages/message-relayer/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
  proxyd/CHANGELOG.md
  proxyd/package.json
  teleportr/CHANGELOG.md
  teleportr/package.json
Labels: M-dtl, M-contracts, 2-reviewers, M-integration, M-sdk

#2547 Inomurko/fix openapi spec for dtl
  packages/data-transport-layer/openapi.yml
Labels: M-dtl, 2-reviewers, on-merge-train

#2519 refactor: Remove unused network name param from contract deploy configs
  .changeset/swift-flies-care.md
  packages/contracts/deploy-config/goerli-nightly.ts
  packages/contracts/deploy-config/goerli.ts
  packages/contracts/deploy-config/kovan.ts
  packages/contracts/deploy-config/local.ts
  packages/contracts/deploy-config/mainnet.ts
  packages/contracts/src/deploy-config.ts
Labels: M-contracts, 2-reviewers, on-merge-train

#2548 fix: correct FailedDatabase counter for upsert_disbursement, expose api-server metrics
  .changeset/lucky-buckets-crash.md
  .changeset/shiny-bugs-scream.md
  teleportr/api/server.go
  teleportr/drivers/disburser/driver.go
  teleportr/flags/api_flags.go
Labels: on-merge-train

#2533 ci: Fix nightly integration-test image name
  .circleci/config.yml
Labels: on-merge-train

#2549 feat: introduce fault-detector package
  .changeset/green-kangaroos-beam.md
  .circleci/config.yml
  .github/labeler.yml
  .github/workflows/publish-canary.yml
  .github/workflows/release.yml
  .vscode/settings.json
  README.md
  ops/docker-compose.yml
  ops/docker/Dockerfile.packages
  ops/scripts/build-ci.sh
  ops/scripts/detector.sh
  packages/fault-detector/.env.example
  packages/fault-detector/.eslintrc.js
  packages/fault-detector/.gitignore
  packages/fault-detector/.lintstagedrc.yml
  packages/fault-detector/.prettierrc.js
  packages/fault-detector/LICENSE
  packages/fault-detector/README.md
  packages/fault-detector/package.json
  packages/fault-detector/src/index.ts
  packages/fault-detector/src/service.ts
  packages/fault-detector/tsconfig.build.json
  packages/fault-detector/tsconfig.json
Labels: M-ops, 2-reviewers, on-merge-train

#2551 Add disburser wallet balance to teleportr
  .changeset/brown-spies-unite.md
  teleportr/api/server.go
  teleportr/flags/api_flags.go
Labels: on-merge-train

#2552 Develop -> Master
  .changeset/brown-spies-unite.md
  .changeset/green-kangaroos-beam.md
  .changeset/lucky-buckets-crash.md
  .changeset/shiny-bugs-scream.md
  .changeset/swift-flies-care.md
  .circleci/config.yml
  .github/labeler.yml
  .github/workflows/publish-canary.yml
  .github/workflows/release.yml
  .vscode/settings.json
  README.md
  ops/docker-compose.yml
  ops/docker/Dockerfile.packages
  ops/scripts/build-ci.sh
  ops/scripts/detector.sh
  packages/contracts/deploy-config/goerli-nightly.ts
  packages/contracts/deploy-config/goerli.ts
  packages/contracts/deploy-config/kovan.ts
  packages/contracts/deploy-config/local.ts
  packages/contracts/deploy-config/mainnet.ts
  packages/contracts/src/deploy-config.ts
  packages/data-transport-layer/openapi.yml
  packages/fault-detector/.env.example
  packages/fault-detector/.eslintrc.js
  packages/fault-detector/.gitignore
  packages/fault-detector/.lintstagedrc.yml
  packages/fault-detector/.prettierrc.js
  packages/fault-detector/LICENSE
  packages/fault-detector/README.md
  packages/fault-detector/package.json
  packages/fault-detector/src/index.ts
  packages/fault-detector/src/service.ts
  packages/fault-detector/tsconfig.build.json
  packages/fault-detector/tsconfig.json
  teleportr/api/server.go
  teleportr/drivers/disburser/driver.go
  teleportr/flags/api_flags.go
Labels: M-dtl, M-ops, M-contracts, 2-reviewers

#2554 Develop -> Master
  .changeset/brown-spies-unite.md
  .changeset/green-kangaroos-beam.md
  .changeset/lucky-buckets-crash.md
  .changeset/shiny-bugs-scream.md
  .changeset/swift-flies-care.md
  integration-tests/package.json
  packages/contracts/CHANGELOG.md
  packages/contracts/package.json
  packages/data-transport-layer/CHANGELOG.md
  packages/data-transport-layer/package.json
  packages/fault-detector/CHANGELOG.md
  packages/fault-detector/package.json
  packages/message-relayer/CHANGELOG.md
  packages/message-relayer/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
  teleportr/CHANGELOG.md
  teleportr/package.json
Labels: M-dtl, M-contracts, 2-reviewers, M-integration, M-sdk

#2556 fix(sdk): bug causing error when no tx nonce given
  .changeset/smart-readers-remember.md
  packages/sdk/src/l2-provider.ts
Labels: M-sdk, on-merge-train

#2557 feat: add MaxPlaintextBatchSize parameter
  .changeset/sweet-trains-hunt.md
  batch-submitter/batch_submitter.go
  batch-submitter/config.go
  batch-submitter/drivers/sequencer/driver.go
  batch-submitter/flags/flags.go
  ops/envs/batch-submitter.env
Labels: M-ops, 2-reviewers, on-merge-train

#2558 Develop -> Master
  .changeset/smart-readers-remember.md
  .changeset/sweet-trains-hunt.md
  batch-submitter/batch_submitter.go
  batch-submitter/config.go
  batch-submitter/drivers/sequencer/driver.go
  batch-submitter/flags/flags.go
  ops/envs/batch-submitter.env
  packages/sdk/src/l2-provider.ts
Labels: M-ops, 2-reviewers, M-sdk

#2523 maint(ct): simplify test helpers
  packages/contracts/contracts/test-helpers/FailingReceiver.sol
  packages/contracts/contracts/test-helpers/TestERC20.sol
Labels: M-contracts, 2-reviewers, C-Protocol-Critical, on-merge-train

#2536 feat: add new contracts-periphery package
  .changeset/few-cameras-march.md
  .circleci/config.yml
  .github/labeler.yml
  .gitignore
  .vscode/settings.json
  README.md
  ops/docker/Dockerfile.packages
  packages/contracts-periphery/.depcheckrc
  packages/contracts-periphery/.env.example
  packages/contracts-periphery/.eslintrc.js
  packages/contracts-periphery/.gitattributes
  packages/contracts-periphery/.gitignore
  packages/contracts-periphery/.lintstagedrc.yml
  packages/contracts-periphery/.prettierignore
  packages/contracts-periphery/.prettierrc.js
  packages/contracts-periphery/.solcover.js
  packages/contracts-periphery/.solhint.json
  packages/contracts-periphery/.solhintignore
  packages/contracts-periphery/LICENSE
  packages/contracts-periphery/README.md
  packages/contracts-periphery/codechecks.yml
  packages/contracts-periphery/contracts/testing/helpers/TestERC20.sol
  packages/contracts-periphery/contracts/testing/helpers/TestERC721.sol
  packages/contracts-periphery/contracts/universal/RetroReceiver.sol
  packages/contracts-periphery/hardhat.config.ts
  packages/contracts-periphery/package.json
  packages/contracts-periphery/slither.config.json
  packages/contracts-periphery/tasks/deploy-receiver.ts
  packages/contracts-periphery/tasks/index.ts
  packages/contracts-periphery/test/contracts/universal/RetroReceiver.spec.ts
  packages/contracts-periphery/test/helpers/deploy.ts
  packages/contracts-periphery/test/helpers/index.ts
  packages/contracts-periphery/test/setup.ts
  packages/contracts-periphery/tsconfig.build.json
  packages/contracts-periphery/tsconfig.json
  yarn.lock
Labels: M-ops, 2-reviewers, on-merge-train

#2567 contracts: fix `L2CrossDomainMessenger` api
  contracts-bedrock/.gas-snapshot
  contracts-bedrock/contracts/L2/L2CrossDomainMessenger.sol
Labels: on-merge-train

#2571 op-bindings: bedrock go bindings
  .circleci/config.yml
  .gitignore
  Makefile
  README.md
  go.work
  go.work.sum
  op-batcher/go.mod
  op-bindings/Makefile
  op-bindings/deposit/deposit_feed_raw.go
  op-bindings/deposit/optimism_portal_deployed.go
  op-bindings/doc.go
  op-bindings/go.mod
  op-bindings/go.sum
  op-bindings/l1block/l1_block_info_deployed.go
  op-bindings/l1block/l1_block_info_raw.go
  op-bindings/l2oo/l2_output_oracle.go
  op-bindings/withdrawer/withdrawer_deployed.go
  op-bindings/withdrawer/withdrawer_raw.go
  op-e2e/go.mod
  op-e2e/setup.go
  op-e2e/system_test.go
  op-node/go.mod
  op-node/rollup/derive/fuzz_parsers_test.go
  op-node/withdrawals/utils.go
  op-proposer/Makefile
  op-proposer/drivers/l2output/driver.go
  op-proposer/go.mod
  ops-bedrock/Dockerfile.batcher
  ops-bedrock/Dockerfile.l1
  ops-bedrock/Dockerfile.node
  ops-bedrock/Dockerfile.proposer
  ops-bedrock/Dockerfile.stateviz
Labels: on-merge-train

#2572 ci: Add abigen to go builder
  .changeset/five-pets-speak.md
  .changeset/itchy-walls-kneel.md
  ops/docker/go-builder/Dockerfile
  ops/docker/js-builder/Dockerfile
Labels: M-ops, 2-reviewers, on-merge-train

#2576 contracts: Add setL1BlockValues gas test
  contracts-bedrock/.gas-snapshot
  contracts-bedrock/contracts/test/L1Block.t.sol
Labels: on-merge-train

#2574 integration-tests: Override the default bridge adapters
  .changeset/giant-eels-fold.md
  integration-tests/actor-tests/deposits.test.ts
  integration-tests/test/shared/env.ts
  integration-tests/test/shared/utils.ts
Labels: M-integration, on-merge-train

#2566 contracts: add `GasPriceOracle` contract
  contracts-bedrock/.gas-snapshot
  contracts-bedrock/contracts/L2/GasPriceOracle.sol
  contracts-bedrock/contracts/test/GasPriceOracle.t.sol
Labels: on-merge-train

#2587 bedrock: op node testnet fixes
  op-node/flags/p2p_flags.go
  op-node/rollup/types.go
Labels: on-merge-train

#2592 doc: fix OP logo on README.md
  README.md
Labels: on-merge-train

#2586 Fix specs title typo
  specs/exec-engine.md
Labels: on-merge-train

#2584 feat(ops-bedrock): fix devnet setup
  Makefile
  ops-bedrock/devnet-up.sh
Labels: on-merge-train

#2550 Fix: make build for Apple Silicon
  ops/docker/Dockerfile.packages
Labels: M-ops, 2-reviewers, on-merge-train

#2599 bindings: Notify users if builds deps are not found
  op-bindings/gen_bindings.sh
  op-bindings/gen_deployed_bytecode.sh
Labels: on-merge-train

#2602 Update go.work.sum
  go.work.sum
Labels: on-merge-train

#2603 make: Add go mod tidy command
  Makefile
Labels: on-merge-train

#2616 fix: update ethers deps
  .changeset/quick-ties-ring.md
  contracts-bedrock/helpers/utils.ts
  contracts-bedrock/package.json
  contracts-bedrock/yarn.lock
  integration-tests/package.json
  ops/docker/hardhat/package.json
  package.json
  packages/common-ts/package.json
  packages/contracts-periphery/package.json
  packages/contracts/.depcheckrc
  packages/contracts/docs/FailingReceiver.md
  packages/contracts/hardhat.config.ts
  packages/contracts/package.json
  packages/contracts/test/contracts/L1/rollup/CanonicalTransactionChain.spec.ts
  packages/core-utils/package.json
  packages/core-utils/src/common/hex-strings.ts
  packages/core-utils/src/external/ethers/fallback-provider.ts
  packages/data-transport-layer/package.json
  packages/fault-detector/package.json
  packages/integration-tests-bedrock/package.json
  packages/integration-tests-bedrock/yarn.lock
  packages/message-relayer/package.json
  packages/replica-healthcheck/package.json
  packages/sdk/package.json
  yarn.lock
Labels: M-core-utils, M-dtl, M-ops, M-contracts, 2-reviewers, M-integration, M-sdk, M-contracts-periphery

#2620 fix(cmn): legacy metrics binds to 0.0.0.0
  .changeset/cyan-ravens-swim.md
  packages/common-ts/src/common/metrics.ts
Labels: on-merge-train

#2621 Use ticker instead of time.After in select loop
  op-e2e/geth.go
  op-proposer/service.go
  op-proposer/txmgr/txmgr.go
Labels: on-merge-train

#2625 docker: bump go/js builder images
  .changeset/curvy-bottles-join.md
Labels: on-merge-train

#2623 fix(itb): bump internal deps
  .changeset/empty-clouds-wave.md
  packages/integration-tests-bedrock/package.json
Labels: on-merge-train
