Repository ethereum-optimism/optimism, pull requests merged in 2023-03, with the labels that each got.

#5016 Fix: Install correct node version before yarn install
  CONTRIBUTING.md
Labels: on-merge-train

#5000 fix(ops): Fix wd-mon name in Dockerfile.packages
  .github/workflows/publish-canary.yml
  .github/workflows/release.yml
  ops/docker/Dockerfile.packages
Labels: on-merge-train

#5006 feat(ctb): Do not allow the `CHALLENGER` to delete finalized outputs
  .changeset/orange-seas-tie.md
  op-bindings/bindings/l2outputoracle.go
  op-bindings/bindings/optimismportal.go
  op-bindings/bindings/optimismportal_more.go
  op-chain-ops/cmd/withdrawals/main.go
  op-chain-ops/genesis/layer_one.go
  op-e2e/actions/user.go
  op-node/withdrawals/utils.go
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/L1/L2OutputOracle.sol
  packages/contracts-bedrock/contracts/L1/OptimismPortal.sol
  packages/contracts-bedrock/contracts/echidna/FuzzOptimismPortal.sol
  packages/contracts-bedrock/contracts/test/BenchmarkTest.t.sol
  packages/contracts-bedrock/contracts/test/CommonTest.t.sol
  packages/contracts-bedrock/contracts/test/L2OutputOracle.t.sol
  packages/contracts-bedrock/contracts/test/OptimismPortal.t.sol
  packages/contracts-bedrock/contracts/test/invariants/OptimismPortal.t.sol
  packages/contracts-bedrock/deploy/012-L2OutputOracleImpl.ts
  packages/contracts-bedrock/deploy/013-OptimismPortalImpl.ts
  packages/contracts-bedrock/invariant-docs/OptimismPortal.md
  packages/sdk/src/cross-chain-messenger.ts
Labels: sdk

#5020 op-node/p2p: Fix flaky TestDiscovery
  go.mod
  op-node/p2p/host_test.go
Labels: on-merge-train

#4986 feat(atst): Add documentation for the attestation station sdk
  packages/atst/README.md
  packages/atst/docs/sdk.md
Labels: on-merge-train

#5033 ops-bedrock: Update geth and op-geth used in local devnet
  ops-bedrock/Dockerfile.l1
  ops-bedrock/Dockerfile.l2
  ops-bedrock/docker-compose.yml
  ops-bedrock/entrypoint.sh
Labels: on-merge-train

#5010 op-node/chaincfg: Schedule Regolith for Optimism Goerli at 1679079600
  go.mod
  go.sum
  indexer/go.mod
  op-node/chaincfg/chains.go
Labels: on-merge-train, indexer

#4907 op-batcher: Unit test L2 Reorg Handling
  op-batcher/batcher/channel_manager_test.go
Labels: on-merge-train

#5043 feat(atst): rename createValue createKey
  .changeset/slimy-mangos-brake.md
  packages/atst/README.md
  packages/atst/docs/sdk.md
  packages/atst/src/index.ts
  packages/atst/src/lib/createKey.spec.ts
  packages/atst/src/lib/createKey.ts
  packages/atst/src/lib/createValue.spec.ts
  packages/atst/src/lib/createValue.ts
  packages/atst/src/lib/encodeRawKey.ts
  packages/atst/src/lib/getEvents.ts
  packages/atst/src/lib/parseAttestationBytes.ts
  packages/atst/src/lib/prepareWriteAttestation.ts
  packages/atst/src/lib/prepareWriteAttestations.ts
Labels: on-merge-train

#5042 fix(atst): Allow failures removal
  .changeset/fluffy-geese-yell.md
  packages/atst/docs/sdk.md
  packages/atst/src/lib/readAttestations.ts
  packages/atst/src/types/AttestationReadParams.ts
Labels: on-merge-train

#5038 fix(atst): Fix help text
  packages/atst/src/cli.ts
Labels: on-merge-train

#5037 Fix typo
  op-e2e/actions/blocktime_test.go
Labels: on-merge-train

#5036 feat(atst): Add a gif of the cli to the readme
  packages/atst/README.md
  packages/atst/assets/README.md
  packages/atst/assets/preview.gif
  packages/atst/assets/preview.tape
  packages/atst/docs/cli.md
Labels: on-merge-train

#5052 [op-signer] Populate from address in TransactionArgs
  op-service/crypto/signature.go
  op-signer/client/client.go
  op-signer/client/transaction_args.go
Labels: on-merge-train

#5056 op-node/p2p: Extend time out for discovery test
  op-node/p2p/host_test.go
Labels: on-merge-train

#5057 op-node: Set timeouts on http servers
  op-node/cmd/stateviz/main.go
  op-node/http/http.go
  op-node/metrics/metrics.go
  op-node/node/server.go
Labels: on-merge-train

#5060 feat(ctb): Test for memory safety of `Bytes.slice`
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/test/Bytes.t.sol
Labels: on-merge-train

#5061 op-node: fix and test finalization of sparse batches
  op-e2e/actions/l1_replica.go
  op-e2e/actions/l2_batcher_test.go
  op-node/rollup/derive/engine_queue.go
Labels: on-merge-train

#5067 INF-89 adds chain-mon docker builds to circleci
  .circleci/config.yml
Labels: on-merge-train

#5058 op-chain-ops: Migration fixes
  op-chain-ops/cmd/op-migrate/main.go
  op-chain-ops/cmd/withdrawals/main.go
  op-chain-ops/crossdomain/legacy.go
  op-chain-ops/crossdomain/params.go
  op-chain-ops/crossdomain/precheck.go
  op-chain-ops/crossdomain/precheck_test.go
  op-chain-ops/crossdomain/testdata/witness.txt
  op-chain-ops/crossdomain/types.go
  op-chain-ops/crossdomain/types_test.go
  op-chain-ops/crossdomain/witness.go
  op-chain-ops/crossdomain/witness_test.go
  op-chain-ops/ether/addresses.go
  op-chain-ops/ether/migrate.go
  op-chain-ops/ether/precheck.go
  op-chain-ops/genesis/check.go
  op-chain-ops/genesis/db_migration.go
  op-chain-ops/genesis/migration_action/action.go
  op-chain-ops/util/util.go
Labels: on-merge-train

#5017 fix(ctb): `finalizeWithdrawalTransaction` gas limit dos (v2)
  op-bindings/bindings/optimismportal.go
  op-bindings/bindings/optimismportal_more.go
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/L1/OptimismPortal.sol
  packages/contracts-bedrock/contracts/libraries/SafeCall.sol
  packages/contracts-bedrock/contracts/test/OptimismPortal.t.sol
  packages/contracts-bedrock/contracts/test/SafeCall.t.sol
  packages/contracts-bedrock/contracts/test/invariants/SafeCall.t.sol
  packages/contracts-bedrock/invariant-docs/README.md
  packages/contracts-bedrock/invariant-docs/SafeCall.md
Labels: on-merge-train, sdk

#5066 op-node: remove unused function
  op-node/rollup/derive/engine_queue.go
Labels: on-merge-train

#5080 contracts-bedrock: fix deploy utils
  packages/contracts-bedrock/src/deploy-utils.ts
Labels: on-merge-train

#5029 docs(ctb): Document use of OZ as a default when available
  packages/contracts-bedrock/README.md
Labels: on-merge-train

#5062 devnet: Enable Regolith from genesis when deploying the local devnet
  go.mod
  go.sum
  indexer/go.mod
  op-e2e/op_geth_test.go
  ops-bedrock/Dockerfile.l2
  packages/contracts-bedrock/deploy-config/devnetL1.json
Labels: indexer

#5072 feat(atst): Use createKey internally in function
  .changeset/flat-adults-hope.md
  packages/atst/src/lib/createValue.spec.ts
  packages/atst/src/lib/getEvents.spec.ts
  packages/atst/src/lib/prepareWriteAttestation.spec.ts
  packages/atst/src/lib/prepareWriteAttestation.ts
  packages/atst/src/lib/prepareWriteAttestations.spec.ts
  packages/atst/src/lib/readAttestation.spec.ts
  packages/atst/src/lib/readAttestations.ts
Labels: on-merge-train

#5086 op-service: Set root & oprpc loggers
  op-batcher/batcher/batch_submitter.go
  op-proposer/proposer/l2_output_submitter.go
  op-service/log/cli.go
Labels: on-merge-train

#5071 adds wd-mon docker target to chain-mon build
  .circleci/config.yml
Labels: on-merge-train

#5073 feat(atst): Updated SDK docs
  packages/atst/docs/cli.md
  packages/atst/docs/sdk.md
Labels: on-merge-train

#5088 fix(fd): use correct fn for getTotalElements
  .changeset/three-apes-study.md
  packages/fault-detector/src/service.ts
Labels: on-merge-train

#5087 op-wheel: update OVM owners cheat-code for migration testing
  op-wheel/cheat/cheat.go
Labels: on-merge-train

#5093 op-e2e: Run CI in parallel
  .circleci/config.yml
  op-e2e/system_tob_test.go
Labels: on-merge-train

#5068 fix(atst): Fix module and main in package.json
  .changeset/quiet-crews-leave.md
  packages/atst/package.json
Labels: on-merge-train

#4911 migration: update migrated withdrawal gas limit
  .changeset/poor-buses-hug.md
  op-chain-ops/crossdomain/migrate.go
  op-chain-ops/crossdomain/migrate_test.go
  packages/sdk/src/cross-chain-messenger.ts
  packages/sdk/src/utils/message-utils.ts
  packages/sdk/test/utils/message-utils.spec.ts
Labels: sdk

#5069 batch_decoder: Reassemble Channels
  op-node/cmd/batch_decoder/README.md
  op-node/cmd/batch_decoder/fetch/fetch.go
  op-node/cmd/batch_decoder/main.go
  op-node/cmd/batch_decoder/reassemble/reassemble.go
Labels: on-merge-train

#5054 op-node: remove unused AddSafeAttributes function
  op-node/rollup/derive/engine_queue.go
  op-node/rollup/derive/pipeline.go
Labels: on-merge-train

#5116 fix(spec): use correct to field for contract creation deposits
  specs/deposits.md
Labels: on-merge-train

#5078 feat(ctb): Print tenderly simulation URLs during deployment
  .changeset/wicked-ads-pump.md
  packages/contracts-bedrock/.env.example
  packages/contracts-bedrock/deploy/020-SystemDictatorSteps-1.ts
  packages/contracts-bedrock/deploy/021-SystemDictatorSteps-2.ts
  packages/contracts-bedrock/src/deploy-utils.ts
Labels: on-merge-train

#5117 Enable Regolith in getting-started network
  packages/contracts-bedrock/deploy-config/getting-started.json
Labels: on-merge-train

#5106 op-chain-ops: Improve OVM_ETH migration, remove invalid check slots
  op-chain-ops/ether/cli.go
  op-chain-ops/ether/migrate.go
  op-chain-ops/ether/migrate_test.go
  op-chain-ops/ether/precheck.go
  op-chain-ops/genesis/check.go
  op-chain-ops/genesis/db_migration.go
Labels: on-merge-train

#4901 Directly test bedrock v0 encoding and hashing against legacy implementations
  packages/contracts-bedrock/contracts/libraries/LegacyCrossDomainUtils.sol
  packages/contracts-bedrock/contracts/test/Encoding.t.sol
  packages/contracts-bedrock/contracts/test/Hashing.t.sol
Labels: on-merge-train

#5119 fix(op-e2e): Flaky Peering Score Test
  op-e2e/system_test.go
Labels: on-merge-train

#5111 specs: specify fees, fee-vaults, and include L1-cost function detail of Regolith
  specs/derivation.md
  specs/exec-engine.md
  specs/network-upgrades.md
Labels: on-merge-train

#5065 op-node: when confirm payload failed should cancel it
  op-node/rollup/derive/engine_queue.go
Labels: on-merge-train

#5126 fix(cmn): BaseServiceV2 throws on camelCase options
  .changeset/long-frogs-study.md
  packages/common-ts/src/base-service/base-service-v2.ts
  packages/common-ts/test/service-spec.ts
Labels: common-ts

#5127 docs: Do changeset for docs change
  .changeset/metal-apes-taste.md
Labels: on-merge-train

#5152 feat(op-batcher): Batcher Config Validation
  op-batcher/batcher/channel_builder.go
  op-batcher/batcher/channel_builder_test.go
  op-batcher/batcher/config.go
  op-batcher/batcher/driver.go
  op-e2e/system_test.go
Labels: on-merge-train

#5075 batch_decoder: Force close channels
  op-node/cmd/batch_decoder/README.md
  op-node/cmd/batch_decoder/main.go
  op-node/cmd/batch_decoder/reassemble/reassemble.go
  op-node/rollup/derive/channel_out.go
  op-node/rollup/derive/channel_out_test.go
Labels: on-merge-train

#5157 fix(docs): improve sidebar styling
  docs/op-stack/src/.vuepress/styles/index.styl
Labels: on-merge-train

#5123 feat(op-batcher): Channel Builder Unit Tests
  op-batcher/Makefile
  op-batcher/batcher/channel_builder.go
  op-batcher/batcher/channel_builder_test.go
  op-batcher/batcher/channel_config_test.go
Labels: on-merge-train

#5165 op-node: More logging
  op-node/flags/flags.go
  op-node/rollup/derive/batch_queue.go
  op-node/rollup/derive/channel_bank.go
Labels: on-merge-train

#5190 feat: portal guardian config
  op-chain-ops/genesis/config.go
  op-chain-ops/genesis/layer_one.go
  op-chain-ops/genesis/testdata/test-deploy-config-full.json
  packages/contracts-bedrock/contracts/L1/OptimismPortal.sol
  packages/contracts-bedrock/deploy-config/devnetL1.json
  packages/contracts-bedrock/deploy-config/final-migration-rehearsal.json
  packages/contracts-bedrock/deploy-config/getting-started.json
  packages/contracts-bedrock/deploy-config/goerli-forked.json
  packages/contracts-bedrock/deploy-config/goerli.json
  packages/contracts-bedrock/deploy-config/hardhat.json
  packages/contracts-bedrock/deploy-config/internal-devnet.json
  packages/contracts-bedrock/deploy/013-OptimismPortalImpl.ts
  packages/contracts-bedrock/src/deploy-config.ts
Labels: on-merge-train

#5104 op-e2e: bridge erc20 test
  op-e2e/bridge_test.go
Labels: on-merge-train

#5141 op-service/txmgr: Better handle price bumps
  op-service/txmgr/txmgr.go
  op-service/txmgr/txmgr_test.go
Labels: on-merge-train

#5192 feat(ctb): reduce the timeout on awaitCondition
  .changeset/clever-jokes-notice.md
  packages/contracts-bedrock/deploy/020-SystemDictatorSteps-1.ts
  packages/contracts-bedrock/deploy/021-SystemDictatorSteps-2.ts
Labels: on-merge-train

#5197 feat(ctb): Add negative test for token compliance in the `L2ERC721Bridge`
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/test/L2ERC721Bridge.t.sol
Labels: on-merge-train

#5198 op-chain-ops: Check and mutate DB in parallel during OVM_ETH migration
  op-chain-ops/ether/migrate.go
  op-chain-ops/ether/migrate_test.go
  op-chain-ops/ether/precheck.go
  op-chain-ops/genesis/check.go
  op-chain-ops/genesis/db_migration.go
Labels: on-merge-train

#5169 feat(docs/op-stack): @tremarkley 's autorefresh
  docs/op-stack/src/.vuepress/enhanceApp.js
Labels: on-merge-train

#5140 feat(docs/op-stack): Slightly simpler installation
  docs/op-stack/src/docs/build/getting-started.md
Labels: on-merge-train

#5209 Add how to use the SDK in OP Stack
  docs/op-stack/src/.vuepress/config.js
  docs/op-stack/src/docs/build/getting-started.md
  docs/op-stack/src/docs/build/sdk.md
Labels: on-merge-train

#5199 op-chain-ops: Improve OVM_ETH post check
  op-chain-ops/genesis/check.go
Labels: on-merge-train

#5211 op-chain-ops: Fix data race in error handling
  op-chain-ops/ether/migrate.go
  op-chain-ops/ether/migrate_test.go
Labels: on-merge-train

#5212 fix: fix flag name typo for MaxStateRootElements
  .changeset/sharp-islands-attend.md
  batch-submitter/config.go
  batch-submitter/drivers/proposer/driver.go
Labels: on-merge-train

#5187 fix(op-node): Fix Channel Out MaxSize Underflow
  op-batcher/batcher/channel_builder_test.go
  op-batcher/batcher/channel_manager_test.go
  op-node/rollup/derive/channel_out.go
  op-node/rollup/derive/channel_out_test.go
Labels: on-merge-train

#5208 fix(sdk): automatically create std/ETH bridges
  .changeset/cuddly-turkeys-burn.md
  packages/sdk/src/utils/contracts.ts
Labels: on-merge-train, sdk

#5206 feat(ctb): Add constructor to init the SD implementation
  .changeset/pink-chicken-hear.md
  packages/contracts-bedrock/contracts/deployment/SystemDictator.sol
Labels: on-merge-train

#5220 fix(ci): run tests for common-ts
  .circleci/config.yml
  packages/common-ts/.depcheckrc
  packages/common-ts/package.json
  packages/common-ts/test/metrics.spec.ts
  yarn.lock
Labels: on-merge-train, common-ts

#5210 feat(docs/op-stack): Add the getting in touch form
  docs/op-stack/src/.vuepress/theme/components/PageMeta.vue
Labels: on-merge-train

#5175 fix(docs/op-stack): In superchain-diag, 2->3
  docs/op-stack/src/assets/docs/understand/superchain-diag.png
Labels: on-merge-train

#5205 contracts: add a method for building legacy bindings
  op-bindings/legacy-bindings/CanonicalTransactionChain.go
  packages/contracts/package.json
  packages/contracts/scripts/legacy-bindings.sh
Labels: on-merge-train

#5227 chore(ctb): Bump `forge` & `forge-std`
  ops/docker/ci-builder/Dockerfile
  packages/contracts-bedrock/contracts/test/Bytes.t.sol
  packages/contracts-bedrock/package.json
  yarn.lock
Labels: on-merge-train

#5120 batch-submitter: allow deposit only batches
  .changeset/fresh-pots-move.md
  batch-submitter/drivers/sequencer/batch_test.go
  batch-submitter/drivers/sequencer/encoding.go
  batch-submitter/drivers/sequencer/testdata/valid_append_sequencer_batch_params.json
Labels: on-merge-train

#5179 op-node: generalize and improve alt-sync
  op-e2e/migration_test.go
  op-e2e/setup.go
  op-e2e/system_test.go
  op-node/flags/flags.go
  op-node/node/client.go
  op-node/node/config.go
  op-node/node/node.go
  op-node/rollup/derive/engine_queue.go
  op-node/rollup/derive/payloads_queue.go
  op-node/rollup/derive/payloads_queue_test.go
  op-node/rollup/driver/driver.go
  op-node/rollup/driver/state.go
  op-node/service.go
  op-node/sources/sync_client.go
Labels: on-merge-train

#5204 fix(op-node): Peer Scoring Metrics
  op-node/flags/p2p_flags.go
  op-node/metrics/metrics.go
  op-node/p2p/band_scorer_test.go
  op-node/p2p/cli/load_config.go
  op-node/p2p/config.go
  op-node/p2p/gossip.go
  op-node/p2p/mocks/ConnectionGater.go
  op-node/p2p/mocks/GossipMetricer.go
  op-node/p2p/mocks/PeerGater.go
  op-node/p2p/mocks/Peerstore.go
  op-node/p2p/peer_scorer.go
  op-node/p2p/peer_scorer_test.go
  op-node/p2p/peer_scores.go
  op-node/p2p/peer_scores_test.go
  op-node/p2p/prepared.go
  ops-bedrock/docker-compose.yml
Labels: on-merge-train

#5232 op-node: harden eth RPC block/header retrieval by checking parameters
  op-node/eth/label.go
  op-node/sources/eth_client.go
  op-node/sources/eth_client_test.go
Labels: on-merge-train

#5235 op-node: More logging in FindL2Heads
  op-node/rollup/sync/start.go
Labels: on-merge-train

#5237 feat(deploy-config/getting-started): `Clarify TIMESTAMP` is int
  docs/op-stack/src/docs/build/getting-started.md
  packages/contracts-bedrock/deploy-config/getting-started.json
Labels: on-merge-train

#5231 op-node: reset back to optimal receipt fetching methods
  op-node/sources/eth_client.go
  op-node/sources/l1_client.go
  op-node/sources/l2_client.go
  op-node/sources/receipts_test.go
Labels: on-merge-train

#5191 feat(op-service): Move Tx Creation to the txmgr
  op-batcher/batcher/config.go
  op-batcher/batcher/driver.go
  op-batcher/batcher/driver_test.go
  op-batcher/batcher/txmgr.go
  op-batcher/flags/flags.go
  op-e2e/actions/l2_proposer.go
  op-e2e/migration_test.go
  op-e2e/setup.go
  op-proposer/proposer/l2_output_submitter.go
  op-service/txmgr/mocks/TxManager.go
  op-service/txmgr/txmgr.go
  op-service/txmgr/txmgr_test.go
  ops-bedrock/docker-compose.yml
Labels: on-merge-train

#5234 op-node: Fix logging flags with incorrect prefix
  op-node/flags/flags.go
Labels: on-merge-train

#5243 batch_decoder: Add to readme
  op-node/cmd/batch_decoder/README.md
Labels: on-merge-train

#5219 feat(docs/op-stack): Errors related to starting and stopping the blockchain
  docs/op-stack/src/docs/build/getting-started.md
Labels: on-merge-train

#5241 fix(op-node): Peer Score Metrics - Band Resets
  op-node/p2p/peer_scorer.go
  op-node/p2p/peer_scorer_test.go
Labels: on-merge-train

#5245 feat(mon): create balance-mon service
  .changeset/ninety-schools-work.md
  .github/workflows/publish-canary.yml
  .github/workflows/release.yml
  ops/docker/Dockerfile.packages
  packages/chain-mon/.env.example
  packages/chain-mon/package.json
  packages/chain-mon/src/balance-mon/service.ts
  packages/chain-mon/src/index.ts
Labels: on-merge-train

#5230 op-node: implement RPC poll interval and rate-limit options and provide L1 RPC CLI options
  go.mod
  op-e2e/migration_test.go
  op-e2e/op_geth.go
  op-e2e/setup.go
  op-node/client/polling.go
  op-node/client/rate_limited.go
  op-node/client/rpc.go
  op-node/flags/flags.go
  op-node/node/client.go
  op-node/node/node.go
  op-node/node/server_test.go
  op-node/service.go
  op-service/backoff/operation.go
Labels: on-merge-train

#5240 fix(op-node): Redundant Peer Gater Logs
  op-node/p2p/mocks/ConnectionGater.go
  op-node/p2p/mocks/PeerGater.go
  op-node/p2p/peer_gater.go
  op-node/p2p/peer_gater_test.go
Labels: on-merge-train

#5261 fix(devnet): Updated the L2 address to 9545
  specs/meta/devnet.md
Labels: on-merge-train

#5269 fix(ci): error in release workflow file
  .github/workflows/release.yml
Labels: on-merge-train

#5258 txmgr: Initialize signer and more in the tx manager proper
  op-batcher/batcher/batch_submitter.go
  op-batcher/batcher/config.go
  op-batcher/batcher/driver.go
  op-batcher/batcher/driver_test.go
  op-batcher/flags/flags.go
  op-e2e/actions/l2_proposer.go
  op-e2e/migration_test.go
  op-e2e/setup.go
  op-proposer/flags/flags.go
  op-proposer/proposer/config.go
  op-proposer/proposer/l2_output_submitter.go
  op-service/txmgr/cli.go
  op-service/txmgr/mocks/TxManager.go
  op-service/txmgr/price_bump_test.go
  op-service/txmgr/txmgr.go
  op-service/txmgr/txmgr_test.go
Labels: on-merge-train

#5225 Update op-geth with upstream changes from v1.11.5
  go.mod
  go.sum
  op-chain-ops/genesis/check.go
  op-e2e/actions/l1_replica.go
  op-e2e/geth.go
  op-e2e/setup.go
Labels: on-merge-train, indexer

#5238 Clarify what `pause` / `unpause` means
  docs/op-stack/src/.vuepress/config.js
  docs/op-stack/src/docs/security/pause.md
Labels: on-merge-train

#5277 Use OptimismPortal.FINALIZATION_PERIOD_SECONDS if L2OutputOracle.version is '1.0.0'.
  packages/sdk/src/cross-chain-messenger.ts
Labels: on-merge-train, sdk

#5252 contracts-bedrock: fee vault withdrawal script
  packages/contracts-bedrock/README.md
  packages/contracts-bedrock/scripts/FeeVaultWithdrawal.s.sol
Labels: on-merge-train

#5283 txmgr: Configure timeouts better
  op-batcher/batcher/config.go
  op-batcher/batcher/driver.go
  op-e2e/actions/l2_proposer.go
  op-e2e/setup.go
  op-proposer/proposer/config.go
  op-proposer/proposer/l2_output_submitter.go
  op-proposer/proposer/utils.go
  op-service/txmgr/cli.go
  op-service/txmgr/txmgr.go
  op-service/txmgr/txmgr_test.go
Labels: on-merge-train

#5279 contracts-bedrock: delete dead SystemConfig code
  op-bindings/bindings/systemconfig.go
  op-bindings/bindings/systemconfig_more.go
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/L1/SystemConfig.sol
  packages/contracts-bedrock/contracts/test/SystemConfig.t.sol
  packages/contracts-bedrock/contracts/test/invariants/SystemConfig.t.sol
Labels: on-merge-train

#5281 sdk: fix linting
  packages/sdk/src/cross-chain-messenger.ts
Labels: sdk

#5288 contracts-bedrock: migrate deploy artifact
  packages/contracts-bedrock/deployments/goerli/L1ERC721BridgeProxy.json
Labels: on-merge-train

#5280 contracts-bedrock: deploy implementations to goerli
  packages/contracts-bedrock/deployments/goerli/L1CrossDomainMessenger.json
  packages/contracts-bedrock/deployments/goerli/L1ERC721Bridge.json
  packages/contracts-bedrock/deployments/goerli/L1StandardBridge.json
  packages/contracts-bedrock/deployments/goerli/L2OutputOracle.json
  packages/contracts-bedrock/deployments/goerli/OptimismMintableERC20Factory.json
  packages/contracts-bedrock/deployments/goerli/OptimismPortal.json
  packages/contracts-bedrock/deployments/goerli/SystemConfig.json
  packages/contracts-bedrock/deployments/goerli/solcInputs/1488cae0dec1a45bfa23bc28dafed7e1.json
  packages/contracts-bedrock/deployments/goerli/solcInputs/b86bd90311e4718458829d4a71bc5df9.json
Labels: on-merge-train

#5271 indexer: update to latest bedrock dependencies
  indexer/go.mod
  indexer/go.sum
Labels: indexer

#5265 feat(contracts-periphery): create OptimistInviter contract
  packages/contracts-periphery/contracts/foundry-tests/OptimistInviter.t.sol
  packages/contracts-periphery/contracts/testing/helpers/OptimistInviterHelper.sol
  packages/contracts-periphery/contracts/testing/helpers/TestERC1271Wallet.sol
  packages/contracts-periphery/contracts/universal/op-nft/OptimistInviter.sol
  packages/contracts-periphery/contracts/universal/op-nft/libraries/OptimistConstants.sol
Labels: on-merge-train

#5315 op-node: Include heads in L2 reorg log entry
  op-node/rollup/derive/engine_queue.go
Labels: on-merge-train

#5295 op-service/txmgr : add tx manager metrics
  op-batcher/batcher/driver.go
  op-batcher/metrics/metrics.go
  op-batcher/metrics/noop.go
  op-proposer/metrics/metrics.go
  op-proposer/metrics/noop.go
  op-proposer/proposer/l2_output_submitter.go
  op-service/txmgr/metrics/noop.go
  op-service/txmgr/metrics/tx_metrics.go
  op-service/txmgr/txmgr.go
  op-service/txmgr/txmgr_test.go
Labels: on-merge-train
