Repository ethereum-optimism/optimism, pull requests merged in 2023-11, with the labels that each got.

#7259 Update Span batch specs to allow overlapping batches
  specs/span-batches.md
Labels: M-docs

#7680 feat(indexer) API Observability for Bridge Supplies
  indexer/api-ts/generated.ts
  indexer/api/api.go
  indexer/api/api_test.go
  indexer/api/models/models.go
  indexer/api/routes/supply.go
  indexer/client/client.go
  indexer/database/bridge_transfers.go
  indexer/e2e_tests/bridge_transfers_e2e_test.go
  indexer/migrations/20230523_create_schema.sql
Labels: Stale

#8167 fix(ci): Bump `ci-builder` to `v0.29.0`
  .circleci/config.yml
  op-bindings/hardhat/types.go
Labels: M-do-not-merge

#8235 op-challenger: cleanup service lifecycle, improve subscription ctx usage
  op-batcher/batcher/service.go
  op-challenger/challenger.go
  op-challenger/challenger_test.go
  op-challenger/cmd/main.go
  op-challenger/cmd/main_test.go
  op-challenger/game/fault/responder/responder_test.go
  op-challenger/game/monitor.go
  op-challenger/game/monitor_test.go
  op-challenger/game/service.go
  op-challenger/metrics/metrics.go
  op-challenger/metrics/noop.go
  op-e2e/actions/l2_proposer.go
  op-e2e/e2eutils/challenger/helper.go
  op-node/node/node.go
  op-proposer/proposer/service.go
  op-service/eth/heads.go
  op-service/txmgr/mocks/TxManager.go
  op-service/txmgr/txmgr.go
  op-service/txmgr/txmgr_test.go
Labels: A-op-challenger

#8240 feat(ctb): Further modularization of post-deployment checks
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/scripts/ChainAssertions.sol
  packages/contracts-bedrock/scripts/Deploy.s.sol
  packages/contracts-bedrock/scripts/Deployer.sol
  packages/contracts-bedrock/test/Initializable.t.sol
Labels: A-pkg-contracts-bedrock

#7910 feat(op-service): Add CI for `rethdb-reader`
  .circleci/config.yml
  op-service/rethdb-reader/.gitignore
  op-service/rethdb-reader/Cargo.lock
  op-service/rethdb-reader/Cargo.toml
  op-service/rethdb-reader/Makefile
  op-service/rethdb-reader/README.md
  op-service/rethdb-reader/rustfmt.toml
  op-service/rethdb-reader/src/lib.rs
  op-service/rethdb-reader/src/receipts.rs
  op-service/rethdb-reader/testdata/block.rlp
  op-service/rethdb-reader/testdata/receipts.json
  op-service/sources/reth_db_test.go
Labels: M-ci, A-op-service
