Repository ethereum-optimism/optimism, pull requests merged in 2023-05, with the labels that each got.

#5469 feat: One branch changesets
  .changeset/config.json
  .github/workflows/release.yml
Labels: on-merge-train

#5549 op-program: Add server mode
  op-e2e/system_fpp_test.go
  op-program/host/cmd/main.go
  op-program/host/cmd/main_test.go
  op-program/host/config/config.go
  op-program/host/config/config_test.go
  op-program/host/flags/flags.go
  op-program/host/host.go
  op-program/host/host_test.go
  op-program/preimage/hints.go
  op-program/preimage/oracle.go
Labels: on-merge-train

#5539 Improvements to enable deployment practice
  packages/contracts-bedrock/.env.example
  packages/contracts-bedrock/hardhat.config.ts
  packages/contracts-bedrock/src/deploy-utils.ts
Labels: on-merge-train

#5377 Add phase2 function to MSD
  packages/contracts-bedrock/contracts/deployment/SystemDictator.sol
  packages/contracts-bedrock/deploy/021-SystemDictatorSteps-2.ts
  packages/contracts-bedrock/src/deploy-utils.ts
Labels: on-merge-train

#5555 feat(contracts-bedrock): L2OutputOracle Scripts
  packages/contracts-bedrock/scripts/interfaces/IGnosisSafe.sol
  packages/contracts-bedrock/scripts/libraries/LibSort.sol
  packages/contracts-bedrock/scripts/outputs/DeleteOutput.s.sol
  packages/contracts-bedrock/scripts/outputs/README.md
  packages/contracts-bedrock/scripts/universal/EnhancedScript.sol
  packages/contracts-bedrock/scripts/universal/GlobalConstants.sol
  packages/contracts-bedrock/scripts/universal/SafeBuilder.sol
  packages/contracts-bedrock/scripts/upgrades/PostSherlock.s.sol
  packages/contracts-bedrock/scripts/upgrades/PostSherlockL2.s.sol
Labels: on-merge-train

#5577 feat(ctb): Use named vars for reused config addresses
  packages/contracts-bedrock/deploy-config/mainnet.ts
Labels: on-merge-train

#5573 op-e2e: Add FPP test for empty blocks
  op-e2e/system_fpp_test.go
Labels: on-merge-train

#5588 Update differential testing script to geth 1.11.6
  packages/contracts-bedrock/scripts/differential-testing/differential-testing.go
Labels: on-merge-train

#5591 fix: Markdown base link
  README.md
Labels: on-merge-train

#5587 op-program: Re-add caching wrapper to oracles.
  op-program/client/l2/cache.go
  op-program/client/program.go
  op-program/host/l1/l1.go
  op-program/host/l2/l2.go
Labels: on-merge-train

#5596 op-program: Allow new named chains to be added without the op-geth config
  op-program/host/cmd/main_test.go
Labels: on-merge-train

#5594 proxyd: externalize configs
  proxyd/backend.go
  proxyd/config.go
  proxyd/example.config.toml
  proxyd/integration_tests/testdata/consensus.toml
  proxyd/proxyd.go
Labels: on-merge-train

#5598 ci: Add go.mod and go.sum to rebuild all patterns
  ops/check-changed/main.py
Labels: on-merge-train

#5599 op-program: Improve logging to differentiate between L1 and L2 fetch errors
  op-program/host/prefetcher/retry.go
Labels: on-merge-train

#5607 fix: Re-export json in typescript deploy-configs
  packages/contracts-bedrock/deploy-config/mainnet.ts
Labels: on-merge-train

#5602 feat(pops): Challenger Config Logic
  op-challenger/challenger/config.go
Labels: on-merge-train

#5610 fix(op-proposer): Make Info and Up Fields Unexported
  op-proposer/metrics/metrics.go
Labels: on-merge-train

#5612 fix(op-batcher): Unexport Metrics Fields
  op-batcher/metrics/metrics.go
Labels: on-merge-train

#5613 feat: mainnet update chains
  op-node/chaincfg/chains.go
Labels: sdk

#5614 op-e2e: wait for observed seq reorg in TestMissingBatchE2E
  op-e2e/system_test.go
Labels: on-merge-train

#5615 ci: Add proxyd GCR docker deployment
  .circleci/config.yml
Labels: on-merge-train

#5576 op-program: Setup CI job to periodically verify goerli outputs
  .circleci/config.yml
  op-program/Makefile
  op-program/verify/cmd/goerli.go
Labels: on-merge-train

#5618 proxyd/fix: rewrite should support BlockNumberOrHash
  proxyd/rewriter.go
  proxyd/rewriter_test.go
Labels: on-merge-train

#5619 proxyd: skip peer count config per backend
  proxyd/backend.go
  proxyd/config.go
  proxyd/consensus_poller.go
  proxyd/example.config.toml
  proxyd/proxyd.go
Labels: on-merge-train

#5620 proxyd/nit: adjust log level
  proxyd/consensus_poller.go
Labels: on-merge-train

#5617 feat(pops): Main Challenger Binary Logic
  op-challenger/challenger/challenger.go
  op-challenger/challenger/utils.go
  op-challenger/cmd/main.go
Labels: on-merge-train

#5622 feat(op-service): Refactor Service Utilities
  op-batcher/batcher/batch_submitter.go
  op-batcher/batcher/driver.go
  op-batcher/batcher/utils.go
  op-challenger/challenger/challenger.go
  op-challenger/challenger/utils.go
  op-proposer/proposer/l2_output_submitter.go
  op-proposer/proposer/utils.go
  op-service/client/ethclient.go
  op-service/client/rollup.go
  op-service/client/timeout.go
  op-service/util.go
Labels: on-merge-train

#5627 feat(sdk): Add a bedrock warning
  .changeset/tough-flies-fetch.md
  packages/sdk/src/cross-chain-messenger.ts
Labels: sdk

#5566 feat(pops): Enhance test suite / :broom:
  packages/contracts-bedrock/contracts/L1/L2OutputOracle.sol
  packages/contracts-bedrock/contracts/L1/SystemConfig.sol
  packages/contracts-bedrock/contracts/test/CommonTest.t.sol
  packages/contracts-bedrock/contracts/test/L2OutputOracle.t.sol
  packages/contracts-bedrock/deploy/013-BondManager.ts
  packages/contracts-bedrock/deploy/021-SystemDictatorInit.ts
  packages/contracts-dispute/.solhint.json
  packages/contracts-dispute/.solhintignore
  packages/contracts-dispute/package.json
  packages/contracts-dispute/src/AttestationDisputeGame.sol
  packages/contracts-dispute/src/BondManager.sol
  packages/contracts-dispute/src/DisputeGameFactory.sol
  packages/contracts-dispute/src/FaultDisputeGame.sol
  packages/contracts-dispute/src/interfaces/IAttestationDisputeGame.sol
  packages/contracts-dispute/src/interfaces/IBondManager.sol
  packages/contracts-dispute/src/interfaces/IDisputeGameFactory.sol
  packages/contracts-dispute/src/lib/LibHashing.sol
  packages/contracts-dispute/src/lib/LibPosition.sol
  packages/contracts-dispute/test/AttestationDisputeGame.t.sol
  packages/contracts-dispute/test/BondManager.t.sol
  packages/contracts-dispute/test/CommonTest.t.sol
  packages/contracts-dispute/test/DisputeGameFactory.t.sol
  packages/contracts-dispute/test/L2OutputOracle.t.sol
  packages/contracts-dispute/test/lib/LibPosition.t.sol
Labels: mergify-ignore

#5624 feat(pops): Refactor Challenger for Testability
  op-challenger/challenger/challenger.go
  op-challenger/challenger/config.go
  op-challenger/challenger/entrypoint.go
  op-challenger/cmd/main.go
  op-challenger/config/config.go
  op-challenger/config/config_test.go
  op-challenger/version/version.go
Labels: on-merge-train

#5623 Add Base Goerli chain ID and addresses to JS SDK
  packages/sdk/src/interfaces/types.ts
  packages/sdk/src/utils/chain-constants.ts
Labels: on-merge-train, sdk

#5635 fix(op-proposer): Missing CheckRequired Invocation
  op-proposer/proposer/l2_output_submitter.go
Labels: on-merge-train

#5643 feat(pops): Dispute Game Contract Interfaces
  packages/contracts-bedrock/contracts/dispute/IAttestationDisputeGame.sol
  packages/contracts-bedrock/contracts/dispute/IDisputeGameFactory.sol
  packages/contracts-bedrock/contracts/dispute/IFaultDisputeGame.sol
  packages/contracts-bedrock/contracts/dispute/IOwnable.sol
Labels: on-merge-train

#5634 feat(pops): Flag Tests for the Challenger
  op-challenger/config/config.go
  op-challenger/flags/flags_test.go
Labels: on-merge-train

#5625 op-stack: Validate prefixed Environment Variables
  op-batcher/batcher/batch_submitter.go
  op-batcher/flags/flags.go
  op-node/cmd/main.go
  op-node/flags/flags.go
  op-program/host/flags/flags.go
  op-program/host/host.go
  op-proposer/flags/flags.go
  op-proposer/proposer/l2_output_submitter.go
  op-service/util.go
  op-service/util_test.go
Labels: on-merge-train

#5646 feat(op-node): Stub Mainnet Chain Config
  op-node/chaincfg/chains.go
Labels: on-merge-train

#5628 feat: Add devxpod as codeowners for various packages
  .github/CODEOWNERS
Labels: on-merge-train

#5657 op-node: Add metrics recording the time spent waiting for L1 requests
  op-node/metrics/metrics.go
  op-node/rollup/driver/driver.go
  op-node/rollup/driver/metered_l1fetcher.go
  op-node/rollup/driver/metered_l1fetcher_test.go
Labels: on-merge-train

#5654 fix(proxyd): use correct context for auth
  proxyd/server.go
Labels: on-merge-train

#5668 message-utils: use BigNumber
  packages/sdk/src/utils/message-utils.ts
Labels: sdk

#5667 ci: Update tag regex to recognize proxyd
  ops/scripts/ci-docker-tag-op-stack-release.sh
Labels: on-merge-train

#5663 Add 4-26 transaction delays post-mortem
  technical-documents/postmortems/2023-04-26-transaction-delays.md
  technical-documents/postmortems/2023-04-26-transaction-delays/outage.png
Labels: on-merge-train

#5664 refactor(proxyd): prevent direct access to backend state struct in consensus poller
  proxyd/consensus_poller.go
Labels: on-merge-train

#5656 fix(proxyd): eth2 block tags {safe, finalized} should be valid tag values and avoid cache
  proxyd/cache_test.go
  proxyd/methods.go
Labels: on-merge-train

#5658 feat(sdk): Update `message-utils` to mimic `MigrateWithdrawalGasLimit`
  packages/sdk/src/utils/message-utils.ts
Labels: sdk

#5626 op-node: Don't invoke p2p unsafe sync for old L2 blocks
  op-node/node/node.go
  op-node/node/node_test.go
Labels: on-merge-train

#5648 feat(migration): Mimic `xdm.baseGas` in `migrate.go`
  op-chain-ops/crossdomain/migrate.go
  packages/sdk/src/utils/message-utils.ts
Labels: on-merge-train, sdk

#5652 feat(proxyd): add limit to consensus block lag
  proxyd/config.go
  proxyd/consensus_poller.go
  proxyd/example.config.toml
  proxyd/integration_tests/consensus_test.go
  proxyd/integration_tests/testdata/consensus.toml
  proxyd/proxyd.go
Labels: on-merge-train

#5674 feat(proxyd): moar consensus metrics
  proxyd/consensus_poller.go
  proxyd/metrics.go
Labels: on-merge-train

#5595 feat(contracts-periphery): create Faucet contract
  packages/contracts-periphery/contracts/foundry-tests/AdminFaucetAuthModule.t.sol
  packages/contracts-periphery/contracts/foundry-tests/Faucet.t.sol
  packages/contracts-periphery/contracts/testing/helpers/FaucetHelper.sol
  packages/contracts-periphery/contracts/universal/faucet/Faucet.sol
  packages/contracts-periphery/contracts/universal/faucet/authmodules/AdminFaucetAuthModule.sol
  packages/contracts-periphery/contracts/universal/faucet/authmodules/IFaucetAuthModule.sol
Labels: on-merge-train

#5686 op-program: Update goerli verification script to handle long safe head stalls
  op-program/verify/cmd/goerli.go
Labels: on-merge-train

#5689 op-program: Remove println
  op-program/client/l2/db_test.go
  op-program/verify/cmd/goerli.go
Labels: on-merge-train

#5688 feat(ctp): add changeset for new faucet contract
  .changeset/friendly-kids-fly.md
Labels: on-merge-train

#5701 fault-detector: add readme for custom op-chains (+ bugfix)
  packages/fault-detector/README.md
  packages/fault-detector/src/service.ts
Labels: on-merge-train

#5700 Remove unused config for final-migration-rehearsal network
  packages/contracts-bedrock/deploy-config/final-migration-rehearsal.json
  packages/contracts-bedrock/deploy-config/final-migration-rehearsal.ts
  packages/contracts-bedrock/hardhat.config.ts
Labels: on-merge-train, sdk

#5694 feat(proxyd): prevent banning out-of-sync backend
  proxyd/consensus_poller.go
  proxyd/integration_tests/consensus_test.go
Labels: on-merge-train

#5455 [op-batcher] Add Compressor abstraction, and new implementation with shadow compression
  op-batcher/batcher/channel_builder.go
  op-batcher/batcher/channel_builder_test.go
  op-batcher/batcher/channel_manager_test.go
  op-batcher/batcher/config.go
  op-batcher/batcher/driver.go
  op-batcher/compressor/cli.go
  op-batcher/compressor/compressors.go
  op-batcher/compressor/config.go
  op-batcher/compressor/ratio_compressor.go
  op-batcher/compressor/ratio_compressor_test.go
  op-batcher/compressor/shadow_compressor.go
  op-batcher/compressor/shadow_compressor_test.go
  op-batcher/flags/flags.go
  op-e2e/actions/l2_batcher.go
  op-e2e/migration_test.go
  op-e2e/setup.go
  op-node/rollup/derive/channel_out.go
  op-node/rollup/derive/channel_out_test.go
Labels: on-merge-train

#5729 [fault-detector] current batch index
  packages/fault-detector/src/service.ts
Labels: on-merge-train

#5709 feat(proxyd): redis namespace
  proxyd/cache.go
  proxyd/config.go
  proxyd/integration_tests/testdata/caching.toml
  proxyd/proxyd.go
Labels: on-merge-train

#5545 feat(proxyd): consensus event dispatcher
  proxyd/consensus_poller.go
  proxyd/integration_tests/consensus_test.go
Labels: on-merge-train

#5708 fix(proxyd): add missing shutdown for consensus poller
  proxyd/server.go
Labels: on-merge-train

#5715 refactor(proxy): cache only immutable and hash-based methods
  proxyd/cache.go
  proxyd/cache_test.go
  proxyd/integration_tests/caching_test.go
  proxyd/integration_tests/testdata/caching.toml
  proxyd/lvc.go
  proxyd/methods.go
  proxyd/metrics.go
  proxyd/proxyd.go
Labels: on-merge-train

#5734 refactor(proxyd): move consensus shutdown nested inside the backend group
  proxyd/backend.go
  proxyd/server.go
Labels: on-merge-train

#5720 op-chain-ops: better rollover checks
  op-chain-ops/cmd/rollover/main.go
Labels: on-merge-train

#5730 CI: Pin go-ethereum to v1.11.6 for Hive
  .circleci/config.yml
Labels: on-merge-train

#5733 op-node: Remove ConnGater and ConnMngr constructors from p2p config
  op-node/p2p/cli/load_config.go
  op-node/p2p/config.go
  op-node/p2p/host.go
  op-node/p2p/host_test.go
Labels: on-merge-train

#5727 [fault-detector] extra logging
  packages/fault-detector/src/helpers.ts
  packages/fault-detector/src/service.ts
Labels: on-merge-train

#5719 feat(ctp): Change the type on the auth id field of the Faucet contract to bytes32
  .changeset/strange-bugs-talk.md
  packages/contracts-periphery/contracts/foundry-tests/AdminFaucetAuthModule.t.sol
  packages/contracts-periphery/contracts/foundry-tests/Faucet.t.sol
  packages/contracts-periphery/contracts/testing/helpers/FaucetHelper.sol
  packages/contracts-periphery/contracts/universal/faucet/Faucet.sol
  packages/contracts-periphery/contracts/universal/faucet/authmodules/AdminFaucetAuthModule.sol
  packages/contracts-periphery/contracts/universal/faucet/authmodules/IFaucetAuthModule.sol
Labels: on-merge-train

#5695 feat(sdk): add custom bridge address for ECO
  .changeset/mighty-cameras-check.md
  .circleci/config.yml
  packages/sdk/package.json
  packages/sdk/setupVitest.ts
  packages/sdk/src/adapters/eco-bridge.ts
  packages/sdk/src/adapters/index.ts
  packages/sdk/src/utils/chain-constants.ts
  packages/sdk/test-next/bridgeEcoToken.spec.ts
  packages/sdk/test-next/proveMessage.spec.ts
  packages/sdk/test-next/testUtils/ethersProviders.ts
  packages/sdk/test-next/testUtils/viemClients.ts
  packages/sdk/vitest.config.ts
  yarn.lock
Labels: sdk

#5684 op-node: Modify p2p unsafe sync rate limits
  op-node/p2p/sync.go
Labels: on-merge-train

#5739 fix(proxyd): clean up cache initialization
  proxyd/config.go
  proxyd/integration_tests/testdata/caching.toml
  proxyd/proxyd.go
Labels: on-merge-train

#5747 op-service: Define an abstract Clock
  op-service/clock/clock.go
  op-service/clock/deterministic.go
  op-service/clock/deterministic_test.go
Labels: on-merge-train

#5738 feat(op-challenger): L2OutputOracle Filter Query.
  op-challenger/challenger/oracle.go
  op-challenger/challenger/oracle_test.go
Labels: on-merge-train

#5754 op-node: GC for peer scores
  op-node/p2p/store/extended.go
  op-node/p2p/store/gc.go
  op-node/p2p/store/gc_test.go
  op-node/p2p/store/scorebook.go
  op-node/p2p/store/scorebook_test.go
  op-node/p2p/store/serialize.go
  op-node/p2p/store/serialize_test.go
Labels: on-merge-train

#5762 Deploy system
  packages/contracts-bedrock/deployments/mainnet/L1CrossDomainMessenger.json
  packages/contracts-bedrock/deployments/mainnet/L1ERC721Bridge.json
  packages/contracts-bedrock/deployments/mainnet/L1StandardBridge.json
  packages/contracts-bedrock/deployments/mainnet/L2OutputOracle.json
  packages/contracts-bedrock/deployments/mainnet/L2OutputOracleProxy.json
  packages/contracts-bedrock/deployments/mainnet/OptimismMintableERC20Factory.json
  packages/contracts-bedrock/deployments/mainnet/OptimismMintableERC20FactoryProxy.json
  packages/contracts-bedrock/deployments/mainnet/OptimismPortal.json
  packages/contracts-bedrock/deployments/mainnet/OptimismPortalProxy.json
  packages/contracts-bedrock/deployments/mainnet/PortalSender.json
  packages/contracts-bedrock/deployments/mainnet/ProxyAdmin.json
  packages/contracts-bedrock/deployments/mainnet/SystemConfig.json
  packages/contracts-bedrock/deployments/mainnet/SystemConfigProxy.json
  packages/contracts-bedrock/deployments/mainnet/SystemDictator.json
  packages/contracts-bedrock/deployments/mainnet/SystemDictatorProxy.json
  packages/contracts-bedrock/deployments/mainnet/solcInputs/cfd39c6c33ca63c97e86846bc797b941.json
Labels: sdk

#5761 contracts-bedrock: dispute game factory event
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/dispute/DisputeGameFactory.sol
  packages/contracts-bedrock/contracts/dispute/IDisputeGameFactory.sol
  packages/contracts-bedrock/contracts/test/DisputeGameFactory.t.sol
Labels: on-merge-train

#5752 fix(proxyd): avoid caching tx hash based methods
  proxyd/cache.go
  proxyd/cache_test.go
  proxyd/integration_tests/caching_test.go
Labels: on-merge-train

#5771 op-node: implement new layered p2p connection gater
  op-node/metrics/metrics.go
  op-node/p2p/gating/blocking.go
  op-node/p2p/gating/expiry.go
  op-node/p2p/gating/expiry_test.go
  op-node/p2p/gating/metrics.go
  op-node/p2p/gating/mocks/BlockingConnectionGater.go
  op-node/p2p/gating/mocks/ExpiryStore.go
  op-node/p2p/gating/mocks/Scores.go
  op-node/p2p/gating/scoring.go
Labels: on-merge-train

#5772 op-node: P2P scorer refactor
  op-e2e/setup.go
  op-e2e/system_test.go
  op-node/p2p/config.go
  op-node/p2p/gossip.go
  op-node/p2p/host.go
  op-node/p2p/host_test.go
  op-node/p2p/mocks/ConnectionGater.go
  op-node/p2p/mocks/Peerstore.go
  op-node/p2p/node.go
  op-node/p2p/peer_gater.go
  op-node/p2p/peer_gater_test.go
  op-node/p2p/peer_scorer.go
  op-node/p2p/peer_scorer_test.go
  op-node/p2p/peer_scores.go
  op-node/p2p/peer_scores_test.go
  op-node/p2p/prepared.go
  op-node/p2p/rpc_server.go
  op-node/p2p/store/iface.go
  op-node/p2p/store/scorebook.go
  op-node/p2p/store/scorebook_test.go
  op-node/p2p/store/serialize.go
  op-node/p2p/store/serialize_test.go
Labels: on-merge-train

#5740 chore: Remove Kovan
  indexer/services/l1/bridge/bridge.go
  indexer/services/l2/bridge/bridge.go
Labels: on-merge-train, indexer

#5741 feat: Add dai to indexer
  indexer/services/l2/bridge/bridge.go
Labels: on-merge-train, indexer

#5782 record sliding window metrics
  proxyd/backend.go
  proxyd/metrics.go
Labels: on-merge-train

#5780 op-chain-ops: sanity check not empty bytecode
  op-chain-ops/genesis/setters.go
Labels: on-merge-train

#5788 Add fault-detector to tag-service
  ops/tag-service/tag-service.py
Labels: on-merge-train

#5777 op-node: persist p2p bans with expiration time, update ban-expiry gater
  op-node/p2p/gating/expiry.go
  op-node/p2p/gating/expiry_test.go
  op-node/p2p/gating/mocks/ExpiryStore.go
  op-node/p2p/node.go
  op-node/p2p/store/extended.go
  op-node/p2p/store/iface.go
  op-node/p2p/store/ip_ban_book.go
  op-node/p2p/store/ip_ban_book_test.go
  op-node/p2p/store/peer_ban_book.go
  op-node/p2p/store/peer_ban_book_test.go
  op-node/p2p/store/records_book.go
  op-node/p2p/store/scorebook.go
  op-node/p2p/store/scorebook_test.go
Labels: on-merge-train

#5790 fix(ci): use npm@8.11.0
  ops/docker/ci-builder/Dockerfile
Labels: on-merge-train

#5776 feat: Add docker-compose to indexer
  indexer/.gitignore
  indexer/README.md
  indexer/docker-compose.yml
  indexer/example.env
Labels: indexer

#5736 op-e2e: pending block test + op-geth update
  go.mod
  go.sum
  op-e2e/actions/system_config_test.go
  op-e2e/op_geth_test.go
  op-e2e/system_test.go
Labels: on-merge-train

#5792 op-node: Remove peer scores once the retain period is reached
  op-e2e/setup.go
  op-node/p2p/host.go
  op-node/p2p/peer_scores_test.go
  op-node/p2p/store/extended.go
  op-node/p2p/store/records_book.go
  op-node/p2p/store/scorebook.go
  op-node/p2p/store/scorebook_test.go
Labels: on-merge-train

#5794 feat(proxyd): track consensus for {safe,finalized} blocks and rewrite tags
  proxyd/Dockerfile
  proxyd/backend.go
  proxyd/consensus_poller.go
  proxyd/consensus_tracker.go
  proxyd/example.config.toml
  proxyd/integration_tests/consensus_test.go
  proxyd/integration_tests/testdata/consensus.toml
  proxyd/integration_tests/testdata/consensus_responses.yml
  proxyd/metrics.go
  proxyd/rewriter.go
  proxyd/rewriter_test.go
  proxyd/tools/mockserver/handler/handler.go
Labels: on-merge-train

#5805 refactor(proxyd): order params chronologically: latest, safe, finalized + small fixes
  proxyd/backend.go
  proxyd/consensus_poller.go
  proxyd/consensus_tracker.go
  proxyd/integration_tests/consensus_test.go
  proxyd/metrics.go
Labels: on-merge-train

#5804 contracts-bedrock: mainnet-deployment
  packages/contracts-bedrock/deployments/mainnet/L1CrossDomainMessenger.json
  packages/contracts-bedrock/deployments/mainnet/L1StandardBridge.json
  packages/contracts-bedrock/deployments/mainnet/L2OutputOracle.json
  packages/contracts-bedrock/deployments/mainnet/L2OutputOracleProxy.json
  packages/contracts-bedrock/deployments/mainnet/OptimismMintableERC20Factory.json
  packages/contracts-bedrock/deployments/mainnet/OptimismMintableERC20FactoryProxy.json
  packages/contracts-bedrock/deployments/mainnet/OptimismPortal.json
  packages/contracts-bedrock/deployments/mainnet/OptimismPortalProxy.json
  packages/contracts-bedrock/deployments/mainnet/PortalSender.json
  packages/contracts-bedrock/deployments/mainnet/ProxyAdmin.json
  packages/contracts-bedrock/deployments/mainnet/SystemConfig.json
  packages/contracts-bedrock/deployments/mainnet/SystemConfigProxy.json
  packages/contracts-bedrock/deployments/mainnet/SystemDictator.json
  packages/contracts-bedrock/deployments/mainnet/SystemDictatorProxy.json
  packages/contracts-bedrock/deployments/mainnet/solcInputs/13ac93d026822f719ad110af836d1582.json
Labels: on-merge-train

#5802 contracts-bedrock: fix L2OO deployment assertion
  packages/contracts-bedrock/deploy/012-L2OutputOracleImpl.ts
Labels: on-merge-train

#5816 contracts-bedrock: deploy the L1ERC721Bridge
  packages/contracts-bedrock/deployments/mainnet/L1ERC721Bridge.json
Labels: on-merge-train

#5819 contracts-bedrock: standardize naming for artifacts
  packages/contracts-bedrock/deployments/mainnet/L1CrossDomainMessengerProxy.json
  packages/contracts-bedrock/deployments/mainnet/L1StandardBridgeProxy.json
Labels: on-merge-train

#5817 op-node: minimal chain config
  op-node/chaincfg/chains.go
Labels: on-merge-train

#5812 op-chain-ops: withdrawal testing script
  op-chain-ops/cmd/withdrawals/main.go
Labels: on-merge-train

#5810 sdk: fix deposit-eth task
  packages/sdk/tasks/deposit-eth.ts
Labels: on-merge-train, sdk

#5814 sdk: update to add mainnet network in hh config
  packages/sdk/hardhat.config.ts
Labels: on-merge-train, sdk

#5795 contracts-bedrock: Convert Echidna tests to Forge invariants for AddressAliasHelper library
  packages/contracts-bedrock/contracts/test/invariants/AddressAliasHelper.t.sol
  packages/contracts-bedrock/invariant-docs/AddressAliasHelper.md
  packages/contracts-bedrock/invariant-docs/README.md
Labels: on-merge-train

#5822 contracts-bedrock: Convert Echidna tests to Forge invariants for Burn library
  packages/contracts-bedrock/contracts/test/invariants/Burn.Eth.t.sol
  packages/contracts-bedrock/contracts/test/invariants/Burn.Gas.t.sol
  packages/contracts-bedrock/invariant-docs/Burn.Eth.md
  packages/contracts-bedrock/invariant-docs/Burn.Gas.md
  packages/contracts-bedrock/invariant-docs/README.md
Labels: on-merge-train

#5825 op-wheel: Fix post-shanghai
  op-wheel/engine/engine.go
Labels: on-merge-train

#5796 feat(indexer): Add prisma ui
  indexer/docker-compose.yml
  indexer/example.env
  indexer/ui/Dockerfile
  indexer/ui/README.md
  indexer/ui/schema.prisma
Labels: on-merge-train, indexer

#5801 op-node: Make default peer score bands more fine grained and easier to understand
  op-node/flags/p2p_flags.go
Labels: on-merge-train

#5841 feat(proxyd): add support to rewrite debug_getRawReceipts
  proxyd/README.md
  proxyd/cache.go
  proxyd/cache_test.go
  proxyd/methods.go
  proxyd/rewriter.go
  proxyd/rewriter_test.go
Labels: on-merge-train

#5844 ci: add mockery tool to ci-builder docker container
  ops/docker/ci-builder/Dockerfile
Labels: on-merge-train

#5848 op-wheel: add cheat code command
  op-wheel/cheat/cheat.go
  op-wheel/commands.go
Labels: on-merge-train
