Repository ethereum-optimism/optimism, pull requests merged in 2023-08, with the labels that each got.

#6536 op-program: Add chain config for MainNet and Sepolia to op-program
  op-program/host/cmd/main_test.go
  op-program/host/config/chaincfg.go
Labels: on-merge-train

#6568 fix(op-challenger): Standardizes Package Nomenclature
  op-challenger/fault/alphabet/provider.go
  op-challenger/fault/alphabet/provider_test.go
  op-challenger/fault/cannon/provider.go
  op-challenger/fault/service.go
  op-challenger/fault/test/alphabet.go
  op-e2e/e2eutils/disputegame/helper.go
Labels: on-merge-train

#6552 feat(op-node): Clean up L2OO Caller
  indexer/integration_tests/bedrock_test.go
  op-e2e/system_tob_test.go
  op-e2e/withdrawal_helper.go
  op-node/withdrawals/utils.go
Labels: on-merge-train, sdk, indexer

#6584 contracts-bedrock: cleanup deploy script
  packages/contracts-bedrock/scripts/Deploy.s.sol
Labels: on-merge-train

#6587 bugfix: devnet-allocs scripts multiprocess fix
  bedrock-devnet/devnet/__init__.py
Labels: on-merge-train

#6589 core-utils: fix typo in setupProxyContract.ts
  packages/core-utils/src/helpers/setupProxyContract.ts
Labels: on-merge-train

#6571 feat(op-challenger): Cannon OracleUpdater Tx Crafting
  op-challenger/fault/cannon/provider.go
  op-challenger/fault/cannon/updater.go
  op-challenger/fault/cannon/updater_test.go
  op-challenger/fault/test/alphabet.go
  op-challenger/fault/types/types.go
  op-challenger/fault/types/types_test.go
Labels: on-merge-train

#6590 chore: Update Cannon Readme and Contracts Paths
  .circleci/config.yml
  README.md
  cannon/README.md
Labels: on-merge-train

#6551 chore: op-chain-ops cleanup
  op-chain-ops/Makefile
  op-chain-ops/README.md
  op-chain-ops/clients/clients.go
  op-chain-ops/cmd/check-l2/main.go
  op-chain-ops/contracts/common.go
  op-chain-ops/contracts/contracts.go
  op-chain-ops/db/util.go
  op-chain-ops/eof/README.md
  op-chain-ops/eof/crawler.go
  op-chain-ops/ether/genesis.go
  op-chain-ops/util/util.go
Labels: on-merge-train

#6545 feat(ctb): `BlockOracle` + L1 head validation
  op-bindings/artifacts.json
  op-bindings/bindings/blockoracle.go
  op-bindings/bindings/blockoracle_more.go
  op-bindings/bindings/faultdisputegame.go
  op-bindings/bindings/faultdisputegame_more.go
  op-bindings/bindings/mips_more.go
  op-bindings/bindings/preimageoracle_more.go
  op-challenger/fault/abi_test.go
  op-e2e/e2eutils/disputegame/deploy.go
  op-e2e/e2eutils/disputegame/helper.go
  op-e2e/faultproof_test.go
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/scripts/Deploy.s.sol
  packages/contracts-bedrock/semver-lock.json
  packages/contracts-bedrock/src/dispute/BlockOracle.sol
  packages/contracts-bedrock/src/dispute/FaultDisputeGame.sol
  packages/contracts-bedrock/src/dispute/interfaces/IFaultDisputeGame.sol
  packages/contracts-bedrock/src/libraries/DisputeErrors.sol
  packages/contracts-bedrock/test/BlockOracle.t.sol
  packages/contracts-bedrock/test/DisputeGameFactory.t.sol
  packages/contracts-bedrock/test/FaultDisputeGame.t.sol
Labels: on-merge-train

#6591 chore: Remove eof-crawler
  op-chain-ops/README.md
  op-chain-ops/cmd/eof-crawler/main.go
  op-chain-ops/eof/crawler.go
Labels: on-merge-train

#6541 op-challenger: Load local inputs from the game contract.
  op-challenger/fault/cannon/executor.go
  op-challenger/fault/cannon/executor_test.go
  op-challenger/fault/cannon/local.go
  op-challenger/fault/cannon/local_test.go
  op-challenger/fault/cannon/provider.go
  op-challenger/fault/service.go
Labels: on-merge-train

#6592 feat(ctb): Deploy `BlockOracle`
  packages/contracts-bedrock/scripts/Deploy.s.sol
Labels: on-merge-train

#6603 chore: ci-builder Makefile target
  Makefile
Labels: on-merge-train

#6593 feat(ctb): Deploy `FaultDisputeGame` with `MIPS` backend on devnet
  .circleci/config.yml
  op-bindings/bindings/faultdisputegame.go
  op-bindings/bindings/faultdisputegame_more.go
  op-challenger/fault/abi_test.go
  op-e2e/e2eutils/disputegame/deploy.go
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/scripts/Deploy.s.sol
  packages/contracts-bedrock/semver-lock.json
  packages/contracts-bedrock/src/dispute/FaultDisputeGame.sol
  packages/contracts-bedrock/src/dispute/interfaces/IDisputeGame.sol
  packages/contracts-bedrock/test/FaultDisputeGame.t.sol
Labels: on-merge-train

#6609 fix(fee-estimation): Multiply gas fee in estimate gas
  .changeset/twelve-hounds-glow.md
  packages/fee-estimation/README.md
  packages/fee-estimation/src/estimateFees.spec.ts
  packages/fee-estimation/src/estimateFees.ts
Labels: on-merge-train

#6617 op-challenger: Load pre-image oracle address from the dispute game contract
  op-challenger/cmd/main_test.go
  op-challenger/config/config.go
  op-challenger/config/config_test.go
  op-challenger/fault/cannon/executor_test.go
  op-challenger/fault/cannon/updater.go
  op-challenger/fault/cannon/updater_test.go
  op-challenger/fault/service.go
  op-challenger/flags/flags.go
Labels: on-merge-train

#6622 op-challenger: Fix cannon execution
  op-challenger/fault/cannon/executor.go
  op-challenger/fault/cannon/executor_test.go
  op-challenger/fault/cannon/local.go
  op-challenger/fault/cannon/local_test.go
Labels: on-merge-train

#6632 fix(indexer): Remove individual test timeout via contexts
  indexer/e2e_tests/blocks_e2e_test.go
  indexer/e2e_tests/bridge_transfers_e2e_test.go
Labels: on-merge-train, indexer

#6631 feat(indexer): Handle process panics & config failure
  indexer/cli/cli.go
  indexer/indexer.go
Labels: indexer

#6572 feat(op-challenger): Wire the Oracle Data Updating into the Fault Agent
  op-challenger/fault/agent.go
  op-challenger/fault/service.go
  op-challenger/fault/solver/solver.go
Labels: on-merge-train

#6620 op-e2e: Use pre-deployed dispute game contracts
  op-chain-ops/genesis/config.go
  op-e2e/e2eutils/disputegame/deploy.go
  op-e2e/e2eutils/disputegame/helper.go
  op-e2e/faultproof_test.go
  packages/contracts-bedrock/deploy-config/devnetL1.json
Labels: on-merge-train

#6446 contracts-bedrock: migrate OptimismPortal single impl
  op-bindings/bindings/optimismportal.go
  op-bindings/bindings/optimismportal_more.go
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/.storage-layout
  packages/contracts-bedrock/scripts/Deploy.s.sol
  packages/contracts-bedrock/semver-lock.json
  packages/contracts-bedrock/src/L1/OptimismPortal.sol
  packages/contracts-bedrock/test/CommonTest.t.sol
  packages/contracts-bedrock/test/L2OutputOracle.t.sol
  packages/contracts-bedrock/test/OptimismPortal.t.sol
Labels: C-Protocol-Critical, on-merge-train

#6556 feat(abigenrc): Pin abigen version
  .abigenrc
  package.json
Labels: on-merge-train

#6566 feat: enable L2OutputOracle impl usage by multiple proxies
  op-bindings/bindings/l2outputoracle.go
  op-bindings/bindings/l2outputoracle_more.go
  op-proposer/proposer/abi_test.go
  packages/chain-mon/test/fault-mon/helpers.spec.ts
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/.storage-layout
  packages/contracts-bedrock/scripts/Deploy.s.sol
  packages/contracts-bedrock/semver-lock.json
  packages/contracts-bedrock/src/L1/L2OutputOracle.sol
  packages/contracts-bedrock/test/CommonTest.t.sol
  packages/contracts-bedrock/test/L2OutputOracle.t.sol
Labels: on-merge-train

#6618 feat(ctb): `MIPS` constructor
  op-bindings/bindings/mips.go
  op-bindings/bindings/mips_more.go
  packages/contracts-bedrock/scripts/Deploy.s.sol
  packages/contracts-bedrock/src/cannon/MIPS.sol
  packages/contracts-bedrock/test/MIPS.t.sol
Labels: on-merge-train

#6642 chore: Clean up op-e2e Dispute Game Helpers
  op-e2e/e2eutils/disputegame/helper.go
Labels: on-merge-train

#6607 feat(indexer): Index OptimismPortal & L2ToL1MP Txs
  indexer/api/api_test.go
  indexer/database/bridge_transactions.go
  indexer/database/bridge_transfers.go
  indexer/database/db.go
  indexer/e2e_tests/bridge_transactions_e2e_test.go
  indexer/e2e_tests/bridge_transfers_e2e_test.go
  indexer/e2e_tests/setup.go
  indexer/migrations/20230523_create_schema.sql
  indexer/processor/encoding.go
  indexer/processor/l1_processor.go
  indexer/processor/l2_processor.go
  indexer/processor/l2_to_l1_message_passer.go
  indexer/processor/optimism_portal.go
Labels: on-merge-train, indexer

#6608 feat(indexer): Index CrossDomainMessenger messages
  indexer/database/bridge_messages.go
  indexer/database/db.go
  indexer/e2e_tests/bridge_messages_e2e_test.go
  indexer/e2e_tests/bridge_transfers_e2e_test.go
  indexer/e2e_tests/utils/cross_domain_messages.go
  indexer/migrations/20230523_create_schema.sql
  indexer/processor/cross_domain_messenger.go
  indexer/processor/l1_processor.go
  indexer/processor/l2_processor.go
Labels: indexer

#6477 contracts-bedrock: erc721 bridge single impl
  op-bindings/bindings/l1erc721bridge.go
  op-bindings/bindings/l1erc721bridge_more.go
  op-bindings/bindings/l2erc721bridge.go
  op-bindings/bindings/l2erc721bridge_more.go
  op-chain-ops/genesis/config.go
  op-chain-ops/immutables/immutables.go
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/scripts/Deploy.s.sol
  packages/contracts-bedrock/semver-lock.json
  packages/contracts-bedrock/src/L1/L1ERC721Bridge.sol
  packages/contracts-bedrock/src/L2/L2ERC721Bridge.sol
  packages/contracts-bedrock/src/universal/ERC721Bridge.sol
  packages/contracts-bedrock/test/CommonTest.t.sol
  packages/contracts-bedrock/test/L1ERC721Bridge.t.sol
  packages/contracts-bedrock/test/L2ERC721Bridge.t.sol
Labels: C-Protocol-Critical

#6640 fix(contracts-ts,fee-estimation): Fix bugs with npm publishing
  packages/contracts-ts/package.json
  packages/fee-estimation/package.json
Labels: on-merge-train

#6634 op-challenger: Pass through network config to cannon
  op-challenger/cmd/main_test.go
  op-challenger/config/config.go
  op-challenger/config/config_test.go
  op-challenger/fault/cannon/executor.go
  op-challenger/fault/cannon/executor_test.go
  op-challenger/flags/flags.go
  op-e2e/e2eutils/disputegame/cannon_helper.go
  op-e2e/faultproof_test.go
Labels: on-merge-train

#6628 feat(op-challenger): Update Alphabet Game Scripts
  op-challenger/.gitignore
  op-challenger/Makefile
  op-challenger/charlie.sh
  op-challenger/init_game.sh
  op-challenger/mallory.sh
  op-challenger/scripts/alphabet/charlie.sh
  op-challenger/scripts/alphabet/init_game.sh
  op-challenger/scripts/alphabet/mallory.sh
  op-challenger/scripts/parallel.sh
  op-challenger/scripts/visualize.sh
  op-challenger/visualize.sh
Labels: on-merge-train

#6635 op-program: Set l1.rpckind in the goerli verification script
  op-program/verify/cmd/goerli.go
Labels: on-merge-train

#6646 op-chain-ops: initialized + initializing in check-l2
  op-chain-ops/cmd/check-l2/main.go
Labels: on-merge-train

#6555 contracts-bedrock: system config single implementation
  op-bindings/bindings/systemconfig.go
  op-bindings/bindings/systemconfig_more.go
  op-e2e/system_tob_test.go
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/.storage-layout
  packages/contracts-bedrock/deploy-config/devnetL1.json
  packages/contracts-bedrock/invariant-docs/SystemConfig.md
  packages/contracts-bedrock/scripts/Deploy.s.sol
  packages/contracts-bedrock/scripts/DeployConfig.s.sol
  packages/contracts-bedrock/semver-lock.json
  packages/contracts-bedrock/src/L1/SystemConfig.sol
  packages/contracts-bedrock/test/CommonTest.t.sol
  packages/contracts-bedrock/test/SystemConfig.t.sol
  packages/contracts-bedrock/test/invariants/SystemConfig.t.sol
Labels: on-merge-train

#6558 feat(ci-builder): Use abigenrc
  ops/docker/ci-builder/Dockerfile
Labels: on-merge-train

#6305 op-service,batcher,proposer: Retry when dialing RPC URLs
  indexer/services/l1/bridge/eth_bridge.go
  indexer/services/l1/bridge/portal.go
  indexer/services/l1/bridge/standard_bridge.go
  indexer/services/l2/bridge/standard_bridge.go
  indexer/services/query/headers.go
  op-batcher/batcher/driver.go
  op-node/client/rpc.go
  op-node/sources/sync_client.go
  op-program/host/prefetcher/retry.go
  op-proposer/proposer/l2_output_submitter.go
  op-service/backoff/operation.go
  op-service/backoff/operation_test.go
  op-service/client/dial.go
  op-service/client/dial_test.go
  op-service/client/ethclient.go
  op-service/client/rollup.go
  op-service/client/timeout.go
Labels: on-merge-train, indexer

#6644 Use make clean to clear op-e2e state
  .circleci/config.yml
  op-e2e/Makefile
  ops/scripts/newer-file.sh
Labels: on-merge-train

#6678 feat(op-challenger): Load Onchain Fault Dispute Game Contract Game Depth
  op-challenger/cmd/main_test.go
  op-challenger/config/config.go
  op-challenger/config/config_test.go
  op-challenger/fault/cannon/executor_test.go
  op-challenger/fault/loader.go
  op-challenger/fault/loader_test.go
  op-challenger/fault/service.go
  op-challenger/flags/flags.go
  op-challenger/scripts/alphabet/charlie.sh
  op-challenger/scripts/alphabet/mallory.sh
  op-e2e/e2eutils/disputegame/alphabet_helper.go
  op-e2e/e2eutils/disputegame/cannon_helper.go
Labels: on-merge-train, op-challenger

#6672 fix: Remove dead script from bad rebase
  packages/contracts-bedrock/package.json
Labels: on-merge-train

#6682 fix: Broken docker build
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: sdk

#6683 op-challenger: Skip oracle updates when no data to publish
  op-challenger/fault/agent.go
  op-challenger/fault/alphabet/updater.go
  op-challenger/fault/alphabet/updater_test.go
  op-challenger/fault/cannon/provider.go
  op-challenger/fault/cannon/provider_test.go
  op-challenger/fault/cannon/updater.go
  op-challenger/fault/cannon/updater_test.go
  op-challenger/fault/types/types.go
Labels: on-merge-train

#6681 op-e2e: Update cannon e2e test to execute moves down to the max depth
  op-e2e/e2eutils/disputegame/cannon_helper.go
  op-e2e/e2eutils/disputegame/game_helper.go
  op-e2e/e2eutils/disputegame/helper.go
  op-e2e/faultproof_test.go
  packages/contracts-bedrock/deploy-config/devnetL1.json
Labels: on-merge-train

#6676 feat(op-challenger): Absolute Pre-state Validation
  op-challenger/fault/loader.go
  op-challenger/fault/loader_test.go
  op-challenger/fault/service.go
  op-challenger/fault/service_test.go
Labels: op-challenger

#6684 ctb: fix pnpm clean
  packages/contracts-bedrock/package.json
Labels: on-merge-train

#6671 feat(indexer): Store RLP bytes of logs/headers when indexing them
  indexer/database/blocks.go
  indexer/database/contract_events.go
  indexer/database/rlp_serializer.go
  indexer/database/types.go
  indexer/e2e_tests/blocks_e2e_test.go
  indexer/migrations/20230523_create_schema.sql
  indexer/processor/contract_events.go
  indexer/processor/cross_domain_messenger.go
  indexer/processor/l1_processor.go
  indexer/processor/l2_processor.go
  indexer/processor/l2_to_l1_message_passer.go
  indexer/processor/optimism_portal.go
  indexer/processor/standard_bridge.go
Labels: indexer

#6638 feat(ctb): Cannon contracts VM tests
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/scripts/differential-testing/differential-testing.go
  packages/contracts-bedrock/test/CommonTest.t.sol
  packages/contracts-bedrock/test/MIPS.t.sol
Labels: on-merge-train

#6605 Bug Fix: bedrock-contracts/foundry.toml
  packages/contracts-bedrock/foundry.toml
Labels: on-merge-train

#6705 op-node: Make it resilient to not yet ready RPC URLs
  op-node/client/dial_test.go
  op-node/client/rpc.go
  op-node/node/node.go
  op-service/client/dial.go
Labels: on-merge-train

#6712 op-program: Set retry when dialing
  op-program/host/host.go
Labels: on-merge-train

#6729 build: Fix pnpm lockfile
  .pnpmfile.cjs
  pnpm-lock.yaml
Labels: on-merge-train

#6709 op-e2e: Add a cannon e2e test that executes a defend step
  op-challenger/fault/cannon/provider.go
  op-e2e/e2eutils/challenger/helper.go
  op-e2e/e2eutils/disputegame/cannon_helper.go
  op-e2e/e2eutils/disputegame/game_helper.go
  op-e2e/e2eutils/disputegame/honest_helper.go
  op-e2e/faultproof_test.go
Labels: on-merge-train

#6737 bedrock-devnet: Handle exceptions in child processes
  bedrock-devnet/devnet/__init__.py
Labels: on-merge-train

#6685 contracts-bedrock: modularize deploy script
  packages/contracts-bedrock/scripts/Deploy.s.sol
Labels: on-merge-train

#6670 feat(ctb): Consolidate lock files into a single directory
  .circleci/config.yml
  packages/contracts-bedrock/locks/gas-lock
  packages/contracts-bedrock/locks/semver-lock.json
  packages/contracts-bedrock/locks/storage-lock
  packages/contracts-bedrock/package.json
  packages/contracts-bedrock/scripts/storage-lock.sh
Labels: on-merge-train

#6724 chore: add log to record mapping between channel and block
  op-batcher/batcher/channel_manager.go
Labels: on-merge-train

#6760 CI: Increase indexer resource class & assign CPUs
  .circleci/config.yml
Labels: on-merge-train

#6770 Fix minor logging bug in E2E test
  op-e2e/actions/user.go
Labels: on-merge-train

#5969 fix(indexer): Add name to toml config
  indexer/config/config_test.go
  indexer/indexer.toml
Labels: indexer

#6786 Fix go.mod
  go.mod
  go.sum
Labels: on-merge-train

#6784 op-chain-ops: tx-builder safe types
  op-chain-ops/safe/batch_file.go
  op-chain-ops/safe/batch_file_test.go
  op-chain-ops/safe/testdata/batch-prepare-bedrock.json
  op-chain-ops/safe/testdata/l2-output-oracle.json
Labels: on-merge-train

#6787 feat(indexer) fill in derived log fields
  indexer/database/blocks.go
  indexer/database/contract_events.go
  indexer/database/types.go
  indexer/e2e_tests/blocks_e2e_test.go
  indexer/processor/contract_events.go
  indexer/processor/cross_domain_messenger.go
  indexer/processor/l1_processor.go
  indexer/processor/l2_processor.go
  indexer/processor/l2_to_l1_message_passer.go
  indexer/processor/optimism_portal.go
  indexer/processor/standard_bridge.go
Labels: indexer

#6766 feat: use deterministic deployment for token factories
  op-bindings/bindings/legacyerc20eth.go
  op-bindings/bindings/mips_more.go
  op-bindings/bindings/optimismmintableerc20.go
  op-bindings/bindings/optimismmintableerc20factory.go
  op-bindings/bindings/optimismmintableerc20factory_more.go
  op-bindings/bindings/optimismmintableerc721factory.go
  op-bindings/bindings/optimismmintableerc721factory_more.go
  op-bindings/bindings/preimageoracle_more.go
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/semver-lock.json
  packages/contracts-bedrock/src/universal/OptimismMintableERC20.sol
  packages/contracts-bedrock/src/universal/OptimismMintableERC20Factory.sol
  packages/contracts-bedrock/src/universal/OptimismMintableERC721.sol
  packages/contracts-bedrock/src/universal/OptimismMintableERC721Factory.sol
  packages/contracts-bedrock/test/OptimismMintableERC20Factory.t.sol
  packages/contracts-bedrock/test/OptimismMintableERC721Factory.t.sol
Labels: on-merge-train, contracts

#6785 Fix IsURLAvailable
  op-node/client/dial_test.go
  op-node/client/rpc.go
Labels: on-merge-train

#6714 op-e2e: Capture tx trace when receipt has an unexpected status
  indexer/e2e_tests/blocks_e2e_test.go
  indexer/e2e_tests/bridge_messages_e2e_test.go
  indexer/e2e_tests/bridge_transactions_e2e_test.go
  indexer/e2e_tests/bridge_transfers_e2e_test.go
  op-e2e/e2eutils/disputegame/game_helper.go
  op-e2e/e2eutils/disputegame/helper.go
  op-e2e/e2eutils/wait/waits.go
  op-e2e/e2eutils/wait/withdrawals.go
  op-e2e/faultproof_test.go
  op-e2e/system_tob_test.go
  op-e2e/withdrawal_helper.go
  op-node/withdrawals/utils.go
  op-service/client/utils/waits.go
Labels: on-merge-train, indexer

#6763 cannon: Fix j/jal VM emulation
  cannon/mipsevm/evm_test.go
  cannon/mipsevm/mips.go
  op-bindings/bindings/mips.go
  op-bindings/bindings/mips_more.go
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/src/cannon/MIPS.sol
  packages/contracts-bedrock/test/MIPS.t.sol
Labels: on-merge-train

#6738 feat: Implement API with dummy data
  indexer/api/api.go
  indexer/api/api_test.go
  indexer/api/routes/common.go
  indexer/api/routes/deposits.go
  indexer/api/routes/healthz.go
  indexer/api/routes/routes.go
  indexer/api/routes/withdrawals.go
Labels: indexer

#5952 feat(indexer): Add processor to docker-compose
  indexer/docker-compose.yml
Labels: Stale, indexer

#6767 feat(indexer): Preallocate space for a slice
  indexer/api/routes/deposits.go
  indexer/api/routes/withdrawals.go
Labels: indexer

#6775 feat(indexer): Implement presets for toml file
  indexer/cli/cli.go
  indexer/config/config.go
  indexer/config/config_test.go
  indexer/config/presets.go
  indexer/database/db.go
  indexer/e2e_tests/setup.go
  indexer/indexer.go
  indexer/indexer.toml
  indexer/processor/l1_processor.go
Labels: indexer

#6798 fix(indexer): Fix config usage make config deps more explicit
  indexer/cli/cli.go
  indexer/config/config.go
  indexer/config/config_test.go
  indexer/database/db.go
  indexer/e2e_tests/setup.go
  indexer/indexer.go
  indexer/processor/l1_processor.go
Labels: indexer

#6726 feat(indexer): Hook up api to cli app
  indexer/cli/cli.go
Labels: indexer

#6795 chore(contracts-bedrock): pnpm up --latest
  packages/contracts-bedrock/package.json
  packages/contracts-bedrock/scripts/forge-test-names.ts
  pnpm-lock.yaml
Labels: sdk, common-ts

#6772 feat(indexer): Start adding ui to indexer docker-compose
  indexer/docker-compose.yml
Labels: on-merge-train, indexer

#6800 contracts-bedrock: delete sherlock upgrade scripts
  op-bindings/bindings/mips_more.go
  op-bindings/bindings/preimageoracle_more.go
  packages/contracts-bedrock/scripts/upgrades/PostSherlock.s.sol
  packages/contracts-bedrock/scripts/upgrades/PostSherlockL2.s.sol
Labels: on-merge-train

#6789 op-e2e: Add e2e test for challenger responding to multiple games
  op-e2e/e2eutils/disputegame/helper.go
  op-e2e/faultproof_test.go
Labels: on-merge-train

#6805 op-service: Cleanup backoff.Do implementation
  op-service/backoff/operation.go
Labels: on-merge-train

#6707 op-service: Harden Transaction Manager
  op-service/txmgr/queue_test.go
  op-service/txmgr/txmgr.go
Labels: on-merge-train

#6790 feat(ctb): `CONTRIBUTING.md`
  packages/contracts-bedrock/CONTRIBUTING.md
  packages/contracts-bedrock/README.md
  packages/contracts-bedrock/package.json
Labels: on-merge-train

#6802 fix(indexer): Fix cli flags
  indexer/cli/cli.go
Labels: on-merge-train, indexer

#6762 contracts-bedrock: goerli deploy config
  packages/contracts-bedrock/deploy-config/goerli.json
  packages/contracts-bedrock/deployments/goerli/L1CrossDomainMessenger.json
  packages/contracts-bedrock/deployments/goerli/L1ERC721Bridge.json
  packages/contracts-bedrock/deployments/goerli/L1StandardBridge.json
  packages/contracts-bedrock/deployments/goerli/L2OutputOracle.json
  packages/contracts-bedrock/deployments/goerli/OptimismMintableERC20Factory.json
  packages/contracts-bedrock/deployments/goerli/OptimismPortal.json
  packages/contracts-bedrock/deployments/goerli/SystemConfig.json
Labels: on-merge-train

#6803 chore(indexer): Remove logger config from config
  indexer/cli/cli.go
  indexer/config/config.go
  indexer/e2e_tests/setup.go
  indexer/indexer.toml
Labels: on-merge-train, indexer

#6796 chore(chain-mon): pnpm up --latest
  .changeset/tall-shirts-wonder.md
  packages/chain-mon/package.json
  packages/chain-mon/tsconfig.json
  pnpm-lock.yaml
Labels: on-merge-train

#6804 feat(indexer): Pull latest gateway-frontend
  indexer/docker-compose.yml
Labels: indexer

#6704 Update tag-service.yml
  .github/workflows/tag-service.yml
Labels: on-merge-train

#6811 contracts-bedrock: fix gettings started config
  packages/contracts-bedrock/deploy-config/getting-started.json
Labels: on-merge-train

#6801 feat(indexer): Add basic docs
  go.mod
  go.sum
  indexer/api/api.go
  indexer/api/routes/docs.go
  indexer/api/routes/routes.go
Labels: on-merge-train, indexer

#6751 contracts-bedrock: slight cleanup + docs
  packages/contracts-bedrock/scripts/Deployer.sol
Labels: on-merge-train

#6619 Web3.js Plugin for Fee Estimation
  packages/web3js-plugin/.prettierignore
  packages/web3js-plugin/.prettierrc.cjs
  packages/web3js-plugin/LICENSE
  packages/web3js-plugin/README.md
  packages/web3js-plugin/package.json
  packages/web3js-plugin/src/plugin.spec.ts
  packages/web3js-plugin/src/plugin.ts
  packages/web3js-plugin/tsconfig.json
  packages/web3js-plugin/tsup.config.ts
  packages/web3js-plugin/vite.config.ts
  pnpm-lock.yaml
Labels: on-merge-train

#6807 contracts-bedrock: upgrade to multichain script
  op-bindings/bindings/mips_more.go
  op-bindings/bindings/preimageoracle_more.go
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/deploy-config/hardhat.json
  packages/contracts-bedrock/scripts/universal/SafeBuilder.sol
  packages/contracts-bedrock/scripts/upgrades/Multichain.s.sol
Labels: on-merge-train, A-contracts-bedrock

#6769 feat(indexer): Add tokens to the db schema
  indexer/database/bridge_transfers.go
  indexer/migrations/20230523_create_schema.sql
Labels: A-indexer, indexer

#6813 chore(ctb): Fix delete output compiler warning
  packages/contracts-bedrock/scripts/outputs/DeleteOutput.s.sol
Labels: C-maintenance, A-pkg-contracts-bedrock

#6817 fix(contracts-bedrock): Use npx in contracts-bedrock so it doesn't depend on pnpm i
  packages/contracts-bedrock/package.json
Labels: on-merge-train

#6806 feat(indexer): decouple bridge processing from any rpc connection
  indexer/api/api_test.go
  indexer/database/bridge_messages.go
  indexer/database/bridge_transfers.go
  indexer/e2e_tests/bridge_messages_e2e_test.go
  indexer/e2e_tests/bridge_transfers_e2e_test.go
  indexer/migrations/20230523_create_schema.sql
  indexer/processor/l1_processor.go
  indexer/processor/l2_processor.go
  indexer/processor/standard_bridge.go
Labels: A-indexer, indexer

#6814 fix(sdk): Fix failing depcheck
  packages/sdk/.depcheckrc
Labels: sdk

#6818 contracts-bedrock: system config fix
  op-bindings/bindings/systemconfig.go
  op-bindings/bindings/systemconfig_more.go
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/semver-lock.json
  packages/contracts-bedrock/src/L1/SystemConfig.sol
  packages/contracts-bedrock/test/CommonTest.t.sol
  packages/contracts-bedrock/test/CrossDomainOwnable3.t.sol
  packages/contracts-bedrock/test/SystemConfig.t.sol
Labels: on-merge-train, A-pkg-contracts-bedrock

#6822 feat(indexer): simplify bridging schemas via local/remote naming & simplify tx deposits table
  indexer/api/routes/deposits.go
  indexer/api/routes/withdrawals.go
  indexer/database/bridge_transactions.go
  indexer/database/bridge_transfers.go
  indexer/e2e_tests/bridge_transactions_e2e_test.go
  indexer/e2e_tests/bridge_transfers_e2e_test.go
  indexer/migrations/20230523_create_schema.sql
  indexer/processor/l1_processor.go
  indexer/processor/l2_processor.go
Labels: indexer

#6825 contracts-bedrock: redeploy system config
  packages/contracts-bedrock/deployments/goerli/SystemConfig.json
Labels: on-merge-train

#6708 op-node: Metrics in the channel bank
  op-node/metrics/metrics.go
  op-node/rollup/derive/channel_bank.go
  op-node/rollup/derive/channel_bank_test.go
  op-node/rollup/derive/pipeline.go
  op-node/rollup/driver/driver.go
  op-node/testutils/metrics.go
Labels: on-merge-train

#6755 GameLoader Fault Component
  op-challenger/fault/factory.go
  op-challenger/fault/factory_test.go
Labels: C-feature, on-merge-train, A-op-challenger

#6820 Update Mergify Labeling
  .github/dependabot.yml
  .github/mergify.yml
Labels: C-chore

#6793 Updated Indexer Documentation & Added Minor Code Comments
  indexer/README.md
  indexer/config/config.go
  indexer/config/config_test.go
  indexer/indexer.toml
Labels: A-indexer, S-on-merge-train

#6839 feat: ERC20 Factory Storage
  op-bindings/bindings/optimismmintableerc20factory.go
  op-bindings/bindings/optimismmintableerc20factory_more.go
  op-chain-ops/cmd/check-l2/main.go
  op-chain-ops/genesis/config.go
  op-chain-ops/immutables/immutables.go
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/.storage-layout
  packages/contracts-bedrock/scripts/Deploy.s.sol
  packages/contracts-bedrock/semver-lock.json
  packages/contracts-bedrock/src/universal/OptimismMintableERC20Factory.sol
  packages/contracts-bedrock/test/CommonTest.t.sol
Labels: S-on-merge-train

#6845 op-e2e: Print tx trace info
  op-e2e/e2eutils/wait/waits.go
Labels: S-on-merge-train

#6776 op-challenger: Add e2e test that disputes an output root by agreeing
  op-challenger/fault/cannon/executor.go
  op-challenger/fault/cannon/executor_test.go
  op-challenger/fault/cannon/local.go
  op-challenger/fault/cannon/local_test.go
  op-challenger/fault/cannon/provider.go
  op-e2e/e2eutils/disputegame/cannon_helper.go
  op-e2e/e2eutils/disputegame/game_helper.go
  op-e2e/e2eutils/disputegame/helper.go
  op-e2e/faultproof_test.go
Labels: S-on-merge-train

#6829 Update Mergify Config
  .github/mergify.yml
Labels: C-chore, M-ci

#6768 feat(indexer): Implement cursor based pagination
  indexer/api/api_test.go
  indexer/api/routes/deposits.go
  indexer/api/routes/withdrawals.go
  indexer/database/bridge_transfers.go
  indexer/e2e_tests/bridge_transfers_e2e_test.go
  indexer/migrations/20230523_create_schema.sql
Labels: A-indexer

#6846 Clean up Contributing Guide Labels Section
  CONTRIBUTING.md
Labels: C-chore, M-docs, S-on-merge-train

#6827 Cast GameStatusString onto Status Type
  op-challenger/fault/caller.go
  op-challenger/fault/monitor.go
  op-challenger/fault/monitor_test.go
  op-challenger/fault/types/types.go
Labels: C-chore, A-op-challenger

#6863 chore(indexer): Disable flaky indexer tests
  ops/check-changed/main.py
Labels: A-ops, S-on-merge-train

#6869 contracts-bedrock: redeploy mintable erc20 factory
  packages/contracts-bedrock/deployments/goerli/OptimismMintableERC20Factory.json
  packages/contracts-bedrock/scripts/upgrades/Multichain.s.sol
Labels: A-pkg-contracts-bedrock

#6855 feat(indexer): Use default indexer.toml in default Docker CMD
  indexer/Dockerfile
Labels: A-indexer, S-on-merge-train

#6849 contracts-bedrock: delete dead deploy config validation
  .circleci/config.yml
  packages/contracts-bedrock/scripts/validate-deploy-configs.sh
Labels: M-ci, A-pkg-contracts-bedrock, S-on-merge-train

#6867 feat(op-chain-ops): Add fault proof params to `DeployConfig`
  op-chain-ops/genesis/config.go
  op-chain-ops/genesis/testdata/test-deploy-config-full.json
Labels: A-op-chain-ops, M-docs, S-on-merge-train

#6873 Update code examples in README
  .changeset/wet-geese-cover.md
  packages/web3js-plugin/README.md
Labels: A-pkg-web3js-plugin, M-docs, S-on-merge-train

#6854 Make shebangs more portable
  op-bindings/Makefile
  op-chain-ops/crossdomain/testdata/trace.sh
  op-challenger/scripts/alphabet/charlie.sh
  op-challenger/scripts/alphabet/init_game.sh
  op-challenger/scripts/alphabet/mallory.sh
  op-challenger/scripts/parallel.sh
  op-challenger/scripts/visualize.sh
  packages/contracts-bedrock/scripts/slither.sh
  packages/contracts-bedrock/scripts/verify-foundry-install.sh
Labels: A-op-bindings, A-pkg-contracts-bedrock, A-op-challenger, A-op-chain-ops

#6857 fix: Remove dotenv
  go.mod
  go.sum
  indexer/config/config.go
Labels: A-indexer, S-on-merge-train

#6877 Tidy up mergify area pr labels.
  .github/mergify.yml
Labels: M-ci

#6235 ci: move devnet test to make target
  .circleci/config.yml
  Makefile
  bedrock-devnet/devnet/__init__.py
Labels: M-ci

#6879 Fixes mergify config
  .github/mergify.yml
Labels: M-ci, C-fix

#6823 op-service/backoff: Refactor to use time.Duration instead of float/int.
  op-node/sources/sync_client.go
  op-service/backoff/strategies.go
  op-service/backoff/strategies_test.go
Labels: A-op-node, A-op-service, S-on-merge-train

#6856 feat(indexer): Add logging to config/config.go
  indexer/config/config.go
Labels: A-indexer, S-on-merge-train

#6886 chore(sdk): Update all dependencies to latest
  .changeset/hip-olives-press.md
  packages/sdk/.depcheckrc
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: A-pkg-sdk, S-on-merge-train

#6875 Rename backoff package to retry
  op-e2e/system_test.go
  op-node/client/rpc.go
  op-node/cmd/batch_decoder/script.sh
  op-node/rollup/driver/state.go
  op-node/sources/sync_client.go
  op-program/host/prefetcher/retry.go
  op-program/host/prefetcher/retry_test.go
  op-service/client/dial.go
  op-service/retry/operation.go
  op-service/retry/operation_test.go
  op-service/retry/strategies.go
  op-service/retry/strategies_test.go
  op-service/txmgr/txmgr.go
Labels: A-op-program, A-op-node, A-op-service, A-op-e2e, S-on-merge-train

#6889 op-challenger: Add --game-factory-address CLI option.
  op-challenger/cmd/main_test.go
  op-challenger/config/config.go
  op-challenger/config/config_test.go
  op-challenger/fault/cannon/executor_test.go
  op-challenger/flags/flags.go
  op-challenger/scripts/alphabet/charlie.sh
  op-challenger/scripts/alphabet/mallory.sh
  op-e2e/e2eutils/disputegame/alphabet_helper.go
  op-e2e/e2eutils/disputegame/cannon_helper.go
  op-e2e/e2eutils/disputegame/game_helper.go
  op-e2e/e2eutils/disputegame/helper.go
Labels: A-pkg-contracts-bedrock, A-op-challenger, A-op-e2e, S-on-merge-train

#6878 op-batcher: Make channel manager safe for concurrent use
  op-batcher/batcher/channel_manager.go
Labels: A-op-batcher, S-on-merge-train

#6904 bugfix(indexer): op-service/backoff renamed to op-service/retry
  indexer/etl/l1_etl.go
  indexer/etl/l2_etl.go
Labels: A-indexer

#6899 op-e2e: Add skipped test for playing multiple cannon games
  op-e2e/e2eutils/challenger/helper.go
  op-e2e/e2eutils/disputegame/cannon_helper.go
  op-e2e/e2eutils/disputegame/game_helper.go
  op-e2e/e2eutils/disputegame/helper.go
  op-e2e/faultproof_test.go
Labels: A-op-e2e, S-on-merge-train

#6905 feat(indexer): use contiguous slice of memory
  indexer/api/api_test.go
  indexer/database/blocks.go
  indexer/database/bridge_messages.go
  indexer/database/bridge_transactions.go
  indexer/database/bridge_transfers.go
  indexer/database/contract_events.go
  indexer/etl/l1_etl.go
  indexer/etl/l2_etl.go
  indexer/processors/bridge/l1_bridge_processor.go
  indexer/processors/bridge/l2_bridge_processor.go
Labels: A-indexer, S-on-merge-train

#6841 op-chain-ops: always fund precompile balances in L2 genesis
  op-chain-ops/genesis/layer_two.go
  op-chain-ops/genesis/layer_two_test.go
  op-chain-ops/genesis/setters.go
Labels: A-op-chain-ops, S-on-merge-train

#6897 chore: technical-documents rename
  .github/mergify.yml
  README.md
  docs/postmortems/2022-02-02-inflation-vuln.md
  docs/postmortems/2022-05-31-drop-1.md
  docs/postmortems/2023-04-26-transaction-delays.md
  docs/postmortems/2023-04-26-transaction-delays/outage.png
  docs/security-reviews/2020_10-Rollup-TrailOfBits.pdf
  docs/security-reviews/2020_11-Dapphub-ECDSA_Wallet.pdf
  docs/security-reviews/2021_03-OVM_and_Rollup-OpenZeppelin.pdf
  docs/security-reviews/2021_03-SafetyChecker-ConsenSysDiligence.pdf
  docs/security-reviews/2022_05-Bedrock_Contracts-Zeppelin.pdf
  docs/security-reviews/2022_05-OpNode-TrailOfBits.pdf
  docs/security-reviews/2022_08-Bedrock_GoLang-SigmaPrime.pdf
  docs/security-reviews/2022_09-Bedrock_and_Periphery-Zeppelin.pdf
  docs/security-reviews/2022_10-Drippie-Spearbit.pdf
  docs/security-reviews/2022_11-Invariant_Testing-TrailOfBits.pdf
  docs/security-reviews/2023_01-Bedrock_Updates-TrailOfBits.pdf
Labels: M-ci

#6852 op-node: batch_decoder: Parallel tx fetching
  op-node/cmd/batch_decoder/README.md
  op-node/cmd/batch_decoder/fetch/fetch.go
  op-node/cmd/batch_decoder/main.go
Labels: A-op-node

#6866 contracts-bedrock: small cleanups in deploy scripts
  packages/contracts-bedrock/deploy-config/goerli.json
  packages/contracts-bedrock/deploy-config/internal-devnet.json
  packages/contracts-bedrock/scripts/universal/SafeBuilder.sol
  packages/contracts-bedrock/scripts/upgrades/Multichain.s.sol
Labels: A-pkg-contracts-bedrock, S-on-merge-train

#6900 feat(ctb): Pack `GameType` in DGF's `GameId` type
  op-bindings/bindings/disputegamefactory.go
  op-bindings/bindings/disputegamefactory_more.go
  op-bindings/bindings/mips_more.go
  op-bindings/bindings/preimageoracle_more.go
  op-challenger/config/config.go
  op-challenger/fault/factory.go
  op-challenger/fault/factory_test.go
  packages/contracts-bedrock/src/dispute/DisputeGameFactory.sol
  packages/contracts-bedrock/src/dispute/interfaces/IDisputeGameFactory.sol
  packages/contracts-bedrock/src/dispute/lib/LibGameId.sol
  packages/contracts-bedrock/src/libraries/DisputeTypes.sol
  packages/contracts-bedrock/test/DisputeGameFactory.t.sol
  packages/contracts-bedrock/test/LibGameId.t.sol
Labels: A-op-bindings, A-pkg-contracts-bedrock, A-op-challenger, S-on-merge-train

#6865 contracts-bedrock: add deploy config validator
  .circleci/config.yml
  op-chain-ops/cmd/check-deploy-config/main.go
  op-chain-ops/genesis/config.go
  op-chain-ops/genesis/testdata/test-deploy-config-full.json
  op-node/cmd/genesis/cmd.go
  packages/contracts-bedrock/deploy-config/hardhat.json
  packages/contracts-bedrock/deploy-config/internal-devnet.json
  packages/contracts-bedrock/deploy-config/mainnet.json
  packages/contracts-bedrock/package.json
  packages/contracts-bedrock/scripts/check-deploy-configs.sh
Labels: M-ci, A-pkg-contracts-bedrock, A-op-chain-ops, A-op-node

#6910 chore: DisputeGameFactory Styling Touchups
  op-bindings/bindings/disputegamefactory.go
  packages/contracts-bedrock/src/dispute/DisputeGameFactory.sol
  packages/contracts-bedrock/src/dispute/interfaces/IDisputeGameFactory.sol
Labels: A-op-bindings, A-pkg-contracts-bedrock, S-on-merge-train

#6887 chore(common-ts): Upgrade all npm dependencies
  .changeset/tame-doors-invite.md
  packages/common-ts/package.json
  packages/common-ts/tsconfig.json
  pnpm-lock.yaml
Labels: A-pkg-common-ts

#6894 op-challenger: Initial support for playing multiple games
  op-challenger/fault/cannon/provider.go
  op-challenger/fault/factory.go
  op-challenger/fault/game.go
  op-challenger/fault/game_test.go
  op-challenger/fault/monitor.go
  op-challenger/fault/monitor_test.go
  op-challenger/fault/service.go
  op-e2e/e2eutils/disputegame/cannon_helper.go
  op-e2e/faultproof_test.go
Labels: A-op-challenger, A-op-e2e

#6912 chore: Rebase PR 5329
  op-bindings/bindings/mips_more.go
  op-bindings/bindings/preimageoracle_more.go
  op-bindings/bindings/proxy.go
  op-bindings/bindings/proxy_more.go
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/src/legacy/L1ChugSplashProxy.sol
  packages/contracts-bedrock/src/libraries/Constants.sol
  packages/contracts-bedrock/src/universal/Proxy.sol
  packages/contracts-bedrock/src/universal/ProxyAdmin.sol
  packages/contracts-bedrock/test/Constants.t.sol
Labels: A-op-bindings, A-pkg-contracts-bedrock

#6911 op-challenger: Add basic metrics & pprof setup
  op-batcher/batcher/batch_submitter.go
  op-challenger/config/config.go
  op-challenger/fault/service.go
  op-challenger/flags/flags.go
  op-challenger/metrics/metrics.go
  op-challenger/metrics/noop.go
  op-challenger/scripts/alphabet/charlie.sh
  op-challenger/scripts/alphabet/mallory.sh
  op-challenger/version/version.go
  op-proposer/proposer/l2_output_submitter.go
  op-service/metrics/cli.go
  op-service/pprof/cli.go
Labels: A-op-batcher, A-op-challenger, A-op-proposer, A-op-service

#6280 op-e2e: add test option to utilize external eth clients for L2
  .circleci/config.yml
  go.mod
  go.sum
  indexer/e2e_tests/bridge_messages_e2e_test.go
  indexer/e2e_tests/bridge_transactions_e2e_test.go
  indexer/e2e_tests/bridge_transfers_e2e_test.go
  indexer/e2e_tests/etl_e2e_test.go
  indexer/e2e_tests/setup.go
  op-e2e/.gitignore
  op-e2e/Makefile
  op-e2e/bridge_test.go
  op-e2e/config/init.go
  op-e2e/external.go
  op-e2e/external/config.go
  op-e2e/external_geth/.gitignore
  op-e2e/external_geth/Makefile
  op-e2e/external_geth/README.md
  op-e2e/external_geth/main.go
  op-e2e/external_geth/main_test.go
  op-e2e/external_geth/tools.go
  op-e2e/faultproof_test.go
  op-e2e/helper.go
  op-e2e/op_geth_test.go
  op-e2e/setup.go
  op-e2e/system_adminrpc_test.go
  op-e2e/system_fpp_test.go
  op-e2e/system_test.go
  op-e2e/system_tob_test.go
  op-e2e/withdrawal_helper.go
  packages/contracts-bedrock/scripts/differential-testing/differential-testing.go
Labels: M-ci, A-pkg-contracts-bedrock, A-indexer, A-op-e2e

#6915 chore(op-node, op-heartbeat): Update golang-lru from v1 to v2
  go.mod
  go.sum
  op-heartbeat/metrics.go
  op-node/p2p/gossip.go
  op-node/sources/caching/cache.go
  op-node/sources/eth_client.go
  op-node/sources/l1_client.go
  op-node/sources/l2_client.go
Labels: A-op-node, A-op-heartbeat

#6918 op-challenger: Use game specific data dir for cannon trace provider
  op-challenger/fault/cannon/executor.go
  op-challenger/fault/cannon/executor_test.go
  op-challenger/fault/cannon/provider.go
  op-challenger/fault/cannon/provider_test.go
  op-e2e/e2eutils/disputegame/helper.go
  op-e2e/faultproof_test.go
Labels: A-op-challenger, A-op-e2e, S-on-merge-train

#6909 feat(ctb): Preserve prod game type space
  op-challenger/config/config.go
  op-challenger/scripts/alphabet/init_game.sh
  op-e2e/e2eutils/disputegame/helper.go
  packages/contracts-bedrock/scripts/Deploy.s.sol
Labels: A-pkg-contracts-bedrock, A-op-challenger, A-op-e2e

#6919 op-e2e: Capture return value when tracing failed tx
  op-e2e/e2eutils/wait/waits.go
Labels: A-op-e2e, S-on-merge-train

#6925 simplify: remove unreachable code
  op-node/p2p/host.go
Labels: A-op-node, S-on-merge-train

#6858 feat(indexer): Run the migrations in the docker-compose file
  indexer/docker-compose.yml
Labels: A-indexer, S-on-merge-train

#6907 feat(docs): Setup Documentation
  docs/README.md
Labels: M-docs, S-on-merge-train

#6916 op-service: Add clock.SleepCtx method
  op-challenger/fault/monitor.go
  op-challenger/fault/monitor_test.go
  op-challenger/fault/service.go
  op-service/clock/clock.go
  op-service/clock/clock_test.go
  op-service/clock/common.go
  op-service/clock/deterministic.go
  op-service/clock/deterministic_test.go
Labels: A-op-challenger, A-op-service, S-on-merge-train
