Repository ethereum-optimism/optimism, pull requests merged in 2023-04, with the labels that each got.

#5226 op-node/p2p: Remove support for legacy gossip signing hashes
  op-node/p2p/gossip.go
  op-node/p2p/gossip_test.go
  op-node/p2p/signer.go
Labels: on-merge-train

#5306 txmgr: Simplify API
  op-batcher/batcher/driver.go
  op-e2e/migration_test.go
  op-e2e/setup.go
  op-proposer/proposer/l2_output_submitter.go
  op-service/txmgr/cli.go
  op-service/txmgr/txmgr.go
  op-service/txmgr/txmgr_test.go
Labels: on-merge-train

#5296 ctb: Update slither config
  .circleci/config.yml
  packages/contracts-bedrock/package.json
  packages/contracts-bedrock/scripts/slither.sh
  packages/contracts-bedrock/slither.config.json
  packages/contracts-bedrock/slither.db.json
Labels: on-merge-train

#5180 op-node: P2P req-resp alt sync method support
  go.mod
  op-e2e/actions/l2_verifier.go
  op-e2e/setup.go
  op-e2e/system_test.go
  op-node/eth/sync_status.go
  op-node/flags/p2p_flags.go
  op-node/metrics/metrics.go
  op-node/node/node.go
  op-node/node/server_test.go
  op-node/p2p/cli/load_config.go
  op-node/p2p/config.go
  op-node/p2p/host_test.go
  op-node/p2p/node.go
  op-node/p2p/prepared.go
  op-node/p2p/sync.go
  op-node/p2p/sync_test.go
  op-node/rollup/derive/engine_queue.go
  op-node/rollup/derive/pipeline.go
  op-node/rollup/driver/driver.go
  op-node/rollup/driver/state.go
  op-node/rollup/types.go
  op-node/sources/sync_client.go
  specs/rollup-node-p2p.md
Labels: on-merge-train

#5309 op-program: Add minimal L2 fetcher
  op-program/cmd/main.go
  op-program/cmd/main_test.go
  op-program/config/config.go
  op-program/config/config_test.go
  op-program/flags/flags.go
  op-program/l2/fetcher.go
  op-program/l2/fetcher_test.go
Labels: on-merge-train

#5294 feat(ctb): make Proxy inheritable
  .changeset/olive-students-love.md
  packages/contracts-bedrock/contracts/universal/Proxy.sol
Labels: on-merge-train

#5332 feat(ctp): create deployment script for OptimistInviter
  packages/contracts-periphery/config/deploy/ethereum.ts
  packages/contracts-periphery/config/deploy/goerli.ts
  packages/contracts-periphery/config/deploy/hardhat.ts
  packages/contracts-periphery/config/deploy/mainnet.ts
  packages/contracts-periphery/config/deploy/optimism-goerli.ts
  packages/contracts-periphery/config/deploy/optimism.ts
  packages/contracts-periphery/deploy/op-nft/AttestationStationProxy.ts
  packages/contracts-periphery/deploy/op-nft/OptimistInviterImpl.ts
  packages/contracts-periphery/deploy/op-nft/OptimistInviterProxy.ts
  packages/contracts-periphery/deploy/op-nft/OptimistProxy.ts
  packages/contracts-periphery/src/config/deploy.ts
Labels: on-merge-train

#5339 data-transport-layer: better logging around shutoff block
  .changeset/good-clocks-relax.md
  packages/data-transport-layer/src/services/l1-ingestion/service.ts
Labels: C-Protocol-Critical

#5305 feat(contracts-periphery): create OptimistAllowlist contract
  packages/contracts-periphery/contracts/foundry-tests/OptimistAllowlist.t.sol
  packages/contracts-periphery/contracts/universal/op-nft/OptimistAllowlist.sol
Labels: on-merge-train

#5344 discord: update discord invite links
  README.md
  docs/op-stack/README.md
  docs/op-stack/src/.vuepress/theme/components/Anchor.js
  docs/op-stack/src/docs/contribute.md
  packages/atst/README.md
Labels: on-merge-train

#5340 op-chain-ops: cleanup rollover scripts
  op-chain-ops/cmd/rollover/main.go
  op-chain-ops/util/util.go
Labels: on-merge-train

#5335 op-e2e: Separate engine API implementation from backend
  op-e2e/actions/l2_batcher_test.go
  op-e2e/actions/l2_engine.go
  op-e2e/actions/l2_engine_test.go
  op-e2e/actions/l2_sequencer_test.go
  op-program/l2/engineapi/l2_engine_api.go
  op-program/l2/engineapi/test/l2_engine_api_tests.go
Labels: on-merge-train

#5352 fix(ctb): Update hardhat.json to fix hh deploy
  packages/contracts-bedrock/contracts/deployment/SystemDictator.sol
  packages/contracts-bedrock/deploy-config/hardhat.json
  packages/contracts-bedrock/deploy/020-SystemDictatorSteps-1.ts
  packages/contracts-bedrock/src/deploy-utils.ts
Labels: on-merge-train

#5322 txmgr: Add more metrics
  op-service/metrics/event.go
  op-service/txmgr/metrics/noop.go
  op-service/txmgr/metrics/tx_metrics.go
  op-service/txmgr/txmgr.go
  op-service/txmgr/txmgr_test.go
Labels: on-merge-train

#5334 ci: Update op-e2e
  .circleci/config.yml
  op-e2e/actions/l2_batcher_test.go
  op-e2e/migration_test.go
  op-e2e/op_geth_test.go
  op-e2e/system_tob_test.go
Labels: on-merge-train

#5350 op-program: Extract block processing logic from engine api
  op-program/l2/engineapi/block_processor.go
  op-program/l2/engineapi/l2_engine_api.go
  op-program/l2/engineapi/test/l2_engine_api_tests.go
Labels: on-merge-train

#5349 op-program: Implement oracle backed database
  op-program/cmd/main.go
  op-program/l2/db.go
  op-program/l2/db_test.go
  op-program/l2/fetcher.go
  op-program/l2/fetcher_test.go
  op-program/l2/oracle.go
Labels: on-merge-train

#5361 op-program: Implement oracle backed engine API backend
  op-program/l2/engine_backend.go
  op-program/l2/engine_backend_test.go
  op-program/l2/engineapi/block_processor.go
  op-program/l2/engineapi/l2_engine_api.go
  op-program/l2/engineapi/test/l2_engine_api_tests.go
  op-program/l2/oracle.go
Labels: on-merge-train

#5364 op-program: Implement wrapper methods required by derive.Engine
  op-program/cmd/main.go
  op-program/cmd/main_test.go
  op-program/config/config.go
  op-program/config/config_test.go
  op-program/flags/flags.go
  op-program/l2/engine.go
  op-program/l2/engine_test.go
  op-program/l2/l2.go
Labels: on-merge-train

#5368 op-wheel: add --allow-gaps flag to engine block building commands
  op-wheel/commands.go
  op-wheel/engine/engine.go
Labels: on-merge-train

#5264 specs: DisputeGame interface + behavior
  specs/dispute-game-interface.md
  specs/dispute-game.md
Labels: on-merge-train

#5365 op-chain-ops: sanity check gas limit
  op-chain-ops/genesis/config.go
  op-chain-ops/genesis/genesis.go
  packages/contracts-bedrock/deploy-config/mainnet.json
  packages/contracts-bedrock/deploy-config/mainnet.ts
Labels: on-merge-train

#5367 op-chain-ops: migrate error handling
  op-chain-ops/cmd/op-migrate/main.go
  op-chain-ops/genesis/config.go
Labels: on-merge-train

#5372 feat(specs/bridges.md): Sherlock correction
  specs/bridges.md
Labels: on-merge-train

#5360 feat(specs): Challenge Agent specification
  specs/assets/challenger_attestation.png
  specs/assets/challenger_attestation_dispute_game_created.png
  specs/assets/challenger_attestation_output_proposed.png
  specs/challenger.md
Labels: on-merge-train

#5374 op-e2e: 1s L2 block time
  op-e2e/setup.go
Labels: on-merge-train

#5375 fix: specs lint
  specs/challenger.md
Labels: on-merge-train

#5376 op-node: Log when reading channels
  op-node/rollup/derive/channel_bank.go
Labels: on-merge-train

#5363 op-program: Integrate existing L1Client implementation to fetch L1 data
  op-program/cmd/main.go
  op-program/cmd/main_test.go
  op-program/config/config.go
  op-program/config/config_test.go
  op-program/flags/flags.go
  op-program/flags/flags_test.go
  op-program/l1/l1.go
Labels: on-merge-train

#5356 contracts-bedrock: fix L2OutputOracle comment
  op-bindings/bindings/optimismportal.go
  packages/contracts-bedrock/contracts/L1/OptimismPortal.sol
  packages/contracts-bedrock/scripts/upgrades/PostSherlock.s.sol
  packages/contracts-bedrock/slither.config.json
Labels: on-merge-train

#5381 op-program: Implement derivation driver
  op-program/cmd/main.go
  op-program/driver/driver.go
  op-program/driver/driver_test.go
Labels: on-merge-train

#5401 fix(specs): Rename l1Fee<x> to <x>
  specs/deposits.md
  specs/system_config.md
Labels: on-merge-train

#5370 fix(spects/guaranteed-gas-market): Sherlock correction
  specs/guaranteed-gas-market.md
Labels: on-merge-train

#5392 op-program: split into client and host packages
  op-e2e/actions/l2_engine.go
  op-e2e/actions/l2_engine_test.go
  op-program/client/driver/driver.go
  op-program/client/driver/driver_test.go
  op-program/client/l2/db.go
  op-program/client/l2/db_test.go
  op-program/client/l2/engine.go
  op-program/client/l2/engine_backend.go
  op-program/client/l2/engine_backend_test.go
  op-program/client/l2/engine_test.go
  op-program/client/l2/engineapi/block_processor.go
  op-program/client/l2/engineapi/l2_engine_api.go
  op-program/client/l2/engineapi/test/l2_engine_api_tests.go
  op-program/client/l2/oracle.go
  op-program/host/cmd/main.go
  op-program/host/cmd/main_test.go
  op-program/host/config/config.go
  op-program/host/config/config_test.go
  op-program/host/flags/flags.go
  op-program/host/flags/flags_test.go
  op-program/host/l1/l1.go
  op-program/host/l2/fetcher.go
  op-program/host/l2/fetcher_test.go
  op-program/host/l2/l2.go
  op-program/host/version/version.go
Labels: on-merge-train

#5382 maint(core): clean up test folder structure
  packages/core-utils/package.json
  packages/core-utils/test/common/hex-strings.spec.ts
  packages/core-utils/test/common/misc.spec.ts
  packages/core-utils/test/common/test-utils.spec.ts
  packages/core-utils/test/optimism/alias.spec.ts
  packages/core-utils/test/optimism/batch-encoding.spec.ts
  packages/core-utils/test/optimism/fees.spec.ts
Labels: on-merge-train

#5378 feat(ctp): Optimist goerli deployments
  packages/contracts-periphery/deployments/optimism-goerli/Optimist.json
  packages/contracts-periphery/deployments/optimism-goerli/OptimistAllowlist.json
  packages/contracts-periphery/deployments/optimism-goerli/OptimistAllowlistProxy.json
  packages/contracts-periphery/deployments/optimism-goerli/OptimistInviter.json
  packages/contracts-periphery/deployments/optimism-goerli/OptimistInviterProxy.json
  packages/contracts-periphery/deployments/optimism-goerli/solcInputs/d7155764d4bdb814f10e1bb45296292b.json
Labels: on-merge-train

#5379 feat(ctp): op mainnet Optimist deployments
  packages/contracts-periphery/deployments/optimism/Optimist.json
  packages/contracts-periphery/deployments/optimism/OptimistAllowlist.json
  packages/contracts-periphery/deployments/optimism/OptimistAllowlistProxy.json
  packages/contracts-periphery/deployments/optimism/OptimistInviter.json
  packages/contracts-periphery/deployments/optimism/OptimistInviterProxy.json
  packages/contracts-periphery/deployments/optimism/solcInputs/d7155764d4bdb814f10e1bb45296292b.json
Labels: on-merge-train

#5408 op-e2e: Increase TestMockP2P timeout
  op-e2e/system_test.go
Labels: on-merge-train

#5419 op-program: Modify L2 oracle to not return error
  op-program/client/l2/db.go
  op-program/client/l2/db_test.go
  op-program/client/l2/engine_backend.go
  op-program/client/l2/engine_backend_test.go
  op-program/client/l2/oracle.go
  op-program/host/l2/fetcher.go
  op-program/host/l2/fetcher_test.go
Labels: on-merge-train

#5414 CI: Increase go lint timeout to 5m
  .circleci/config.yml
Labels: on-merge-train

#5402 fix(specs/proposals): Sherlock fixes
  specs/proposals.md
Labels: on-merge-train

#5426 [op-node] Add support for non-batched RPC calls when batchSize == 1
  op-node/sources/batching.go
  op-node/sources/batching_test.go
  op-node/sources/receipts.go
Labels: on-merge-train

#5404 op-batcher: Add Channel Bytes Counters
  op-batcher/metrics/metrics.go
Labels: on-merge-train

#5422 op-program: Fix l2 engine API to avoid fetching L2 blocks after the agreed head
  op-e2e/actions/l2_engine_test.go
  op-program/client/l2/engine_backend.go
  op-program/client/l2/engine_backend_test.go
  op-program/client/l2/engineapi/l2_engine_api.go
  op-program/client/l2/engineapi/test/l2_engine_api_tests.go
  op-program/host/l2/fetcher.go
  op-program/host/l2/fetcher_test.go
  op-program/host/l2/l2.go
Labels: on-merge-train

#5427 op-e2e: Longer seq window for TestSystemMockP2P
  op-e2e/system_test.go
Labels: on-merge-train

#5429 op-e2e: fix TestLargeL1Gaps flake
  op-e2e/actions/blocktime_test.go
Labels: on-merge-train

#5428 ci: Reduce executor size
  .circleci/config.yml
Labels: on-merge-train

#5424 op-node: finalize while syncing
  op-e2e/actions/sync_test.go
  op-node/rollup/derive/engine_queue.go
Labels: on-merge-train

#5434 [op-node] Add support for non-batched RPC calls when batchSize == 1 (flaky test fixed)
  op-node/sources/batching.go
  op-node/sources/batching_test.go
  op-node/sources/receipts.go
Labels: on-merge-train

#5423 op-program: Implement caching for the oracle.
  op-program/client/l1/cache.go
  op-program/client/l1/cache_test.go
  op-program/client/l1/client_test.go
  op-program/client/l1/stub_oracle_test.go
  op-program/client/l2/cache.go
  op-program/client/l2/cache_test.go
  op-program/client/l2/db_test.go
  op-program/client/l2/engine_backend_test.go
  op-program/client/l2/stub_oracle_test.go
  op-program/host/l1/l1.go
  op-program/host/l2/l2.go
Labels: on-merge-train

#5433 op-program: Verify L2 output root
  op-node/node/api.go
  op-node/rollup/output_root.go
  op-program/client/driver/driver.go
  op-program/client/driver/driver_test.go
  op-program/client/l2/engine.go
  op-program/host/cmd/main.go
  op-program/host/cmd/main_test.go
  op-program/host/config/config.go
  op-program/host/config/config_test.go
  op-program/host/flags/flags.go
  op-program/host/l2/l2.go
Labels: on-merge-train

#5437 contracts-bedrock: update systemconfig resource config validation
  op-bindings/bindings/systemconfig.go
  op-bindings/bindings/systemconfig_more.go
  packages/contracts-bedrock/contracts/L1/SystemConfig.sol
  packages/contracts-bedrock/contracts/test/OptimismPortal.t.sol
  packages/contracts-bedrock/contracts/test/SystemConfig.t.sol
Labels: on-merge-train

#5441 op-chain-ops: withdrawal script witness file
  op-chain-ops/cmd/withdrawals/main.go
Labels: on-merge-train

#5421 op-node: Fix reset loop
  op-node/rollup/derive/engine_queue.go
  op-node/rollup/derive/engine_queue_test.go
  op-node/testutils/mock_eth_client.go
Labels: on-merge-train

#5406 op-node/doc: Document op-batcher & op-proposer metrics
  op-batcher/batcher/batch_submitter.go
  op-batcher/cmd/doc/cmd.go
  op-batcher/cmd/main.go
  op-batcher/flags/flags.go
  op-node/flags/flags.go
  op-proposer/cmd/doc/cmd.go
  op-proposer/cmd/main.go
  op-proposer/flags/flags.go
  op-proposer/metrics/metrics.go
  op-service/txmgr/metrics/tx_metrics.go
Labels: on-merge-train

#5445 contracts-bedrock: update systemconfig resource config validation
  op-bindings/bindings/systemconfig.go
  op-bindings/bindings/systemconfig_more.go
  packages/contracts-bedrock/contracts/L1/SystemConfig.sol
  packages/contracts-bedrock/contracts/test/OptimismPortal.t.sol
  packages/contracts-bedrock/contracts/test/SystemConfig.t.sol
Labels: on-merge-train

#5450 op-program: pre-image oracle communication
  op-program/preimage/hints.go
  op-program/preimage/hints_test.go
  op-program/preimage/oracle.go
  op-program/preimage/oracle_test.go
Labels: on-merge-train

#5451 op-program: Allow genesis block to have non-zero difficulty.
  op-program/client/l2/engine_backend_test.go
  op-program/client/l2/engineapi/l2_engine_api.go
Labels: on-merge-train

#5412 specs: initial fault proof program/VM specs
  specs/README.md
  specs/assets/fault-proof.svg
  specs/fault-proof.md
Labels: on-merge-train

#5400 op-node: L1BlockInfo MarshalBinary&UnmarshalBinary migrated to writer…
  op-node/rollup/derive/l1_block_info.go
Labels: on-merge-train

#5456 op-node: fix Gossip mesh parameter CLI overrides [sherlock issue fix]
  op-node/p2p/gossip.go
  op-node/p2p/prepared.go
Labels: on-merge-train

#5439 op-chain-ops: prevent invalid decoding errors
  op-chain-ops/crossdomain/witness.go
  op-chain-ops/crossdomain/witness_test.go
Labels: on-merge-train

#5477 op-program: Hint reader recovery
  op-program/preimage/hints.go
  op-program/preimage/hints_test.go
Labels: on-merge-train

#5480 ops: Fix the CI builder docker context
  .circleci/config.yml
Labels: on-merge-train

#5474 op-chain-ops: legacy withdrawal script refactoring
  op-chain-ops/cmd/withdrawals/main.go
  op-chain-ops/crossdomain/migrate.go
  op-chain-ops/crossdomain/migrate_test.go
  packages/sdk/src/utils/message-utils.ts
  packages/sdk/test/utils/message-utils.spec.ts
Labels: on-merge-train, sdk

#5482 ci: Remove ci-builder from changesets
  .circleci/config.yml
  .github/workflows/release.yml
  ops/docker/ci-builder/package.json
  package.json
Labels: on-merge-train

#5481 op-program: Fix op-program Makefile
  op-program/Makefile
Labels: on-merge-train

#5485 fix(docs/op-stack): Fix the npx deploy
  docs/op-stack/src/docs/build/getting-started.md
Labels: on-merge-train

#5444 feat(ctb): Fail relayed XDM messages on reentry
  op-bindings/bindings/l1crossdomainmessenger.go
  op-bindings/bindings/l1crossdomainmessenger_more.go
  op-bindings/bindings/l2crossdomainmessenger.go
  op-bindings/bindings/l2crossdomainmessenger_more.go
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/.storage-layout
  packages/contracts-bedrock/contracts/test/CrossDomainMessenger.t.sol
  packages/contracts-bedrock/contracts/test/L1CrossDomainMessenger.t.sol
  packages/contracts-bedrock/contracts/test/L2CrossDomainMessenger.t.sol
  packages/contracts-bedrock/contracts/test/OptimismPortal.t.sol
  packages/contracts-bedrock/contracts/universal/CrossDomainMessenger.sol
Labels: on-merge-train

#5447 op-program: Add e2e test for FPP
  op-e2e/setup.go
  op-e2e/system_fpp_test.go
  op-program/host/cmd/main.go
  op-program/host/host.go
Labels: on-merge-train

#5490 fix(contracts-bedrock): SafeCall FFI Interface Fuzzing
  packages/contracts-bedrock/contracts/test/SafeCall.t.sol
Labels: on-merge-train

#5476 fix(cmon): Use the correct 'layer' label
  .changeset/old-poets-camp.md
  packages/chain-mon/src/wd-mon/service.ts
Labels: on-merge-train

#5493 contracts-bedrock: fix compiler warning
  packages/contracts-bedrock/contracts/test/CrossDomainMessenger.t.sol
Labels: on-merge-train

#5459 sdk: fix withdrawal bug
  .circleci/config.yml
  packages/sdk/package.json
  packages/sdk/src/cross-chain-messenger.ts
  packages/sdk/src/utils/message-utils.ts
  packages/sdk/test-next/README.md
  packages/sdk/test-next/proveMessage.spec.ts
  packages/sdk/test/utils/message-utils.spec.ts
Labels: on-merge-train, sdk

#5460 op-node: Reader/Writer API for marshaling code
  op-node/rollup/derive/l1_block_info.go
  op-node/rollup/derive/system_config.go
  op-service/solabi/util.go
  op-service/solabi/utils_test.go
Labels: on-merge-train

#5488 op-e2e: Extract system test helpers
  op-e2e/bridge_test.go
  op-e2e/helper.go
  op-e2e/migration_test.go
  op-e2e/op_geth_test.go
  op-e2e/system_fpp_test.go
  op-e2e/system_test.go
  op-e2e/system_tob_test.go
  op-e2e/tx_helper.go
  op-e2e/withdrawal_helper.go
Labels: on-merge-train

#5494 docs: remove outdated reset comment
  op-node/rollup/derive/l1_traversal.go
Labels: on-merge-train

#5498 op-e2e: Disable TestSystemMockP2P
  op-e2e/system_test.go
Labels: on-merge-train

#5502 FE-1002: supportsTokenPair should return false whenever the check catches an error
  packages/sdk/src/adapters/standard-bridge.ts
Labels: sdk

#5504 add changeset for standard bridge sdk change
  .changeset/nine-pugs-fix.md
Labels: on-merge-train

#5391 feat(docs/op-stack): Add op-proposer
  docs/op-stack/src/docs/build/explorer.md
  docs/op-stack/src/docs/build/getting-started.md
Labels: on-merge-train

#5503 op-e2e: Add actual transactions to the FPP system test
  op-e2e/system_fpp_test.go
Labels: on-merge-train

#5506 op-program: Handle pre-images that already exist
  op-program/host/prefetcher/prefetcher.go
  op-program/host/prefetcher/prefetcher_test.go
  op-program/preimage/iface.go
Labels: on-merge-train

#5509 fix(packages/atst): Typo in README.md
  packages/atst/src/README.md
Labels: on-merge-train

#5489 test(ci): Add circleci for atst
  .circleci/config.yml
Labels: on-merge-train

#5492 op-program: host-client interaction via I/O pipes
  op-e2e/system_fpp_test.go
  op-program/client/program.go
  op-program/host/host.go
  op-program/preimage/hints.go
  op-program/preimage/hints_test.go
Labels: on-merge-train

#5495 feat(ctp): Update OptimistAllowlistImpl deployment on op-goerli
  packages/contracts-periphery/config/deploy/optimism-goerli.ts
  packages/contracts-periphery/deployments/optimism-goerli/OptimistAllowlist.json
Labels: on-merge-train

#5513 op-program: Add docker build for op-program
  .circleci/config.yml
  op-program/Dockerfile
Labels: on-merge-train

#5512 op-program: Cache blocks by number
  op-program/client/l1/client.go
  op-program/client/l1/client_test.go
  op-program/client/l2/engine_backend.go
  op-program/client/l2/engine_backend_test.go
Labels: on-merge-train

#5511 feat(packages/atst): Add a symbolic link to the ATST contract
  packages/atst/src/README.md
  packages/atst/src/contracts/AttestationStation.sol
Labels: on-merge-train

#5516 fix(ci): Disable flaky atst test
  .circleci/config.yml
  packages/atst/src/lib/getEvents.spec.ts
Labels: on-merge-train

#5500 proxyd: add consensus poller
  proxyd/backend.go
  proxyd/cmd/proxyd/main.go
  proxyd/config.go
  proxyd/consensus_poller.go
  proxyd/consensus_tracker.go
  proxyd/example.config.toml
  proxyd/go.mod
  proxyd/integration_tests/batch_timeout_test.go
  proxyd/integration_tests/batching_test.go
  proxyd/integration_tests/caching_test.go
  proxyd/integration_tests/consensus_test.go
  proxyd/integration_tests/failover_test.go
  proxyd/integration_tests/max_rpc_conns_test.go
  proxyd/integration_tests/rate_limit_test.go
  proxyd/integration_tests/sender_rate_limit_test.go
  proxyd/integration_tests/testdata/consensus.toml
  proxyd/integration_tests/testdata/consensus_responses.yml
  proxyd/integration_tests/validation_test.go
  proxyd/integration_tests/ws_test.go
  proxyd/metrics.go
  proxyd/proxyd.go
  proxyd/server.go
  proxyd/tools/mockserver/handler/handler.go
  proxyd/tools/mockserver/main.go
  proxyd/tools/mockserver/node1.yml
  proxyd/tools/mockserver/node2.yml
Labels: on-merge-train

#5519 fix tests
  packages/contracts-dispute/src/BondManager.sol
  packages/contracts-dispute/test/BondManager.t.sol
Labels: conflict

#5323 specs: Bond Manager Interface 🎩
  specs/bond-manager.md
Labels: on-merge-train

#5524 op-program: Add separate keystore for local keys
  op-program/host/host.go
  op-program/host/kvstore/local.go
  op-program/host/kvstore/local_test.go
  op-program/host/kvstore/splitter.go
  op-program/host/kvstore/splitter_test.go
  op-program/preimage/iface.go
Labels: on-merge-train

#5501 fix: withdrawal gas limit
  .changeset/rare-moose-itch.md
  op-chain-ops/cmd/check-migration/main.go
  op-chain-ops/cmd/op-migrate/main.go
  op-chain-ops/cmd/withdrawals/main.go
  op-chain-ops/crossdomain/migrate.go
  op-chain-ops/crossdomain/migrate_test.go
  op-chain-ops/genesis/check.go
  op-chain-ops/genesis/db_migration.go
  packages/sdk/src/cross-chain-messenger.ts
  packages/sdk/src/utils/message-utils.ts
  packages/sdk/test/utils/message-utils.spec.ts
Labels: sdk

#5470 feat(ctb): Account for worst-case `CALL` gas in `SafeCall`
  op-bindings/bindings/l1crossdomainmessenger.go
  op-bindings/bindings/l1crossdomainmessenger_more.go
  op-bindings/bindings/l2crossdomainmessenger.go
  op-bindings/bindings/l2crossdomainmessenger_more.go
  op-bindings/bindings/optimismportal.go
  op-bindings/bindings/optimismportal_more.go
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/L1/OptimismPortal.sol
  packages/contracts-bedrock/contracts/libraries/SafeCall.sol
  packages/contracts-bedrock/contracts/test/SafeCall.t.sol
  packages/contracts-bedrock/contracts/test/invariants/SafeCall.t.sol
  packages/contracts-bedrock/invariant-docs/SafeCall.md
Labels: on-merge-train

#5497 op-program: Support running program as a separate process
  op-e2e/system_fpp_test.go
  op-program/client/boot.go
  op-program/client/boot_test.go
  op-program/client/env.go
  op-program/client/program.go
  op-program/host/cmd/main_test.go
  op-program/host/config/config.go
  op-program/host/flags/flags.go
  op-program/host/host.go
  op-program/io/filechan.go
Labels: on-merge-train

#5531 proxyd: sliding window
  proxyd/go.mod
  proxyd/go.sum
  proxyd/pkg/avg-sliding-window/sliding.go
  proxyd/pkg/avg-sliding-window/sliding_test.go
Labels: on-merge-train

#5532 op-program: Bootstrap program via local oracle
  op-program/client/boot.go
  op-program/client/boot_test.go
  op-program/client/env.go
  op-program/client/program.go
  op-program/host/host.go
  op-program/host/kvstore/local.go
  op-program/host/kvstore/local_test.go
Labels: on-merge-train

#5527 contracts-bedrock: add size limit on deposit transaction size
  op-bindings/bindings/optimismportal.go
  op-bindings/bindings/optimismportal_more.go
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/L1/OptimismPortal.sol
  packages/contracts-bedrock/contracts/test/OptimismPortal.t.sol
Labels: do-not-merge, mergify-ignore

#5529 contracts-bedrock: update portal min gas limit
  op-bindings/bindings/optimismportal.go
  op-bindings/bindings/optimismportal_more.go
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/L1/OptimismPortal.sol
  packages/contracts-bedrock/contracts/test/CrossDomainMessenger.t.sol
  packages/contracts-bedrock/contracts/test/CrossDomainOwnable.t.sol
  packages/contracts-bedrock/contracts/test/OptimismPortal.t.sol
Labels: on-merge-train

#5537 devnet: Delete unused flags
  ops-bedrock/docker-compose.yml
Labels: on-merge-train

#5551 contracts-bedrock: deploy L2 contracts
  packages/contracts-bedrock/deployments/optimism-goerli/BaseFeeVault.json
  packages/contracts-bedrock/deployments/optimism-goerli/GasPriceOracle.json
  packages/contracts-bedrock/deployments/optimism-goerli/L1Block.json
  packages/contracts-bedrock/deployments/optimism-goerli/L1FeeVault.json
  packages/contracts-bedrock/deployments/optimism-goerli/L2CrossDomainMessenger.json
  packages/contracts-bedrock/deployments/optimism-goerli/L2ERC721Bridge.json
  packages/contracts-bedrock/deployments/optimism-goerli/L2StandardBridge.json
  packages/contracts-bedrock/deployments/optimism-goerli/L2ToL1MessagePasser.json
  packages/contracts-bedrock/deployments/optimism-goerli/OptimismMintableERC20Factory.json
  packages/contracts-bedrock/deployments/optimism-goerli/OptimismMintableERC721Factory.json
  packages/contracts-bedrock/deployments/optimism-goerli/SequencerFeeVault.json
  packages/contracts-bedrock/deployments/optimism-goerli/solcInputs/122f564fe2b0653be019a081e37a8225.json
  packages/contracts-bedrock/deployments/optimism-goerli/solcInputs/2d538e296d12ca6101a896ac2e894043.json
  packages/contracts-bedrock/deployments/optimism-goerli/solcInputs/d3e2ac71ccbe65f9ada376945e1c05bf.json
Labels: on-merge-train

#5550 contracts bedrock: deploy L1 contracts
  packages/contracts-bedrock/deployments/goerli/L1CrossDomainMessenger.json
  packages/contracts-bedrock/deployments/goerli/L1ERC721Bridge.json
  packages/contracts-bedrock/deployments/goerli/L1StandardBridge.json
  packages/contracts-bedrock/deployments/goerli/L2OutputOracle.json
  packages/contracts-bedrock/deployments/goerli/OptimismMintableERC20Factory.json
  packages/contracts-bedrock/deployments/goerli/OptimismPortal.json
  packages/contracts-bedrock/deployments/goerli/SystemConfig.json
  packages/contracts-bedrock/deployments/goerli/solcInputs/86f4d300b3e19ace2c129703d85e47d6.json
Labels: on-merge-train

#5552 contracts-bedrock: upgrade scripts
  packages/contracts-bedrock/scripts/upgrades/Enum.sol
  packages/contracts-bedrock/scripts/upgrades/IGnosisSafe.sol
  packages/contracts-bedrock/scripts/upgrades/PostSherlock.s.sol
  packages/contracts-bedrock/scripts/upgrades/PostSherlockL2.s.sol
  packages/contracts-bedrock/scripts/upgrades/SafeBuilder.sol
Labels: on-merge-train

#5544 op-program: Log when extending block number lookup
  op-program/client/l1/client.go
Labels: on-merge-train

#5536 op-batcher: Properly drain state on L2 reorgs
  op-batcher/batcher/driver.go
Labels: on-merge-train

#5547 op-program: Specify client program to run as an executable
  op-e2e/build_helper.go
  op-e2e/system_fpp_test.go
  op-program/host/cmd/main.go
  op-program/host/cmd/main_test.go
  op-program/host/config/config.go
  op-program/host/flags/flags.go
  op-program/host/host.go
Labels: on-merge-train
