Repository ethereum-optimism/optimism, pull requests merged in 2023-09, with the labels that each got.

#7081 op-challenger: Add a script to resolve games
  op-challenger/README.md
  op-challenger/scripts/list_games.sh
  op-challenger/scripts/resolve.sh
Labels: A-op-challenger, S-on-merge-train

#7082 op-challenger: Don't try to perform moves on resolvable games.
  op-challenger/game/fault/agent.go
  op-challenger/game/fault/agent_test.go
Labels: A-op-challenger, S-on-merge-train

#7084 op-challenger: Add instructions for running against the devnet.
  op-challenger/README.md
Labels: A-op-challenger

#7064 feat(indexer): index service /healthz endpoint
  indexer/cmd/indexer/cli.go
  indexer/config/config.go
  indexer/config/config_test.go
  indexer/e2e_tests/setup.go
  indexer/indexer.go
  indexer/indexer.toml
Labels: A-indexer, S-on-merge-train

#7087 :bug: fix: remove git dep from docker build
  indexer/Dockerfile
Labels: A-indexer, S-on-merge-train

#7095 docs: minor doc fixes
  README.md
  specs/challenger.md
Labels: M-docs

#7096 op-challenger: Fix error in make alphabet
  op-challenger/scripts/alphabet/init_game.sh
Labels: A-op-challenger

#6853 Op service : http util cleanup
  op-node/cmd/stateviz/main.go
  op-node/metrics/metrics.go
  op-node/node/server.go
  op-service/httputil/http.go
  op-service/httputil/server.go
Labels: A-op-node, A-op-service, S-on-merge-train

#7098 op-node: Default to no netrestrict instead of allow none
  op-node/flags/p2p_flags.go
  op-node/p2p/cli/load_config.go
Labels: A-op-node

#7108 op-e2e: Add test for L2 transaction gossip
  op-e2e/e2eutils/geth/peers.go
  op-e2e/l2_gossip_test.go
  op-e2e/setup.go
  op-e2e/tx_helper.go
Labels: A-op-e2e

#7107 op-e2e: Add test that deploys a contract using a deposit tx
  op-e2e/deposit_test.go
  op-e2e/setup.go
  op-e2e/system_test.go
  op-e2e/tx_helper.go
Labels: A-op-e2e, S-on-merge-train

#7085 ci: Add additional CI tasks that weren't previously required as bedrock-go-tests dependencies
  .circleci/config.yml
Labels: M-ci, S-on-merge-train

#6363 specs: span-batch spec fixes
  specs/span-batches.md
Labels: M-docs, S-on-merge-train

#7105 Dockerfiles: Run go mod download with just the go.mod and go.sum files
  endpoint-monitor/Dockerfile
  indexer/Dockerfile
  op-batcher/Dockerfile
  op-challenger/Dockerfile
  op-node/Dockerfile
  op-program/Dockerfile
  op-proposer/Dockerfile
Labels: A-op-batcher, A-op-program, A-indexer, A-op-challenger, A-op-proposer, A-op-node, S-on-merge-train

#7080 feat(op-challenger): Game GaugeVec
  op-challenger/game/fault/agent.go
  op-challenger/game/fault/agent_test.go
  op-challenger/game/fault/loader.go
  op-challenger/game/fault/loader_test.go
  op-challenger/game/fault/player.go
  op-challenger/game/fault/player_test.go
  op-challenger/game/fault/responder/responder.go
  op-challenger/game/fault/responder/responder_test.go
  op-challenger/game/fault/types/types.go
  op-challenger/game/fault/types/types_test.go
  op-challenger/game/monitor.go
  op-challenger/game/monitor_test.go
  op-challenger/game/scheduler/coordinator.go
  op-challenger/game/scheduler/coordinator_test.go
  op-challenger/game/scheduler/scheduler.go
  op-challenger/game/scheduler/scheduler_test.go
  op-challenger/game/scheduler/types.go
  op-challenger/game/scheduler/worker.go
  op-challenger/game/scheduler/worker_test.go
  op-challenger/game/service.go
  op-challenger/game/types/types.go
  op-challenger/game/types/types_test.go
  op-challenger/metrics/metrics.go
  op-challenger/metrics/noop.go
Labels: A-op-challenger

#7086 feat(op-challenger): Inflight game metrics
  op-challenger/game/scheduler/coordinator.go
  op-challenger/game/scheduler/scheduler.go
  op-challenger/metrics/metrics.go
  op-challenger/metrics/noop.go
Labels: A-op-challenger, S-on-merge-train

#7038 feat(indexer): Add metrics to indexer/api
  indexer/api/api.go
  indexer/api/api_test.go
  indexer/cmd/indexer/cli.go
Labels: A-indexer

#7040 feat(indexer): add recoverer middleware
  indexer/api/api.go
Labels: A-indexer, S-on-merge-train

#7089 :recycle: chore: Make port configurable
  indexer/indexer.toml
Labels: A-indexer

#7090 :wrench: chore: update schema.prisma
  indexer/ui/schema.prisma
Labels: A-indexer, S-on-merge-train

#7112 fix(indexer): bridge processor detecting the right starting height
  indexer/database/blocks.go
  indexer/database/bridge_transactions.go
  indexer/etl/l1_etl.go
  indexer/processors/bridge.go
  indexer/processors/bridge/l1_bridge_processor.go
  indexer/processors/bridge/l2_bridge_processor.go
Labels: A-indexer

#7114 Create an e2e test showing cannon proving an output root is invalid
  op-e2e/e2eutils/disputegame/helper.go
  op-e2e/e2eutils/l2oo/helper.go
  op-e2e/e2eutils/wait/waits.go
  op-e2e/faultproof_test.go
Labels: A-op-e2e, S-on-merge-train

#7099 Add initial documentation for fault proof alpha
  docs/README.md
  docs/fault-proof-alpha/README.md
  docs/fault-proof-alpha/cannon.md
  docs/fault-proof-alpha/deployments.md
  docs/fault-proof-alpha/manual.md
  docs/fault-proof-alpha/run-challenger.md
Labels: M-docs, S-on-merge-train

#7118 fix(indexer): bridge l2 starting height & l1/l2 logs
  indexer/database/bridge_transactions.go
  indexer/processors/bridge/l1_bridge_processor.go
  indexer/processors/bridge/l2_bridge_processor.go
Labels: A-indexer

#7117 fix(docs): Challenger Doc Fixes
  docs/fault-proof-alpha/manual.md
Labels: M-docs, S-on-merge-train

#6913 cannon,op-challenger,dispute-game: VM Status prefix byte in claim hash
  cannon/cmd/run.go
  cannon/cmd/witness.go
  cannon/mipsevm/evm_test.go
  cannon/mipsevm/state.go
  cannon/mipsevm/state_test.go
  op-bindings/bindings/alphabetvm.go
  op-bindings/bindings/alphabetvm_more.go
  op-bindings/bindings/faultdisputegame.go
  op-bindings/bindings/faultdisputegame_more.go
  op-bindings/bindings/mips.go
  op-bindings/bindings/mips_more.go
  op-challenger/game/fault/loader.go
  op-challenger/game/fault/player.go
  op-challenger/game/fault/player_test.go
  op-challenger/game/fault/solver/solver.go
  op-challenger/game/fault/trace/alphabet/provider.go
  op-challenger/game/fault/trace/alphabet/provider_test.go
  op-challenger/game/fault/trace/cannon/provider.go
  op-challenger/game/fault/trace/cannon/provider_test.go
  op-challenger/game/fault/types/types.go
  op-e2e/faultproof_test.go
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/deploy-config/devnetL1.json
  packages/contracts-bedrock/semver-lock.json
  packages/contracts-bedrock/src/cannon/MIPS.sol
  packages/contracts-bedrock/src/dispute/FaultDisputeGame.sol
  packages/contracts-bedrock/src/libraries/DisputeErrors.sol
  packages/contracts-bedrock/src/libraries/DisputeTypes.sol
  packages/contracts-bedrock/test/DisputeGameFactory.t.sol
  packages/contracts-bedrock/test/FaultDisputeGame.t.sol
  packages/contracts-bedrock/test/MIPS.t.sol
  specs/cannon-fault-proof-vm.md
Labels: A-cannon, A-op-bindings, A-pkg-contracts-bedrock, A-op-challenger, M-docs, S-on-merge-train

#7134 op-e2e: Un-skip TestCannonChallengeWithCorrectRoot
  op-e2e/e2eutils/disputegame/game_helper.go
  op-e2e/e2eutils/disputegame/helper.go
  op-e2e/faultproof_test.go
Labels: A-op-e2e, S-on-merge-train

#7133 op-e2e: Add call to step that verifies it is reject when matching the original claim
  op-e2e/e2eutils/disputegame/game_helper.go
  op-e2e/e2eutils/disputegame/honest_helper.go
  op-e2e/faultproof_test.go
Labels: A-op-e2e, S-on-merge-train

#7137 fix(op-bindings): Add `forge clean` to make's `compile` directive
  op-bindings/Makefile
Labels: A-op-bindings, S-on-merge-train

#7138 chore: Clean up `foundry.toml`
  packages/contracts-bedrock/foundry.toml
Labels: A-pkg-contracts-bedrock, S-on-merge-train

#7088 :bug: fix: Copy indexer.toml in dockerfile
  indexer/Dockerfile
  indexer/docker-compose.yml
Labels: A-indexer

#7094 EAS v1.2.0: gas optimizations, minor improvements and fixes, and some typo and NATSPEC fixes
  op-bindings/bindings/eas.go
  op-bindings/bindings/eas_more.go
  op-bindings/bindings/schemaregistry.go
  op-bindings/bindings/schemaregistry_more.go
  packages/contracts-bedrock/semver-lock.json
  packages/contracts-bedrock/src/EAS/Common.sol
  packages/contracts-bedrock/src/EAS/EAS.sol
  packages/contracts-bedrock/src/EAS/IEAS.sol
  packages/contracts-bedrock/src/EAS/ISchemaRegistry.sol
  packages/contracts-bedrock/src/EAS/SchemaRegistry.sol
  packages/contracts-bedrock/src/EAS/eip1271/EIP1271Verifier.sol
  packages/contracts-bedrock/src/EAS/resolver/ISchemaResolver.sol
  packages/contracts-bedrock/src/EAS/resolver/SchemaResolver.sol
Labels: A-op-bindings, A-pkg-contracts-bedrock

#7139 :bug: fix: update prisma schema
  indexer/ui/schema.prisma
Labels: A-indexer, S-on-merge-train

#7135 op-e2e: Remove duplicate logic for playing through a game
  op-e2e/e2eutils/disputegame/game_helper.go
  op-e2e/faultproof_test.go
Labels: A-op-e2e, S-on-merge-train

#7140 Fix dangling modified file on make devnet-up
  bedrock-devnet/devnet/__init__.py
  packages/contracts-bedrock/.gitignore
  packages/contracts-bedrock/deploy-config/devnetL1-template.json
Labels: A-pkg-contracts-bedrock, S-on-merge-train

#7132 feat(ufm): add cooldown, always use network gas and nonce, better error metrics
  op-ufm/Dockerfile
  op-ufm/example.config.toml
  op-ufm/pkg/config/config.go
  op-ufm/pkg/metrics/clients/eth.go
  op-ufm/pkg/metrics/clients/signer.go
  op-ufm/pkg/provider/roundtrip.go
  op-ufm/pkg/provider/tx_pool.go
Labels: S-on-merge-train

#7145 op-e2e: Remove redundant fault proof tests
  op-e2e/faultproof_test.go
Labels: A-op-e2e, S-on-merge-train

#7144 fpa: Add docs that point to the e2e test for invalid proposals
  docs/fault-proof-alpha/README.md
  docs/fault-proof-alpha/invalid-proposals.md
  op-e2e/faultproof_test.go
Labels: A-op-e2e, M-docs, S-on-merge-train

#7122 specs: Update Dispute Game Specifications
  specs/assets/attack.png
  specs/assets/defend.png
  specs/assets/valid-moves.png
  specs/dispute-game-interface.md
  specs/fault-dispute-game.md
Labels: M-docs, S-on-merge-train

#7148 Init standard UFM Test Service architecture
  ufm-test-services/crontab-example
  ufm-test-services/datesources.yml
  ufm-test-services/docker-compose.yml
  ufm-test-services/prometheus.yml
Labels: S-on-merge-train

#7149 Init MetaMask Test Service
  pnpm-lock.yaml
  pnpm-workspace.yaml
  ufm-test-services/metamask/Dockerfile
  ufm-test-services/metamask/LICENSE
  ufm-test-services/metamask/package.json
  ufm-test-services/metamask/start.sh
  ufm-test-services/metamask/tsconfig.json
Labels: S-on-merge-train

#7120 feat(style): Document style for testing solidity getters
  packages/contracts-bedrock/STYLE_GUIDE.md
Labels: A-pkg-contracts-bedrock, S-on-merge-train

#7141 :sparkles: feat(indexer): Add preset starting block heights
  indexer/config/config.go
  indexer/config/config_test.go
  indexer/config/presets.go
Labels: A-indexer, S-on-merge-train

#7151 Init Metmask send tx test
  ufm-test-services/metamask/.env.example
  ufm-test-services/metamask/.gitignore
  ufm-test-services/metamask/package.json
  ufm-test-services/metamask/pnpm-lock.yaml
  ufm-test-services/metamask/tests/metamask.spec.ts
  ufm-test-services/metamask/tests/testWithSynpressUtil.ts
Labels: S-on-merge-train

#7152 Metamask send tx test Docker support
  ufm-test-services/.env.example
  ufm-test-services/docker-compose.yml
  ufm-test-services/metamask/Dockerfile
  ufm-test-services/metamask/package.json
  ufm-test-services/metamask/playwright.config.ts
  ufm-test-services/metamask/start.sh
  ufm-test-services/metamask/tests/metamask.spec.ts
Labels: S-on-merge-train

#7160 :wrench: feat: Make indexer preset configurable in default indexer.toml
  indexer/indexer.toml
Labels: A-indexer

#7162 deps: update hardhat
  packages/chain-mon/package.json
  packages/sdk/hardhat.config.ts
  packages/sdk/package.json
  pnpm-lock.yaml
Labels: A-pkg-sdk, A-pkg-chain-mon, S-on-merge-train

#7156 fix(indexer): batch database inserts and add indexes
  indexer/bigint/bigint.go
  indexer/bigint/bigint_test.go
  indexer/database/blocks.go
  indexer/database/bridge_messages.go
  indexer/database/bridge_transactions.go
  indexer/database/bridge_transfers.go
  indexer/database/contract_events.go
  indexer/database/db.go
  indexer/database/mocks.go
  indexer/etl/l1_etl_test.go
  indexer/migrations/20230523_create_schema.sql
  indexer/node/bigint.go
  indexer/node/bigint_test.go
  indexer/node/header_traversal.go
  indexer/node/header_traversal_test.go
  indexer/node/mocks.go
  indexer/processors/bridge.go
Labels: A-indexer, S-on-merge-train

#7161 fix(indexer): run bridge processor on startup & split large unobserved epochs
  indexer/processors/bridge.go
Labels: A-indexer, S-on-merge-train

#7159 fix(indexer): bridge processor fixes
  indexer/database/blocks.go
  indexer/database/bridge_transactions.go
  indexer/processors/bridge/l1_bridge_processor.go
  indexer/processors/bridge/l2_bridge_processor.go
Labels: A-indexer, S-on-merge-train

#7166 monorepo: run nx repair
  nx.json
Labels: S-on-merge-train

#7174 op-challenger: Make Position actually immutable
  op-challenger/game/fault/types/position.go
Labels: A-op-challenger

#7173 op-challenger: Fix make alphabet
  op-challenger/scripts/alphabet/init_game.sh
Labels: A-op-challenger, S-on-merge-train

#7175 Move entire game playing strategy into solver module
  op-challenger/game/fault/agent.go
  op-challenger/game/fault/agent_test.go
  op-challenger/game/fault/responder/abi_test.go
  op-challenger/game/fault/responder/responder.go
  op-challenger/game/fault/responder/responder_test.go
  op-challenger/game/fault/solver/game_solver.go
  op-challenger/game/fault/solver/game_solver_test.go
  op-challenger/game/fault/solver/solver.go
  op-challenger/game/fault/solver/solver_test.go
  op-challenger/game/fault/test/claim_builder.go
  op-challenger/game/fault/test/game_builder.go
Labels: A-op-challenger, S-on-merge-train

#7172 specs: Remove attestation game specs
  docs/fault-proof-alpha/README.md
  op-challenger/README.md
  specs/README.md
  specs/bond-manager.md
  specs/challenger.md
  specs/dispute-game.md
  specs/fault-proof.md
Labels: A-op-challenger, M-docs, S-on-merge-train

#7176 deps: remove dead js deps
  package.json
  pnpm-lock.yaml
Labels: S-on-merge-train

#7178 deps: use node lts
  .changeset/cuddly-poets-invite.md
  .nvmrc
  ops/docker/Dockerfile.packages
Labels: A-ops, S-on-merge-train

#7164 contracts-bedrock: use create2 to deploy implementations
  bedrock-devnet/devnet/__init__.py
  op-chain-ops/genesis/helpers.go
  packages/contracts-bedrock/scripts/Deploy.s.sol
  packages/contracts-bedrock/scripts/Deployer.sol
Labels: A-pkg-contracts-bedrock, A-op-chain-ops, S-on-merge-train

#7119 feat(indexer): bridge process pre-bedrock blocks
  indexer/bigint/bigint.go
  indexer/config/config.go
  indexer/config/config_test.go
  indexer/config/presets.go
  indexer/e2e_tests/utils/cross_domain_messages.go
  indexer/etl/etl.go
  indexer/etl/l1_etl.go
  indexer/etl/l2_etl.go
  indexer/indexer.toml
  indexer/migrations/20230523_create_schema.sql
  indexer/node/client.go
  indexer/node/mocks.go
  indexer/processors/bridge.go
  indexer/processors/bridge/l1_bridge_processor.go
  indexer/processors/bridge/l2_bridge_processor.go
  indexer/processors/bridge/legacy_bridge_processor.go
  indexer/processors/contracts/cross_domain_messenger.go
  indexer/processors/contracts/legacy_ctc.go
  indexer/processors/contracts/legacy_standard_bridge.go
Labels: A-indexer

#7165 contracts-bedrock: migrate to ISemver
  op-bindings/bindings/l1crossdomainmessenger.go
  op-bindings/bindings/l1crossdomainmessenger_more.go
  op-bindings/bindings/l1erc721bridge.go
  op-bindings/bindings/l1erc721bridge_more.go
  op-bindings/bindings/l1standardbridge.go
  op-bindings/bindings/l1standardbridge_more.go
  op-bindings/bindings/l2outputoracle.go
  op-bindings/bindings/l2outputoracle_more.go
  op-bindings/bindings/mips_more.go
  op-bindings/bindings/optimismportal.go
  op-bindings/bindings/optimismportal_more.go
  op-bindings/bindings/preimageoracle_more.go
  op-bindings/bindings/systemconfig.go
  op-bindings/bindings/systemconfig_more.go
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/semver-lock.json
  packages/contracts-bedrock/src/L1/L1CrossDomainMessenger.sol
  packages/contracts-bedrock/src/L1/L1ERC721Bridge.sol
  packages/contracts-bedrock/src/L1/L1StandardBridge.sol
  packages/contracts-bedrock/src/L1/L2OutputOracle.sol
  packages/contracts-bedrock/src/L1/OptimismPortal.sol
  packages/contracts-bedrock/src/L1/SystemConfig.sol
  packages/contracts-bedrock/src/universal/ISemver.sol
Labels: A-op-bindings, A-pkg-contracts-bedrock

#7197 specs: Remove l2oo v2 proposal
  specs/proposals.md
Labels: M-docs

#7198 op-challenger: Include pre-built cannon in the op-challenger docker file
  op-challenger/Dockerfile
Labels: A-op-challenger

#7202 contracts-bedrock: migrate L2 contracts to `ISemver`
  op-bindings/bindings/basefeevault.go
  op-bindings/bindings/basefeevault_more.go
  op-bindings/bindings/gaspriceoracle.go
  op-bindings/bindings/gaspriceoracle_more.go
  op-bindings/bindings/l1block.go
  op-bindings/bindings/l1block_more.go
  op-bindings/bindings/l1feevault.go
  op-bindings/bindings/l1feevault_more.go
  op-bindings/bindings/l2crossdomainmessenger.go
  op-bindings/bindings/l2crossdomainmessenger_more.go
  op-bindings/bindings/l2erc721bridge.go
  op-bindings/bindings/l2erc721bridge_more.go
  op-bindings/bindings/l2standardbridge.go
  op-bindings/bindings/l2standardbridge_more.go
  op-bindings/bindings/l2tol1messagepasser.go
  op-bindings/bindings/l2tol1messagepasser_more.go
  op-bindings/bindings/sequencerfeevault.go
  op-bindings/bindings/sequencerfeevault_more.go
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/semver-lock.json
  packages/contracts-bedrock/src/L2/BaseFeeVault.sol
  packages/contracts-bedrock/src/L2/CrossDomainOwnable.sol
  packages/contracts-bedrock/src/L2/CrossDomainOwnable2.sol
  packages/contracts-bedrock/src/L2/CrossDomainOwnable3.sol
  packages/contracts-bedrock/src/L2/GasPriceOracle.sol
  packages/contracts-bedrock/src/L2/L1Block.sol
  packages/contracts-bedrock/src/L2/L1FeeVault.sol
  packages/contracts-bedrock/src/L2/L2CrossDomainMessenger.sol
  packages/contracts-bedrock/src/L2/L2ERC721Bridge.sol
  packages/contracts-bedrock/src/L2/L2StandardBridge.sol
  packages/contracts-bedrock/src/L2/L2ToL1MessagePasser.sol
  packages/contracts-bedrock/src/L2/SequencerFeeVault.sol
Labels: A-op-bindings, A-pkg-contracts-bedrock, S-on-merge-train

#7205 Revert "cannon: Use atomic write pattern to avoid leaving partially written files"
  cannon/cmd/json.go
Labels: A-cannon

#7204 Add op-challenger to the tagging service
  .github/workflows/tag-service.yml
Labels: M-ci

#7207 ci: Run e2e tests when cannon changes
  .circleci/config.yml
Labels: M-ci, S-on-merge-train

#7182 feat: configurable decimals to OptimismMintableERC20
  op-bindings/bindings/legacyerc20eth.go
  op-bindings/bindings/legacyerc20eth_more.go
  op-bindings/bindings/optimismmintableerc20.go
  op-bindings/bindings/optimismmintableerc20_more.go
  op-bindings/bindings/optimismmintableerc20factory.go
  op-bindings/bindings/optimismmintableerc20factory_more.go
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/semver-lock.json
  packages/contracts-bedrock/src/legacy/LegacyERC20ETH.sol
  packages/contracts-bedrock/src/universal/OptimismMintableERC20.sol
  packages/contracts-bedrock/src/universal/OptimismMintableERC20Factory.sol
  packages/contracts-bedrock/test/OptimismMintableERC20Factory.t.sol
  packages/contracts-bedrock/test/StandardBridge.t.sol
Labels: A-op-bindings, A-pkg-contracts-bedrock, S-on-merge-train

#7199 op-challenger: Use helper to define the expected responses
  op-challenger/game/fault/agent.go
  op-challenger/game/fault/agent_test.go
  op-challenger/game/fault/responder/responder.go
  op-challenger/game/fault/responder/responder_test.go
  op-challenger/game/fault/solver/game_solver.go
  op-challenger/game/fault/solver/game_solver_test.go
  op-challenger/game/fault/test/game_builder.go
  op-challenger/game/fault/types/actions.go
Labels: A-op-challenger, S-on-merge-train

#7154 :construction_worker: fix: Replace fault detector with chainmon in version tags
  .github/workflows/tag-service.yml
Labels: M-ci, S-on-merge-train

#7200 op-challenger: Define basic validation rules for all honest actions.
  op-challenger/game/fault/solver/game_solver.go
  op-challenger/game/fault/solver/game_solver_test.go
  op-challenger/game/fault/solver/rules.go
  op-challenger/game/fault/types/game.go
  op-challenger/game/fault/types/game_test.go
Labels: A-op-challenger, S-on-merge-train

#7184 specs: Honest Challenger specs
  specs/fault-dispute-game.md
  specs/honest-challenger-fdg.md
Labels: M-docs, S-on-merge-train

#7216 cannon: Use atomic write pattern to avoid leaving partially written files
  Makefile
  cannon/cmd/json.go
  cannon/cmd/json_test.go
  cannon/cmd/load_elf.go
  cannon/cmd/run.go
Labels: A-cannon, S-on-merge-train

#7219 op-challenger: Add unit test for the poisoned pre-state case
  op-challenger/game/fault/solver/game_solver_test.go
Labels: A-op-challenger, S-on-merge-train

#7183 feat(op-challenger): Last Step Disk Cache Store
  op-challenger/game/fault/trace/cannon/provider.go
  op-challenger/game/fault/trace/cannon/provider_test.go
  op-service/ioutil/gzip.go
  op-service/ioutil/gzip_test.go
Labels: A-op-challenger, A-op-service, S-on-merge-train

#6388 specs: superchain target and protocol version
  specs/README.md
  specs/exec-engine.md
  specs/network-upgrades.md
  specs/rollup-node.md
  specs/superchain-upgrades.md
Labels: M-docs, S-on-merge-train

#7218 op-challenger: Include note in docs that the root claim must start with 0x01
  docs/fault-proof-alpha/manual.md
  op-challenger/README.md
Labels: A-op-challenger, M-docs, S-on-merge-train

#7220 op-challenger: Fix recording of cannon execution time
  op-challenger/game/fault/trace/cannon/executor.go
  op-challenger/game/fault/trace/cannon/executor_test.go
  op-challenger/metrics/noop.go
Labels: A-op-challenger, S-on-merge-train

#7206 feat(indexer): explicity state all contracts of interest for L1/L2 prior to launch
  indexer/config/config.go
  indexer/config/config_test.go
  indexer/config/presets.go
  indexer/e2e_tests/setup.go
  indexer/etl/l1_etl.go
  indexer/etl/l1_etl_test.go
  indexer/etl/l2_etl.go
  indexer/indexer.go
  indexer/migrations/20230523_create_schema.sql
  indexer/processors/bridge.go
  indexer/processors/bridge/l1_bridge_processor.go
  indexer/processors/bridge/l2_bridge_processor.go
  indexer/processors/bridge/legacy_bridge_processor.go
Labels: A-indexer, S-on-merge-train

#7237 fix(indexer): remove schema/code in relation to posted checkpoints on L1
  indexer/database/blocks.go
  indexer/database/mocks.go
  indexer/e2e_tests/etl_e2e_test.go
  indexer/migrations/20230523_create_schema.sql
Labels: A-indexer, S-on-merge-train

#7236 op-challenger: Include number of claims when listing games
  op-challenger/scripts/list_games.sh
Labels: A-op-challenger, S-on-merge-train

#7242 cannon: Use zlib compressed base64 instead of hex for serialization
  cannon/mipsevm/page.go
Labels: A-cannon, S-on-merge-train

#7229 :sparkles: feat(indexer): Add blockhash to bridgeview
  indexer/database/bridge_transfers.go
  indexer/e2e_tests/bridge_transfers_e2e_test.go
Labels: A-indexer

#7228 :construction: feat(indexer): Implement Api
  indexer/api/api_test.go
  indexer/api/routes/common.go
  indexer/api/routes/deposits.go
  indexer/api/routes/withdrawals.go
Labels: A-indexer

#7238 feat(indexer): Publish typescript types for api
  indexer/api-ts/LICENSE
  indexer/api-ts/generated.ts
  indexer/api-ts/indexer.cjs
  indexer/api-ts/indexer.cjs.map
  indexer/api-ts/indexer.js
  indexer/api-ts/indexer.js.map
  indexer/api-ts/indexer.ts
  indexer/api-ts/package.json
  indexer/api-ts/tsconfig.json
  indexer/api-ts/tsup.config.ts
  indexer/api-ts/tygo.yaml
  pnpm-workspace.yaml
Labels: A-indexer

#7241 Adds DevnetL1 Deploy Config to Makefile
  Makefile
Labels: S-on-merge-train

#7245 chore(indexer): Add ci check for generated types
  .circleci/config.yml
Labels: M-ci, A-indexer, S-on-merge-train

#7244 feat: adds sepolia and op sepolia
  .changeset/mighty-countries-drum.md
  .changeset/smart-goats-camp.md
  packages/sdk/src/interfaces/types.ts
  packages/sdk/src/utils/chain-constants.ts
Labels: A-pkg-sdk, S-on-merge-train

#7250 txmgr: Do not update nonce on failed gas estimate
  op-service/txmgr/txmgr.go
  op-service/txmgr/txmgr_test.go
Labels: A-op-service, S-on-merge-train

#7258 op-challenger: Add e2e test for the poisoned post-state case
  op-challenger/game/fault/agent.go
  op-e2e/e2eutils/disputegame/game_helper.go
  op-e2e/faultproof_test.go
Labels: A-op-challenger, A-op-e2e

#7073 feat: Head Subscriptions
  Makefile
  op-challenger/cmd/main_test.go
  op-challenger/config/config.go
  op-challenger/config/config_test.go
  op-challenger/flags/flags.go
  op-challenger/game/monitor.go
  op-challenger/game/monitor_test.go
  op-challenger/game/service.go
  op-e2e/e2eutils/challenger/helper.go
  op-e2e/e2eutils/disputegame/game_helper.go
  op-e2e/e2eutils/disputegame/helper.go
  op-node/client/rpc.go
Labels: A-op-challenger, A-op-node, A-op-service, A-op-e2e

#7255 op-challenger: Fix recording of last step index
  op-challenger/game/fault/trace/cannon/provider.go
  op-challenger/game/fault/trace/cannon/provider_test.go
Labels: A-op-challenger, S-on-merge-train

#7256 fix(indexer): Fix tygo check in ci
  .circleci/config.yml
  indexer/api-ts/README.md
Labels: M-ci, A-indexer, S-on-merge-train

#7254 Revert "chore(indexer): Add ci check for generated types"
  .circleci/config.yml
Labels: M-ci

#7263 contracts-bedrock: fix implementation salt
  packages/contracts-bedrock/scripts/Deploy.s.sol
Labels: A-pkg-contracts-bedrock

#7226 contracts-bedrock: ProtocolVersions contract
  op-bindings/artifacts.json
  op-bindings/bindings/mips_more.go
  op-bindings/bindings/preimageoracle_more.go
  op-bindings/bindings/protocolversions.go
  op-bindings/bindings/protocolversions_more.go
  op-chain-ops/genesis/config.go
  op-chain-ops/genesis/config_test.go
  op-chain-ops/genesis/testdata/l1-deployments.json
  op-chain-ops/genesis/testdata/test-deploy-config-full.json
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/deploy-config/devnetL1-template.json
  packages/contracts-bedrock/scripts/Deploy.s.sol
  packages/contracts-bedrock/scripts/DeployConfig.s.sol
  packages/contracts-bedrock/semver-lock.json
  packages/contracts-bedrock/src/L1/ProtocolVersions.sol
  packages/contracts-bedrock/test/ProtocolVersions.t.sol
Labels: A-op-bindings, A-pkg-contracts-bedrock, A-op-chain-ops, S-on-merge-train

#7227 op-node: protocol versions signal handling
  go.mod
  go.sum
  op-chain-ops/genesis/config.go
  op-e2e/l2_gossip_test.go
  op-e2e/setup.go
  op-e2e/system_test.go
  op-node/flags/flags.go
  op-node/metrics/metrics.go
  op-node/node/config.go
  op-node/node/node.go
  op-node/node/runtime_config.go
  op-node/node/superchain.go
  op-node/node/superchain_test.go
  op-node/rollup/superchain.go
  op-node/rollup/types.go
  op-node/service.go
  op-node/sources/engine_client.go
  op-service/eth/account_proof.go
Labels: A-op-bindings, A-pkg-contracts-bedrock, A-op-chain-ops, A-op-node, A-op-service, A-op-e2e

#7243 Cancel any inflight block building when stopping the sequencer, to av…
  op-node/rollup/driver/driver.go
  op-node/rollup/driver/state.go
Labels: A-op-node, S-on-merge-train

#7251 fix(indexer): Fix uri util
  .circleci/config.yml
  indexer/api-ts/generated.ts
  indexer/api-ts/indexer.cjs
  indexer/api-ts/indexer.cjs.map
  indexer/api-ts/indexer.js
  indexer/api-ts/indexer.js.map
  indexer/api-ts/indexer.spec.ts
  indexer/api-ts/indexer.ts
  indexer/api-ts/package.json
  indexer/api-ts/tsconfig.json
  indexer/api/routes/deposits.go
  indexer/api/routes/withdrawals.go
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: M-ci, A-indexer, S-on-merge-train

#7284 Fix a typo in glossary.md
  specs/glossary.md
Labels: M-docs, S-on-merge-train

#7280 Fix a typo in derivation.md
  specs/derivation.md
Labels: M-docs, S-on-merge-train

#7252 feat(proxyd): high availability
  proxyd/cache.go
  proxyd/config.go
  proxyd/consensus_poller.go
  proxyd/consensus_tracker.go
  proxyd/frontend_rate_limiter.go
  proxyd/frontend_rate_limiter_test.go
  proxyd/go.mod
  proxyd/go.sum
  proxyd/metrics.go
  proxyd/proxyd.go
  proxyd/redis.go
  proxyd/server.go
Labels: A-proxyd, S-on-merge-train

#7273 feat(op-challenger): Output Cannon Trace Type
  op-challenger/cmd/main_test.go
  op-challenger/config/config.go
  op-challenger/config/config_test.go
  op-challenger/flags/flags.go
Labels: A-op-challenger, S-on-merge-train

#7303 op-node: Fix race condition while closing OpNode
  op-node/node/node.go
  op-node/node/superchain.go
Labels: A-op-node, S-on-merge-train

#7121 Add the DelayedVetoable contract
  op-bindings/artifacts.json
  op-bindings/bindings/delayedvetoable.go
  op-bindings/bindings/delayedvetoable_more.go
  op-bindings/bindings/mips_more.go
  op-bindings/bindings/preimageoracle_more.go
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/semver-lock.json
  packages/contracts-bedrock/src/L1/DelayedVetoable.sol
  packages/contracts-bedrock/test/DelayedVetoable.t.sol
Labels: A-op-bindings, A-pkg-contracts-bedrock, S-on-merge-train

#7278 op-program: Use hardcoded chain config when available
  op-program/host/config/config.go
  op-program/host/config/config_test.go
  op-program/host/kvstore/local.go
  op-program/host/kvstore/local_test.go
Labels: A-op-program, S-on-merge-train

#7274 feat(op-challenger): Rollup RPC Challenger Flag
  op-challenger/cmd/main_test.go
  op-challenger/config/config.go
  op-challenger/config/config_test.go
  op-challenger/flags/flags.go
Labels: A-op-challenger, S-on-merge-train

#7091 :bug: fix(indexer): add retries to db connection
  indexer/database/db.go
Labels: A-indexer

#7155 op-challenger: Updated for the revised resolution
  op-challenger/game/fault/agent.go
  op-challenger/game/fault/agent_test.go
  op-challenger/game/fault/responder/responder.go
  op-challenger/game/fault/responder/responder_test.go
  op-challenger/game/fault/solver/game_solver.go
  op-challenger/game/fault/solver/game_solver_test.go
  op-challenger/game/fault/solver/rules.go
  op-challenger/game/fault/solver/solver.go
  op-challenger/game/fault/solver/solver_test.go
  op-challenger/game/fault/test/claim_builder.go
  op-challenger/game/fault/types/game.go
  op-challenger/game/fault/types/game_test.go
  op-e2e/e2eutils/challenger/helper.go
  op-e2e/e2eutils/disputegame/alphabet_helper.go
  op-e2e/e2eutils/disputegame/game_helper.go
  op-e2e/faultproof_test.go
Labels: A-cannon, M-ci, A-op-bindings, A-pkg-contracts-bedrock, A-indexer, A-op-challenger, A-op-chain-ops, A-op-e2e, M-docs

#7282 fix(op-bootnode): add missed flags and enable metrics server
  op-bootnode/bootnode/entrypoint.go
  op-bootnode/flags/flags.go
  op-node/flags/flags.go
  op-node/flags/p2p_flags.go
Labels: A-op-node, A-op-bootnode

#7061 feat(ctb): Rework FaultDisputeGame resolution
  op-bindings/bindings/faultdisputegame.go
  op-bindings/bindings/faultdisputegame_more.go
  op-challenger/game/fault/agent.go
  op-challenger/game/fault/agent_test.go
  op-challenger/game/fault/responder/responder.go
  op-challenger/game/fault/responder/responder_test.go
  op-challenger/game/fault/solver/game_solver.go
  op-challenger/game/fault/solver/game_solver_test.go
  op-challenger/game/fault/solver/rules.go
  op-challenger/game/fault/solver/solver.go
  op-challenger/game/fault/solver/solver_test.go
  op-challenger/game/fault/test/claim_builder.go
  op-challenger/game/fault/types/game.go
  op-challenger/game/fault/types/game_test.go
  op-e2e/e2eutils/challenger/helper.go
  op-e2e/e2eutils/disputegame/alphabet_helper.go
  op-e2e/e2eutils/disputegame/game_helper.go
  op-e2e/faultproof_test.go
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/semver-lock.json
  packages/contracts-bedrock/src/dispute/FaultDisputeGame.sol
  packages/contracts-bedrock/src/dispute/interfaces/IFaultDisputeGame.sol
  packages/contracts-bedrock/src/dispute/lib/LibHashing.sol
  packages/contracts-bedrock/src/libraries/DisputeErrors.sol
  packages/contracts-bedrock/test/FaultDisputeGame.t.sol
Labels: A-op-bindings, A-pkg-contracts-bedrock, A-op-challenger, A-op-e2e

#7308 fix(ctb): Add vm.assume to prevent clashes on additional test cases
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/test/DelayedVetoable.t.sol
Labels: A-pkg-contracts-bedrock, S-on-merge-train

#7307 chore: Cleanup the bootnode Makefile and Entrypoint
  op-bootnode/Makefile
  op-bootnode/cmd/main.go
Labels: A-op-bootnode, S-on-merge-train

#7286 Support old Make version by avoiding SHELLSTATUS
  Makefile
Labels: S-on-merge-train

#7316 fix(op-challenger): Constant Time Parent Lookup
  op-challenger/game/fault/types/game.go
Labels: A-op-challenger

#7261 fix(op-challenger): Don't schedule updates for resolved games
  op-challenger/game/fault/player.go
  op-challenger/game/scheduler/coordinator.go
  op-challenger/game/scheduler/coordinator_test.go
  op-challenger/game/scheduler/types.go
  op-challenger/game/scheduler/worker_test.go
Labels: A-op-challenger, S-on-merge-train

#7262 feat(op-challenger): Concurrency Metrics
  op-challenger/game/scheduler/scheduler.go
  op-challenger/game/scheduler/worker.go
  op-challenger/game/scheduler/worker_test.go
  op-challenger/metrics/metrics.go
  op-challenger/metrics/noop.go
Labels: A-op-challenger, S-on-merge-train

#7265 chore(indexer): reenable indexer fully on ci
  ops/check-changed/main.py
Labels: A-ops, S-on-merge-train

#7320 Init Metamask Pass/Fail metrics
  ufm-test-services/docker-compose.yml
  ufm-test-services/grafana/dashboards/metamask.json
  ufm-test-services/grafana/provisioning/dashboards/all.yml
  ufm-test-services/grafana/provisioning/datasources/datasources.yml
  ufm-test-services/metamask/README.md
  ufm-test-services/metamask/package.json
  ufm-test-services/metamask/pnpm-lock.yaml
  ufm-test-services/metamask/tests/metamask.spec.ts
  ufm-test-services/metamask/tests/prometheusUtils.ts
  ufm-test-services/prometheus.yml
Labels: S-on-merge-train

#7264 feat(op-challenger): Claim Count Metrics
  op-challenger/game/fault/agent.go
  op-challenger/game/fault/agent_test.go
  op-challenger/game/fault/player.go
  op-challenger/metrics/metrics.go
  op-challenger/metrics/noop.go
Labels: A-op-challenger, S-on-merge-train

#7271 feat(indexer): Enable devnet indexer as a preset
  indexer/config/config.go
  indexer/config/devnet.go
  indexer/config/presets.go
Labels: A-indexer, S-on-merge-train

#7247 chore(indexer): remove indexer all command
  indexer/Dockerfile
  indexer/cmd/indexer/cli.go
Labels: A-indexer

#7332 contracts-bedrock: internal devnet ProtocolVersions deployment
  packages/contracts-bedrock/deploy-config/internal-devnet.json
  packages/contracts-bedrock/deployments/internal-devnet/ProtocolVersions.json
  packages/contracts-bedrock/deployments/internal-devnet/ProtocolVersionsProxy.json
Labels: A-pkg-contracts-bedrock

#7333 go: update libp2p to fix Go 1.21 build
  go.mod
  go.sum
  op-e2e/system_test.go
  op-node/p2p/host.go
  op-node/p2p/peer_scores_test.go
  op-node/p2p/store/scorebook_test.go
Labels: A-op-node, A-op-e2e, S-on-merge-train

#7336 core-utils: delete unmaintained geth types
  .changeset/beige-poems-switch.md
  packages/core-utils/src/external/geth/geth-types.ts
  packages/core-utils/src/external/geth/index.ts
  packages/core-utils/src/external/index.ts
Labels: A-pkg-core-utils, S-on-merge-train

#7339 ci-builder: bump go version to 1.21
  ops/docker/ci-builder/Dockerfile
Labels: A-ops

#7334 op-challenger: Fix game status metrics
  op-challenger/game/scheduler/coordinator.go
Labels: A-op-challenger, S-on-merge-train

#7338 deps: golang 1.21
  .circleci/config.yml
  cannon/example/claim/go.mod
  cannon/example/claim/go.sum
  endpoint-monitor/Dockerfile
  go.mod
  go.sum
  indexer/Dockerfile
  op-batcher/Dockerfile
  op-challenger/Dockerfile
  op-heartbeat/Dockerfile
  op-node/Dockerfile
  op-program/Dockerfile
  op-proposer/Dockerfile
  op-ufm/Dockerfile
  op-wheel/Dockerfile
Labels: A-op-batcher, A-cannon, A-op-program, A-indexer, A-op-challenger, A-op-proposer, A-op-node, A-op-heartbeat, A-op-wheel

#7341 Metamask Metrics E2E
  ufm-test-services/crontab.example
  ufm-test-services/docker-compose.yml
  ufm-test-services/grafana/dashboards/metamask.json
Labels: S-on-merge-train

#7340 style: Cleanup `mipsevm` supported instructions list
  cannon/mipsevm/README.md
Labels: A-cannon, S-on-merge-train

#7323 :sparkles: feat(indexer): Add migrate command to cli
  indexer/Dockerfile
  indexer/cmd/indexer/cli.go
  indexer/database/db.go
  indexer/docker-compose.yml
  indexer/e2e_tests/setup.go
Labels: A-indexer, S-on-merge-train

#7345 contracts-bedrock: Add Goerli ProtocolVersions deployment
  packages/contracts-bedrock/deploy-config/goerli.json
  packages/contracts-bedrock/deployments/goerli/ProtocolVersions.json
  packages/contracts-bedrock/deployments/goerli/ProtocolVersionsProxy.json
Labels: A-pkg-contracts-bedrock, S-on-merge-train

#7343 contracts-bedrock: pgn deploy config
  packages/contracts-bedrock/deploy-config/pgn.json
Labels: A-pkg-contracts-bedrock, S-on-merge-train

#7215 op-node: Add canyon network upgrade override
  op-node/flags/flags.go
  op-node/rollup/types.go
  op-node/service.go
Labels: A-op-node, S-on-merge-train

#7203 Deployment script for contracts-periphery and faucet
  op-bindings/bindings/mips_more.go
  op-bindings/bindings/preimageoracle_more.go
  packages/contracts-bedrock/foundry.toml
  packages/contracts-bedrock/periphery-deploy-config/optimism-goerli.json
  packages/contracts-bedrock/scripts/DeployPeriphery.s.sol
  packages/contracts-bedrock/scripts/PeripheryDeployConfig.s.sol
Labels: A-op-bindings, A-pkg-contracts-bedrock

#7347 Add op-challenger to tag-service
  ops/tag-service/tag-service.py
Labels: A-ops

#7342 contracts-bedrock/periphery: When deploying contracts with CREATE2, check if already deployed at address
  packages/contracts-bedrock/scripts/DeployPeriphery.s.sol
Labels: A-pkg-contracts-bedrock, S-on-merge-train

#7351 contracts-bedrock: migrate dispute package to ISemver
  op-bindings/bindings/disputegamefactory.go
  op-bindings/bindings/disputegamefactory_more.go
  op-bindings/bindings/faultdisputegame.go
  op-bindings/bindings/faultdisputegame_more.go
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/scripts/SemverLock.s.sol
  packages/contracts-bedrock/semver-lock.json
  packages/contracts-bedrock/src/dispute/DisputeGameFactory.sol
  packages/contracts-bedrock/src/dispute/FaultDisputeGame.sol
Labels: A-op-bindings, A-pkg-contracts-bedrock

#7337 op-node: un-hide beta flags, update superchain-registry for devnet protocol-versions monitoring
  go.mod
  go.sum
  op-node/flags/flags.go
  op-node/node/node.go
  op-node/rollup/superchain.go
Labels: A-op-node

#7313 go: update op-geth to include v1.12.2 changes
  go.mod
  go.sum
  op-chain-ops/state/memory_db.go
  op-e2e/actions/l1_miner.go
  op-e2e/actions/l1_replica.go
  op-e2e/actions/l2_engine.go
  op-e2e/actions/reorg_test.go
  op-e2e/op_geth_test.go
  op-e2e/system_test.go
  op-node/rollup/derive/fuzz_parsers_test.go
  op-program/client/l2/db_test.go
  op-program/client/l2/engineapi/block_processor.go
  op-program/client/l2/engineapi/l2_engine_api.go
  op-program/client/mpt/db.go
  op-program/client/mpt/trie.go
  op-wheel/cheat/cheat.go
  op-wheel/engine/engine.go
  packages/contracts-bedrock/scripts/differential-testing/differential-testing.go
Labels: A-op-program, A-pkg-contracts-bedrock, A-op-chain-ops, A-op-node, A-op-e2e, A-op-wheel

#7352 L1 contract deploy: add support for customization of the IMPL_SALT
  packages/contracts-bedrock/scripts/Deploy.s.sol
Labels: A-pkg-contracts-bedrock

#7355 correct fault-proof.md typos
  specs/fault-proof.md
Labels: M-docs

#7362 op-node: remove beta prefix from rollup.load-protocol-versions and rollup.halt flags
  op-node/flags/flags.go
  op-node/service.go
Labels: A-op-node

#7361 cannon: remove old test-util preimage-cheat function
  cannon/mipsevm/evm.go
  op-bindings/bindings/alphabetvm.go
  op-bindings/bindings/preimageoracle.go
  op-bindings/bindings/preimageoracle_more.go
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/src/cannon/PreimageOracle.sol
Labels: A-cannon, A-op-bindings, A-pkg-contracts-bedrock, S-on-merge-train

#7363 op-node: update flags, remove BETA_ prefix
  op-node/flags/flags.go
  op-node/flags/flags_test.go
Labels: A-op-node, S-on-merge-train

#7353 contracts-bedrock: legacy ISemver
  op-bindings/bindings/deployerwhitelist.go
  op-bindings/bindings/deployerwhitelist_more.go
  op-bindings/bindings/l1blocknumber.go
  op-bindings/bindings/l1blocknumber_more.go
  op-bindings/bindings/legacymessagepasser.go
  op-bindings/bindings/legacymessagepasser_more.go
  packages/contracts-bedrock/semver-lock.json
  packages/contracts-bedrock/src/legacy/DeployerWhitelist.sol
  packages/contracts-bedrock/src/legacy/L1BlockNumber.sol
  packages/contracts-bedrock/src/legacy/L1ChugSplashProxy.sol
  packages/contracts-bedrock/src/legacy/LegacyERC20ETH.sol
  packages/contracts-bedrock/src/legacy/LegacyMessagePasser.sol
  packages/contracts-bedrock/src/legacy/LegacyMintableERC20.sol
  packages/contracts-bedrock/src/legacy/ResolvedDelegateProxy.sol
Labels: A-op-bindings, A-pkg-contracts-bedrock, S-on-merge-train

#7314 go: update op-geth to include v1.13.1 changes [depends on #7313]
  go.mod
  go.sum
  op-e2e/actions/l1_replica_test.go
  op-e2e/actions/l2_engine_test.go
  op-e2e/actions/reorg_test.go
  op-program/client/l2/db_test.go
  op-program/client/l2/engine.go
  op-program/client/l2/engine_backend_test.go
  op-program/client/l2/engineapi/l2_engine_api.go
  op-program/client/mpt/trie.go
  op-wheel/cheat/cheat.go
  op-wheel/engine/engine.go
  packages/contracts-bedrock/scripts/differential-testing/differential-testing.go
Labels: A-op-program, A-pkg-contracts-bedrock, A-op-chain-ops, A-op-node, A-op-e2e, A-op-wheel, S-on-merge-train

#7370 contracts-bedrock: zora goerli deploy config
  packages/contracts-bedrock/deploy-config/zora-goerli.json
Labels: A-pkg-contracts-bedrock, S-on-merge-train

#7369 contracts-bedrock: pgn sepolia deploy config
  packages/contracts-bedrock/deploy-config/pgn-sepolia.json
Labels: A-pkg-contracts-bedrock, S-on-merge-train

#7331 op-upgrade: introduce
  go.mod
  op-bindings/artifacts.json
  op-bindings/bindings/isemver.go
  op-bindings/bindings/isemver_more.go
  op-chain-ops/clients/clients.go
  op-chain-ops/cmd/check-l2/main.go
  op-chain-ops/cmd/op-upgrade/README.md
  op-chain-ops/cmd/op-upgrade/main.go
  op-chain-ops/genesis/config.go
  op-chain-ops/genesis/layer_one.go
  op-chain-ops/genesis/layer_one_test.go
  op-chain-ops/upgrades/check.go
  op-chain-ops/upgrades/l1.go
Labels: A-op-bindings, A-op-chain-ops, S-on-merge-train

#7292 Deploy via Safe
  packages/contracts-bedrock/scripts/Deploy.s.sol
  packages/contracts-bedrock/scripts/Deployer.sol
Labels: M-ci, A-pkg-contracts-bedrock, S-on-merge-train
