Repository ethereum-optimism/optimism, pull requests merged in 2023-07, with the labels that each got.

#6223 contracts-bedrock: remove dead dep
  packages/contracts-bedrock/package.json
  pnpm-lock.yaml
Labels: on-merge-train

#6164 fix: typo
  .changeset/little-scissors-own.md
  op-node/rollup/derive/channel_bank.go
  op-node/rollup/derive/channel_in_reader.go
  op-node/rollup/derive/l1_retrieval.go
  op-node/rollup/derive/l1_traversal.go
  op-node/rollup/derive/pipeline.go
Labels: sdk, common-ts

#6241 op-challenger: Add tests for CLI args
  op-challenger/challenger.go
  op-challenger/cmd/main.go
  op-challenger/cmd/main_test.go
  op-challenger/config/config.go
  op-challenger/config/config_test.go
  op-challenger/flags/flags.go
  op-service/tls/cli.go
  op-service/tls/cli_test.go
  op-service/txmgr/cli.go
  op-service/txmgr/cli_test.go
  op-signer/client/config.go
  op-signer/client/config_test.go
Labels: on-merge-train

#6227 fixup(ctb): `step` bug
  op-bindings/bindings/faultdisputegame.go
  op-bindings/bindings/faultdisputegame_more.go
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/dispute/FaultDisputeGame.sol
  packages/contracts-bedrock/contracts/dispute/interfaces/IFaultDisputeGame.sol
  packages/contracts-bedrock/contracts/dispute/lib/LibPosition.sol
  packages/contracts-bedrock/contracts/test/FaultDisputeGame.t.sol
  packages/contracts-bedrock/contracts/test/LibPosition.t.sol
Labels: C-Protocol-Critical

#6222 ci: Fix ci-builder
  .circleci/config.yml
  ops/docker/ci-builder/Dockerfile
Labels: on-merge-train

#6240 contracts-bedrock: remove glob dependency
  packages/contracts-bedrock/package.json
  packages/contracts-bedrock/scripts/forge-test-names.ts
  pnpm-lock.yaml
Labels: on-merge-train

#6251 chore(ctb): Rename MIPS step function
  cannon/mipsevm/evm.go
  op-bindings/bindings/mips.go
  op-bindings/bindings/mips_more.go
  packages/contracts-bedrock/contracts/cannon/MIPS.sol
Labels: C-Protocol-Critical

#6252 op-node: Reduce weight and cap for p2p sync error responses.
  op-node/p2p/app_params.go
Labels: on-merge-train

#6250 feat: bi-directionally index StandardBridge contract events
  indexer/api/api_test.go
  indexer/database/blocks.go
  indexer/database/bridge.go
  indexer/database/contract_events.go
  indexer/migrations/20230523_create_schema.sql
  indexer/processor/contract_events.go
  indexer/processor/l1_processor.go
  indexer/processor/l2_processor.go
  indexer/processor/optimism_portal.go
  indexer/processor/processor.go
  indexer/processor/standard_bridge.go
Labels: indexer

#6254 fix(sdk): Add missing message status index
  .changeset/bright-mayflies-jog.md
  packages/sdk/src/cross-chain-messenger.ts
Labels: sdk

#6262 fix(nx): Add foundry version to nx as implicit dep
  nx.json
Labels: on-merge-train

#6256 op-challenger: Perform steps in the agent
  op-challenger/fault/agent.go
  op-challenger/fault/orchestrator.go
  op-challenger/fault/solver.go
  op-challenger/fault/solver_test.go
Labels: on-merge-train

#6259 ci-builder: Add mips binutils
  ops/docker/ci-builder/Dockerfile
Labels: on-merge-train

#6257 op-challenger: Main loop
  op-challenger/challenger.go
  op-challenger/fault/agent.go
  op-challenger/fault/alphabet_provider.go
  op-challenger/fault/alphabet_provider_test.go
  op-challenger/fault/game.go
  op-challenger/fault/loader.go
  op-challenger/fault/loader_test.go
  op-challenger/fault/solver.go
  op-challenger/fault/solver_test.go
Labels: on-merge-train

#6283 op-challenger: Add Defender of the Alphabet scripts
  op-challenger/charlie
  op-challenger/init_game
  op-challenger/mallory
  op-challenger/visualize
Labels: on-merge-train

#6281 cannon: MIPS test vectors for syscalls
  cannon/mipsevm/evm_test.go
  cannon/mipsevm/open_mips_tests/test/bin/brk.bin
  cannon/mipsevm/open_mips_tests/test/bin/clone.bin
  cannon/mipsevm/open_mips_tests/test/bin/exit_group.bin
  cannon/mipsevm/open_mips_tests/test/bin/fcntl.bin
  cannon/mipsevm/open_mips_tests/test/bin/mmap.bin
  cannon/mipsevm/open_mips_tests/test/brk.asm
  cannon/mipsevm/open_mips_tests/test/clone.asm
  cannon/mipsevm/open_mips_tests/test/exit_group.asm
  cannon/mipsevm/open_mips_tests/test/fcntl.asm
  cannon/mipsevm/open_mips_tests/test/mmap.asm
  cannon/mipsevm/state_test.go
Labels: on-merge-train

#6288 feat(docs/op-stack): Remove sequencer from `op-geth`
  docs/op-stack/src/docs/build/getting-started.md
Labels: on-merge-train

#6217 cannon: Allow EOF pre-image reads
  cannon/mipsevm/open_mips_tests/test/bin/oracle.bin
  cannon/mipsevm/open_mips_tests/test/oracle.asm
  op-bindings/bindings/preimageoracle.go
  op-bindings/bindings/preimageoracle_more.go
  packages/contracts-bedrock/contracts/cannon/PreimageOracle.sol
Labels: C-Protocol-Critical, on-merge-train

#6269 feat(ctb): Refactor PreimageOracle Interface
  op-bindings/bindings/mips_more.go
  packages/contracts-bedrock/contracts/cannon/MIPS.sol
  packages/contracts-bedrock/contracts/cannon/interfaces/IPreimageOracle.sol
Labels: C-Protocol-Critical

#6274 feat(op-challenger): Proposed Output Agreement Flag
  op-challenger/challenger.go
  op-challenger/cmd/main_test.go
  op-challenger/config/config.go
  op-challenger/config/config_test.go
  op-challenger/fault/agent.go
  op-challenger/fault/cmd/examples/full.go
  op-challenger/fault/game.go
  op-challenger/fault/game_test.go
  op-challenger/fault/orchestrator.go
  op-challenger/fault/solver_test.go
  op-challenger/flags/flags.go
Labels: on-merge-train

#6270 fix(ctb): Clean up the preimage oracle
  op-bindings/bindings/preimageoracle.go
  op-bindings/bindings/preimageoracle_more.go
  packages/contracts-bedrock/contracts/cannon/PreimageOracle.sol
Labels: C-Protocol-Critical, on-merge-train

#6276 fix(ctb): MIPS Styling and Docs
  op-bindings/bindings/mips.go
  op-bindings/bindings/mips_more.go
  packages/contracts-bedrock/contracts/cannon/MIPS.sol
Labels: C-Protocol-Critical

#6282 fix: Frame struct tag
  op-node/rollup/derive/frame.go
Labels: on-merge-train

#6299 fix: Add missing contract deployments to contracts-bedrock
  packages/contracts-bedrock/deployments/goerli/AddressDictator.json
  packages/contracts-bedrock/deployments/goerli/BondManager.json
  packages/contracts-bedrock/deployments/goerli/CanonicalTransactionChain.json
  packages/contracts-bedrock/deployments/goerli/ChainStorageContainer-CTC-batches.json
  packages/contracts-bedrock/deployments/goerli/ChainStorageContainer-SCC-batches.json
  packages/contracts-bedrock/deployments/goerli/ChugSplashDictator.json
  packages/contracts-bedrock/deployments/goerli/L1StandardBridge_for_verification_only.json
  packages/contracts-bedrock/deployments/goerli/Lib_AddressManager.json
  packages/contracts-bedrock/deployments/goerli/OVM_L1CrossDomainMessenger.json
  packages/contracts-bedrock/deployments/goerli/Proxy__OVM_L1CrossDomainMessenger.json
  packages/contracts-bedrock/deployments/goerli/Proxy__OVM_L1StandardBridge.json
  packages/contracts-bedrock/deployments/goerli/StateCommitmentChain.json
  packages/contracts-bedrock/deployments/mainnet/AddressDictator.json
  packages/contracts-bedrock/deployments/mainnet/BondManager.json
  packages/contracts-bedrock/deployments/mainnet/CanonicalTransactionChain.json
  packages/contracts-bedrock/deployments/mainnet/ChainStorageContainer-CTC-batches.json
  packages/contracts-bedrock/deployments/mainnet/ChainStorageContainer-SCC-batches.json
  packages/contracts-bedrock/deployments/mainnet/ChugSplashDictator.json
  packages/contracts-bedrock/deployments/mainnet/L1StandardBridge_for_verification_only.json
  packages/contracts-bedrock/deployments/mainnet/Lib_AddressManager.json
  packages/contracts-bedrock/deployments/mainnet/OVM_L1CrossDomainMessenger.json
  packages/contracts-bedrock/deployments/mainnet/Proxy__OVM_L1CrossDomainMessenger.json
  packages/contracts-bedrock/deployments/mainnet/Proxy__OVM_L1StandardBridge.json
  packages/contracts-bedrock/deployments/mainnet/StateCommitmentChain.json
  packages/contracts-bedrock/deployments/mainnet/TeleportrDeposit.json
Labels: do-not-merge

#6293 feat(ctb): PreimageOracle Tests
  op-bindings/bindings/preimageoracle_more.go
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/cannon/PreimageOracle.sol
  packages/contracts-bedrock/contracts/test/PreimageOracle.t.sol
Labels: C-Protocol-Critical

#6196 Fault Proof VM Specs
  specs/cannon-fault-proof-vm.md
Labels: on-merge-train

#6248 ci: Check OpenMIPS binaries
  .circleci/config.yml
  cannon/mipsevm/open_mips_tests/maketests.py
Labels: on-merge-train

#6278 cannon: Fix unaligned preimage read in MIPS.sol
  cannon/mipsevm/open_mips_tests/test/bin/oracle_unaligned_read.bin
  cannon/mipsevm/open_mips_tests/test/oracle_unaligned_read.asm
  op-bindings/bindings/mips.go
  op-bindings/bindings/mips_more.go
  packages/contracts-bedrock/contracts/cannon/MIPS.sol
Labels: C-Protocol-Critical, on-merge-train

#6307 op-challenger: Remove dead code from game.go
  op-challenger/fault/game.go
  op-challenger/fault/game_test.go
Labels: on-merge-train

#6304 op-node: Set DialBackoff when dialing op-geth
  op-node/node/client.go
Labels: on-merge-train

#6315 Add Base Mainnet chain ID and contracts
  packages/sdk/src/interfaces/types.ts
  packages/sdk/src/utils/chain-constants.ts
Labels: sdk

#6316 feat(ctb): Support variable length traces in `FaultDisputeGame`
  op-bindings/bindings/faultdisputegame.go
  op-bindings/bindings/faultdisputegame_more.go
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/dispute/FaultDisputeGame.sol
  packages/contracts-bedrock/contracts/test/FaultDisputeGame.t.sol
Labels: C-Protocol-Critical

#6290 op-node: Enable p2p alt sync by default.
  op-node/flags/p2p_flags.go
Labels: on-merge-train

#6272 feat(ufm): user facing monitoring service
  op-ufm/.gitignore
  op-ufm/Dockerfile
  op-ufm/Makefile
  op-ufm/README.md
  op-ufm/cmd/ufm/main.go
  op-ufm/entrypoint.sh
  op-ufm/example.config.toml
  op-ufm/go.mod
  op-ufm/go.sum
  op-ufm/pkg/config/config.go
  op-ufm/pkg/config/toml_duration.go
  op-ufm/pkg/metrics/clients/eth.go
  op-ufm/pkg/metrics/clients/signer.go
  op-ufm/pkg/metrics/metrics.go
  op-ufm/pkg/provider/heartbeat.go
  op-ufm/pkg/provider/provider.go
  op-ufm/pkg/provider/roundtrip.go
  op-ufm/pkg/provider/tx_pool.go
  op-ufm/pkg/service/healthz_server.go
  op-ufm/pkg/service/metrics_server.go
  op-ufm/pkg/service/service.go
Labels: on-merge-train

#6318 feat(ctb): Fuzz alphabet game resolution on full d=4 tree
  op-bindings/bindings/faultdisputegame.go
  op-bindings/bindings/faultdisputegame_more.go
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/dispute/FaultDisputeGame.sol
  packages/contracts-bedrock/contracts/test/FaultDisputeGame.t.sol
Labels: C-Protocol-Critical

#6210 feat: Improve release process
  .changeset/config.json
  .github/actions/setup/action.yml
  .github/workflows/release-docker-canary.yml
  .github/workflows/release-snapshot.yml
  .github/workflows/release.yml
  package.json
  pnpm-lock.yaml
Labels: sdk, indexer

#6321 cannon: Include inputs in proof files
  cannon/cmd/run.go
Labels: on-merge-train

#6342 monorepo: delete dead top level dep
  package.json
  pnpm-lock.yaml
Labels: on-merge-train

#6348 feat: make mintable erc20 inheritable
  op-bindings/bindings/legacyerc20eth.go
  op-bindings/bindings/optimismmintableerc20.go
  op-bindings/bindings/optimismmintableerc20factory.go
  op-bindings/bindings/optimismmintableerc20factory_more.go
  packages/contracts-bedrock/contracts/universal/OptimismMintableERC20.sol
Labels: C-Protocol-Critical

#6341 typescript: use correct forge version in dockerfile
  ops/docker/Dockerfile.packages
Labels: on-merge-train

#6300 fix(ctb): MIPS.sol Inline Documentation Refinement
  op-bindings/bindings/mips_more.go
  packages/contracts-bedrock/contracts/cannon/MIPS.sol
Labels: C-Protocol-Critical

#6351 chore(ctb): Move Game Duration to Deploy Config
  op-bindings/bindings/faultdisputegame.go
  op-bindings/bindings/faultdisputegame_more.go
  op-challenger/fault/abi_test.go
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/dispute/FaultDisputeGame.sol
  packages/contracts-bedrock/contracts/test/FaultDisputeGame.t.sol
  packages/contracts-bedrock/deploy-config/devnetL1.json
  packages/contracts-bedrock/scripts/Deploy.s.sol
  packages/contracts-bedrock/scripts/DeployConfig.s.sol
Labels: C-Protocol-Critical

#6355 fix: Changeset versioning and release scripts
  .github/workflows/release.yml
  package.json
  pnpm-lock.yaml
Labels: on-merge-train

#6356 feat(ufm): add kmstool
  op-ufm/Makefile
  op-ufm/go.mod
  op-ufm/go.sum
  op-ufm/pkg/metrics/clients/eth.go
  op-ufm/tools/kmstool/main.go
Labels: on-merge-train

#6338 op-service: Additional clock functions
  op-service/clock/clock.go
  op-service/clock/deterministic.go
  op-service/clock/deterministic_test.go
Labels: on-merge-train

#6260 feat: Add ts contract package for TS
  .changeset/config.json
  .circleci/config.yml
  nx.json
  op-bindings/README.md
  op-bindings/predeploys/addresses.go
  package.json
  packages/contracts-bedrock/package.json
  packages/contracts-ts/.gitignore
  packages/contracts-ts/.prettierignore
  packages/contracts-ts/.prettierrc.cjs
  packages/contracts-ts/CODE_GEN.md
  packages/contracts-ts/LICENSE
  packages/contracts-ts/README.md
  packages/contracts-ts/abis.json
  packages/contracts-ts/addresses.json
  packages/contracts-ts/example.env
  packages/contracts-ts/package.json
  packages/contracts-ts/setupVitest.ts
  packages/contracts-ts/src/actions.ts
  packages/contracts-ts/src/constants.spec.ts
  packages/contracts-ts/src/constants.ts
  packages/contracts-ts/src/react.spec.tsx
  packages/contracts-ts/src/react.ts
  packages/contracts-ts/src/vite-env.d.ts
  packages/contracts-ts/tsconfig.json
  packages/contracts-ts/tsup.config.ts
  packages/contracts-ts/vite.config.ts
  packages/contracts-ts/wagmi.config.ts
  pnpm-lock.yaml
Labels: on-merge-train

#6314 feat(op-challenger): FDG Caller
  op-challenger/challenger.go
  op-challenger/fault/caller.go
  op-challenger/fault/caller_test.go
Labels: on-merge-train

#6353 fix(op-challenger): Enforce Step Response
  op-challenger/fault/agent.go
  op-challenger/fault/solver.go
  op-challenger/fault/solver_test.go
Labels: on-merge-train

#6352 feat(op-challenger): Responder Resolve Function
  op-challenger/fault/responder.go
  op-challenger/fault/responder_test.go
Labels: on-merge-train

#6345 feat(indexer): move into the monorepo go module
  .circleci/config.yml
  go.mod
  go.sum
  indexer/Dockerfile
  indexer/Makefile
  indexer/go.mod
  indexer/go.sum
  indexer/integration_tests/bedrock_test.go
  op-bindings/predeploys/legacy_addresses.go
  op-node/withdrawals/utils.go
  op-service/client/utils/waits.go
Labels: indexer

#6332 feat(sdk): Add event filter params to sdk as options
  .changeset/violet-pants-dress.md
  packages/sdk/example.env
  packages/sdk/src/cross-chain-messenger.ts
  packages/sdk/test-next/README.md
  packages/sdk/test-next/messageStatus.spec.ts
  packages/sdk/test-next/messageStatus.ts
Labels: sdk

#6360 feat(ufm): add ufm to ci
  .circleci/config.yml
  .github/workflows/tag-service.yml
Labels: on-merge-train

#6372 fix: Fix changeset config regression
  .changeset/config.json
Labels: on-merge-train

#6275 feat(docs/op-stack): Add that the SDK supports other chains
  docs/op-stack/src/docs/build/sdk.md
Labels: on-merge-train

#6370 feat(op-service): TxManager Call Method
  op-challenger/fault/responder_test.go
  op-e2e/actions/l2_proposer.go
  op-service/txmgr/mocks/TxManager.go
  op-service/txmgr/txmgr.go
  op-service/txmgr/txmgr_test.go
Labels: on-merge-train

#6359 chore: Update code owners to not require code owners for release prs
  .github/CODEOWNERS
Labels: on-merge-train

#6383 specs: Clarify Cannon VM syscall behavior
  Makefile
  cannon/docs/README.md
  specs/cannon-fault-proof-vm.md
Labels: on-merge-train

#6328 feat: EAS contracts
  .circleci/config.yml
  codecov.yml
  op-bindings/artifacts.json
  op-bindings/bindings/eas.go
  op-bindings/bindings/eas_more.go
  op-bindings/bindings/erc20_more.go
  op-bindings/bindings/preimageoracle.go
  op-bindings/bindings/preimageoracle_more.go
  op-bindings/bindings/schemaregistry.go
  op-bindings/bindings/schemaregistry_more.go
  op-bindings/gen/main.go
  op-bindings/predeploys/addresses.go
  op-chain-ops/cmd/check-l2/main.go
  op-chain-ops/genesis/layer_two.go
  op-chain-ops/genesis/layer_two_test.go
  op-chain-ops/immutables/immutables.go
  op-chain-ops/immutables/immutables_test.go
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/EAS/Common.sol
  packages/contracts-bedrock/contracts/EAS/EAS.sol
  packages/contracts-bedrock/contracts/EAS/IEAS.sol
  packages/contracts-bedrock/contracts/EAS/ISchemaRegistry.sol
  packages/contracts-bedrock/contracts/EAS/SchemaRegistry.sol
  packages/contracts-bedrock/contracts/EAS/eip712/EIP712Verifier.sol
  packages/contracts-bedrock/contracts/EAS/resolver/ISchemaResolver.sol
  packages/contracts-bedrock/contracts/EAS/resolver/SchemaResolver.sol
  packages/contracts-bedrock/contracts/libraries/Predeploys.sol
  packages/contracts-bedrock/package.json
  packages/contracts-bedrock/scripts/Deploy.s.sol
  packages/contracts-bedrock/scripts/DeployConfig.s.sol
  packages/contracts-bedrock/scripts/DeployL2.s.sol
  packages/contracts-bedrock/scripts/Deployer.sol
  packages/contracts-bedrock/scripts/Executables.sol
  specs/predeploys.md
Labels: C-Protocol-Critical

#6374 feat(op-challenger): Top Level Status and Resolution
  op-challenger/challenger.go
  op-challenger/fault/agent.go
  op-challenger/fault/types.go
  packages/contracts-bedrock/deploy-config/devnetL1.json
Labels: on-merge-train

#6330 feat(indexer): e2e blocks & bridge integration tests
  go.mod
  indexer/api/api_test.go
  indexer/cli/cli.go
  indexer/config/config.go
  indexer/database/blocks.go
  indexer/database/bridge.go
  indexer/database/contract_events.go
  indexer/database/db.go
  indexer/e2e_test/blocks_e2e_test.go
  indexer/e2e_test/bridge_e2e_test.go
  indexer/e2e_test/setup.go
  indexer/indexer.go
  indexer/migrations/20230523_create_schema.sql
  indexer/node/client.go
  indexer/node/client_test.go
  indexer/node/header_traversal_test.go
  indexer/processor/l1_processor.go
  indexer/processor/l2_processor.go
  indexer/processor/optimism_portal.go
  indexer/processor/processor.go
  indexer/processor/standard_bridge.go
Labels: indexer

#6364 op-e2e: Add ability to deploy dispute game contracts and test that games can be resolved
  op-bindings/artifacts.json
  op-bindings/bindings/alphabetvm.go
  op-bindings/bindings/alphabetvm_more.go
  op-challenger/challenger.go
  op-challenger/cmd/main.go
  op-challenger/cmd/main_test.go
  op-e2e/e2eutils/challenger/helper.go
  op-e2e/e2eutils/disputegame/deploy.go
  op-e2e/e2eutils/disputegame/helper.go
  op-e2e/faultproof_test.go
  op-e2e/setup.go
  op-service/client/utils/waits.go
Labels: on-merge-train

#6387 contracts-bedrock: deploy EAS to optimism goerli
  packages/contracts-bedrock/deployments/optimism-goerli/EAS.json
  packages/contracts-bedrock/deployments/optimism-goerli/SchemaRegistry.json
  packages/contracts-bedrock/scripts/DeployConfig.s.sol
  packages/contracts-bedrock/scripts/Deployer.sol
Labels: C-Protocol-Critical

#6389 contracts-bedrock: eas predeploy upgrade script
  packages/contracts-bedrock/.gitignore
  packages/contracts-bedrock/scripts/universal/SafeBuilder.sol
  packages/contracts-bedrock/scripts/upgrades/EASUpgrade.s.sol
Labels: C-Protocol-Critical

#6390 op-node: log error when op-node is configured with conflicting network and rollup-config
  op-bootnode/bootnode/entrypoint.go
  op-node/service.go
  op-program/host/cmd/main.go
  op-program/host/config/config.go
Labels: on-merge-train

#6398 feat: Better clean script and more robust only-allow pnpm
  package.json
  packages/chain-mon/package.json
  packages/common-ts/package.json
  packages/contracts-bedrock/package.json
  packages/contracts-ts/package.json
  packages/core-utils/package.json
  packages/replica-healthcheck/package.json
  packages/sdk/package.json
Labels: on-merge-train, sdk, common-ts

#6397 fix(ctb): Port EAS Contracts to Triple Slash Natspec Styling
  packages/contracts-bedrock/contracts/EAS/Common.sol
  packages/contracts-bedrock/contracts/EAS/EAS.sol
  packages/contracts-bedrock/contracts/EAS/IEAS.sol
  packages/contracts-bedrock/contracts/EAS/ISchemaRegistry.sol
  packages/contracts-bedrock/contracts/EAS/SchemaRegistry.sol
  packages/contracts-bedrock/contracts/EAS/eip712/EIP712Verifier.sol
  packages/contracts-bedrock/contracts/EAS/resolver/ISchemaResolver.sol
  packages/contracts-bedrock/contracts/EAS/resolver/SchemaResolver.sol
Labels: C-Protocol-Critical, on-merge-train

#6399 vscode: delete newline at end of file
  .vscode/settings.json
Labels: on-merge-train

#6380 fix(ctb): Port Faucet Periphery Contracts to Triple Slash Natspec Styling
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/periphery/faucet/Faucet.sol
  packages/contracts-bedrock/contracts/periphery/faucet/authmodules/AdminFaucetAuthModule.sol
  packages/contracts-bedrock/contracts/periphery/faucet/authmodules/IFaucetAuthModule.sol
Labels: C-Protocol-Critical, on-merge-train

#6381 fix(ctb): Port op-nft periphery contracts to triple slash natspec styling
  packages/contracts-bedrock/contracts/periphery/op-nft/AttestationStation.sol
  packages/contracts-bedrock/contracts/periphery/op-nft/Optimist.sol
  packages/contracts-bedrock/contracts/periphery/op-nft/OptimistAllowlist.sol
  packages/contracts-bedrock/contracts/periphery/op-nft/OptimistInviter.sol
  packages/contracts-bedrock/contracts/periphery/op-nft/libraries/OptimistConstants.sol
Labels: C-Protocol-Critical, on-merge-train

#6401 fix(ctb): Port All Test Contracts to Triple Slash Natspec Styling
  packages/contracts-bedrock/contracts/test/AddressAliasHelper.t.sol
  packages/contracts-bedrock/contracts/test/AdminFaucetAuthModule.t.sol
  packages/contracts-bedrock/contracts/test/AssetReceiver.t.sol
  packages/contracts-bedrock/contracts/test/BenchmarkTest.t.sol
  packages/contracts-bedrock/contracts/test/Bytes.t.sol
  packages/contracts-bedrock/contracts/test/CheckBalanceHigh.t.sol
  packages/contracts-bedrock/contracts/test/CheckBalanceLow.t.sol
  packages/contracts-bedrock/contracts/test/CheckGelatoLow.t.sol
  packages/contracts-bedrock/contracts/test/CheckTrue.t.sol
  packages/contracts-bedrock/contracts/test/CommonTest.t.sol
  packages/contracts-bedrock/contracts/test/Drippie.t.sol
  packages/contracts-bedrock/contracts/test/Faucet.t.sol
  packages/contracts-bedrock/contracts/test/Helpers.sol
  packages/contracts-bedrock/contracts/test/Optimist.t.sol
  packages/contracts-bedrock/contracts/test/OptimistAllowlist.t.sol
  packages/contracts-bedrock/contracts/test/OptimistInviter.t.sol
  packages/contracts-bedrock/contracts/test/RLP.t.sol
  packages/contracts-bedrock/contracts/test/Transactor.t.sol
  packages/contracts-bedrock/contracts/test/invariants/AddressAliasHelper.t.sol
  packages/contracts-bedrock/contracts/test/invariants/Burn.Eth.t.sol
  packages/contracts-bedrock/contracts/test/invariants/Burn.Gas.t.sol
  packages/contracts-bedrock/contracts/test/invariants/CrossDomainMessenger.t.sol
  packages/contracts-bedrock/contracts/test/invariants/Encoding.t.sol
  packages/contracts-bedrock/contracts/test/invariants/Hashing.t.sol
  packages/contracts-bedrock/contracts/test/invariants/L2OutputOracle.t.sol
  packages/contracts-bedrock/contracts/test/invariants/OptimismPortal.t.sol
  packages/contracts-bedrock/contracts/test/invariants/ResourceMetering.t.sol
  packages/contracts-bedrock/contracts/test/invariants/SafeCall.t.sol
  packages/contracts-bedrock/contracts/test/invariants/SystemConfig.t.sol
  packages/contracts-bedrock/invariant-docs/AddressAliasHelper.md
  packages/contracts-bedrock/invariant-docs/Burn.Eth.md
  packages/contracts-bedrock/invariant-docs/Burn.Gas.md
  packages/contracts-bedrock/invariant-docs/CrossDomainMessenger.md
  packages/contracts-bedrock/invariant-docs/Encoding.md
  packages/contracts-bedrock/invariant-docs/Hashing.md
  packages/contracts-bedrock/invariant-docs/L2OutputOracle.md
  packages/contracts-bedrock/invariant-docs/OptimismPortal.md
  packages/contracts-bedrock/invariant-docs/ResourceMetering.md
  packages/contracts-bedrock/invariant-docs/SafeCall.md
  packages/contracts-bedrock/scripts/invariant-doc-gen.ts
Labels: C-Protocol-Critical, on-merge-train

#6376 fix(ctb): Port RLP Library Contracts to Triple Slash Natspec Styling
  op-bindings/bindings/optimismportal.go
  op-bindings/bindings/optimismportal_more.go
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/libraries/rlp/RLPReader.sol
  packages/contracts-bedrock/contracts/libraries/rlp/RLPWriter.sol
Labels: C-Protocol-Critical, on-merge-train

#6377 fix(ctb): Port Merkle Libraries to Triple Slash Natspec Styling
  op-bindings/bindings/optimismportal.go
  op-bindings/bindings/optimismportal_more.go
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/libraries/trie/MerkleTrie.sol
  packages/contracts-bedrock/contracts/libraries/trie/SecureMerkleTrie.sol
Labels: C-Protocol-Critical, on-merge-train

#6403 fix(ctb): Patch Version Bump op-nft Peripheral Contracts
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/periphery/op-nft/AttestationStation.sol
  packages/contracts-bedrock/contracts/periphery/op-nft/Optimist.sol
  packages/contracts-bedrock/contracts/periphery/op-nft/OptimistAllowlist.sol
  packages/contracts-bedrock/contracts/periphery/op-nft/OptimistInviter.sol
  packages/contracts-bedrock/contracts/test/Optimist.t.sol
  packages/contracts-bedrock/contracts/test/OptimistAllowlist.t.sol
  packages/contracts-bedrock/contracts/test/OptimistInviter.t.sol
Labels: C-Protocol-Critical, on-merge-train

#6402 fix(op-challenger): Small Agent Touchup
  op-challenger/fault/agent.go
Labels: on-merge-train

#6404 fix(ctb): Patch Version Bump EAS Contracts
  op-bindings/bindings/eas.go
  op-bindings/bindings/schemaregistry.go
  packages/contracts-bedrock/contracts/EAS/EAS.sol
  packages/contracts-bedrock/contracts/EAS/SchemaRegistry.sol
  packages/contracts-bedrock/contracts/EAS/resolver/SchemaResolver.sol
Labels: C-Protocol-Critical, on-merge-train

#6385 fix(cd): Fix npm token on publish job
  .github/workflows/release.yml
Labels: on-merge-train

#6267 feat: Add gas estimation utilities
  packages/contracts-ts/package.json
  packages/contracts-ts/src/actions.ts
  packages/contracts-ts/src/constants.ts
  packages/contracts-ts/src/react.ts
  packages/fee-estimation/.gitignore
  packages/fee-estimation/.prettierignore
  packages/fee-estimation/.prettierrc.cjs
  packages/fee-estimation/LICENSE
  packages/fee-estimation/README.md
  packages/fee-estimation/example.env
  packages/fee-estimation/package.json
  packages/fee-estimation/setupVitest.ts
  packages/fee-estimation/src/estimateFees.spec.ts
  packages/fee-estimation/src/estimateFees.ts
  packages/fee-estimation/src/vite-env.d.ts
  packages/fee-estimation/tsconfig.json
  packages/fee-estimation/tsup.config.ts
  packages/fee-estimation/vite.config.ts
  pnpm-lock.yaml
Labels: sdk, indexer

#6408 feat(op-challenger): Refactor Challenger Entrypoint
  op-challenger/challenger.go
  op-challenger/fault/service.go
Labels: on-merge-train

#6421 fix(op-challenger): Refactor AlphabetTraceProvider into a Module
  op-challenger/fault/alphabet/provider.go
  op-challenger/fault/alphabet/provider_test.go
  op-challenger/fault/claimbuilder_test.go
  op-challenger/fault/service.go
  op-challenger/fault/types/types.go
  op-e2e/e2eutils/disputegame/helper.go
Labels: on-merge-train

#6419 fix(op-challenger): Small changes following #6413
  op-challenger/config/config.go
  op-challenger/fault/responder.go
  op-challenger/fault/responder_test.go
Labels: on-merge-train

#6424 fix(op-challenger): Refactor Solver Component into its own Module
  op-challenger/fault/agent.go
  op-challenger/fault/solver/solver.go
  op-challenger/fault/solver/solver_test.go
  op-challenger/fault/test/alphabet.go
  op-challenger/fault/test/claim_builder.go
  op-challenger/fault/test/seq_builder.go
  op-challenger/fault/types/types.go
Labels: on-merge-train

#6433 op-e2e: faster failures on bad genesis
  op-e2e/actions/l2_verifier.go
Labels: on-merge-train

#6431 op-e2e: enable shanghai on L1
  op-chain-ops/deployer/deployer.go
  op-chain-ops/genesis/genesis.go
  op-chain-ops/genesis/layer_one.go
  op-chain-ops/immutables/immutables.go
  op-e2e/actions/fork_test.go
  op-e2e/fakepos.go
Labels: on-merge-train

#6434 op-challenger: Add config and CLI args to support actually executing cannon
  op-challenger/cmd/main_test.go
  op-challenger/config/config.go
  op-challenger/config/config_test.go
  op-challenger/flags/flags.go
Labels: on-merge-train

#6435 op-bindings: storage layout entry getter
  op-bindings/solc/types.go
Labels: on-merge-train

#6155 op-geth: Update to latest op-geth with upstream 1.12.0 changes
  go.mod
  go.sum
  indexer/e2e_test/bridge_e2e_test.go
  op-e2e/actions/l1_miner.go
  op-e2e/actions/l2_proposer.go
  op-e2e/actions/user.go
  op-e2e/e2eutils/disputegame/deploy.go
  op-e2e/e2eutils/disputegame/helper.go
  op-e2e/geth.go
  op-e2e/tx_helper.go
  op-e2e/withdrawal_helper.go
  op-wheel/cheat/cheat.go
  ops/scripts/update-op-geth.py
Labels: on-merge-train, indexer

#6439 fix(op-challenger): Cleanup Solver Internals
  op-challenger/fault/solver/solver.go
Labels: on-merge-train

#6445 op-chain-ops: add L1Deployments helper
  op-chain-ops/genesis/config.go
  op-chain-ops/genesis/config_test.go
  op-chain-ops/genesis/testdata/l1-deployments.json
Labels: on-merge-train

#6417 specs,fault-mon: typo of output and `engine_forkchoiceUpdatedV1`
  packages/chain-mon/.env.example
  packages/chain-mon/src/fault-mon/README.md
  packages/chain-mon/src/fault-mon/service.ts
  specs/assets/engine.svg
  specs/overview.md
Labels: on-merge-train

#6448 monorepo: remove postinstall hook
  package.json
Labels: on-merge-train

#6455 feat(ctb): Semver lockfile
  .circleci/config.yml
  packages/contracts-bedrock/foundry.toml
  packages/contracts-bedrock/package.json
  packages/contracts-bedrock/scripts/SemverLock.s.sol
  packages/contracts-bedrock/semver-lock.json
Labels: C-Protocol-Critical, on-merge-train

#6456 op-node: safer genesis script
  op-node/cmd/genesis/cmd.go
Labels: on-merge-train

#6457 contracts-bedrock: delete dead deploy config
  packages/contracts-bedrock/deploy-config/goerli-forked.json
Labels: on-merge-train

#6465 feat(op-chain-ops): WithdrawalNetwork Type
  op-chain-ops/genesis/config.go
  op-chain-ops/genesis/testdata/test-deploy-config-devnet-l1.json
  op-chain-ops/genesis/testdata/test-deploy-config-full.json
  op-chain-ops/genesis/withdrawal_network.go
  op-chain-ops/genesis/withdrawal_network_test.go
  op-e2e/e2eutils/setup.go
  op-e2e/setup.go
Labels: on-merge-train

#6462 devnet: allow unprotected txs
  ops-bedrock/entrypoint-l1.sh
  ops-bedrock/entrypoint-l2.sh
Labels: on-merge-train

#6458 feat(op-challenger): Adds Preimage Data to the TraceProvider
  op-challenger/fault/alphabet/provider.go
  op-challenger/fault/cannon/provider.go
  op-challenger/fault/cannon/provider_test.go
  op-challenger/fault/cannon/test_data/proofs/420.json
  op-challenger/fault/cannon/test_data/proofs/421.json
  op-challenger/fault/types/types.go
  op-challenger/fault/types/types_test.go
Labels: on-merge-train

#6459 feat(op-challenger): GetOracleData call in Solver
  op-challenger/fault/solver/solver.go
  op-challenger/fault/solver/solver_test.go
  op-challenger/fault/test/alphabet.go
Labels: on-merge-train

#6453 op-challenger: Add cannon-server and cannon-snapshot-freq flag
  op-challenger/cmd/main_test.go
  op-challenger/config/config.go
  op-challenger/config/config_test.go
  op-challenger/flags/flags.go
Labels: on-merge-train

#6358 feat(proxyd): sender rate limiter should check chain id
  proxyd/config.go
  proxyd/integration_tests/sender_rate_limit_test.go
  proxyd/integration_tests/testdata/sender_rate_limit.toml
  proxyd/integration_tests/testdata/testdata.txt
  proxyd/server.go
Labels: on-merge-train

#6471 op-challenger: Pass a context through to TraceProvider
  op-challenger/fault/agent.go
  op-challenger/fault/alphabet/provider.go
  op-challenger/fault/alphabet/provider_test.go
  op-challenger/fault/cannon/executor.go
  op-challenger/fault/cannon/provider.go
  op-challenger/fault/cannon/provider_test.go
  op-challenger/fault/solver/solver.go
  op-challenger/fault/solver/solver_test.go
  op-challenger/fault/test/alphabet.go
  op-challenger/fault/test/claim_builder.go
  op-challenger/fault/types/types.go
  op-e2e/e2eutils/disputegame/helper.go
Labels: on-merge-train

#6476 op-challenger: Execute cannon
  op-challenger/fault/cannon/executor.go
  op-challenger/fault/cannon/executor_test.go
  op-node/testlog/capturing.go
  op-service/log/writer.go
  op-service/log/writer_test.go
Labels: on-merge-train

#6468 contracts-bedrock: delete dead config
  packages/contracts-bedrock/deploy-config/devnetL1.json
  packages/contracts-bedrock/deploy-config/getting-started.json
  packages/contracts-bedrock/deploy-config/goerli.json
  packages/contracts-bedrock/deploy-config/hardhat.json
  packages/contracts-bedrock/deploy-config/mainnet.json
  packages/contracts-bedrock/scripts/DeployConfig.s.sol
Labels: C-Protocol-Critical

#6466 ci: delete some temporary ci steps
  .circleci/config.yml
Labels: on-merge-train

#6482 fix(ctb): Config Files for Foundry Update
  packages/contracts-bedrock/.eslintignore
  packages/contracts-bedrock/.gitignore
  packages/contracts-bedrock/.npmignore
  packages/contracts-bedrock/.prettierignore
  packages/contracts-bedrock/slither.config.json
Labels: on-merge-train

#6418 docs(fee-estimation): Update docs for fee estimation
  .changeset/twelve-wasps-sit.md
  packages/fee-estimation/README.md
Labels: on-merge-train

#6522 monorepo: cleanup recent changes
  packages/contracts-bedrock/.gitignore
  pnpm-lock.yaml
Labels: on-merge-train

#6428 contracts-bedrock: deploy config for sepolia
  op-chain-ops/genesis/config.go
  op-node/cmd/genesis/cmd.go
  packages/contracts-bedrock/deploy-config/goerli.json
  packages/contracts-bedrock/deploy-config/sepolia.json
  packages/contracts-bedrock/deployments/sepolia/.chainId
  packages/contracts-bedrock/deployments/sepolia/AddressManager.json
  packages/contracts-bedrock/deployments/sepolia/L1CrossDomainMessenger.json
  packages/contracts-bedrock/deployments/sepolia/L1CrossDomainMessengerProxy.json
  packages/contracts-bedrock/deployments/sepolia/L1ERC721Bridge.json
  packages/contracts-bedrock/deployments/sepolia/L1ERC721BridgeProxy.json
  packages/contracts-bedrock/deployments/sepolia/L1StandardBridge.json
  packages/contracts-bedrock/deployments/sepolia/L1StandardBridgeProxy.json
  packages/contracts-bedrock/deployments/sepolia/L2OutputOracle.json
  packages/contracts-bedrock/deployments/sepolia/L2OutputOracleProxy.json
  packages/contracts-bedrock/deployments/sepolia/OptimismMintableERC20Factory.json
  packages/contracts-bedrock/deployments/sepolia/OptimismMintableERC20FactoryProxy.json
  packages/contracts-bedrock/deployments/sepolia/OptimismPortal.json
  packages/contracts-bedrock/deployments/sepolia/OptimismPortalProxy.json
  packages/contracts-bedrock/deployments/sepolia/ProxyAdmin.json
  packages/contracts-bedrock/deployments/sepolia/SystemConfig.json
  packages/contracts-bedrock/deployments/sepolia/SystemConfigProxy.json
  packages/contracts-bedrock/foundry.toml
  packages/contracts-bedrock/scripts/Deployer.sol
Labels: C-Protocol-Critical

#6425 op-program: Boot program using output root
  op-e2e/actions/l2_verifier.go
  op-e2e/system_fpp_test.go
  op-node/eth/output.go
  op-node/eth/output_test.go
  op-node/node/api.go
  op-node/node/server_test.go
  op-node/rollup/output_root.go
  op-node/sources/l2_client.go
  op-node/testutils/mock_l2.go
  op-node/testutils/random.go
  op-program/client/boot.go
  op-program/client/boot_test.go
  op-program/client/l2/cache.go
  op-program/client/l2/cache_test.go
  op-program/client/l2/engine_backend.go
  op-program/client/l2/engine_backend_test.go
  op-program/client/l2/hints.go
  op-program/client/l2/oracle.go
  op-program/client/l2/oracle_test.go
  op-program/client/l2/test/stub_oracle.go
  op-program/client/program.go
  op-program/host/cmd/main_test.go
  op-program/host/config/config.go
  op-program/host/config/config_test.go
  op-program/host/flags/flags.go
  op-program/host/host.go
  op-program/host/host_test.go
  op-program/host/kvstore/local.go
  op-program/host/kvstore/local_test.go
  op-program/host/l2_client.go
  op-program/host/prefetcher/prefetcher.go
  op-program/host/prefetcher/prefetcher_test.go
  op-program/host/prefetcher/retry.go
  op-program/host/prefetcher/retry_test.go
  op-program/verify/cmd/goerli.go
Labels: on-merge-train

#6539 op-node: Enable peer scoring by default.
  op-node/flags/p2p_flags.go
Labels: on-merge-train

#6427 feat(chain-mon): Default wd-mon scan from start of FPW
  packages/chain-mon/src/wd-mon/helpers.ts
  packages/chain-mon/src/wd-mon/service.ts
Labels: on-merge-train

#6521 cannon: Support gzip compression for JSON files.
  cannon/.gitignore
  cannon/cmd/json.go
  cannon/cmd/json_test.go
Labels: on-merge-train

#6373 feat(ctb): Local preimage key support
  cannon/mipsevm/evm.go
  cannon/mipsevm/evm_test.go
  cannon/mipsevm/witness.go
  op-bindings/bindings/alphabetvm.go
  op-bindings/bindings/alphabetvm_more.go
  op-bindings/bindings/faultdisputegame.go
  op-bindings/bindings/faultdisputegame_more.go
  op-bindings/bindings/mips.go
  op-bindings/bindings/mips_more.go
  op-bindings/bindings/preimageoracle.go
  op-bindings/bindings/preimageoracle_more.go
  op-chain-ops/srcmap/solutil_test.go
  op-challenger/fault/abi_test.go
  op-e2e/e2eutils/disputegame/deploy.go
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/scripts/Deploy.s.sol
  packages/contracts-bedrock/semver-lock.json
  packages/contracts-bedrock/src/cannon/MIPS.sol
  packages/contracts-bedrock/src/cannon/PreimageKeyLib.sol
  packages/contracts-bedrock/src/cannon/PreimageOracle.sol
  packages/contracts-bedrock/src/cannon/interfaces/IPreimageOracle.sol
  packages/contracts-bedrock/src/cannon/libraries/CannonErrors.sol
  packages/contracts-bedrock/src/dispute/FaultDisputeGame.sol
  packages/contracts-bedrock/src/dispute/interfaces/IBigStepper.sol
  packages/contracts-bedrock/src/dispute/interfaces/IDisputeGame.sol
  packages/contracts-bedrock/src/dispute/interfaces/IFaultDisputeGame.sol
  packages/contracts-bedrock/src/periphery/AssetReceiver.sol
  packages/contracts-bedrock/test/FaultDisputeGame.t.sol
  packages/contracts-bedrock/test/PreimageOracle.t.sol
Labels: C-Protocol-Critical, on-merge-train

#6375 cannon: Invalid STF for branch/jump in delay slots
  cannon/mipsevm/evm_test.go
  cannon/mipsevm/mips.go
  op-bindings/bindings/mips.go
  op-bindings/bindings/mips_more.go
  packages/contracts-bedrock/src/cannon/MIPS.sol
Labels: C-Protocol-Critical
