Repository ethereum-optimism/optimism, pull requests merged in 2023-01, with the labels that each got.

#4546 contracts-bedrock: deterministic storage
  op-bindings/bindings/systemconfig.go
  op-bindings/bindings/systemconfig_more.go
  op-node/node/runtime_config.go
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/.storage-layout
  packages/contracts-bedrock/contracts/L1/SystemConfig.sol
Labels: on-merge-train

#4562 feat(ctb): check for relayed legacy messages
  op-bindings/bindings/l1crossdomainmessenger.go
  op-bindings/bindings/l1crossdomainmessenger_more.go
  op-bindings/bindings/l2crossdomainmessenger.go
  op-bindings/bindings/l2crossdomainmessenger_more.go
  op-chain-ops/crossdomain/migrate.go
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/test/L1CrossDomainMessenger.t.sol
  packages/contracts-bedrock/contracts/test/L2CrossDomainMessenger.t.sol
  packages/contracts-bedrock/contracts/universal/CrossDomainMessenger.sol
Labels: on-merge-train

#4579 op-chain-ops: better deploy config validation
  op-chain-ops/genesis/config.go
  op-node/cmd/genesis/cmd.go
Labels: on-merge-train

#4581 op-node: Add stubbed Goerli config
  op-node/chaincfg/chains.go
Labels: on-merge-train

#4566 op-node: Fix too eager advance in batch queue
  op-e2e/actions/blocktime_test.go
  op-e2e/actions/l2_batcher_test.go
  op-e2e/actions/l2_verifier_test.go
  op-node/rollup/derive/batch_queue.go
  op-node/rollup/derive/batch_queue_test.go
  op-node/rollup/derive/batches.go
  op-node/rollup/derive/batches_test.go
Labels: on-merge-train

#4582 fix(ctb): correct GPO abi and layout
  op-bindings/bindings/gaspriceoracle.go
  op-bindings/bindings/gaspriceoracle_more.go
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/.storage-layout
  packages/contracts-bedrock/contracts/L2/GasPriceOracle.sol
  packages/contracts-bedrock/contracts/test/GasPriceOracle.t.sol
Labels: on-merge-train

#4561 op-node: L1 rpc receipts fetching updates
  op-node/sources/receipts.go
  op-node/sources/receipts_test.go
  op-node/testutils/random.go
Labels: on-merge-train

#4597 fix(ctp): Downgrade `contracts-bedrock` dep to fix CI
  packages/contracts-periphery/package.json
Labels: on-merge-train

#4584 feat(ctb): receivedMessages => failedMessages
  op-bindings/bindings/l1crossdomainmessenger.go
  op-bindings/bindings/l1crossdomainmessenger_more.go
  op-bindings/bindings/l2crossdomainmessenger.go
  op-bindings/bindings/l2crossdomainmessenger_more.go
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/.storage-layout
  packages/contracts-bedrock/contracts/test/L1CrossDomainMessenger.t.sol
  packages/contracts-bedrock/contracts/test/L2CrossDomainMessenger.t.sol
  packages/contracts-bedrock/contracts/universal/CrossDomainMessenger.sol
  specs/messengers.md
Labels: on-merge-train

#4588 feat(ctb): remove unnecessary ERC721 factory code
  integration-tests/test/nft-bridge.spec.ts
  op-bindings/bindings/optimismmintableerc721factory.go
  op-bindings/bindings/optimismmintableerc721factory_more.go
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/test/OptimismMintableERC721Factory.t.sol
  packages/contracts-bedrock/contracts/universal/OptimismMintableERC721Factory.sol
Labels: on-merge-train

#4596 fix(ctb): missing FeeVault comments
  packages/contracts-bedrock/contracts/L2/BaseFeeVault.sol
  packages/contracts-bedrock/contracts/L2/L1FeeVault.sol
  packages/contracts-bedrock/contracts/L2/SequencerFeeVault.sol
  packages/contracts-bedrock/contracts/universal/FeeVault.sol
Labels: on-merge-train

#4592 fix(ctb): remove unnecessary ERC20 factory code
  op-bindings/bindings/optimismmintableerc20factory.go
  op-bindings/bindings/optimismmintableerc20factory_more.go
  op-chain-ops/genesis/layer_one_test.go
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/test/OptimismMintableERC20Factory.t.sol
  packages/contracts-bedrock/contracts/universal/OptimismMintableERC20Factory.sol
  packages/contracts-bedrock/deploy/021-SystemDictatorSteps-2.ts
Labels: on-merge-train

#4573 feat(ctb): Forge invariant tests
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/test/invariants/L2OutputOracle.t.sol
  packages/contracts-bedrock/contracts/test/invariants/OptimismPortal.t.sol
  packages/contracts-bedrock/contracts/test/invariants/SystemConfig.t.sol
  packages/contracts-bedrock/package.json
  packages/contracts-periphery/.gas-snapshot
  packages/contracts-periphery/package.json
  yarn.lock
Labels: on-merge-train

#4599 fix(ctb): comment in SequencerFeeVault
  packages/contracts-bedrock/contracts/L2/SequencerFeeVault.sol
Labels: on-merge-train

#4594 fix(ctb): minor edit to XDM comment
  packages/contracts-bedrock/contracts/universal/CrossDomainMessenger.sol
Labels: on-merge-train

#4602 specs: system config unsafe block signer
  specs/system_config.md
Labels: on-merge-train

#4587 chore(ctb): update semver to 1.0.0
  op-bindings/Makefile
  op-bindings/bindings/basefeevault.go
  op-bindings/bindings/deployerwhitelist.go
  op-bindings/bindings/gaspriceoracle.go
  op-bindings/bindings/l1block.go
  op-bindings/bindings/l1blocknumber.go
  op-bindings/bindings/l1feevault.go
  op-bindings/bindings/l2crossdomainmessenger.go
  op-bindings/bindings/l2erc721bridge.go
  op-bindings/bindings/l2standardbridge.go
  op-bindings/bindings/l2tol1messagepasser.go
  op-bindings/bindings/legacymessagepasser.go
  op-bindings/bindings/sequencerfeevault.go
  packages/contracts-bedrock/contracts/L2/BaseFeeVault.sol
  packages/contracts-bedrock/contracts/L2/GasPriceOracle.sol
  packages/contracts-bedrock/contracts/L2/L1Block.sol
  packages/contracts-bedrock/contracts/L2/L1FeeVault.sol
  packages/contracts-bedrock/contracts/L2/L2CrossDomainMessenger.sol
  packages/contracts-bedrock/contracts/L2/L2ERC721Bridge.sol
  packages/contracts-bedrock/contracts/L2/L2StandardBridge.sol
  packages/contracts-bedrock/contracts/L2/L2ToL1MessagePasser.sol
  packages/contracts-bedrock/contracts/L2/SequencerFeeVault.sol
  packages/contracts-bedrock/contracts/legacy/DeployerWhitelist.sol
  packages/contracts-bedrock/contracts/legacy/L1BlockNumber.sol
  packages/contracts-bedrock/contracts/legacy/LegacyMessagePasser.sol
  packages/contracts-bedrock/contracts/universal/OptimismMintableERC20Factory.sol
  packages/contracts-bedrock/tasks/check-l2.ts
Labels: on-merge-train

#4595 fix(ctb): correct usage of legacy in ProxyAdmin
  op-bindings/bindings/proxyadmin.go
  packages/contracts-bedrock/contracts/universal/ProxyAdmin.sol
Labels: on-merge-train

#4604 updates codeowners with round-robin review teams
  .github/CODEOWNERS
Labels: on-merge-train

#4611 fix(data transport layer): Fix typescript type resolution
  packages/data-transport-layer/package.json
  yarn.lock
Labels: on-merge-train

#4601 specs: guaranteed gas market cleanup
  specs/guaranteed-gas-market.md
Labels: on-merge-train

#4618 Update docker publish target to oplabs-tools-artifacts/images
  .circleci/config.yml
Labels: on-merge-train

#4613 op-chain-ops: export bedrock transition block extradata
  op-chain-ops/genesis/check.go
  op-chain-ops/genesis/db_migration.go
Labels: on-merge-train

#4614 fix(op-e2e): Include `action` tests in CI
  .circleci/config.yml
Labels: on-merge-train

#4541 feat(op-e2e): Deep reorg test
  op-e2e/actions/blocktime_test.go
  op-e2e/actions/l1_replica_test.go
  op-e2e/actions/reorg_test.go
  op-e2e/actions/sync_test.go
  op-e2e/e2eutils/setup.go
Labels: on-merge-train

#4620 op-node: Enforce min L2 timestamp
  op-node/rollup/derive/batches.go
  op-node/rollup/derive/batches_test.go
  specs/derivation.md
Labels: on-merge-train

#4621 op-node: Add default boot nodes
  op-node/p2p/config.go
Labels: on-merge-train

#4625 ci: Reduce block time in devnet tests
  bedrock-devnet/devnet/genesis.py
  packages/contracts-bedrock/deploy-config/devnetL1.json
Labels: on-merge-train

#4626 Update glossary.md
  specs/glossary.md
Labels: on-merge-train

#4628 Update glossary.md
  specs/glossary.md
Labels: on-merge-train

#4630 sdk: allow `deposit-eth` task to work with artifacts
  packages/sdk/hardhat.config.ts
  packages/sdk/tasks/deposit-eth.ts
Labels: sdk

#4574 feat(ctb): Invariant docgen
  .circleci/config.yml
  packages/contracts-bedrock/contracts/echidna/FuzzAddressAliasing.sol
  packages/contracts-bedrock/contracts/echidna/FuzzBurn.sol
  packages/contracts-bedrock/contracts/echidna/FuzzEncoding.sol
  packages/contracts-bedrock/contracts/echidna/FuzzHashing.sol
  packages/contracts-bedrock/contracts/echidna/FuzzOptimismPortal.sol
  packages/contracts-bedrock/contracts/echidna/FuzzResourceMetering.sol
  packages/contracts-bedrock/invariant-docs/AddressAliasing.md
  packages/contracts-bedrock/invariant-docs/Burn.md
  packages/contracts-bedrock/invariant-docs/Encoding.md
  packages/contracts-bedrock/invariant-docs/Hashing.md
  packages/contracts-bedrock/invariant-docs/L2OutputOracle.md
  packages/contracts-bedrock/invariant-docs/OptimismPortal.md
  packages/contracts-bedrock/invariant-docs/README.md
  packages/contracts-bedrock/invariant-docs/ResourceMetering.md
  packages/contracts-bedrock/invariant-docs/SystemConfig.md
  packages/contracts-bedrock/package.json
  packages/contracts-bedrock/scripts/invariant-doc-gen.ts
Labels: mergify-ignore

#4632 tests(ctb): Add invariant test for `minGasLimit`s in the L1 XDM's `relayMessage` fn
  .changeset/orange-penguins-reply.md
  packages/contracts-bedrock/contracts/test/invariants/CrossDomainMessenger.t.sol
  packages/contracts-bedrock/invariant-docs/CrossDomainMessenger.md
  packages/contracts-bedrock/invariant-docs/README.md
Labels: on-merge-train

#4638 contracts-bedrock: remove storage spacers gpo
  op-bindings/Makefile
  op-bindings/bindings/gaspriceoracle_more.go
  packages/contracts-bedrock/.storage-layout
  packages/contracts-bedrock/contracts/L2/GasPriceOracle.sol
  packages/contracts-bedrock/layout-lock.json
  packages/contracts-bedrock/scripts/storage-snapshot.sh
Labels: on-merge-train

#4643 op-node: ComputeL2OutputRoot cleanup
  op-node/rollup/output_root.go
Labels: on-merge-train

#4617 chore(ctp): Update ctb dep version
  .changeset/hot-badgers-boil.md
  op-bindings/bindings/weth9.go
  op-bindings/bindings/weth9_more.go
  packages/contracts-bedrock/foundry.toml
  packages/contracts-periphery/foundry.toml
  packages/contracts-periphery/package.json
  yarn.lock
Labels: on-merge-train

#4641 feat(ops-bedrock): Add gateway ui to make devnet-up
  ops-bedrock/devnet-up.sh
  ops-bedrock/docker-compose.yml
Labels: on-merge-train

#4655 op-e2e: Increase time buffer in missing batch test
  op-e2e/system_test.go
Labels: on-merge-train

#4656 fix(indexer): Fix flag type
  indexer/flags/flags.go
Labels: on-merge-train, indexer

#4659 op-node: Set RPC timeouts
  op-node/client/rpc.go
Labels: on-merge-train

#4660 fix(bm): tweak package json
  .changeset/cyan-cougars-push.md
  packages/balance-monitor/package.json
Labels: on-merge-train

#4661 Trigger releases
  .changeset/cyan-cougars-push.md
  indexer/flags/flags.go
  op-bindings/bindings/l2standardbridge.go
  op-bindings/bindings/l2standardbridge_more.go
  op-e2e/system_test.go
  op-node/client/rpc.go
  op-node/rollup/derive/attributes_queue.go
  op-node/rollup/derive/channel_bank.go
  op-node/rollup/derive/frame_queue.go
  op-node/rollup/derive/pipeline.go
  packages/balance-monitor/package.json
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/L2/L2StandardBridge.sol
  packages/contracts-bedrock/contracts/test/L2StandardBridge.t.sol
  specs/derivation.md
Labels: indexer

#4598 feat: make ProxyAdmin self-owned Proxy
  op-chain-ops/genesis/check.go
  op-chain-ops/genesis/layer_two_test.go
  op-chain-ops/genesis/setters.go
  packages/contracts-bedrock/tasks/check-l2.ts
  specs/predeploys.md
Labels: on-merge-train

#4667 ctb: Fix check-l2 magic check
  packages/contracts-bedrock/tasks/check-l2.ts
Labels: on-merge-train

#4668 op-node: Turn down log level of enode filtering
  op-node/p2p/discovery.go
Labels: on-merge-train

#4670 feat(ci): Update changesets to latest version
  package.json
  yarn.lock
Labels: on-merge-train

#4675 Release packages
  .changeset/many-toys-sleep.md
  .changeset/slimy-files-suffer.md
  indexer/config.go
  indexer/flags/flags.go
  indexer/indexer.go
  indexer/integration_tests/bedrock_test.go
  indexer/services/l1/service.go
  op-batcher/cmd/main.go
  op-batcher/go.mod
  op-batcher/go.sum
  op-chain-ops/genesis/check.go
  op-chain-ops/genesis/layer_two_test.go
  op-chain-ops/genesis/setters.go
  op-chain-ops/go.mod
  op-chain-ops/go.sum
  op-e2e/go.mod
  op-e2e/go.sum
  op-node/go.mod
  op-node/go.sum
  op-node/p2p/discovery.go
  op-node/version/version.go
  op-proposer/cmd/main.go
  op-proposer/go.mod
  op-proposer/go.sum
  ops/check-changed/main.py
  ops/docker/Dockerfile.packages
  package.json
  packages/contracts-bedrock/tasks/check-l2.ts
  patches/@changesets+cli+2.16.0.patch
  patches/@changesets+git+1.1.1.patch
  specs/predeploys.md
  yarn.lock
Labels: indexer

#4639 feat(ctb): commit prod Goerli config
  packages/contracts-bedrock/deploy-config/goerli.json
Labels: do-not-merge

#4687 Goerli migration working PR
  packages/contracts-bedrock/deploy/021-SystemDictatorSteps-2.ts
  packages/contracts-bedrock/src/deploy-utils.ts
Labels: on-merge-train

#4698 sdk: add in bedrock addresses
  .changeset/new-actors-yawn.md
  packages/sdk/src/utils/chain-constants.ts
Labels: sdk

#4699 Merge develop to master
  .changeset/new-actors-yawn.md
  .circleci/config.yml
  op-batcher/cmd/main.go
  op-batcher/go.mod
  op-batcher/go.sum
  op-bindings/bindings/l2outputoracle.go
  op-chain-ops/cmd/op-migrate/main.go
  op-chain-ops/genesis/check.go
  op-chain-ops/go.mod
  op-chain-ops/go.sum
  op-e2e/go.mod
  op-e2e/go.sum
  op-node/chaincfg/chains.go
  op-node/go.mod
  op-node/go.sum
  op-node/version/version.go
  op-proposer/cmd/main.go
  op-proposer/go.mod
  op-proposer/go.sum
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/L1/L2OutputOracle.sol
  packages/contracts-bedrock/contracts/test/L2OutputOracle.t.sol
  packages/contracts-bedrock/deploy-config/goerli.json
  packages/contracts-bedrock/deploy/021-SystemDictatorSteps-2.ts
  packages/contracts-bedrock/deployments/goerli/.chainId
  packages/contracts-bedrock/deployments/goerli/L1CrossDomainMessenger.json
  packages/contracts-bedrock/deployments/goerli/L1ERC721Bridge.json
  packages/contracts-bedrock/deployments/goerli/L1StandardBridge.json
  packages/contracts-bedrock/deployments/goerli/L2OutputOracle.json
  packages/contracts-bedrock/deployments/goerli/L2OutputOracleProxy.json
  packages/contracts-bedrock/deployments/goerli/OptimismMintableERC20Factory.json
  packages/contracts-bedrock/deployments/goerli/OptimismMintableERC20FactoryProxy.json
  packages/contracts-bedrock/deployments/goerli/OptimismPortal.json
  packages/contracts-bedrock/deployments/goerli/OptimismPortalProxy.json
  packages/contracts-bedrock/deployments/goerli/PortalSender.json
  packages/contracts-bedrock/deployments/goerli/ProxyAdmin.json
  packages/contracts-bedrock/deployments/goerli/SystemConfig.json
  packages/contracts-bedrock/deployments/goerli/SystemConfigProxy.json
  packages/contracts-bedrock/deployments/goerli/SystemDictator.json
  packages/contracts-bedrock/deployments/goerli/SystemDictatorProxy.json
  packages/contracts-bedrock/deployments/goerli/solcInputs/672fbec9734a08fc34112408d6dc7f7b.json
  packages/contracts-bedrock/deployments/mainnet/.chainId
  packages/contracts-bedrock/hardhat.config.ts
  packages/contracts-bedrock/src/deploy-utils.ts
  packages/contracts-bedrock/tasks/index.ts
  packages/contracts-bedrock/tasks/wait-for-final-batch.ts
  packages/contracts-bedrock/tasks/wait-for-final-deposit.ts
  packages/contracts-periphery/deployments/goerli/L1ERC721Bridge.json
  packages/sdk/src/utils/chain-constants.ts
Labels: sdk

#4706 sdk: better logs in deposit task
  packages/sdk/tasks/deposit-eth.ts
Labels: on-merge-train, sdk

#4669 op-node: gossip flood-publish, cli gossip configuration
  op-node/flags/p2p_flags.go
  op-node/p2p/cli/load_config.go
  op-node/p2p/cli/load_signer.go
  op-node/p2p/config.go
  op-node/p2p/gossip.go
  op-node/p2p/host.go
  op-node/p2p/host_test.go
  op-node/p2p/node.go
  op-node/p2p/prepared.go
  op-node/p2p/signer.go
  op-node/service.go
Labels: mergify-ignore

#4676 op-node: P2P key path check
  op-node/p2p/cli/load_config.go
Labels: mergify-ignore

#4703 specs: Doc Enhancements
  CONTRIBUTING.md
  specs/batcher.md
  specs/derivation.md
Labels: on-merge-train, indexer

#4713 feat(ctb): set up SystemConfig in step 1
  packages/contracts-bedrock/contracts/deployment/SystemDictator.sol
  packages/contracts-bedrock/deploy/020-SystemDictatorSteps-1.ts
  packages/contracts-bedrock/deploy/021-SystemDictatorSteps-2.ts
Labels: on-merge-train

#4712 op-node: add better docstring for storage slot
  op-node/node/runtime_config.go
Labels: on-merge-train

#4721 fix(dtl): sync beyond deposit shutoff block
  .changeset/unlucky-rats-sit.md
  packages/data-transport-layer/src/services/l1-ingestion/service.ts
Labels: C-Protocol-Critical

#4720 fix(op-node): Use a reader to parse `SystemConfig` update events
  op-node/rollup/derive/system_config.go
Labels: on-merge-train

#4716 op-node: Document metrics
  op-node/cmd/doc/cmd.go
  op-node/cmd/main.go
  op-node/go.mod
  op-node/metrics/caching.go
  op-node/metrics/events.go
  op-node/metrics/metrics.go
  op-service/metrics/factory.go
Labels: on-merge-train

#4730 op-chain-ops: `Withdrawal` type use `hexutil.Bytes`
  op-chain-ops/crossdomain/migrate.go
  op-chain-ops/crossdomain/withdrawal.go
Labels: on-merge-train

#4718 specs: cleanup/update bedrock derivation specs
  specs/derivation.md
Labels: on-merge-train

#4744 fix(ctb): ERC20 bridge events
  op-bindings/bindings/l1standardbridge.go
  op-bindings/bindings/l2standardbridge.go
  op-bindings/bindings/l2standardbridge_more.go
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/L1/L1StandardBridge.sol
  packages/contracts-bedrock/contracts/L2/L2StandardBridge.sol
  packages/contracts-bedrock/contracts/test/L1StandardBridge.t.sol
  packages/contracts-bedrock/contracts/test/L2StandardBridge.t.sol
  packages/contracts-bedrock/contracts/universal/StandardBridge.sol
  packages/contracts-bedrock/tasks/check-l2.ts
Labels: on-merge-train

#4731 op-chain-ops: add getter for cdm
  op-chain-ops/crossdomain/legacy_withdrawal.go
Labels: on-merge-train

#4748 docs: Add Bedrock and Periphery Audit
  technical-documents/security-reviews/2022_09-Bedrock_and_Periphery-Zeppelin.pdf
Labels: on-merge-train

#4733 ctp: update AttestationStation to 1.1.0
  .changeset/strong-crabs-accept.md
  packages/contracts-periphery/.gas-snapshot
  packages/contracts-periphery/contracts/foundry-tests/AttestationStation.t.sol
  packages/contracts-periphery/contracts/universal/op-nft/AttestationStation.sol
Labels: on-merge-train

#4741 fix: Allow unknown options in base service v2
  .changeset/rich-trains-exist.md
  packages/common-ts/src/base-service/base-service-v2.ts
Labels: common-ts

#4745 l2geth: default gascap
  .changeset/good-paws-deliver.md
  l2geth/cmd/utils/flags.go
  l2geth/eth/config.go
Labels: C-Protocol-Critical

#4684 op-proposer: Cleanup
  op-e2e/actions/l2_proposer.go
  op-e2e/migration_test.go
  op-e2e/setup.go
  op-proposer/mock/l1client.go
  op-proposer/proposer/config.go
  op-proposer/proposer/driver.go
  op-proposer/proposer/interface.go
  op-proposer/proposer/l2_output_submitter.go
  op-proposer/proposer/service.go
  op-proposer/proposer/utils.go
Labels: on-merge-train

#4752 Add scaffolding for new 'two-step-monitor' package
  packages/two-step-monitor/.depcheckrc
  packages/two-step-monitor/.env.example
  packages/two-step-monitor/.eslintrc.js
  packages/two-step-monitor/.gitignore
  packages/two-step-monitor/.lintstagedrc.yml
  packages/two-step-monitor/.prettierrc.js
  packages/two-step-monitor/LICENSE
  packages/two-step-monitor/README.md
  packages/two-step-monitor/hardhat.config.ts
  packages/two-step-monitor/package.json
  packages/two-step-monitor/src/index.ts
  packages/two-step-monitor/src/service.ts
  packages/two-step-monitor/test/setup.ts
  packages/two-step-monitor/tsconfig.json
Labels: mergify-ignore

#4714 contracts-bedrock: Missing Event Tests
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/test/L1StandardBridge.t.sol
  packages/contracts-bedrock/contracts/test/L2StandardBridge.t.sol
Labels: on-merge-train

#4761 op-bindings: Check for duplicate artifacts
  op-bindings/hardhat/hardhat.go
  op-bindings/hardhat/hardhat_test.go
  op-bindings/hardhat/testdata/deployments/alpha/OptimismPortal.json
  op-bindings/hardhat/testdata/deployments/alpha/OptimismPortalProxy.json
Labels: on-merge-train

#4759 proxyd: Add sender-based rate limiter
  .changeset/quiet-chairs-count.md
  proxyd/backend.go
  proxyd/config.go
  proxyd/integration_tests/sender_rate_limit_test.go
  proxyd/integration_tests/testdata/sender_rate_limit.toml
  proxyd/integration_tests/testdata/testdata.txt
  proxyd/integration_tests/validation_test.go
  proxyd/proxyd.go
  proxyd/server.go
Labels: on-merge-train

#4766 feat: op-node docs
  op-node/heartbeat/service.go
  op-node/metrics/metrics.go
  op-node/p2p/gossip.go
  op-node/p2p/node.go
  op-node/sources/batching.go
  op-node/sources/eth_client.go
  op-node/sources/l1_client.go
  op-node/sources/l2_client.go
Labels: on-merge-train

#4762 op-chain-ops: Use precalculated mint events
  op-chain-ops/ether/migrate.go
  op-chain-ops/ether/precheck.go
  op-chain-ops/ether/util.go
  op-chain-ops/genesis/db_migration.go
Labels: on-merge-train

#4770 fix(cmn): waitForProvider logging bug
  .changeset/kind-dodos-rest.md
  packages/common-ts/src/common/provider.ts
Labels: on-merge-train, common-ts

#4781 fix spec/assets/engine.svg
  specs/assets/engine.svg
Labels: on-merge-train

#4765 feat: l1 and l2 source validation
  op-node/node/node.go
  op-node/rollup/types.go
  op-node/rollup/types_test.go
  op-node/sources/eth_client.go
Labels: on-merge-train

#4688 feat(e2e): Garbage batch test
  op-e2e/actions/garbage_channel_out.go
  op-e2e/actions/l2_batcher.go
  op-e2e/actions/l2_batcher_test.go
Labels: on-merge-train

#4784 fix batch-deriv-chain.svg
  specs/assets/batch-deriv-chain.svg
Labels: on-merge-train

#4788 op-batcher: better error handling logic
  op-batcher/batcher/txmgr.go
Labels: on-merge-train

#4777 feat(op-chain-ops): EOF Crawler CLI tool
  op-chain-ops/cmd/eof-crawler/main.go
  op-chain-ops/eof/README.md
  op-chain-ops/eof/eof_crawler.go
Labels: on-merge-train

#4790 op-node: Fix disable p2p
  op-node/cmd/main.go
  op-node/p2p/config.go
  op-node/p2p/prepared.go
Labels: on-merge-train

#4755 op-node: implement EngineControl interface
  op-node/rollup/derive/engine_queue.go
  op-node/rollup/derive/engine_update.go
  op-node/rollup/derive/pipeline.go
Labels: on-merge-train

#4756 op-node: implement metered EngineControl, a wrapper to capture metrics
  op-node/rollup/driver/metered_engine.go
Labels: on-merge-train

#4757 op-node: refactor sequencer to use EngineControl, test sequencing
  op-e2e/actions/l2_sequencer.go
  op-node/rollup/derive/pipeline.go
  op-node/rollup/driver/driver.go
  op-node/rollup/driver/sequencer.go
  op-node/rollup/driver/sequencer_test.go
  op-node/rollup/driver/state.go
  op-node/rollup/driver/state_tob_test.go
Labels: on-merge-train

#4795 feat(ctp): ATST 1.1.0 artifacts
  packages/contracts-periphery/deployments/optimism-goerli/AttestationStation.json
  packages/contracts-periphery/deployments/optimism-goerli/solcInputs/3aa2ad7d005d9515a1f12df8da17d178.json
  packages/contracts-periphery/deployments/optimism/AttestationStation.json
  packages/contracts-periphery/deployments/optimism/solcInputs/3aa2ad7d005d9515a1f12df8da17d178.json
Labels: on-merge-train

#4791 feat(l2g): properly return NonceTooHigh
  .changeset/thin-toes-remember.md
  l2geth/core/tx_pool.go
Labels: C-Protocol-Critical, on-merge-train

#4796 proxyd: Add missing req_id to log entry
  .changeset/late-radios-suffer.md
  proxyd/server.go
Labels: on-merge-train

#4539 op-chain-ops: update script to submit pending withdrawals
  op-chain-ops/cmd/withdrawals/main.go
  op-chain-ops/crossdomain/legacy_withdrawal.go
  op-chain-ops/crossdomain/message.go
  op-chain-ops/crossdomain/withdrawals_test.go
  op-chain-ops/go.mod
  op-chain-ops/go.sum
Labels: on-merge-train

#4780 [ENG-2626] op-batcher: Efficient batching
  op-batcher/batcher/channel_builder.go
  op-batcher/batcher/channel_manager.go
  op-batcher/batcher/config.go
  op-batcher/batcher/driver.go
  op-batcher/batcher/seq_driver.go
  op-batcher/flags/flags.go
  op-e2e/actions/garbage_channel_out.go
  op-e2e/actions/l2_batcher.go
  op-e2e/migration_test.go
  op-e2e/setup.go
  op-e2e/system_test.go
  op-node/rollup/derive/channel_out.go
  op-node/rollup/derive/channel_out_test.go
  ops-bedrock/docker-compose.yml
Labels: on-merge-train

#4799 Typo
  specs/withdrawals.md
Labels: on-merge-train

#4746 Test for both legacy and new events in bridges
  .circleci/config.yml
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/test/L1StandardBridge.t.sol
  packages/contracts-bedrock/contracts/test/L2StandardBridge.t.sol
Labels: on-merge-train

#4803 maint(ctb): clean up various test files
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/test/MerkleTrie.t.sol
  packages/contracts-bedrock/contracts/test/MintManager.t.sol
  packages/contracts-bedrock/contracts/test/RLPReader.t.sol
  packages/contracts-bedrock/contracts/test/RLPWriter.t.sol
  packages/contracts-bedrock/contracts/test/SafeCall.t.sol
Labels: on-merge-train

#4808 op-node: ensure sequencer selects L1 origin within sequencer time drift and use conf depth util
  op-e2e/actions/l2_sequencer.go
  op-node/rollup/driver/driver.go
  op-node/rollup/driver/origin_selector.go
  op-node/rollup/driver/origin_selector_test.go
  op-node/rollup/driver/sequencer.go
  op-node/rollup/driver/sequencer_test.go
  op-node/rollup/driver/state.go
Labels: on-merge-train

#4806 allow body parser options to be passed in
  .changeset/tasty-adults-design.md
  packages/common-ts/src/base-service/base-service-v2.ts
Labels: common-ts

#4786 op-batcher: Simplify configs, dedup init, & simplify init code
  op-batcher/batcher/batch_submitter.go
  op-batcher/batcher/config.go
  op-batcher/batcher/driver.go
  op-batcher/batcher/seq_driver.go
  op-batcher/batcher/txmgr.go
  op-batcher/cmd/main.go
  op-batcher/go.mod
  op-batcher/go.sum
  op-e2e/migration_test.go
  op-e2e/setup.go
Labels: on-merge-train

#4812 ctp: delete hardhat drippie tests
  packages/contracts-periphery/test/contracts/universal/drippie/Drippie.spec.ts
Labels: on-merge-train
