Repository ethereum-optimism/optimism, pull requests merged in 2023-06, with the labels that each got.

#5836 contracts-bedrock: Convert Echidna tests to Forge invariants for Encoding library
  packages/contracts-bedrock/contracts/test/invariants/Encoding.t.sol
  packages/contracts-bedrock/invariant-docs/Encoding.md
Labels: on-merge-train

#5768 feat(bedrock): Upgrade contract addresses for sdk
  .changeset/three-colts-march.md
  packages/sdk/src/utils/chain-constants.ts
Labels: on-merge-train, sdk

#5851 contracts-bedrock: Convert Echidna tests to Forge invariants for Hashing library
  packages/contracts-bedrock/contracts/test/invariants/Hashing.t.sol
  packages/contracts-bedrock/invariant-docs/Hashing.md
Labels: on-merge-train

#5800 op-node: fix TestMultiPeerSync race condition
  op-node/p2p/sync.go
  op-node/p2p/sync_test.go
Labels: on-merge-train

#5867 fix(docs/op-stack): Try to fix the reload code
  docs/op-stack/src/.vuepress/enhanceApp.js
Labels: on-merge-train

#5854 Update derivation.md
  specs/derivation.md
Labels: on-merge-train

#5878 Revert "TEMP: delete this commit"
  packages/sdk/src/utils/chain-constants.ts
Labels: sdk

#5883 feat(indexer): Add script to update prisma ui
  indexer/docker-compose.yml
  indexer/ui/Dockerfile
  indexer/ui/README.md
  indexer/ui/prisma.sh
  indexer/ui/schema.prisma
Labels: indexer

#5884 op-chain-ops: Add additional logging to legacy balances migration
  op-chain-ops/ether/migrate.go
Labels: on-merge-train

#5637 [op-batcher] Multiple pending channels
  op-batcher/batcher/channel.go
  op-batcher/batcher/channel_manager.go
  op-batcher/batcher/channel_manager_test.go
  op-batcher/batcher/channel_test.go
  op-batcher/batcher/config.go
  op-batcher/compressor/config.go
  op-e2e/setup.go
  op-e2e/system_test.go
Labels: on-merge-train

#5861 feat(indexer) schemas and database module
  indexer/database/blocks.go
  indexer/database/bridge.go
  indexer/database/contract_events.go
  indexer/database/db.go
  indexer/database/types.go
  indexer/go.mod
  indexer/go.sum
  indexer/migrations/20230523_create_schema.sql
Labels: on-merge-train, indexer

#5840 [indexer] consolidate retrieval of finalized headers
  indexer/go.mod
  indexer/node/bigint.go
  indexer/node/bigint_test.go
  indexer/node/client.go
  indexer/node/client_test.go
  indexer/node/fetcher.go
  indexer/node/fetcher_test.go
Labels: on-merge-train, indexer

#5892 Fix path of AddressManager.json in CheckForBedrockMigration.s.sol.
  packages/contracts-bedrock/scripts/multisig/CheckForBedrockMigration.s.sol
Labels: on-merge-train

#5903 feat(op-node): Finalize Mainnet Rollup Config
  op-node/chaincfg/chains.go
Labels: on-merge-train

#5870 op-node: Add a histogram to report current peer scores
  op-node/flags/p2p_flags.go
  op-node/metrics/metrics.go
  op-node/p2p/band_scorer_test.go
  op-node/p2p/cli/load_config.go
  op-node/p2p/config.go
  op-node/p2p/mocks/GossipMetricer.go
  op-node/p2p/mocks/Peerstore.go
  op-node/p2p/mocks/ScoreMetrics.go
  op-node/p2p/monitor/mocks/PeerManager.go
  op-node/p2p/monitor/peer_monitor_test.go
  op-node/p2p/node.go
  op-node/p2p/peer_scorer.go
  op-node/p2p/peer_scorer_test.go
  op-node/p2p/peer_scores_test.go
  op-node/p2p/prepared.go
  op-node/p2p/store/iface.go
  op-node/p2p/store/ip_ban_book.go
  op-node/p2p/store/peer_ban_book.go
  op-node/p2p/store/records_book.go
  op-node/p2p/store/scorebook.go
  op-node/p2p/store/scorebook_test.go
Labels: on-merge-train

#5839 Ensure generated CI mocks are up to date
  .circleci/config.yml
  Makefile
  op-node/Makefile
  op-node/p2p/gating/mocks/BlockingConnectionGater.go
  op-node/p2p/gating/mocks/ExpiryStore.go
  op-node/p2p/gating/mocks/Scores.go
  op-node/p2p/mocks/GossipMetricer.go
  op-node/p2p/mocks/Peerstore.go
  op-node/p2p/mocks/ScoreMetrics.go
  op-node/p2p/monitor/mocks/PeerManager.go
  op-service/Makefile
  op-service/txmgr/mocks/TxManager.go
Labels: on-merge-train

#5829 feat: Add indexer.toml file
  indexer/cmd/indexer-refresh/main.go
  indexer/config/config.go
  indexer/config/config_test.go
  indexer/go.mod
  indexer/go.sum
  indexer/indexer.toml
Labels: indexer

#5910 feat(indexer) processor module with basic l1Processor & l2Processor
  indexer/cmd/indexer-refresh/main.go
  indexer/database/blocks.go
  indexer/database/bridge.go
  indexer/database/contract_events.go
  indexer/database/db.go
  indexer/indexer.go
  indexer/node/bigint.go
  indexer/node/client.go
  indexer/node/client_test.go
  indexer/node/fetcher.go
  indexer/node/fetcher_test.go
  indexer/processor/l1_processor.go
  indexer/processor/l2_processor.go
  indexer/processor/processor.go
Labels: indexer

#5857 contracts-bedrock: simplify hh config for mainnet
  packages/contracts-bedrock/hardhat.config.ts
Labels: on-merge-train

#5853 feat(ctb): Copy goerli Lib_AddressManager deployment to bedrock
  packages/contracts-bedrock/deployments/goerli/AddressManager.json
Labels: on-merge-train

#5917 feat(indexer): Add cli app
  indexer/cli/cli.go
  indexer/cmd/indexer-refresh/main.go
  indexer/example.env
Labels: indexer

#5935 op-node: support erigon_getBlockReceiptsByBlockHash
  op-node/sources/receipts.go
  op-node/sources/receipts_test.go
Labels: on-merge-train

#5865 op-batcher: Add metrics for pending L2 transaction data size
  op-batcher/batcher/channel_manager.go
  op-batcher/metrics/metrics.go
  op-batcher/metrics/noop.go
Labels: on-merge-train

#5938 op-geth: Pull in latest op-geth changes (v1.101106.0-rc.2)
  go.mod
  go.sum
Labels: on-merge-train

#5953 deps(indexer): Use latest version of go-chi
  indexer/api/api.go
  indexer/go.mod
  indexer/go.sum
Labels: on-merge-train, indexer

#5919 feat: Add example.env
  packages/fault-detector/example.env
  packages/fault-detector/package.json
  packages/fault-detector/src/service.ts
  yarn.lock
Labels: on-merge-train

#5936 op-node: TestChannelBankInterleaved
  op-node/rollup/derive/channel_bank_test.go
Labels: on-merge-train

#5911 feat(op-challenger): Parse Logs
  op-challenger/challenger/output.go
  op-challenger/challenger/output_test.go
Labels: on-merge-train

#5943 fix(indexer): return listen error in api
  indexer/api/api.go
Labels: on-merge-train, indexer

#5966 fix(docs): Update contracts directory references
  .eslintrc.js
  README.md
  packages/fault-detector/README.md
Labels: on-merge-train

#5945 chore(indexer): Update git ignroe to ignore binaries
  indexer/.gitignore
Labels: indexer

#5946 feat(indexer): Add healthz to api
  indexer/api/api.go
  indexer/api/api_test.go
Labels: on-merge-train, indexer

#5947 feat(indexer): Add indexer-refresh to makefile
  indexer/Makefile
Labels: on-merge-train, indexer

#5920 feat(sdk): Make bedrock the default
  .changeset/fair-poems-give.md
  packages/fault-detector/src/service.ts
  packages/sdk/src/cross-chain-messenger.ts
  packages/sdk/test/cross-chain-messenger.spec.ts
Labels: sdk

#5968 feat(indexer): index all L1 & L2 contract events
  indexer/database/bridge.go
  indexer/database/contract_events.go
  indexer/indexer.go
  indexer/processor/l1_processor.go
  indexer/processor/l2_processor.go
Labels: indexer

#5886 contracts-bedrock: add withdrawal network and make withdrawal minimum configurable
  docs/op-stack/src/docs/build/conf.md
  op-bindings/bindings/basefeevault.go
  op-bindings/bindings/l1feevault.go
  op-bindings/bindings/sequencerfeevault.go
  op-bindings/bindings/sequencerfeevault_more.go
  op-chain-ops/genesis/config.go
  op-chain-ops/genesis/testdata/test-deploy-config-devnet-l1.json
  op-chain-ops/genesis/testdata/test-deploy-config-full.json
  op-chain-ops/immutables/immutables.go
  op-chain-ops/immutables/immutables_test.go
  op-e2e/e2eutils/setup.go
  op-e2e/setup.go
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/L2/BaseFeeVault.sol
  packages/contracts-bedrock/contracts/L2/L1FeeVault.sol
  packages/contracts-bedrock/contracts/L2/SequencerFeeVault.sol
  packages/contracts-bedrock/contracts/test/CommonTest.t.sol
  packages/contracts-bedrock/contracts/test/FeeVault.t.sol
  packages/contracts-bedrock/contracts/test/SequencerFeeVault.t.sol
  packages/contracts-bedrock/contracts/universal/FeeVault.sol
  packages/contracts-bedrock/deploy-config/devnetL1.json
  packages/contracts-bedrock/deploy-config/getting-started.json
  packages/contracts-bedrock/deploy-config/goerli.json
  packages/contracts-bedrock/deploy-config/hardhat.json
  packages/contracts-bedrock/deploy-config/internal-devnet.json
  packages/contracts-bedrock/deploy-config/local.ts
  packages/contracts-bedrock/deploy-config/mainnet.json
  packages/contracts-bedrock/deploy/106-SequencerFeeVaultImpl.ts
  packages/contracts-bedrock/deploy/107-BaseFeeVaultImpl.ts
  packages/contracts-bedrock/deploy/108-L1FeeVaultImpl.ts
  packages/contracts-bedrock/src/deploy-config.ts
  packages/contracts-bedrock/tasks/check-l2.ts
Labels: C-Protocol-Critical

#5994 fix(op-challenger,op-chain-ops): Use op-service address parsing
  op-chain-ops/cmd/withdrawals/main.go
  op-challenger/config/config.go
Labels: on-merge-train

#5995 fix UUID related compile failure
  indexer/api/api_test.go
Labels: indexer

#5996 op-chain-ops: delete migration code
  go.mod
  go.sum
  indexer/api/api_test.go
  op-chain-ops/Dockerfile
  op-chain-ops/cmd/check-migration/main.go
  op-chain-ops/cmd/inject-mints/main.go
  op-chain-ops/cmd/op-migrate/main.go
  op-chain-ops/cmd/rollover/main.go
  op-chain-ops/cmd/withdrawals/main.go
  op-chain-ops/crossdomain/migrate.go
  op-chain-ops/crossdomain/params.go
  op-chain-ops/crossdomain/precheck.go
  op-chain-ops/crossdomain/precheck_test.go
  op-chain-ops/crossdomain/types.go
  op-chain-ops/crossdomain/types_test.go
  op-chain-ops/crossdomain/withdrawals.go
  op-chain-ops/crossdomain/withdrawals_test.go
  op-chain-ops/crossdomain/witness.go
  op-chain-ops/crossdomain/witness_test.go
  op-chain-ops/ether/addresses.go
  op-chain-ops/ether/cli.go
  op-chain-ops/ether/db.go
  op-chain-ops/ether/migrate.go
  op-chain-ops/ether/migrate_test.go
  op-chain-ops/ether/storage.go
  op-chain-ops/genesis/check.go
  op-chain-ops/genesis/db_migration.go
  op-chain-ops/genesis/genesis.go
  op-chain-ops/genesis/migration_action/action.go
  op-chain-ops/genesis/setters.go
  op-chain-ops/genesis/setters_test.go
  op-chain-ops/genesis/test_util.go
  op-chain-ops/util/state_iterator.go
  op-chain-ops/util/state_iterator_test.go
  op-chain-ops/util/util.go
Labels: on-merge-train, indexer

#5974 make extradata configurable for the genesis block generator
  op-chain-ops/genesis/config.go
  op-chain-ops/genesis/config_test.go
  op-chain-ops/genesis/genesis.go
  op-chain-ops/genesis/testdata/test-deploy-config-full.json
Labels: on-merge-train

#5989 op-batcher: Fix intermittency in TestChannelBuilder_PendingFrames_TotalFrames
  op-batcher/batcher/channel_builder_test.go
  op-node/testutils/random.go
  op-node/testutils/random_keys.go
Labels: on-merge-train

#5999 ci: delete dead job
  .circleci/config.yml
Labels: on-merge-train

#5998 indexer: cleanup legacy code
  indexer/Dockerfile
  indexer/Makefile
  indexer/bindings/legacy/scc/statecommitmentchain.go
  indexer/contracts/ERC20.sol/ERC20.json
  indexer/go.mod
  indexer/go.sum
  indexer/services/addresses.go
  indexer/services/l1/bridge/bridge.go
  indexer/services/l1/bridge/filter.go
  indexer/services/l1/query.go
  indexer/services/l1/service.go
Labels: on-merge-train, indexer

#5940 op-service: Update retryingClient to handle individual elements in a batch failing
  op-service/Makefile
  op-service/client/retry.go
  op-service/client/retry_test.go
Labels: on-merge-train

#5997 core-utils: delete dead fee docs
  packages/core-utils/README.md
Labels: on-merge-train

#5991 op-node: Require peer scoring params to be valid if set
  op-e2e/system_test.go
  op-node/p2p/cli/load_config.go
  op-node/p2p/config.go
  op-node/p2p/gossip.go
  op-node/p2p/host.go
  op-node/p2p/peer_scores.go
  op-node/p2p/peer_scores_test.go
Labels: on-merge-train

#6004 op-node: fix chain ID/hash check errors
  op-node/rollup/types.go
Labels: on-merge-train

#6005 feat(ctb): Append Only Array in DisputeGameFactory
  op-bindings/bindings/disputegamefactory.go
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/.storage-layout
  packages/contracts-bedrock/contracts/dispute/DisputeGameFactory.sol
  packages/contracts-bedrock/contracts/dispute/interfaces/IDisputeGameFactory.sol
  packages/contracts-bedrock/contracts/test/DisputeGameFactory.t.sol
Labels: C-Protocol-Critical, on-merge-train

#5864 feat(proxyd): add consensus_getReceipts meta method
  proxyd/README.md
  proxyd/backend.go
  proxyd/config.go
  proxyd/example.config.toml
  proxyd/go.mod
  proxyd/go.sum
  proxyd/integration_tests/consensus_test.go
  proxyd/integration_tests/testdata/consensus.toml
  proxyd/integration_tests/testdata/consensus_responses.yml
  proxyd/proxyd.go
  proxyd/rewriter.go
  proxyd/server.go
  proxyd/tools/mockserver/handler/handler.go
Labels: on-merge-train

#5982 feat(ctb): Change `GameType` from an `enum` -> `uint8`
  op-bindings/bindings/disputegamefactory.go
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/.storage-layout
  packages/contracts-bedrock/contracts/dispute/BondManager.sol
  packages/contracts-bedrock/contracts/libraries/DisputeTypes.sol
  packages/contracts-bedrock/contracts/test/BondManager.t.sol
  packages/contracts-bedrock/contracts/test/DisputeGameFactory.t.sol
Labels: C-Protocol-Critical, on-merge-train

#5986 Support non-legacy L2 deployments with optional governance
  op-bindings/predeploys/addresses.go
  op-chain-ops/genesis/config.go
  op-chain-ops/genesis/layer_two.go
  op-chain-ops/genesis/layer_two_test.go
  op-chain-ops/genesis/testdata/test-deploy-config-devnet-l1.json
  op-chain-ops/genesis/testdata/test-deploy-config-full.json
  op-chain-ops/state/memory_db.go
  packages/contracts-bedrock/deploy-config/devnetL1.json
  packages/contracts-bedrock/deploy-config/getting-started.json
  packages/contracts-bedrock/deploy-config/goerli-forked.json
  packages/contracts-bedrock/deploy-config/goerli.json
  packages/contracts-bedrock/deploy-config/hardhat.json
  packages/contracts-bedrock/deploy-config/internal-devnet.json
  packages/contracts-bedrock/deploy-config/local.ts
  packages/contracts-bedrock/deploy-config/mainnet.json
  packages/contracts-bedrock/src/deploy-config.ts
Labels: on-merge-train

#6010 devnet: unify tooling for how to bring up devnet
  Makefile
  bedrock-devnet/devnet/__init__.py
  ops-bedrock/devnet-up.sh
Labels: on-merge-train

#6011 cleanup: contracts-bedrock rehearsal script
  packages/contracts-bedrock/scripts/eoa-migration.sh
Labels: on-merge-train

#6017 feat(ctb): Remove PoPs `BondManager` impl
  packages/contracts-bedrock/.storage-layout
  packages/contracts-bedrock/contracts/dispute/BondManager.sol
  packages/contracts-bedrock/contracts/test/BondManager.t.sol
  packages/contracts-bedrock/scripts/storage-snapshot.sh
Labels: C-Protocol-Critical

#6012 feat: upgradable dgf
  op-bindings/bindings/disputegamefactory.go
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/.storage-layout
  packages/contracts-bedrock/contracts/dispute/DisputeGameFactory.sol
  packages/contracts-bedrock/contracts/test/DisputeGameFactory.t.sol
Labels: C-Protocol-Critical

#5985 contracts-bedrock: Convert Echidna tests to Forge invariants for ResourceMetering
  packages/contracts-bedrock/contracts/test/invariants/ResourceMetering.t.sol
  packages/contracts-bedrock/invariant-docs/ResourceMetering.md
Labels: C-Protocol-Critical, on-merge-train

#6016 feat(ctb): `toNibbles` optimization.
  op-bindings/bindings/optimismportal.go
  op-bindings/bindings/optimismportal_more.go
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/L1/OptimismPortal.sol
  packages/contracts-bedrock/contracts/libraries/Bytes.sol
  packages/contracts-bedrock/contracts/test/Bytes.t.sol
Labels: C-Protocol-Critical, on-merge-train

#6013 unify genesis factories
  op-bindings/predeploys/addresses.go
  op-chain-ops/genesis/layer_two.go
  op-chain-ops/genesis/layer_two_test.go
  op-chain-ops/genesis/setters.go
  op-e2e/e2eutils/setup.go
  op-e2e/op_geth.go
  op-e2e/setup.go
  op-node/cmd/genesis/cmd.go
  packages/contracts-bedrock/tasks/check-l2.ts
  specs/predeploys.md
Labels: on-merge-train

#6008 feat(c-mon): Add wallet-mon service
  .changeset/moody-foxes-enjoy.md
  ops/docker/Dockerfile.packages
  packages/chain-mon/.env.example
  packages/chain-mon/package.json
  packages/chain-mon/src/index.ts
  packages/chain-mon/src/wallet-mon/service.ts
  packages/core-utils/src/common/misc.ts
Labels: on-merge-train

#6002 op-node: Fix TestMultiPeerSync flakiness
  op-node/p2p/sync.go
  op-node/p2p/sync_test.go
Labels: on-merge-train

#6018 contracts-bedrock: delete multisig package for upgrade
  packages/contracts-bedrock/scripts/multisig/CheckForBedrockMigration.s.sol
  packages/contracts-bedrock/scripts/multisig/README.md
  packages/contracts-bedrock/scripts/multisig/json/mainnet-migration/b1.json
  packages/contracts-bedrock/scripts/multisig/json/mainnet-migration/b2.json
  packages/contracts-bedrock/scripts/multisig/json/mainnet-migration/b3.json
  packages/contracts-bedrock/scripts/multisig/json/mainnet-migration/escapeHatch.json
Labels: C-Protocol-Critical

#5984 feat(ctb): Start bisection game
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/dispute/FaultDisputeGame.sol
  packages/contracts-bedrock/contracts/dispute/interfaces/IDisputeGame.sol
  packages/contracts-bedrock/contracts/dispute/interfaces/IFaultDisputeGame.sol
  packages/contracts-bedrock/contracts/dispute/lib/LibClock.sol
  packages/contracts-bedrock/contracts/dispute/lib/LibHashing.sol
  packages/contracts-bedrock/contracts/dispute/lib/LibPosition.sol
  packages/contracts-bedrock/contracts/libraries/DisputeErrors.sol
  packages/contracts-bedrock/contracts/libraries/DisputeTypes.sol
  packages/contracts-bedrock/contracts/test/FaultDisputeGame.t.sol
  packages/contracts-bedrock/contracts/test/LibClock.t.sol
  packages/contracts-bedrock/contracts/test/LibPosition.t.sol
Labels: C-Protocol-Critical

#6037 feat(ctb): Tests for bisection
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/dispute/FaultDisputeGame.sol
  packages/contracts-bedrock/contracts/libraries/DisputeErrors.sol
  packages/contracts-bedrock/contracts/test/FaultDisputeGame.t.sol
Labels: C-Protocol-Critical

#6036 chore: No new line at end of vscode settings.json
  .vscode/settings.json
Labels: on-merge-train

#6000 fix(ctb): Update Deploys
  packages/contracts-bedrock/contracts/deployment/PortalSender.sol
  packages/contracts-bedrock/contracts/deployment/SystemDictator.sol
  packages/contracts-bedrock/deploy-config/devnetL1.json
  packages/contracts-bedrock/deploy/000-AddressManager.ts
  packages/contracts-bedrock/deploy/000-ProxyAdmin.ts
  packages/contracts-bedrock/deploy/001-AddressManager.ts
  packages/contracts-bedrock/deploy/001-ProxyAdmin.ts
  packages/contracts-bedrock/deploy/002-L1StandardBridgeProxy.ts
  packages/contracts-bedrock/deploy/004-L1CrossDomainMessengerProxy.ts
  packages/contracts-bedrock/deploy/007-L1ERC721BridgeProxy.ts
  packages/contracts-bedrock/deploy/009-L1CrossDomainMessengerImpl.ts
  packages/contracts-bedrock/deploy/010-L1StandardBridgeImpl.ts
  packages/contracts-bedrock/deploy/011-L2OutputOracleImpl.ts
  packages/contracts-bedrock/deploy/012-OptimismPortalImpl.ts
  packages/contracts-bedrock/deploy/013-OptimismMintableERC20FactoryImpl.ts
  packages/contracts-bedrock/deploy/014-L1ERC721BridgeImpl.ts
  packages/contracts-bedrock/deploy/015-SystemConfigImpl.ts
  packages/contracts-bedrock/deploy/016-PortalSenderImpl.ts
  packages/contracts-bedrock/deploy/016-SetAddressManager.ts
  packages/contracts-bedrock/deploy/017-L2OutputOracleInit.ts
  packages/contracts-bedrock/deploy/018-OptimismPortalInit.ts
  packages/contracts-bedrock/deploy/018-SystemDictatorImpl.ts
  packages/contracts-bedrock/deploy/019-L1CrossDomainMessengerInit.ts
  packages/contracts-bedrock/deploy/019-SystemDictatorInit.ts
  packages/contracts-bedrock/deploy/020-SystemConfigInit.ts
  packages/contracts-bedrock/deploy/020-SystemDictatorSteps-1.ts
  packages/contracts-bedrock/deploy/021-L1StandardBridgeInit.ts
  packages/contracts-bedrock/deploy/021-SystemDictatorSteps-2.ts
  packages/contracts-bedrock/deploy/022-ERC721BridgeInit.ts
  packages/contracts-bedrock/deploy/023-OptimismMintableERC20FactoryInit.ts
  packages/contracts-bedrock/deploy/024-ProxyAdminTransferOwnership.ts
  packages/contracts-bedrock/src/deploy-utils.ts
Labels: C-Protocol-Critical

#6028 fix(ctb): Initialize DisputeGameFactory in Constructor
  op-bindings/bindings/disputegamefactory.go
  packages/contracts-bedrock/contracts/dispute/DisputeGameFactory.sol
  packages/contracts-bedrock/contracts/test/DisputeGameFactory.t.sol
  packages/contracts-bedrock/contracts/test/FaultDisputeGame.t.sol
Labels: C-Protocol-Critical

#6041 fix(ctb): Cleanup deploy-utils
  packages/contracts-bedrock/src/deploy-utils.ts
Labels: on-merge-train

#6020 contracts-bedrock: tightly pack creation timestamp
  op-bindings/bindings/disputegamefactory.go
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/.storage-layout
  packages/contracts-bedrock/contracts/dispute/DisputeGameFactory.sol
  packages/contracts-bedrock/contracts/dispute/interfaces/IDisputeGameFactory.sol
  packages/contracts-bedrock/contracts/libraries/DisputeTypes.sol
  packages/contracts-bedrock/contracts/test/DisputeGameFactory.t.sol
  packages/contracts-bedrock/contracts/test/FaultDisputeGame.t.sol
Labels: C-Protocol-Critical

#6048 chore(ops): Fix ci-builder release action
  ops/scripts/ci-docker-tag-op-stack-release.sh
  ops/tag-service/tag-service.py
Labels: on-merge-train

#6044 feat(ctb): Move the Style Guide into a new doc
  packages/contracts-bedrock/README.md
  packages/contracts-bedrock/STYLE_GUIDE.md
Labels: on-merge-train

#6045 fix(sdk): mul gas by 1.5
  .changeset/tasty-seahorses-add.md
  packages/sdk/src/cross-chain-messenger.ts
Labels: on-merge-train, sdk

#6046 feat(ctb): Refactor LibPosition.sol to rep gindex
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/dispute/FaultDisputeGame.sol
  packages/contracts-bedrock/contracts/dispute/lib/LibPosition.sol
  packages/contracts-bedrock/contracts/libraries/DisputeTypes.sol
  packages/contracts-bedrock/contracts/test/FaultDisputeGame.t.sol
  packages/contracts-bedrock/contracts/test/LibPosition.t.sol
Labels: C-Protocol-Critical

#6057 op-node: Remove unused OnConnect and OnDisconnect hooks
  op-node/p2p/node.go
  op-node/p2p/peer_scorer.go
  op-node/p2p/peer_scorer_test.go
Labels: on-merge-train

#6038 feat(ctb): Global usage of type-specific libraries
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/dispute/FaultDisputeGame.sol
  packages/contracts-bedrock/contracts/libraries/DisputeTypes.sol
  packages/contracts-bedrock/contracts/test/FaultDisputeGame.t.sol
  packages/contracts-bedrock/contracts/test/LibClock.t.sol
  packages/contracts-bedrock/contracts/test/LibPosition.t.sol
  packages/contracts-bedrock/package.json
Labels: C-Protocol-Critical

#5852 contracts-bedrock: Convert Echidna tests to Forge invariants for OptimismPortal
  packages/contracts-bedrock/contracts/test/invariants/OptimismPortal.t.sol
  packages/contracts-bedrock/invariant-docs/OptimismPortal.md
Labels: C-Protocol-Critical

#6076 Developer -> Master
  .changeset/chilly-carrots-impress.md
  .changeset/fair-poems-give.md
  .changeset/few-shoes-deny.md
  .changeset/moody-foxes-enjoy.md
  .changeset/rotten-cheetahs-guess.md
  .changeset/smooth-bulldogs-hear.md
  .changeset/tasty-seahorses-add.md
  packages/chain-mon/CHANGELOG.md
  packages/chain-mon/package.json
  packages/common-ts/CHANGELOG.md
  packages/common-ts/package.json
  packages/contracts-bedrock/CHANGELOG.md
  packages/contracts-bedrock/package.json
  packages/contracts-periphery/package.json
  packages/core-utils/CHANGELOG.md
  packages/core-utils/package.json
  packages/fault-detector/CHANGELOG.md
  packages/fault-detector/package.json
  packages/replica-healthcheck/CHANGELOG.md
  packages/replica-healthcheck/package.json
  packages/sdk/CHANGELOG.md
  packages/sdk/package.json
Labels: sdk, common-ts

#6068 op-node: Add peer score diffs to increment and decay application scores
  op-node/p2p/store/iface.go
  op-node/p2p/store/scorebook_test.go
  op-node/p2p/store/serialize_test.go
Labels: on-merge-train

#6059 feat(ctb): Implement fault dispute game resolution
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/dispute/FaultDisputeGame.sol
  packages/contracts-bedrock/contracts/test/FaultDisputeGame.t.sol
Labels: C-Protocol-Critical

#6060 fix: overwrite bootnodes if --p2p.bootnodes provided
  op-node/p2p/cli/load_config.go
Labels: on-merge-train

#6084 op-chain-ops: fund L1 devnet accounts
  op-chain-ops/genesis/layer_one.go
Labels: on-merge-train

#6086 game solver: Add generalized index & tests to position
  op-challenger/fault/cmd/main.go
  op-challenger/fault/position.go
  op-challenger/fault/position_test.go
Labels: on-merge-train

#6101 op-node: log shutdown before releasing client waitgroup
  op-node/p2p/sync.go
Labels: on-merge-train

#6089 op-program/op-service: Revert retry client
  op-program/host/host.go
  op-program/host/prefetcher/prefetcher.go
  op-program/host/prefetcher/retry.go
  op-program/host/prefetcher/retry_test.go
  op-service/Makefile
  op-service/client/retry.go
  op-service/client/retry_test.go
Labels: on-merge-train

#6069 op-node: Add application specific peer scores for p2p alt-sync
  op-node/p2p/app_params.go
  op-node/p2p/app_scores.go
  op-node/p2p/app_scores_test.go
  op-node/p2p/config.go
  op-node/p2p/gossip.go
  op-node/p2p/host.go
  op-node/p2p/node.go
  op-node/p2p/peer_params.go
  op-node/p2p/peer_params_test.go
  op-node/p2p/peer_scorer.go
  op-node/p2p/peer_scorer_test.go
  op-node/p2p/peer_scores.go
  op-node/p2p/peer_scores_test.go
  op-node/p2p/prepared.go
  op-node/p2p/sync.go
  op-node/p2p/sync_test.go
Labels: on-merge-train

#6090 op-service: Update lint command in Makefile.
  op-service/Makefile
Labels: on-merge-train

#6080 feat(ctb): Alphabet `step` function in `FaultDisputeGame`
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/dispute/FaultDisputeGame.sol
  packages/contracts-bedrock/contracts/dispute/interfaces/IFaultDisputeGame.sol
  packages/contracts-bedrock/contracts/dispute/lib/LibPosition.sol
  packages/contracts-bedrock/contracts/libraries/DisputeErrors.sol
  packages/contracts-bedrock/contracts/test/FaultDisputeGame.t.sol
  packages/contracts-bedrock/contracts/test/LibPosition.t.sol
Labels: C-Protocol-Critical

#6081 chore(ctb): `LibPosition` documentation, tests, perf
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/dispute/FaultDisputeGame.sol
  packages/contracts-bedrock/contracts/dispute/lib/LibPosition.sol
  packages/contracts-bedrock/contracts/test/FaultDisputeGame.t.sol
  packages/contracts-bedrock/contracts/test/LibPosition.t.sol
Labels: C-Protocol-Critical, mergify-ignore

#6103 chore(ctb): Update `dispute` contracts' comment style
  packages/contracts-bedrock/contracts/dispute/DisputeGameFactory.sol
  packages/contracts-bedrock/contracts/dispute/FaultDisputeGame.sol
  packages/contracts-bedrock/contracts/dispute/interfaces/IBondManager.sol
  packages/contracts-bedrock/contracts/dispute/interfaces/IDisputeGame.sol
  packages/contracts-bedrock/contracts/dispute/interfaces/IDisputeGameFactory.sol
  packages/contracts-bedrock/contracts/dispute/interfaces/IFaultDisputeGame.sol
  packages/contracts-bedrock/contracts/dispute/interfaces/IInitializable.sol
  packages/contracts-bedrock/contracts/dispute/interfaces/IVersioned.sol
  packages/contracts-bedrock/contracts/dispute/lib/LibClock.sol
  packages/contracts-bedrock/contracts/dispute/lib/LibHashing.sol
  packages/contracts-bedrock/contracts/dispute/lib/LibPosition.sol
  packages/contracts-bedrock/contracts/libraries/DisputeErrors.sol
  packages/contracts-bedrock/contracts/libraries/DisputeTypes.sol
  packages/contracts-bedrock/contracts/test/DisputeGameFactory.t.sol
  packages/contracts-bedrock/contracts/test/FaultDisputeGame.t.sol
  packages/contracts-bedrock/contracts/test/LibClock.t.sol
  packages/contracts-bedrock/contracts/test/LibPosition.t.sol
Labels: C-Protocol-Critical, on-merge-train

#6097 [proxyd] do not block auth rpc call when auth is not enabled
  proxyd/server.go
Labels: on-merge-train

#6111 cannon: Remove unicorn references
  cannon/docs/README.md
  cannon/mipsevm/evm_test.go
  cannon/mipsevm/memory.go
  cannon/mipsevm/mips.go
Labels: on-merge-train

#6110 op-challenger: Add Responder interface
  op-challenger/fault/types.go
Labels: on-merge-train

#6094 feat(op-challenger): AlphabetProvider + Naive Solver
  op-challenger/fault/alphabet_provider_test.go
  op-challenger/fault/cmd/examples/position.go
  op-challenger/fault/cmd/examples/solver.go
  op-challenger/fault/cmd/main.go
  op-challenger/fault/solver.go
  op-challenger/fault/solver_test.go
Labels: on-merge-train

#6096 fix(ctb): Triple Slash Natspec Port
  op-bindings/bindings/l1crossdomainmessenger.go
  op-bindings/bindings/l1erc721bridge.go
  op-bindings/bindings/l1standardbridge.go
  op-bindings/bindings/l2outputoracle.go
  op-bindings/bindings/optimismportal.go
  op-bindings/bindings/systemconfig.go
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/L1/L1CrossDomainMessenger.sol
  packages/contracts-bedrock/contracts/L1/L1ERC721Bridge.sol
  packages/contracts-bedrock/contracts/L1/L1StandardBridge.sol
  packages/contracts-bedrock/contracts/L1/L2OutputOracle.sol
  packages/contracts-bedrock/contracts/L1/OptimismPortal.sol
  packages/contracts-bedrock/contracts/L1/ResourceMetering.sol
  packages/contracts-bedrock/contracts/L1/SystemConfig.sol
  packages/contracts-bedrock/contracts/test/CommonTest.t.sol
  packages/contracts-bedrock/contracts/test/L1CrossDomainMessenger.t.sol
  packages/contracts-bedrock/contracts/test/L1ERC721Bridge.t.sol
  packages/contracts-bedrock/contracts/test/L1StandardBridge.t.sol
  packages/contracts-bedrock/contracts/test/L2OutputOracle.t.sol
  packages/contracts-bedrock/contracts/test/OptimismPortal.t.sol
  packages/contracts-bedrock/contracts/test/ResourceMetering.t.sol
  packages/contracts-bedrock/contracts/test/SystemConfig.t.sol
Labels: C-Protocol-Critical

#6095 fault-detector: remove pre-bedrock support and update tests
  .changeset/nervous-icons-retire.md
  packages/fault-detector/README.md
  packages/fault-detector/package.json
  packages/fault-detector/src/helpers.ts
  packages/fault-detector/src/service.ts
  packages/fault-detector/test/helpers.spec.ts
  yarn.lock
Labels: on-merge-train

#6112 feat(ctb): Modular VM for `FaultDisputeGame`
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/dispute/FaultDisputeGame.sol
  packages/contracts-bedrock/contracts/dispute/interfaces/IBigStepper.sol
  packages/contracts-bedrock/contracts/dispute/lib/LibPosition.sol
  packages/contracts-bedrock/contracts/test/FaultDisputeGame.t.sol
Labels: C-Protocol-Critical

#4778 feat(ci): add nx to monorepo for incremental cachable builds
  .husky/pre-commit
  nx.json
  package.json
  packages/contracts-bedrock/package.json
  yarn.lock
Labels: do-not-merge, indexer

#6115 op-node: Add metrics for p2p sync application scores
  op-node/metrics/metrics.go
Labels: on-merge-train

#6119 fix(ctb): Remove Semver Check L1StandardBridge.t.sol
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/test/L1StandardBridge.t.sol
Labels: C-Protocol-Critical

#6122 feat(ctb): Introduce `Semver` on `FaultDisputeGame` + `DisputeGameFactory`
  op-bindings/bindings/disputegamefactory.go
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/dispute/DisputeGameFactory.sol
  packages/contracts-bedrock/contracts/dispute/FaultDisputeGame.sol
  packages/contracts-bedrock/contracts/dispute/interfaces/IDisputeGame.sol
  packages/contracts-bedrock/contracts/dispute/interfaces/IVersioned.sol
Labels: C-Protocol-Critical, on-merge-train

#6088 feat: foundry deploy
  bedrock-devnet/devnet/__init__.py
  op-bindings/hardhat/types.go
  op-chain-ops/genesis/layer_one.go
  packages/contracts-bedrock/.gitignore
  packages/contracts-bedrock/README.md
  packages/contracts-bedrock/deploy-config/devnetL1.json
  packages/contracts-bedrock/deploy-config/hardhat.json
  packages/contracts-bedrock/foundry.toml
  packages/contracts-bedrock/package.json
  packages/contracts-bedrock/scripts/Deploy.s.sol
  packages/contracts-bedrock/scripts/DeployConfig.s.sol
  packages/contracts-bedrock/scripts/Deployer.sol
  packages/contracts-bedrock/scripts/Executables.sol
Labels: C-Protocol-Critical

#6099 fix(ctb): Port L2 Contracts to Triple Slash Natspec Styling
  op-bindings/bindings/basefeevault.go
  op-bindings/bindings/gaspriceoracle.go
  op-bindings/bindings/l1block.go
  op-bindings/bindings/l1feevault.go
  op-bindings/bindings/l2crossdomainmessenger.go
  op-bindings/bindings/l2erc721bridge.go
  op-bindings/bindings/l2standardbridge.go
  op-bindings/bindings/l2tol1messagepasser.go
  op-bindings/bindings/sequencerfeevault.go
  packages/contracts-bedrock/contracts/L2/BaseFeeVault.sol
  packages/contracts-bedrock/contracts/L2/CrossDomainOwnable.sol
  packages/contracts-bedrock/contracts/L2/CrossDomainOwnable2.sol
  packages/contracts-bedrock/contracts/L2/CrossDomainOwnable3.sol
  packages/contracts-bedrock/contracts/L2/GasPriceOracle.sol
  packages/contracts-bedrock/contracts/L2/L1Block.sol
  packages/contracts-bedrock/contracts/L2/L1FeeVault.sol
  packages/contracts-bedrock/contracts/L2/L2CrossDomainMessenger.sol
  packages/contracts-bedrock/contracts/L2/L2ERC721Bridge.sol
  packages/contracts-bedrock/contracts/L2/L2StandardBridge.sol
  packages/contracts-bedrock/contracts/L2/L2ToL1MessagePasser.sol
  packages/contracts-bedrock/contracts/L2/SequencerFeeVault.sol
  packages/contracts-bedrock/contracts/test/CrossDomainOwnable.t.sol
  packages/contracts-bedrock/contracts/test/CrossDomainOwnable2.t.sol
  packages/contracts-bedrock/contracts/test/CrossDomainOwnable3.t.sol
  packages/contracts-bedrock/contracts/test/FeeVault.t.sol
  packages/contracts-bedrock/contracts/test/GasPriceOracle.t.sol
  packages/contracts-bedrock/contracts/test/L1Block.t.sol
  packages/contracts-bedrock/contracts/test/L2CrossDomainMessenger.t.sol
  packages/contracts-bedrock/contracts/test/L2ERC721Bridge.t.sol
  packages/contracts-bedrock/contracts/test/L2StandardBridge.t.sol
  packages/contracts-bedrock/contracts/test/L2ToL1MessagePasser.t.sol
  packages/contracts-bedrock/contracts/test/SequencerFeeVault.t.sol
  packages/contracts-bedrock/tasks/check-l2.ts
Labels: C-Protocol-Critical, on-merge-train

#6100 fix(ctb): Update Governance contracts with Triple Slash Natspec Styling
  packages/contracts-bedrock/contracts/governance/GovernanceToken.sol
  packages/contracts-bedrock/contracts/governance/MintManager.sol
  packages/contracts-bedrock/contracts/test/GovernanceToken.t.sol
  packages/contracts-bedrock/contracts/test/MintManager.t.sol
Labels: C-Protocol-Critical, on-merge-train

#6117 fault-detector: replace OutputProposed log cache with direct call to getL2Output.
  packages/fault-detector/src/helpers.ts
  packages/fault-detector/src/service.ts
  packages/fault-detector/test/helpers.spec.ts
Labels: on-merge-train

#6125 fix(ctb): Update Legacy contracts with Triple Slash Natspec Styling
  op-bindings/bindings/deployerwhitelist.go
  op-bindings/bindings/l1blocknumber.go
  op-bindings/bindings/legacymessagepasser.go
  packages/contracts-bedrock/contracts/legacy/AddressManager.sol
  packages/contracts-bedrock/contracts/legacy/DeployerWhitelist.sol
  packages/contracts-bedrock/contracts/legacy/L1BlockNumber.sol
  packages/contracts-bedrock/contracts/legacy/L1ChugSplashProxy.sol
  packages/contracts-bedrock/contracts/legacy/LegacyERC20ETH.sol
  packages/contracts-bedrock/contracts/legacy/LegacyMessagePasser.sol
  packages/contracts-bedrock/contracts/legacy/LegacyMintableERC20.sol
  packages/contracts-bedrock/contracts/legacy/ResolvedDelegateProxy.sol
  packages/contracts-bedrock/contracts/test/DeployerWhitelist.t.sol
  packages/contracts-bedrock/contracts/test/L1BlockNumber.t.sol
  packages/contracts-bedrock/contracts/test/LegacyERC20ETH.t.sol
  packages/contracts-bedrock/contracts/test/LegacyMessagePasser.t.sol
  packages/contracts-bedrock/contracts/test/ResolvedDelegateProxy.t.sol
  packages/contracts-bedrock/tasks/check-l2.ts
Labels: C-Protocol-Critical

#6126 fix(ctb): Update Library contracts with Triple Slash Natspec Styling
  packages/contracts-bedrock/contracts/libraries/Arithmetic.sol
  packages/contracts-bedrock/contracts/libraries/Burn.sol
  packages/contracts-bedrock/contracts/libraries/Bytes.sol
  packages/contracts-bedrock/contracts/libraries/Clone.sol
  packages/contracts-bedrock/contracts/libraries/Constants.sol
  packages/contracts-bedrock/contracts/libraries/Encoding.sol
  packages/contracts-bedrock/contracts/libraries/Hashing.sol
  packages/contracts-bedrock/contracts/libraries/LegacyCrossDomainUtils.sol
  packages/contracts-bedrock/contracts/libraries/Predeploys.sol
  packages/contracts-bedrock/contracts/libraries/SafeCall.sol
  packages/contracts-bedrock/contracts/libraries/Types.sol
  packages/contracts-bedrock/contracts/test/Bytes.t.sol
  packages/contracts-bedrock/contracts/test/Encoding.t.sol
  packages/contracts-bedrock/contracts/test/Hashing.t.sol
  packages/contracts-bedrock/contracts/test/SafeCall.t.sol
Labels: C-Protocol-Critical

#6127 contracts-bedrock: delete hh deploy scripts
  docs/op-stack/src/docs/build/getting-started.md
  packages/contracts-bedrock/.env.example
  packages/contracts-bedrock/.envrc.example
  packages/contracts-bedrock/.gitignore
  packages/contracts-bedrock/deploy/000-AddressManager.ts
  packages/contracts-bedrock/deploy/001-ProxyAdmin.ts
  packages/contracts-bedrock/deploy/002-L1StandardBridgeProxy.ts
  packages/contracts-bedrock/deploy/003-L2OutputOracleProxy.ts
  packages/contracts-bedrock/deploy/004-L1CrossDomainMessengerProxy.ts
  packages/contracts-bedrock/deploy/005-OptimismPortalProxy.ts
  packages/contracts-bedrock/deploy/006-OptimismMintableERC20FactoryProxy.ts
  packages/contracts-bedrock/deploy/007-L1ERC721BridgeProxy.ts
  packages/contracts-bedrock/deploy/008-SystemConfigProxy.ts
  packages/contracts-bedrock/deploy/009-DisputeGameFactoryProxy.ts
  packages/contracts-bedrock/deploy/010-L1StandardBridgeImpl.ts
  packages/contracts-bedrock/deploy/011-L1CrossDomainMessengerImpl.ts
  packages/contracts-bedrock/deploy/012-OptimismPortalImpl.ts
  packages/contracts-bedrock/deploy/013-L2OutputOracleImpl.ts
  packages/contracts-bedrock/deploy/014-L1ERC721BridgeImpl.ts
  packages/contracts-bedrock/deploy/015-OptimismMintableERC20FactoryImpl.ts
  packages/contracts-bedrock/deploy/016-DisputeGameFactoryImpl.ts
  packages/contracts-bedrock/deploy/017-SystemConfigImpl.ts
  packages/contracts-bedrock/deploy/018-SetAddressManager.ts
  packages/contracts-bedrock/deploy/019-DisputeGameFactoryInit.ts
  packages/contracts-bedrock/deploy/020-SystemConfigInit.ts
  packages/contracts-bedrock/deploy/021-L1StandardBridgeInit.ts
  packages/contracts-bedrock/deploy/022-L1ERC721BridgeInit.ts
  packages/contracts-bedrock/deploy/023-OptimismMintableERC20FactoryInit.ts
  packages/contracts-bedrock/deploy/024-L1CrossDomainMessengerInit.ts
  packages/contracts-bedrock/deploy/025-L2OutputOracleInit.ts
  packages/contracts-bedrock/deploy/026-OptimismPortalInit.ts
  packages/contracts-bedrock/deploy/027-ProxyAdminTransferOwnership.ts
  packages/contracts-bedrock/deploy/100-L1BlockImpl.ts
  packages/contracts-bedrock/deploy/101-L2CrossDomainMessengerImpl.ts
  packages/contracts-bedrock/deploy/102-L2StandardBridgeImpl.ts
  packages/contracts-bedrock/deploy/103-L2ToL1MessagePasserImpl.ts
  packages/contracts-bedrock/deploy/104-L2ERC721BridgeImpl.ts
  packages/contracts-bedrock/deploy/105-GasPriceOracleImpl.ts
  packages/contracts-bedrock/deploy/106-SequencerFeeVaultImpl.ts
  packages/contracts-bedrock/deploy/107-BaseFeeVaultImpl.ts
  packages/contracts-bedrock/deploy/108-L1FeeVaultImpl.ts
  packages/contracts-bedrock/deploy/109-OptimismMintableERC20FactoryImpl.ts
  packages/contracts-bedrock/deploy/110-OptimismMintableERC721FactoryImpl.ts
  packages/contracts-bedrock/src/deploy-utils.ts
  packages/contracts-bedrock/tasks/accounts.ts
  packages/contracts-bedrock/tasks/forge-verify.ts
  packages/contracts-bedrock/tasks/index.ts
  packages/contracts-bedrock/tasks/rekey.ts
  packages/contracts-bedrock/tasks/update-dynamic-oracle-config.ts
  packages/contracts-bedrock/tasks/watch.ts
Labels: on-merge-train

#6128 fix(ctb): Update periphery contracts to Triple Slash Natspec
  packages/contracts-bedrock/contracts/periphery/TransferOnion.sol
  packages/contracts-bedrock/contracts/test/L1StandardBridge.t.sol
  packages/contracts-bedrock/contracts/test/TransferOnion.t.sol
Labels: C-Protocol-Critical, on-merge-train

#6130 fix(ctb): Update universal contracts with Triple Slash Natspec Styling
  op-bindings/bindings/legacyerc20eth.go
  op-bindings/bindings/optimismmintableerc20.go
  op-bindings/bindings/optimismmintableerc20factory.go
  op-bindings/bindings/optimismmintableerc20factory_more.go
  op-bindings/bindings/optimismmintableerc721factory.go
  op-bindings/bindings/optimismmintableerc721factory_more.go
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/test/CrossDomainMessenger.t.sol
  packages/contracts-bedrock/contracts/test/OptimismMintableERC20.t.sol
  packages/contracts-bedrock/contracts/test/OptimismMintableERC721.t.sol
  packages/contracts-bedrock/contracts/test/Semver.t.sol
  packages/contracts-bedrock/contracts/test/StandardBridge.t.sol
  packages/contracts-bedrock/contracts/universal/CrossDomainMessenger.sol
  packages/contracts-bedrock/contracts/universal/ERC721Bridge.sol
  packages/contracts-bedrock/contracts/universal/FeeVault.sol
  packages/contracts-bedrock/contracts/universal/IOptimismMintableERC20.sol
  packages/contracts-bedrock/contracts/universal/IOptimismMintableERC721.sol
  packages/contracts-bedrock/contracts/universal/OptimismMintableERC20.sol
  packages/contracts-bedrock/contracts/universal/OptimismMintableERC20Factory.sol
  packages/contracts-bedrock/contracts/universal/OptimismMintableERC721.sol
  packages/contracts-bedrock/contracts/universal/OptimismMintableERC721Factory.sol
  packages/contracts-bedrock/contracts/universal/Proxy.sol
  packages/contracts-bedrock/contracts/universal/ProxyAdmin.sol
  packages/contracts-bedrock/contracts/universal/Semver.sol
  packages/contracts-bedrock/contracts/universal/StandardBridge.sol
  packages/contracts-bedrock/tasks/check-l2.ts
Labels: C-Protocol-Critical

#6137 fix(ctb): Update Solidity Scripts to Triple Slash Natspec
  packages/contracts-bedrock/scripts/FeeVaultWithdrawal.s.sol
  packages/contracts-bedrock/scripts/interfaces/IGnosisSafe.sol
  packages/contracts-bedrock/scripts/outputs/DeleteOutput.s.sol
  packages/contracts-bedrock/scripts/universal/EnhancedScript.sol
  packages/contracts-bedrock/scripts/universal/GlobalConstants.sol
  packages/contracts-bedrock/scripts/universal/SafeBuilder.sol
  packages/contracts-bedrock/scripts/upgrades/PostSherlock.s.sol
  packages/contracts-bedrock/scripts/upgrades/PostSherlockL2.s.sol
Labels: C-Protocol-Critical

#6143 feat(ctb): Expose `move`, add `claimDataLen`, Fault game binding
  op-bindings/Makefile
  op-bindings/bindings/faultdisputegame.go
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/dispute/FaultDisputeGame.sol
  packages/contracts-bedrock/contracts/test/FaultDisputeGame.t.sol
Labels: C-Protocol-Critical, on-merge-train

#6140 op-program: Increase log level to make debugging fpp goerli-verify failures easier
  op-preimage/oracle.go
  op-program/verify/cmd/goerli.go
Labels: on-merge-train

#6144 fix(ctb): FaultDisputeGame Tests Missing Proper Suffixes
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/test/FaultDisputeGame.t.sol
Labels: C-Protocol-Critical, on-merge-train

#6145 feat: golang checkl2 script
  .circleci/config.yml
  op-chain-ops/cmd/check-l2/main.go
  op-chain-ops/genesis/helpers.go
  op-chain-ops/genesis/layer_two.go
  op-chain-ops/util/util.go
  packages/contracts-bedrock/tasks/check-l2.ts
  packages/contracts-bedrock/tasks/index.ts
Labels: on-merge-train

#6139 feat(devnet): Set implementation of `FaultDisputeGame` in the factory
  ops-bedrock/docker-compose.yml
  packages/contracts-bedrock/deploy-config/devnetL1.json
  packages/contracts-bedrock/scripts/Deploy.s.sol
  packages/contracts-bedrock/scripts/DeployConfig.s.sol
  packages/contracts-bedrock/src/deploy-config.ts
Labels: C-Protocol-Critical, on-merge-train

#6146 fix(ctb): Update Portal comments
  op-bindings/bindings/optimismportal.go
  packages/contracts-bedrock/contracts/L1/OptimismPortal.sol
Labels: C-Protocol-Critical

#6150 contracts-bedrock: move forge check script to bash
  packages/contracts-bedrock/package.json
  packages/contracts-bedrock/scripts/verify-foundry-install.sh
  packages/contracts-bedrock/scripts/verify-foundry-install.ts
  yarn.lock
Labels: on-merge-train

#6152 contracts-bedrock: lint lib position tests
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/test/LibPosition.t.sol
Labels: C-Protocol-Critical

#6153 chore(ops): Upgrade foundry version in CI
  ops/docker/ci-builder/Dockerfile
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/README.md
  packages/contracts-bedrock/contracts/test/L1StandardBridge.t.sol
Labels: C-Protocol-Critical

#6148 contracts-bedrock: delete dead typescript
  .circleci/config.yml
  nx.json
  op-bindings/Makefile
  op-bindings/gen/main.go
  packages/contracts-bedrock/deploy-config/devnetL1.ts
  packages/contracts-bedrock/deploy-config/getting-started.ts
  packages/contracts-bedrock/deploy-config/goerli-forked.ts
  packages/contracts-bedrock/deploy-config/goerli.ts
  packages/contracts-bedrock/deploy-config/hardhat.ts
  packages/contracts-bedrock/deploy-config/local.ts
  packages/contracts-bedrock/deploy-config/mainnet.ts
  packages/contracts-bedrock/hardhat.config.ts
  packages/contracts-bedrock/package.json
  packages/contracts-bedrock/src/contract-defs.ts
  packages/contracts-bedrock/src/index.ts
  packages/contracts-bedrock/tasks/generate-deploy-config.ts
  packages/contracts-bedrock/tasks/index.ts
  packages/contracts-bedrock/tasks/solidity.ts
  packages/contracts-bedrock/tsconfig.json
  packages/core-utils/package.json
  packages/core-utils/src/optimism/constants.ts
  packages/core-utils/src/optimism/index.ts
  packages/sdk/src/adapters/standard-bridge.ts
  packages/sdk/src/utils/chain-constants.ts
  packages/sdk/src/utils/contracts.ts
  packages/sdk/tasks/deposit-erc20.ts
  packages/sdk/tasks/deposit-eth.ts
  packages/sdk/tasks/finalize-withdrawal.ts
  yarn.lock
Labels: sdk

#6149 op-challenger: Update Claim types
  op-challenger/fault/cmd/examples/solver.go
  op-challenger/fault/position.go
  op-challenger/fault/solver.go
  op-challenger/fault/solver_test.go
  op-challenger/fault/types.go
Labels: on-merge-train

#6154 op-bindings: cleanup gen script
  op-bindings/Makefile
  op-bindings/artifacts.json
  op-bindings/bindings/addressmanager_more.go
  op-bindings/bindings/basefeevault_more.go
  op-bindings/bindings/crossdomainmessenger_more.go
  op-bindings/bindings/disputegamefactory_more.go
  op-bindings/bindings/erc20_more.go
  op-bindings/bindings/faultdisputegame_more.go
  op-bindings/bindings/gaspriceoracle_more.go
  op-bindings/bindings/governancetoken.go
  op-bindings/bindings/l1erc721bridge_more.go
  op-bindings/bindings/l1feevault_more.go
  op-bindings/bindings/l1standardbridge_more.go
  op-bindings/bindings/l2outputoracle_more.go
  op-bindings/bindings/optimismmintableerc20_more.go
  op-bindings/bindings/preimageoracle_more.go
  op-bindings/bindings/standardbridge_more.go
  op-bindings/foundry/artifact.go
  op-bindings/gen/main.go
  op-bindings/gen_bindings.sh
Labels: on-merge-train

#6105 op-node: Persist synchroniser state
  op-e2e/setup.go
  op-e2e/system_adminrpc_test.go
  op-e2e/system_test.go
  op-node/flags/flags.go
  op-node/node/config.go
  op-node/node/config_persistence.go
  op-node/node/config_persistence_test.go
  op-node/node/node.go
  op-node/rollup/driver/driver.go
  op-node/rollup/driver/state.go
  op-node/service.go
  op-node/sources/rollupclient.go
Labels: on-merge-train

#6132 feat(sdk): Add zora network
  packages/sdk/src/interfaces/types.ts
  packages/sdk/src/utils/chain-constants.ts
Labels: on-merge-train, sdk

#6169 op-challenger: Add basic agent
  op-challenger/fault/agent.go
Labels: on-merge-train

#6172 deploy-config: temp fix for new config
  packages/contracts-bedrock/scripts/DeployConfig.s.sol
Labels: C-Protocol-Critical

#6173 Add IsDuplicate to game state
  op-challenger/fault/agent.go
  op-challenger/fault/game.go
  op-challenger/fault/game_test.go
Labels: on-merge-train

#6175 fix: bindings deterministic
  op-bindings/Makefile
  op-bindings/ast/canonicalize.go
  op-bindings/ast/canonicalize_test.go
  op-bindings/ast/testdata/custom-types.json
  op-bindings/bindings/crossdomainmessenger_more.go
  op-bindings/bindings/disputegamefactory_more.go
  op-bindings/bindings/faultdisputegame_more.go
  op-bindings/bindings/l1crossdomainmessenger_more.go
  op-bindings/bindings/l1erc721bridge_more.go
  op-bindings/bindings/l1standardbridge_more.go
  op-bindings/bindings/l2crossdomainmessenger_more.go
  op-bindings/bindings/l2erc721bridge_more.go
  op-bindings/bindings/l2outputoracle_more.go
  op-bindings/bindings/l2standardbridge_more.go
  op-bindings/bindings/optimismportal_more.go
  op-bindings/bindings/standardbridge_more.go
  op-bindings/bindings/systemconfig_more.go
  op-bindings/solc/types.go
Labels: on-merge-train

#6055 feat(ctb): Add vizualizer script for the `FaultDisputeGame`
  packages/contracts-bedrock/scripts/FaultDisputeGameViz.s.sol
  packages/contracts-bedrock/scripts/dag-viz.py
Labels: C-Protocol-Critical, on-merge-train, mergify-ignore

#6176 op-challenger: Add logging
  op-challenger/fault/agent.go
Labels: on-merge-train

#6159 cannon: Fix oracle tests for mipsevm
  cannon/mipsevm/evm.go
  cannon/mipsevm/evm_test.go
  cannon/mipsevm/open_mips_tests/test/bin/oracle.bin
  cannon/mipsevm/open_mips_tests/test/oracle.asm
  cannon/mipsevm/state_test.go
  op-bindings/bindings/mips.go
  op-bindings/bindings/mips_more.go
  op-chain-ops/srcmap/solutil.go
  packages/contracts-bedrock/contracts/cannon/MIPS.sol
Labels: C-Protocol-Critical, on-merge-train

#6077 specs: span-batches spec draft
  specs/span-batches.md
Labels: on-merge-train

#6177 op-challenger: Add in memory orchestrator
  op-challenger/fault/cmd/examples/full.go
  op-challenger/fault/cmd/main.go
  op-challenger/fault/orchestrator.go
  op-challenger/fault/solver.go
Labels: on-merge-train

#6120 feat: migrate from yarn to pnpm
  .circleci/config.yml
  .github/workflows/publish-canary.yml
  .github/workflows/release.yml
  .husky/pre-commit
  .npmrc
  .prettierrc.js
  CONTRIBUTING.md
  Makefile
  README.md
  lerna.json
  op-bindings/Makefile
  op-bindings/bindings/faultdisputegame_more.go
  op-bindings/bindings/l2outputoracle_more.go
  op-bindings/bindings/optimismportal_more.go
  op-bindings/bindings/preimageoracle_more.go
  op-bindings/bindings/systemconfig_more.go
  ops/check-changed/main.py
  ops/docker/Dockerfile.packages
  ops/docker/ci-builder/Dockerfile
  ops/scripts/detector.sh
  package.json
  packages/chain-mon/README.md
  packages/chain-mon/package.json
  packages/common-ts/package.json
  packages/contracts-bedrock/README.md
  packages/contracts-bedrock/foundry.toml
  packages/contracts-bedrock/invariant-docs/README.md
  packages/contracts-bedrock/package.json
  packages/contracts-bedrock/test-case-generator/README.md
  packages/contracts-periphery/.lintstagedrc.yml
  packages/contracts-periphery/foundry.toml
  packages/contracts-periphery/package.json
  packages/core-utils/README.md
  packages/core-utils/package.json
  packages/fault-detector/README.md
  packages/fault-detector/package.json
  packages/hardhat-deploy-config/README.md
  packages/hardhat-deploy-config/package.json
  packages/replica-healthcheck/README.md
  packages/replica-healthcheck/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  specs/deposits.md
  specs/meta/devnet.md
  specs/meta/linting.md
  specs/meta/markdown-style.md
  yarn.lock
Labels: sdk, common-ts

#6188 feat: Add script to stop people from accidentally using yarn install
  package.json
Labels: sdk, common-ts

#6180 feat: Clean up package.json post pnpm
  package.json
Labels: sdk, common-ts

#6042 fix(sdk): check for both v0 and v1 messages when looking for RelayedMessages
  .changeset/fuzzy-lobsters-wait.md
  .circleci/config.yml
  packages/core-utils/src/optimism/hashing.ts
  packages/sdk/src/cross-chain-messenger.ts
  packages/sdk/test-next/messageStatus.ts
Labels: on-merge-train, sdk

#6190 op-node: Add `admin_sequencerActive` RPC method
  op-e2e/actions/l2_verifier.go
  op-e2e/system_adminrpc_test.go
  op-node/node/api.go
  op-node/node/server_test.go
  op-node/rollup/driver/driver.go
  op-node/rollup/driver/state.go
  op-node/sources/rollupclient.go
Labels: on-merge-train

#6189 fix: typo in publish-canary workflow
  .github/workflows/publish-canary.yml
Labels: on-merge-train

#6182 Update eco bridge adapter with the new bridge addresses for the ECO bridges on OP and OP Goerli
  .changeset/tender-files-sort.md
  .circleci/config.yml
  packages/sdk/src/adapters/eco-bridge.ts
  packages/sdk/src/utils/chain-constants.ts
  packages/sdk/test-next/bridgeEcoToken.spec.ts
Labels: sdk

#6191 cannon: Fix unaligned pre-image key writes in Go VM
  cannon/mipsevm/evm_test.go
  cannon/mipsevm/mips.go
  cannon/mipsevm/open_mips_tests/test/bin/oracle_unaligned_write.bin
  cannon/mipsevm/open_mips_tests/test/oracle_unaligned_write.asm
  cannon/mipsevm/state_test.go
Labels: on-merge-train

#6186 feat(op-challenger): Claim Loader
  op-challenger/fault/game.go
  op-challenger/fault/game_test.go
  op-challenger/fault/loader.go
  op-challenger/fault/loader_test.go
Labels: on-merge-train

#6053 fix(sdk): Fix multicall3 support for sdk
  .changeset/cuddly-panthers-trade.md
  packages/sdk/src/cross-chain-messenger.ts
  packages/sdk/test/cross-chain-messenger.spec.ts
Labels: sdk

#6207 op-challenger: Get Pre/Post claim for Step function
  op-challenger/fault/game.go
  op-challenger/fault/game_test.go
  op-challenger/fault/loader_test.go
  op-challenger/fault/orchestrator.go
Labels: on-merge-train

#6199 feat(ctb): Time-box `FaultDisputeGame::resolve()`
  op-bindings/ast/canonicalize.go
  op-bindings/bindings/faultdisputegame.go
  op-bindings/bindings/faultdisputegame_more.go
  op-bindings/bindings/l2outputoracle_more.go
  op-bindings/bindings/optimismportal_more.go
  op-bindings/bindings/systemconfig_more.go
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/dispute/FaultDisputeGame.sol
  packages/contracts-bedrock/contracts/libraries/DisputeErrors.sol
  packages/contracts-bedrock/contracts/test/FaultDisputeGame.t.sol
Labels: C-Protocol-Critical, on-merge-train

#6193 op-e2e: Simplify and correct wait period when finalizing withdrawals.
  op-e2e/e2eutils/waits.go
  op-e2e/system_tob_test.go
  op-e2e/withdrawal_helper.go
  op-node/withdrawals/utils.go
Labels: on-merge-train

#6212 fix(sdk): linter
  packages/sdk/src/cross-chain-messenger.ts
Labels: sdk

#6215 feat: indexer retries batches on failure. l1_processor indexes l1 checkpoints
  indexer/database/blocks.go
  indexer/migrations/20230523_create_schema.sql
  indexer/node/client.go
  indexer/node/fetcher.go
  indexer/node/header_traversal.go
  indexer/node/header_traversal_test.go
  indexer/processor/l1_processor.go
  indexer/processor/l2_processor.go
  indexer/processor/processor.go
Labels: indexer

#6213 feat(ctb): Remove echidna
  codecov.yml
  op-bindings/bindings/preimageoracle_more.go
  packages/contracts-bedrock/README.md
  packages/contracts-bedrock/contracts/echidna/FuzzAddressAliasing.sol
  packages/contracts-bedrock/contracts/echidna/FuzzBurn.sol
  packages/contracts-bedrock/contracts/echidna/FuzzEncoding.sol
  packages/contracts-bedrock/contracts/echidna/FuzzHashing.sol
  packages/contracts-bedrock/contracts/echidna/FuzzOptimismPortal.sol
  packages/contracts-bedrock/contracts/echidna/FuzzResourceMetering.sol
  packages/contracts-bedrock/echidna.yaml
  packages/contracts-bedrock/foundry.toml
  packages/contracts-bedrock/invariant-docs/AddressAliasing.md
  packages/contracts-bedrock/invariant-docs/Burn.md
  packages/contracts-bedrock/invariant-docs/Encoding.md
  packages/contracts-bedrock/invariant-docs/Hashing.md
  packages/contracts-bedrock/invariant-docs/OptimismPortal.md
  packages/contracts-bedrock/invariant-docs/README.md
  packages/contracts-bedrock/invariant-docs/ResourceMetering.md
  packages/contracts-bedrock/package.json
  packages/contracts-bedrock/scripts/invariant-doc-gen.ts
  packages/contracts-bedrock/slither.config.json
Labels: C-Protocol-Critical

#6220 op-challenger: Add AttemptStep function
  op-challenger/fault/solver.go
  op-challenger/fault/solver_test.go
Labels: on-merge-train

#6221 feat(op-challenger): Responder Step Function
  op-challenger/fault/orchestrator.go
  op-challenger/fault/responder.go
  op-challenger/fault/types.go
Labels: on-merge-train
