Repository ethereum-optimism/optimism, pull requests merged in 2023-02, with the labels that each got.

#4817 :zap: add node_modules and .vscode to dockerignore
  .dockerignore
Labels: on-merge-train

#4804 feat(mon): set up chain-mon package
  .circleci/config.yml
  .github/CODEOWNERS
  .vscode/settings.json
  README.md
  codecov.yml
  ops/docker/Dockerfile.packages
  packages/chain-mon/.depcheckrc
  packages/chain-mon/.env.example
  packages/chain-mon/.eslintrc.js
  packages/chain-mon/.lintstagedrc.yml
  packages/chain-mon/.prettierrc.js
  packages/chain-mon/CHANGELOG.md
  packages/chain-mon/LICENSE
  packages/chain-mon/README.md
  packages/chain-mon/package.json
  packages/chain-mon/src/drippie-mon/service.ts
  packages/chain-mon/src/index.ts
  packages/chain-mon/tsconfig.json
  packages/drippie-mon/.env.example
  packages/drippie-mon/README.md
  packages/drippie-mon/src/index.ts
Labels: on-merge-train

#4819 feat(specs): language changes
  specs/README.md
  specs/exec-engine.md
  specs/introduction.md
  specs/predeploys.md
  specs/proposals.md
  specs/rollup-node.md
Labels: on-merge-train

#4822 [op-node] Fix ReadStorageAt for 0-prefixed values
  op-node/eth/account_proof.go
  op-node/sources/eth_client.go
Labels: on-merge-train

#4747 test(ctb): Add bridge tests for the new bridge interface
  op-bindings/bindings/l1standardbridge.go
  op-bindings/bindings/l2standardbridge.go
  op-bindings/bindings/l2standardbridge_more.go
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/L1/L1StandardBridge.sol
  packages/contracts-bedrock/contracts/L2/L2StandardBridge.sol
  packages/contracts-bedrock/contracts/test/L1StandardBridge.t.sol
  packages/contracts-bedrock/contracts/test/L2StandardBridge.t.sol
  packages/contracts-bedrock/contracts/universal/StandardBridge.sol
  packages/sdk/tasks/deposit-erc20.ts
  packages/sdk/tasks/deposit-eth.ts
Labels: on-merge-train, sdk

#4823 op-heartbeat: allow more versions in heartbeat service
  op-heartbeat/whitelists.go
Labels: on-merge-train

#4824 op-node: Remove duplicated word in comment.
  op-node/rollup/derive/channel_in_reader.go
Labels: on-merge-train

#4826 op-heartbeat: fix formatting
  op-heartbeat/whitelists.go
Labels: on-merge-train

#4834 fix(spec): Withdrawal calls are not forwarded during the proof verification call
  specs/withdrawals.md
Labels: on-merge-train

#4835 fix(spec): Add missing call to engine_newPayload
  specs/derivation.md
Labels: on-merge-train

#4837 chore(op-node): Fix two typos
  op-node/rollup/derive/attributes_queue.go
  op-node/rollup/derive/engine_queue.go
Labels: on-merge-train

#4836 Remove node built in from sdk
  .changeset/quick-crabs-argue.md
  packages/sdk/.eslintrc.js
  packages/sdk/src/l2-provider.ts
  packages/sdk/src/utils/assert.ts
  packages/sdk/src/utils/coercion.ts
Labels: sdk

#4838 specs: Fix typo & link in withdrawals section
  specs/withdrawals.md
Labels: on-merge-train

#4841 Update bridges.md
  specs/bridges.md
Labels: on-merge-train

#4800 op-batcher: Watch timeouts [ENG-2625]
  op-batcher/batcher/channel_builder.go
  op-batcher/batcher/channel_manager.go
  op-batcher/batcher/config.go
  op-batcher/batcher/driver.go
  op-batcher/batcher/txmgr.go
  op-batcher/batcher/utils.go
  op-batcher/flags/flags.go
  op-e2e/migration_test.go
  op-e2e/setup.go
  op-e2e/system_tob_test.go
  op-node/eth/block_info.go
  op-node/rollup/derive/channel_out.go
  ops-bedrock/devnet-up.sh
  ops-bedrock/docker-compose.yml
Labels: on-merge-train

#4855 contracts-bedrock: add TransferOnion contract
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/periphery/TransferOnion.sol
  packages/contracts-bedrock/contracts/test/TransferOnion.t.sol
Labels: on-merge-train

#4858 docs: Add note about small contributions
  CONTRIBUTING.md
Labels: on-merge-train

#4863 op-node: Properly check storage proof
  op-node/eth/account_proof.go
  op-node/eth/account_proof_test.go
Labels: on-merge-train

#4764 feat(fd): support Bedrock networks
  .changeset/nervous-years-explain.md
  packages/data-transport-layer/.depcheckrc
  packages/data-transport-layer/package.json
  packages/data-transport-layer/src/services/main/service.ts
  packages/fault-detector/src/helpers.ts
  packages/fault-detector/src/service.ts
  packages/fault-detector/test/helpers.spec.ts
  yarn.lock
Labels: C-Protocol-Critical

#4861 op-chain-ops: Ignore messages from sources other than the L2XDM
  op-chain-ops/genesis/migration/types.go
Labels: on-merge-train

#4862 fix: wrong arg name
  bedrock-devnet/README.md
Labels: on-merge-train

#4859 op-node: Monitor static peers in a background process
  op-node/p2p/host.go
Labels: on-merge-train

#4840 op-node: Log on L1 Info deposit mismatch
  op-node/rollup/derive/engine_consolidate.go
  op-node/rollup/derive/engine_queue.go
Labels: on-merge-train

#4866 fix(ctb): Loosen re-prove requirements in the `OptimismPortal`
  .changeset/mean-dingos-shake.md
  op-bindings/bindings/optimismportal.go
  op-bindings/bindings/optimismportal_more.go
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/L1/OptimismPortal.sol
  packages/contracts-bedrock/contracts/test/OptimismPortal.t.sol
Labels: on-merge-train

#4868 Release v0.10.14 for op go modules
  op-batcher/cmd/main.go
  op-batcher/go.mod
  op-batcher/go.sum
  op-chain-ops/go.mod
  op-chain-ops/go.sum
  op-e2e/go.mod
  op-e2e/go.sum
  op-node/go.mod
  op-node/go.sum
  op-node/version/version.go
  op-proposer/cmd/main.go
  op-proposer/go.mod
  op-proposer/go.sum
Labels: on-merge-train

#4864 fix(op-node): Include chainID in p2p signing hash
  op-e2e/setup.go
  op-node/go.mod
  op-node/go.sum
  op-node/p2p/cli/load_signer.go
  op-node/p2p/gossip.go
  op-node/p2p/gossip_test.go
  op-node/p2p/signer.go
  op-node/p2p/signer_test.go
Labels: on-merge-train

#4775 go: Remove individual versions for bedrock code
  go.mod
  go.sum
  go.work
  go.work.sum
  indexer/Dockerfile
  indexer/docker.go.work
  indexer/go.mod
  indexer/go.sum
  op-batcher/Dockerfile
  op-batcher/docker.go.work
  op-batcher/go.mod
  op-batcher/go.sum
  op-bindings/go.mod
  op-bindings/go.sum
  op-chain-ops/Dockerfile
  op-chain-ops/docker.go.work
  op-chain-ops/go.mod
  op-chain-ops/go.sum
  op-e2e/go.mod
  op-e2e/go.sum
  op-heartbeat/Dockerfile
  op-heartbeat/docker.go.work
  op-heartbeat/go.mod
  op-heartbeat/go.sum
  op-node/Dockerfile
  op-node/docker.go.work
  op-proposer/Dockerfile
  op-proposer/docker.go.work
  op-proposer/go.mod
  op-proposer/go.sum
  op-service/go.mod
  op-service/go.sum
  op-signer/go.mod
  op-signer/go.sum
  ops-bedrock/Dockerfile.stateviz
Labels: indexer

#4873 fix(op-node): Increase gossip seenMessagesTTL
  op-node/p2p/gossip.go
  specs/rollup-node-p2p.md
Labels: on-merge-train

#4870 feat(opn): expose GasUsed in BlockInfo type
  op-node/eth/block_info.go
  op-node/sources/types.go
  op-node/testutils/l1info.go
Labels: on-merge-train

#4883 Update op-geth
  go.mod
  go.sum
  indexer/go.mod
  indexer/go.sum
  op-wheel/go.mod
  op-wheel/go.sum
  ops/scripts/update-op-geth.py
Labels: on-merge-train, indexer

#4871 feat(ctb): add getting-started network
  packages/contracts-bedrock/deploy-config/getting-started.json
  packages/contracts-bedrock/deploy-config/getting-started.ts
  packages/contracts-bedrock/hardhat.config.ts
Labels: on-merge-train

#4872 fix(op-node): Require chain IDs to be positive
  op-node/rollup/types.go
  op-node/rollup/types_test.go
Labels: on-merge-train

#4885 Don't log warnings when legacy block gossip validation fails
  op-node/p2p/gossip.go
Labels: on-merge-train

#4867 op-node: Fix `Frame` parsing
  op-node/rollup/derive/frame.go
  op-node/rollup/derive/frame_test.go
  op-node/testutils/random.go
Labels: on-merge-train

#4900 contracts-bedrock: use kwargs syntax for nonce versioning in tests
  packages/contracts-bedrock/contracts/test/L1CrossDomainMessenger.t.sol
Labels: on-merge-train

#4904 op-node: Fix invalid advance in the batch queue
  op-node/rollup/derive/batch_queue.go
  op-node/rollup/derive/batch_queue_test.go
  specs/derivation.md
Labels: on-merge-train

#4905 Add logs to devnet-up test
  .circleci/config.yml
Labels: on-merge-train

#4903 contracts-bedrock: clean up fee vault tests
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/test/FeeVault.t.sol
  packages/contracts-bedrock/contracts/test/SequencerFeeVault.t.sol
Labels: on-merge-train

#4912 contracts-bedrock: prevent deposits with too small gaslimit
  op-bindings/bindings/optimismportal.go
  op-bindings/bindings/optimismportal_more.go
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/L1/OptimismPortal.sol
  packages/contracts-bedrock/contracts/test/CrossDomainOwnable.t.sol
  packages/contracts-bedrock/contracts/test/OptimismPortal.t.sol
  specs/deposits.md
Labels: on-merge-train

#4918 op-wheel: move into main bedrock go module
  .circleci/config.yml
  Makefile
  op-wheel/Dockerfile
  op-wheel/docker.go.work
  op-wheel/go.mod
  op-wheel/go.sum
Labels: on-merge-train

#4816 :recycle: feat: make dockerfile more maintainable
  ops/docker/Dockerfile.packages
  packages/sdk/src/cross-chain-messenger.ts
Labels: on-merge-train, Stale, sdk

#4919 fix(ctb): Per-message reentrancy guard for `relayMessage`
  .changeset/silly-mangos-shop.md
  op-bindings/bindings/l1crossdomainmessenger.go
  op-bindings/bindings/l1crossdomainmessenger_more.go
  op-bindings/bindings/l2crossdomainmessenger.go
  op-bindings/bindings/l2crossdomainmessenger_more.go
  op-chain-ops/genesis/config.go
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/.storage-layout
  packages/contracts-bedrock/contracts/L1/L1CrossDomainMessenger.sol
  packages/contracts-bedrock/contracts/L2/L2CrossDomainMessenger.sol
  packages/contracts-bedrock/contracts/test/CommonTest.t.sol
  packages/contracts-bedrock/contracts/test/CrossDomainOwnable3.t.sol
  packages/contracts-bedrock/contracts/test/L1CrossDomainMessenger.t.sol
  packages/contracts-bedrock/contracts/test/L2CrossDomainMessenger.t.sol
  packages/contracts-bedrock/contracts/universal/CrossDomainMessenger.sol
  packages/contracts-bedrock/layout-lock.json
  packages/contracts-bedrock/tasks/check-l2.ts
Labels: on-merge-train

#4915 fix(ctb): initialize L2OO in dictator step 1
  packages/contracts-bedrock/contracts/deployment/SystemDictator.sol
  packages/contracts-bedrock/deploy/020-SystemDictatorSteps-1.ts
  packages/contracts-bedrock/deploy/021-SystemDictatorSteps-2.ts
Labels: on-merge-train

#4933 [op-batcher] Remove duplicate signer
  op-batcher/batcher/config.go
  op-batcher/batcher/driver.go
  op-batcher/batcher/txmgr.go
Labels: on-merge-train

#4914 op-chain-ops: Correctly filter withdrawal hashes
  op-chain-ops/cmd/withdrawals/main.go
  op-chain-ops/crossdomain/encoding.go
  op-chain-ops/crossdomain/hashing.go
  op-chain-ops/crossdomain/legacy_withdrawal.go
  op-chain-ops/crossdomain/legacy_withdrawal_test.go
  op-chain-ops/crossdomain/message.go
  op-chain-ops/crossdomain/message_test.go
  op-chain-ops/crossdomain/migrate.go
  op-chain-ops/crossdomain/migrate_test.go
  op-chain-ops/crossdomain/precheck.go
  op-chain-ops/crossdomain/precheck_test.go
  op-chain-ops/crossdomain/types.go
  op-chain-ops/crossdomain/withdrawals.go
  op-chain-ops/crossdomain/withdrawals_test.go
  op-chain-ops/genesis/check.go
  op-chain-ops/genesis/db_migration.go
  op-chain-ops/genesis/migration/types.go
Labels: on-merge-train

#4948 ci: Remove proxyd and indexer from changesets workflow
  .github/workflows/publish-canary.yml
  .github/workflows/release.yml
  indexer/package.json
  package.json
  proxyd/package.json
Labels: indexer

#4952 fix(ctb): Remove duplicate onlyOtherBridge check
  op-bindings/bindings/l1standardbridge.go
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/L1/L1StandardBridge.sol
Labels: on-merge-train

#4966 op-chain-ops: Do not manually copy balance in WipePredeployStorage
  op-chain-ops/genesis/setters.go
  op-chain-ops/genesis/setters_test.go
Labels: on-merge-train

#4974 fix(ctb): Increase `FeeVault` withdrawal tx `minGasLimit`
  op-bindings/bindings/basefeevault.go
  op-bindings/bindings/l1feevault.go
  op-bindings/bindings/sequencerfeevault.go
  op-bindings/bindings/sequencerfeevault_more.go
  packages/contracts-bedrock/contracts/test/SequencerFeeVault.t.sol
  packages/contracts-bedrock/contracts/universal/FeeVault.sol
Labels: on-merge-train

#4962 op-e2e: Add e2e tests for bedrock behaviour that will change in regolith
  op-e2e/op_geth_test.go
Labels: on-merge-train

#4976 fix(specs): Corrections to messenger workflow and iface
  specs/messengers.md
Labels: on-merge-train

#4967 op-node: Fix storage slot comment
  op-node/withdrawals/utils.go
Labels: on-merge-train

#4977 specs: define Regolith upgrade changes to deposit transactions
  specs/deposits.md
Labels: on-merge-train

#5013 clarified comment
  packages/contracts-periphery/contracts/universal/op-nft/AttestationStation.sol
Labels: on-merge-train

#4959 :sparkles: Add atst SDK
  packages/atst/src/constants/defaultRpcUrl.ts
  packages/atst/src/index.ts
  packages/atst/src/lib/__snapshots__/logger.spec.ts.snap
  packages/atst/src/lib/parseAttestationBytes.spec.ts
  packages/atst/src/lib/parseAttestationBytes.ts
  packages/atst/src/lib/prepareWriteAttestation.spec.ts
  packages/atst/src/lib/prepareWriteAttestation.ts
  packages/atst/src/lib/prepareWriteAttestations.spec.ts
  packages/atst/src/lib/prepareWriteAttestations.ts
  packages/atst/src/lib/readAttestation.spec.ts
  packages/atst/src/lib/readAttestation.ts
  packages/atst/src/lib/readAttestations.spec.ts
  packages/atst/src/lib/readAttestations.ts
  packages/atst/src/lib/stringifyAttestationBytes.ts
  packages/atst/src/lib/writeAttestation.spec.ts
  packages/atst/src/lib/writeAttestation.ts
  packages/atst/src/types/AttestationReadParams.ts
  packages/atst/src/types/DataTypeOption.ts
  packages/atst/src/types/WagmiBytes.ts
Labels: on-merge-train

#5008 contracts-bedrock: ResourceMetering more readable
  packages/contracts-bedrock/contracts/L1/ResourceMetering.sol
Labels: on-merge-train

#5015 feat(ctb): `ResolvedDelegateProxy` tests
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/contracts/test/ResolvedDelegateProxy.t.sol
Labels: on-merge-train

#4960 :sparkles: Add atst CLI
  packages/atst/src/__snapshots__/logger.spec.ts.snap
  packages/atst/src/cli.ts
  packages/atst/src/commands/read.spec.ts
  packages/atst/src/commands/read.ts
  packages/atst/src/commands/write.spec.ts
  packages/atst/src/commands/write.ts
  packages/atst/src/lib/castAsDataType.ts
  packages/atst/src/lib/logger.spec.ts
  packages/atst/src/lib/logger.ts
  packages/atst/src/test/watchConsole.ts
Labels: on-merge-train

#4963 op-geth: Update to latest op-geth and add e2e tests
  go.mod
  go.sum
  indexer/go.mod
  op-chain-ops/genesis/config.go
  op-chain-ops/genesis/config_test.go
  op-chain-ops/genesis/db_migration.go
  op-chain-ops/genesis/genesis.go
  op-e2e/e2eutils/setup.go
  op-e2e/op_geth.go
  op-e2e/op_geth_test.go
  op-e2e/setup.go
  ops/scripts/update-op-geth.py
Labels: on-merge-train, indexer

#5012 [op-batcher] Add support for stopping / starting the batcher
  .gitignore
  op-batcher/batcher/batch_submitter.go
  op-batcher/batcher/config.go
  op-batcher/batcher/driver.go
  op-batcher/flags/flags.go
  op-batcher/rpc/api.go
  op-batcher/rpc/config.go
  op-e2e/migration_test.go
  op-e2e/setup.go
  op-e2e/system_test.go
  op-node/node/node.go
  ops-bedrock/docker-compose.yml
Labels: on-merge-train

#4992 op-e2e: Update TestCrossLayerUser test to check deposits and tx work with and without regolith
  op-e2e/actions/l2_sequencer.go
  op-e2e/actions/user_test.go
Labels: on-merge-train, indexer
