Repository ethereum-optimism/optimism, pull requests merged in 2023-12, with the labels that each got.

#8139 improve chain derivation documentation
  specs/derivation.md
Labels: Stale

#8084 feat(Indexer) - Troubleshooting Runbook
  indexer/README.md
  indexer/docs/troubleshooting.md
Labels: Stale

#8346 feat(ctb): `OutputBisectionGame` test refactor + fixes
  op-bindings/bindings/mips_more.go
  op-bindings/bindings/outputbisectiongame.go
  op-bindings/bindings/outputbisectiongame_more.go
  op-bindings/bindings/preimageoracle_more.go
  packages/contracts-bedrock/semver-lock.json
  packages/contracts-bedrock/src/dispute/OutputBisectionGame.sol
  packages/contracts-bedrock/src/dispute/lib/LibPosition.sol
  packages/contracts-bedrock/src/libraries/DisputeTypes.sol
  packages/contracts-bedrock/test/actors/OutputBisectionActors.sol
  packages/contracts-bedrock/test/dispute/lib/LibPosition.t.sol
Labels: A-pkg-contracts-bedrock

#8536 feat(ctb): `OutputBisection` actor tests
  op-bindings/bindings/alphabetvm2.go
  op-bindings/bindings/alphabetvm2_more.go
  op-bindings/bindings/outputbisectiongame.go
  op-bindings/bindings/outputbisectiongame_more.go
  packages/contracts-bedrock/semver-lock.json
  packages/contracts-bedrock/slither-report.json
  packages/contracts-bedrock/src/dispute/OutputBisectionGame.sol
  packages/contracts-bedrock/src/dispute/lib/LibPosition.sol
  packages/contracts-bedrock/test/actors/OutputBisectionActors.sol
  packages/contracts-bedrock/test/dispute/OutputBisectionGame.t.sol
  packages/contracts-bedrock/test/mocks/AlphabetVM2.sol
Labels: A-pkg-contracts-bedrock

#8656 chore: adhere to style guide in `OutputBisectionGame` for immutables
  op-bindings/bindings/outputbisectiongame.go
  op-bindings/bindings/outputbisectiongame_more.go
  op-challenger/game/fault/contracts/disputegame.go
  op-challenger/game/fault/contracts/disputegame_test.go
  op-challenger/game/fault/contracts/faultdisputegame.go
  op-challenger/game/fault/contracts/faultdisputegame_test.go
  op-challenger/game/fault/contracts/outputbisectiongame.go
  op-challenger/game/fault/contracts/outputbisectiongame_test.go
  op-e2e/e2eutils/disputegame/helper.go
  op-e2e/e2eutils/disputegame/output_game_helper.go
  packages/contracts-bedrock/semver-lock.json
  packages/contracts-bedrock/slither-report.json
  packages/contracts-bedrock/snapshots/abi/OutputBisectionGame.json
  packages/contracts-bedrock/src/dispute/OutputBisectionGame.sol
  packages/contracts-bedrock/test/actors/OutputBisectionActors.sol
  packages/contracts-bedrock/test/dispute/OutputBisectionGame.t.sol
Labels: A-pkg-contracts-bedrock

#8687 feat(specs): FDG spec updates
  specs/assets/ob-tree.png
  specs/dispute-game-interface.md
  specs/fault-dispute-game.md
Labels: M-docs

#8729 feat(ctb): Prevent `extraData` from being too large in the `OutputBisectionGame`
  op-bindings/bindings/outputbisectiongame.go
  op-bindings/bindings/outputbisectiongame_more.go
  packages/contracts-bedrock/semver-lock.json
  packages/contracts-bedrock/slither-report.json
  packages/contracts-bedrock/src/dispute/OutputBisectionGame.sol
  packages/contracts-bedrock/src/libraries/DisputeErrors.sol
  packages/contracts-bedrock/test/dispute/OutputBisectionGame.t.sol
Labels: A-pkg-contracts-bedrock
