Repository ethereum-optimism/optimism, pull requests merged in 2023-10, with the labels that each got.

#7493 contracts-bedrock: add `ISemver` to `BlockOracle`
  op-bindings/bindings/blockoracle.go
  op-bindings/bindings/blockoracle_more.go
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/semver-lock.json
  packages/contracts-bedrock/src/dispute/BlockOracle.sol
Labels: A-op-bindings, A-pkg-contracts-bedrock, S-on-merge-train

#7492 contracts-bedrock: update `.envrc.example`
  packages/contracts-bedrock/.envrc.example
Labels: A-pkg-contracts-bedrock, S-on-merge-train

#7491 :memo: docs: consistent `MIPS.sol` return params
  op-bindings/bindings/mips_more.go
  packages/contracts-bedrock/src/cannon/MIPS.sol
Labels: A-op-bindings, A-pkg-contracts-bedrock, S-on-merge-train

#7449 fix: add protocol version to getting-started.json
  packages/contracts-bedrock/deploy-config/getting-started.json
Labels: A-pkg-contracts-bedrock

#7495 deps: update superchain registry
  go.mod
  go.sum
  op-node/chaincfg/chains_test.go
  op-node/rollup/superchain.go
Labels: A-op-node

#7435 Add Base sepolia constants
  indexer/config/presets.go
  packages/sdk/src/interfaces/types.ts
  packages/sdk/src/utils/chain-constants.ts
Labels: A-pkg-sdk, A-indexer, A-op-node

#7478 specs: fix typos
  specs/cannon-fault-proof-vm.md
Labels: M-docs, S-on-merge-train

#7167 chore: Immunefi FPA docs
  docs/fault-proof-alpha/immunefi.md
Labels: M-docs, S-on-merge-train

#7520 feat: Add FPA goerli deployments
  docs/fault-proof-alpha/README.md
  docs/fault-proof-alpha/deployments.md
Labels: M-docs, S-on-merge-train

#7488 Add registry-data subcommand "bytecode" that generates a single bytecode file from hex
  op-chain-ops/cmd/registry-data/main.go
Labels: A-op-chain-ops, S-on-merge-train

#7522 chore: update video link
  docs/fault-proof-alpha/README.md
Labels: M-docs, S-on-merge-train

#7511 op-upgrade: superchain target
  op-chain-ops/cmd/op-upgrade/main.go
Labels: A-op-chain-ops, S-on-merge-train

#7517 op-challenger: Simplify game implementation
  op-challenger/game/fault/agent.go
  op-challenger/game/fault/test/game_builder.go
  op-challenger/game/fault/types/game.go
  op-challenger/game/fault/types/game_test.go
Labels: A-op-challenger, S-on-merge-train

#7525 op-node: RPC Limit client does not respect context
  op-node/sources/limit.go
  op-node/sources/limit_test.go
Labels: A-op-node, S-on-merge-train

#7524 docs(dispute-game-interface.md): remove redundent type
  specs/dispute-game-interface.md
Labels: M-docs, S-on-merge-train

#7412 Allow output deletion by Challenger, Security Council or Foundation
  op-bindings/bindings/l2outputoracle.go
  op-bindings/bindings/l2outputoracle_more.go
  op-bindings/bindings/superchainconfig.go
  op-bindings/bindings/superchainconfig_more.go
  op-bindings/bindings/systemconfig.go
  op-bindings/bindings/systemconfig_more.go
  op-e2e/actions/system_config_test.go
  op-e2e/system_tob_test.go
  packages/chain-mon/test/fault-mon/helpers.spec.ts
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/.storage-layout
  packages/contracts-bedrock/invariant-docs/SystemConfig.md
  packages/contracts-bedrock/scripts/Deploy.s.sol
  packages/contracts-bedrock/semver-lock.json
  packages/contracts-bedrock/src/L1/L2OutputOracle.sol
  packages/contracts-bedrock/src/L1/SuperchainConfig.sol
  packages/contracts-bedrock/src/L1/SystemConfig.sol
  packages/contracts-bedrock/test/CommonTest.t.sol
  packages/contracts-bedrock/test/L2OutputOracle.t.sol
  packages/contracts-bedrock/test/SystemConfig.t.sol
  packages/contracts-bedrock/test/invariants/SystemConfig.t.sol
Labels: A-op-bindings, A-pkg-contracts-bedrock, A-op-challenger, A-op-chain-ops, A-op-e2e, M-docs

#7366 feat(op-challenger): Split Trace Provider
  op-challenger/game/fault/trace/split/provider.go
  op-challenger/game/fault/trace/split/provider_test.go
  op-challenger/game/fault/types/position.go
  op-challenger/game/fault/types/position_test.go
Labels: A-op-challenger

#7533 chore(Makefile): Fix Devnet Targets
  Makefile
Labels: C-chore

#7321 feat(op-challenger): Deep Positions
  op-challenger/game/fault/loader_test.go
  op-challenger/game/fault/solver/game_solver_test.go
  op-challenger/game/fault/solver/solver_test.go
  op-challenger/game/fault/test/alphabet.go
  op-challenger/game/fault/test/claim_builder.go
  op-challenger/game/fault/test/game_builder.go
  op-challenger/game/fault/trace/alphabet/provider.go
  op-challenger/game/fault/trace/alphabet/provider_test.go
  op-challenger/game/fault/trace/cannon/provider.go
  op-challenger/game/fault/trace/cannon/provider_test.go
  op-challenger/game/fault/trace/outputs/provider.go
  op-challenger/game/fault/trace/outputs/provider_test.go
  op-challenger/game/fault/trace/split/provider_test.go
  op-challenger/game/fault/types/game.go
  op-challenger/game/fault/types/game_test.go
  op-challenger/game/fault/types/position.go
  op-challenger/game/fault/types/position_test.go
  op-challenger/game/fault/types/types.go
  op-challenger/game/fault/types/types_test.go
  op-e2e/e2eutils/disputegame/helper.go
Labels: A-op-challenger, A-op-e2e

#7535 op-chain-ops: option for skipping calldata encoding
  op-chain-ops/safe/batch.go
  op-chain-ops/safe/batch_test.go
  op-chain-ops/upgrades/l1.go
Labels: A-op-chain-ops

#7482 op-service: create a common admin API RPC and a common RPC request metrics
  op-batcher/batcher/batch_submitter.go
  op-batcher/batcher/config.go
  op-batcher/flags/flags.go
  op-batcher/metrics/metrics.go
  op-batcher/rpc/api.go
  op-batcher/rpc/config.go
  op-node/metrics/metrics.go
  op-node/node/api.go
  op-node/testutils/metrics.go
  op-service/metrics/rpc_metrics.go
  op-service/rpc/api.go
  op-service/rpc/cli.go
Labels: A-op-batcher, A-op-node, A-op-service

#7486 Create deployment scripts for auth modules
  packages/contracts-bedrock/periphery-deploy-config/optimism-goerli.json
  packages/contracts-bedrock/scripts/DeployPeriphery.s.sol
  packages/contracts-bedrock/scripts/PeripheryDeployConfig.s.sol
  packages/contracts-bedrock/src/periphery/faucet/Faucet.sol
Labels: A-pkg-contracts-bedrock

#7510 contracts-bedrock: add comment to `StandardBridge`
  packages/contracts-bedrock/src/universal/StandardBridge.sol
Labels: A-pkg-contracts-bedrock

#7542 fix(op-challenger): Remove Temporary Implementations
  op-challenger/game/fault/loader.go
  op-challenger/game/fault/loader_test.go
  op-challenger/game/fault/test/claim_builder.go
  op-challenger/game/fault/trace/cannon/provider.go
  op-challenger/game/fault/trace/cannon/provider_test.go
  op-challenger/game/fault/trace/outputs/provider.go
  op-challenger/game/fault/trace/outputs/provider_test.go
  op-challenger/game/fault/types/position.go
  op-challenger/game/fault/types/position_test.go
  op-challenger/game/fault/types/types_test.go
  op-e2e/e2eutils/disputegame/dishonest_helper.go
  op-e2e/e2eutils/disputegame/game_helper.go
  op-e2e/e2eutils/disputegame/helper.go
  op-e2e/e2eutils/disputegame/honest_helper.go
Labels: A-op-challenger, C-fix

#7513 fix fee bumping & blob fee estimation for blob transactions
  op-node/rollup/derive/data_source.go
  op-service/txmgr/price_bump_test.go
  op-service/txmgr/queue_test.go
  op-service/txmgr/txmgr.go
  op-service/txmgr/txmgr_test.go
Labels: A-op-node, A-op-service

#7521 feat(ctb): Add pre-pr:no-build script
  packages/contracts-bedrock/package.json
Labels: A-pkg-contracts-bedrock

#7519 chore: op-service metrics cleanup
  op-batcher/cmd/doc/cmd.go
  op-batcher/cmd/main.go
  op-node/cmd/doc/cmd.go
  op-node/cmd/main.go
  op-node/metrics/metrics.go
  op-proposer/cmd/doc/cmd.go
  op-proposer/cmd/main.go
  op-service/metrics/caching.go
  op-service/metrics/doc/cmd.go
Labels: A-op-batcher, A-op-program, A-op-proposer, A-op-node, A-op-service, A-op-bootnode, A-op-e2e

#7523 chore: Pin FPA commit
  docs/fault-proof-alpha/immunefi.md
Labels: M-docs

#7253 op-node: Channel ordering fix for canyon
  op-node/rollup/derive/channel_bank.go
  op-node/rollup/derive/channel_bank_test.go
  specs/derivation.md
Labels: A-op-node, M-docs

#7348 bugfix(op-node): syncClient incorrectly removes peer issue
  op-node/p2p/node.go
  op-node/p2p/sync_test.go
Labels: A-op-node

#7472 txmgr: don't wait the resubmission timeout for gas increases for underpriced errors
  op-e2e/setup.go
  op-service/txmgr/cli.go
  op-service/txmgr/send_state.go
  op-service/txmgr/txmgr.go
  op-service/txmgr/txmgr_test.go
Labels: A-op-service, A-op-e2e

#7440 op-program: Add compatibility test to verify a section of goerli in CI
  .circleci/config.yml
  op-program/Makefile
  op-program/verify/cmd/goerli.go
Labels: A-op-program, M-ci

#7911 chore: Remove version pin on `foundryup` in devnet job
  .circleci/config.yml
Labels: C-chore, M-ci

#7290 op-batcher: Span Batch Submission
  op-batcher/batcher/channel.go
  op-batcher/batcher/channel_builder.go
  op-batcher/batcher/channel_builder_test.go
  op-batcher/batcher/channel_manager.go
  op-batcher/batcher/channel_manager_test.go
  op-batcher/batcher/channel_test.go
  op-batcher/batcher/config.go
  op-batcher/batcher/driver.go
  op-batcher/batcher/service.go
  op-batcher/flags/flags.go
  op-e2e/actions/garbage_channel_out.go
  op-e2e/actions/l2_batcher.go
  op-e2e/setup.go
  op-node/rollup/derive/channel_out.go
  op-node/rollup/derive/channel_out_test.go
  op-node/rollup/derive/span_batch.go
  op-node/rollup/derive/span_batch_test.go
  op-node/rollup/derive/span_channel_out.go
  op-node/rollup/derive/test/random.go
  ops-bedrock/docker-compose.yml
Labels: A-op-batcher, A-op-program, A-pkg-contracts-bedrock, A-op-chain-ops, A-op-node, A-op-e2e, A-ops-bedrock, M-do-not-merge

#7908 feat(proxyd): support eip-1898 in tag rewritting
  proxyd/rewriter.go
  proxyd/rewriter_test.go
Labels: C-feature, A-proxyd
