Repository ethereum-optimism/optimism, pull requests merged in 2024-02, with the labels that each got.

#9282 fix(op-challenger): Bond Claim Scheduler Tests
  op-challenger/game/fault/claims/scheduler_test.go
Labels: C-chore, A-op-challenger

#9098 feat(op-program): L1 4844 blob fetcher in client
  op-preimage/iface.go
  op-preimage/iface_test.go
  op-program/client/driver/driver.go
  op-program/client/l1/blob_fetcher.go
  op-program/client/l1/cache.go
  op-program/client/l1/cache_test.go
  op-program/client/l1/hints.go
  op-program/client/l1/oracle.go
  op-program/client/l1/test/stub_oracle.go
  op-program/client/program.go
Labels: A-op-program

#9105 feat(op-program): 4844 blobs fetcher in host
  go.mod
  op-program/host/config/config.go
  op-program/host/flags/flags.go
  op-program/host/host.go
  op-program/host/prefetcher/prefetcher.go
  op-program/host/prefetcher/prefetcher_test.go
  op-program/host/prefetcher/retry.go
  op-program/host/prefetcher/retry_test.go
  op-service/testutils/mock_blobs_fetcher.go
Labels: A-op-program

#9307 feat(ctb): Add Cancun activation timestamp to `PreimageOracle`
  op-bindings/bindings/alphabetvm.go
  op-bindings/bindings/preimageoracle.go
  op-bindings/bindings/preimageoracle_more.go
  op-chain-ops/genesis/config.go
  op-chain-ops/genesis/testdata/test-deploy-config-full.json
  packages/contracts-bedrock/deploy-config/devnetL1-template.json
  packages/contracts-bedrock/deploy-config/sepolia.json
  packages/contracts-bedrock/scripts/Deploy.s.sol
  packages/contracts-bedrock/scripts/DeployConfig.s.sol
  packages/contracts-bedrock/scripts/getting-started/config.sh
  packages/contracts-bedrock/slither-report.json
  packages/contracts-bedrock/snapshots/abi/PreimageOracle.json
  packages/contracts-bedrock/snapshots/state-diff/Kontrol-Deploy.json
  packages/contracts-bedrock/src/cannon/PreimageOracle.sol
  packages/contracts-bedrock/src/cannon/libraries/CannonErrors.sol
  packages/contracts-bedrock/test/cannon/MIPS.t.sol
  packages/contracts-bedrock/test/cannon/PreimageOracle.t.sol
  packages/contracts-bedrock/test/mocks/AlphabetVM.sol
Labels: A-pkg-contracts-bedrock

#9310 fix(ctb): Type byte in `squeezeLPP`
  op-bindings/bindings/alphabetvm.go
  op-bindings/bindings/preimageoracle.go
  op-bindings/bindings/preimageoracle_more.go
  packages/contracts-bedrock/src/cannon/PreimageOracle.sol
  packages/contracts-bedrock/test/cannon/PreimageOracle.t.sol
Labels: A-pkg-contracts-bedrock

#9296 feat(op-e2e): Large Preimage Test
  cannon/cmd/run.go
  cannon/mipsevm/instrumented.go
  op-challenger/challenger.go
  op-challenger/game/fault/contracts/oracle.go
  op-challenger/game/fault/contracts/oracle_test.go
  op-challenger/game/fault/player.go
  op-challenger/game/fault/preimages/large.go
  op-challenger/game/fault/preimages/large_test.go
  op-challenger/game/fault/preimages/types.go
  op-challenger/game/fault/register.go
  op-challenger/game/fault/responder/responder.go
  op-challenger/game/fault/trace/cannon/executor.go
  op-challenger/game/fault/trace/cannon/provider.go
  op-challenger/game/fault/types/types.go
  op-challenger/game/keccak/matrix/matrix.go
  op-challenger/game/monitor.go
  op-challenger/game/monitor_test.go
  op-challenger/game/service.go
  op-e2e/e2eutils/disputegame/helper.go
  op-e2e/e2eutils/disputegame/output_cannon_helper.go
  op-e2e/e2eutils/disputegame/output_game_helper.go
  op-e2e/faultproofs/output_cannon_test.go
  op-e2e/faultproofs/util.go
  op-e2e/setup.go
  op-e2e/tx_helper.go
  op-service/clock/simple.go
  op-service/clock/simple_test.go
  packages/contracts-bedrock/deploy-config/devnetL1-template.json
Labels: C-feature, A-op-e2e

#9359 feat(op-dispute-mon): Initial Setup
  op-dispute-mon/README.md
  op-dispute-mon/cmd/main.go
  op-dispute-mon/config/config.go
  op-dispute-mon/config/config_test.go
  op-dispute-mon/flags/flags.go
  op-dispute-mon/flags/flags_test.go
  op-dispute-mon/metrics/metrics.go
  op-dispute-mon/metrics/noop.go
  op-dispute-mon/mon/service.go
  op-dispute-mon/monitor.go
  op-dispute-mon/monitor_test.go
  op-dispute-mon/version/version.go
Labels: C-feature, A-op-dispute-mon

#9337 fix(op-challenger): Migrate Scripts to Subcommands
  op-challenger/README.md
  op-challenger/cmd/create_game.go
  op-challenger/cmd/list_claims.go
  op-challenger/cmd/move.go
  op-challenger/cmd/resolve.go
  op-challenger/cmd/utils.go
  op-challenger/flags/flags.go
  op-challenger/game/fault/contracts/gamefactory.go
  op-challenger/game/fault/contracts/gamefactory_test.go
  op-challenger/scripts/create_game.sh
  op-challenger/scripts/list_claims.sh
  op-challenger/scripts/list_games.sh
  op-challenger/scripts/move.sh
  op-challenger/scripts/resolve.sh
  packages/contracts-bedrock/scripts/visualize.sh
Labels: A-op-challenger, C-cleanup

#9365 feat(op-dispute-mon): CI Dispute Monitor Wiring
  .circleci/config.yml
  Makefile
  docker-bake.hcl
  op-dispute-mon/.gitignore
  op-dispute-mon/Dockerfile
  op-dispute-mon/Dockerfile.dockerignore
  op-dispute-mon/Makefile
  ops/docker/op-stack-go/Dockerfile
  ops/docker/op-stack-go/Dockerfile.dockerignore
Labels: C-feature, A-op-dispute-mon

#9369 feat(ops): Wire Dispute Monitor into the Tag Service
  .github/workflows/tag-service.yml
  ops/tag-service/tag-service.py
Labels: C-feature, A-ops

#9399 feat(ctb): `useFaultProofs` runtime override
  .circleci/config.yml
  packages/contracts-bedrock/.gas-snapshot
  packages/contracts-bedrock/deploy-config/hardhat.json
  packages/contracts-bedrock/scripts/Deploy.s.sol
  packages/contracts-bedrock/scripts/DeployConfig.s.sol
  packages/contracts-bedrock/test/setup/CommonTest.sol
  packages/contracts-bedrock/test/setup/Setup.sol
Labels: A-pkg-contracts-bedrock

#9400 feat(ctb): Migrate `DisputeGameFactory` tests to use `CommonTest`
  packages/contracts-bedrock/test/dispute/DisputeGameFactory.t.sol
  packages/contracts-bedrock/test/dispute/FaultDisputeGame.t.sol
Labels: A-pkg-contracts-bedrock

#9401 feat(ctb): `OptimismPortal2` test migration
  packages/contracts-bedrock/invariant-docs/OptimismPortal2.md
  packages/contracts-bedrock/invariant-docs/README.md
  packages/contracts-bedrock/semver-lock.json
  packages/contracts-bedrock/snapshots/abi/OptimismPortal2.json
  packages/contracts-bedrock/src/L1/OptimismPortal2.sol
  packages/contracts-bedrock/test/L1/OptimismPortal2.t.sol
  packages/contracts-bedrock/test/Specs.t.sol
  packages/contracts-bedrock/test/invariants/OptimismPortal2.t.sol
Labels: A-pkg-contracts-bedrock

#9371 feat(op-dispute-mon): CLI Setup and Monitoring Metrics
  op-challenger/game/fault/contracts/faultdisputegame.go
  op-challenger/game/fault/contracts/faultdisputegame_test.go
  op-challenger/game/fault/register.go
  op-challenger/game/fault/types/types.go
  op-dispute-mon/config/config.go
  op-dispute-mon/config/config_test.go
  op-dispute-mon/flags/flags.go
  op-dispute-mon/metrics/metrics.go
  op-dispute-mon/metrics/noop.go
  op-dispute-mon/mon/metadata.go
  op-dispute-mon/mon/metadata_test.go
  op-dispute-mon/mon/monitor.go
  op-dispute-mon/mon/monitor_test.go
  op-dispute-mon/mon/service.go
Labels: C-feature, A-op-dispute-mon

#9422 feat(op-dispute-mon): Rollup RPC Output Agreement Detector
  op-dispute-mon/config/config.go
  op-dispute-mon/config/config_test.go
  op-dispute-mon/flags/flags.go
  op-dispute-mon/metrics/metrics.go
  op-dispute-mon/metrics/noop.go
  op-dispute-mon/mon/detector.go
  op-dispute-mon/mon/detector_test.go
  op-dispute-mon/mon/monitor.go
  op-dispute-mon/mon/monitor_test.go
  op-dispute-mon/mon/service.go
Labels: C-feature, A-op-dispute-mon

#9450 chore(CODEOWNERS): Require op-dispute-mon PRs with go-reviewers
  .github/CODEOWNERS
Labels: C-chore

#9453 chore(op-dispute-mon): Output Validation Refactor
  op-dispute-mon/mon/detector.go
  op-dispute-mon/mon/detector_test.go
  op-dispute-mon/mon/service.go
  op-dispute-mon/mon/validator.go
  op-dispute-mon/mon/validator_test.go
Labels: C-chore, A-op-dispute-mon

#9443 chore(op-dispute-mon): Detector Type Refactor
  op-dispute-mon/mon/detector.go
  op-dispute-mon/mon/detector_test.go
  op-dispute-mon/mon/service.go
  op-dispute-mon/mon/types.go
  op-dispute-mon/mon/types_test.go
  op-dispute-mon/mon/validator.go
  op-dispute-mon/mon/validator_test.go
Labels: C-chore, A-op-dispute-mon

#9466 feat(ctb): Getter for the claimed bond flag in FDG
  op-bindings/bindings/faultdisputegame.go
  op-bindings/bindings/faultdisputegame_more.go
  packages/contracts-bedrock/semver-lock.json
  packages/contracts-bedrock/snapshots/abi/FaultDisputeGame.json
  packages/contracts-bedrock/snapshots/abi/PermissionedDisputeGame.json
  packages/contracts-bedrock/src/dispute/FaultDisputeGame.sol
Labels: A-pkg-contracts-bedrock

#9465 feat(ctb): Respected game type updated timestamp
  op-bindings/bindingspreview/optimismportal2.go
  op-bindings/bindingspreview/optimismportal2_more.go
  packages/contracts-bedrock/semver-lock.json
  packages/contracts-bedrock/snapshots/abi/OptimismPortal2.json
  packages/contracts-bedrock/snapshots/storageLayout/OptimismPortal2.json
  packages/contracts-bedrock/src/L1/OptimismPortal2.sol
  packages/contracts-bedrock/test/L1/OptimismPortal2.t.sol
  packages/contracts-bedrock/test/Specs.t.sol
Labels: A-pkg-contracts-bedrock

#9463 fix(op-dispute-mon): Fix noBond Size
  op-dispute-mon/mon/bonds/bonds.go
  op-dispute-mon/mon/bonds/bonds_test.go
Labels: C-bug, A-op-dispute-mon

#9469 feat(op-service): Variadic Log Filters
  op-challenger/game/fault/player_test.go
  op-challenger/game/fault/trace/cannon/executor_test.go
  op-challenger/game/keccak/challenger_test.go
  op-dispute-mon/mon/detector_test.go
  op-node/rollup/derive/batches_test.go
  op-service/log/writer_test.go
  op-service/testlog/capturing.go
  op-service/testlog/capturing_test.go
Labels: C-feature, A-op-service

#9498 feat(ctb): Remove `deletePendingWithdrawal`
  op-bindings/bindingspreview/optimismportal2.go
  op-bindings/bindingspreview/optimismportal2_more.go
  packages/contracts-bedrock/semver-lock.json
  packages/contracts-bedrock/snapshots/abi/OptimismPortal2.json
  packages/contracts-bedrock/src/L1/OptimismPortal2.sol
  packages/contracts-bedrock/test/L1/OptimismPortal2.t.sol
  packages/contracts-bedrock/test/Specs.t.sol
Labels: A-pkg-contracts-bedrock

#9499 feat(ctb): Set L1 head hash in DGF rather than the FDG
  op-bindings/bindings/disputegamefactory.go
  op-bindings/bindings/disputegamefactory_more.go
  op-bindings/bindings/faultdisputegame.go
  op-bindings/bindings/faultdisputegame_more.go
  packages/contracts-bedrock/semver-lock.json
  packages/contracts-bedrock/snapshots/abi/FaultDisputeGame.json
  packages/contracts-bedrock/snapshots/abi/PermissionedDisputeGame.json
  packages/contracts-bedrock/snapshots/storageLayout/FaultDisputeGame.json
  packages/contracts-bedrock/snapshots/storageLayout/PermissionedDisputeGame.json
  packages/contracts-bedrock/src/dispute/DisputeGameFactory.sol
  packages/contracts-bedrock/src/dispute/FaultDisputeGame.sol
  packages/contracts-bedrock/test/dispute/DisputeGameFactory.t.sol
Labels: A-pkg-contracts-bedrock

#9495 feat(ctb): Update FPACOPS scripts
  packages/contracts-bedrock/deploy-config/goerli.json
  packages/contracts-bedrock/deploy-config/sepolia.json
  packages/contracts-bedrock/scripts/ChainAssertions.sol
  packages/contracts-bedrock/scripts/Deploy.s.sol
  packages/contracts-bedrock/scripts/fpac/FPACOPS.s.sol
  packages/contracts-bedrock/scripts/fpac/FPACOPS.sol
  packages/contracts-bedrock/scripts/fpac/Makefile
  packages/contracts-bedrock/scripts/fpac/README.md
Labels: A-pkg-contracts-bedrock

#9449 feat(op-dispute-mon): Game Resolution Forecasting
  op-dispute-mon/mon/caller.go
  op-dispute-mon/mon/caller_test.go
  op-dispute-mon/mon/detector.go
  op-dispute-mon/mon/detector_test.go
  op-dispute-mon/mon/forecast.go
  op-dispute-mon/mon/forecast_test.go
  op-dispute-mon/mon/monitor.go
  op-dispute-mon/mon/monitor_test.go
  op-dispute-mon/mon/resolver.go
  op-dispute-mon/mon/resolver_test.go
  op-dispute-mon/mon/service.go
Labels: C-feature, A-op-dispute-mon

#9468 feat(op-dispute-mon): Forecast Metrics and Enhanced Testing
  op-dispute-mon/mon/detector_test.go
  op-dispute-mon/mon/forecast.go
  op-dispute-mon/mon/forecast_test.go
  op-dispute-mon/mon/service.go
  op-dispute-mon/mon/types.go
Labels: C-feature, A-op-dispute-mon

#9542 chore(op-dispute-mon): Monitor Type Isolation
  op-dispute-mon/mon/detector.go
  op-dispute-mon/mon/detector_test.go
  op-dispute-mon/mon/forecast.go
  op-dispute-mon/mon/types.go
  op-dispute-mon/mon/types/types.go
  op-dispute-mon/mon/types/types_test.go
Labels: C-cleanup, M-stacked, A-op-dispute-mon

#9544 chore(op-dispute-mon): Extraction Package
  op-dispute-mon/mon/detector.go
  op-dispute-mon/mon/detector_test.go
  op-dispute-mon/mon/extract/caller.go
  op-dispute-mon/mon/extract/caller_test.go
  op-dispute-mon/mon/service.go
Labels: C-cleanup, M-stacked, A-op-dispute-mon

#9563 feat(op-dispute-mon): Resolution Delay Metric Setup
  op-dispute-mon/mon/forecast.go
  op-dispute-mon/mon/resolver.go
  op-dispute-mon/mon/resolver_test.go
  op-dispute-mon/mon/transform/tree.go
  op-dispute-mon/mon/transform/tree_test.go
  op-dispute-mon/mon/types/types.go
Labels: C-cleanup, M-stacked, A-op-dispute-mon

#9565 feat(op-dispute-mon): Extractor Wiring
  op-dispute-mon/mon/detector.go
  op-dispute-mon/mon/detector_test.go
  op-dispute-mon/mon/forecast.go
  op-dispute-mon/mon/forecast_test.go
  op-dispute-mon/mon/monitor.go
  op-dispute-mon/mon/monitor_test.go
  op-dispute-mon/mon/service.go
Labels: C-feature, M-stacked, A-op-dispute-mon

#9569 feat(op-dispute-mon): Extractor Claim Fetching
  op-dispute-mon/mon/detector.go
  op-dispute-mon/mon/detector_test.go
  op-dispute-mon/mon/extract/extractor.go
  op-dispute-mon/mon/extract/extractor_test.go
  op-dispute-mon/mon/forecast.go
  op-dispute-mon/mon/forecast_test.go
  op-dispute-mon/mon/service.go
  op-dispute-mon/mon/types/types.go
Labels: C-feature, M-stacked, A-op-dispute-mon

#9570 feat(ctb): `PreimageOracle` large preimage proposal bonds
  op-bindings/bindings/preimageoracle.go
  op-bindings/bindings/preimageoracle_more.go
  op-challenger/game/fault/contracts/oracle.go
  op-challenger/game/fault/contracts/oracle_test.go
  op-challenger/game/fault/preimages/large.go
  op-challenger/game/fault/preimages/large_test.go
  op-challenger/game/fault/preimages/types.go
  op-e2e/e2eutils/disputegame/preimage/preimage_helper.go
  packages/contracts-bedrock/snapshots/abi/PreimageOracle.json
  packages/contracts-bedrock/snapshots/storageLayout/PreimageOracle.json
  packages/contracts-bedrock/src/cannon/PreimageOracle.sol
  packages/contracts-bedrock/src/cannon/libraries/CannonErrors.sol
  packages/contracts-bedrock/test/cannon/PreimageOracle.t.sol
Labels: A-pkg-contracts-bedrock, A-op-challenger

#9583 chore(chain-ops): Remove stale TODO
  op-chain-ops/genesis/config.go
Labels: A-op-chain-ops

#9582 fix(op-challenger): Packed Claim Clock
  op-challenger/game/fault/contracts/faultdisputegame.go
  op-challenger/game/fault/contracts/faultdisputegame_test.go
  op-challenger/game/fault/types/types.go
  op-challenger/game/fault/types/types_test.go
Labels: A-op-challenger, C-cleanup, M-stacked

#9567 feat(op-dispute-mon): Max Claim Resolution Delay Metrics
  op-challenger/game/fault/contracts/faultdisputegame.go
  op-challenger/game/fault/contracts/faultdisputegame_test.go
  op-dispute-mon/metrics/metrics.go
  op-dispute-mon/metrics/noop.go
  op-dispute-mon/mon/bonds/bonds.go
  op-dispute-mon/mon/bonds/bonds_test.go
  op-dispute-mon/mon/extract/caller.go
  op-dispute-mon/mon/extract/extractor.go
  op-dispute-mon/mon/extract/extractor_test.go
  op-dispute-mon/mon/forecast.go
  op-dispute-mon/mon/forecast_test.go
  op-dispute-mon/mon/monitor.go
  op-dispute-mon/mon/monitor_test.go
  op-dispute-mon/mon/resolution/delay.go
  op-dispute-mon/mon/resolution/delay_test.go
  op-dispute-mon/mon/resolution/resolver.go
  op-dispute-mon/mon/resolution/resolver_test.go
  op-dispute-mon/mon/service.go
  op-dispute-mon/mon/types/types.go
  op-dispute-mon/mon/types/types_test.go
Labels: C-feature, M-stacked, A-op-dispute-mon

#9653 feat(ctb): Prevent duplicate `step` moves
  op-bindings/bindings/faultdisputegame.go
  op-bindings/bindings/faultdisputegame_more.go
  packages/contracts-bedrock/semver-lock.json
  packages/contracts-bedrock/snapshots/abi/FaultDisputeGame.json
  packages/contracts-bedrock/snapshots/abi/PermissionedDisputeGame.json
  packages/contracts-bedrock/src/dispute/FaultDisputeGame.sol
  packages/contracts-bedrock/src/libraries/DisputeErrors.sol
  packages/contracts-bedrock/test/dispute/FaultDisputeGame.t.sol
Labels: A-pkg-contracts-bedrock

#9670 fix(ctb): FDG Local Keys
  op-bindings/bindings/alphabetvm.go
  op-bindings/bindings/alphabetvm_more.go
  op-bindings/bindings/faultdisputegame.go
  op-bindings/bindings/faultdisputegame_more.go
  packages/contracts-bedrock/semver-lock.json
  packages/contracts-bedrock/src/dispute/FaultDisputeGame.sol
  packages/contracts-bedrock/src/libraries/DisputeTypes.sol
  packages/contracts-bedrock/test/actors/FaultDisputeActors.sol
  packages/contracts-bedrock/test/dispute/FaultDisputeGame.t.sol
  packages/contracts-bedrock/test/mocks/AlphabetVM.sol
Labels: A-pkg-contracts-bedrock
