Repository ethereum-optimism/optimism, pull requests merged in 2024-10, with the labels that each got.

#12417 op-node/rollup/derive: Holocene Batch Stage
  op-node/rollup/derive/batch_queue.go
  op-node/rollup/derive/batch_queue_test.go
  op-node/rollup/derive/batch_stage.go
  op-node/rollup/derive/batches.go
  op-node/rollup/derive/batches_test.go
  op-node/rollup/derive/channel_in_reader.go
Labels: A-op-node, M-do-not-merge, T-protocol

#12506 op-node/rollup/derive: Implement pipeline stage multiplexing
  op-chain-ops/genesis/config.go
  op-chain-ops/genesis/config_test.go
  op-e2e/actions/derivation/blocktime_test.go
  op-e2e/actions/helpers/env.go
  op-e2e/actions/helpers/l1_miner.go
  op-e2e/actions/helpers/l2_sequencer.go
  op-e2e/actions/proofs/helpers/matrix.go
  op-e2e/actions/proofs/sequence_window_expiry_test.go
  op-e2e/actions/upgrades/helpers/config.go
  op-e2e/actions/upgrades/holocene_fork_test.go
  op-node/rollup/chain_spec.go
  op-node/rollup/derive/attributes_queue.go
  op-node/rollup/derive/batch_mux.go
  op-node/rollup/derive/batch_mux_test.go
  op-node/rollup/derive/batch_queue.go
  op-node/rollup/derive/batch_stage.go
  op-node/rollup/derive/channel_assembler.go
  op-node/rollup/derive/channel_assembler_test.go
  op-node/rollup/derive/channel_bank.go
  op-node/rollup/derive/channel_bank_test.go
  op-node/rollup/derive/channel_in_reader.go
  op-node/rollup/derive/channel_mux.go
  op-node/rollup/derive/channel_mux_test.go
  op-node/rollup/derive/frame_queue.go
  op-node/rollup/derive/pipeline.go
  op-node/rollup/types.go
  op-node/rollup/types_test.go
Labels: A-op-node, T-protocol

#11590 Interop: local devnet
  interop-devnet/create-chains.sh
  interop-devnet/depset.json
  interop-devnet/docker-compose.yml
  interop-devnet/justfile
  op-chain-ops/devkeys/devkeys.go
  op-node/cmd/interop/interop.go
  op-node/cmd/main.go
  op-node/flags/flags.go
  op-node/rollup/interop/interop.go
  op-service/ioutil/streams.go
  op-service/jsonutil/json.go
  op-service/locks/rwmap.go
  op-service/locks/rwmap_test.go
  op-service/locks/rwvalue.go
  op-service/locks/rwvalue_test.go
  op-service/sources/supervisor_client.go
  op-service/testutils/fake_interop_backend.go
  op-service/testutils/mock_interop_backend.go
  op-supervisor/supervisor/backend/backend.go
  op-supervisor/supervisor/backend/cross/safe_start_test.go
  op-supervisor/supervisor/backend/cross/worker.go
  op-supervisor/supervisor/backend/db/db.go
  op-supervisor/supervisor/backend/db/fromda/update_test.go
  op-supervisor/supervisor/backend/db/query.go
  op-supervisor/supervisor/backend/db/update.go
  op-supervisor/supervisor/backend/mock.go
  op-supervisor/supervisor/frontend/frontend.go
  op-supervisor/supervisor/service.go
  ops-bedrock/l2-op-geth-interop.Dockerfile
  ops/docker/op-stack-go/Dockerfile.dockerignore
Labels: M-do-not-merge
