Repository ethereum-optimism/optimism, pull requests merged in 2024-03, with the labels that each got.

#9743 feat(ctb): Add `ISemver` to the `PreimageOracle` and `MIPS`
  op-bindings/bindings/mips.go
  op-bindings/bindings/mips_more.go
  op-bindings/bindings/preimageoracle.go
  op-bindings/bindings/preimageoracle_more.go
  packages/contracts-bedrock/semver-lock.json
  packages/contracts-bedrock/snapshots/abi/MIPS.json
  packages/contracts-bedrock/snapshots/abi/PreimageOracle.json
  packages/contracts-bedrock/src/cannon/MIPS.sol
  packages/contracts-bedrock/src/cannon/PreimageOracle.sol
Labels: A-pkg-contracts-bedrock

#9744 feat(op-dispute-mon): Output Fetch Timestamp Metric
  op-dispute-mon/metrics/metrics.go
  op-dispute-mon/metrics/noop.go
  op-dispute-mon/mon/service.go
  op-dispute-mon/mon/validator.go
  op-dispute-mon/mon/validator_test.go
Labels: C-feature, A-op-dispute-mon

#9761 feat(ctb): Update `sepolia-devnet-0` deploy config
  packages/contracts-bedrock/deploy-config/sepolia-devnet-0.json
  packages/contracts-bedrock/scripts/fpac/FPACOPS.s.sol
Labels: A-pkg-contracts-bedrock

#9762 feat(op-e2e): Bond Claiming Tests
  op-challenger/cmd/main_test.go
  op-challenger/config/config.go
  op-challenger/game/service.go
  op-e2e/e2eutils/disputegame/output_game_helper.go
  op-e2e/faultproofs/output_cannon_test.go
Labels: C-feature, A-op-challenger

#9777 fix(op-challenger): Remove Verbose Claim Logging
  op-challenger/game/fault/solver/game_rules_test.go
  op-challenger/game/fault/solver/game_solver_test.go
Labels: A-op-challenger, C-cleanup

#9780 feat(op-challenger): Selective Claim Resolution
  op-challenger/config/config.go
  op-challenger/config/config_test.go
  op-challenger/flags/flags.go
  op-challenger/game/fault/agent.go
  op-challenger/game/fault/agent_test.go
  op-challenger/game/fault/player.go
  op-challenger/game/fault/register.go
  op-challenger/game/service.go
Labels: C-feature, A-op-challenger

#9810 feat(ctb): Upgrade foundry version
  versions.json
Labels: A-pkg-contracts-bedrock

#9803 fix(op-e2e): E2E Bond Test Alphabet VM Migration
  op-e2e/e2eutils/disputegame/output_game_helper.go
  op-e2e/faultproofs/output_alphabet_test.go
  op-e2e/faultproofs/output_cannon_test.go
Labels: A-op-e2e, C-cleanup

#9804 feat(op-challenger): Parallelize Agent Actions
  op-challenger/game/fault/agent.go
Labels: C-feature, A-op-challenger

#9890 fix(challenger,dispute-mon): MinGameTimestamp Refactor
  op-challenger/game/monitor.go
  op-challenger/game/monitor_test.go
  op-dispute-mon/mon/monitor.go
  op-dispute-mon/mon/monitor_test.go
  op-service/clock/util.go
  op-service/clock/util_test.go
Labels: A-op-challenger, A-op-service, C-cleanup, A-op-dispute-mon

#9908 chore(op-dispute-mon): Bind Extraction Enrichers
  op-dispute-mon/mon/extract/balance_enricher.go
  op-dispute-mon/mon/extract/bond_enricher.go
  op-dispute-mon/mon/extract/head_enricher.go
Labels: C-chore, A-op-dispute-mon

#9924 fix(ctb): Exact Bond Amounts
  op-bindings/bindings/disputegamefactory.go
  op-bindings/bindings/disputegamefactory_more.go
  op-bindings/bindings/faultdisputegame.go
  op-bindings/bindings/faultdisputegame_more.go
  packages/contracts-bedrock/semver-lock.json
  packages/contracts-bedrock/snapshots/abi/DisputeGameFactory.json
  packages/contracts-bedrock/snapshots/abi/FaultDisputeGame.json
  packages/contracts-bedrock/snapshots/abi/PermissionedDisputeGame.json
  packages/contracts-bedrock/src/dispute/DisputeGameFactory.sol
  packages/contracts-bedrock/src/dispute/FaultDisputeGame.sol
  packages/contracts-bedrock/src/libraries/DisputeErrors.sol
  packages/contracts-bedrock/test/dispute/DisputeGameFactory.t.sol
  packages/contracts-bedrock/test/dispute/FaultDisputeGame.t.sol
  packages/contracts-bedrock/test/dispute/PermissionedDisputeGame.t.sol
Labels: C-chore, A-pkg-contracts-bedrock

#9926 fix(op-dispute-mon): Remove Unused Collateral Calculator
  op-dispute-mon/mon/bonds/collateral.go
  op-dispute-mon/mon/bonds/collateral_test.go
  op-dispute-mon/mon/bonds/monitor.go
  op-dispute-mon/mon/bonds/monitor_test.go
  op-dispute-mon/mon/transform/collateral.go
  op-dispute-mon/mon/transform/collateral_test.go
Labels: C-cleanup, A-op-dispute-mon

#9937 feat(op-dispute-mon): Enrich Claims with Resolved Status
  op-challenger/game/fault/solver/game_rules_test.go
  op-dispute-mon/mon/bonds/collateral.go
  op-dispute-mon/mon/bonds/collateral_test.go
  op-dispute-mon/mon/extract/bond_enricher_test.go
  op-dispute-mon/mon/extract/caller.go
  op-dispute-mon/mon/extract/claim_enricher.go
  op-dispute-mon/mon/extract/claim_enricher_test.go
  op-dispute-mon/mon/extract/extractor.go
  op-dispute-mon/mon/forecast_test.go
  op-dispute-mon/mon/resolution/delay.go
  op-dispute-mon/mon/resolution/delay_test.go
  op-dispute-mon/mon/resolution/resolver_test.go
  op-dispute-mon/mon/service.go
  op-dispute-mon/mon/transform/tree.go
  op-dispute-mon/mon/transform/tree_test.go
  op-dispute-mon/mon/types/types.go
  op-dispute-mon/mon/types/types_test.go
Labels: C-feature, A-op-dispute-mon

#9943 fix(op-dispute-mon): Update Credit Enrichment Logic
  op-dispute-mon/mon/extract/bond_enricher.go
  op-dispute-mon/mon/extract/bond_enricher_test.go
Labels: C-bug, A-op-dispute-mon

#9938 feat(op-challenger): Delayed Weth Withdrawal Request Caller
  op-challenger/game/fault/contracts/delayed_weth.go
  op-challenger/game/fault/contracts/delayed_weth_test.go
  op-challenger/game/fault/contracts/faultdisputegame.go
Labels: C-feature, A-op-challenger

#9944 feat(ctb): Require re-proving against a different dispute game
  op-bindings/bindingspreview/optimismportal2.go
  op-bindings/bindingspreview/optimismportal2_more.go
  packages/contracts-bedrock/semver-lock.json
  packages/contracts-bedrock/src/L1/OptimismPortal2.sol
  packages/contracts-bedrock/test/L1/OptimismPortal2.t.sol
Labels: A-pkg-contracts-bedrock

#9916 chore(op-proposer): Update Proposer Description
  op-proposer/cmd/main.go
Labels: C-chore, A-op-proposer

#9948 feat(ctb): Key withdrawal proofs by address
  op-bindings/bindingspreview/optimismportal2.go
  op-bindings/bindingspreview/optimismportal2_more.go
  op-e2e/actions/user.go
  op-e2e/e2eutils/wait/withdrawals.go
  op-e2e/system_tob_test.go
  op-e2e/withdrawal_helper.go
  packages/contracts-bedrock/semver-lock.json
  packages/contracts-bedrock/snapshots/abi/OptimismPortal2.json
  packages/contracts-bedrock/snapshots/storageLayout/OptimismPortal2.json
  packages/contracts-bedrock/src/L1/OptimismPortal2.sol
  packages/contracts-bedrock/test/L1/OptimismPortal2.t.sol
  packages/contracts-bedrock/test/Specs.t.sol
  packages/sdk/src/cross-chain-messenger.ts
Labels: A-pkg-sdk, A-pkg-contracts-bedrock

#9915 chore(op-proposer): Fix Double Driver Startup Logs
  op-proposer/proposer/service.go
Labels: C-chore, A-op-proposer
