Repository ethereum-optimism/optimism, pull requests merged in 2024-05, with the labels that each got.

#10372 fix(op-dispute-mon): Remove Delays Calculator
  op-challenger/game/fault/solver/game_rules_test.go
  op-dispute-mon/metrics/metrics.go
  op-dispute-mon/metrics/noop.go
  op-dispute-mon/mon/forecast.go
  op-dispute-mon/mon/forecast_test.go
  op-dispute-mon/mon/monitor.go
  op-dispute-mon/mon/monitor_test.go
  op-dispute-mon/mon/resolution/delay.go
  op-dispute-mon/mon/resolution/delay_test.go
  op-dispute-mon/mon/resolve.go
  op-dispute-mon/mon/resolve_test.go
  op-dispute-mon/mon/service.go
Labels: C-cleanup, A-op-dispute-mon

#10394 fix(op-dispute-mon): Unresolved Claim Logging
  op-dispute-mon/mon/claims.go
Labels: C-chore, A-op-dispute-mon

#10419 fix(op-dispute-mon): Improve Resolution Status Granularity
  op-dispute-mon/metrics/metrics.go
  op-dispute-mon/metrics/noop.go
  op-dispute-mon/mon/resolutions.go
  op-dispute-mon/mon/resolutions_test.go
Labels: C-chore, A-op-dispute-mon

#10430 fix(op-dispute-mon): Export Forecast Component
  op-dispute-mon/mon/forecast.go
  op-dispute-mon/mon/forecast_test.go
  op-dispute-mon/mon/monitor.go
  op-dispute-mon/mon/service.go
Labels: C-chore, A-op-dispute-mon

#10442 fix(op-challenger): Subcommand Env Var Prefix
  op-challenger/cmd/list_claims.go
  op-challenger/cmd/list_games.go
Labels: C-chore, A-op-challenger

#10454 feat(op-challenger): Games List Sorting
  op-challenger/cmd/list_games.go
Labels: C-feature, A-op-challenger

#10447 feat(op-dispute-mon): Contract Creation Failure Metric
  op-dispute-mon/metrics/metrics.go
  op-dispute-mon/metrics/noop.go
  op-dispute-mon/mon/extract/caller.go
  op-dispute-mon/mon/extract/extractor.go
  op-dispute-mon/mon/extract/extractor_test.go
  op-dispute-mon/mon/forecast.go
  op-dispute-mon/mon/forecast_test.go
  op-dispute-mon/mon/monitor.go
  op-dispute-mon/mon/monitor_test.go
Labels: C-feature, A-op-dispute-mon

#10492 feat(op-dispute-mon): Update L2 Challenges Metrics
  op-dispute-mon/metrics/metrics.go
  op-dispute-mon/metrics/noop.go
  op-dispute-mon/mon/l2_challenges.go
  op-dispute-mon/mon/l2_challenges_test.go
  op-dispute-mon/mon/service.go
Labels: C-chore, A-op-dispute-mon

#10451 feat(op-dispute-mon): L2BlockNumberChallenged Support
  op-challenger/cmd/list_games.go
  op-challenger/game/fault/contracts/faultdisputegame.go
  op-challenger/game/fault/contracts/faultdisputegame0180.go
  op-challenger/game/fault/contracts/faultdisputegame080.go
  op-challenger/game/fault/contracts/faultdisputegame_test.go
  op-dispute-mon/metrics/metrics.go
  op-dispute-mon/metrics/noop.go
  op-dispute-mon/mon/bonds/monitor.go
  op-dispute-mon/mon/bonds/monitor_test.go
  op-dispute-mon/mon/extract/bond_enricher.go
  op-dispute-mon/mon/extract/caller.go
  op-dispute-mon/mon/extract/extractor.go
  op-dispute-mon/mon/extract/extractor_test.go
  op-dispute-mon/mon/extract/recipient_enricher.go
  op-dispute-mon/mon/extract/recipient_enricher_test.go
  op-dispute-mon/mon/forecast.go
  op-dispute-mon/mon/forecast_test.go
  op-dispute-mon/mon/l2_challenges.go
  op-dispute-mon/mon/l2_challenges_test.go
  op-dispute-mon/mon/monitor.go
  op-dispute-mon/mon/monitor_test.go
  op-dispute-mon/mon/service.go
  op-dispute-mon/mon/types/types.go
Labels: C-feature, A-op-dispute-mon

#10544 feat(ctb): Mainnet FP Deploy Config
  packages/contracts-bedrock/deploy-config/mainnet.json
Labels: M-do-not-merge

#10590 fix(op-dispute-mon): Require RollupRpcFlag
  op-dispute-mon/flags/flags.go
Labels: C-chore, A-op-dispute-mon

#10686 chore: Dedup Arg Types
  op-dispute-mon/metrics/metrics.go
  op-dispute-mon/metrics/noop.go
Labels: C-chore, A-op-dispute-mon
