Repository ethereum-optimism/optimism, pull requests merged in 2024-04, with the labels that each got.

#9939 feat(op-dispute-mon): GetWithdrawals GameCaller Method
  op-challenger/game/fault/contracts/faultdisputegame.go
  op-dispute-mon/mon/extract/caller.go
  op-dispute-mon/mon/extract/extractor_test.go
  op-dispute-mon/mon/types/types.go
Labels: C-feature, A-op-dispute-mon

#9940 feat(op-dispute-mon): WithdrawalRequest and Recipients Enricher
  op-dispute-mon/mon/extract/bond_enricher.go
  op-dispute-mon/mon/extract/bond_enricher_test.go
  op-dispute-mon/mon/extract/extractor_test.go
  op-dispute-mon/mon/extract/recipient_enricher.go
  op-dispute-mon/mon/extract/recipient_enricher_test.go
  op-dispute-mon/mon/extract/withdrawals_enricher.go
  op-dispute-mon/mon/extract/withdrawals_enricher_test.go
  op-dispute-mon/mon/service.go
  op-dispute-mon/mon/types/types.go
Labels: C-feature, A-op-dispute-mon

#9942 feat(op-dispute-mon): WithdrawalRequests Metrics
  op-dispute-mon/metrics/metrics.go
  op-dispute-mon/metrics/noop.go
  op-dispute-mon/mon/monitor.go
  op-dispute-mon/mon/monitor_test.go
  op-dispute-mon/mon/service.go
  op-dispute-mon/mon/withdrawals.go
  op-dispute-mon/mon/withdrawals_test.go
Labels: C-feature, A-op-dispute-mon

#10012 feat(op-dispute-mon): Claim Monitor
  op-dispute-mon/metrics/metrics.go
  op-dispute-mon/metrics/noop.go
  op-dispute-mon/mon/claims.go
  op-dispute-mon/mon/claims_test.go
  op-dispute-mon/mon/monitor.go
  op-dispute-mon/mon/monitor_test.go
  op-dispute-mon/mon/service.go
Labels: C-feature, A-op-dispute-mon

#9928 feat(op-dispute-mon): Track and Metrice Credit Balances
  op-challenger/game/fault/contracts/faultdisputegame.go
  op-dispute-mon/metrics/metrics.go
  op-dispute-mon/metrics/noop.go
  op-dispute-mon/mon/bonds/monitor.go
  op-dispute-mon/mon/bonds/monitor_test.go
  op-dispute-mon/mon/extract/bond_enricher.go
  op-dispute-mon/mon/extract/bond_enricher_test.go
  op-dispute-mon/mon/extract/extractor_test.go
  op-dispute-mon/mon/service.go
  op-dispute-mon/mon/types/types.go
Labels: C-feature, A-op-dispute-mon

#10020 feat(op-dispute-mon): Resolution Status Monitor Component
  op-dispute-mon/metrics/metrics.go
  op-dispute-mon/metrics/noop.go
  op-dispute-mon/mon/monitor.go
  op-dispute-mon/mon/monitor_test.go
  op-dispute-mon/mon/resolutions.go
  op-dispute-mon/mon/resolutions_test.go
  op-dispute-mon/mon/service.go
Labels: C-feature, A-op-dispute-mon

#10031 feat(op-dispute-mon): Unexpected Claim Resolution
  op-dispute-mon/config/config.go
  op-dispute-mon/flags/flags.go
  op-dispute-mon/metrics/metrics.go
  op-dispute-mon/metrics/noop.go
  op-dispute-mon/mon/claims.go
  op-dispute-mon/mon/claims_test.go
  op-dispute-mon/mon/service.go
Labels: C-feature, A-op-dispute-mon

#10088 chore(ctb): Speed up chained compilation
  packages/contracts-bedrock/foundry.toml
  packages/contracts-bedrock/package.json
Labels: A-pkg-contracts-bedrock

#10060 fix(op-challenger): Missing Flag in Create Game Subcommand
  op-challenger/cmd/create_game.go
Labels: C-bug, A-op-challenger

#9986 fault-proofs: add test cases for defending claims
  packages/contracts-bedrock/test/dispute/FaultDisputeGame.t.sol
Labels: Stale

#10042 op-challenger: Fix list-claims command
  op-challenger/cmd/list_claims.go
Labels: Stale
