Repository ethereum-optimism/optimism, pull requests merged in 2024-09, with the labels that each got.

#11705 feat(op-program): Use `PebbleDB` for `DiskKV`
  op-e2e/system_fpp_test.go
  op-program/host/host.go
  op-program/host/kvstore/disk.go
  op-program/host/kvstore/kv.go
  op-program/host/kvstore/mem.go
  op-program/scripts/run-compat.sh
Labels: A-op-program

#11706 chore(op-service): Remove `reth` receipts source
  .circleci/config.yml
  op-node/flags/flags.go
  op-node/node/config.go
  op-node/node/node.go
  op-node/service.go
  op-service/rethdb-reader/.gitignore
  op-service/rethdb-reader/Cargo.lock
  op-service/rethdb-reader/Cargo.toml
  op-service/rethdb-reader/Makefile
  op-service/rethdb-reader/README.md
  op-service/rethdb-reader/headgen.sh
  op-service/rethdb-reader/rustfmt.toml
  op-service/rethdb-reader/src/db.rs
  op-service/rethdb-reader/src/lib.rs
  op-service/rethdb-reader/src/receipts.rs
  op-service/rethdb-reader/testdata/block.rlp
  op-service/rethdb-reader/testdata/receipts.json
  op-service/sources/eth_client.go
  op-service/sources/reth_db.go
  op-service/sources/reth_db_stub.go
  op-service/sources/reth_db_test.go
Labels: C-cleanup

#11368 cannon: Fix the error usage in cannon
  cannon/cmd/run.go
  cannon/mipsevm/program/patch.go
  cannon/mipsevm/testutil/mips.go
Labels: Stale
