Repository ethereum-optimism/optimism, pull requests merged in 2024-01, with the labels that each got.

#8749 chore: Remove lint Makefile .PHONY
  op-challenger/Makefile
Labels: C-chore, A-op-challenger

#8788 feat(challenger/e2e): Consolidate `OutputBisectionGame` -> `FaultDisputeGame`
  op-challenger/cmd/main_test.go
  op-challenger/config/config.go
  op-challenger/config/config_test.go
  op-challenger/flags/flags.go
  op-challenger/game/fault/contracts/disputegame.go
  op-challenger/game/fault/contracts/disputegame_test.go
  op-challenger/game/fault/contracts/faultdisputegame.go
  op-challenger/game/fault/contracts/faultdisputegame_test.go
  op-challenger/game/fault/contracts/outputbisectiongame.go
  op-challenger/game/fault/contracts/outputbisectiongame_test.go
  op-challenger/game/fault/register.go
  op-e2e/e2eutils/challenger/helper.go
  op-e2e/e2eutils/disputegame/alphabet_helper.go
  op-e2e/e2eutils/disputegame/game_helper.go
  op-e2e/e2eutils/disputegame/helper.go
  op-e2e/e2eutils/disputegame/output_alphabet_helper.go
  op-e2e/e2eutils/disputegame/output_cannon_helper.go
  op-e2e/e2eutils/disputegame/output_game_helper.go
  op-e2e/e2eutils/disputegame/output_honest_helper.go
  op-e2e/faultproofs/alphabet_test.go
  op-e2e/faultproofs/multi_test.go
Labels: A-op-challenger, A-op-e2e, M-stacked

#8787 feat(ctb): Consolidate `OutputBisectionGame` -> `FaultDisputeGame`
  op-bindings/artifacts.json
  op-bindings/bindings/alphabetvm.go
  op-bindings/bindings/alphabetvm_more.go
  op-bindings/bindings/blockoracle.go
  op-bindings/bindings/blockoracle_more.go
  op-bindings/bindings/faultdisputegame.go
  op-bindings/bindings/faultdisputegame_more.go
  op-bindings/bindings/mips_more.go
  op-bindings/bindings/outputbisectiongame.go
  op-bindings/bindings/outputbisectiongame_more.go
  op-bindings/bindings/preimageoracle_more.go
  op-chain-ops/genesis/config.go
  op-chain-ops/genesis/testdata/test-deploy-config-full.json
  op-challenger/cmd/main_test.go
  op-challenger/config/config.go
  op-challenger/config/config_test.go
  op-challenger/flags/flags.go
  op-challenger/game/fault/contracts/disputegame.go
  op-challenger/game/fault/contracts/disputegame_test.go
  op-challenger/game/fault/contracts/faultdisputegame.go
  op-challenger/game/fault/contracts/faultdisputegame_test.go
  op-challenger/game/fault/contracts/outputbisectiongame.go
  op-challenger/game/fault/contracts/outputbisectiongame_test.go
  op-challenger/game/fault/register.go
  op-e2e/e2eutils/challenger/helper.go
  op-e2e/e2eutils/disputegame/alphabet_helper.go
  op-e2e/e2eutils/disputegame/game_helper.go
  op-e2e/e2eutils/disputegame/helper.go
  op-e2e/e2eutils/disputegame/output_alphabet_helper.go
  op-e2e/e2eutils/disputegame/output_cannon_helper.go
  op-e2e/e2eutils/disputegame/output_game_helper.go
  op-e2e/e2eutils/disputegame/output_honest_helper.go
  op-e2e/faultproofs/alphabet_test.go
  op-e2e/faultproofs/multi_test.go
  packages/contracts-bedrock/deploy-config/devnetL1-template.json
  packages/contracts-bedrock/scripts/Deploy.s.sol
  packages/contracts-bedrock/scripts/DeployConfig.s.sol
  packages/contracts-bedrock/scripts/FaultDisputeGameViz.s.sol
  packages/contracts-bedrock/semver-lock.json
  packages/contracts-bedrock/slither-report.json
  packages/contracts-bedrock/snapshots/abi/FaultDisputeGame.json
  packages/contracts-bedrock/snapshots/abi/LegacyFaultDisputeGame.json
  packages/contracts-bedrock/snapshots/storageLayout/FaultDisputeGame.json
  packages/contracts-bedrock/snapshots/storageLayout/LegacyFaultDisputeGame.json
  packages/contracts-bedrock/src/dispute/FaultDisputeGame.sol
  packages/contracts-bedrock/src/dispute/OutputBisectionGame.sol
  packages/contracts-bedrock/src/dispute/interfaces/IFaultDisputeGame.sol
  packages/contracts-bedrock/src/legacy/BlockOracle.sol
  packages/contracts-bedrock/src/legacy/FaultDisputeGame.sol
  packages/contracts-bedrock/src/legacy/interfaces/IFaultDisputeGame.sol
  packages/contracts-bedrock/src/libraries/DisputeErrors.sol
  packages/contracts-bedrock/src/libraries/DisputeTypes.sol
  packages/contracts-bedrock/test/actors/FaultDisputeActors.sol
  packages/contracts-bedrock/test/dispute/BlockOracle.t.sol
  packages/contracts-bedrock/test/dispute/FaultDisputeGame.t.sol
  packages/contracts-bedrock/test/dispute/OutputBisectionGame.t.sol
  packages/contracts-bedrock/test/mocks/AlphabetVM.sol
  packages/contracts-bedrock/test/mocks/AlphabetVM2.sol
Labels: A-pkg-contracts-bedrock, M-stacked

#8789 feat(ctb): `raw()` helper on dispute UDTs
  op-bindings/bindings/faultdisputegame.go
  op-bindings/bindings/faultdisputegame_more.go
  packages/contracts-bedrock/scripts/FaultDisputeGameViz.s.sol
  packages/contracts-bedrock/semver-lock.json
  packages/contracts-bedrock/slither-report.json
  packages/contracts-bedrock/src/dispute/FaultDisputeGame.sol
  packages/contracts-bedrock/src/dispute/lib/LibClock.sol
  packages/contracts-bedrock/src/dispute/lib/LibPosition.sol
  packages/contracts-bedrock/src/dispute/lib/LibUDT.sol
  packages/contracts-bedrock/src/legacy/FaultDisputeGame.sol
  packages/contracts-bedrock/src/libraries/DisputeTypes.sol
  packages/contracts-bedrock/test/dispute/FaultDisputeGame.t.sol
  packages/contracts-bedrock/test/dispute/lib/LibClock.t.sol
Labels: A-pkg-contracts-bedrock, M-stacked

#8792 feat(ctb): Add initialization check in FDG
  op-bindings/bindings/disputegamefactory.go
  op-bindings/bindings/disputegamefactory_more.go
  op-bindings/bindings/faultdisputegame.go
  op-bindings/bindings/faultdisputegame_more.go
  packages/contracts-bedrock/semver-lock.json
  packages/contracts-bedrock/slither-report.json
  packages/contracts-bedrock/snapshots/abi/FaultDisputeGame.json
  packages/contracts-bedrock/snapshots/storageLayout/FaultDisputeGame.json
  packages/contracts-bedrock/src/dispute/DisputeGameFactory.sol
  packages/contracts-bedrock/src/dispute/FaultDisputeGame.sol
  packages/contracts-bedrock/src/libraries/DisputeErrors.sol
  packages/contracts-bedrock/test/dispute/FaultDisputeGame.t.sol
Labels: A-pkg-contracts-bedrock, M-stacked

#8748 chore: Remove AgreeWithProposedOutput Flag References
  docs/fault-proof-alpha/run-challenger.md
  op-challenger/README.md
  op-challenger/scripts/alphabet/charlie.sh
  op-challenger/scripts/alphabet/mallory.sh
Labels: C-chore, A-op-challenger

#8750 chore: Challenger Script Touchups
  op-challenger/README.md
  op-challenger/scripts/alphabet/init_game.sh
  op-challenger/scripts/create_game.sh
Labels: C-chore, A-op-challenger

#8810 feat(ctb): Delete legacy `FaultDisputeGame`
  op-bindings/bindings/mips_more.go
  op-bindings/bindings/preimageoracle_more.go
  packages/contracts-bedrock/semver-lock.json
  packages/contracts-bedrock/slither-report.json
  packages/contracts-bedrock/src/legacy/BlockOracle.sol
  packages/contracts-bedrock/src/legacy/FaultDisputeGame.sol
  packages/contracts-bedrock/src/legacy/interfaces/IFaultDisputeGame.sol
  packages/contracts-bedrock/src/libraries/DisputeErrors.sol
Labels: A-pkg-contracts-bedrock

#8724 feat(op-challenger): Highest Acted L1 Block Number Gauge Metric
  op-challenger/game/monitor.go
  op-challenger/game/monitor_test.go
  op-challenger/game/scheduler/coordinator.go
  op-challenger/game/scheduler/coordinator_test.go
  op-challenger/game/scheduler/scheduler.go
  op-challenger/game/scheduler/scheduler_test.go
  op-challenger/game/scheduler/types.go
  op-challenger/metrics/metrics.go
  op-challenger/metrics/noop.go
Labels: C-feature, A-op-challenger

#8689 feat(op-proposer): `DisputeGameFactory` support
  op-e2e/actions/l2_proposer.go
  op-e2e/actions/l2_proposer_test.go
  op-e2e/actions/user_test.go
  op-proposer/flags/flags.go
  op-proposer/proposer/abi_test.go
  op-proposer/proposer/config.go
  op-proposer/proposer/driver.go
  op-proposer/proposer/l2_output_submitter.go
  op-proposer/proposer/service.go
Labels: A-op-proposer

#8811 feat(ctb): Delete `IBondManager`
  op-bindings/bindings/faultdisputegame.go
  op-bindings/bindings/faultdisputegame_more.go
  op-bindings/bindings/mips_more.go
  op-bindings/bindings/preimageoracle_more.go
  packages/contracts-bedrock/semver-lock.json
  packages/contracts-bedrock/slither-report.json
  packages/contracts-bedrock/snapshots/abi/FaultDisputeGame.json
  packages/contracts-bedrock/snapshots/abi/LegacyFaultDisputeGame.json
  packages/contracts-bedrock/snapshots/storageLayout/FaultDisputeGame.json
  packages/contracts-bedrock/snapshots/storageLayout/LegacyFaultDisputeGame.json
  packages/contracts-bedrock/src/dispute/FaultDisputeGame.sol
  packages/contracts-bedrock/src/dispute/interfaces/IBondManager.sol
  packages/contracts-bedrock/src/dispute/interfaces/IDisputeGame.sol
  specs/bond-manager.md
  specs/dispute-game-interface.md
Labels: A-pkg-contracts-bedrock

#8820 chore(ctb): Increase invariant runs to 256 in CI
  packages/contracts-bedrock/foundry.toml
Labels: A-pkg-contracts-bedrock

#8812 fix(op-challenger): Update Alphabet Trace Provider with Starting L2 Block Number
  op-challenger/game/fault/agent_test.go
  op-challenger/game/fault/solver/game_solver_test.go
  op-challenger/game/fault/solver/solver_test.go
  op-challenger/game/fault/test/alphabet.go
  op-challenger/game/fault/trace/access_test.go
  op-challenger/game/fault/trace/alphabet/prestate.go
  op-challenger/game/fault/trace/alphabet/provider.go
  op-challenger/game/fault/trace/alphabet/provider_test.go
  op-challenger/game/fault/trace/outputs/output_alphabet.go
  op-challenger/game/fault/trace/outputs/provider_cache_test.go
  op-challenger/game/fault/trace/split/split_test.go
  op-challenger/game/fault/trace/translate_test.go
  op-e2e/e2eutils/disputegame/alphabet_helper.go
  op-e2e/faultproofs/output_alphabet_test.go
Labels: A-op-challenger, C-fix

#8751 fix(op-challenger): Encapsulate Job Instantiation
  op-challenger/game/scheduler/coordinator.go
  op-challenger/game/scheduler/types.go
Labels: A-op-challenger, C-fix

#8816 feat(ctb + challenger): Initial bond scaffolding
  op-bindings/bindings/disputegamefactory.go
  op-bindings/bindings/disputegamefactory_more.go
  op-bindings/bindings/faultdisputegame.go
  op-bindings/bindings/faultdisputegame_more.go
  op-bindings/bindings/mips_more.go
  op-bindings/bindings/preimageoracle_more.go
  op-challenger/game/fault/contracts/faultdisputegame.go
  op-challenger/game/fault/contracts/faultdisputegame_test.go
  op-challenger/game/fault/responder/responder.go
  op-challenger/game/fault/responder/responder_test.go
  op-challenger/game/fault/solver/game_solver.go
  op-challenger/game/fault/solver/game_solver_test.go
  op-challenger/game/fault/test/game_builder.go
  op-challenger/game/fault/types/actions.go
  op-challenger/game/fault/types/types.go
  op-e2e/e2eutils/disputegame/claim_helper.go
  op-e2e/e2eutils/disputegame/game_helper.go
  op-e2e/e2eutils/disputegame/output_game_helper.go
  packages/contracts-bedrock/invariant-docs/FaultDisputeGame.md
  packages/contracts-bedrock/invariant-docs/README.md
  packages/contracts-bedrock/scripts/FaultDisputeGameViz.s.sol
  packages/contracts-bedrock/semver-lock.json
  packages/contracts-bedrock/slither-report.json
  packages/contracts-bedrock/snapshots/abi/DisputeGameFactory.json
  packages/contracts-bedrock/snapshots/abi/FaultDisputeGame.json
  packages/contracts-bedrock/snapshots/storageLayout/FaultDisputeGame.json
  packages/contracts-bedrock/src/dispute/DisputeGameFactory.sol
  packages/contracts-bedrock/src/dispute/FaultDisputeGame.sol
  packages/contracts-bedrock/src/dispute/interfaces/IDisputeGameFactory.sol
  packages/contracts-bedrock/src/dispute/interfaces/IFaultDisputeGame.sol
  packages/contracts-bedrock/src/dispute/interfaces/IInitializable.sol
  packages/contracts-bedrock/src/libraries/DisputeErrors.sol
  packages/contracts-bedrock/test/actors/FaultDisputeActors.sol
  packages/contracts-bedrock/test/dispute/FaultDisputeGame.t.sol
  packages/contracts-bedrock/test/invariants/FaultDisputeGame.t.sol
Labels: A-pkg-contracts-bedrock, A-op-challenger

#8821 feat(ctb + proposer): Send initial bond when submitting outputs to DGF
  op-bindings/bindings/disputegamefactory.go
  op-bindings/bindings/disputegamefactory_more.go
  op-bindings/bindings/faultdisputegame.go
  op-bindings/bindings/faultdisputegame_more.go
  op-proposer/proposer/driver.go
  packages/contracts-bedrock/semver-lock.json
  packages/contracts-bedrock/slither-report.json
  packages/contracts-bedrock/snapshots/abi/DisputeGameFactory.json
  packages/contracts-bedrock/snapshots/storageLayout/DisputeGameFactory.json
  packages/contracts-bedrock/src/dispute/DisputeGameFactory.sol
  packages/contracts-bedrock/src/dispute/FaultDisputeGame.sol
  packages/contracts-bedrock/src/dispute/interfaces/IDisputeGameFactory.sol
  packages/contracts-bedrock/test/dispute/DisputeGameFactory.t.sol
Labels: A-pkg-contracts-bedrock

#8822 fix(op-proposer): Handle context closing on error
  op-proposer/proposer/driver.go
Labels: A-op-proposer

#8860 fix(op-challenger): Clean Up Alphabet Trace Provider Tests
  op-challenger/game/fault/trace/alphabet/provider.go
  op-challenger/game/fault/trace/alphabet/provider_test.go
Labels: A-op-challenger, C-fix

#8862 chore: Makefile Cleanup
  op-challenger/Makefile
  op-conductor/Makefile
  op-heartbeat/Makefile
  op-node/Makefile
  op-program/Makefile
  op-program/README.md
  op-proposer/Makefile
  op-service/Makefile
  op-ufm/Makefile
  op-wheel/Makefile
Labels: C-chore

#8853 fix(op-challenger): Flatten Alphabet Trace Provider Step Loop
  op-challenger/game/fault/trace/alphabet/provider.go
  op-challenger/game/fault/trace/alphabet/provider_test.go
Labels: A-op-challenger, C-fix

#8878 chore(specs): Cleanup dispute game specs for output bisection
  specs/dispute-game-interface.md
  specs/fault-dispute-game.md
  specs/fault-proof.md
Labels: A-pkg-contracts-bedrock

#8887 chore: Top Level Makefile PHONY Cleanup
  Makefile
Labels: C-chore

#8877 feat(ctb): FPAC ops
  op-bindings/bindings/mips_more.go
  op-bindings/bindings/preimageoracle_more.go
  packages/contracts-bedrock/deploy-config/devnetL1-template.json
  packages/contracts-bedrock/deploy-config/sepolia.json
  packages/contracts-bedrock/scripts/Deploy.s.sol
  packages/contracts-bedrock/scripts/DeployConfig.s.sol
  packages/contracts-bedrock/scripts/Deployer.sol
  packages/contracts-bedrock/scripts/fpac/.gitignore
  packages/contracts-bedrock/scripts/fpac/FPACOPS.sol
  packages/contracts-bedrock/scripts/fpac/Makefile
  packages/contracts-bedrock/scripts/fpac/README.md
Labels: A-pkg-contracts-bedrock

#8764 Init BindGen README
  op-bindings/bindgen/README.md
  op-bindings/bindgen/bindgen_header.png
Labels: Stale

#8909 chore: Husky Pre-commit Hook Install for ts-build
  Makefile
Labels: C-bug, C-chore

#8931 fix(ci-builder): Copy Docker Buildx in Final Build Stage
  ops/docker/ci-builder/Dockerfile
Labels: A-ops, C-fix

#8957 feat(op-program): Minimal Reproducible Absolute Prestate
  Makefile
  op-program/Dockerfile.repro
  op-program/Makefile
  op-program/README.md
Labels: C-feature, A-cannon, A-op-program

#8992 chore(op-bindings): Remove `MIPS` & `PreimageOracle` source maps
  cannon/mipsevm/evm.go
  cannon/mipsevm/evm_test.go
  op-bindings/Makefile
  op-bindings/bindings/mips_more.go
  op-bindings/bindings/preimageoracle_more.go
  op-chain-ops/srcmap/solutil_test.go
Labels: A-op-bindings

#8998 fix(op-bindings): `forge clean`
  op-bindings/Makefile
Labels: A-op-bindings

#8920 feat(ops): Consolidate Version Control
  .abigenrc
  .foundryrc
  .gethrc
  .kontrolrc
  .slitherrc
  Makefile
  op-bindings/bindgen/utils.go
  op-bindings/bindgen/utils_test.go
  ops/docker/ci-builder/Dockerfile
  ops/docker/ci-builder/Dockerfile.dockerignore
  ops/scripts/geth-version-checker.sh
  ops/scripts/install-foundry.sh
  package.json
  packages/contracts-bedrock/CONTRIBUTING.md
  packages/contracts-bedrock/test/kontrol/kontrol/run-kontrol.sh
  versions.json
Labels: C-feature, M-dependencies

#9024 fix(ops): TODO Checker Script Case Sensitivity
  ops/scripts/todo-checker.sh
Labels: C-bug, A-ops

#8996 feat(ctb): Challenger indexing for large preimage proposals
  op-bindings/bindings/alphabetvm.go
  op-bindings/bindings/preimageoracle.go
  op-bindings/bindings/preimageoracle_more.go
  packages/contracts-bedrock/slither-report.json
  packages/contracts-bedrock/snapshots/abi/PreimageOracle.json
  packages/contracts-bedrock/snapshots/storageLayout/PreimageOracle.json
  packages/contracts-bedrock/src/cannon/PreimageOracle.sol
  packages/contracts-bedrock/test/cannon/PreimageOracle.t.sol
Labels: A-pkg-contracts-bedrock

#8986 feat(ctb): Keccak dispute DA gas estimation
  op-bindings/bindings/alphabetvm.go
  op-bindings/bindings/preimageoracle.go
  op-bindings/bindings/preimageoracle_more.go
  packages/contracts-bedrock/scripts/fpac/SubmitLPP.sol
  packages/contracts-bedrock/scripts/fpac/lpp-estimation.sh
  packages/contracts-bedrock/slither-report.json
  packages/contracts-bedrock/snapshots/abi/PreimageOracle.json
  packages/contracts-bedrock/snapshots/storageLayout/PreimageOracle.json
  packages/contracts-bedrock/src/cannon/PreimageOracle.sol
  packages/contracts-bedrock/test/cannon/PreimageOracle.t.sol
Labels: A-pkg-contracts-bedrock

#9017 feat(op-challenger): Preimage Uploader Refactor
  op-challenger/game/fault/preimages/direct.go
  op-challenger/game/fault/preimages/direct_test.go
  op-challenger/game/fault/preimages/types.go
  op-challenger/game/fault/responder/responder.go
Labels: C-feature, A-op-challenger

#9020 feat(op-challenger): Large Preimage Uploader
  op-challenger/game/fault/preimages/direct.go
  op-challenger/game/fault/preimages/large.go
  op-challenger/game/fault/preimages/large_test.go
  op-challenger/game/fault/preimages/types.go
Labels: C-feature, A-op-challenger

#9021 feat(op-challenger): Split Preimage Uploader
  op-challenger/game/fault/preimages/direct.go
  op-challenger/game/fault/preimages/split.go
  op-challenger/game/fault/preimages/split_test.go
  op-challenger/game/fault/preimages/types.go
Labels: C-feature, A-op-challenger

#9035 fix(ctb): PreimageOracle off-by-one
  cannon/mipsevm/open_mips_tests/test/bin/oracle.bin
  cannon/mipsevm/open_mips_tests/test/oracle.asm
  op-bindings/bindings/alphabetvm.go
  op-bindings/bindings/preimageoracle.go
  op-bindings/bindings/preimageoracle_more.go
  packages/contracts-bedrock/slither-report.json
  packages/contracts-bedrock/src/cannon/PreimageOracle.sol
  packages/contracts-bedrock/test/cannon/PreimageOracle.t.sol
Labels: A-pkg-contracts-bedrock

#9046 fix(CI): S-Exempt-Stale Status Label Support
  .github/workflows/close-stale.yml
Labels: M-ci, C-fix

#9039 feat(ctb): Minimum large preimage proposal size in `PreimageOracle`
  op-bindings/bindings/alphabetvm.go
  op-bindings/bindings/preimageoracle.go
  op-bindings/bindings/preimageoracle_more.go
  op-chain-ops/genesis/config.go
  op-chain-ops/genesis/testdata/test-deploy-config-full.json
  packages/contracts-bedrock/deploy-config/devnetL1-template.json
  packages/contracts-bedrock/deploy-config/sepolia.json
  packages/contracts-bedrock/scripts/Deploy.s.sol
  packages/contracts-bedrock/scripts/DeployConfig.s.sol
  packages/contracts-bedrock/slither-report.json
  packages/contracts-bedrock/snapshots/abi/PreimageOracle.json
  packages/contracts-bedrock/src/cannon/PreimageOracle.sol
  packages/contracts-bedrock/test/cannon/MIPS.t.sol
  packages/contracts-bedrock/test/cannon/PreimageOracle.t.sol
  packages/contracts-bedrock/test/mocks/AlphabetVM.sol
Labels: A-pkg-contracts-bedrock

#9052 feat(specs): Large preimage proposals
  specs/fault-dispute-game.md
Labels: A-pkg-contracts-bedrock, M-docs

#9032 feat(op-challenger): Preimage Oracle Contract Calls
  op-challenger/game/fault/contracts/oracle.go
  op-challenger/game/fault/contracts/oracle_test.go
  op-challenger/game/fault/player.go
  op-challenger/game/fault/preimages/direct.go
  op-challenger/game/fault/preimages/direct_test.go
  op-challenger/game/fault/preimages/large_test.go
  op-challenger/game/fault/preimages/types.go
  op-challenger/game/fault/responder/responder.go
Labels: C-feature, A-op-challenger

#9033 feat(op-challenger): Large Preimage Uploader InitLPP Call Support
  op-challenger/game/fault/preimages/direct_test.go
  op-challenger/game/fault/preimages/large.go
  op-challenger/game/fault/preimages/large_test.go
Labels: C-feature, A-op-challenger

#9062 feat(op-challenger): Append the Leaves
  op-challenger/game/fault/contracts/oracle.go
  op-challenger/game/fault/contracts/oracle_test.go
  op-challenger/game/fault/preimages/large.go
  op-challenger/game/fault/preimages/large_test.go
  op-challenger/game/fault/preimages/types.go
  op-challenger/game/keccak/matrix/matrix.go
  op-challenger/game/keccak/matrix/matrix_test.go
Labels: C-feature, A-op-challenger

#9118 feat(ctb): Improve `IBigStepper` docs
  packages/contracts-bedrock/src/dispute/interfaces/IBigStepper.sol
Labels: A-pkg-contracts-bedrock

#9131 fix(op-challenger): Large Preimage Unique Identifier Construction
  op-challenger/game/fault/preimages/large.go
  op-challenger/game/fault/preimages/large_test.go
Labels: A-op-challenger, C-fix

#9135 feat(op-challenger): Resume Large Preimage Uploads
  op-challenger/game/fault/contracts/oracle.go
  op-challenger/game/fault/contracts/oracle_test.go
  op-challenger/game/fault/preimages/direct_test.go
  op-challenger/game/fault/preimages/large.go
  op-challenger/game/fault/preimages/large_test.go
  op-challenger/game/fault/preimages/types.go
Labels: C-feature, A-op-challenger

#9134 feat(ctb): In-order restriction in `addLeavesLPP`
  op-bindings/bindings/alphabetvm.go
  op-bindings/bindings/preimageoracle.go
  op-bindings/bindings/preimageoracle_more.go
  op-challenger/game/fault/contracts/oracle.go
  op-challenger/game/fault/contracts/oracle_test.go
  op-challenger/game/fault/preimages/large.go
  op-challenger/game/fault/preimages/large_test.go
  op-challenger/game/fault/preimages/types.go
  packages/contracts-bedrock/scripts/fpac/SubmitLPP.sol
  packages/contracts-bedrock/slither-report.json
  packages/contracts-bedrock/snapshots/abi/PreimageOracle.json
  packages/contracts-bedrock/src/cannon/PreimageOracle.sol
  packages/contracts-bedrock/src/cannon/libraries/CannonErrors.sol
  packages/contracts-bedrock/test/cannon/PreimageOracle.t.sol
Labels: A-pkg-contracts-bedrock, A-op-challenger

#9172 doc(ctb): LPP Merkle Tree clarifying comment
  packages/contracts-bedrock/slither-report.json
  packages/contracts-bedrock/src/cannon/PreimageOracle.sol
Labels: A-pkg-contracts-bedrock

#9146 feat(op-challenger): Binary Merkle Tree with Proof Inclusion
  op-challenger/game/fault/contracts/oracle.go
  op-challenger/game/fault/contracts/oracle_test.go
  op-challenger/game/fault/preimages/large_test.go
  op-challenger/game/fault/preimages/types.go
  op-challenger/game/keccak/merkle/tree.go
  op-challenger/game/keccak/merkle/tree_test.go
  op-challenger/game/keccak/types/types.go
Labels: C-feature, A-op-challenger

#9093 feat(op-challenger): SqueezeLPP LargePreimageUploader Support
  op-challenger/game/fault/contracts/oracle.go
  op-challenger/game/fault/preimages/large.go
  op-challenger/game/fault/preimages/large_test.go
  op-challenger/game/fault/preimages/types.go
  op-challenger/game/keccak/matrix/matrix.go
  op-challenger/game/keccak/matrix/matrix_test.go
  op-challenger/game/keccak/matrix/testdata/commitments.json
  op-challenger/game/keccak/merkle/tree.go
Labels: C-feature, A-op-challenger

#8970 chore(op-conductor): fixing comments errors
  op-conductor/conductor/service.go
  op-conductor/consensus/iface.go
  op-conductor/consensus/raft.go
  op-conductor/rpc/api.go
Labels: Stale

#9147 feat(ctb): `PreimageOracle` LPP Diff Testing
  op-challenger/game/keccak/merkle/tree.go
  packages/contracts-bedrock/scripts/go-ffi/bin.go
  packages/contracts-bedrock/scripts/go-ffi/merkle.go
  packages/contracts-bedrock/test/cannon/PreimageOracle.t.sol
Labels: C-feature, A-pkg-contracts-bedrock

#9204 fix(op-challenger): Fetch PreimageOracle Large Preimage Threshold
  op-challenger/game/fault/contracts/oracle.go
  op-challenger/game/fault/player.go
  op-challenger/game/fault/preimages/split.go
  op-challenger/game/fault/preimages/split_test.go
Labels: C-chore, A-op-challenger

#9226 fix(op-challenger): Squeeze Large Preimages Post Challenge Period
  op-challenger/challenger.go
  op-challenger/game/fault/contracts/oracle.go
  op-challenger/game/fault/contracts/oracle_test.go
  op-challenger/game/fault/player.go
  op-challenger/game/fault/preimages/large.go
  op-challenger/game/fault/preimages/large_test.go
  op-challenger/game/fault/preimages/types.go
  op-challenger/game/fault/register.go
  op-challenger/game/fault/responder/responder.go
  op-challenger/game/service.go
Labels: C-feature, A-op-challenger

#9232 chore: Remove Legacy Devnet Deploy Makefile Target
  Makefile
  bedrock-devnet/README.md
Labels: C-chore

#9095 feat(ctb): Blob preimage type in `PreimageOracle`
  op-bindings/bindings/alphabetvm.go
  op-bindings/bindings/preimageoracle.go
  op-bindings/bindings/preimageoracle_more.go
  packages/contracts-bedrock/slither-report.json
  packages/contracts-bedrock/snapshots/abi/PreimageOracle.json
  packages/contracts-bedrock/src/cannon/PreimageOracle.sol
  packages/contracts-bedrock/src/cannon/interfaces/IPreimageOracle.sol
Labels: A-pkg-contracts-bedrock

#9257 feat(op-challenger): Bond Claiming
  op-challenger/config/config.go
  op-challenger/flags/flags.go
  op-challenger/game/fault/claims/claimer.go
  op-challenger/game/fault/claims/claimer_test.go
  op-challenger/game/fault/claims/scheduler.go
  op-challenger/game/fault/contracts/faultdisputegame.go
  op-challenger/game/fault/responder/responder.go
  op-challenger/game/fault/responder/responder_test.go
  op-challenger/game/monitor.go
  op-challenger/game/monitor_test.go
  op-challenger/game/service.go
  op-challenger/metrics/metrics.go
  op-challenger/metrics/noop.go
Labels: C-feature, A-op-challenger

#9277 chore(op-challenger): Large Preimage Scheduler Nits
  op-challenger/game/keccak/scheduler.go
Labels: C-chore, A-op-challenger
