Repository ethereum-optimism/optimism, pull requests merged in 2024-12, with the labels that each got.

#13124 txmgr/Queue: add additional assertions to test to check for tx ordering
  op-service/txmgr/queue_test.go
Labels: A-op-batcher

#13196 chore(ops): Bump `kona` in `proofs-tools`
  docker-bake.hcl
Labels: A-ops

#13198 chore(ops): Support kona + asterisc in the op-challenger
  docker-bake.hcl
  ops/docker/op-stack-go/Dockerfile
Labels: C-chore, A-ops

#13208 feat(op-challenger): Add `TraceTypeAsteriscKona` to default `--trace-type` option
  op-challenger/cmd/main_test.go
  op-challenger/flags/flags.go
Labels: A-op-challenger

#13243 feat(op-contracts): Stage 1.4 deployment + upgrade task
  packages/contracts-bedrock/scripts/upgrades/stage-1.4/.env.example
  packages/contracts-bedrock/scripts/upgrades/stage-1.4/README.md
  packages/contracts-bedrock/scripts/upgrades/stage-1.4/common.sh
  packages/contracts-bedrock/scripts/upgrades/stage-1.4/deploy.sh
  packages/contracts-bedrock/scripts/upgrades/stage-1.4/sc-ops.sh
  packages/contracts-bedrock/scripts/upgrades/stage-1.4/superchain-ops-template/README.md
  packages/contracts-bedrock/scripts/upgrades/stage-1.4/superchain-ops-template/VALIDATION.md
  packages/contracts-bedrock/scripts/upgrades/stage-1.4/superchain-ops-template/input.json
Labels: A-pkg-contracts-bedrock

#13250 chore(op-deployer): Accept existing impl in `DelayedWETH` bootstrap task
  op-deployer/pkg/deployer/bootstrap/delayed_weth.go
  op-deployer/pkg/deployer/bootstrap/flags.go
  op-deployer/pkg/deployer/opcm/delayed_weth.go
  op-deployer/pkg/deployer/opcm/delayed_weth_test.go
  packages/contracts-bedrock/scripts/deploy/DeployDelayedWETH.s.sol
Labels: A-op-deployer

#13047 op-batcher: increase the transaction throttling limit to allow >99% of transactions
  op-batcher/flags/flags.go
Labels: A-op-batcher

#13213 feat(op-deployer): `Proxy` bootstrap command
  op-deployer/pkg/deployer/bootstrap/flags.go
  op-deployer/pkg/deployer/bootstrap/proxy.go
  op-deployer/pkg/deployer/opcm/proxy.go
  op-deployer/pkg/deployer/opcm/proxy_test.go
  packages/contracts-bedrock/scripts/deploy/DeployProxy.s.sol
Labels: A-op-deployer

#13060 op-batcher: extract state pruning, block fetching and progress checking into a single pure function
  op-batcher/batcher/channel.go
  op-batcher/batcher/channel_manager.go
  op-batcher/batcher/channel_manager_test.go
  op-batcher/batcher/driver.go
  op-batcher/batcher/sync_actions.go
  op-batcher/batcher/sync_actions_test.go
  op-batcher/readme.md
Labels: A-op-batcher

#13292 op-batcher: syncActions is aware of safe=unsafe edge case
  op-batcher/batcher/sync_actions.go
  op-batcher/batcher/sync_actions_test.go
Labels: A-op-batcher

#13320 Modify Anvil to up
  op-service/testutils/anvil/anvil.go
Labels: C-cleanup

#13330 op-batcher: lock state mutex while computing sync actions
  op-batcher/batcher/channel_manager.go
  op-batcher/batcher/driver.go
  op-batcher/batcher/service.go
  op-batcher/batcher/test_batch_submitter.go
  op-e2e/system/da/eip4844_test.go
Labels: A-op-batcher

#13431 fix: First Time JWT Generation Bug
  op-service/rpc/jwt.go
  op-service/rpc/jwt_test.go
Labels: C-bug, A-op-service

#13288 op-proposer: (DFG) skip new game creation if outputRoot is unchanged
  op-proposer/contracts/disputegamefactory.go
  op-proposer/contracts/disputegamefactory_test.go
  op-proposer/proposer/driver.go
  op-proposer/proposer/driver_test.go
Labels: A-op-proposer
