Repository ethereum-optimism/optimism, pull requests merged in 2024-11, with the labels that each got.

#12782 interop: fix executing message decoding in op-supervisor
  op-supervisor/supervisor/backend/processors/contracts/l2inbox.go
  op-supervisor/supervisor/backend/processors/contracts/l2inbox_test.go
  op-supervisor/supervisor/backend/processors/executing_message.go
  op-supervisor/supervisor/backend/processors/executing_message_test.go
  op-supervisor/supervisor/backend/processors/log_processor.go
  op-supervisor/supervisor/backend/processors/log_processor_test.go
Labels: C-bug

#12727 Move top-level markdown files into meta/docs folder
  packages/contracts-bedrock/README.md
  packages/contracts-bedrock/meta/CONTRIBUTING.md
  packages/contracts-bedrock/meta/INTERFACES.md
  packages/contracts-bedrock/meta/LICENSE
  packages/contracts-bedrock/meta/POLICY.md
  packages/contracts-bedrock/meta/SOLIDITY_UPGRADES.md
  packages/contracts-bedrock/meta/STYLE_GUIDE.md
  packages/contracts-bedrock/meta/VERSIONING.md
Labels: C-cleanup

#12810 op-batcher: Increase the pending_blocks metric when a channel times out
  op-batcher/batcher/channel_manager.go
Labels: A-op-batcher

#12878 feat(ctb): Holocene upgrade package
  docker-bake.hcl
  ops/scripts/ci-docker-tag-op-stack-release.sh
  packages/contracts-bedrock/deploy-config/sepolia-devnet-0.json
  packages/contracts-bedrock/scripts/upgrades/holocene/.env.example
  packages/contracts-bedrock/scripts/upgrades/holocene/.gitignore
  packages/contracts-bedrock/scripts/upgrades/holocene/DeployUpgrade.s.sol
  packages/contracts-bedrock/scripts/upgrades/holocene/README.md
  packages/contracts-bedrock/scripts/upgrades/holocene/justfile
  packages/contracts-bedrock/scripts/upgrades/holocene/scripts/common.sh
  packages/contracts-bedrock/scripts/upgrades/holocene/scripts/deploy.sh
  packages/contracts-bedrock/scripts/upgrades/holocene/scripts/main.sh
  packages/contracts-bedrock/scripts/upgrades/holocene/scripts/proofs-bundle.sh
  packages/contracts-bedrock/scripts/upgrades/holocene/scripts/sc-ops-proofs.sh
  packages/contracts-bedrock/scripts/upgrades/holocene/scripts/sc-ops-sys-cfg.sh
  packages/contracts-bedrock/scripts/upgrades/holocene/scripts/sys-cfg-bundle.sh
  packages/contracts-bedrock/scripts/upgrades/holocene/templates/fdg_bundle_extension.json
  packages/contracts-bedrock/scripts/upgrades/holocene/templates/proof_upgrade_bundle_template.json
  packages/contracts-bedrock/scripts/upgrades/holocene/templates/proofs-sc-ops-task/.env.example
  packages/contracts-bedrock/scripts/upgrades/holocene/templates/proofs-sc-ops-task/README.md
  packages/contracts-bedrock/scripts/upgrades/holocene/templates/proofs-sc-ops-task/VALIDATION.md
  packages/contracts-bedrock/scripts/upgrades/holocene/templates/sys-cfg-sc-ops-task/.env.example
  packages/contracts-bedrock/scripts/upgrades/holocene/templates/sys-cfg-sc-ops-task/README.md
  packages/contracts-bedrock/scripts/upgrades/holocene/templates/sys-cfg-sc-ops-task/VALIDATION.md
  packages/contracts-bedrock/scripts/upgrades/holocene/templates/sys_cfg_upgrade_bundle_template.json
  packages/contracts-bedrock/scripts/upgrades/holocene/upgrade.dockerfile
Labels: A-pkg-contracts-bedrock

#12916 op-batcher: fix channel duration timeout management
  op-batcher/batcher/channel_manager.go
  op-batcher/batcher/channel_manager_test.go
Labels: A-op-batcher

#12390 batcher: keep blocks, channels and frames in strict order & simplify reorg handling
  op-batcher/architecture.png
  op-batcher/batcher/channel.go
  op-batcher/batcher/channel_builder.go
  op-batcher/batcher/channel_builder_test.go
  op-batcher/batcher/channel_manager.go
  op-batcher/batcher/channel_manager_test.go
  op-batcher/batcher/channel_test.go
  op-batcher/batcher/driver.go
  op-batcher/metrics/test.go
  op-batcher/readme.md
Labels: A-op-batcher

#12405 batcher refactor: flatten out go routines
  op-batcher/batcher/driver.go
  op-batcher/readme.md
Labels: A-op-batcher

#12430 batcher: add batchSubmitter.checkExpectedProgress
  op-batcher/batcher/channel_manager.go
  op-batcher/batcher/channel_manager_test.go
  op-batcher/batcher/driver.go
  op-service/eth/sync_status.go
Labels: A-op-batcher

#12994 feat(ctb): Vendor `RISCV.sol`
  .circleci/config.yml
  packages/contracts-bedrock/snapshots/abi/RISCV.json
  packages/contracts-bedrock/snapshots/semver-lock.json
  packages/contracts-bedrock/snapshots/storageLayout/RISCV.json
  packages/contracts-bedrock/src/asterisc/RISCV.sol
  versions.json
Labels: A-pkg-contracts-bedrock

#13023 chore(op-challenger): Update kona native mode flag
  op-challenger/game/fault/trace/vm/kona_server_executor.go
  op-e2e/actions/proofs/helpers/kona.go
Labels: A-op-challenger

#13113 feat(op-deployer): `asterisc` bootstrap CLI
  op-deployer/pkg/deployer/bootstrap/asterisc.go
  op-deployer/pkg/deployer/bootstrap/flags.go
  op-deployer/pkg/deployer/opcm/asterisc.go
  op-deployer/pkg/deployer/opcm/asterisc_test.go
  packages/contracts-bedrock/scripts/deploy/DeployAsterisc.s.sol
  packages/contracts-bedrock/src/vendor/asterisc/interfaces/IRISCV.sol
Labels: A-op-deployer

#12981 batcher: fix state inconsistency
  op-batcher/batcher/channel_manager.go
  op-batcher/batcher/driver.go
Labels: A-op-batcher

#13120 txmgr: `Queue.Send()` uses `q.txMgr.SendAsync`
  op-challenger/sender/sender_test.go
  op-service/txmgr/queue.go
Labels: A-op-batcher
