Repository ethereum-optimism/optimism, pull requests merged in 2025-07, with the labels that each got.

#16398 Reenable op-e2e/faultproofs test in CI that was previously not running
  Makefile
  op-e2e/e2e.go
  op-e2e/faultproofs/output_alphabet_test.go
Labels: S-stale

#16538 fix: add json keys to outputV0 type
  op-service/eth/output.go
  op-service/eth/output_test.go
  op-service/eth/testdata/output_v0.json
Labels: H-interop

#16550 feat(op-acceptance-tests): add sysgo support
  .circleci/config.yml
  op-acceptance-tests/justfile
Labels: M-do-not-merge

#16588 feat(op-batcher): Enhanced DA Throttling with multiple control mechanisms
  op-batcher/batcher/config.go
  op-batcher/batcher/config_test.go
  op-batcher/batcher/driver.go
  op-batcher/batcher/driver_test.go
  op-batcher/batcher/service.go
  op-batcher/batcher/throttler/controller.go
  op-batcher/batcher/throttler/controller_test.go
  op-batcher/batcher/throttler/linear_strategy.go
  op-batcher/batcher/throttler/linear_strategy_test.go
  op-batcher/batcher/throttler/pid_strategy.go
  op-batcher/batcher/throttler/pid_strategy_test.go
  op-batcher/batcher/throttler/quadratic_strategy.go
  op-batcher/batcher/throttler/quadratic_strategy_test.go
  op-batcher/batcher/throttler/step_strategy.go
  op-batcher/batcher/throttler/step_strategy_test.go
  op-batcher/batcher/throttler/types.go
  op-batcher/config/types.go
  op-batcher/config/types_test.go
  op-batcher/flags/flags.go
  op-batcher/images/linear_throttling.png
  op-batcher/images/quadratic_throttling.png
  op-batcher/images/step_throttling.png
  op-batcher/metrics/metrics.go
  op-batcher/metrics/metrics_test.go
  op-batcher/metrics/noop.go
  op-batcher/readme.md
  op-batcher/rpc/api.go
  op-batcher/throttling.md
  op-e2e/system/da/da_throttling_test.go
  op-e2e/system/e2esys/setup.go
Labels: C-feature, A-op-batcher, T-protocol

#16820 op-batcher: more consistent use of throttle multiplier and max threshold in logging
  op-batcher/batcher/driver.go
  op-batcher/batcher/throttler/controller.go
  op-batcher/batcher/throttler/controller_test.go
  op-batcher/batcher/throttler/linear_strategy.go
  op-batcher/batcher/throttler/linear_strategy_test.go
  op-batcher/batcher/throttler/quadratic_strategy.go
  op-batcher/batcher/throttler/quadratic_strategy_test.go
  op-batcher/config/types.go
Labels: A-op-batcher
