Repository ethereum-optimism/optimism, pull requests merged in 2025-05, with the labels that each got.

#15517 Add Interop Upgrade Txs to op-node
  .vscode/settings.json
  op-chain-ops/interopgen/recipe.go
  op-e2e/actions/helpers/l2_sequencer.go
  op-e2e/actions/interop/dsl/assertions.go
  op-e2e/actions/interop/dsl/dsl.go
  op-e2e/actions/interop/dsl/interop.go
  op-e2e/actions/interop/emitter_contract_test.go
  op-e2e/actions/interop/interop_test.go
  op-e2e/actions/interop/interop_txplan_test.go
  op-e2e/actions/interop/reset_test.go
  op-e2e/actions/upgrades/interop_fork_test.go
  op-e2e/actions/upgrades/utils/assertions.go
  op-node/rollup/derive/attributes.go
  op-node/rollup/derive/batches.go
  op-node/rollup/derive/interop_upgrade_transactions.go
  op-node/rollup/derive/interop_upgrade_transactions_test.go
Labels: H-interop

#15814 op-supervisor: migrate remaining geth interop type functionality
  op-program/client/interop/interop_test.go
  op-supervisor/supervisor/backend/processors/executing_message.go
  op-supervisor/supervisor/types/types.go
  op-supervisor/supervisor/types/types_test.go
Labels: H-interop

#15906 op-batcher: wire up `AdditionalThrottlingEndpointsFlag`
  op-batcher/flags/flags.go
Labels: A-op-batcher

#15939 feat: u16 audit fixes
  packages/contracts-bedrock/interfaces/L1/IOptimismPortal2.sol
  packages/contracts-bedrock/interfaces/L1/ISuperchainConfig.sol
  packages/contracts-bedrock/snapshots/abi/OptimismPortal2.json
  packages/contracts-bedrock/snapshots/abi/SuperchainConfig.json
  packages/contracts-bedrock/snapshots/semver-lock.json
  packages/contracts-bedrock/src/L1/L1CrossDomainMessenger.sol
  packages/contracts-bedrock/src/L1/L1ERC721Bridge.sol
  packages/contracts-bedrock/src/L1/L1StandardBridge.sol
  packages/contracts-bedrock/src/L1/OPContractsManager.sol
  packages/contracts-bedrock/src/L1/OptimismPortal2.sol
  packages/contracts-bedrock/src/L1/ProxyAdminOwnedBase.sol
  packages/contracts-bedrock/src/L1/StandardValidator.sol
  packages/contracts-bedrock/src/L1/SuperchainConfig.sol
  packages/contracts-bedrock/src/L1/SystemConfig.sol
  packages/contracts-bedrock/src/dispute/AnchorStateRegistry.sol
  packages/contracts-bedrock/src/dispute/DisputeGameFactory.sol
  packages/contracts-bedrock/src/dispute/FaultDisputeGame.sol
  packages/contracts-bedrock/src/dispute/PermissionedDisputeGame.sol
  packages/contracts-bedrock/src/libraries/Encoding.sol
  packages/contracts-bedrock/src/safe/DeputyPauseModule.sol
  packages/contracts-bedrock/test/L1/L1CrossDomainMessenger.t.sol
  packages/contracts-bedrock/test/L1/L1ERC721Bridge.t.sol
  packages/contracts-bedrock/test/L1/L1StandardBridge.t.sol
  packages/contracts-bedrock/test/L1/OPContractsManager.t.sol
  packages/contracts-bedrock/test/L1/OptimismPortal2.t.sol
  packages/contracts-bedrock/test/L1/SuperchainConfig.t.sol
  packages/contracts-bedrock/test/universal/Specs.t.sol
Labels: M-exempt-frozen-files

#15945 contracts: Prepare MIPS64 semver for release
  packages/contracts-bedrock/snapshots/semver-lock.json
  packages/contracts-bedrock/src/cannon/MIPS64.sol
Labels: M-exempt-frozen-files

#15960 fix: small issues in portal comments
  packages/contracts-bedrock/snapshots/semver-lock.json
  packages/contracts-bedrock/src/L1/OptimismPortal2.sol
  packages/contracts-bedrock/src/L1/StandardValidator.sol
  packages/contracts-bedrock/test/L1/OPContractsManager.t.sol
Labels: M-exempt-frozen-files

#15641 Prefer just if-else assignment over shell execution
  justfiles/git.just
Labels: S-stale

#15551 feat: Simplify op-deployer scripts: Switch from legacy to the new scripts for DeploySuperchain & DeployImplementations [17/N]
  op-chain-ops/interopgen/deploy.go
  op-deployer/pkg/deployer/apply.go
  op-deployer/pkg/deployer/bootstrap/implementations.go
  op-deployer/pkg/deployer/bootstrap/superchain.go
  op-deployer/pkg/deployer/bootstrap/superchain_test.go
  op-deployer/pkg/deployer/opcm/implementations.go
  op-deployer/pkg/deployer/opcm/implementations2.go
  op-deployer/pkg/deployer/opcm/implementations2_test.go
  op-deployer/pkg/deployer/opcm/implementations_test.go
  op-deployer/pkg/deployer/opcm/scripts.go
  op-deployer/pkg/deployer/opcm/superchain.go
  op-deployer/pkg/deployer/opcm/superchain2.go
  op-deployer/pkg/deployer/opcm/superchain2_test.go
  op-deployer/pkg/deployer/opcm/superchain_test.go
  op-deployer/pkg/deployer/pipeline/env.go
  op-deployer/pkg/deployer/pipeline/implementations.go
  op-deployer/pkg/deployer/pipeline/superchain.go
  packages/contracts-bedrock/scripts/deploy/Deploy.s.sol
  packages/contracts-bedrock/scripts/deploy/DeployImplementations.s.sol
  packages/contracts-bedrock/scripts/deploy/DeployImplementations2.s.sol
  packages/contracts-bedrock/scripts/deploy/DeploySuperchain.s.sol
  packages/contracts-bedrock/scripts/deploy/DeploySuperchain2.s.sol
  packages/contracts-bedrock/test/opcm/DeployImplementations.t.sol
  packages/contracts-bedrock/test/opcm/DeployImplementations2.t.sol
  packages/contracts-bedrock/test/opcm/DeployOPChain.t.sol
  packages/contracts-bedrock/test/opcm/DeploySuperchain.t.sol
  packages/contracts-bedrock/test/opcm/DeploySuperchain2.t.sol
Labels: A-op-deployer

#15952 [txmgr / batcher] Retry tx submission for blob pool gapped nonce errors
  op-service/txmgr/cli.go
  op-service/txmgr/send_state.go
  op-service/txmgr/txmgr.go
  op-service/txmgr/txmgr_test.go
Labels: A-op-batcher

#16098 op-devstack,op-service: context-logging, better test contexts, and log filters
  devnet-sdk/telemetry/slog.go
  go.mod
  go.sum
  op-acceptance-tests/tests/base/advance_test.go
  op-acceptance-tests/tests/base/faucet_test.go
  op-devstack/devtest/common.go
  op-devstack/devtest/logging.go
  op-devstack/devtest/package.go
  op-devstack/devtest/testing.go
  op-devstack/example/example_test.go
  op-devstack/example/init_test.go
  op-devstack/presets/logging.go
  op-devstack/presets/orchestrator.go
  op-devstack/shim/cluster.go
  op-devstack/shim/common.go
  op-devstack/shim/el.go
  op-devstack/shim/faucet.go
  op-devstack/shim/l1_cl.go
  op-devstack/shim/l1_el.go
  op-devstack/shim/l1_network.go
  op-devstack/shim/l2_batcher.go
  op-devstack/shim/l2_challenger.go
  op-devstack/shim/l2_cl.go
  op-devstack/shim/l2_el.go
  op-devstack/shim/l2_network.go
  op-devstack/shim/l2_proposer.go
  op-devstack/shim/sequencer.go
  op-devstack/shim/superchain.go
  op-devstack/shim/supervisor.go
  op-devstack/stack/context.go
  op-devstack/stack/orchestrator.go
  op-devstack/sysext/orchestrator.go
  op-devstack/sysgo/faucet.go
  op-devstack/sysgo/l1_nodes.go
  op-devstack/sysgo/l2_batcher.go
  op-devstack/sysgo/l2_challenger.go
  op-devstack/sysgo/l2_cl.go
  op-devstack/sysgo/l2_el.go
  op-devstack/sysgo/l2_proposer.go
  op-devstack/sysgo/orchestrator.go
  op-devstack/sysgo/sequencer.go
  op-devstack/sysgo/supervisor.go
  op-service/README.md
  op-service/log/dynamic.go
  op-service/logfilter/filters.go
  op-service/logfilter/filters_test.go
  op-service/logfilter/handler.go
  op-service/logfilter/handler_test.go
  op-service/logmods/logmods.go
  op-service/logmods/logmods_test.go
  op-service/rpc/api.go
  op-service/testlog/capturing.go
  op-service/testlog/testlog.go
Labels: A-devnet-sdk

#16120 op-supervisor: rm an outdated statement
  op-supervisor/README.md
Labels: H-interop

#16042 op-node: Only deploy CrossL2Inbox if there is more than one chain in the dependency set
  op-devstack/sysgo/cluster.go
  op-devstack/sysgo/l2_cl.go
  op-devstack/sysgo/orchestrator.go
  op-e2e/actions/helpers/l2_sequencer.go
  op-e2e/actions/helpers/l2_verifier.go
  op-e2e/actions/interop/dsl/interop.go
  op-e2e/actions/interop/proofs_test.go
  op-e2e/actions/sequencer/l2_sequencer_test.go
  op-e2e/interop/supersystem.go
  op-e2e/interop/supersystem_l2.go
  op-node/node/config.go
  op-node/node/node.go
  op-node/rollup/derive/attributes.go
  op-node/rollup/derive/attributes_queue_test.go
  op-node/rollup/derive/attributes_test.go
  op-node/rollup/derive/interop_upgrade_transactions.go
  op-node/rollup/derive/interop_upgrade_transactions_test.go
  op-node/rollup/derive/pipeline.go
  op-node/rollup/driver/driver.go
  op-program/client/driver/driver.go
  op-program/client/interop/interop.go
  op-program/client/interop/interop_test.go
  op-program/client/preinterop.go
  op-program/client/tasks/derive.go
  op-program/host/host.go
  op-supervisor/supervisor/backend/depset/json.go
  op-test-sequencer/sequencer/backend/work/builders/standardbuilder/config.go
Labels: H-interop

#16154 op-supervisor: rewind protection v2
  op-supervisor/supervisor/backend/backend.go
  op-supervisor/supervisor/backend/cross/safe_update.go
  op-supervisor/supervisor/backend/cross/safe_update_test.go
  op-supervisor/supervisor/backend/cross/unsafe_update.go
  op-supervisor/supervisor/backend/cross/unsafe_update_test.go
  op-supervisor/supervisor/backend/db/db.go
  op-supervisor/supervisor/backend/db/fromda/db_test.go
  op-supervisor/supervisor/backend/db/fromda/update.go
  op-supervisor/supervisor/backend/db/logs/db.go
  op-supervisor/supervisor/backend/db/logs/db_test.go
  op-supervisor/supervisor/backend/db/query.go
  op-supervisor/supervisor/backend/db/readhandle.go
  op-supervisor/supervisor/backend/db/readhandle_test.go
  op-supervisor/supervisor/backend/db/update.go
  op-supervisor/supervisor/backend/reads/doc.go
  op-supervisor/supervisor/backend/reads/full.go
  op-supervisor/supervisor/backend/reads/full_test.go
  op-supervisor/supervisor/backend/reads/iface.go
  op-supervisor/supervisor/backend/reads/noop.go
  op-supervisor/supervisor/types/error.go
  op-supervisor/supervisor/types/types.go
Labels: H-interop
