Repository ethereum-optimism/optimism, pull requests merged in 2025-03, with the labels that each got.

#14591 fix: Revert Incorrect Change in Default Game Type
  packages/contracts-bedrock/scripts/deploy/Deploy.s.sol
Labels: H-interop

#14289 Interop: Rewind tests
  op-supervisor/supervisor/backend/rewinder/rewinder.go
  op-supervisor/supervisor/backend/rewinder/rewinder_test.go
Labels: A-op-supervisor, H-interop

#14292 mipsevm Memory Merklization Abstraction
  cannon/mipsevm/memory/binary_tree.go
  cannon/mipsevm/memory/memory.go
  cannon/mipsevm/memory/memory32_binary_tree_test.go
  cannon/mipsevm/memory/memory64_benchmark_test.go
  cannon/mipsevm/memory/memory64_binary_tree_test.go
  cannon/mipsevm/multithreaded/state_test.go
  cannon/mipsevm/singlethreaded/state.go
  cannon/mipsevm/singlethreaded/state_test.go
  op-challenger/game/fault/trace/cannon/provider_test.go
Labels: T-proofs

#13934 feat: add acceptance test for BLS precompiles
  op-e2e/opgeth/op_geth.go
  op-e2e/opgeth/op_geth_test.go
Labels: S-stale

#14501 op-test-sequencer: structure sub-responsibilities
  op-service/endpoint/rpc.go
  op-test-sequencer/README.md
  op-test-sequencer/config/config.go
  op-test-sequencer/flags/flags.go
  op-test-sequencer/sequencer/backend/backend.go
  op-test-sequencer/sequencer/backend/backend_test.go
  op-test-sequencer/sequencer/backend/mock.go
  op-test-sequencer/sequencer/backend/work/builders/noopbuilder/builder.go
  op-test-sequencer/sequencer/backend/work/builders/noopbuilder/builder_test.go
  op-test-sequencer/sequencer/backend/work/builders/noopbuilder/config.go
  op-test-sequencer/sequencer/backend/work/builders/noopbuilder/config_test.go
  op-test-sequencer/sequencer/backend/work/builders/noopbuilder/job.go
  op-test-sequencer/sequencer/backend/work/committers/noopcommitter/committer.go
  op-test-sequencer/sequencer/backend/work/committers/noopcommitter/committer_test.go
  op-test-sequencer/sequencer/backend/work/committers/noopcommitter/config.go
  op-test-sequencer/sequencer/backend/work/committers/noopcommitter/config_test.go
  op-test-sequencer/sequencer/backend/work/config/builder.go
  op-test-sequencer/sequencer/backend/work/config/committer.go
  op-test-sequencer/sequencer/backend/work/config/publisher.go
  op-test-sequencer/sequencer/backend/work/config/sequencer.go
  op-test-sequencer/sequencer/backend/work/config/signer.go
  op-test-sequencer/sequencer/backend/work/config/static.go
  op-test-sequencer/sequencer/backend/work/config/static_test.go
  op-test-sequencer/sequencer/backend/work/config/testdata/config.yaml
  op-test-sequencer/sequencer/backend/work/config/yaml.go
  op-test-sequencer/sequencer/backend/work/config/yaml_test.go
  op-test-sequencer/sequencer/backend/work/ensemble.go
  op-test-sequencer/sequencer/backend/work/ensemble_test.go
  op-test-sequencer/sequencer/backend/work/iface.go
  op-test-sequencer/sequencer/backend/work/publishers/nooppublisher/config.go
  op-test-sequencer/sequencer/backend/work/publishers/nooppublisher/config_test.go
  op-test-sequencer/sequencer/backend/work/publishers/nooppublisher/publisher.go
  op-test-sequencer/sequencer/backend/work/publishers/nooppublisher/publisher_test.go
  op-test-sequencer/sequencer/backend/work/registry.go
  op-test-sequencer/sequencer/backend/work/registry_test.go
  op-test-sequencer/sequencer/backend/work/sequencers/fullseq/config.go
  op-test-sequencer/sequencer/backend/work/sequencers/fullseq/config_test.go
  op-test-sequencer/sequencer/backend/work/sequencers/fullseq/sequencer.go
  op-test-sequencer/sequencer/backend/work/sequencers/fullseq/sequencer_test.go
  op-test-sequencer/sequencer/backend/work/sequencers/noopseq/config.go
  op-test-sequencer/sequencer/backend/work/sequencers/noopseq/config_test.go
  op-test-sequencer/sequencer/backend/work/sequencers/noopseq/sequencer.go
  op-test-sequencer/sequencer/backend/work/sequencers/noopseq/sequencer_test.go
  op-test-sequencer/sequencer/backend/work/signers/noopsigner/config.go
  op-test-sequencer/sequencer/backend/work/signers/noopsigner/config_test.go
  op-test-sequencer/sequencer/backend/work/signers/noopsigner/publisher.go
  op-test-sequencer/sequencer/backend/work/signers/noopsigner/publisher_test.go
  op-test-sequencer/sequencer/frontend/admin.go
  op-test-sequencer/sequencer/frontend/admin_test.go
  op-test-sequencer/sequencer/frontend/builder.go
  op-test-sequencer/sequencer/frontend/builder_test.go
  op-test-sequencer/sequencer/frontend/sequencer.go
  op-test-sequencer/sequencer/frontend/sequencer_test.go
  op-test-sequencer/sequencer/frontend/util.go
  op-test-sequencer/sequencer/seqtypes/types.go
  op-test-sequencer/sequencer/seqtypes/types_test.go
  op-test-sequencer/sequencer/service.go
  op-test-sequencer/sequencer/service_test.go
Labels: A-op-test-sequencer

#13382 add flags: `txmgr.max-basefee` and `txmgr.max-tip-cap`
  op-service/txmgr/cli.go
  op-service/txmgr/txmgr.go
  op-service/txmgr/txmgr_test.go
Labels: S-stale

#13515 op-deployer: `l1-rpc-url` is not needed when `deployment-target` is `genesis`
  op-deployer/pkg/deployer/apply.go
  op-deployer/pkg/deployer/flags.go
Labels: S-stale

#14062 op-node: continue sequencing when `L1TemporaryErrorEvent` happens
  op-node/rollup/sequencing/sequencer.go
  op-node/rollup/sequencing/sequencer_test.go
Labels: S-stale

#14344 fix(op-deployer): goreleaser linker flags for rendering the right version
  op-deployer/.goreleaser.yaml
Labels: S-stale

#12663 feat: rm unnecessary generic type arguments
  op-chain-ops/script/cheatcodes_external.go
  op-conductor/conductor/service_test.go
  op-service/sources/l1_beacon_client_test.go
Labels: S-stale, go

#14722 contracts: use full compiler target for semver key
  .circleci/config.yml
  op-chain-ops/solc/types.go
  packages/contracts-bedrock/foundry.toml
  packages/contracts-bedrock/scripts/autogen/generate-semver-lock/main.go
  packages/contracts-bedrock/scripts/checks/check-frozen-files.sh
  packages/contracts-bedrock/scripts/checks/check-semver-diff.sh
  packages/contracts-bedrock/snapshots/semver-lock.json
Labels: M-exempt-frozen-files

#14687 op-batcher: force use of TerminalString throughout syncActions logging
  op-batcher/batcher/sync_actions.go
Labels: A-op-batcher

#14780 op-batcher: introduce `ClearAllStateMetrics()` and call from `channelManager.Clear()`
  op-batcher/batcher/channel_manager.go
  op-batcher/batcher/channel_manager_test.go
  op-batcher/metrics/metrics.go
  op-batcher/metrics/noop.go
  op-batcher/metrics/test.go
Labels: A-op-batcher

#14006 op-e2e: action tests for L1 Pectra activation
  op-e2e/actions/helpers/l2_batcher.go
  op-e2e/actions/proofs/helpers/matrix.go
  op-e2e/actions/proofs/l1_prague_fork_test.go
Labels: H-l1-pectra-defense

#14802 Move NAT tests into op-acceptance-tests
  op-acceptance-tests/acceptance-tests.yaml
  op-acceptance-tests/tests/ecotone/fees_test.go
  op-acceptance-tests/tests/fjord/check_scripts_test.go
  op-acceptance-tests/tests/fjord/fees_test.go
  op-acceptance-tests/tests/interop/boilerplate_test.go
  op-acceptance-tests/tests/interop/interop_smoke_test.go
  op-acceptance-tests/tests/interop/mocks_test.go
  op-acceptance-tests/tests/isthmus/erc20_bridge_test.go
  op-acceptance-tests/tests/isthmus/fees_test.go
  op-acceptance-tests/tests/isthmus/withdrawal_root_test.go
Labels: A-devnet-sdk

#14751 devnet-sdk: Plugin op-service ethclient
  devnet-sdk/system/chain.go
  devnet-sdk/system/interfaces.go
  devnet-sdk/system/node.go
  devnet-sdk/system/txbuilder_test.go
  devnet-sdk/system/wallet.go
  devnet-sdk/system/wallet_test.go
  devnet-sdk/testing/systest/testing_test.go
  devnet-sdk/testing/testlib/validators/validators_test.go
  op-acceptance-tests/tests/ecotone/fees_test.go
  op-acceptance-tests/tests/fjord/check_scripts_test.go
  op-acceptance-tests/tests/fjord/fees_test.go
  op-acceptance-tests/tests/isthmus/erc20_bridge_test.go
  op-acceptance-tests/tests/isthmus/fees_test.go
  op-acceptance-tests/tests/isthmus/withdrawal_root_test.go
  op-service/sources/eth_client.go
Labels: A-devnet-sdk

#14844 fix(ctb): L2 genesis - History storage address
  packages/contracts-bedrock/src/libraries/Preinstalls.sol
Labels: C-bug, A-pkg-contracts-bedrock, A-op-deployer, H-isthmus

#14772 feat(devnet-sdk): Expose supervisor
  devnet-sdk/system/interfaces.go
  devnet-sdk/system/system.go
  devnet-sdk/testing/systest/testing_test.go
  kurtosis-devnet/pkg/kurtosis/endpoints.go
  op-acceptance-tests/tests/interop/interop_smoke_test.go
Labels: A-devnet-sdk

#14818 chore: Use floats for fee multipliers, add base multiplier
  devnet-sdk/system/periphery/go-ethereum/fees.go
  devnet-sdk/system/periphery/go-ethereum/fees_test.go
Labels: A-devnet-sdk

#14837 op-node/rollup/sequencing: No user txs in Isthmus & Interop upgrade block
  op-e2e/actions/helpers/l2_engine.go
  op-e2e/actions/proofs/holocene_helpers_test.go
  op-e2e/actions/proofs/holocene_invalid_batch_test.go
  op-e2e/actions/upgrades/isthmus_fork_test.go
  op-node/rollup/sequencing/sequencer.go
  op-program/client/l2/engineapi/l2_engine_api.go
Labels: H-isthmus

#14411 fix(kt-devnet): use unique container tags
  go.mod
  go.sum
  kurtosis-devnet/pkg/build/docker.go
  kurtosis-devnet/pkg/build/docker_test.go
Labels: A-kt-devnet

#14782 kt-devnet: minimal interop test: initiate message
  devnet-sdk/constraints/constraints_test.go
  devnet-sdk/contracts/bindings/l2tol2crossdomainmessenger.go
  devnet-sdk/contracts/registry/client/client.go
  devnet-sdk/contracts/registry/client/l2tol2crossdomainmessenger.go
  devnet-sdk/contracts/registry/empty/empty.go
  devnet-sdk/interfaces/registry.go
  devnet-sdk/system/interfaces.go
  devnet-sdk/system/txbuilder_test.go
  devnet-sdk/system/wallet.go
  devnet-sdk/testing/testlib/validators/validators_test.go
  op-acceptance-tests/tests/interop/interop_tx_test.go
  op-acceptance-tests/tests/interop/mocks_test.go
Labels: A-devnet-sdk

#14836 op-program/client: add check for nil withdrawalsroot
  op-e2e/actions/upgrades/isthmus_fork_test.go
  op-program/client/l2/engineapi/l2_engine_api.go
  op-program/client/l2/engineapi/l2_engine_api_test.go
Labels: H-isthmus

#14838 kt-devnet: minimal interop test: execute message
  devnet-sdk/constraints/constraints_test.go
  devnet-sdk/system/interfaces.go
  devnet-sdk/system/tx.go
  devnet-sdk/system/txbuilder_test.go
  devnet-sdk/system/wallet.go
  devnet-sdk/testing/testlib/validators/validators_test.go
  devnet-sdk/types/types.go
  op-acceptance-tests/tests/interop/interop_tx_test.go
  op-acceptance-tests/tests/interop/mocks_test.go
Labels: A-devnet-sdk

#14881 chore(op-e2e): Prefix proof action tests with `Test_ProgramAction`
  op-e2e/actions/proofs/block_data_hint_test.go
  op-e2e/actions/proofs/isthmus_requests_test.go
  op-e2e/actions/proofs/l1_prague_fork_test.go
  op-e2e/actions/proofs/operator_fee_test.go
  op-e2e/actions/proofs/pectra_blob_schedule_test.go
Labels: C-chore, A-op-e2e

#14882 op-node/rollup/derive: validate to field non-nil for setcode txs
  op-node/rollup/derive/span_batch_tx.go
  op-node/rollup/derive/span_batch_tx_test.go
Labels: H-isthmus, A-derivation

#14784 op-supervisor: access-list support, checksum handling
  devnet-sdk/system/interfaces.go
  devnet-sdk/testing/systest/testing_test.go
  op-e2e/interop/interop_test.go
  op-program/client/interop/consolidate.go
  op-service/sources/supervisor_client.go
  op-supervisor/supervisor/backend/backend.go
  op-supervisor/supervisor/backend/cross/hazard_set.go
  op-supervisor/supervisor/backend/cross/safe_update_test.go
  op-supervisor/supervisor/backend/cross/unsafe_update_test.go
  op-supervisor/supervisor/backend/db/logs/db.go
  op-supervisor/supervisor/backend/db/logs/db_test.go
  op-supervisor/supervisor/backend/db/open.go
  op-supervisor/supervisor/backend/db/query.go
  op-supervisor/supervisor/backend/mock.go
  op-supervisor/supervisor/backend/rewinder/rewinder_test.go
  op-supervisor/supervisor/frontend/frontend.go
  op-supervisor/supervisor/service_test.go
  op-supervisor/supervisor/types/types.go
  op-supervisor/supervisor/types/types_test.go
Labels: H-interop

#14877 op-node/rollup/derive: Drop SetCodeTxs in pre-Isthmus batches
  op-e2e/actions/proofs/isthmus_setcode_tx_test.go
  op-node/rollup/derive/batch_queue_test.go
  op-node/rollup/derive/batches.go
  op-node/rollup/derive/batches_test.go
  op-service/testutils/random.go
Labels: A-op-node, H-isthmus, A-derivation

#14912 op-e2e/actions: test batcher should not warn when safe head moves
  op-e2e/actions/helpers/l2_batcher.go
Labels: A-op-batcher

#14752 chore: add operator fee e2e tests
  op-e2e/actions/helpers/user.go
  op-e2e/actions/proofs/operator_fee_test.go
Labels: A-op-e2e, H-isthmus

#14910 op-e2e: Test that setting op fee pre-Isthmus is ignored
  op-e2e/actions/helpers/l1_replica.go
  op-e2e/actions/proofs/system_config_test.go
Labels: H-isthmus, A-derivation

#14783 Run `TestPectraBlobSchedule` on latest fork
  op-e2e/actions/proofs/pectra_blob_schedule_test.go
Labels: A-op-e2e

#14934 fix: event value in ETHLockbox and improve tests coverage
  packages/contracts-bedrock/snapshots/semver-lock.json
  packages/contracts-bedrock/src/L1/ETHLockbox.sol
  packages/contracts-bedrock/test/L1/ETHLockbox.t.sol
  packages/contracts-bedrock/test/L1/ProxyAdminOwnedBase.t.sol
Labels: M-exempt-frozen-files

#14885 Enable NAT Tests in CI
  .circleci/config.yml
  kurtosis-devnet/isthmus.yaml
  op-acceptance-tests/acceptance-tests.yaml
  op-acceptance-tests/justfile
  op-acceptance-tests/tests/isthmus/erc20_bridge_test.go
Labels: A-devnet-sdk

#14627 docs: migrate build instructions from make to just
  op-wheel/README.md
Labels: S-stale

#14685 feat: have verify script check for consistent variables
  packages/contracts-bedrock/scripts/verify/verify-bytecode/main.go
Labels: S-stale

#14702 op-e2e: move DefaultMnemonicConfig to separate package
  op-e2e/config/init.go
  op-e2e/config/secrets/secrets.go
  op-e2e/config/secrets/secrets_test.go
  op-e2e/e2eutils/setup.go
  op-e2e/system/bridge/validity_test.go
  op-e2e/system/e2esys/setup.go
Labels: S-stale

#15016 feat(acceptance-tests): Add Pectra-inherited feature tests
  op-acceptance-tests/tests/isthmus/isthmus_test_helpers.go
  op-acceptance-tests/tests/isthmus/pectra_features_test.go
  op-service/txplan/txplan.go
Labels: H-isthmus

#14823 op-node: add sequencer "Recover Mode" feature
  op-e2e/actions/helpers/l2_sequencer.go
  op-e2e/actions/helpers/l2_verifier.go
  op-node/README.md
  op-node/flags/flags.go
  op-node/node/api.go
  op-node/node/server_test.go
  op-node/rollup/driver/config.go
  op-node/rollup/driver/state.go
  op-node/rollup/sequencing/disabled.go
  op-node/rollup/sequencing/iface.go
  op-node/rollup/sequencing/origin_selector.go
  op-node/rollup/sequencing/origin_selector_test.go
  op-node/rollup/sequencing/sequencer.go
  op-node/rollup/sequencing/sequencer_test.go
  op-node/service.go
Labels: A-op-node

#14972 Update operator fee NAT test to verify there is no chain split
  devnet-sdk/shell/cmd/enter/main.go
  devnet-sdk/shell/env/chain.go
  devnet-sdk/shell/env/env_test.go
  devnet-sdk/system/chain.go
  devnet-sdk/testing/systest/multi_client.go
  devnet-sdk/testing/testlib/validators/nodes.go
  kurtosis-devnet/isthmus.yaml
  kurtosis-devnet/justfile
  op-acceptance-tests/acceptance-tests.yaml
  op-acceptance-tests/tests/isthmus/fees_test.go
  op-acceptance-tests/tests/isthmus/operator_fee_test.go
Labels: H-isthmus

#15047 ci: include `FuzzExecutionPayloadMarshalUnmarshalV4` in fuzzing job
  op-service/justfile
Labels: H-isthmus

#15060 feat(op-e2e): State validation failure in EVM
  op-e2e/actions/proofs/bad_tx_in_batch_test.go
Labels: A-op-e2e, H-isthmus

#15094 op-acceptance-tests: interop: point to event-index >= number of logs
  op-acceptance-tests/tests/interop/interop_txplan_test.go
Labels: H-interop

#15105 op-service: set implicit empty requests hash post-Isthmus
  op-e2e/actions/upgrades/isthmus_fork_test.go
  op-node/p2p/gossip_test.go
  op-service/eth/ssz.go
  op-service/eth/types.go
  op-service/sources/types.go
Labels: H-isthmus

#15068 op-service: increase fuzz coverage
  op-service/bigs/bigutil.go
  op-service/eth/account_proof_test.go
  op-service/justfile
Labels: H-isthmus

#15102 devnet-sdk/op-acceptance-tests: introduce `RequireNoChainFork` and use in `withdrawal_root_test.go`
  devnet-sdk/testing/systest/multi_client.go
  kurtosis-devnet/isthmus.yaml
  op-acceptance-tests/tests/isthmus/withdrawal_root_test.go
Labels: H-isthmus

#15090 op-e2e/system: add test for minting to a delegated account
  op-e2e/system/bridge/deposit_test.go
Labels: H-isthmus
