Repository ethereum-optimism/optimism, pull requests merged in 2025-01, with the labels that each got.

#13829 feat(op-challenger): Kona interop executor
  op-challenger/game/fault/trace/utils/local.go
  op-challenger/game/fault/trace/vm/kona_interop_server_executor.go
  op-e2e/actions/proofs/helpers/kona.go
  op-e2e/actions/proofs/helpers/runner.go
Labels: A-op-challenger, A-op-e2e

#13645 op-supervisor: local-safe reorg support
  op-e2e/.gitignore
  op-e2e/actions/helpers/action.go
  op-e2e/actions/helpers/l2_verifier.go
  op-e2e/actions/interop/emitter_contract_test.go
  op-e2e/actions/interop/interop_test.go
  op-node/rollup/attributes/attributes.go
  op-node/rollup/derive/deposit_source.go
  op-node/rollup/derive/deposit_source_test.go
  op-node/rollup/derive/deriver.go
  op-node/rollup/engine/engine_reset.go
  op-node/rollup/engine/events.go
  op-node/rollup/engine/payload_success.go
  op-node/rollup/event.go
  op-node/rollup/interop/managed/api.go
  op-node/rollup/interop/managed/attributes.go
  op-node/rollup/interop/managed/attributes_test.go
  op-node/rollup/interop/managed/system.go
  op-node/rollup/sequencing/origin_selector.go
  op-service/eth/types.go
  op-supervisor/supervisor/backend/cross/safe_frontier.go
  op-supervisor/supervisor/backend/cross/safe_frontier_test.go
  op-supervisor/supervisor/backend/cross/safe_update.go
  op-supervisor/supervisor/backend/cross/safe_update_test.go
  op-supervisor/supervisor/backend/db/db.go
  op-supervisor/supervisor/backend/db/fromda/db.go
  op-supervisor/supervisor/backend/db/fromda/db_test.go
  op-supervisor/supervisor/backend/db/fromda/update.go
  op-supervisor/supervisor/backend/db/query.go
  op-supervisor/supervisor/backend/db/update.go
  op-supervisor/supervisor/backend/l1access/l1_accessor.go
  op-supervisor/supervisor/backend/processors/chain_processor.go
  op-supervisor/supervisor/backend/superevents/events.go
  op-supervisor/supervisor/backend/syncnode/controller_test.go
  op-supervisor/supervisor/backend/syncnode/iface.go
  op-supervisor/supervisor/backend/syncnode/node.go
  op-supervisor/supervisor/backend/syncnode/rpc.go
  op-supervisor/supervisor/types/types.go
Labels: H-interop

#14023 op-node: update interop optimistic block system deposit tx sender address
  op-node/rollup/interop/managed/attributes.go
  op-node/rollup/interop/managed/attributes_test.go
Labels: H-interop

#13958 Update op-geth dependency to upstream pre-v1.15.0 master merge & ignore SetCode batcher txs
  cannon/mipsevm/testutil/evm.go
  go.mod
  go.sum
  op-batcher/batcher/driver.go
  op-batcher/batcher/test_batch_submitter.go
  op-chain-ops/cmd/check-derivation/main.go
  op-chain-ops/cmd/op-run-block/main.go
  op-chain-ops/cmd/op-simulate/main.go
  op-chain-ops/foundry/allocs_test.go
  op-chain-ops/script/forking/reader.go
  op-chain-ops/script/forking/state.go
  op-chain-ops/script/script.go
  op-deployer/pkg/deployer/broadcaster/keyed.go
  op-e2e/actions/batcher/l2_batcher_test.go
  op-e2e/actions/helpers/l1_miner.go
  op-e2e/actions/helpers/l2_batcher.go
  op-e2e/actions/sync/sync_test.go
  op-e2e/actions/upgrades/span_batch_test.go
  op-e2e/system/da/brotli_batcher_test.go
  op-e2e/system/da/eip4844_test.go
  op-node/p2p/cli/load_config.go
  op-node/p2p/cli/load_config_test.go
  op-node/p2p/config.go
  op-node/rollup/derive/blob_data_source_test.go
  op-node/rollup/derive/data_source.go
  op-node/rollup/derive/fuzz_parsers_test.go
  op-program/client/l2/db_test.go
  op-program/client/l2/engineapi/block_processor.go
  op-program/client/l2/engineapi/l2_engine_api.go
  op-wheel/cheat/cheat.go
Labels: H-l1-pectra-defense

#13870 op-batcher: handle EIP-7623 in DA switching calculation
  op-batcher/batcher/channel_config.go
  op-batcher/batcher/channel_config_provider.go
  op-batcher/batcher/channel_config_provider_test.go
  op-batcher/batcher/channel_manager.go
  op-batcher/batcher/channel_manager_test.go
  op-batcher/batcher/driver.go
  op-batcher/batcher/test_batch_submitter.go
  op-chain-ops/genesis/config.go
  op-chain-ops/genesis/genesis.go
  op-e2e/e2eutils/geth/fakepos.go
  op-e2e/system/da/eip4844_test.go
Labels: H-l1-pectra-defense
