Repository ethereum-optimism/optimism, pull requests merged in 2025-02, with the labels that each got.

#14136 op-deployer: Add book
  op-deployer/book/.gitignore
  op-deployer/book/book.toml
  op-deployer/book/src/README.md
  op-deployer/book/src/SUMMARY.md
  op-deployer/book/src/reference-guide/architecture.md
  op-deployer/book/src/reference-guide/artifacts-locators.md
  op-deployer/book/src/reference-guide/engine.md
  op-deployer/book/src/reference-guide/pipeline.md
  op-deployer/book/src/user-guide/apply.md
  op-deployer/book/src/user-guide/init.md
  op-deployer/book/src/user-guide/installation.md
  op-deployer/book/src/user-guide/usage.md
Labels: A-op-deployer

#13853 op-node,op-service: Add Timeout Flag for L2 Engine
  op-node/flags/flags.go
  op-node/node/client.go
  op-node/service.go
  op-service/sources/engine_client.go
Labels: A-op-node, A-op-service

#13122 op-proposer: use atomic.Bool instead of bool+mutex
  op-proposer/proposer/driver.go
Labels: A-op-proposer

#14152 supervisor: Refactor `Contains` ; Check Timestamps
  op-program/client/interop/consolidate.go
  op-supervisor/supervisor/backend/backend.go
  op-supervisor/supervisor/backend/cross/safe_start.go
  op-supervisor/supervisor/backend/cross/safe_start_test.go
  op-supervisor/supervisor/backend/cross/safe_update_test.go
  op-supervisor/supervisor/backend/cross/unsafe_start.go
  op-supervisor/supervisor/backend/cross/unsafe_start_test.go
  op-supervisor/supervisor/backend/cross/unsafe_update_test.go
  op-supervisor/supervisor/backend/db/db.go
  op-supervisor/supervisor/backend/db/logs/db.go
  op-supervisor/supervisor/backend/db/logs/db_test.go
  op-supervisor/supervisor/backend/db/query.go
  op-supervisor/supervisor/types/types.go
Labels: A-op-supervisor, H-interop

#13923 interop: Add metrics to track CrossUnsafe and CrossSafe heads.
  op-node/metrics/metrics.go
  op-service/metrics/ref_metrics.go
  op-supervisor/metrics/metrics.go
  op-supervisor/metrics/noop.go
  op-supervisor/supervisor/backend/backend.go
  op-supervisor/supervisor/backend/backend_test.go
  op-supervisor/supervisor/backend/chain_metrics.go
  op-supervisor/supervisor/backend/db/db.go
  op-supervisor/supervisor/backend/db/query_test.go
  op-supervisor/supervisor/backend/db/update.go
  op-supervisor/supervisor/backend/rewinder/rewinder_test.go
Labels: H-interop

#14163 contracts-bedrock: delete dead code
  packages/contracts-bedrock/deployments/4202/.chainId
Labels: A-pkg-contracts-bedrock

#14168 op-service/txmgr: fix `pending_txs` metric
  op-service/txmgr/metrics/noop.go
  op-service/txmgr/queue_test.go
  op-service/txmgr/txmgr.go
Labels: C-bug, A-op-batcher, A-op-service

#14170 op-program: reuse EVM instance in L2 block processor
  op-program/client/l2/engineapi/block_processor.go
Labels: A-op-program

#14222 op-chain-ops: vm.computeCreateAddress cheatcode
  op-chain-ops/script/cheatcodes_utilities.go
  op-chain-ops/script/cheatcodes_utilities_test.go
Labels: A-op-chain-ops

#14187 go.mod: Update op-geth dependency
  go.mod
  go.sum
Labels: H-interop

#14166 nit fixes
  packages/contracts-bedrock/snapshots/semver-lock.json
  packages/contracts-bedrock/src/L1/OPContractsManager.sol
  packages/contracts-bedrock/src/L1/OPContractsManagerInterop.sol
Labels: A-pkg-contracts-bedrock, T-upgrades

#14154 feat: accelerate BLS precompiles
  op-e2e/actions/proofs/fixtures.go
  op-e2e/actions/proofs/helpers/env.go
  op-e2e/actions/proofs/helpers/matrix.go
  op-program/client/l2/engineapi/precompiles.go
  op-program/client/l2/engineapi/precompiles_test.go
  op-program/host/prefetcher/prefetcher.go
Labels: T-proofs

#14209 op-challenger: Implement SyncValidator for super games
  op-challenger/game/fault/clients.go
  op-challenger/game/fault/player.go
  op-challenger/game/fault/register.go
  op-challenger/game/fault/register_task.go
  op-challenger/game/fault/sync.go
  op-challenger/game/fault/sync_test.go
  op-challenger/game/fault/trace/super/sync.go
  op-challenger/game/fault/trace/super/sync_test.go
  op-challenger/game/fault/types/types.go
  op-e2e/actions/interop/proofs_test.go
Labels: H-interop

#14165 drippie: Added README to op-dripper
  op-dripper/README.md
Labels: C-chore

#14101 op-program: Ensure exec msg inclusion during consolidation
  op-program/client/interop/consolidate.go
  op-program/client/interop/interop_test.go
Labels: A-op-program, H-interop

#14174 Use castings according to padding
  packages/contracts-bedrock/snapshots/semver-lock.json
  packages/contracts-bedrock/src/L1/OPContractsManager.sol
  packages/contracts-bedrock/src/L1/OPContractsManagerInterop.sol
  packages/contracts-bedrock/test/L1/OPContractsManager.t.sol
Labels: S-exempt-frozen-files

#14338 feat: improve comments on OPPrestateUpdater
  packages/contracts-bedrock/snapshots/semver-lock.json
  packages/contracts-bedrock/src/L1/OPPrestateUpdater.sol
Labels: S-exempt-frozen-files

#14107 op-program: Simplify block attrs replacement
  op-e2e/actions/interop/proofs_test.go
  op-program/client/tasks/deposits_block.go
Labels: A-op-program, H-interop

#14196 feat: add game type event
  packages/contracts-bedrock/interfaces/L1/IOPContractsManager.sol
  packages/contracts-bedrock/interfaces/L1/IOPPrestateUpdater.sol
  packages/contracts-bedrock/snapshots/abi/OPContractsManager.json
  packages/contracts-bedrock/snapshots/abi/OPContractsManagerInterop.json
  packages/contracts-bedrock/snapshots/abi/OPPrestateUpdater.json
  packages/contracts-bedrock/snapshots/semver-lock.json
  packages/contracts-bedrock/src/L1/OPContractsManager.sol
  packages/contracts-bedrock/src/L1/OPContractsManagerInterop.sol
  packages/contracts-bedrock/src/L1/OPPrestateUpdater.sol
  packages/contracts-bedrock/test/L1/OPContractsManager.t.sol
Labels: S-exempt-frozen-files

#14357 Opcm/fix missing checks
  packages/contracts-bedrock/interfaces/L1/IHasSuperchainConfig.sol
  packages/contracts-bedrock/scripts/checks/interfaces/main.go
  packages/contracts-bedrock/snapshots/abi/StandardValidatorV180.json
  packages/contracts-bedrock/snapshots/semver-lock.json
  packages/contracts-bedrock/snapshots/storageLayout/StandardValidatorV180.json
  packages/contracts-bedrock/src/L1/OPContractsManager.sol
  packages/contracts-bedrock/src/L1/OPContractsManagerInterop.sol
  packages/contracts-bedrock/src/L1/OPPrestateUpdater.sol
Labels: S-exempt-frozen-files

#14310 op-batcher: prevent `SpanChannelOut` RLP bytes overflowing `MaxRLPBytesPerChannel`
  op-node/rollup/derive/channel_out_test.go
  op-node/rollup/derive/span_channel_out.go
Labels: A-op-batcher

#14265 op-batcher: use local-safe to reduce lag during interop sync
  op-batcher/batcher/driver.go
  op-batcher/batcher/driver_test.go
  op-batcher/batcher/sync_actions.go
  op-batcher/batcher/sync_actions_test.go
Labels: A-op-batcher, H-interop

#14169 contracts: EventLogger integration test util contract
  packages/contracts-bedrock/src/integration/EventLogger.sol
  packages/contracts-bedrock/test/integration/EventLogger.t.sol
Labels: A-pkg-contracts-bedrock, H-interop

#14364 OPCM Fix: Failure when addGameType due to common saltMixer
  packages/contracts-bedrock/snapshots/semver-lock.json
  packages/contracts-bedrock/src/L1/OPContractsManager.sol
  packages/contracts-bedrock/src/L1/OPContractsManagerInterop.sol
  packages/contracts-bedrock/src/L1/OPPrestateUpdater.sol
  packages/contracts-bedrock/test/L1/OPContractsManager.t.sol
Labels: M-exempt-frozen-files

#14365 perf(kt-devnet): use deterministic tarballs of contract code to make fileserver runs idempotent
  kurtosis-devnet/justfile
  kurtosis-devnet/pkg/deploy/fileserver.go
Labels: A-kt-devnet

#12202 catch step panic in `Guard`
  cannon/cmd/run.go
Labels: A-cannon, A-op-program, T-proofs

#14361 op-service: fix isthmus block-attributes handling
  op-e2e/actions/upgrades/isthmus_fork_test.go
  op-node/p2p/gossip_test.go
  op-service/eth/ssz.go
  op-service/eth/types.go
  op-service/sources/types.go
Labels: H-isthmus

#12559 op-program: add execution witness hints to remove dbGet dependency
  op-program/client/l2/cache.go
  op-program/client/l2/engine.go
  op-program/client/l2/engine_backend.go
  op-program/client/l2/hints.go
  op-program/client/l2/oracle.go
  op-program/client/l2/test/stub_oracle.go
  op-program/client/l2/types/types.go
  op-program/client/tasks/deposits_block.go
  op-program/client/tasks/derive.go
  op-program/host/common/l2_source.go
  op-program/host/prefetcher/prefetcher.go
  op-program/host/prefetcher/prefetcher_test.go
  op-program/host/prefetcher/retry.go
  op-program/host/prefetcher/retry_test.go
  op-program/host/types/types.go
  op-service/sources/eth_client.go
Labels: A-op-program

#14375 op-supervisor: make fromda DB more strict
  op-supervisor/supervisor/backend/db/fromda/db.go
  op-supervisor/supervisor/backend/db/fromda/db_invariants_test.go
  op-supervisor/supervisor/backend/db/fromda/db_test.go
  op-supervisor/supervisor/backend/db/fromda/update.go
  op-supervisor/supervisor/backend/rewinder/rewinder_test.go
Labels: A-op-supervisor, H-interop

#14350 chore(devnet-sdk): Polish types & prepare for usage outside of the monorepo
  devnet-sdk/constraints/constraints.go
  devnet-sdk/constraints/constraints_test.go
  devnet-sdk/system/chain.go
  devnet-sdk/system/chain_test.go
  devnet-sdk/system/interfaces.go
  devnet-sdk/system/system.go
  devnet-sdk/system/system_test.go
  devnet-sdk/system/txbuilder_test.go
  devnet-sdk/system/txprocessor.go
  devnet-sdk/system/txprocessor_test.go
  devnet-sdk/system/wallet.go
  devnet-sdk/system/wallet_test.go
  devnet-sdk/testing/systest/testing_test.go
  devnet-sdk/testing/testlib/validators/wallet.go
  devnet-sdk/types/types.go
  kurtosis-devnet/tests/interop/boilerplate_test.go
  kurtosis-devnet/tests/interop/interop_smoke_test.go
  kurtosis-devnet/tests/interop/mocks_test.go
Labels: A-devnet-sdk

#14430 fix opcm addGameType delayedWETH collision
  packages/contracts-bedrock/snapshots/semver-lock.json
  packages/contracts-bedrock/src/L1/OPContractsManager.sol
  packages/contracts-bedrock/src/L1/OPContractsManagerInterop.sol
  packages/contracts-bedrock/src/L1/OPPrestateUpdater.sol
Labels: M-exempt-frozen-files

#14308 feat: Introduce Interop Fault Dispute Games
  packages/contracts-bedrock/foundry.toml
  packages/contracts-bedrock/scripts/checks/check-frozen-files.sh
  packages/contracts-bedrock/snapshots/semver-lock.json
  packages/contracts-bedrock/src/dispute/SuperFaultDisputeGame.sol
  packages/contracts-bedrock/src/dispute/SuperPermissionedDisputeGame.sol
  packages/contracts-bedrock/src/dispute/lib/Types.sol
  packages/contracts-bedrock/test/dispute/SuperFaultDisputeGame.t.sol
  packages/contracts-bedrock/test/dispute/SuperPermissionedDisputeGame.t.sol
  packages/contracts-bedrock/test/universal/Specs.t.sol
  packages/contracts-bedrock/test/vendor/Initializable.t.sol
Labels: H-interop

#12829 feat: add experimental L2 source flag to runner
  op-challenger/cmd/main_test.go
  op-challenger/flags/flags.go
  op-challenger/game/fault/trace/vm/executor.go
  op-challenger/game/fault/trace/vm/op_program_server_executor.go
Labels: A-op-program

#14478 op-signer, op-node: fix block signer utils
  op-node/p2p/gossip.go
  op-node/p2p/gossip_test.go
  op-node/p2p/signer.go
  op-node/p2p/signer_test.go
  op-service/eth/types.go
  op-service/eth/types_test.go
  op-service/signer/blockpayload_args.go
  op-service/signer/blockpayload_args_test.go
  op-service/signer/client.go
Labels: A-op-node, A-op-service, A-op-signer

#14491 op-service: RPC server wraps http-util server now, and factor out RPC handler
  op-alt-da/daserver.go
  op-node/p2p/gossip_test.go
  op-node/rollup/interop/managed/system.go
  op-service/httputil/http.go
  op-service/httputil/options.go
  op-service/httputil/server.go
  op-service/httputil/server_test.go
  op-service/httputil/timeout.go
  op-service/rpc/handler.go
  op-service/rpc/handler_options.go
  op-service/rpc/handler_test.go
  op-service/rpc/server.go
  op-service/rpc/server_test.go
  op-service/rpc/stream_test.go
  op-service/txmgr/rpc_test.go
Labels: A-op-service

#14474 op-service: cleanup rw map utils
  op-service/locks/rwmap.go
  op-service/locks/rwmap_test.go
  op-supervisor/supervisor/backend/syncnode/controller.go
Labels: A-op-service

#14244 op-batcher: remove `ThrottleInterval` and split block loading and batch publishing into separate goroutines
  op-batcher/batcher/config.go
  op-batcher/batcher/config_test.go
  op-batcher/batcher/driver.go
  op-batcher/batcher/service.go
  op-batcher/flags/flags.go
  op-batcher/readme.md
  op-e2e/system/e2esys/setup.go
  op-service/dial/active_l2_provider_test.go
  op-service/dial/active_rollup_provider.go
  op-service/txmgr/queue.go
Labels: A-op-batcher, C-spike

#14507 chore: Add all predeployed addresses to devnet-sdk
  devnet-sdk/contracts/constants/constants.go
Labels: A-devnet-sdk

#14520 op-batcher: always `updateCursorAndMetrics` when returning from `processBlocks()`
  op-batcher/batcher/channel_manager.go
Labels: A-op-batcher

#14514 fix(devnet-sdk): Unique sentinels for devnet-sdk
  devnet-sdk/testing/testlib/validators/lowlevel.go
  devnet-sdk/testing/testlib/validators/validators_test.go
  devnet-sdk/testing/testlib/validators/wallet.go
Labels: A-devnet-sdk

#14553 op-batcher: remove `ChannelManager.CheckExpectedProgress()` and add channel timeout log
  op-batcher/batcher/channel_manager.go
  op-batcher/batcher/channel_manager_test.go
Labels: A-op-batcher

#14561 op-batcher: correctly track block metrics in `handleChannelInvalidated()`
  op-batcher/batcher/channel_manager.go
  op-batcher/batcher/channel_manager_test.go
Labels: A-op-batcher

#14431 feat: Remove BlockNumber Dispute for SuperFaultDisputeGame + SuperPermissionedGame
  packages/contracts-bedrock/scripts/deploy/Deploy.s.sol
  packages/contracts-bedrock/snapshots/abi/SuperFaultDisputeGame.json
  packages/contracts-bedrock/snapshots/abi/SuperPermissionedDisputeGame.json
  packages/contracts-bedrock/snapshots/semver-lock.json
  packages/contracts-bedrock/snapshots/storageLayout/SuperFaultDisputeGame.json
  packages/contracts-bedrock/snapshots/storageLayout/SuperPermissionedDisputeGame.json
  packages/contracts-bedrock/src/dispute/SuperFaultDisputeGame.sol
  packages/contracts-bedrock/src/dispute/SuperPermissionedDisputeGame.sol
  packages/contracts-bedrock/test/dispute/PermissionedDisputeGame.t.sol
  packages/contracts-bedrock/test/dispute/SuperFaultDisputeGame.t.sol
  packages/contracts-bedrock/test/dispute/SuperPermissionedDisputeGame.t.sol
  packages/contracts-bedrock/test/universal/Specs.t.sol
Labels: H-interop

#14444 op-supervisor: independent reset preparation
  op-e2e/actions/helpers/l2_verifier.go
  op-e2e/actions/interop/dsl/dsl.go
  op-e2e/actions/interop/dsl/interop.go
  op-e2e/actions/interop/emitter_contract_test.go
  op-e2e/actions/interop/interop_test.go
  op-e2e/actions/interop/reset_test.go
  op-node/rollup/driver/state.go
  op-node/rollup/engine/engine_controller.go
  op-node/rollup/engine/engine_reset.go
  op-node/rollup/engine/events.go
  op-node/rollup/engine/payload_success.go
  op-node/rollup/event.go
  op-node/rollup/interop/managed/api.go
  op-node/rollup/interop/managed/system.go
  op-node/rollup/sequencing/sequencer_chaos_test.go
  op-node/rollup/status/status.go
  op-supervisor/supervisor/backend/backend.go
  op-supervisor/supervisor/backend/db/anchor.go
  op-supervisor/supervisor/backend/db/db.go
  op-supervisor/supervisor/backend/db/query.go
  op-supervisor/supervisor/backend/db/update.go
  op-supervisor/supervisor/backend/rewinder/rewinder_test.go
  op-supervisor/supervisor/backend/superevents/events.go
  op-supervisor/supervisor/backend/syncnode/controller_test.go
  op-supervisor/supervisor/backend/syncnode/iface.go
  op-supervisor/supervisor/backend/syncnode/node.go
  op-supervisor/supervisor/backend/syncnode/node_test.go
  op-supervisor/supervisor/backend/syncnode/reset.go
  op-supervisor/supervisor/backend/syncnode/rpc.go
Labels: A-op-supervisor, H-interop

#14270 op-test-sequencer: initial service scaffolding
  op-test-sequencer/.gitignore
  op-test-sequencer/README.md
  op-test-sequencer/cmd/main.go
  op-test-sequencer/cmd/main_test.go
  op-test-sequencer/config/config.go
  op-test-sequencer/config/config_test.go
  op-test-sequencer/flags/flags.go
  op-test-sequencer/flags/flags_test.go
  op-test-sequencer/justfile
  op-test-sequencer/metrics/metricer.go
  op-test-sequencer/metrics/metrics.go
  op-test-sequencer/metrics/noop.go
  op-test-sequencer/sequencer/backend/backend.go
  op-test-sequencer/sequencer/backend/backend_test.go
  op-test-sequencer/sequencer/backend/mock.go
  op-test-sequencer/sequencer/entrypoint.go
  op-test-sequencer/sequencer/frontend/frontend.go
  op-test-sequencer/sequencer/service.go
  op-test-sequencer/sequencer/service_test.go
Labels: H-interop, A-op-test-sequencer

#14453 interop: Recursive hazard detection
  op-e2e/actions/interop/proofs_test.go
  op-program/client/interop/consolidate.go
  op-supervisor/supervisor/backend/cross/cycle.go
  op-supervisor/supervisor/backend/cross/cycle_test.go
  op-supervisor/supervisor/backend/cross/hazard_set.go
  op-supervisor/supervisor/backend/cross/hazard_set_test.go
  op-supervisor/supervisor/backend/cross/safe_frontier.go
  op-supervisor/supervisor/backend/cross/safe_frontier_test.go
  op-supervisor/supervisor/backend/cross/safe_start.go
  op-supervisor/supervisor/backend/cross/safe_start_test.go
  op-supervisor/supervisor/backend/cross/safe_update.go
  op-supervisor/supervisor/backend/cross/safe_update_test.go
  op-supervisor/supervisor/backend/cross/unsafe_frontier.go
  op-supervisor/supervisor/backend/cross/unsafe_frontier_test.go
  op-supervisor/supervisor/backend/cross/unsafe_start.go
  op-supervisor/supervisor/backend/cross/unsafe_start_test.go
  op-supervisor/supervisor/backend/cross/unsafe_update.go
  op-supervisor/supervisor/backend/cross/unsafe_update_test.go
Labels: A-op-supervisor, H-interop
