Repository ethereum-optimism/optimism, pull requests merged in 2025-04, with the labels that each got.

#15111 feat: Simplify op-deployer scripts: Add runtime ABI validation [2/N]
  op-chain-ops/script/abi.go
  op-chain-ops/script/abi_test.go
Labels: A-op-deployer

#15119 feat: Simplify op-deployer scripts: Type-safe forge script execution [3/N]
  op-chain-ops/script/deploy.go
  op-chain-ops/script/deploy_test.go
  op-chain-ops/script/testdata/test-artifacts/DeployScriptExample.s.sol/DeployScriptExample.json
Labels: A-op-deployer

#14654 batcher: Wait for DA write before shutdown
  op-batcher/batcher/driver.go
Labels: A-op-batcher, S-stale

#15134 feat: Simplify op-deployer scripts: DeploySuperchain2 [4/N]
  op-chain-ops/script/deploy.go
  op-chain-ops/script/deploy_test.go
  op-deployer/justfile
  op-deployer/pkg/deployer/opcm/bootstrap_test.go
  op-deployer/pkg/deployer/opcm/superchain2.go
  op-deployer/pkg/deployer/opcm/superchain2_test.go
Labels: A-op-deployer

#15164 chore: Use new StandardValidatorV300
  op-validator/pkg/validations/addresses.go
Labels: C-chore

#15155 feat: Simplify op-deployer scripts: DeployAlphabetVM [6/N]
  op-deployer/pkg/deployer/opcm/alphabet2.go
  op-deployer/pkg/deployer/opcm/alphabet2_test.go
  packages/contracts-bedrock/scripts/deploy/DeployAlphabetVM2.s.sol
  packages/contracts-bedrock/test/opcm/DeployAlphabetVM2.t.sol
Labels: A-op-deployer

#15210 feat: Simplify op-deployer scripts: DeployAltDA [7/N]
  op-deployer/pkg/deployer/opcm/alt_da2.go
  op-deployer/pkg/deployer/opcm/alt_da2_test.go
  packages/contracts-bedrock/scripts/deploy/DeployAltDA2.s.sol
  packages/contracts-bedrock/test/opcm/DeployAltDA2.t.sol
Labels: A-op-deployer

#15153 feat: Simplify op-deployer scripts: DeployImplementations [5/N]
  op-deployer/pkg/deployer/opcm/implementations2.go
  op-deployer/pkg/deployer/opcm/implementations2_test.go
  packages/contracts-bedrock/scripts/deploy/DeployImplementations2.s.sol
  packages/contracts-bedrock/test/opcm/DeployImplementations2.t.sol
Labels: A-op-deployer

#15232 feat: Simplify op-deployer scripts: DeployAsterisc [8/N]
  op-deployer/pkg/deployer/opcm/asterisc2.go
  op-deployer/pkg/deployer/opcm/asterisc2_test.go
  packages/contracts-bedrock/scripts/deploy/DeployAsterisc2.s.sol
  packages/contracts-bedrock/test/opcm/DeployAsterisc2.t.sol
Labels: A-op-deployer

#15256 feat: Simplify op-deployer scripts: DeployAuthSystem [9/N]
  packages/contracts-bedrock/scripts/deploy/DeployAuthSystem2.s.sol
  packages/contracts-bedrock/scripts/libraries/DeployUtils.sol
  packages/contracts-bedrock/test/libraries/DeployUtils.t.sol
  packages/contracts-bedrock/test/opcm/DeployAuthSystem2.t.sol
Labels: A-op-deployer

#15110 devnet-sdk/systemgo: deployer integration
  devnet-sdk/devstack/devtest/package.go
  devnet-sdk/devstack/presets/interop.go
  devnet-sdk/devstack/presets/orchestrator.go
  devnet-sdk/devstack/shim/l1_network.go
  devnet-sdk/devstack/shim/l2_network.go
  devnet-sdk/devstack/shim/system.go
  devnet-sdk/devstack/stack/id.go
  devnet-sdk/devstack/stack/l1_network.go
  devnet-sdk/devstack/stack/l2_network.go
  devnet-sdk/devstack/sysext/l1.go
  devnet-sdk/devstack/sysext/l2.go
  devnet-sdk/devstack/sysgo/contracts.go
  devnet-sdk/devstack/sysgo/deployer.go
  devnet-sdk/devstack/sysgo/interopgen.go
  devnet-sdk/devstack/sysgo/l2_batcher.go
  devnet-sdk/devstack/sysgo/system.go
  devnet-sdk/devstack/sysgo/system_test.go
  op-chain-ops/genesis/genesis.go
  op-chain-ops/genesis/helpers.go
  op-chain-ops/interopgen/deploy.go
  op-chain-ops/script/script.go
  op-deployer/pkg/deployer/apply.go
  op-deployer/pkg/deployer/integration_test/apply_test.go
  op-deployer/pkg/deployer/opcm/preinstalls.go
  op-deployer/pkg/deployer/pipeline/prefund_l1_dev_genesis.go
  op-deployer/pkg/deployer/pipeline/prefund_l2_dev_genesis.go
  op-deployer/pkg/deployer/pipeline/preinstall_l1_dev_genesis.go
  op-deployer/pkg/deployer/pipeline/seal_l1_dev_genesis.go
  op-deployer/pkg/deployer/pipeline/start_block.go
  op-deployer/pkg/deployer/state/chain_intent.go
  op-deployer/pkg/deployer/state/intent.go
  op-deployer/pkg/deployer/state/state.go
  op-e2e/actions/helpers/l1_miner.go
  op-e2e/actions/helpers/l1_replica_test.go
  op-e2e/actions/upgrades/dencun_fork_test.go
  op-e2e/actions/upgrades/ecotone_fork_test.go
  op-e2e/actions/upgrades/isthmus_fork_test.go
  op-e2e/e2eutils/intentbuilder/builder.go
  op-e2e/e2eutils/intentbuilder/builder_test.go
  op-e2e/e2eutils/setup.go
  op-program/client/l2/engine_backend_test.go
  op-service/eth/chain_id.go
Labels: A-devnet-sdk

#15283 feat: Simplify op-deployer scripts: DeployPreimageOracle [13/N]
  op-deployer/pkg/deployer/opcm/perimage_oracle2.go
  op-deployer/pkg/deployer/opcm/preimage_oracle2_test.go
  packages/contracts-bedrock/scripts/deploy/DeployPreimageOracle2.s.sol
  packages/contracts-bedrock/test/opcm/DeployPreimageOracle2.t.sol
Labels: A-op-deployer

#15275 feat: Simplify op-deployer scripts: DeployDelayedWETH [10/N]
  op-deployer/pkg/deployer/opcm/delayed_weth.go
  op-deployer/pkg/deployer/opcm/delayed_weth_test.go
  packages/contracts-bedrock/scripts/deploy/DeployDelayedWETH.s.sol
Labels: A-op-deployer

#15286 feat: Simplify op-deployer scripts: DeployProxy [14/N]
  op-deployer/pkg/deployer/opcm/proxy2.go
  op-deployer/pkg/deployer/opcm/proxy2_test.go
  packages/contracts-bedrock/scripts/deploy/DeployProxy2.s.sol
  packages/contracts-bedrock/test/opcm/DeployProxy2.t.sol
Labels: A-op-deployer

#15282 feat: Simplify op-deployer scripts: DeployMIPS [12/N]
  op-deployer/pkg/deployer/opcm/mips2.go
  op-deployer/pkg/deployer/opcm/mips2_test.go
  packages/contracts-bedrock/scripts/deploy/DeployMIPS2.s.sol
  packages/contracts-bedrock/test/opcm/DeployMIPS2.t.sol
Labels: A-op-deployer

#15279 feat: Simplify op-deployer scripts: DeployDisputeGame [11/N]
  op-deployer/pkg/deployer/opcm/dispute_game2.go
  op-deployer/pkg/deployer/opcm/dispute_game2_test.go
  packages/contracts-bedrock/scripts/deploy/DeployDisputeGame2.s.sol
  packages/contracts-bedrock/test/opcm/DeployDisputeGame2.t.sol
Labels: A-op-deployer

#14454 cannon: Implement `dclo|dclz`
  Makefile
  cannon/Makefile
  cannon/mipsevm/README.md
  cannon/mipsevm/exec/mips_instructions.go
  cannon/mipsevm/tests/evm_common64_test.go
  cannon/mipsevm/versions/testdata/states/7.bin.gz
  cannon/mipsevm/versions/version.go
  packages/contracts-bedrock/snapshots/semver-lock.json
  packages/contracts-bedrock/src/cannon/MIPS64.sol
  packages/contracts-bedrock/src/cannon/libraries/MIPS64Instructions.sol
Labels: S-exempt-stale

#14832 chore(test-logger): fix test logger.Crit which wasn't getting flushed
  op-service/testlog/testlog.go
Labels: A-op-service, S-stale

#15394 chore: Update `kona` + `asterisc` in `op-challenger` image
  .circleci/config.yml
  docker-bake.hcl
  kurtosis-devnet/justfile
  ops/docker/op-stack-go/Dockerfile
  ops/docker/proofs-tools/Dockerfile
  ops/docker/proofs-tools/README.md
  ops/scripts/ci-docker-tag-op-stack-release.sh
Labels: C-chore, A-op-challenger, A-kona

#15303 devnet-sdk/devstack: match stack components, with fast path for IDs
  devnet-sdk/devstack/devtest/testing.go
  devnet-sdk/devstack/example/example_test.go
  devnet-sdk/devstack/presets/interop.go
  devnet-sdk/devstack/shim/common.go
  devnet-sdk/devstack/shim/l1_network.go
  devnet-sdk/devstack/shim/l2_cl.go
  devnet-sdk/devstack/shim/l2_network.go
  devnet-sdk/devstack/shim/matcher.go
  devnet-sdk/devstack/shim/network.go
  devnet-sdk/devstack/shim/system.go
  devnet-sdk/devstack/stack/cluster.go
  devnet-sdk/devstack/stack/common.go
  devnet-sdk/devstack/stack/faucet.go
  devnet-sdk/devstack/stack/id.go
  devnet-sdk/devstack/stack/l1_cl.go
  devnet-sdk/devstack/stack/l1_el.go
  devnet-sdk/devstack/stack/l1_network.go
  devnet-sdk/devstack/stack/l2_batcher.go
  devnet-sdk/devstack/stack/l2_challenger.go
  devnet-sdk/devstack/stack/l2_cl.go
  devnet-sdk/devstack/stack/l2_el.go
  devnet-sdk/devstack/stack/l2_network.go
  devnet-sdk/devstack/stack/l2_proposer.go
  devnet-sdk/devstack/stack/match/core.go
  devnet-sdk/devstack/stack/match/doc.go
  devnet-sdk/devstack/stack/match/engine.go
  devnet-sdk/devstack/stack/match/first.go
  devnet-sdk/devstack/stack/match/interop.go
  devnet-sdk/devstack/stack/match/labels.go
  devnet-sdk/devstack/stack/match/util.go
  devnet-sdk/devstack/stack/match/util_test.go
  devnet-sdk/devstack/stack/matcher.go
  devnet-sdk/devstack/stack/network.go
  devnet-sdk/devstack/stack/superchain.go
  devnet-sdk/devstack/stack/supervisor.go
  devnet-sdk/devstack/stack/system.go
  devnet-sdk/devstack/stack/user.go
  devnet-sdk/devstack/sysext/l1.go
  devnet-sdk/devstack/sysext/l2.go
  devnet-sdk/devstack/sysgo/l1_nodes.go
  devnet-sdk/devstack/sysgo/l2_batcher.go
  devnet-sdk/devstack/sysgo/l2_cl.go
  devnet-sdk/devstack/sysgo/l2_el.go
  devnet-sdk/devstack/sysgo/l2_network.go
  devnet-sdk/devstack/sysgo/l2_proposer.go
  devnet-sdk/devstack/sysgo/system_test.go
Labels: A-devnet-sdk

#14932 feat(kurtosis-devnet): use contracts artifacts
  kurtosis-devnet/justfile
  kurtosis-devnet/pkg/build/contracts.go
  kurtosis-devnet/pkg/build/contracts_test.go
  kurtosis-devnet/pkg/build/docker.go
  kurtosis-devnet/pkg/build/docker_test.go
  kurtosis-devnet/pkg/deploy/template.go
  kurtosis-devnet/pkg/deploy/template_test.go
  kurtosis-devnet/pkg/kurtosis/api/enclave/enclave.go
  kurtosis-devnet/pkg/kurtosis/api/enclave/enclave_test.go
  kurtosis-devnet/pkg/kurtosis/api/fake/fake.go
  kurtosis-devnet/pkg/kurtosis/api/run/kurtosis_run.go
Labels: S-stale

#14736 Record data field in JSON RPC Error object
  op-service/client/rpc.go
  op-service/client/rpc_test.go
Labels: S-stale

#15407 devnet-sdk/devstack: test user/wallet/faucet/funder utils
  devnet-sdk/devstack/README.md
  devnet-sdk/devstack/dsl/el.go
  devnet-sdk/devstack/dsl/eoa.go
  devnet-sdk/devstack/dsl/faucet.go
  devnet-sdk/devstack/dsl/funder.go
  devnet-sdk/devstack/dsl/hd_wallet.go
  devnet-sdk/devstack/dsl/key.go
  devnet-sdk/devstack/dsl/l1_el.go
  devnet-sdk/devstack/dsl/l2_el.go
  devnet-sdk/devstack/example/example_test.go
  devnet-sdk/devstack/presets/interop.go
  devnet-sdk/devstack/shim/faucet.go
  devnet-sdk/devstack/shim/network.go
  devnet-sdk/devstack/shim/system.go
  devnet-sdk/devstack/shim/user.go
  devnet-sdk/devstack/stack/faucet.go
  devnet-sdk/devstack/stack/match/first.go
  devnet-sdk/devstack/stack/matcher.go
  devnet-sdk/devstack/stack/network.go
  devnet-sdk/devstack/stack/system.go
  devnet-sdk/devstack/stack/user.go
  devnet-sdk/devstack/sysext/helpers.go
  devnet-sdk/devstack/sysext/l1.go
  devnet-sdk/devstack/sysext/l2.go
  devnet-sdk/devstack/sysgo/deployer.go
  devnet-sdk/devstack/sysgo/faucet.go
  devnet-sdk/devstack/sysgo/orchestrator.go
  devnet-sdk/devstack/sysgo/system.go
Labels: A-devnet-sdk

#15469 devstack: devtest.T.Gate and match.Assume
  devnet-sdk/devstack/devtest/gate.go
  devnet-sdk/devstack/devtest/testing.go
  devnet-sdk/devstack/presets/interop.go
  devnet-sdk/devstack/stack/match/gate.go
  devnet-sdk/devstack/stack/match/gate_test.go
Labels: A-devnet-sdk

#14615 OPCM: ensure contract upgrade methods are called in opcm.upgrade
  .circleci/config.yml
  op-chain-ops/solc/types.go
  packages/contracts-bedrock/justfile
  packages/contracts-bedrock/scripts/checks/opcm-upgrade-checks/OPCMUpgradeChecksMocks.sol
  packages/contracts-bedrock/scripts/checks/opcm-upgrade-checks/main.go
  packages/contracts-bedrock/scripts/checks/opcm-upgrade-checks/main_test.go
Labels: S-stale

#15559 chore(op-node): Remove dead deposit source
  op-node/rollup/derive/deposit_source.go
  op-node/rollup/derive/deposit_source_test.go
Labels: C-chore, A-op-node, H-interop

#14604 op-test-sequencer: introduce standard builder/signer/committer/publisher
  op-e2e/actions/helpers/l2_verifier.go
  op-e2e/actions/sequencer/l2_sequencer_test.go
  op-node/flags/flags.go
  op-node/node/api.go
  op-node/node/config.go
  op-node/node/node.go
  op-node/rollup/async/asyncgossiper.go
  op-node/rollup/async/asyncgossiper_test.go
  op-node/rollup/driver/driver.go
  op-node/rollup/driver/state.go
  op-node/rollup/engine/api.go
  op-node/rollup/engine/engine_controller.go
  op-node/rollup/engine/events.go
  op-node/service.go
  op-service/README.md
  op-service/apis/opstack.go
  op-service/closer/closer.go
  op-service/closer/closer_test.go
  op-service/endpoint/rpc.go
  op-service/eth/types.go
  op-service/sources/l2_client.go
  op-service/sources/opstack_client.go
  op-service/testutils/fake_publish.go
  op-test-sequencer/sequencer/backend/work/builders/standardbuilder/builder.go
  op-test-sequencer/sequencer/backend/work/builders/standardbuilder/builder_test.go
  op-test-sequencer/sequencer/backend/work/builders/standardbuilder/config.go
  op-test-sequencer/sequencer/backend/work/builders/standardbuilder/job.go
  op-test-sequencer/sequencer/backend/work/committers/standardcommitter/committer.go
  op-test-sequencer/sequencer/backend/work/committers/standardcommitter/committer_test.go
  op-test-sequencer/sequencer/backend/work/committers/standardcommitter/config.go
  op-test-sequencer/sequencer/backend/work/committers/standardcommitter/config_test.go
  op-test-sequencer/sequencer/backend/work/config/builder.go
  op-test-sequencer/sequencer/backend/work/config/committer.go
  op-test-sequencer/sequencer/backend/work/config/publisher.go
  op-test-sequencer/sequencer/backend/work/config/signer.go
  op-test-sequencer/sequencer/backend/work/iface.go
  op-test-sequencer/sequencer/backend/work/publishers/standardpublisher/config.go
  op-test-sequencer/sequencer/backend/work/publishers/standardpublisher/config_test.go
  op-test-sequencer/sequencer/backend/work/publishers/standardpublisher/publisher.go
  op-test-sequencer/sequencer/backend/work/publishers/standardpublisher/publisher_test.go
  op-test-sequencer/sequencer/backend/work/sequencers/fullseq/sequencer_test.go
  op-test-sequencer/sequencer/backend/work/signers/localkey/config.go
  op-test-sequencer/sequencer/backend/work/signers/localkey/config_test.go
  op-test-sequencer/sequencer/backend/work/signers/localkey/signer.go
  op-test-sequencer/sequencer/backend/work/signers/localkey/signer_test.go
  op-test-sequencer/sequencer/backend/work/signers/noopsigner/signer.go
  op-test-sequencer/sequencer/backend/work/signers/noopsigner/signer_test.go
Labels: H-interop, A-op-test-sequencer

#15590 fix: Revert optimism-package
  kurtosis-devnet/optimism-package-trampoline/kurtosis.yml
Labels: A-devnet-sdk, A-kt-devnet

#15617 chore: Bump `kona` version
  docker-bake.hcl
  kurtosis-devnet/justfile
  ops/docker/op-stack-go/Dockerfile
Labels: C-chore, A-op-challenger, A-kona

#14606 Use uint64 for Page valid bitlist + Reuse hasher and buffers
  cannon/mipsevm/memory/binary_tree.go
  cannon/mipsevm/memory/hasher.go
  cannon/mipsevm/memory/memory.go
  cannon/mipsevm/memory/page.go
Labels: S-exempt-stale
