Repository ethereum-optimism/optimism, pull requests merged in 2025-06, with the labels that each got.

#16221 devtest: use consistent logging, handle all test exit funcs
  op-devstack/devtest/common.go
  op-devstack/devtest/package.go
  op-devstack/devtest/testing.go
  op-devstack/presets/orchestrator.go
  op-devstack/sysgo/control_plane_test.go
  op-devstack/sysgo/system_test.go
Labels: A-devstack

#16432 chore: Update devnet SDK with support for multiple sequencers in kurtosis
  devnet-sdk/shell/env/testdata/kurtosis/args--simple.yaml
  kurtosis-devnet/flash.yaml
  kurtosis-devnet/interop.yaml
  kurtosis-devnet/isthmus.yaml
  kurtosis-devnet/optimism-package-trampoline/kurtosis.yml
  kurtosis-devnet/pectra.yaml
  kurtosis-devnet/pkg/kurtosis/endpoints.go
  kurtosis-devnet/pkg/kurtosis/sources/spec/spec.go
  kurtosis-devnet/pkg/kurtosis/sources/spec/spec_test.go
  kurtosis-devnet/simple.yaml
  kurtosis-devnet/templates/devnet.yaml
  kurtosis-devnet/templates/l2.yaml
  kurtosis-devnet/templates/local-op-node.yaml
  op-devstack/sysext/l2.go
Labels: A-kt-devnet

#16457 op-interop-mon: Refactor Metric Collection and Emission
  op-interop-mon/metrics/metrics.go
  op-interop-mon/metrics/noop.go
  op-interop-mon/monitor/job.go
  op-interop-mon/monitor/metric_collector.go
  op-interop-mon/monitor/metric_collector_test.go
  op-interop-mon/monitor/updater.go
Labels: A-op-interop-mon

#16494 fix[op-interop-mon]: jobs have correct executing chain ID
  op-interop-mon/monitor/finder.go
  op-interop-mon/monitor/finder_test.go
  op-interop-mon/monitor/job.go
  op-interop-mon/monitor/job_test.go
Labels: C-bug, H-interop, A-op-interop-mon

#16549 feat(op-acceptance-tests): support both op-devstack orchestrators
  .circleci/config.yml
  mise.toml
  op-acceptance-tests/README.md
  op-acceptance-tests/cmd/main.go
  op-acceptance-tests/justfile
Labels: M-do-not-merge, A-acceptance-tests
